@import '~core/cart_data';
@import 'gwp_data';
@import 'cart_data-off5th';
@import '../components/avenue-sprite';

.cart-page-content {
  margin-top: 28px;
  padding: 0 21px 43px 20px;

  .pdt-cntr {
    &:not(.empty) {
      min-height: 1250px;

      @include media-breakpoint-down(md) {
        min-height: 1100px;
      }

      @media #{$sm-ls} {
        min-height: unset;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 7px;
    padding: 0;

    .pdt-cntr {
      padding: 0 20px;
    }
  }
  .cart-cart-items-section {
      position: relative;
      width: calc(64% - 8px);

      @include media-breakpoint-down(sm) {
        width: calc(63% - 6px);
      }

      @media #{$sm-ls} {
        min-height: 380px;
        width: 100%;
      }


    .spinner {
      margin-left: 0;
      margin-top: 0;
      top: 10%;
      transform: translate(-50%);
      &::before {
        width: 40px;
        height: 40px;
      }
    }
  }
  .cart-wrapper {
    .cart-recommendation-rv {
      .wrapper-content {
        @include media-breakpoint-down(xs) {
          padding-bottom: 0;
        }

        .recommendation-products {
          @include media-breakpoint-down(xs) {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .slider-heading {
    font-family: $Moneta-regular;
    font-size: 28px;
    position: relative;
    width: 100%;
    margin-bottom: 36px;
    padding: 0;
    border: none;

    &.wishlist-cart-heading {
      margin: 0 0 36px;
      text-transform: capitalize;
      font-family: $Moneta-regular;
      letter-spacing: 1.2px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
      font-size: 26px;
      letter-spacing: 1px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: $avenue-secondary-variant-7;
      position: absolute;
      left: 0;
      top: 50%;
    }

    a,
    span {
      position: relative;
      z-index: 5;
      background-color: #fff;
      padding: 0 20px;
      line-height: 33px;
      letter-spacing: 1.2px;

      &:hover {
        text-decoration: none;
      }
    }

    .heart-icon {
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      padding: 0;
      line-height: 0;
      letter-spacing: 0;
    }
  }

  .cart-wrapper {
    .product-line-item {
      width: calc(64% - 8px);
      padding-top: 22px;
      margin-bottom: 38px;

      @include media-breakpoint-down(md) {
        width: calc(63% - 6px);
        padding-top: 18px;
        margin-bottom: 41px;
      }

      @media #{$sm-ls} {
        width: 100%;
        margin-bottom: 15px;
      }

      &.empty {
        padding-top: 17px;
        border: none;
        width: 100%;

        .cart-empty {
          .shop-btn {
            .btn-info {
              max-width: 250px;
            }
          }

          .sign-in-btn {
            margin-bottom: 90px;

            @media #{$belowtab} {
              margin-bottom: 36px;
            }

            .acc-chk {
              margin-bottom: 18px;
              letter-spacing: 0.25px;
            }

            .signin {
              max-width: 250px;
            }
          }
        }

        .empty-msg {
          padding: 0 0 30px;

          span {
            font-family: $Moneta-regular;
            font-size: 28px;
            letter-spacing: 1.2px;
            line-height: 32px;

            @include media-breakpoint-down(md) {
              font-size: 26px;
              letter-spacing: 1px;
            }
          }
        }
      }

      .cart-page {
        .product-info {
          border-top: 1px solid $avenue-secondary-variant-7;
          border-bottom: 0 none;
          padding: 24px 0 0px;

          &.bonus-product-line-item {
            padding-top: 14px;

            &:nth-of-type(1) {
              padding-top: 24px;
            }

            .item-image {
              margin-bottom: 9px;
            }
          }

          .cannot-shipping-message {
            margin: 0;
          }

          .product-info {
            border-color: $avenue-secondary-variant-7;
          }

          .cannot-ship-error {
            clear: both;
            margin: 0 0 18px;
            background: $avenue-contextual-variant-15;
            padding: 10px 15px;
            text-align: center;
            border: solid 1px $avenue-contextual-variant-12;
            color: $avenue-primary-base-2;
            line-height: 18px;
            letter-spacing: 0.25px;
            border-radius: 2px;
          }

          .cart-description {
            .cart-pdt-details {
              @include media-breakpoint-down(md) {
                .hidden-md-down {
                  display: none !important;
                }
              }
              .item-image {
                margin-right: 13px;
                width: calc(19% - 6px);
                max-height: 148px;

                @media #{$sm-ls} {
                  width: calc(35% - 6px);
                }

                .product-image {
                  max-height: 148px;
                }
              }

              .pdt-selected {
                width: calc(78% - 3px);

                @media #{$sm-ls} {
                  width: calc(60.9% - 0px);
                }

                .selected-variant {
                  margin-bottom: 3px;
                  font-size: 0;
                }

                .pdt-data {
                  padding-right: 4%;
                  margin: 0 0 17px;

                  @media #{$sm-ls} {
                    margin-bottom: 18px;
                  }

                  .brand-name,
                  .line-item-header {
                    margin-bottom: 3px;
                  }

                  @include media-breakpoint-down(md) {
                    padding-right: 0;
                  }
                }

                .total-price {
                  color: $avenue-primary-base-2;
                  line-height: 2.1;
                  min-height: 132px;
                  padding: 0;

                  @include media-breakpoint-down(md) {
                    min-height: auto;
                  }

                  .final-cst {
                    font-family: $aven-trade-gothic-next-bold;

                    .cost-calc {
                      width: 100%;
                      font-family: $aven-trade-gothic-next-bold;
                      letter-spacing: 0.25px;

                      &.promo-applied {
                        font-family: $base-fontFamily;

                        .promo-msg {
                          font-family: $base-fontFamily;
                          font-size: $base-fontSize - 2px;
                          color: $black;
                        }

                        .grd-tal {
                          font-family: $aven-trade-gothic-next-bold;
                          margin-top: 5px;
                        }
                      }
                    }
                  }
                }

                .item-attributes {
                  letter-spacing: 0.25px;

                  div[name='sr_cartProductDiv'] {
                    margin: 13px 0 17px;
                  }

                  .remove-line-item {
                    .remove-product {
                      line-height: 0;

                      @include media-breakpoint-down(md) {
                        width: 18px;
                      }

                      @media #{$sm-ls} {
                        width: 22px;
                      }

                      span {
                        font-family: $Moneta-black;
                        line-height: 0.33;
                        font-size: $base-fontSize + 36;
                        color: $avenue-primary-base-2;
                        transform: scale(0.49);
                        &:after {
                          @include media-breakpoint-down(xs) {
                            content: "";
                            position: absolute;
                            width: 90px;
                            height: 90px;
                            transform: translate(-50%, -50%);
                            top: 50%;
                          }
                        }
                      }
                    }
                  }

                  &.product-edit-move-wrap {
                    @include media-breakpoint-down(md) {
                      &.text-right {
                        text-align: left !important;
                      }
                    }
                  }

                  .item-preorder {
                    font-family: $base-fontFamily;
                    font-size: $base-fontSize - 2;
                    line-height: 18px;

                    .pre-order-msg,
                    .pre-order-ship-date {
                      margin-bottom: 3px;

                      label {
                        margin: 0;
                      }
                    }

                    .pre-order-ship-text {
                      font-family: $aven-trade-gothic-next-bold;
                    }
                  }

                  .product-edit {
                    margin: 0;

                    @include media-breakpoint-down(md) {
                      margin-top: 12px;
                    }

                    a {
                      color: $avenue-primary-base-2;
                      margin-right: 16px;
                      text-decoration: none;
                      border-bottom: solid 1px $avenue-primary-base-2;

                      @include media-breakpoint-down(md) {
                        margin-right: 8px;
                      }

                      @media #{$sm-ls} {
                        &.waitlist-link {
                          margin-bottom: 14px;
                        }
                      }

                      &:hover {
                        border: none;
                      }

                      &:last-child {
                        margin-right: 0;
                      }
                    }
                  }

                  .srd_msg {
                    font-family: $aven-trade-gothic-next-bold !important;
                    text-transform: uppercase;
                    line-height: 1.5;
                    letter-spacing: normal;
                  }

                  a {
                    line-height: 18px;

                    .line-item-name {
                      color: $avenue-primary-base-2;
                      line-height: 18px;
                    }
                  }

                  .line-item-attributes,
                  .line-item-total-price-amount,
                  .strike-through,
                  .limited-inventory {
                    color: $avenue-primary-base-2;
                    line-height: 18px;

                    .line-label {
                      margin-bottom: 0;
                    }
                  }

                  .cartlineitem-price {
                    .csc-price-override {
                      padding-left: 2px;
                    }

                    .sold-out {
                      color: $avenue-contextual-variant-3;
                      letter-spacing: 0.25px;
                      line-height: 18px;
                      margin: 0px 0 3px;
                    }

                    .prod-price {
                      .price {
                        margin-bottom: 3px;
                        color: $avenue-primary-base-2;

                        .value {
                          color: $avenue-primary-base-2;
                          line-height: 18px;
                        }
                      }
                    }
                  }
                }

                .quantity-form {
                  margin: 5px 0 0;

                  @include media-breakpoint-down(md) {
                    margin: 0px 0 13px;
                  }

                  .qty-error-message {
                    div {
                      font-family: $base-fontFamily;
                      margin: 10px 0;
                    }
                  }

                  .quantity-field {
                    .quantity-val {
                      font-family: $aven-trade-gothic-next-bold;
                    }

                    button {
                      font-family: $base-fontFamily;

                      .plus {
                        transform: scale(0.504);
                      }

                      .minus {
                        transform: scale(0.83);
                      }
                    }
                  }
                }
              }

              .bopis-cntr {
                width: calc(80% - 3px);
                padding-bottom: 12px;

                @media #{$sm-ls} {
                  width: 61.9%;
                  padding: 0;
                }

                .custom-control {
                  .bopis-radio {
                    width: 100%;

                    &.ship {
                      width: 100%;

                      @include media-breakpoint-down(md) {
                        .custom-control-label {
                          display: flex;

                          span {
                            padding-left: 8px;

                            &.server-msg {
                              font-size: $base-fontSize - 2;

                              .sdd-bold-msg {
                                font-size: $base-fontSize - 2;
                              }
                            }
                          }
                        }
                      }

                      @include media-breakpoint-down(xs) {
                        .custom-control-label {
                          span {
                            max-width: 190px;
                          }
                        }
                      }
                    }

                    &.store {
                      @include media-breakpoint-down(md) {
                        .custom-control-label {
                          span {
                            padding-left: 5px;
                          }
                        }
                      }
                    }

                    .custom-control-label {
                      margin-bottom: 7px;

                      .change-store {
                        padding-left: 8px;
                      }

                      span {
                        font-size: $base-fontSize;
                        letter-spacing: 0.25px;
                        line-height: 20px;

                        &.server-msg,
                        &.sdd-bold-msg {
                          padding-left: 0px;
                        }

                        &.sdd-bold-msg {
                          @include media-breakpoint-down(xs) {
                            letter-spacing: 0;
                          }
                        }
                      }

                      .store-change-link {
                        .change-store {
                          padding-left: 0;
                          text-transform: capitalize;
                          font-size: $base-fontSize;
                        }
                      }
                    }
                  }
                }

                .bopis-content {
                  width: 100%;
                  border-color: $avenue-secondary-variant-7;
                  padding-top: 16px;

                  @media #{$sm-ls} {
                    padding: 16px 0 18px;
                  }
                }
              }
            }
          }

          .hidden-md-down {
            @include media-breakpoint-down(md) {
              display: inline-block !important;
              button.remove-product{
                position: relative;
                right: 4px;
              }
            }
            .remove-btn-lg {
              width: 18px;

              span {
                font-family: $Moneta-black;
                line-height: 0.4;
                font-size: $base-fontSize + 36;
                color: $avenue-primary-base-2;
                transform: scale(0.49);
              }
            }
          }
        }

        .items-available-now {
          font-family: $base-fontFamily;
          font-size: $base-fontSize;
          line-height: 18px;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          margin-bottom: 15px;
          padding-left: 1px;

          &.pre-order-heading {
            margin-top: 27px;

            @include media-breakpoint-down(md) {
              margin-top: 18px;
            }
          }
        }

        .product-info {
          &:first-of-type {
            padding-top: 0;
            border-top: 0 none;
          }
        }

        .pre-order-wrap {
          padding-bottom: 4px;

          @media #{$sm-ls} {
            padding-bottom: 10px;
          }

          .product-info {
            &:last-of-type {
              border-bottom: none;
            }
          }
        }
      }
    }

    .cart-summary-section {
      width: calc(34% - 17px);
      margin-left: 4%;

      @include media-breakpoint-down(md) {
        width: calc(37% - 6px);
        margin-left: 1.2%;
      }

      @media #{$sm-ls} {
        width: 100%;
        margin: 5px 0 0;
      }

      .order-summary-details {
        position: relative;
        min-height: 180px;
        .spinner {
          margin-left: 0;
          margin-top: 0;
          transform: translate(-50%,-50%);
          &::before {
            height: 40px;
            width: 40px;
          }
        }
      }
      .order-sumary-chekbtn {
        margin-bottom: 27px;

        @media #{$sm-ls} {
          margin: 0;
          z-index: 12;
          padding: 18px 20px;
          border-top: solid 1px $avenue-secondary-variant-7;
        }

        .checkout-continue {
          @media #{$sm-ls} {
            box-shadow: none;
          }
        }
      }

      .checkout-options {
        padding-top: 30px;

        @media #{$sm-ls} {
          margin: 0;
          padding-top: 25px;
        }

        .chkout-optn-text {
          letter-spacing: 1.25px;
          max-width: 150px;
          top: -8px;

          @media #{$sm-ls} {
            letter-spacing: 0.25px;
          }
        }

        .chkout-btn-img {
          margin-bottom: 18px;
          width: 49%;

          #srd_xc_acc {
            height: 44px;
            width: 100%;
            border: 1px solid $avenue-contextual-variant-18;
          }
          div[name='sr_expressCheckoutCartDiv'] {
            height: 45px;
          }
        }

        .other-cards {
          clear: both;
          border: solid 1px $avenue-secondary-variant-1;
          height: 45px;
          text-align: center;
          padding: 14px 20px 10px;
          border-radius: 2px;
        }

        .paypal-cart-buttons-container {
          position:relative;
          .paypal-cart-button {
            position:relative;
            z-index:0;
            .paypal-button {
              height: 18px;
              border-radius: 2px;

              &.paypal-button-shape-rect {
              }
            }
            &__disabled {
              display:block;
              z-index:2;
              background:rgba(255,255,255,.8);
              width:100%;
              height:100%;
              position:absolute;
              cursor:not-allowed;
            }
          }
        }
        .MP-wrap {
          &.SR-MP-both {
            .masterpass-cart-buttons-container {
              width: 100%;
            }
          }
        }
      }

      .promo-container {
        .promo-form-group {
          @media #{$sm-ls} {
            border: solid 1px $avenue-secondary-variant-6;
          }

          .promo-click {
            padding: 10px 15px 11px;
            font-family: $aven-trade-gothic-next-bold;
            letter-spacing: 0.25px;
            font-size: 14px;

            &.open-state {
              padding-bottom: 0;
            }

            .acc-icon {
              transform: scale(0.63);

              &.plus {
                position: absolute;
                right: 10px;
              }

              &.minus {
                top: 20px;
                right: 12px;
              }
            }
          }

          .promo-detail-section {
            .promo-apply {
              margin-top: 20px;

              .promo-code-submit {
                margin-left: 15px;
              }

              .promo-input {
                .promo-code-entry {
                  input {
                    color: $avenue-primary-base-2;
                    border-radius: 2px;
                  }

                  .invalid {
                    @extend .svg-23-avenue-warning;
                    height: 22px;
                  }

                  .coupon-error-message {
                    color: $avenue-contextual-variant-3;
                  }
                }

                .non-input-label {
                  &.is-invalid {
                    .attr-name {
                      color: $avenue-primary-base-2;
                    }
                  }
                }
              }
            }

            .coupon-error {
              margin-left: 15px;
              margin-right: 15px;
            }

            .coupons-and-promos {
              .coupon-price-adjustment {
                padding: 10px 0 0;
                letter-spacing: 0.25px;

                .remove-coupon {
                  width: auto;
                  padding: 0;

                  span {
                    font-family: $base-fontFamily;
                    line-height: 0.7;
                    display: inline-block;
                    height: 12px;
                    width: 20px;
                  }
                }

                .promo-segment {
                  .coupon-code {
                    color: $avenue-primary-base-2;
                    padding-top: 2px;

                    .coupon-text {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .order-summary-details {
        padding: 15px;
        letter-spacing: 0.25px;

        @media #{$sm-ls} {
          border: solid 1px $avenue-secondary-variant-6;
          margin-top: 18px;
        }

        .summary-title-text {
          font-family: $aven-trade-gothic-next-bold;
          color: $avenue-primary-base-2;
          font-size: $base-fontSize;
          text-transform: uppercase;
          padding: 0;
          margin-bottom: 8px;

          @media #{$sm-ls} {
            margin-bottom: 9px;
            border-bottom: none;
          }
        }

        .cart-summary-details {
          .associate-fdd-promo {
            margin: 18px 0 3px;
          }

          .cart-info-sec {
            &.estm-ttl {
              border-color: $avenue-secondary-variant-7;
              padding-top: 10px;
              margin-top: 17px;

              @media #{$sm-ls} {
                padding-top: 13px;
                margin-top: 17px;
              }

              .info-name,
              .info-value {
                span {
                  font-family: $aven-trade-gothic-next-bold;

                  @include media-breakpoint-down(md) {
                    font-size: $base-fontSize;
                    letter-spacing: 0.25px;
                  }
                }
              }
            }

            .info-name,
            .info-value {
              span {
                @media #{$sm-ls} {
                  font-size: $base-fontSize - 2;
                }
              }
            }

            .info-value {
              span {
                color: $avenue-primary-base-2;
              }
            }

            .info-name {
              span.total-savings {
                color: $avenue-contextual-variant-3;
                font-family: $aven-trade-gothic-next-bold;
              }
            }

            &.order-discount {
              color: $black;

              .order-discount-total {
                color: $black;
              }
            }

            &.estm-saved {
              display: none;

              .info-name {
                border-color: $avenue-secondary-variant-7;
                margin-top: 10px;

                @media #{$sm-ls} {
                  margin: 15px 0 3px;
                }

                @include media-breakpoint-down(md) {
                  span {
                    font-size: $base-fontSize - 2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .shopping-bag-count {
    width: calc(64% - 8px);
    padding-bottom: 3px;

    @include media-breakpoint-down(md) {
      padding: 30px 0 10px 20px;
      width: calc(63% - 11px);
    }

    @media #{$sm-ls} {
      padding: 20px 20px 4px;
      width: 100%;

      .cart-header {
        flex: 0 0 42%;
        max-width: 42%;
        padding-right: 0;
      }
    }

    .number-of-items {
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0.25px;
      line-height: 30px;

      @include media-breakpoint-down(md) {
        font-size: $base-fontSize + 2;
      }
    }

    .sdd-ship-postal-link {
      font-family: $base-fontFamily;
      letter-spacing: 0.25px;
      line-height: 18px;
      font-size: $base-fontSize - 2;
      text-align: right;

      @media #{$sm-ls} {
        flex: 0 0 58%;
        max-width: 58%;
        padding-left: 0;
      }

      a {
        text-decoration: none;
        border-bottom: solid 1px $avenue-secondary-variant-1;

        &:hover {
          border-bottom: none;
        }
      }

      .ship-to-icon {
        transform: scale(0.68);
      }

      .ship-to-container,
      .store-change-link-sdd,
      .ship-to-icon {
        display: inline-block;
        vertical-align: middle;
        padding-top: 5px;
      }
    }
  }
}

.cart-plis {
  .brand-name {
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 0.25px;
    color: $avenue-primary-base-2;
  }
}

body {
  ._SRD {
    &._SR {
      .srd_iconline {
        margin: 0;
        float: none;

        .srd_logo {
          padding-right: 3px;
        }
      }
    }

    .srd_a_wrap {
      padding-left: 3px;
    }
  }
}

.shop-runner-section {
  padding-top: 33px;

  @include media-breakpoint-down(md) {
    padding-top: 26px;
  }

  div[name='sr_cartProductDiv'] {
    margin: 13px 0 17px;

    @include media-breakpoint-down(md) {
      margin-bottom: 12px;
    }
  }
}

.wrapper-content {
  padding-bottom: 42px;
}

.wishlist-cart {
  clear: both;
  padding-bottom: 0;

  .touchscreen-slider-dots {
    display: none;
  }
}

.valid-cart-error {
  min-height: auto;
  clear: both;
  background: none;
  border: 0;
  text-align: left;
  padding: 10px 0 0;
  margin: 0;
  color: $avenue-contextual-variant-3;
  font-family: $base-fontFamily;
}

.cart-error-messaging {
  &.cart-error {
    width: calc(100% - 8px);
    margin:0 auto;
    .cart-merge-message {
      margin-top: 0;
      margin-bottom: 11px;

      &::before {
        display: none;
      }

      .cart-merge-text {
        vertical-align: unset;
        line-height: 18px;
        display: inline-block;
      }
    }

    .alert-danger {
      color: $avenue-primary-base-2;
      min-height: initial;
      border-radius: 2px;

      .close {
        color: $avenue-primary-base-2;
        padding: 10px;
        padding-top:0px;
        font-size: $base-fontSize + 4;
        text-indent: -999rem;
      }
    }
  }
}

body ._SRD._SR .srd_a_wrap a:hover {
  text-decoration: none !important;
}

.cart-page {
  .site-search {
    height: auto;
  }
}

.coupon-promotion-relationship {
  margin: 15px 0 0;
}

//saksfirst order summary
.cart-summary-section {
  .saksfirst-reward-points {
    font-family: $base-fontFamily;
    font-size: 12px;
    letter-spacing: 0.25px;
    line-height: 18px;
    padding-top: 12px;
    border-top: 1px solid $avenue-secondary-variant-7;
    margin-top: 14px;
    display: block;

    .saksfirst-text {
      width: calc(62% - 3px);
      display: inline-block;
    }

    .saksfirst-point {
      font-family: $aven-trade-gothic-next-bold;
      width: calc(38% - 3px);
      display: inline-block;
    }
  }
}
