//Styles for Edit Modal
#editProductModal,
#chooseBonusProductModal {
  .modal-dialog {
    &.quick-view-dialog {
      max-width: 324px;

      @include media-breakpoint-down(xs) {
        max-width: 85%;
      }

      .modal-content {
        border-radius: 0;
        .modal-header {
          margin: 15px 0 0 0;
          background: none;

          @include media-breakpoint-down(xs) {
            margin-top: 26px;
          }

          button {
            z-index: 1;
            bottom: auto;
            top: 40%;

            .cancel-icon {
              transform: scale(0.55, 0.571);
              &::after {
                @include media-breakpoint-down(md) {
                  content: "";
                  position: absolute;
                  width: 80px;
                  height: 77px;
                  transform: translate(-50%, -50%);
                  top: 50%;
                }
              }
            }
          }
        }

        .modal-body {
          @include media-breakpoint-down(md) {
            .row.cart-and-ipay,
            .waitlist-button {
              position: static;
              border-top: 1px solid $avenue-secondary-variant-7;
              margin-top: 25px;
            }
            .row.cart-and-ipay {
              padding-top: 25px;
            }
            .waitlist-button {
              padding: 10px 0 0;
              margin-top: 0;
            }
          }

          .hide-edit-cart {
            display: none;
          }

          .cart-and-ipay {
            border-top: 1px solid $secondary-Variant-7;
          }

          .waitlist-from {
            border-top: 1px solid $avenue-secondary-variant-7;
            padding: 13px 0;
            margin: 0;
            width: 100%;

            .soldout-msg {
              color: $avenue-primary-base-2;
              letter-spacing: 0.25px;
              line-height: 18px;
              padding-bottom: 12px;
              text-align: left;
            }

            .js-mobile-opt-msg {
              font-size: 10px;
              letter-spacing: 0;
              line-height: 18px;
              color: $avenue-primary-base-2;

              a {
                font-family: $base-fontFamily;
                text-decoration: none;
                border-bottom: 1px solid $avenue-primary-base-2;
              }
            }
          }

          .product-quickview {
            .primary-images-container {
              &.col-md-7 {
                .primary-image-img {
                  margin-bottom: 0;
                  max-width: 256px;
                }

                .slick-next {
                  right: 0;
                }
              }
            }

            .quickview_container {
              padding-bottom: 36px;

              @include media-breakpoint-down(xs) {
                padding-bottom: 0;
              }

              .brand-segment,
              .product-segment {
                padding: 0 20px;
              }

              @include media-breakpoint-down(xs) {
                .primary-images-container {
                  .primary-images-wrapper {
                    min-height: unset;
                  }
                }
              }
            }

            .pdt-name-edit {
              font-family: $Moneta-regular;
              font-size: 28px;
              letter-spacing: 1.2px;
              line-height: 32px;
              text-align: center;
              margin-bottom: 6px;
            }

            .product-name {
              color: $avenue-primary-base-2;
              font-family: $base-fontFamily;
              font-size: $base-fontSize;
              letter-spacing: 0.25px;
              line-height: 20px;
              text-align: center;
              margin-bottom: 35px;
            }

            .price-segment {
              padding: 14px 14px 14px 20px;
              border-top: 1px solid $avenue-secondary-variant-7;
              border-bottom: 1px solid $avenue-secondary-variant-7;
              margin-bottom: 15px;
              margin-left: -20px;
              margin-right: -20px;

              .price-value-section {
                .prices {
                  padding: 0;
                  border-top: 0;

                  .price {
                    line-height: 0;
                  }

                  .sales {
                    .value {
                      font-weight: bold;
                      letter-spacing: 0.25px;
                      line-height: 20px;
                    }
                  }
                }
              }
            }

            .quickview-productdetails {
              max-width: 100%;

              .promotions {
                margin-bottom: 0;
              }

              .detail-panel {
                .attributes {
                  .row[data-attr='color'] {
                    margin-bottom: 0;

                    .attribute {
                      margin-bottom: 18px !important;

                      .color-wrapper {
                        li {
                          margin-top: 14px;
                        }
                      }
                    }
                  }

                  .row[data-attr='size'] {
                    margin-top: 0;
                  }

                  .non-input-label {
                    .attr-name {
                      letter-spacing: 1.25px;
                      line-height: 18px;
                      font-size: $base-fontSize;
                      text-transform: capitalize;

                      .color-value {
                        font-family: $aven-trade-gothic-next-bold;
                        letter-spacing: 0.25px;
                        line-height: 20px;
                        margin-left: 6px;
                      }

                      .attribute-displayName {
                        text-transform: uppercase;
                      }
                    }

                    &.color {
                      .attr-name {
                        margin-bottom: 0;
                      }
                    }
                  }

                  .custom-select.custom-color-dropdown {
                    ul.selection-list.ps--active-y {
                      padding: 0;

                      .ps__thumb-y {
                        right: 0;
                        width: 3px;
                        background-color: $avenue-secondary-variant-6;
                      }
                    }
                  }

                  .swatch {
                    .attribute {
                      .color-attribute {
                        &.selected {
                          border: 0;
                        }
                      }
                    }
                  }

                  > .row {
                    .attribute {
                      .swatch-circle.swatch-box {
                        width: 35px;
                        height: 35px;
                      }
                    }

                    > [class*='col-'] .tfc-fitrec-product {
                      margin: 0;
                    }
                  }

                  .size-attribute {
                    grid-template-columns: repeat(3, auto) !important;
                    margin-bottom: 23px;

                    li {
                      margin: 0;
                      height: 38px;

                      &[selected] {
                        box-shadow: 0 0 0 2px $avenue-primary-base-2;
                      }
                    }
                  }

                  .view-product-information {
                    margin-bottom: 27px;

                    .view-full-product-info {
                      border-bottom: 1px solid $avenue-primary-base-2;
                      text-decoration: none;
                      letter-spacing: 0;
                      line-height: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      transform: translate3d(100%, 0, 0);
    }
  }

  &.show {
    .modal-dialog {
      &.quick-view-dialog {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .product-detail {
    .s7-viewer-video {
      padding-top: 0;
    }
  }
}
#editProductModal {
  .modal-dialog {
    &.quick-view-dialog {
      .modal-content {
        .modal-body {
          .product-quickview {
            padding-bottom: 93px;

            @include media-breakpoint-down(xs) {
              padding-bottom: 104px;
            }

            @media screen and (min-width: 1920px) {
              padding-bottom: 80px;
            }

            .quickview_container {
              padding-bottom: 0;
            }
            .cart-and-ipay, .waitlist-button {
              @include media-breakpoint-down(lg) {
                position: fixed;
                margin: 0;
                padding: 13px;
              }
            }
          }
        }
      }
    }
  }
}
//stylings for sign up flyout
.cart-page-content {
  .signInModal {
    .modal-dialog {
      max-width: 337px;

      .modal-content {
        display: flex;
        flex-direction: column;

        .modal-body {
          padding: 18px 20px;
          margin: auto 0;
          position: static;
        }

        .cancel-icon {
          position: absolute;
          top: 20px;
          right: 20px;
          .close {
            &::after {
              @include media-breakpoint-down(md) {
                content: "";
                position: absolute;
                width: 59px;
                height: 59px;
                transform: translate(-50%, -50%);
                top: 50%;
              }
            }
          }
        }

        .saksplus-msg {
          display: inline-block;
          padding: 0 15px;
          text-align: center;
          font-family: $base-fontFamily;
          font-size: 14px;
          letter-spacing: 0.25px;
          line-height: 20px;
        }

        .sign-up-flyout {
          .card {
            .card-header {
              .card-header-custom {
                font-family: $Moneta-regular;
                font-size: 28px;
                letter-spacing: 1.2px;
                line-height: 32px;
                padding-bottom: 18px;
              }
            }

            .main-content {
              .rmber-frgt {
                margin-bottom: 27px;

                .remember-me {
                  color: $avenue-primary-base-2;
                  letter-spacing: 0.25px;
                  line-height: 20px;

                  .custom-control-label {
                    padding-top: 2px;
                  }
                }

                .forgot-password {
                  padding-top: 4px;

                  a.reset-password {
                    font-size: $base-fontSize - 2;
                    letter-spacing: 0.25px;
                    line-height: 18px;
                  }
                }
              }

              .sign-up-btn {
                margin: 0 0 31px;
              }

              .pwd {
                margin-bottom: 15px;
              }
              .show-pwd {
                position: absolute;
                top: 15px;
                right: 31px;
                font-size: $base-fontSize - 2;
                line-height: 1.21;
                cursor: pointer;
                color: $avenue-secondary-variant-1;
                margin-right: 5px;
              }
            }

            .chkt-cond {
              border-top: 1px solid $avenue-secondary-variant-6;

              span {
                letter-spacing: 1.25px;
                line-height: 15px;
                font-family: $base-fontFamily;
              }

              .gst-btn {
                padding: 27px 0 0;

                a {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}


//Styles for inStore Inventory Modal

.modal-dialog {
  &.in-store-inventory-dialog {
    @include media-breakpoint-down(md) {
      max-width: 320px;
    }

    .modal-header {
      //background: $avenue-secondary-variant-8;
      background: $avenue-primary-base-1;
      border: 0;
      padding: 7px 14px 8px 10px;
      .close {
        transform: scale(0.55, 0.571);

        @extend .svg-36-avenue-Up_Copy;
        @extend .svg-36-avenue-Up_Copy-dims;

        &::after {
          @include media-breakpoint-down(md) {
            content: "";
            position: absolute;
            width: 80px;
            height: 77px;
            transform: translate(-50%, -50%);
            top: 50%;
        }
      }
      }
    }

    .store-locator-container {
      .search-form {
        width: 100%;
      }

      .store-locator-search {
        margin: 0 0 18px;
      }
    }

    .change-a-store {
      padding: 29px 0 10px;
      font-family: $aven-trade-gothic-next-bold;
      font-size: $base-fontSize + 2;
      letter-spacing: 0.4px;
    }
  }
}

// styles for Override Line Price flyout//
.override-line-price-dialog {
  top: auto;

  @include media-breakpoint-down(xs) {
    margin: 0.5rem auto;
    padding: 0 8px;
  }

  .modal-header {
    .modal-title {
      font-family: $Moneta-regular;
      font-size: 28px;
      letter-spacing: 1.2px;

      @include media-breakpoint-down(md) {
        font-size: 26px;
        letter-spacing: 1px;
      }
    }
  }

  .modal-body {
    padding: 0 20px;

    .form-group {
      select {
        background-position-x: 95%;
      }
    }

    textarea {
      padding-top: 0.7rem;
    }

    .floating-label {
      label {
        color: $avenue-secondary-variant-1;
        left: 10px;
        font-family: $base-fontFamily;

        &.input-focus {
          color: $avenue-secondary-variant-3;
        }

        &.is-invalid {
          color: $avenue-secondary-variant-3;
        }

        &.current-price {
          &.input-focus {
            padding: 0 5px;
            top: -3px;
          }
        }
      }
    }
  }

  .modal-footer {
    padding: 0 20px 26px;

    .btn-block {
      font-family: $base-fontFamily;
      padding: 13px 0;
    }
  }
}
