.cart-page-content {
  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }

  @media #{$sm-ls} {
    padding: 0;
  }

  .shopping-bag-count {
    @media #{$sm-ls} {
      padding: 22px 10px 15px;
    }
  }

  .wishlistItemCards {
    .wishlist-header {
      @media #{$sm-ls} {
        padding: 19px 18px 18px 14px;
      }
    }

    .promotion-txt {
      display: table;
    }

    .product-info {
      @media #{$sm-ls} {
        padding-right: 15px;
      }

      .item-image {
        @include media-breakpoint-down(md) {
          width: 30.3%;
        }

        @media #{$sm-ls} {
          width: 34%;
        }
      }

      img.product-image {
        max-height: 148px;

        @media #{$sm-ls} {
          max-height: 127px;
        }
      }
    }

    .veiwall-wrapper {
      @media #{$sm-ls} {
        padding: 0 10px;
      }
    }
  }

  .empty-bag-section {
    .shopping-bag-count {
      @include media-breakpoint-down(md) {
        padding: 0 15px 5px;
      }
      .number-of-items {
        font-size: $base-fontSize;
      }
    }

    .cart-empty {
      @include media-breakpoint-down(md) {
        padding: 0 15px;
      }
    }
  }

  .signInModal {
    .modal-dialog {
      .modal-content {
        .cancel-icon {
          button {
            transform: scale(0.75);
          }
        }
      }
    }
  }

  .cart-wrapper {
    .cart-summary-section {
      top: 150px;
      @media #{$sm-ls} {
        margin: 0;
      }

      .order-summary-details {
        @media #{$sm-ls} {
          padding: 0 16px;
        }

        .summary-title-text {
          border-bottom: none;
          font-size: $base-fontSize + 1px;
          color: $secondary-Variant-3;

          @include media-breakpoint-down(md) {
            font-size: $base-fontSize - 2px;
          }

          @media #{$sm-ls} {
            font-size: $base-fontSize + 1px;
            font-family: $bold-fontFamily;
            letter-spacing: 0.54px;
            border-bottom: 1px solid $secondary-Variant-6;
          }
        }

        .cart-summary-details {
          .cart-info-sec {
            .info-name {
              width: calc(53% - 3px);
            }

            .info-value {
              width: calc(47% - 3px);
            }

            &.estm-ttl {
              .info-name,
              .info-value {
                span {
                  font-size: $base-fontSize;

                  @include media-breakpoint-down(md) {
                    font-size: $base-fontSize - 2px;
                  }

                  @media #{$sm-ls} {
                    font-size: $base-fontSize + 2px;
                  }
                }
              }
            }

            .info-name,
            .info-value {
              span {
                font-size: $base-fontSize - 2px;

                @include media-breakpoint-down(md) {
                  font-size: $base-fontSize - 2px;
                }

                @media #{$sm-ls} {
                  font-size: $base-fontSize;
                }
              }
            }

            .info-value {
              span {
                font-size: $base-fontSize - 2;
                color: $secondary-Variant-9;
                @media #{$sm-ls} {
                  font-size: $base-fontSize - 2px;
                }
              }
            }
            &.order-discount {
              .order-discount-total {
                color: $secondary-Utility-1;
              }
            }
          }
        }
      }

      .promo-container {
        @media #{$sm-ls} {
          margin-bottom: 0;
        }

        .form-group {
          .promo-click {
            label {
              letter-spacing: 0;

              @media #{$sm-ls} {
                font-size: $base-fontSize;
              }
            }
          }

          .promo-detail-section {
            .coupons-and-promos {
              .coupon-price-adjustment {
                .promo-segment {
                  .coupon-code {
                    color: $secondary-Utility-7;

                    .coupon-not-applied {
                      font-size: $base-fontSize - 2px;
                    }
                  }
                }
              }
            }

            .promo-apply {
              @media #{$sm-ls} {
                margin-top: 5px;
              }
              .promo-input {
                .non-input-label {
                  .attr-name {
                    color: $secondary-Utility-7;
                  }
                }

                .promo-code-entry {
                  input {
                    color: $secondary-Utility-7;
                    height: 45px;
                  }
                }
              }
            }
          }
        }
      }

      .shop-runner-section {
        @media #{$sm-ls} {
          margin: 0 16px;
          order: 4;
        }
      }

      .cart-needhelp {
        display: inline-block;
        width: 100%;

        @media #{$sm-ls} {
          padding: 0 16px;
        }

        @media #{$belowtab} {
          order: 5;
        }
      }

      .checkout-options {
        @media #{$sm-ls} {
          margin: 0 16px;
        }

        .chkout-optn-text {
          letter-spacing: 0;
          max-width: 140px;

          @media #{$sm-ls} {
            padding: 0 10px;
          }
        }
      }
    }

    .product-line-item {
      &.empty {
        @media #{$sm-ls} {
          padding: 0 10px;
        }
      }

      .cart-empty {
        .shop-btn {
          @media #{$sm-ls} {
            margin-bottom: 24px;
          }
        }

        .sign-in-btn {
          @media #{$sm-ls} {
            margin-bottom: 0;
          }
        }
      }

      .cart-page {
        .product-info {
          @media #{$sm-ls} {
            padding: 12px 15px 15px 20px;
          }

          .cart-description {
            .cart-pdt-details {
              .item-image {
                @media #{$sm-ls} {
                  .product-image {
                    min-width: 96px;
                  }
                }
              }

              .pdt-selected {
                .brand-name {
                  font-weight: bold;
                }

                .item-attributes {
                  .product-edit {
                    margin: 15px 0 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

a {
  &.srd_a {
    color: $secondary-Variant-1 !important;
  }
}

body {
  ._SRD {
    &._SR {
      .srd_h_background {
        padding: 0;
      }

      .srd_iconline {
        margin: 35px 0 20px;
        float: left;
        width: 100%;

        @media #{$belowtab} {
          margin: 21px 0 10px;
        }

        .srd_logo {
          margin: 3px 0 0;
          float: none;
          display: inline-block;
          vertical-align: bottom;
        }

        .srd_msg {
          padding: 0;
          line-height: 1.6;
          display: inline;

          strong {
            font-family: $base-fontFamily;
            font-family: $base-fontFamily !important;
            font-size: $base-fontSize - 2 !important;
            font-weight: 300;
          }
        }
      }

      .srd_msg,
      .srd_a {
        font-family: $base-fontFamily !important;
        font-size: $base-fontSize - 2 !important;
        color: $secondary-Variant-1 !important;
      }

      .srd_a_wrap {
        a {
          font-family: $base-fontFamily;
          text-decoration: underline !important;
        }
      }
    }
  }
}

#editProductModal,
#chooseBonusProductModal {
  .modal-dialog {
    &.quick-view-dialog {
      .modal-content {
        .modal-body {
          .waitlist-from {
            padding: 20px 0;
            border-top: 1px solid $secondary-Variant-6;
            margin: 0 20px;
            width: calc(100% - 40px);

            .soldout-msg {
              color: $primary-Base-2;
              font-family: $base-fontFamily;
              font-size: $base-fontSize - 2px;
              font-family: $base-fontFamily;
              line-height: 1.5;
              padding-bottom: 20px;
            }

            .js-mobile-opt-msg {
              font-size: $base-fontSize - 5px;
              font-family: $base-fontFamily;
              letter-spacing: 0.2px;
              line-height: 14px;
              color: $secondary-Variant-14;
              margin-bottom: 25px;

              span,
              a {
                font-family: $bold-fontFamily;
              }

              a {
                text-decoration: underline;
              }
            }
          }

          .wait-list-success {
            .success-msg {
              font-size: $base-fontSize;
              font-family: $base-fontFamily;
              letter-spacing: 0.22px;
              line-height: 20px;
              color: $secondary-Variant-16;
              background-color: $secondary-Variant-17;
              padding: 13px 3%;
              display: flex;
              align-items: center;
              justify-content: center;

              @include media-breakpoint-down(xs) {
                margin-bottom: 30px;
                padding: 13px 60px 18px;
                align-items: flex-start;

                .message {
                  text-align: center;
                  width: 200px;
                }
              }

              .check-img {
                transform: scale(0.7);
                margin-right: 8px;

                @include media-breakpoint-down(xs) {
                  margin: 0;
                  width: 30px;
                }
              }
            }
          }

          .entr-detals {
            position: relative;

            label {
              &::before {
                display: none;
              }
            }
          }

          .cart-and-ipay {
            border-top: 1px solid $secondary-Variant-18;
          }

          .waitlist-button {
            padding: 10px 13px;
            margin: 0;
            border-top: 1px solid $secondary-Variant-6;
            position: fixed;
            bottom: 0;
            width: 100%;
            max-width: 320px;
            background: $primary-Base-3;
            right: 0;
            z-index: 1051;

            @include media-breakpoint-down(xs) {
              max-width: 100%;
            }

            button {
              text-transform: uppercase;
            }
          }

          .policy-txt {
            width: 100%;
            display: inline-block;
            padding: 0 20px;
            color: $primary-Base-2;
            font-family: $base-fontFamily;
            font-size: $base-fontSize - 5px;
            font-family: $base-fontFamily;
            letter-spacing: 0.2px;
            line-height: 1.55;

            span,
            a {
              font-family: $bold-fontFamily;
            }

            a {
              text-decoration: underline;
            }
          }

          .attributes {
            .row[data-attr='color'] {
              margin-bottom: 0;
            }

            > .row {
              > [class*='col-'] {
                > *:not(:empty) {
                  margin-bottom: 17px;

                  @include media-breakpoint-down(xs) {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
