@import '../config/variables';

.modal {
  // style for gwp flyout
  .modal-dialog {
    &.choose-bonus-product-dialog {
      &.quick-view-dialog {
        .modal-content {
          .modal-header {
            text-align: center;
            font-family: $bold-fontFamily;
            border-bottom: 1px solid $secondary-Variant-6;
            background-color: $secondary-Variant-9;
            padding: 12px 0;

            button {
              transform: translateY(-50%) rotate(90deg);
            }
          }
        }
      }
    }

    &.gift-offers {
      &.quick-view-dialog {
        .modal-content {
          .modal-header {
            text-align: center;
            font-family: $bold-fontFamily;
            border-bottom: 1px solid $secondary-Variant-6;
            background-color: $secondary-Variant-9;
            padding: 12px 0;
          }
        }
      }
    }
  }

  &.gwp {
    .bonus-product-button {
      margin: 0;
      border: 0;
      border-bottom: 2px solid $secondary-utility-13;
      padding: 18px 21px 25px;
      position: relative;
      border-radius: 0;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 2px;
        height: 18px;
        transform: rotate(-50deg);
        background: $secondary-Variant-1;
        top: 18px;
        right: 27px;
      }

      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 2px;
        height: 18px;
        transform: rotate(-130deg);
        margin-top: 10px;
        background: $secondary-Variant-1;
        top: 19px;
        right: 27px;
      }
    }

    .gwp-title-text {
      font-family: $bold-fontFamily;
      line-height: 1.21;
    }

    .gwp-desc-text {
      font-size: $base-fontSize - 1px;
      letter-spacing: 0.46px;
      line-height: 1.23;
    }

    ~ .bonus-pdt {
      + .modal-backdrop {
        &.show {
          display: none;
        }
      }
    }
  }

  &#chooseBonusProductModal {
    .modal-dialog {
      height: 100%;

      &.choose-bonus-product-dialog.quick-view-dialog {
        .modal-content {
          height: 100%;

          .modal-header {
            background-color: transparent;
            border-bottom: 0 none;
            font-family: $aven-trade-gothic-next-bold;
          }

          .modal-body {
            .product-quickview {
              padding-bottom: 0;

              .product-name {
                text-align: left;
                font-size: $base-fontSize - 2px;
                margin-bottom: 0;
                line-height: 18px;
              }

              .gwp-radio {
                .custom-control-label {
                  &::before {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }

      &.gift-offers.quick-view-dialog {
        .modal-content {
          .modal-header {
            background-color: $secondary-Variant-8;
            font-family: $aven-trade-gothic-next-regular;
            margin-top: 0;
            border-bottom-color: $secondary-Variant-7;
          }
        }
      }
    }

    &.gwp {
      .bonus-product-button {
        border-bottom: 1px solid $secondary-Variant-7;
        padding: 13px 16px 16px 15px;

        &:before,
        &:after {
          width: 1px;
          top: calc(50% - 18px);
        }
      }

      .gwp-title-text {
        font-family: $aven-trade-gothic-next-bold;
      }

      .gwp-desc {
        width: 90%;
      }

      .gwp-desc-text {
        letter-spacing: 0.25px;
        font-size: 14px;
      }
    }
  }

  &.gwp-pdt-panel {
    &.quick-view-dialog {
      .modal-content {
        .modal-header {
          width: auto;
          display: inline-block;

          .back-icon {
            background: none;
            border: none;
          }

          .close {
            left: initial;
            right: 10px;
            transform: translateY(-50%) scale(0.7);

            .cancel-icon {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

.choose-bonus-product-dialog {
  .previous-icon {
    display: inline-block;
    transform: scale(0.7);
  }

  .bonus-product-item {
    padding: 0;
  }

  .gwp-conatiner {
    padding: 0 20px;
  }

  .gift-beauty-text,
  .free-gift-text {
    width: 100%;
    display: inline-block;
    padding: 18px 0;
    font-size: $base-fontSize - 1px;
    letter-spacing: 0.46px;
    line-height: 1.23;
    text-align: center;
  }

  .free-gift-text {
    font-size: $base-fontSize;
    letter-spacing: 0.25px;
    padding-top: 0;
  }

  .gwp-title-text {
    font-family: $Moneta-regular;
    font-size: $base-fontSize * 2;
  }

  .gwp-calloutMsg {
    margin-top: 6px;
  }

  .selected-text {
    width: 100%;
    display: inline-block;
    font-family: $aven-trade-gothic-next-bold;
    margin-top: 13px;
    font-size: $base-fontSize;
  }

  .gwp-radio {
    width: calc(10% - 3px);
    display: inline-block;
    vertical-align: top;

    label {
      &:hover {
        &::before {
          border-color: $secondary-Variant-10;
        }
      }
    }

    .gwp-image,
    .gwp-pdt-details {
      width: calc(45% - 3px);
      display: inline-block;
      vertical-align: middle;
    }

    .gwp-image {
      img {
        max-height: 100%;
        margin: 0 auto;
        max-width: 109px;
      }
    }
  }

  .gwp-pdt-details {
    padding-left: 15px;
    vertical-align: top;

    .brand-name,
    .product-name,
    .product-details {
      font-size: $base-fontSize - 2px;
      letter-spacing: 0.5px;
      line-height: 1.25;
      width: 100%;
      display: inline-block;
      margin: 0;
    }

    .brand-name {
      letter-spacing: 0.25px;
      line-height: 18px;
    }

    .product-details {
      text-decoration: underline;
      cursor: pointer;
      width: auto;
      font-family: $aven-trade-gothic-next-regular;
      line-height: 18px;
      margin-top: 6px;
      letter-spacing: .25px;
    }
  }

  .modal-footer {
    .bag-btn {
      width: 100%;
      display: inline-block;
      padding: 20px 10px;
      margin: 0;
      position: fixed;
      bottom: 0;
      right: 0;
      background: $primary-Base-3;
      max-width: 320px;
      border-top: 0 none;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }

      .add-bonus-products {
        width: 100%;
        margin: 0;
        font-family: $aven-trade-gothic-next-regular;
      }
    }
  }
}

.gwp-pdt-panel {
  .modal-column {
    padding: 0 20px;

    .gwp-brand {
      font-family: $bold-fontFamily;
      line-height: 1.42;
      margin-bottom: 20px;
    }

    .gwp-detail-section {
      line-height: 1.57;
      padding-bottom: 195px;
    }

    .gwp-detail-sub-details {
      line-height: 1.5;
      font-size: $base-fontSize - 2px;
      width: 100%;
      display: inline-block;
    }
  }

  .modal-footer-final {
    .bag-btn-final {
      width: 100%;
      display: inline-block;
      padding: 20px 10px;
      margin: 0;
      position: fixed;
      bottom: 0;
      right: 0;
      background: $primary-Base-3;
      max-width: 320px;
      border-top: 0 none;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }

      .add-bonus-products {
        width: 100%;
        margin: 0;
        font-family: $aven-trade-gothic-next-regular;
      }
    }
  }
}

.bonus-product-line-item {
  .pdt-selected {
    .item-attributes {
      @include media-breakpoint-down(sm) {
        margin-bottom: 7px;
      }
    }
  }

  .gwp-title {
    font-size: $base-fontSize - 2px;
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 0.3px;
    color: $avenue-primary-base-2;
    margin-bottom: 15px;
    line-height: 15px;
  }

  .sold-out {
    font-size: $base-fontSize - 2px;
  }

  .bonus-product-button {
    margin: 0;
    border-radius: 0;
    padding: 11px 10px;
    border: 1px solid $secondary-Variant-6;

    @include media-breakpoint-down(sm) {
      margin-top: 15px;
    }

    &.giftcard-offer {
      order: 3;
      padding: 7px 10px 8px;
      margin: 9px 0 14px;
    }

    .free-gifts-qualify {
      cursor: pointer;
    }

    .free-gifts-sec,
    .select-text {
      width: calc(50% - 3px);
      display: inline-block;
      vertical-align: middle;
    }

    .free-gifts-sec {
      @include media-breakpoint-down(xs) {
        width: calc(65% - 3px);
      }
    }

    .gift-icon {
      display: inline-block;
      vertical-align: middle;
      transform: scale(0.73);
    }

    .free-gift-text {
      width: auto;
      vertical-align: middle;
      display: inline-block;
      line-height: 1.21;
      padding: 0 0 0 3px;
      letter-spacing: 0.25px;
    }

    .select-text {
      text-align: right;
      position: relative;
      padding-right: 3%;
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0.25px;

      @include media-breakpoint-down(xs) {
        padding-right: 7%;
        width: calc(35% - 3px);
      }

      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        transform: rotate(-50deg);
        background: $secondary-Variant-1;
        top: 1px;
        right: 5px;
      }

      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        transform: rotate(-130deg);
        margin-top: 10px;
        background: $secondary-Variant-1;
        top: -1px;
        right: 5px;
      }
    }
  }
}

.cart-page-content {
  .cart-wrapper {
    .product-line-item {
      .cart-page {
        .product-info {
          .product-info {
            &:nth-of-type(2) {
              border: none;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}
