.cookie-warning-messaging {
  &.cookie-warning {
    left: 0;
    transform: none;
    width: 100%;
    z-index: 2;

    .valid-cookie-warning {
      background: $primary-Base-3;
      margin: 0;
      padding: 0;
      position: relative;

      .cookie_section {
        max-width: 1260px;
        margin: 0 auto;
        padding: 28px 40px;

        @include media-breakpoint-down(xs) {
          padding: 34px 10px 20px;
        }

        .cookie_container {
          padding: 0 30px 0 0;
          box-sizing: border-box;
          white-space: normal;
          vertical-align: top;
          text-align: left;

          @include media-breakpoint-down(xs) {
            width: 100%;
            padding: 0;
          }

          .cookie_content {
            width: 100%;
            display: inline-block;
            margin: 0;
            padding: 0;
            font-size: $base-fontSize;
            line-height: 22px;
            color: $primary-Base-2;
            font-family: $base-fontFamily;

            @include media-breakpoint-down(xs) {
              margin-bottom: 15px;
            }

            .privacy_policy {
              text-decoration: underline;
            }
          }
        }

        .btn_section {
          text-align: left;
          padding: 0;
          position: static;

          @include media-breakpoint-down(sm) {
            padding-top: 10px;
          }

          @include media-breakpoint-down(xs) {
            width: 100%;
            padding: 0;
            display: block;
          }

          .cookies_accepted {
            .accept {
              background: $secondary-Variant-1;
              border: none;
              padding: 8px 31px;
              color: $primary-Base-3;
              font-family: $base-fontFamily;
              font-size: $base-fontSize;
              line-height: 17px;

              @include media-breakpoint-down(xs) {
                width: 100%;
              }
            }
          }

          .close_icon {
            .close {
              top: 20px;
              padding: 0;
              right: 20px;

              @include media-breakpoint-down(xs) {
                top: 17px;
                right: 11px;
              }
            }
          }
        }
      }
    }
  }
}

#consent-tracking {
  height: auto;
  top: auto;
  bottom: 0;
  background: $primary-Base-3;
  border-top: 3px solid $secondary-Variant-1;

  .modal-dialog {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;

    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    .modal-content {
      border: 0;
      padding: 28px 20px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        padding: 31px 20px;
      }

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        padding: 15px 10px 10px;
      }

      .modal-header {
        padding: 0;
        border: 0;
        position: absolute;
        right: 20px;
        top: 12px;

        @include media-breakpoint-down(xs) {
          position: relative;
          top: 0;
          display: inline-block;
          width: 100%;
          margin: 0 auto;
          right: 0;
          padding: 0 5px 5px 0;
        }

        .button-wrapper {
          button {
            padding: 0;
            transform: scale(0.75);
            opacity: 0.7;

            @include media-breakpoint-down(xs) {
              transform: scale(0.5);
              margin: 0;
            }
          }
        }
      }

      .modal-body {
        padding: 0;
        flex-wrap: wrap;
        width: 693px;

        @include media-breakpoint-down(md) {
          width: 440px;
        }

        @include media-breakpoint-down(xs) {
          width: 100%;
          text-align: center;
          padding: 0 10px 15px;
        }

        p {
          color: $secondary-Utility-6;
          margin: 0;

          @include media-breakpoint-down(xs) {
            line-height: 1.3;
          }

          a {
            text-decoration: underline;
          }
        }
      }

      .modal-footer {
        padding: 0;
        border: 0;
        margin: 0 83px 0 0;

        @include media-breakpoint-down(lg) {
          margin: 0 65px 0 0;
        }

        @include media-breakpoint-down(md) {
          margin: 0 55px 0 0;
        }

        @include media-breakpoint-down(xs) {
          margin: 0;
        }

        .button-wrapper {
          button {
            width: 133px;

            @include media-breakpoint-down(xs) {
              width: 100%;
              margin: 0.5em auto;
            }
          }

          @include media-breakpoint-down(xs) {
            width: 100%;
          }
        }
      }
    }
  }
}
