%svg-common-2 {
  background: url('../images/hbc-vertical-2.svg') no-repeat;
}

.svg-svg-01-back-to-top {
  @extend %svg-common-2;

  background-position: 0 0;
}

.svg-svg-01-back-to-top-dims {
  width: 36px;
  height: 36px;
}

.svg-svg-02-back-to-top-hovered {
  @extend %svg-common-2;

  background-position: 0 33.333333333333336%;
}

.svg-svg-02-back-to-top-hovered-dims {
  width: 36px;
  height: 36px;
}

.svg-svg-03-back-to-top-off5th {
  @extend %svg-common-2;

  background-position: 0 66.66666666666667%;
}

.svg-svg-03-back-to-top-off5th-dims {
  width: 36px;
  height: 36px;
}

.svg-svg-04-back-to-top-off5th-hovered {
  @extend %svg-common-2;

  background-position: 0 100%;
}

.svg-svg-04-back-to-top-off5th-hovered-dims {
  width: 36px;
  height: 36px;
}
