// MIXIN Utility for generating HBC buttons

@mixin set-button($col, $bg-color, $border-color, $important: false) {
  @if $important {
    color: $col !important;
    background-color: $bg-color !important;
    border: 1px solid $border-color !important;
  } @else {
    color: $col;
    background-color: $bg-color;
    border: 1px solid $border-color;
  }
}
