@import '../config/variables';
@import '~base/utilities/swatch';

@mixin color-picker-style($color) {
  @if (lightness($color) > 40) {
    background: url(../images/selected_dark.svg) !important;
  } @else {
    background: url(../images/selected_light.svg) !important;
  }
}

@each $color in map-keys($swatch-colors) {
  $colorValue: map-get($swatch-colors, $color);

  .swatch-circle-#{$color} {
    @include circle(2.5em, $colorValue);

    display: block;
    position: relative;

    &.disabled {
      opacity: 0.2;
    }
    &.selected {
      &::after {
        @include color-picker-style($colorValue);
      }
    }
  }
}

.swatch-circle-miscellaneous,
.swatch-circle-multicolor,
.swatch-circle-multi-colour {
  background: linear-gradient(90deg, rgba(226, 11, 11, 1) 0, rgba(226, 11, 11, 1) 50%, rgba(14, 92, 209, 1) 51%, rgba(14, 92, 209, 1) 100%),
    linear-gradient(90deg, #59ba00 75%, #59ba00 50%, rgba(255, 255, 0, 1) 76%, rgba(255, 255, 0, 1) 100%);
  background-repeat: repeat-y, repeat;
  background-size: 50% 100%, 100% 100%;
}
