@import '~base/checkout/checkout';

.checkout-wrapper {
  .checkout-primary-section {

    .summary-section,
    .shipping-method {
      white-space: normal;
      word-break: break-word;
    }

    .pickup-summary,
    .shipping-summary,
    .payment-summary {
      .card-header {
        .pull-left {
          display: flex;
          align-items: center;
        }
      }
    }

    .state-track {
      display: inline-block;
      width: 25px;
      height: 24px;
      transform: scale(0.7);
      margin-right: 4px;
      position: relative;
      bottom: 1px;
      left: -5px;
    }

    .card-header-custom,
    .checkout-card-header {
      display: flex;
      align-items: center;

      .state-index {
        border: 1px solid;
        padding: 9px 7px 8px 6px;
        display: flex;
        font-size: 0;
        align-items: center;
        border-radius: 100%;
        margin-right: 10px;

        &.multi {
          padding: 9px 5px 8px;
        }
      }

      .state-info {
        font-size: $base-fontSize - 1px;
        line-height: 0;
        font-family: $base-fontFamily;
      }
    }

    .form-main-label-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .form-main-label {
        color: $secondary-Utility-6;
      }

      .form-sub-label {
        font-size: 10px;
      }
    }

    .shipping-method-block {
      .shipping-method-heading {
        margin-bottom: 5px;
        color: $black;
      }

      .hbc-shipping-method-description {
        font-size: $base-fontSize - 2px;
        margin-bottom: 8px;
      }

      .form-check {
        margin-bottom: 10px;
      }

      .shipping-method-option {
        font-size: $base-fontSize;
        display: inline-flex;

        &.custom-control-label {
          span {
            padding: 0;
            color: $black;
          }

          &::before {
            margin-right: 10px;
            top: 1px;

            @include media-breakpoint-down(xs) {
              width: 20px;
            }
          }
        }
      }
    }

    .payment-options {
      &.nav-tabs {
        border: 0;

        .nav-item {
          flex: 0 0 auto;

          @include media-breakpoint-down(sm) {
            width: 100%;
            text-align: left;
            padding: 0.32rem 0;
          }

          &.paypal-disable {
            pointer-events: none;
          }
        }

        .nav-link {
          padding: 0;
          border: 0 !important;
          display: inline;
          cursor: default;
        }

        .paymentTabRadio {
          visibility: hidden;
        }
      }
    }

    .shipping-save-address-block,
    .billing-save-address-block,
    .billing-save-payment-block {
      margin-bottom: 30px;

      .shipping-save-address,
      .billing-save-address,
      .billing-save-payment {
        .next-step-button {
          padding: 0;
          margin: 0;

          @include media-breakpoint-down(xs) {
            width: 100%;
            position: static;
            box-shadow: none;

            div {
              padding: 0;
            }
          }
        }
      }
    }

    .cancel-new-payment {
      margin-top: 0;
    }

    .customer-addresses {
      .address-add-registered,
      .address-result {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
      }

      .customer-addresses-section {
        border: 1px solid $secondary-Variant-7;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 15px;
        cursor: pointer;

        &.form-check {
          padding-right: 40px;
        }

        .address-details-left {
          font-size: $base-fontSize - 2px;
        }

        &.selected {
          border: 2px solid $primary-Base-2;
        }
      }

      .edit-customer-address {
        position: absolute;
        top: 15px;
        right: 15px;

        a {
          color: $primary-Base-2 !important;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .add-address-section {
        height: 20px;
        margin: auto 0;
        display: flex;
        font-size: $base-fontSize;

        .svg-svg-59-plus-thin {
          height: 24px;
          display: inline-block;
          width: 25px;
          transform: translateY(-50%) scale(0.75);
          position: absolute;
          top: 50%;
          right: 15px;
        }
      }
    }

    .billing-addresses {
      .btn-add-new {
        color: $primary-Base-2;
        text-decoration: none;
      }

      .add-address-section {
        width: 100%;
      }
    }

    .stored-payments {
      .saved-payment-instrument,
      .add-payment-wrapper {
        margin-bottom: 15px;
      }

      .saved-payment-instrument-section {
        border: 1px solid $secondary-Variant-7;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
      }

      .selected-payment {
        background-color: $white;

        .saved-payment-instrument-section {
          border: 2px solid $primary-Base-2;
          display: flex;
        }

        .saved-credit-card-details {
          margin-bottom: 5px;
        }

        .saved-security-code {
          margin: 0 0 0 auto;

          @include media-breakpoint-down(sm) {
            margin: 0;
          }

          @include media-breakpoint-down(xs) {
            margin: 0 0 0 auto;
          }
        }

        .saved-payment-security-code,
        .invalid-feedback {
          width: 90px;
        }

        .saved-payment-security-code {
          @include media-breakpoint-down(xs) {
            width: 75px;
          }
        }

        .security-code-input {
          display: flex;
          align-items: center;

          .form-group {
            margin: 0;
          }

          .floating-label {
            label {
              top: 14px;

              &.input-focus {
                top: -9px;
              }
            }
          }
        }

        .security-tooltip {
          margin: 0 0 0 10px;
          max-width: 60px;

          .form-control-label {
            margin: 0;
          }
        }
      }

      .saved-payment-information {
        font-size: $base-fontSize - 2px;
        display: flex;
        flex-wrap: wrap;
        margin: 14px 0;
        align-items: center;

        .saved-credit-card-type {
          font-family: $base-fontFamily;
          margin-right: 5px;

          @include media-breakpoint-down(xs) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 53px;
          }
        }

        .saved-credit-card-number {
          margin-right: 5px;
        }
      }

      .add-payment-section-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid $secondary-Variant-7;
        padding: 15px;
        cursor: pointer;
      }

      .add-payment {
        width: 100%;
        margin: 0;
      }

      .add-payment-section {
        height: 20px;
        margin: auto 0;
        display: flex;
        font-size: $base-fontSize;

        .svg-svg-59-plus-thin {
          height: 24px;
          display: inline-block;
          width: 25px;
          margin: 0 0 0 auto;
          transform: scale(0.75);
          position: relative;
          bottom: 3px;
        }
      }
    }

    .save-card-section {
      margin-bottom: 15px;

      .authorization-msg-cc {
        margin: 5px 0;
        font-size: $base-fontSize - 2px;

        .btn-link {
          color: $secondary-Utility-7 !important;
        }
      }
    }

    .paypal-btn-container {
      .paypal-label {
        margin-bottom: 15px;
      }

      .paypal-email {
        margin: 0 0 15px;
      }

      .paypal-custom-btn {
        margin-bottom: 25px;
        position: relative;
        max-width: none;
        width: auto;

        .paypal-btn-cus {
          background: transparent;
          border: 1px solid $hb-border-clr;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          span {
            transform: scale(0.7);
          }
        }

        .paypal-checkout-button {
          position: absolute;
          top: -9px;
          height: 50px;
          overflow: hidden;
          width: 92%;
          opacity: 0;
          cursor: pointer;
        }
      }

      .zoid-outlet {
        height: 40px !important;
      }
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
      border-bottom: 1px solid $secondary-Variant-6;
      -webkit-box-shadow: 0 4px 0 0 rgba(229, 229, 229, 1);
      -moz-box-shadow: 0 4px 0 0 rgba(229, 229, 229, 1);
      box-shadow: 0 4px 0 0 rgba(229, 229, 229, 1);
    }

    .form-group {
      select {
        cursor: pointer;
      }
    }
  }

  .checkout-secondary-section {
    .card {
      padding: 0 15px;
      margin-bottom: 20px;
      border: 1px solid $secondary-Variant-6;
    }

    .card-body {
      padding: 14px 0 0;

      p {
        font-size: $base-fontSize - 2px;
        margin-bottom: 6px;
      }
    }

    .product-line-item {
      .product-line-item-details {
        margin-bottom: 20px;
      }
      .product-line-item {
        .product-line-item-details {
          margin-bottom: 0;
        }
      }
    }

    .order-mini-summary {
      .card-header {
        padding: 16px 0 10px;
        border-radius: 0;
      }

      .grand-total {
        padding: 15px 0 0;
        border-top: 1px solid $secondary-Variant-7;
        margin: 10px 0 8px;

        p {
          font-size: $base-fontSize;
        }
      }

      .order-mini-summary-heading {
        font-family: $base-fontFamily;
      }

      .grand-total-saving {
        margin: 0 0 17px;
        padding: 15px 0 0;
        border-top: 1px solid $secondary-Variant-7;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .grand-total-price {
        padding: 0 5px;
        color: $secondary-Utility-1;
      }

      .payment-methods-cart {
        margin: 0 0 17px;
        padding: 15px 0 0;
        border-top: 1px solid $secondary-Variant-7;

        .start-lines,
        .end-lines {
          font-size: $base-fontSize - 2px;
          padding: 0;
        }
      }
    }

    .promo-rewards-container {
      margin-bottom: 20px;
    }

    .hudson-reward-points {
      color: $primary-Base;
      font-size: $base-fontSize - 2px;
      margin-bottom: 15px;
    }

    .hbc-loyalty-number-prefix {
      position: absolute;
      top: 12px;
      left: 10px;
      color: $secondary-Variant-4;
      pointer-events: none;
    }

    .hudson-reward-field {
      padding: 0 10px 0 62px;

      @media #{$belowdesktop} {
        padding: 0 10px 0 66px;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-top: 3px;
      padding: 0;
      display: flex;
      flex-wrap: wrap-reverse;

      .order-mini-summary,
      .promo-rewards-container {
        flex-basis: 100%;
        -webkit-box-shadow: 0 5px 0 0 rgba(229, 229, 229, 1);
        -moz-box-shadow: 0 5px 0 0 rgba(229, 229, 229, 1);
        box-shadow: 0 5px 0 0 rgba(229, 229, 229, 1);
      }

      .order-mini-summary {
        margin-bottom: 80px;
      }

      .promo-rewards-container {
        margin-bottom: 3px;
      }
    }
  }

  // Initial states
  &[data-checkout-stage] {
    .pickupperson-section,
    .pickup-summary,
    .card.ghost.shipping,
    .createaccount-form,
    .createaccount-summary,
    .amex-info,
    .review-mpaMessage,
    .saksfirst-free-ship-message,
    .place-order-next-step-button-row {
      display: none;
    }
  }

  //States for pickupperson
  &[data-checkout-stage='pickupperson'] {
    .pickupperson-section,
    .card.ghost.shipping,
    .amex-info,
    .card.ghost.payment {
      display: block;
    }

    .shipping-section,
    .pickup-summary,
    .payment-summary,
    .createaccount-form,
    .createaccount-summary,
    .review-mpaMessage,
    .saksfirst-free-ship-message,
    .payment-form {
      display: none;
    }
  }

  //States for shipping
  &[data-checkout-stage='shipping'] {
    .pickup-summary {
      display: block;
    }
    .custom-checkbox {
      margin-left: 7px;
    }
    .shipping-next-cancel {
      padding-right: 7px;
    }
    .shipping-save-address {
      padding-left: 7px;
    }
    // State for Express Checkout
    &[data-express-checkout='true'] {
      &.multi-ship .order-product-summary {
        display: none;
      }

      .amex-info,
      .review-mpaMessage,
      .saksfirst-free-ship-message,
      .card.payment-form {
        display: none;
      }

      button.submit-shipping {
        display: block;
      }

      [data-address-mode='customer'] {
        .shipping-address-block {
          display: none;
        }
      }

      [data-address-mode='shipment'] {
        .shipping-address-form {
          display: none;
        }
      }

      [data-address-mode='edit'] {
        .shipping-address-block {
          display: none;
        }
      }

      [data-address-mode='new'] {
        .btn-show-details,
        .btn-add-new {
          display: none;
        }
      }

      .pickup-summary {
        display: block;
      }

      // Place order stage

      .card.payment-summary {
        display: block;
      }

      .billing-summary-section,
      .card.payment-form,
      .createaccount-form,
      .createaccount-summary,
      .card.ghost {
        display: none;
      }

      .pickup-summary {
        display: block;
      }

      .place-order-next-step-button-row {
        display: flex;
      }
    }
    //End
  }

  //States for payment
  &[data-checkout-stage='payment'] {
    .pickup-summary {
      display: block;
    }
    .createaccount {
      display: block;
    }
    .createaccount-summary,
    .amex-info,
    .saksfirst-free-ship-message,
    .review-mpaMessage,
    .createaccount-form {
      display: none;
    }
  }

  //States for placeOrder
  &[data-checkout-stage='placeOrder'] {
    .pickup-summary {
      display: block;
    }

    .place-order-next-step-button-row {
      display: flex;
    }

    .billing-summary-section {
      display: block;
    }
    .createaccount-summary {
      display: block;
    }
    .amex-info {
      display: block;
    }
    .createaccount,
    .review-mpaMessage,
    .saksfirst-free-ship-message,
    .createaccount-form {
      display: none;
    }
    .review-mpaMessage {
      &[data-mpaenabled='true'] {
        display: block;
      }
    }

    .saksfirst-free-ship-message {
      &[data-saksfreeshipapplied='true'] {
        display: block;
      }
    }
  }

  //States for submitted
  &[data-checkout-stage='submitted'] {
    .pickup-summary {
      display: block;
    }

    .shipping-section,
    .saksfirst-free-ship-message,
    .review-mpaMessage {
      display: none;
    }
    .review-mpaMessage {
      &[data-mpaenabled='true'] {
        display: block;
      }
    }
    .createaccount-summary {
      display: block;
    }
    .createaccount {
      display: none;
    }

    .saksfirst-free-ship-message {
      &[data-saksfreeshipapplied='true'] {
        display: block;
      }
    }
  }

  //States for submitted
  &[data-checkout-stage='createaccount'] {
    .place-order-next-step-button-row {
      .next-step-button {
        margin-top: 10px;

        @include media-breakpoint-down(xs) {
          margin: 0;
        }
      }
    }

    .shipping-summary,
    .payment-summary,
    .card.payment-summary,
    .amex-info,
    .createaccount-form {
      display: block;
    }

    .shipping-section,
    .payment,
    .payment-form,
    .createaccount-summary,
    .review-mpaMessage,
    .saksfirst-free-ship-message,
    .createaccount {
      display: none;
    }
  }

  //Checkout specific to media screen codes
  @include media-breakpoint-up(sm) {
    .next-step-button {
      margin: 30px 0 30px auto;
      flex-basis: 50%;
    }
  }

  @include media-breakpoint-down(xs) {
    .place-order-next-step-button-row {
      margin: 0;
    }
  }
}

.remove-checkout-coupon-modal {
  .close {
    margin: 10px 15px 0 auto;
    padding: 10px;
    display: inline-block;
    transform: scale(0.8);

    @include media-breakpoint-down(xs) {
      transform: scale(0.7);
    }
  }

  .header-text {
    font-size: $base-fontSize + 10px;
  }

  .coupon-to-remove {
    margin: 0;
    padding: 5px 0;
  }

  .modal-header {
    padding: 0;
    border: 0;
  }

  .modal-body {
    padding: 0 20px;
  }

  .modal-footer {
    padding: 10px 20px 20px;
    border: 0;
  }
}

.save-credit-card {
  .custom-control-label {
    font-size: $base-fontSize - 1;
  }
}

.associate-fdd-promo {
  margin-bottom: 15px;
}

.data-checkout-stage {
  // Payment -------------------------------
  &[data-checkout-stage='payment'] {
    [data-address-mode='edit'] {
      .billing-address {
        display: block;
      }
    }
  }
}

.summary-details {
  .address-summary {
    margin-bottom: 0;
  }

  .payment-details {
    width: 100%;
    display: inline-block;

    .credit-card-number,
    .credit-card-type,
    .order-card-number,
    span {
      display: inline-block;
      float: left;
      padding: 0 0 0 3px;
    }

    .credit-card-type,
    span {
      clear: left;
      padding: 0;
    }
  }
}

.saved-payment-instrument,
.add-payment-wrapper {
  order: 2;

  &.default-section {
    order: 1;
  }
}

.invalid-feedback {
  &.hudson-error {
    display: block;
    padding: 0;
  }
}

.floating-label {
  label {
    &.hudsonbay-rewards {
      top: -3px;
      left: 8px;
      font-size: 10px;
      background: $primary-Base-3;
      line-height: 1;
      &.is-invalid {
        color: $error-msg;
        background: $hb-White-base;
      }
    }
  }
}

.checkout-secondary-section,
.productSummary-mobile {
  .line-item-quantity {
    &.quantity-form {
      display: none;
    }
  }

  .order-product-summary {
    .card {
      border: 0;
      padding: 0;
    }
  }
}

@media #{$belowtab} {
  .col-sm-7.checkout-primary-section,
  .col-sm-5.checkout-secondary-section {
    width: 100%;
    flex: auto;
    max-width: 100%;
  }

  .col-sm-5.checkout-secondary-section {
    display: flex;
    flex-wrap: wrap-reverse;

    .card.order-mini-summary,
    .promo-rewards-container {
      width: 100%;
    }

    .card.order-mini-summary {
      margin-bottom: 80px;
    }
  }
}

.back-to-top.active {
  display: none;
}

#maincontent {
  .checkout-wrapper {
    .btn-link {
      color: $secondary-Utility-6 !important;
    }
  }
}

.signature-checkbox {
  .custom-control {
    &.custom-checkbox {
      margin-left: 0;
    }
  }
}
