.CA-Landing-modal {
  &.show.signup-Modal {
    .modal-dialog {
      &.ca-response {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        left: 0;

        .modal-body {
          padding: 0;
          width: 35rem;

          @media #{$belowtab} {
            width: 23rem;
            flex: 0 0 89%;
          }
        }

        @media #{$belowtab} {
          position: relative;
          left: 0;
          top: 0;
          height: 100vh;
          transform: none;

          .modal-body {
            max-width: 79%;
          }
        }
      }

      @media #{$belowtab} {
        position: relative;
        left: 0;
        top: 0;
        height: 100vh;
        transform: none;

        .modal-body {
          max-width: 79%;
        }
      }

      .close {
        transform: none;
        margin: 0;

        .cancel-icon {
          display: inline-block;
        }
      }

      max-width: 748px;
      margin: 0 auto;

      .modal-content {
        border-radius: 0;

        @include media-breakpoint-down(xs) {
          border: 0;
          position: absolute;
          left: 0;
          top: 0;
        }

        .modal-header {
          position: absolute;
          border: 0;
          padding: 0;
          top: 17px;
          right: 10px;

          @include media-breakpoint-down(xs) {
            top: 5px;
          }
        }
      }

      .form-control {
        border-radius: 2px;
      }

      .header-text {
        font-family: $base-fontFamily;
        font-size: $base-fontSize * 2 + 8;
        color: $secondary-Variant-1;

        @include media-breakpoint-down(xs) {
          font-size: $base-fontSize * 2;
          margin-top: 1rem;
        }
      }

      .header-info {
        color: $secondary-Variant-3;
        font-size: $base-fontSize + 4px;
        width: 82%;
        margin-top: 15px;

        @include media-breakpoint-down(xs) {
          font-size: $base-fontSize;
          max-width: 16rem;
        }
      }

      .modal-content {
        padding-top: 43px;

        &.response {
          @include media-breakpoint-down(xs) {
            height: 100vh;
          }

          padding-top: 0;

          .success-content {
            padding: 2.5rem 0 1rem 0;

            @include media-breakpoint-down(xs) {
              padding: 0.5rem 0 1rem 0;
            }
          }

          .ca-success-header-text {
            font-family: $base-fontFamily;
            font-size: $base-fontSize * 2 + 8;
            color: $secondary-Variant-1;

            @include media-breakpoint-down(xs) {
              font-size: $base-fontSize * 2;
            }
          }

          .ca-success-body {
            color: $secondary-Variant-3;
            font-size: $base-fontSize + 4px;
            margin-top: 15px;

            .next-content {
              margin-top: 20px;
            }

            @include media-breakpoint-down(xs) {
              font-size: $base-fontSize;
            }
          }

          .btn-holder {
            margin: 40px 0;

            .start-shop {
              width: 13.8rem;
              font-size: $base-fontSize;
              padding: 0.63rem;
            }
          }
        }
      }

      .appointment-form-btns {
        margin-top: 1rem !important;
        color: $secondary-Variant-3;

        @include media-breakpoint-down(xs) {
          font-size: $base-fontSize - 2px;

          .note {
            margin-bottom: 2rem;
          }

          .custom-control-label {
            font-size: $base-fontSize - 2px;
          }
        }

        #submitAppointment {
          width: 13.8rem;
          display: inline-block;
          height: 45px;
        }
      }

      .withdraw-notify {
        margin: 28px 0 5px 0;
        color: $secondary-Variant-10;
        font-size: $base-fontSize - 2px;
      }
    }
  }
}

.shop-saksoff5th {
  background-color: transparent;
}

.ca-landing-avenue {
  &.navbar-header {
    &.right-content {
      width: 100%;
      justify-content: unset;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      .brand {
        width: 47%;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
          position: static;
          transform: none;
        }
      }
      .header-login {
        width: 7%;
        text-align: right;

        @include media-breakpoint-down(md) {
          width: auto;
          text-align: unset;
        }
      }
    }
  }
}

.ca-landing-avenue {
  &.navbar-header {
    .country-selector {
      margin: 0;
    }
  }
}

header {
  .ca-avenue {
    &.header {
      .header-main {
        padding: 18px 0 10px 0;
      }
    }
  }
}
