@import '../config/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.cat-landing {
  &.gucci-landing {
    .containers-wrapper {
      &.container {
        max-width: 100%;
        margin: auto;
        padding: 0;
        margin-top: 45px;

        @include media-breakpoint-up(lg) {
          margin-top: 22px;
        }

        @include media-breakpoint-up(xl) {
          max-width: 1260px;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 25px;
        }

        @media #{$largedesktop} {
          max-width: 1440px;
        }
      }

      .right-container {
        @include media-breakpoint-up(lg) {
          padding-top: 23px;
        }

        @include media-breakpoint-down(lg) {
          padding: 0;
        }



        .cta-shop-all-container,
        .cta-view-all-container {
          margin-bottom: 45px;
        }

        .home-slots {
          a {
            &.btn-primary {
              padding: 0 24px;
              min-width: 160px;
            }
          }

          &> :last-child {
            padding-bottom: 0;
          }

          .hero-banner {
            &.wrapper-content {
              padding-bottom: 0;
            }

            &.slick-slider {
              padding: 0;

              .slick-slide {
                .content-body {
                  .content-text {
                    margin: 0;
                    padding: 0;
                  }
                }
              }

              .slick-arrow {
                top: 41%;
                height: 50px;
                width: 50px;
                transform: scale(1);

                &.slick-prev {
                  left: 22px;
                }

                &.slick-next {
                  right: 22px;
                }
              }

              .slick-dots {
                bottom: 38px;
                top: auto;

                @include media-breakpoint-down(sm) {
                  bottom: 29px;
                  top: auto !important;
                }

                @media #{$belowtab} {
                  bottom: 23px;
                }
              }
            }
          }

          .cta-store-listing-container {
            margin-bottom: 45px;
            margin-top: 18px;

            @include media-breakpoint-up(lg) {
              margin-bottom: 42px;
              margin-top: 19px;
            }

          }

          .cat-hero-img-container {
            img {
              margin-bottom: 27px;
            }
          }

        }

        .stores-container {
          h2 {
            font-family: $bold-fontFamily;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: .25px;
            text-transform: uppercase;
            margin-bottom: 25px;

            @include media-breakpoint-up(lg) {
              font-size: 18px;
              line-height: 22px;
            }
          }

          .store--locations {
            .store--state {
              h3 {
                font-family: $bold-fontFamily;
                font-weight: bold;
                background-color: $secondary-Variant-8;
                text-transform: uppercase;
                padding: 8px 22px;
                font-size: 16px;
                line-height: 24px;
              }

              .store--name {
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 14px;
                color: $avenue-primary-base-2;

                a {
                  font-family: $bold-fontFamily;
                  font-weight: bold;
                  text-decoration: underline;
                  font-size: 14px;
                  line-height: 18px;
                  letter-spacing: .4px;
                }
              }

              .store--address {
                text-transform: uppercase;
                margin-bottom: 11px;

                .hbc-icon--location {
                  float: left;
                  font-size: 29px;
                  margin: -14px 10px 0 -4px;
                }
              }

              .store {
                padding: 0 22px;
                margin-top: 31px;

                @include media-breakpoint-up(lg) {
                  margin-top: 33px;
                }

                margin-bottom: 34px;
                font-size: 12px;
                overflow: hidden;
                border-bottom: 1px solid $hb-border-clr;
                padding-bottom: 34px;

                &:last-child {
                  border-bottom: none;
                  padding-bottom: 0;
                }

                .store-details-container {
                  width: 60%;
                  float: left;
                  padding-right: 15px;
                  font-size: 12px;
                  font-family: $bold-fontFamily;
                  font-weight: bold;

                  @include media-breakpoint-up(sm) {
                    width: 35%;
                  }
                }
              }

              .store--merch-container {
                width: 40%;
                float: left;
                border-left: solid 1px $avenue-secondary-variant-7;

                @include media-breakpoint-up(sm) {
                  width: 65%;
                }

                .store--merch {
                  padding: 0;
                  display: flex;
                  flex-wrap: wrap;
                  align-content: flex-start;
                  text-transform: capitalize;

                  @include media-breakpoint-down(xs) {
                    flex-flow: column wrap;
                  }

                  @include media-breakpoint-up(sm) {
                    &:not(:first-child) {
                      padding-top: 24px !important;
                    }
                  }

                  &>ul {
                    display: flex;
                    flex-flow: column wrap;

                    @include media-breakpoint-down(xs) {
                      &:last-child {
                        li {
                          &:last-child {
                            padding-bottom: 0;
                          }
                        }

                      }
                    }

                    li {
                      padding: 0 0 12px 19px;
                      letter-spacing: .25px;

                      @include media-breakpoint-up(sm) {

                        &:nth-child(3n),
                        &:last-child {
                          padding-bottom: 0;
                        }
                      }
                    }
                  }
                }
              }

              .store--contact .hbc-icon--call {
                float: left;
                font-size: 22px;
                margin: -7px 8px 0px 0px;
              }
            }
          }
        }
      }

      .left-container {
        padding: 0 0 0 15px;

        @include media-breakpoint-between(md, lg) {
          padding-right: 15px;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 45px;
          padding: 0 20px;
        }

        @include media-breakpoint-down(xs) {
          padding: 0;
          margin-bottom: 40px;
        }

        .gucci-left-nav {
          @include media-breakpoint-up(lg) {
            padding-top: 18px;
          }
        }
      }
    }

  }
}

.gucci-clp,
.gucci-landing {
  .nav-item {
    &.dropdown-item {
      border-top: 1px solid $avenue-secondary-variant-7;
      padding: 16px 20px;

      &:last-child {
        border-bottom: 1px solid $avenue-secondary-variant-7;
      }

      @include media-breakpoint-up(lg) {
        border-bottom: none;
        padding: 16px 0;

        &:last-child {
          border-bottom: none;
        }
      }

      .cat-link {
        letter-spacing: .25px;
        line-height: 20px;

        @include media-breakpoint-down(sm) {
          text-transform: uppercase;
          letter-spacing: 1.25px;
        }

        &:after {
          content: url('../../images/saks-minus-thin.svg');
          float: right;
          line-height: 1;
        }

        &.collapsed {
          &:after {
            content: url('../../images/saks-plus-thin.svg');
          }
        }
      }
    }

    .dropdown-content {
      margin-top: 24px;

      .dropdown-item {
        padding-left: 0;
        font-size: 12px;
        letter-spacing: .25px;
        line-height: 18px;
        text-transform: capitalize;

        &.active,
        &:active {
          font-weight: bold;
          background-color: transparent;
        }
      }
    }
  }

  .secondary-content {
    &.gucci {
      .breadcrumb {
        display: none;
      }

      .right-container {
        @include media-breakpoint-up(lg) {
          padding-top: 18px;
        }
      }

      .containers-wrapper {
        &.container {
          @include media-breakpoint-up(lg) {
            margin-top: 27px;
          }
        }
      }
    }
  }
}

.search-results,
.gucci-clp,
.cat-landing {

  &.gucci-brand-plp,
  &.gucci-landing,
  &.gucci-search-results {
    .breadcrumb {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .breadcrumb-item {
      letter-spacing: normal;
      text-transform: capitalize;
      line-height: 15px;

      &::before {
        top: 1px !important;
      }
    }

    .gucci-banner {
      .hero-banner {
        padding-bottom: 0;
      }
    }

    .home-slots {
      &>:last-child {
        padding-bottom: 0;
      }
    }

  }
}

.gucci-clp {

  &.gucci-search-results {
    .search-results {
      margin-top: 22px;

      @include media-breakpoint-down(sm) {
        margin-top: 45px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 13px;
      }

      .filter-section-tablet {
        @include media-breakpoint-down(sm) {
          padding: 0px 20px 18px;
        }

        .filter-results-container {
          display: none;
        }
      }

      .search-results-header {
        @include media-breakpoint-down(sm) {
          margin-bottom: 14px;
        }
      }

      .plp-heading-sort-wrap {
        padding-top: 0;

        @include media-breakpoint-up(lg) {
          padding-top: 37px;
        }
      }

      .search-result-wrapper {
        @include media-breakpoint-up(md) {
          margin-bottom: 26px;
        }
      }

      .sort-results-container {
        border-left: none;
      }

      .product-tile-section {
        padding-right: 0;
      }

    }

    .search-result-content {
      border-bottom: none;
      padding-bottom: 20px;
    }

  }
}

.gucci-handbag-cta {
  margin: 0;

  @include media-breakpoint-up(sm) {
    margin: 0 -15px 38px -15px;
  }
}

.product-detail {
  .click-2-order-message {
    .ctc-messages {
      &.gucci-handbag-ctc {
        margin-top: 21px;
        @include media-breakpoint-down(xs) {
          margin-bottom: 18px;
          margin-top: 26px;
        }
      }
    }
  }
}

.container {
  &.search-results {
    &.gucci-brand-plp {
      margin-top: 22px;

      @include media-breakpoint-down(sm) {
        margin-top: 18px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 13px;
      }

      .refinement-bar {
        padding-right: 0;

        .search-result-content {
          padding-bottom: 18px;
        }
      }

      .search-results-header {
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 14px;
        }
      }

      .filter-section-tablet {
        @include media-breakpoint-down(sm) {
          padding: 5px 20px 18px;
        }
      }

      .plp-heading-sort-wrap {
        padding-top: 37px;

        @include media-breakpoint-down(sm) {
          padding-top: 27px;
        }

        @include media-breakpoint-down(xs) {
          padding-top: 0;
        }
      }

      .product-tile-section {
        @include media-breakpoint-up(lg) {
          padding-left: 15px;
          padding-right: 0;
        }

        .col-xl-3 {
          @include media-breakpoint-down(xs) {
            padding: 0 8px;
          }
        }
      }

      .category-refinment-mobile {
        .category-refinement-bar {
          .catgories-values {
            a {
              margin-right: 10px;
              padding: 9px 10px;
            }
          }
        }

        .category-refinement-bar {
          @include media-breakpoint-down(lg) {
            margin-bottom: 11px;
          }
        }
      }
    }
  }
}
