.accept {
  background: url(../icons/famfamfam.png) -0px -0px;
}
.add {
  background: url(../icons/famfamfam.png) -16px -0px;
}
.anchor {
  background: url(../icons/famfamfam.png) -32px -0px;
}
.application {
  background: url(../icons/famfamfam.png) -48px -0px;
}
.application_add {
  background: url(../icons/famfamfam.png) -64px -0px;
}
.application_cascade {
  background: url(../icons/famfamfam.png) -80px -0px;
}
.application_delete {
  background: url(../icons/famfamfam.png) -96px -0px;
}
.application_double {
  background: url(../icons/famfamfam.png) -112px -0px;
}
.application_edit {
  background: url(../icons/famfamfam.png) -128px -0px;
}
.application_error {
  background: url(../icons/famfamfam.png) -144px -0px;
}
.application_form {
  background: url(../icons/famfamfam.png) -160px -0px;
}
.application_form_add {
  background: url(../icons/famfamfam.png) -176px -0px;
}
.application_form_delete {
  background: url(../icons/famfamfam.png) -192px -0px;
}
.application_form_edit {
  background: url(../icons/famfamfam.png) -208px -0px;
}
.application_form_magnify {
  background: url(../icons/famfamfam.png) -224px -0px;
}
.application_get {
  background: url(../icons/famfamfam.png) -240px -0px;
}
.application_go {
  background: url(../icons/famfamfam.png) -256px -0px;
}
.application_home {
  background: url(../icons/famfamfam.png) -272px -0px;
}
.application_key {
  background: url(../icons/famfamfam.png) -288px -0px;
}
.application_lightning {
  background: url(../icons/famfamfam.png) -304px -0px;
}
.application_link {
  background: url(../icons/famfamfam.png) -320px -0px;
}
.application_osx {
  background: url(../icons/famfamfam.png) -336px -0px;
}
.application_osx_terminal {
  background: url(../icons/famfamfam.png) -352px -0px;
}
.application_put {
  background: url(../icons/famfamfam.png) -368px -0px;
}
.application_side_boxes {
  background: url(../icons/famfamfam.png) -384px -0px;
}
.application_side_contract {
  background: url(../icons/famfamfam.png) -400px -0px;
}
.application_side_expand {
  background: url(../icons/famfamfam.png) -416px -0px;
}
.application_side_list {
  background: url(../icons/famfamfam.png) -432px -0px;
}
.application_side_tree {
  background: url(../icons/famfamfam.png) -448px -0px;
}
.application_split {
  background: url(../icons/famfamfam.png) -464px -0px;
}
.application_tile_horizontal {
  background: url(../icons/famfamfam.png) -480px -0px;
}
.application_tile_vertical {
  background: url(../icons/famfamfam.png) -496px -0px;
}
.application_view_columns {
  background: url(../icons/famfamfam.png) -512px -0px;
}
.application_view_detail {
  background: url(../icons/famfamfam.png) -528px -0px;
}
.application_view_gallery {
  background: url(../icons/famfamfam.png) -544px -0px;
}
.application_view_icons {
  background: url(../icons/famfamfam.png) -560px -0px;
}
.application_view_list {
  background: url(../icons/famfamfam.png) -576px -0px;
}
.application_view_tile {
  background: url(../icons/famfamfam.png) -592px -0px;
}
.application_xp {
  background: url(../icons/famfamfam.png) -608px -0px;
}
.application_xp_terminal {
  background: url(../icons/famfamfam.png) -624px -0px;
}
.arrow_branch {
  background: url(../icons/famfamfam.png) -0px -16px;
}
.arrow_divide {
  background: url(../icons/famfamfam.png) -16px -16px;
}
.arrow_down {
  background: url(../icons/famfamfam.png) -32px -16px;
}
.arrow_in {
  background: url(../icons/famfamfam.png) -48px -16px;
}
.arrow_inout {
  background: url(../icons/famfamfam.png) -64px -16px;
}
.arrow_join {
  background: url(../icons/famfamfam.png) -80px -16px;
}
.arrow_left {
  background: url(../icons/famfamfam.png) -96px -16px;
}
.arrow_merge {
  background: url(../icons/famfamfam.png) -112px -16px;
}
.arrow_out {
  background: url(../icons/famfamfam.png) -128px -16px;
}
.arrow_redo {
  background: url(../icons/famfamfam.png) -144px -16px;
}
.arrow_refresh {
  background: url(../icons/famfamfam.png) -160px -16px;
}
.arrow_refresh_small {
  background: url(../icons/famfamfam.png) -176px -16px;
}
.arrow_right {
  background: url(../icons/famfamfam.png) -192px -16px;
}
.arrow_rotate_anticlockwise {
  background: url(../icons/famfamfam.png) -208px -16px;
}
.arrow_rotate_clockwise {
  background: url(../icons/famfamfam.png) -224px -16px;
}
.arrow_switch {
  background: url(../icons/famfamfam.png) -240px -16px;
}
.arrow_turn_left {
  background: url(../icons/famfamfam.png) -256px -16px;
}
.arrow_turn_right {
  background: url(../icons/famfamfam.png) -272px -16px;
}
.arrow_undo {
  background: url(../icons/famfamfam.png) -288px -16px;
}
.arrow_up {
  background: url(../icons/famfamfam.png) -304px -16px;
}
.asterisk_orange {
  background: url(../icons/famfamfam.png) -320px -16px;
}
.asterisk_yellow {
  background: url(../icons/famfamfam.png) -336px -16px;
}
.attach {
  background: url(../icons/famfamfam.png) -352px -16px;
}
.award_star_add {
  background: url(../icons/famfamfam.png) -368px -16px;
}
.award_star_bronze_1 {
  background: url(../icons/famfamfam.png) -384px -16px;
}
.award_star_bronze_2 {
  background: url(../icons/famfamfam.png) -400px -16px;
}
.award_star_bronze_3 {
  background: url(../icons/famfamfam.png) -416px -16px;
}
.award_star_delete {
  background: url(../icons/famfamfam.png) -432px -16px;
}
.award_star_gold_1 {
  background: url(../icons/famfamfam.png) -448px -16px;
}
.award_star_gold_2 {
  background: url(../icons/famfamfam.png) -464px -16px;
}
.award_star_gold_3 {
  background: url(../icons/famfamfam.png) -480px -16px;
}
.award_star_silver_1 {
  background: url(../icons/famfamfam.png) -496px -16px;
}
.award_star_silver_2 {
  background: url(../icons/famfamfam.png) -512px -16px;
}
.award_star_silver_3 {
  background: url(../icons/famfamfam.png) -528px -16px;
}
.basket {
  background: url(../icons/famfamfam.png) -544px -16px;
}
.basket_add {
  background: url(../icons/famfamfam.png) -560px -16px;
}
.basket_delete {
  background: url(../icons/famfamfam.png) -576px -16px;
}
.basket_edit {
  background: url(../icons/famfamfam.png) -592px -16px;
}
.basket_error {
  background: url(../icons/famfamfam.png) -608px -16px;
}
.basket_go {
  background: url(../icons/famfamfam.png) -624px -16px;
}
.basket_put {
  background: url(../icons/famfamfam.png) -0px -32px;
}
.basket_remove {
  background: url(../icons/famfamfam.png) -16px -32px;
}
.bell {
  background: url(../icons/famfamfam.png) -32px -32px;
}
.bell_add {
  background: url(../icons/famfamfam.png) -48px -32px;
}
.bell_delete {
  background: url(../icons/famfamfam.png) -64px -32px;
}
.bell_error {
  background: url(../icons/famfamfam.png) -80px -32px;
}
.bell_go {
  background: url(../icons/famfamfam.png) -96px -32px;
}
.bell_link {
  background: url(../icons/famfamfam.png) -112px -32px;
}
.bin {
  background: url(../icons/famfamfam.png) -128px -32px;
}
.bin_closed {
  background: url(../icons/famfamfam.png) -144px -32px;
}
.bin_empty {
  background: url(../icons/famfamfam.png) -160px -32px;
}
.bomb {
  background: url(../icons/famfamfam.png) -176px -32px;
}
.book {
  background: url(../icons/famfamfam.png) -192px -32px;
}
.book_add {
  background: url(../icons/famfamfam.png) -208px -32px;
}
.book_addresses {
  background: url(../icons/famfamfam.png) -224px -32px;
}
.book_delete {
  background: url(../icons/famfamfam.png) -240px -32px;
}
.book_edit {
  background: url(../icons/famfamfam.png) -256px -32px;
}
.book_error {
  background: url(../icons/famfamfam.png) -272px -32px;
}
.book_go {
  background: url(../icons/famfamfam.png) -288px -32px;
}
.book_key {
  background: url(../icons/famfamfam.png) -304px -32px;
}
.book_link {
  background: url(../icons/famfamfam.png) -320px -32px;
}
.book_next {
  background: url(../icons/famfamfam.png) -336px -32px;
}
.book_open {
  background: url(../icons/famfamfam.png) -352px -32px;
}
.book_previous {
  background: url(../icons/famfamfam.png) -368px -32px;
}
.box {
  background: url(../icons/famfamfam.png) -384px -32px;
}
.brick {
  background: url(../icons/famfamfam.png) -400px -32px;
}
.brick_add {
  background: url(../icons/famfamfam.png) -416px -32px;
}
.brick_delete {
  background: url(../icons/famfamfam.png) -432px -32px;
}
.brick_edit {
  background: url(../icons/famfamfam.png) -448px -32px;
}
.brick_error {
  background: url(../icons/famfamfam.png) -464px -32px;
}
.brick_go {
  background: url(../icons/famfamfam.png) -480px -32px;
}
.brick_link {
  background: url(../icons/famfamfam.png) -496px -32px;
}
.bricks {
  background: url(../icons/famfamfam.png) -512px -32px;
}
.briefcase {
  background: url(../icons/famfamfam.png) -528px -32px;
}
.bug {
  background: url(../icons/famfamfam.png) -544px -32px;
}
.bug_add {
  background: url(../icons/famfamfam.png) -560px -32px;
}
.bug_delete {
  background: url(../icons/famfamfam.png) -576px -32px;
}
.bug_edit {
  background: url(../icons/famfamfam.png) -592px -32px;
}
.bug_error {
  background: url(../icons/famfamfam.png) -608px -32px;
}
.bug_go {
  background: url(../icons/famfamfam.png) -624px -32px;
}
.bug_link {
  background: url(../icons/famfamfam.png) -0px -48px;
}
.building {
  background: url(../icons/famfamfam.png) -16px -48px;
}
.building_add {
  background: url(../icons/famfamfam.png) -32px -48px;
}
.building_delete {
  background: url(../icons/famfamfam.png) -48px -48px;
}
.building_edit {
  background: url(../icons/famfamfam.png) -64px -48px;
}
.building_error {
  background: url(../icons/famfamfam.png) -80px -48px;
}
.building_go {
  background: url(../icons/famfamfam.png) -96px -48px;
}
.building_key {
  background: url(../icons/famfamfam.png) -112px -48px;
}
.building_link {
  background: url(../icons/famfamfam.png) -128px -48px;
}
.bullet_add {
  background: url(../icons/famfamfam.png) -144px -48px;
}
.bullet_arrow_bottom {
  background: url(../icons/famfamfam.png) -160px -48px;
}
.bullet_arrow_down {
  background: url(../icons/famfamfam.png) -176px -48px;
}
.bullet_arrow_top {
  background: url(../icons/famfamfam.png) -192px -48px;
}
.bullet_arrow_up {
  background: url(../icons/famfamfam.png) -208px -48px;
}
.bullet_black {
  background: url(../icons/famfamfam.png) -224px -48px;
}
.bullet_blue {
  background: url(../icons/famfamfam.png) -240px -48px;
}
.bullet_delete {
  background: url(../icons/famfamfam.png) -256px -48px;
}
.bullet_disk {
  background: url(../icons/famfamfam.png) -272px -48px;
}
.bullet_error {
  background: url(../icons/famfamfam.png) -288px -48px;
}
.bullet_feed {
  background: url(../icons/famfamfam.png) -304px -48px;
}
.bullet_go {
  background: url(../icons/famfamfam.png) -320px -48px;
}
.bullet_green {
  background: url(../icons/famfamfam.png) -336px -48px;
}
.bullet_key {
  background: url(../icons/famfamfam.png) -352px -48px;
}
.bullet_orange {
  background: url(../icons/famfamfam.png) -368px -48px;
}
.bullet_picture {
  background: url(../icons/famfamfam.png) -384px -48px;
}
.bullet_pink {
  background: url(../icons/famfamfam.png) -400px -48px;
}
.bullet_purple {
  background: url(../icons/famfamfam.png) -416px -48px;
}
.bullet_red {
  background: url(../icons/famfamfam.png) -432px -48px;
}
.bullet_star {
  background: url(../icons/famfamfam.png) -448px -48px;
}
.bullet_toggle_minus {
  background: url(../icons/famfamfam.png) -464px -48px;
}
.bullet_toggle_plus {
  background: url(../icons/famfamfam.png) -480px -48px;
}
.bullet_white {
  background: url(../icons/famfamfam.png) -496px -48px;
}
.bullet_wrench {
  background: url(../icons/famfamfam.png) -512px -48px;
}
.bullet_yellow {
  background: url(../icons/famfamfam.png) -528px -48px;
}
.cake {
  background: url(../icons/famfamfam.png) -544px -48px;
}
.calculator {
  background: url(../icons/famfamfam.png) -560px -48px;
}
.calculator_add {
  background: url(../icons/famfamfam.png) -576px -48px;
}
.calculator_delete {
  background: url(../icons/famfamfam.png) -592px -48px;
}
.calculator_edit {
  background: url(../icons/famfamfam.png) -608px -48px;
}
.calculator_error {
  background: url(../icons/famfamfam.png) -624px -48px;
}
.calculator_link {
  background: url(../icons/famfamfam.png) -0px -64px;
}
.calendar {
  background: url(../icons/famfamfam.png) -16px -64px;
}
.calendar_add {
  background: url(../icons/famfamfam.png) -32px -64px;
}
.calendar_delete {
  background: url(../icons/famfamfam.png) -48px -64px;
}
.calendar_edit {
  background: url(../icons/famfamfam.png) -64px -64px;
}
.calendar_link {
  background: url(../icons/famfamfam.png) -80px -64px;
}
.calendar_view_day {
  background: url(../icons/famfamfam.png) -96px -64px;
}
.calendar_view_month {
  background: url(../icons/famfamfam.png) -112px -64px;
}
.calendar_view_week {
  background: url(../icons/famfamfam.png) -128px -64px;
}
.camera {
  background: url(../icons/famfamfam.png) -144px -64px;
}
.camera_add {
  background: url(../icons/famfamfam.png) -160px -64px;
}
.camera_delete {
  background: url(../icons/famfamfam.png) -176px -64px;
}
.camera_edit {
  background: url(../icons/famfamfam.png) -192px -64px;
}
.camera_error {
  background: url(../icons/famfamfam.png) -208px -64px;
}
.camera_go {
  background: url(../icons/famfamfam.png) -224px -64px;
}
.camera_link {
  background: url(../icons/famfamfam.png) -240px -64px;
}
.camera_small {
  background: url(../icons/famfamfam.png) -256px -64px;
}
.cancel {
  background: url(../icons/famfamfam.png) -272px -64px;
}
.car {
  background: url(../icons/famfamfam.png) -288px -64px;
}
.car_add {
  background: url(../icons/famfamfam.png) -304px -64px;
}
.car_delete {
  background: url(../icons/famfamfam.png) -320px -64px;
}
.cart {
  background: url(../icons/famfamfam.png) -336px -64px;
}
.cart_add {
  background: url(../icons/famfamfam.png) -352px -64px;
}
.cart_delete {
  background: url(../icons/famfamfam.png) -368px -64px;
}
.cart_edit {
  background: url(../icons/famfamfam.png) -384px -64px;
}
.cart_error {
  background: url(../icons/famfamfam.png) -400px -64px;
}
.cart_go {
  background: url(../icons/famfamfam.png) -416px -64px;
}
.cart_put {
  background: url(../icons/famfamfam.png) -432px -64px;
}
.cart_remove {
  background: url(../icons/famfamfam.png) -448px -64px;
}
.cd {
  background: url(../icons/famfamfam.png) -464px -64px;
}
.cd_add {
  background: url(../icons/famfamfam.png) -480px -64px;
}
.cd_burn {
  background: url(../icons/famfamfam.png) -496px -64px;
}
.cd_delete {
  background: url(../icons/famfamfam.png) -512px -64px;
}
.cd_edit {
  background: url(../icons/famfamfam.png) -528px -64px;
}
.cd_eject {
  background: url(../icons/famfamfam.png) -544px -64px;
}
.cd_go {
  background: url(../icons/famfamfam.png) -560px -64px;
}
.chart_bar {
  background: url(../icons/famfamfam.png) -576px -64px;
}
.chart_bar_add {
  background: url(../icons/famfamfam.png) -592px -64px;
}
.chart_bar_delete {
  background: url(../icons/famfamfam.png) -608px -64px;
}
.chart_bar_edit {
  background: url(../icons/famfamfam.png) -624px -64px;
}
.chart_bar_error {
  background: url(../icons/famfamfam.png) -0px -80px;
}
.chart_bar_link {
  background: url(../icons/famfamfam.png) -16px -80px;
}
.chart_curve {
  background: url(../icons/famfamfam.png) -32px -80px;
}
.chart_curve_add {
  background: url(../icons/famfamfam.png) -48px -80px;
}
.chart_curve_delete {
  background: url(../icons/famfamfam.png) -64px -80px;
}
.chart_curve_edit {
  background: url(../icons/famfamfam.png) -80px -80px;
}
.chart_curve_error {
  background: url(../icons/famfamfam.png) -96px -80px;
}
.chart_curve_go {
  background: url(../icons/famfamfam.png) -112px -80px;
}
.chart_curve_link {
  background: url(../icons/famfamfam.png) -128px -80px;
}
.chart_line {
  background: url(../icons/famfamfam.png) -144px -80px;
}
.chart_line_add {
  background: url(../icons/famfamfam.png) -160px -80px;
}
.chart_line_delete {
  background: url(../icons/famfamfam.png) -176px -80px;
}
.chart_line_edit {
  background: url(../icons/famfamfam.png) -192px -80px;
}
.chart_line_error {
  background: url(../icons/famfamfam.png) -208px -80px;
}
.chart_line_link {
  background: url(../icons/famfamfam.png) -224px -80px;
}
.chart_organisation {
  background: url(../icons/famfamfam.png) -240px -80px;
}
.chart_organisation_add {
  background: url(../icons/famfamfam.png) -256px -80px;
}
.chart_organisation_delete {
  background: url(../icons/famfamfam.png) -272px -80px;
}
.chart_pie {
  background: url(../icons/famfamfam.png) -288px -80px;
}
.chart_pie_add {
  background: url(../icons/famfamfam.png) -304px -80px;
}
.chart_pie_delete {
  background: url(../icons/famfamfam.png) -320px -80px;
}
.chart_pie_edit {
  background: url(../icons/famfamfam.png) -336px -80px;
}
.chart_pie_error {
  background: url(../icons/famfamfam.png) -352px -80px;
}
.chart_pie_link {
  background: url(../icons/famfamfam.png) -368px -80px;
}
.clock {
  background: url(../icons/famfamfam.png) -384px -80px;
}
.clock_add {
  background: url(../icons/famfamfam.png) -400px -80px;
}
.clock_delete {
  background: url(../icons/famfamfam.png) -416px -80px;
}
.clock_edit {
  background: url(../icons/famfamfam.png) -432px -80px;
}
.clock_error {
  background: url(../icons/famfamfam.png) -448px -80px;
}
.clock_go {
  background: url(../icons/famfamfam.png) -464px -80px;
}
.clock_link {
  background: url(../icons/famfamfam.png) -480px -80px;
}
.clock_pause {
  background: url(../icons/famfamfam.png) -496px -80px;
}
.clock_play {
  background: url(../icons/famfamfam.png) -512px -80px;
}
.clock_red {
  background: url(../icons/famfamfam.png) -528px -80px;
}
.clock_stop {
  background: url(../icons/famfamfam.png) -544px -80px;
}
.cog {
  background: url(../icons/famfamfam.png) -560px -80px;
}
.cog_add {
  background: url(../icons/famfamfam.png) -576px -80px;
}
.cog_delete {
  background: url(../icons/famfamfam.png) -592px -80px;
}
.cog_edit {
  background: url(../icons/famfamfam.png) -608px -80px;
}
.cog_error {
  background: url(../icons/famfamfam.png) -624px -80px;
}
.cog_go {
  background: url(../icons/famfamfam.png) -0px -96px;
}
.coins {
  background: url(../icons/famfamfam.png) -16px -96px;
}
.coins_add {
  background: url(../icons/famfamfam.png) -32px -96px;
}
.coins_delete {
  background: url(../icons/famfamfam.png) -48px -96px;
}
.color_swatch {
  background: url(../icons/famfamfam.png) -64px -96px;
}
.color_wheel {
  background: url(../icons/famfamfam.png) -80px -96px;
}
.comment {
  background: url(../icons/famfamfam.png) -96px -96px;
}
.comment_add {
  background: url(../icons/famfamfam.png) -112px -96px;
}
.comment_delete {
  background: url(../icons/famfamfam.png) -128px -96px;
}
.comment_edit {
  background: url(../icons/famfamfam.png) -144px -96px;
}
.comments {
  background: url(../icons/famfamfam.png) -160px -96px;
}
.comments_add {
  background: url(../icons/famfamfam.png) -176px -96px;
}
.comments_delete {
  background: url(../icons/famfamfam.png) -192px -96px;
}
.compress {
  background: url(../icons/famfamfam.png) -208px -96px;
}
.computer {
  background: url(../icons/famfamfam.png) -224px -96px;
}
.computer_add {
  background: url(../icons/famfamfam.png) -240px -96px;
}
.computer_delete {
  background: url(../icons/famfamfam.png) -256px -96px;
}
.computer_edit {
  background: url(../icons/famfamfam.png) -272px -96px;
}
.computer_error {
  background: url(../icons/famfamfam.png) -288px -96px;
}
.computer_go {
  background: url(../icons/famfamfam.png) -304px -96px;
}
.computer_key {
  background: url(../icons/famfamfam.png) -320px -96px;
}
.computer_link {
  background: url(../icons/famfamfam.png) -336px -96px;
}
.connect {
  background: url(../icons/famfamfam.png) -352px -96px;
}
.contrast {
  background: url(../icons/famfamfam.png) -368px -96px;
}
.contrast_decrease {
  background: url(../icons/famfamfam.png) -384px -96px;
}
.contrast_high {
  background: url(../icons/famfamfam.png) -400px -96px;
}
.contrast_increase {
  background: url(../icons/famfamfam.png) -416px -96px;
}
.contrast_low {
  background: url(../icons/famfamfam.png) -432px -96px;
}
.control_eject {
  background: url(../icons/famfamfam.png) -448px -96px;
}
.control_eject_blue {
  background: url(../icons/famfamfam.png) -464px -96px;
}
.control_end {
  background: url(../icons/famfamfam.png) -480px -96px;
}
.control_end_blue {
  background: url(../icons/famfamfam.png) -496px -96px;
}
.control_equalizer {
  background: url(../icons/famfamfam.png) -512px -96px;
}
.control_equalizer_blue {
  background: url(../icons/famfamfam.png) -528px -96px;
}
.control_fastforward {
  background: url(../icons/famfamfam.png) -544px -96px;
}
.control_fastforward_blue {
  background: url(../icons/famfamfam.png) -560px -96px;
}
.control_pause {
  background: url(../icons/famfamfam.png) -576px -96px;
}
.control_pause_blue {
  background: url(../icons/famfamfam.png) -592px -96px;
}
.control_play {
  background: url(../icons/famfamfam.png) -608px -96px;
}
.control_play_blue {
  background: url(../icons/famfamfam.png) -624px -96px;
}
.control_repeat {
  background: url(../icons/famfamfam.png) -0px -112px;
}
.control_repeat_blue {
  background: url(../icons/famfamfam.png) -16px -112px;
}
.control_rewind {
  background: url(../icons/famfamfam.png) -32px -112px;
}
.control_rewind_blue {
  background: url(../icons/famfamfam.png) -48px -112px;
}
.control_start {
  background: url(../icons/famfamfam.png) -64px -112px;
}
.control_start_blue {
  background: url(../icons/famfamfam.png) -80px -112px;
}
.control_stop {
  background: url(../icons/famfamfam.png) -96px -112px;
}
.control_stop_blue {
  background: url(../icons/famfamfam.png) -112px -112px;
}
.controller {
  background: url(../icons/famfamfam.png) -128px -112px;
}
.controller_add {
  background: url(../icons/famfamfam.png) -144px -112px;
}
.controller_delete {
  background: url(../icons/famfamfam.png) -160px -112px;
}
.controller_error {
  background: url(../icons/famfamfam.png) -176px -112px;
}
.creditcards {
  background: url(../icons/famfamfam.png) -192px -112px;
}
.cross {
  background: url(../icons/famfamfam.png) -208px -112px;
}
.css {
  background: url(../icons/famfamfam.png) -224px -112px;
}
.css_add {
  background: url(../icons/famfamfam.png) -240px -112px;
}
.css_delete {
  background: url(../icons/famfamfam.png) -256px -112px;
}
.css_go {
  background: url(../icons/famfamfam.png) -272px -112px;
}
.css_valid {
  background: url(../icons/famfamfam.png) -288px -112px;
}
.cup {
  background: url(../icons/famfamfam.png) -304px -112px;
}
.cup_add {
  background: url(../icons/famfamfam.png) -320px -112px;
}
.cup_delete {
  background: url(../icons/famfamfam.png) -336px -112px;
}
.cup_edit {
  background: url(../icons/famfamfam.png) -352px -112px;
}
.cup_error {
  background: url(../icons/famfamfam.png) -368px -112px;
}
.cup_go {
  background: url(../icons/famfamfam.png) -384px -112px;
}
.cup_key {
  background: url(../icons/famfamfam.png) -400px -112px;
}
.cup_link {
  background: url(../icons/famfamfam.png) -416px -112px;
}
.cursor {
  background: url(../icons/famfamfam.png) -432px -112px;
}
.cut {
  background: url(../icons/famfamfam.png) -448px -112px;
}
.cut_red {
  background: url(../icons/famfamfam.png) -464px -112px;
}
.database {
  background: url(../icons/famfamfam.png) -480px -112px;
}
.database_add {
  background: url(../icons/famfamfam.png) -496px -112px;
}
.database_connect {
  background: url(../icons/famfamfam.png) -512px -112px;
}
.database_delete {
  background: url(../icons/famfamfam.png) -528px -112px;
}
.database_edit {
  background: url(../icons/famfamfam.png) -544px -112px;
}
.database_error {
  background: url(../icons/famfamfam.png) -560px -112px;
}
.database_gear {
  background: url(../icons/famfamfam.png) -576px -112px;
}
.database_go {
  background: url(../icons/famfamfam.png) -592px -112px;
}
.database_key {
  background: url(../icons/famfamfam.png) -608px -112px;
}
.database_lightning {
  background: url(../icons/famfamfam.png) -624px -112px;
}
.database_link {
  background: url(../icons/famfamfam.png) -0px -128px;
}
.database_refresh {
  background: url(../icons/famfamfam.png) -16px -128px;
}
.database_save {
  background: url(../icons/famfamfam.png) -32px -128px;
}
.database_table {
  background: url(../icons/famfamfam.png) -48px -128px;
}
.date {
  background: url(../icons/famfamfam.png) -64px -128px;
}
.date_add {
  background: url(../icons/famfamfam.png) -80px -128px;
}
.date_delete {
  background: url(../icons/famfamfam.png) -96px -128px;
}
.date_edit {
  background: url(../icons/famfamfam.png) -112px -128px;
}
.date_error {
  background: url(../icons/famfamfam.png) -128px -128px;
}
.date_go {
  background: url(../icons/famfamfam.png) -144px -128px;
}
.date_link {
  background: url(../icons/famfamfam.png) -160px -128px;
}
.date_magnify {
  background: url(../icons/famfamfam.png) -176px -128px;
}
.date_next {
  background: url(../icons/famfamfam.png) -192px -128px;
}
.date_previous {
  background: url(../icons/famfamfam.png) -208px -128px;
}
.delete {
  background: url(../icons/famfamfam.png) -224px -128px;
}
.disconnect {
  background: url(../icons/famfamfam.png) -240px -128px;
}
.disk {
  background: url(../icons/famfamfam.png) -256px -128px;
}
.disk_multiple {
  background: url(../icons/famfamfam.png) -272px -128px;
}
.door {
  background: url(../icons/famfamfam.png) -288px -128px;
}
.door_in {
  background: url(../icons/famfamfam.png) -304px -128px;
}
.door_open {
  background: url(../icons/famfamfam.png) -320px -128px;
}
.door_out {
  background: url(../icons/famfamfam.png) -336px -128px;
}
.drink {
  background: url(../icons/famfamfam.png) -352px -128px;
}
.drink_empty {
  background: url(../icons/famfamfam.png) -368px -128px;
}
.drive {
  background: url(../icons/famfamfam.png) -384px -128px;
}
.drive_add {
  background: url(../icons/famfamfam.png) -400px -128px;
}
.drive_burn {
  background: url(../icons/famfamfam.png) -416px -128px;
}
.drive_cd {
  background: url(../icons/famfamfam.png) -432px -128px;
}
.drive_cd_empty {
  background: url(../icons/famfamfam.png) -448px -128px;
}
.drive_delete {
  background: url(../icons/famfamfam.png) -464px -128px;
}
.drive_disk {
  background: url(../icons/famfamfam.png) -480px -128px;
}
.drive_edit {
  background: url(../icons/famfamfam.png) -496px -128px;
}
.drive_error {
  background: url(../icons/famfamfam.png) -512px -128px;
}
.drive_go {
  background: url(../icons/famfamfam.png) -528px -128px;
}
.drive_key {
  background: url(../icons/famfamfam.png) -544px -128px;
}
.drive_link {
  background: url(../icons/famfamfam.png) -560px -128px;
}
.drive_magnify {
  background: url(../icons/famfamfam.png) -576px -128px;
}
.drive_network {
  background: url(../icons/famfamfam.png) -592px -128px;
}
.drive_rename {
  background: url(../icons/famfamfam.png) -608px -128px;
}
.drive_user {
  background: url(../icons/famfamfam.png) -624px -128px;
}
.drive_web {
  background: url(../icons/famfamfam.png) -0px -144px;
}
.dvd {
  background: url(../icons/famfamfam.png) -16px -144px;
}
.dvd_add {
  background: url(../icons/famfamfam.png) -32px -144px;
}
.dvd_delete {
  background: url(../icons/famfamfam.png) -48px -144px;
}
.dvd_edit {
  background: url(../icons/famfamfam.png) -64px -144px;
}
.dvd_error {
  background: url(../icons/famfamfam.png) -80px -144px;
}
.dvd_go {
  background: url(../icons/famfamfam.png) -96px -144px;
}
.dvd_key {
  background: url(../icons/famfamfam.png) -112px -144px;
}
.dvd_link {
  background: url(../icons/famfamfam.png) -128px -144px;
}
.email {
  background: url(../icons/famfamfam.png) -144px -144px;
}
.email_add {
  background: url(../icons/famfamfam.png) -160px -144px;
}
.email_attach {
  background: url(../icons/famfamfam.png) -176px -144px;
}
.email_delete {
  background: url(../icons/famfamfam.png) -192px -144px;
}
.email_edit {
  background: url(../icons/famfamfam.png) -208px -144px;
}
.email_error {
  background: url(../icons/famfamfam.png) -224px -144px;
}
.email_go {
  background: url(../icons/famfamfam.png) -240px -144px;
}
.email_link {
  background: url(../icons/famfamfam.png) -256px -144px;
}
.email_open {
  background: url(../icons/famfamfam.png) -272px -144px;
}
.email_open_image {
  background: url(../icons/famfamfam.png) -288px -144px;
}
.emoticon_evilgrin {
  background: url(../icons/famfamfam.png) -304px -144px;
}
.emoticon_grin {
  background: url(../icons/famfamfam.png) -320px -144px;
}
.emoticon_happy {
  background: url(../icons/famfamfam.png) -336px -144px;
}
.emoticon_smile {
  background: url(../icons/famfamfam.png) -352px -144px;
}
.emoticon_surprised {
  background: url(../icons/famfamfam.png) -368px -144px;
}
.emoticon_tongue {
  background: url(../icons/famfamfam.png) -384px -144px;
}
.emoticon_unhappy {
  background: url(../icons/famfamfam.png) -400px -144px;
}
.emoticon_waii {
  background: url(../icons/famfamfam.png) -416px -144px;
}
.emoticon_wink {
  background: url(../icons/famfamfam.png) -432px -144px;
}
.error {
  background: url(../icons/famfamfam.png) -448px -144px;
}
.error_add {
  background: url(../icons/famfamfam.png) -464px -144px;
}
.error_delete {
  background: url(../icons/famfamfam.png) -480px -144px;
}
.error_go {
  background: url(../icons/famfamfam.png) -496px -144px;
}
.exclamation {
  background: url(../icons/famfamfam.png) -512px -144px;
}
.eye {
  background: url(../icons/famfamfam.png) -528px -144px;
}
.feed {
  background: url(../icons/famfamfam.png) -544px -144px;
}
.feed_add {
  background: url(../icons/famfamfam.png) -560px -144px;
}
.feed_delete {
  background: url(../icons/famfamfam.png) -576px -144px;
}
.feed_disk {
  background: url(../icons/famfamfam.png) -592px -144px;
}
.feed_edit {
  background: url(../icons/famfamfam.png) -608px -144px;
}
.feed_error {
  background: url(../icons/famfamfam.png) -624px -144px;
}
.feed_go {
  background: url(../icons/famfamfam.png) -0px -160px;
}
.feed_key {
  background: url(../icons/famfamfam.png) -16px -160px;
}
.feed_link {
  background: url(../icons/famfamfam.png) -32px -160px;
}
.feed_magnify {
  background: url(../icons/famfamfam.png) -48px -160px;
}
.female {
  background: url(../icons/famfamfam.png) -64px -160px;
}
.film {
  background: url(../icons/famfamfam.png) -80px -160px;
}
.film_add {
  background: url(../icons/famfamfam.png) -96px -160px;
}
.film_delete {
  background: url(../icons/famfamfam.png) -112px -160px;
}
.film_edit {
  background: url(../icons/famfamfam.png) -128px -160px;
}
.film_error {
  background: url(../icons/famfamfam.png) -144px -160px;
}
.film_go {
  background: url(../icons/famfamfam.png) -160px -160px;
}
.film_key {
  background: url(../icons/famfamfam.png) -176px -160px;
}
.film_link {
  background: url(../icons/famfamfam.png) -192px -160px;
}
.film_save {
  background: url(../icons/famfamfam.png) -208px -160px;
}
.find {
  background: url(../icons/famfamfam.png) -224px -160px;
}
.flag_blue {
  background: url(../icons/famfamfam.png) -240px -160px;
}
.flag_green {
  background: url(../icons/famfamfam.png) -256px -160px;
}
.flag_orange {
  background: url(../icons/famfamfam.png) -272px -160px;
}
.flag_pink {
  background: url(../icons/famfamfam.png) -288px -160px;
}
.flag_purple {
  background: url(../icons/famfamfam.png) -304px -160px;
}
.flag_red {
  background: url(../icons/famfamfam.png) -320px -160px;
}
.flag_yellow {
  background: url(../icons/famfamfam.png) -336px -160px;
}
.folder {
  background: url(../icons/famfamfam.png) -352px -160px;
}
.folder_add {
  background: url(../icons/famfamfam.png) -368px -160px;
}
.folder_bell {
  background: url(../icons/famfamfam.png) -384px -160px;
}
.folder_brick {
  background: url(../icons/famfamfam.png) -400px -160px;
}
.folder_bug {
  background: url(../icons/famfamfam.png) -416px -160px;
}
.folder_camera {
  background: url(../icons/famfamfam.png) -432px -160px;
}
.folder_database {
  background: url(../icons/famfamfam.png) -448px -160px;
}
.folder_delete {
  background: url(../icons/famfamfam.png) -464px -160px;
}
.folder_edit {
  background: url(../icons/famfamfam.png) -480px -160px;
}
.folder_error {
  background: url(../icons/famfamfam.png) -496px -160px;
}
.folder_explore {
  background: url(../icons/famfamfam.png) -512px -160px;
}
.folder_feed {
  background: url(../icons/famfamfam.png) -528px -160px;
}
.folder_find {
  background: url(../icons/famfamfam.png) -544px -160px;
}
.folder_go {
  background: url(../icons/famfamfam.png) -560px -160px;
}
.folder_heart {
  background: url(../icons/famfamfam.png) -576px -160px;
}
.folder_image {
  background: url(../icons/famfamfam.png) -592px -160px;
}
.folder_key {
  background: url(../icons/famfamfam.png) -608px -160px;
}
.folder_lightbulb {
  background: url(../icons/famfamfam.png) -624px -160px;
}
.folder_link {
  background: url(../icons/famfamfam.png) -0px -176px;
}
.folder_magnify {
  background: url(../icons/famfamfam.png) -16px -176px;
}
.folder_page {
  background: url(../icons/famfamfam.png) -32px -176px;
}
.folder_page_white {
  background: url(../icons/famfamfam.png) -48px -176px;
}
.folder_palette {
  background: url(../icons/famfamfam.png) -64px -176px;
}
.folder_picture {
  background: url(../icons/famfamfam.png) -80px -176px;
}
.folder_star {
  background: url(../icons/famfamfam.png) -96px -176px;
}
.folder_table {
  background: url(../icons/famfamfam.png) -112px -176px;
}
.folder_user {
  background: url(../icons/famfamfam.png) -128px -176px;
}
.folder_wrench {
  background: url(../icons/famfamfam.png) -144px -176px;
}
.font {
  background: url(../icons/famfamfam.png) -160px -176px;
}
.font_add {
  background: url(../icons/famfamfam.png) -176px -176px;
}
.font_delete {
  background: url(../icons/famfamfam.png) -192px -176px;
}
.font_go {
  background: url(../icons/famfamfam.png) -208px -176px;
}
.group {
  background: url(../icons/famfamfam.png) -224px -176px;
}
.group_add {
  background: url(../icons/famfamfam.png) -240px -176px;
}
.group_delete {
  background: url(../icons/famfamfam.png) -256px -176px;
}
.group_edit {
  background: url(../icons/famfamfam.png) -272px -176px;
}
.group_error {
  background: url(../icons/famfamfam.png) -288px -176px;
}
.group_gear {
  background: url(../icons/famfamfam.png) -304px -176px;
}
.group_go {
  background: url(../icons/famfamfam.png) -320px -176px;
}
.group_key {
  background: url(../icons/famfamfam.png) -336px -176px;
}
.group_link {
  background: url(../icons/famfamfam.png) -352px -176px;
}
.heart {
  background: url(../icons/famfamfam.png) -368px -176px;
}
.heart_add {
  background: url(../icons/famfamfam.png) -384px -176px;
}
.heart_delete {
  background: url(../icons/famfamfam.png) -400px -176px;
}
.help {
  background: url(../icons/famfamfam.png) -416px -176px;
}
.hourglass {
  background: url(../icons/famfamfam.png) -432px -176px;
}
.hourglass_add {
  background: url(../icons/famfamfam.png) -448px -176px;
}
.hourglass_delete {
  background: url(../icons/famfamfam.png) -464px -176px;
}
.hourglass_go {
  background: url(../icons/famfamfam.png) -480px -176px;
}
.hourglass_link {
  background: url(../icons/famfamfam.png) -496px -176px;
}
.house {
  background: url(../icons/famfamfam.png) -512px -176px;
}
.house_go {
  background: url(../icons/famfamfam.png) -528px -176px;
}
.house_link {
  background: url(../icons/famfamfam.png) -544px -176px;
}
.html {
  background: url(../icons/famfamfam.png) -560px -176px;
}
.html_add {
  background: url(../icons/famfamfam.png) -576px -176px;
}
.html_delete {
  background: url(../icons/famfamfam.png) -592px -176px;
}
.html_go {
  background: url(../icons/famfamfam.png) -608px -176px;
}
.html_valid {
  background: url(../icons/famfamfam.png) -624px -176px;
}
.image {
  background: url(../icons/famfamfam.png) -0px -192px;
}
.image_add {
  background: url(../icons/famfamfam.png) -16px -192px;
}
.image_delete {
  background: url(../icons/famfamfam.png) -32px -192px;
}
.image_edit {
  background: url(../icons/famfamfam.png) -48px -192px;
}
.image_link {
  background: url(../icons/famfamfam.png) -64px -192px;
}
.images {
  background: url(../icons/famfamfam.png) -80px -192px;
}
.information {
  background: url(../icons/famfamfam.png) -96px -192px;
}
.ipod {
  background: url(../icons/famfamfam.png) -112px -192px;
}
.ipod_cast {
  background: url(../icons/famfamfam.png) -128px -192px;
}
.ipod_cast_add {
  background: url(../icons/famfamfam.png) -144px -192px;
}
.ipod_cast_delete {
  background: url(../icons/famfamfam.png) -160px -192px;
}
.ipod_sound {
  background: url(../icons/famfamfam.png) -176px -192px;
}
.joystick {
  background: url(../icons/famfamfam.png) -192px -192px;
}
.joystick_add {
  background: url(../icons/famfamfam.png) -208px -192px;
}
.joystick_delete {
  background: url(../icons/famfamfam.png) -224px -192px;
}
.joystick_error {
  background: url(../icons/famfamfam.png) -240px -192px;
}
.key {
  background: url(../icons/famfamfam.png) -256px -192px;
}
.key_add {
  background: url(../icons/famfamfam.png) -272px -192px;
}
.key_delete {
  background: url(../icons/famfamfam.png) -288px -192px;
}
.key_go {
  background: url(../icons/famfamfam.png) -304px -192px;
}
.keyboard {
  background: url(../icons/famfamfam.png) -320px -192px;
}
.keyboard_add {
  background: url(../icons/famfamfam.png) -336px -192px;
}
.keyboard_delete {
  background: url(../icons/famfamfam.png) -352px -192px;
}
.keyboard_magnify {
  background: url(../icons/famfamfam.png) -368px -192px;
}
.layers {
  background: url(../icons/famfamfam.png) -384px -192px;
}
.layout {
  background: url(../icons/famfamfam.png) -400px -192px;
}
.layout_add {
  background: url(../icons/famfamfam.png) -416px -192px;
}
.layout_content {
  background: url(../icons/famfamfam.png) -432px -192px;
}
.layout_delete {
  background: url(../icons/famfamfam.png) -448px -192px;
}
.layout_edit {
  background: url(../icons/famfamfam.png) -464px -192px;
}
.layout_error {
  background: url(../icons/famfamfam.png) -480px -192px;
}
.layout_header {
  background: url(../icons/famfamfam.png) -496px -192px;
}
.layout_link {
  background: url(../icons/famfamfam.png) -512px -192px;
}
.layout_sidebar {
  background: url(../icons/famfamfam.png) -528px -192px;
}
.lightbulb {
  background: url(../icons/famfamfam.png) -544px -192px;
}
.lightbulb_add {
  background: url(../icons/famfamfam.png) -560px -192px;
}
.lightbulb_delete {
  background: url(../icons/famfamfam.png) -576px -192px;
}
.lightbulb_off {
  background: url(../icons/famfamfam.png) -592px -192px;
}
.lightning {
  background: url(../icons/famfamfam.png) -608px -192px;
}
.lightning_add {
  background: url(../icons/famfamfam.png) -624px -192px;
}
.lightning_delete {
  background: url(../icons/famfamfam.png) -0px -208px;
}
.lightning_go {
  background: url(../icons/famfamfam.png) -16px -208px;
}
.link {
  background: url(../icons/famfamfam.png) -32px -208px;
}
.link_add {
  background: url(../icons/famfamfam.png) -48px -208px;
}
.link_break {
  background: url(../icons/famfamfam.png) -64px -208px;
}
.link_delete {
  background: url(../icons/famfamfam.png) -80px -208px;
}
.link_edit {
  background: url(../icons/famfamfam.png) -96px -208px;
}
.link_error {
  background: url(../icons/famfamfam.png) -112px -208px;
}
.link_go {
  background: url(../icons/famfamfam.png) -128px -208px;
}
.lock {
  background: url(../icons/famfamfam.png) -144px -208px;
}
.lock_add {
  background: url(../icons/famfamfam.png) -160px -208px;
}
.lock_break {
  background: url(../icons/famfamfam.png) -176px -208px;
}
.lock_delete {
  background: url(../icons/famfamfam.png) -192px -208px;
}
.lock_edit {
  background: url(../icons/famfamfam.png) -208px -208px;
}
.lock_go {
  background: url(../icons/famfamfam.png) -224px -208px;
}
.lock_open {
  background: url(../icons/famfamfam.png) -240px -208px;
}
.lorry {
  background: url(../icons/famfamfam.png) -256px -208px;
}
.lorry_add {
  background: url(../icons/famfamfam.png) -272px -208px;
}
.lorry_delete {
  background: url(../icons/famfamfam.png) -288px -208px;
}
.lorry_error {
  background: url(../icons/famfamfam.png) -304px -208px;
}
.lorry_flatbed {
  background: url(../icons/famfamfam.png) -320px -208px;
}
.lorry_go {
  background: url(../icons/famfamfam.png) -336px -208px;
}
.lorry_link {
  background: url(../icons/famfamfam.png) -352px -208px;
}
.magifier_zoom_out {
  background: url(../icons/famfamfam.png) -368px -208px;
}
.magnifier {
  background: url(../icons/famfamfam.png) -384px -208px;
}
.magnifier_zoom_in {
  background: url(../icons/famfamfam.png) -400px -208px;
}
.male {
  background: url(../icons/famfamfam.png) -416px -208px;
}
.map {
  background: url(../icons/famfamfam.png) -432px -208px;
}
.map_add {
  background: url(../icons/famfamfam.png) -448px -208px;
}
.map_delete {
  background: url(../icons/famfamfam.png) -464px -208px;
}
.map_edit {
  background: url(../icons/famfamfam.png) -480px -208px;
}
.map_go {
  background: url(../icons/famfamfam.png) -496px -208px;
}
.map_magnify {
  background: url(../icons/famfamfam.png) -512px -208px;
}
.medal_bronze_1 {
  background: url(../icons/famfamfam.png) -528px -208px;
}
.medal_bronze_2 {
  background: url(../icons/famfamfam.png) -544px -208px;
}
.medal_bronze_3 {
  background: url(../icons/famfamfam.png) -560px -208px;
}
.medal_bronze_add {
  background: url(../icons/famfamfam.png) -576px -208px;
}
.medal_bronze_delete {
  background: url(../icons/famfamfam.png) -592px -208px;
}
.medal_gold_1 {
  background: url(../icons/famfamfam.png) -608px -208px;
}
.medal_gold_2 {
  background: url(../icons/famfamfam.png) -624px -208px;
}
.medal_gold_3 {
  background: url(../icons/famfamfam.png) -0px -224px;
}
.medal_gold_add {
  background: url(../icons/famfamfam.png) -16px -224px;
}
.medal_gold_delete {
  background: url(../icons/famfamfam.png) -32px -224px;
}
.medal_silver_1 {
  background: url(../icons/famfamfam.png) -48px -224px;
}
.medal_silver_2 {
  background: url(../icons/famfamfam.png) -64px -224px;
}
.medal_silver_3 {
  background: url(../icons/famfamfam.png) -80px -224px;
}
.medal_silver_add {
  background: url(../icons/famfamfam.png) -96px -224px;
}
.medal_silver_delete {
  background: url(../icons/famfamfam.png) -112px -224px;
}
.money {
  background: url(../icons/famfamfam.png) -128px -224px;
}
.money_add {
  background: url(../icons/famfamfam.png) -144px -224px;
}
.money_delete {
  background: url(../icons/famfamfam.png) -160px -224px;
}
.money_dollar {
  background: url(../icons/famfamfam.png) -176px -224px;
}
.money_euro {
  background: url(../icons/famfamfam.png) -192px -224px;
}
.money_pound {
  background: url(../icons/famfamfam.png) -208px -224px;
}
.money_yen {
  background: url(../icons/famfamfam.png) -224px -224px;
}
.monitor {
  background: url(../icons/famfamfam.png) -240px -224px;
}
.monitor_add {
  background: url(../icons/famfamfam.png) -256px -224px;
}
.monitor_delete {
  background: url(../icons/famfamfam.png) -272px -224px;
}
.monitor_edit {
  background: url(../icons/famfamfam.png) -288px -224px;
}
.monitor_error {
  background: url(../icons/famfamfam.png) -304px -224px;
}
.monitor_go {
  background: url(../icons/famfamfam.png) -320px -224px;
}
.monitor_lightning {
  background: url(../icons/famfamfam.png) -336px -224px;
}
.monitor_link {
  background: url(../icons/famfamfam.png) -352px -224px;
}
.mouse {
  background: url(../icons/famfamfam.png) -368px -224px;
}
.mouse_add {
  background: url(../icons/famfamfam.png) -384px -224px;
}
.mouse_delete {
  background: url(../icons/famfamfam.png) -400px -224px;
}
.mouse_error {
  background: url(../icons/famfamfam.png) -416px -224px;
}
.music {
  background: url(../icons/famfamfam.png) -432px -224px;
}
.new {
  background: url(../icons/famfamfam.png) -448px -224px;
}
.newspaper {
  background: url(../icons/famfamfam.png) -464px -224px;
}
.newspaper_add {
  background: url(../icons/famfamfam.png) -480px -224px;
}
.newspaper_delete {
  background: url(../icons/famfamfam.png) -496px -224px;
}
.newspaper_go {
  background: url(../icons/famfamfam.png) -512px -224px;
}
.newspaper_link {
  background: url(../icons/famfamfam.png) -528px -224px;
}
.note {
  background: url(../icons/famfamfam.png) -544px -224px;
}
.note_add {
  background: url(../icons/famfamfam.png) -560px -224px;
}
.note_delete {
  background: url(../icons/famfamfam.png) -576px -224px;
}
.note_edit {
  background: url(../icons/famfamfam.png) -592px -224px;
}
.note_error {
  background: url(../icons/famfamfam.png) -608px -224px;
}
.note_go {
  background: url(../icons/famfamfam.png) -624px -224px;
}
.overlays {
  background: url(../icons/famfamfam.png) -0px -240px;
}
.package {
  background: url(../icons/famfamfam.png) -16px -240px;
}
.package_add {
  background: url(../icons/famfamfam.png) -32px -240px;
}
.package_delete {
  background: url(../icons/famfamfam.png) -48px -240px;
}
.package_go {
  background: url(../icons/famfamfam.png) -64px -240px;
}
.package_green {
  background: url(../icons/famfamfam.png) -80px -240px;
}
.package_link {
  background: url(../icons/famfamfam.png) -96px -240px;
}
.page {
  background: url(../icons/famfamfam.png) -112px -240px;
}
.page_add {
  background: url(../icons/famfamfam.png) -128px -240px;
}
.page_attach {
  background: url(../icons/famfamfam.png) -144px -240px;
}
.page_code {
  background: url(../icons/famfamfam.png) -160px -240px;
}
.page_copy {
  background: url(../icons/famfamfam.png) -176px -240px;
}
.page_delete {
  background: url(../icons/famfamfam.png) -192px -240px;
}
.page_edit {
  background: url(../icons/famfamfam.png) -208px -240px;
}
.page_error {
  background: url(../icons/famfamfam.png) -224px -240px;
}
.page_excel {
  background: url(../icons/famfamfam.png) -240px -240px;
}
.page_find {
  background: url(../icons/famfamfam.png) -256px -240px;
}
.page_gear {
  background: url(../icons/famfamfam.png) -272px -240px;
}
.page_go {
  background: url(../icons/famfamfam.png) -288px -240px;
}
.page_green {
  background: url(../icons/famfamfam.png) -304px -240px;
}
.page_key {
  background: url(../icons/famfamfam.png) -320px -240px;
}
.page_lightning {
  background: url(../icons/famfamfam.png) -336px -240px;
}
.page_link {
  background: url(../icons/famfamfam.png) -352px -240px;
}
.page_paintbrush {
  background: url(../icons/famfamfam.png) -368px -240px;
}
.page_paste {
  background: url(../icons/famfamfam.png) -384px -240px;
}
.page_red {
  background: url(../icons/famfamfam.png) -400px -240px;
}
.page_refresh {
  background: url(../icons/famfamfam.png) -416px -240px;
}
.page_save {
  background: url(../icons/famfamfam.png) -432px -240px;
}
.page_white {
  background: url(../icons/famfamfam.png) -448px -240px;
}
.page_white_acrobat {
  background: url(../icons/famfamfam.png) -464px -240px;
}
.page_white_actionscript {
  background: url(../icons/famfamfam.png) -480px -240px;
}
.page_white_add {
  background: url(../icons/famfamfam.png) -496px -240px;
}
.page_white_c {
  background: url(../icons/famfamfam.png) -512px -240px;
}
.page_white_camera {
  background: url(../icons/famfamfam.png) -528px -240px;
}
.page_white_cd {
  background: url(../icons/famfamfam.png) -544px -240px;
}
.page_white_code {
  background: url(../icons/famfamfam.png) -560px -240px;
}
.page_white_code_red {
  background: url(../icons/famfamfam.png) -576px -240px;
}
.page_white_coldfusion {
  background: url(../icons/famfamfam.png) -592px -240px;
}
.page_white_compressed {
  background: url(../icons/famfamfam.png) -608px -240px;
}
.page_white_copy {
  background: url(../icons/famfamfam.png) -624px -240px;
}
.page_white_cplusplus {
  background: url(../icons/famfamfam.png) -0px -256px;
}
.page_white_csharp {
  background: url(../icons/famfamfam.png) -16px -256px;
}
.page_white_cup {
  background: url(../icons/famfamfam.png) -32px -256px;
}
.page_white_database {
  background: url(../icons/famfamfam.png) -48px -256px;
}
.page_white_delete {
  background: url(../icons/famfamfam.png) -64px -256px;
}
.page_white_dvd {
  background: url(../icons/famfamfam.png) -80px -256px;
}
.page_white_edit {
  background: url(../icons/famfamfam.png) -96px -256px;
}
.page_white_error {
  background: url(../icons/famfamfam.png) -112px -256px;
}
.page_white_excel {
  background: url(../icons/famfamfam.png) -128px -256px;
}
.page_white_find {
  background: url(../icons/famfamfam.png) -144px -256px;
}
.page_white_flash {
  background: url(../icons/famfamfam.png) -160px -256px;
}
.page_white_freehand {
  background: url(../icons/famfamfam.png) -176px -256px;
}
.page_white_gear {
  background: url(../icons/famfamfam.png) -192px -256px;
}
.page_white_get {
  background: url(../icons/famfamfam.png) -208px -256px;
}
.page_white_go {
  background: url(../icons/famfamfam.png) -224px -256px;
}
.page_white_h {
  background: url(../icons/famfamfam.png) -240px -256px;
}
.page_white_horizontal {
  background: url(../icons/famfamfam.png) -256px -256px;
}
.page_white_key {
  background: url(../icons/famfamfam.png) -272px -256px;
}
.page_white_lightning {
  background: url(../icons/famfamfam.png) -288px -256px;
}
.page_white_link {
  background: url(../icons/famfamfam.png) -304px -256px;
}
.page_white_magnify {
  background: url(../icons/famfamfam.png) -320px -256px;
}
.page_white_medal {
  background: url(../icons/famfamfam.png) -336px -256px;
}
.page_white_office {
  background: url(../icons/famfamfam.png) -352px -256px;
}
.page_white_paint {
  background: url(../icons/famfamfam.png) -368px -256px;
}
.page_white_paintbrush {
  background: url(../icons/famfamfam.png) -384px -256px;
}
.page_white_paste {
  background: url(../icons/famfamfam.png) -400px -256px;
}
.page_white_php {
  background: url(../icons/famfamfam.png) -416px -256px;
}
.page_white_picture {
  background: url(../icons/famfamfam.png) -432px -256px;
}
.page_white_powerpoint {
  background: url(../icons/famfamfam.png) -448px -256px;
}
.page_white_put {
  background: url(../icons/famfamfam.png) -464px -256px;
}
.page_white_ruby {
  background: url(../icons/famfamfam.png) -480px -256px;
}
.page_white_stack {
  background: url(../icons/famfamfam.png) -496px -256px;
}
.page_white_star {
  background: url(../icons/famfamfam.png) -512px -256px;
}
.page_white_swoosh {
  background: url(../icons/famfamfam.png) -528px -256px;
}
.page_white_text {
  background: url(../icons/famfamfam.png) -544px -256px;
}
.page_white_text_width {
  background: url(../icons/famfamfam.png) -560px -256px;
}
.page_white_tux {
  background: url(../icons/famfamfam.png) -576px -256px;
}
.page_white_vector {
  background: url(../icons/famfamfam.png) -592px -256px;
}
.page_white_visualstudio {
  background: url(../icons/famfamfam.png) -608px -256px;
}
.page_white_width {
  background: url(../icons/famfamfam.png) -624px -256px;
}
.page_white_word {
  background: url(../icons/famfamfam.png) -0px -272px;
}
.page_white_world {
  background: url(../icons/famfamfam.png) -16px -272px;
}
.page_white_wrench {
  background: url(../icons/famfamfam.png) -32px -272px;
}
.page_white_zip {
  background: url(../icons/famfamfam.png) -48px -272px;
}
.page_word {
  background: url(../icons/famfamfam.png) -64px -272px;
}
.page_world {
  background: url(../icons/famfamfam.png) -80px -272px;
}
.paintbrush {
  background: url(../icons/famfamfam.png) -96px -272px;
}
.paintcan {
  background: url(../icons/famfamfam.png) -112px -272px;
}
.palette {
  background: url(../icons/famfamfam.png) -128px -272px;
}
.paste_plain {
  background: url(../icons/famfamfam.png) -144px -272px;
}
.paste_word {
  background: url(../icons/famfamfam.png) -160px -272px;
}
.pencil {
  background: url(../icons/famfamfam.png) -176px -272px;
}
.pencil_add {
  background: url(../icons/famfamfam.png) -192px -272px;
}
.pencil_delete {
  background: url(../icons/famfamfam.png) -208px -272px;
}
.pencil_go {
  background: url(../icons/famfamfam.png) -224px -272px;
}
.phone {
  background: url(../icons/famfamfam.png) -240px -272px;
}
.phone_add {
  background: url(../icons/famfamfam.png) -256px -272px;
}
.phone_delete {
  background: url(../icons/famfamfam.png) -272px -272px;
}
.phone_sound {
  background: url(../icons/famfamfam.png) -288px -272px;
}
.photo {
  background: url(../icons/famfamfam.png) -304px -272px;
}
.photo_add {
  background: url(../icons/famfamfam.png) -320px -272px;
}
.photo_delete {
  background: url(../icons/famfamfam.png) -336px -272px;
}
.photo_link {
  background: url(../icons/famfamfam.png) -352px -272px;
}
.photos {
  background: url(../icons/famfamfam.png) -368px -272px;
}
.picture {
  background: url(../icons/famfamfam.png) -384px -272px;
}
.picture_add {
  background: url(../icons/famfamfam.png) -400px -272px;
}
.picture_delete {
  background: url(../icons/famfamfam.png) -416px -272px;
}
.picture_edit {
  background: url(../icons/famfamfam.png) -432px -272px;
}
.picture_empty {
  background: url(../icons/famfamfam.png) -448px -272px;
}
.picture_error {
  background: url(../icons/famfamfam.png) -464px -272px;
}
.picture_go {
  background: url(../icons/famfamfam.png) -480px -272px;
}
.picture_key {
  background: url(../icons/famfamfam.png) -496px -272px;
}
.picture_link {
  background: url(../icons/famfamfam.png) -512px -272px;
}
.picture_save {
  background: url(../icons/famfamfam.png) -528px -272px;
}
.pictures {
  background: url(../icons/famfamfam.png) -544px -272px;
}
.pilcrow {
  background: url(../icons/famfamfam.png) -560px -272px;
}
.pill {
  background: url(../icons/famfamfam.png) -576px -272px;
}
.pill_add {
  background: url(../icons/famfamfam.png) -592px -272px;
}
.pill_delete {
  background: url(../icons/famfamfam.png) -608px -272px;
}
.pill_go {
  background: url(../icons/famfamfam.png) -624px -272px;
}
.plugin {
  background: url(../icons/famfamfam.png) -0px -288px;
}
.plugin_add {
  background: url(../icons/famfamfam.png) -16px -288px;
}
.plugin_delete {
  background: url(../icons/famfamfam.png) -32px -288px;
}
.plugin_disabled {
  background: url(../icons/famfamfam.png) -48px -288px;
}
.plugin_edit {
  background: url(../icons/famfamfam.png) -64px -288px;
}
.plugin_error {
  background: url(../icons/famfamfam.png) -80px -288px;
}
.plugin_go {
  background: url(../icons/famfamfam.png) -96px -288px;
}
.plugin_link {
  background: url(../icons/famfamfam.png) -112px -288px;
}
.printer {
  background: url(../icons/famfamfam.png) -128px -288px;
}
.printer_add {
  background: url(../icons/famfamfam.png) -144px -288px;
}
.printer_delete {
  background: url(../icons/famfamfam.png) -160px -288px;
}
.printer_empty {
  background: url(../icons/famfamfam.png) -176px -288px;
}
.printer_error {
  background: url(../icons/famfamfam.png) -192px -288px;
}
.rainbow {
  background: url(../icons/famfamfam.png) -208px -288px;
}
.report {
  background: url(../icons/famfamfam.png) -224px -288px;
}
.report_add {
  background: url(../icons/famfamfam.png) -240px -288px;
}
.report_delete {
  background: url(../icons/famfamfam.png) -256px -288px;
}
.report_disk {
  background: url(../icons/famfamfam.png) -272px -288px;
}
.report_edit {
  background: url(../icons/famfamfam.png) -288px -288px;
}
.report_go {
  background: url(../icons/famfamfam.png) -304px -288px;
}
.report_key {
  background: url(../icons/famfamfam.png) -320px -288px;
}
.report_link {
  background: url(../icons/famfamfam.png) -336px -288px;
}
.report_magnify {
  background: url(../icons/famfamfam.png) -352px -288px;
}
.report_picture {
  background: url(../icons/famfamfam.png) -368px -288px;
}
.report_user {
  background: url(../icons/famfamfam.png) -384px -288px;
}
.report_word {
  background: url(../icons/famfamfam.png) -400px -288px;
}
.resultset_first {
  background: url(../icons/famfamfam.png) -416px -288px;
}
.resultset_last {
  background: url(../icons/famfamfam.png) -432px -288px;
}
.resultset_next {
  background: url(../icons/famfamfam.png) -448px -288px;
}
.resultset_previous {
  background: url(../icons/famfamfam.png) -464px -288px;
}
.rosette {
  background: url(../icons/famfamfam.png) -480px -288px;
}
.rss {
  background: url(../icons/famfamfam.png) -496px -288px;
}
.rss_add {
  background: url(../icons/famfamfam.png) -512px -288px;
}
.rss_delete {
  background: url(../icons/famfamfam.png) -528px -288px;
}
.rss_go {
  background: url(../icons/famfamfam.png) -544px -288px;
}
.rss_valid {
  background: url(../icons/famfamfam.png) -560px -288px;
}
.ruby {
  background: url(../icons/famfamfam.png) -576px -288px;
}
.ruby_add {
  background: url(../icons/famfamfam.png) -592px -288px;
}
.ruby_delete {
  background: url(../icons/famfamfam.png) -608px -288px;
}
.ruby_gear {
  background: url(../icons/famfamfam.png) -624px -288px;
}
.ruby_get {
  background: url(../icons/famfamfam.png) -0px -304px;
}
.ruby_go {
  background: url(../icons/famfamfam.png) -16px -304px;
}
.ruby_key {
  background: url(../icons/famfamfam.png) -32px -304px;
}
.ruby_link {
  background: url(../icons/famfamfam.png) -48px -304px;
}
.ruby_put {
  background: url(../icons/famfamfam.png) -64px -304px;
}
.script {
  background: url(../icons/famfamfam.png) -80px -304px;
}
.script_add {
  background: url(../icons/famfamfam.png) -96px -304px;
}
.script_code {
  background: url(../icons/famfamfam.png) -112px -304px;
}
.script_code_red {
  background: url(../icons/famfamfam.png) -128px -304px;
}
.script_delete {
  background: url(../icons/famfamfam.png) -144px -304px;
}
.script_edit {
  background: url(../icons/famfamfam.png) -160px -304px;
}
.script_error {
  background: url(../icons/famfamfam.png) -176px -304px;
}
.script_gear {
  background: url(../icons/famfamfam.png) -192px -304px;
}
.script_go {
  background: url(../icons/famfamfam.png) -208px -304px;
}
.script_key {
  background: url(../icons/famfamfam.png) -224px -304px;
}
.script_lightning {
  background: url(../icons/famfamfam.png) -240px -304px;
}
.script_link {
  background: url(../icons/famfamfam.png) -256px -304px;
}
.script_palette {
  background: url(../icons/famfamfam.png) -272px -304px;
}
.script_save {
  background: url(../icons/famfamfam.png) -288px -304px;
}
.server {
  background: url(../icons/famfamfam.png) -304px -304px;
}
.server_add {
  background: url(../icons/famfamfam.png) -320px -304px;
}
.server_chart {
  background: url(../icons/famfamfam.png) -336px -304px;
}
.server_compressed {
  background: url(../icons/famfamfam.png) -352px -304px;
}
.server_connect {
  background: url(../icons/famfamfam.png) -368px -304px;
}
.server_database {
  background: url(../icons/famfamfam.png) -384px -304px;
}
.server_delete {
  background: url(../icons/famfamfam.png) -400px -304px;
}
.server_edit {
  background: url(../icons/famfamfam.png) -416px -304px;
}
.server_error {
  background: url(../icons/famfamfam.png) -432px -304px;
}
.server_go {
  background: url(../icons/famfamfam.png) -448px -304px;
}
.server_key {
  background: url(../icons/famfamfam.png) -464px -304px;
}
.server_lightning {
  background: url(../icons/famfamfam.png) -480px -304px;
}
.server_link {
  background: url(../icons/famfamfam.png) -496px -304px;
}
.server_uncompressed {
  background: url(../icons/famfamfam.png) -512px -304px;
}
.shading {
  background: url(../icons/famfamfam.png) -528px -304px;
}
.shape_align_bottom {
  background: url(../icons/famfamfam.png) -544px -304px;
}
.shape_align_center {
  background: url(../icons/famfamfam.png) -560px -304px;
}
.shape_align_left {
  background: url(../icons/famfamfam.png) -576px -304px;
}
.shape_align_middle {
  background: url(../icons/famfamfam.png) -592px -304px;
}
.shape_align_right {
  background: url(../icons/famfamfam.png) -608px -304px;
}
.shape_align_top {
  background: url(../icons/famfamfam.png) -624px -304px;
}
.shape_flip_horizontal {
  background: url(../icons/famfamfam.png) -0px -320px;
}
.shape_flip_vertical {
  background: url(../icons/famfamfam.png) -16px -320px;
}
.shape_group {
  background: url(../icons/famfamfam.png) -32px -320px;
}
.shape_handles {
  background: url(../icons/famfamfam.png) -48px -320px;
}
.shape_move_back {
  background: url(../icons/famfamfam.png) -64px -320px;
}
.shape_move_backwards {
  background: url(../icons/famfamfam.png) -80px -320px;
}
.shape_move_forwards {
  background: url(../icons/famfamfam.png) -96px -320px;
}
.shape_move_front {
  background: url(../icons/famfamfam.png) -112px -320px;
}
.shape_rotate_anticlockwise {
  background: url(../icons/famfamfam.png) -128px -320px;
}
.shape_rotate_clockwise {
  background: url(../icons/famfamfam.png) -144px -320px;
}
.shape_square {
  background: url(../icons/famfamfam.png) -160px -320px;
}
.shape_square_add {
  background: url(../icons/famfamfam.png) -176px -320px;
}
.shape_square_delete {
  background: url(../icons/famfamfam.png) -192px -320px;
}
.shape_square_edit {
  background: url(../icons/famfamfam.png) -208px -320px;
}
.shape_square_error {
  background: url(../icons/famfamfam.png) -224px -320px;
}
.shape_square_go {
  background: url(../icons/famfamfam.png) -240px -320px;
}
.shape_square_key {
  background: url(../icons/famfamfam.png) -256px -320px;
}
.shape_square_link {
  background: url(../icons/famfamfam.png) -272px -320px;
}
.shape_ungroup {
  background: url(../icons/famfamfam.png) -288px -320px;
}
.shield {
  background: url(../icons/famfamfam.png) -304px -320px;
}
.shield_add {
  background: url(../icons/famfamfam.png) -320px -320px;
}
.shield_delete {
  background: url(../icons/famfamfam.png) -336px -320px;
}
.shield_go {
  background: url(../icons/famfamfam.png) -352px -320px;
}
.sitemap {
  background: url(../icons/famfamfam.png) -368px -320px;
}
.sitemap_color {
  background: url(../icons/famfamfam.png) -384px -320px;
}
.sound {
  background: url(../icons/famfamfam.png) -400px -320px;
}
.sound_add {
  background: url(../icons/famfamfam.png) -416px -320px;
}
.sound_delete {
  background: url(../icons/famfamfam.png) -432px -320px;
}
.sound_low {
  background: url(../icons/famfamfam.png) -448px -320px;
}
.sound_mute {
  background: url(../icons/famfamfam.png) -464px -320px;
}
.sound_none {
  background: url(../icons/famfamfam.png) -480px -320px;
}
.spellcheck {
  background: url(../icons/famfamfam.png) -496px -320px;
}
.sport_8ball {
  background: url(../icons/famfamfam.png) -512px -320px;
}
.sport_basketball {
  background: url(../icons/famfamfam.png) -528px -320px;
}
.sport_football {
  background: url(../icons/famfamfam.png) -544px -320px;
}
.sport_golf {
  background: url(../icons/famfamfam.png) -560px -320px;
}
.sport_raquet {
  background: url(../icons/famfamfam.png) -576px -320px;
}
.sport_shuttlecock {
  background: url(../icons/famfamfam.png) -592px -320px;
}
.sport_soccer {
  background: url(../icons/famfamfam.png) -608px -320px;
}
.sport_tennis {
  background: url(../icons/famfamfam.png) -624px -320px;
}
.star {
  background: url(../icons/famfamfam.png) -0px -336px;
}
.status_away {
  background: url(../icons/famfamfam.png) -16px -336px;
}
.status_busy {
  background: url(../icons/famfamfam.png) -32px -336px;
}
.status_offline {
  background: url(../icons/famfamfam.png) -48px -336px;
}
.status_online {
  background: url(../icons/famfamfam.png) -64px -336px;
}
.stop {
  background: url(../icons/famfamfam.png) -80px -336px;
}
.style {
  background: url(../icons/famfamfam.png) -96px -336px;
}
.style_add {
  background: url(../icons/famfamfam.png) -112px -336px;
}
.style_delete {
  background: url(../icons/famfamfam.png) -128px -336px;
}
.style_edit {
  background: url(../icons/famfamfam.png) -144px -336px;
}
.style_go {
  background: url(../icons/famfamfam.png) -160px -336px;
}
.sum {
  background: url(../icons/famfamfam.png) -176px -336px;
}
.tab {
  background: url(../icons/famfamfam.png) -192px -336px;
}
.tab_add {
  background: url(../icons/famfamfam.png) -208px -336px;
}
.tab_delete {
  background: url(../icons/famfamfam.png) -224px -336px;
}
.tab_edit {
  background: url(../icons/famfamfam.png) -240px -336px;
}
.tab_go {
  background: url(../icons/famfamfam.png) -256px -336px;
}
.table {
  background: url(../icons/famfamfam.png) -272px -336px;
}
.table_add {
  background: url(../icons/famfamfam.png) -288px -336px;
}
.table_delete {
  background: url(../icons/famfamfam.png) -304px -336px;
}
.table_edit {
  background: url(../icons/famfamfam.png) -320px -336px;
}
.table_error {
  background: url(../icons/famfamfam.png) -336px -336px;
}
.table_gear {
  background: url(../icons/famfamfam.png) -352px -336px;
}
.table_go {
  background: url(../icons/famfamfam.png) -368px -336px;
}
.table_key {
  background: url(../icons/famfamfam.png) -384px -336px;
}
.table_lightning {
  background: url(../icons/famfamfam.png) -400px -336px;
}
.table_link {
  background: url(../icons/famfamfam.png) -416px -336px;
}
.table_multiple {
  background: url(../icons/famfamfam.png) -432px -336px;
}
.table_refresh {
  background: url(../icons/famfamfam.png) -448px -336px;
}
.table_relationship {
  background: url(../icons/famfamfam.png) -464px -336px;
}
.table_row_delete {
  background: url(../icons/famfamfam.png) -480px -336px;
}
.table_row_insert {
  background: url(../icons/famfamfam.png) -496px -336px;
}
.table_save {
  background: url(../icons/famfamfam.png) -512px -336px;
}
.table_sort {
  background: url(../icons/famfamfam.png) -528px -336px;
}
.tag {
  background: url(../icons/famfamfam.png) -544px -336px;
}
.tag_blue {
  background: url(../icons/famfamfam.png) -560px -336px;
}
.tag_blue_add {
  background: url(../icons/famfamfam.png) -576px -336px;
}
.tag_blue_delete {
  background: url(../icons/famfamfam.png) -592px -336px;
}
.tag_blue_edit {
  background: url(../icons/famfamfam.png) -608px -336px;
}
.tag_green {
  background: url(../icons/famfamfam.png) -624px -336px;
}
.tag_orange {
  background: url(../icons/famfamfam.png) -0px -352px;
}
.tag_pink {
  background: url(../icons/famfamfam.png) -16px -352px;
}
.tag_purple {
  background: url(../icons/famfamfam.png) -32px -352px;
}
.tag_red {
  background: url(../icons/famfamfam.png) -48px -352px;
}
.tag_yellow {
  background: url(../icons/famfamfam.png) -64px -352px;
}
.telephone {
  background: url(../icons/famfamfam.png) -80px -352px;
}
.telephone_add {
  background: url(../icons/famfamfam.png) -96px -352px;
}
.telephone_delete {
  background: url(../icons/famfamfam.png) -112px -352px;
}
.telephone_edit {
  background: url(../icons/famfamfam.png) -128px -352px;
}
.telephone_error {
  background: url(../icons/famfamfam.png) -144px -352px;
}
.telephone_go {
  background: url(../icons/famfamfam.png) -160px -352px;
}
.telephone_key {
  background: url(../icons/famfamfam.png) -176px -352px;
}
.telephone_link {
  background: url(../icons/famfamfam.png) -192px -352px;
}
.television {
  background: url(../icons/famfamfam.png) -208px -352px;
}
.television_add {
  background: url(../icons/famfamfam.png) -224px -352px;
}
.television_delete {
  background: url(../icons/famfamfam.png) -240px -352px;
}
.text_align_center {
  background: url(../icons/famfamfam.png) -256px -352px;
}
.text_align_justify {
  background: url(../icons/famfamfam.png) -272px -352px;
}
.text_align_left {
  background: url(../icons/famfamfam.png) -288px -352px;
}
.text_align_right {
  background: url(../icons/famfamfam.png) -304px -352px;
}
.text_allcaps {
  background: url(../icons/famfamfam.png) -320px -352px;
}
.text_bold {
  background: url(../icons/famfamfam.png) -336px -352px;
}
.text_columns {
  background: url(../icons/famfamfam.png) -352px -352px;
}
.text_dropcaps {
  background: url(../icons/famfamfam.png) -368px -352px;
}
.text_heading_1 {
  background: url(../icons/famfamfam.png) -384px -352px;
}
.text_heading_2 {
  background: url(../icons/famfamfam.png) -400px -352px;
}
.text_heading_3 {
  background: url(../icons/famfamfam.png) -416px -352px;
}
.text_heading_4 {
  background: url(../icons/famfamfam.png) -432px -352px;
}
.text_heading_5 {
  background: url(../icons/famfamfam.png) -448px -352px;
}
.text_heading_6 {
  background: url(../icons/famfamfam.png) -464px -352px;
}
.text_horizontalrule {
  background: url(../icons/famfamfam.png) -480px -352px;
}
.text_indent {
  background: url(../icons/famfamfam.png) -496px -352px;
}
.text_indent_remove {
  background: url(../icons/famfamfam.png) -512px -352px;
}
.text_italic {
  background: url(../icons/famfamfam.png) -528px -352px;
}
.text_kerning {
  background: url(../icons/famfamfam.png) -544px -352px;
}
.text_letter_omega {
  background: url(../icons/famfamfam.png) -560px -352px;
}
.text_letterspacing {
  background: url(../icons/famfamfam.png) -576px -352px;
}
.text_linespacing {
  background: url(../icons/famfamfam.png) -592px -352px;
}
.text_list_bullets {
  background: url(../icons/famfamfam.png) -608px -352px;
}
.text_list_numbers {
  background: url(../icons/famfamfam.png) -624px -352px;
}
.text_lowercase {
  background: url(../icons/famfamfam.png) -0px -368px;
}
.text_padding_bottom {
  background: url(../icons/famfamfam.png) -16px -368px;
}
.text_padding_left {
  background: url(../icons/famfamfam.png) -32px -368px;
}
.text_padding_right {
  background: url(../icons/famfamfam.png) -48px -368px;
}
.text_padding_top {
  background: url(../icons/famfamfam.png) -64px -368px;
}
.text_replace {
  background: url(../icons/famfamfam.png) -80px -368px;
}
.text_signature {
  background: url(../icons/famfamfam.png) -96px -368px;
}
.text_smallcaps {
  background: url(../icons/famfamfam.png) -112px -368px;
}
.text_strikethrough {
  background: url(../icons/famfamfam.png) -128px -368px;
}
.text_subscript {
  background: url(../icons/famfamfam.png) -144px -368px;
}
.text_superscript {
  background: url(../icons/famfamfam.png) -160px -368px;
}
.text_underline {
  background: url(../icons/famfamfam.png) -176px -368px;
}
.text_uppercase {
  background: url(../icons/famfamfam.png) -192px -368px;
}
.textfield {
  background: url(../icons/famfamfam.png) -208px -368px;
}
.textfield_add {
  background: url(../icons/famfamfam.png) -224px -368px;
}
.textfield_delete {
  background: url(../icons/famfamfam.png) -240px -368px;
}
.textfield_key {
  background: url(../icons/famfamfam.png) -256px -368px;
}
.textfield_rename {
  background: url(../icons/famfamfam.png) -272px -368px;
}
.thumb_down {
  background: url(../icons/famfamfam.png) -288px -368px;
}
.thumb_up {
  background: url(../icons/famfamfam.png) -304px -368px;
}
.tick {
  background: url(../icons/famfamfam.png) -320px -368px;
}
.time {
  background: url(../icons/famfamfam.png) -336px -368px;
}
.time_add {
  background: url(../icons/famfamfam.png) -352px -368px;
}
.time_delete {
  background: url(../icons/famfamfam.png) -368px -368px;
}
.time_go {
  background: url(../icons/famfamfam.png) -384px -368px;
}
.timeline_marker {
  background: url(../icons/famfamfam.png) -400px -368px;
}
.transmit {
  background: url(../icons/famfamfam.png) -416px -368px;
}
.transmit_add {
  background: url(../icons/famfamfam.png) -432px -368px;
}
.transmit_blue {
  background: url(../icons/famfamfam.png) -448px -368px;
}
.transmit_delete {
  background: url(../icons/famfamfam.png) -464px -368px;
}
.transmit_edit {
  background: url(../icons/famfamfam.png) -480px -368px;
}
.transmit_error {
  background: url(../icons/famfamfam.png) -496px -368px;
}
.transmit_go {
  background: url(../icons/famfamfam.png) -512px -368px;
}
.tux {
  background: url(../icons/famfamfam.png) -528px -368px;
}
.user {
  background: url(../icons/famfamfam.png) -544px -368px;
}
.user_add {
  background: url(../icons/famfamfam.png) -560px -368px;
}
.user_comment {
  background: url(../icons/famfamfam.png) -576px -368px;
}
.user_delete {
  background: url(../icons/famfamfam.png) -592px -368px;
}
.user_edit {
  background: url(../icons/famfamfam.png) -608px -368px;
}
.user_female {
  background: url(../icons/famfamfam.png) -624px -368px;
}
.user_go {
  background: url(../icons/famfamfam.png) -0px -384px;
}
.user_gray {
  background: url(../icons/famfamfam.png) -16px -384px;
}
.user_green {
  background: url(../icons/famfamfam.png) -32px -384px;
}
.user_orange {
  background: url(../icons/famfamfam.png) -48px -384px;
}
.user_red {
  background: url(../icons/famfamfam.png) -64px -384px;
}
.user_suit {
  background: url(../icons/famfamfam.png) -80px -384px;
}
.vcard {
  background: url(../icons/famfamfam.png) -96px -384px;
}
.vcard_add {
  background: url(../icons/famfamfam.png) -112px -384px;
}
.vcard_delete {
  background: url(../icons/famfamfam.png) -128px -384px;
}
.vcard_edit {
  background: url(../icons/famfamfam.png) -144px -384px;
}
.vector {
  background: url(../icons/famfamfam.png) -160px -384px;
}
.vector_add {
  background: url(../icons/famfamfam.png) -176px -384px;
}
.vector_delete {
  background: url(../icons/famfamfam.png) -192px -384px;
}
.wand {
  background: url(../icons/famfamfam.png) -208px -384px;
}
.weather_clouds {
  background: url(../icons/famfamfam.png) -224px -384px;
}
.weather_cloudy {
  background: url(../icons/famfamfam.png) -240px -384px;
}
.weather_lightning {
  background: url(../icons/famfamfam.png) -256px -384px;
}
.weather_rain {
  background: url(../icons/famfamfam.png) -272px -384px;
}
.weather_snow {
  background: url(../icons/famfamfam.png) -288px -384px;
}
.weather_sun {
  background: url(../icons/famfamfam.png) -304px -384px;
}
.webcam {
  background: url(../icons/famfamfam.png) -320px -384px;
}
.webcam_add {
  background: url(../icons/famfamfam.png) -336px -384px;
}
.webcam_delete {
  background: url(../icons/famfamfam.png) -352px -384px;
}
.webcam_error {
  background: url(../icons/famfamfam.png) -368px -384px;
}
.world {
  background: url(../icons/famfamfam.png) -384px -384px;
}
.world_add {
  background: url(../icons/famfamfam.png) -400px -384px;
}
.world_delete {
  background: url(../icons/famfamfam.png) -416px -384px;
}
.world_edit {
  background: url(../icons/famfamfam.png) -432px -384px;
}
.world_go {
  background: url(../icons/famfamfam.png) -448px -384px;
}
.world_link {
  background: url(../icons/famfamfam.png) -464px -384px;
}
.wrench {
  background: url(../icons/famfamfam.png) -480px -384px;
}
.wrench_orange {
  background: url(../icons/famfamfam.png) -496px -384px;
}
.xhtml {
  background: url(../icons/famfamfam.png) -512px -384px;
}
.xhtml_add {
  background: url(../icons/famfamfam.png) -528px -384px;
}
.xhtml_delete {
  background: url(../icons/famfamfam.png) -544px -384px;
}
.xhtml_go {
  background: url(../icons/famfamfam.png) -560px -384px;
}
.xhtml_valid {
  background: url(../icons/famfamfam.png) -576px -384px;
}
.zoom {
  background: url(../icons/famfamfam.png) -592px -384px;
}
.zoom_in {
  background: url(../icons/famfamfam.png) -608px -384px;
}
.zoom_out {
  background: url(../icons/famfamfam.png) -624px -384px;
}
