@media only screen and (max-width: 22.5rem) {
  .card-body {
    padding: 0.25rem;
  }
}

.hide {
  display: none;
}

.kosm-cart {
  font-size: 12px;
  margin-top: 10px;

  img {
    width: 70px !important;
  }
  
}

.kosm-cart__space {
  margin-top: 18px;
  min-height: 45px;
}

.klarna-gift-card-warning {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.klarna-legal-notice {
  margin: 1rem 0;
}
