$width_10_col: 83.333%; // 10 out of 12 columns

.ingrid-content {
  img {
    margin-bottom: 7px;
  }

  .ingrid-header {
    font-family: $aven-trade-gothic-next-bold;
    font-size: 18px;
    color: $secondary-Variant-2;
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $avenue-primary-base-1;
  box-shadow: 0 0 4px rgba($avenue-primary-base-2, 0.5);
  z-index: 2001;
  display: grid;
  grid-template-rows: auto 1fr;
  animation: fade-in $animation-default-duration $animation-ease-in-out-quad;

  @include media-breakpoint-down(md) {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  &.exit {
    animation: fade-out $animation-default-duration $animation-ease-in-out-quad;
  }

  > header {
    padding-top: 20px;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      padding-top: 40px;
    }
  }

  .suggestions-wrapper {
    grid-row-start: 2;
    grid-row-end: span 1;
    overflow: auto;
    padding-top: 27px;
    padding-bottom: 27px;
    -webkit-overflow-scrolling: touch;

    @include media-breakpoint-up(lg) {
      padding-bottom: 40px;
      padding-top: 30px;

      .results-wrapper {
        width: $width_10_col;
        margin: 0 auto;
      }
    }
  }

  + .scrim {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($avenue-primary-base-2, 0.6);
    z-index: 2000;
    animation: fade-in 200ms ease-in;

    &.exit {
      animation: fade-out 200ms ease-out;
    }
  }

  .close {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 20px;
    height: 20px;
    background-size: 32px;
    z-index: 2;

    &::after {
      @include media-breakpoint-down(md) {
        content: "";
        position: absolute;
        width: 44px;
        height: 44px;
        transform: translate(-50%, -50%);
      }
    }

    @include media-breakpoint-up(lg) {
      top: 53px;
      width: 26px;
      height: 26px;
      background-size: 42px;
      right: 25px;
    }

    @include media-breakpoint-up(xl) {
      top: 58px;
    }
  }

  .search-form {
    position: relative;
    z-index: 1;
    padding-right: 57px;

    @include media-breakpoint-up(lg) {
      padding-right: 0;
      width: $width_10_col;
      margin-left: auto;
      margin-right: auto;
    }

    input[name='q'] {
      border: none;
      border-bottom: 1px solid $avenue-secondary-variant-6;
      padding-left: calc(28px + 0.4rem);
      padding-right: 2.8rem;
      font-size: 16px;
      border-radius: 0;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &::-ms-clear {
        display: none;
      }

      @include media-breakpoint-up(xl) {
        padding-left: calc(44px + 0.4rem);
        font-size: 24px;
      }

      &:focus {
        border: none !important;
        border-bottom: 1px solid $avenue-secondary-variant-4 !important;
      }
    }

    button {
      border: none;
      position: absolute;
      top: 0.7rem;
      height: 28px;

      @include media-breakpoint-up(xl) {
        height: 44px;
      }
    }

    button[type='submit'] {
      width: 28px;
      left: 0;
      background-size: 46px;

      @include media-breakpoint-up(xl) {
        width: 44px;
        background-size: 74px;
      }
    }

    button[type='reset'] {
      background-color: transparent;
      right: 57px;
      text-decoration: underline;

      &:active {
        text-decoration: none;
      }

      // on hover
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          text-decoration: none;
        }
      }

      @include media-breakpoint-up(lg) {
        right: 0;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0 0 1rem;

    // Touchscreen links
    @media (pointer: coarse) {
      li > a {
        display: block;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  .no-results {
    font-family: $aven-trade-gothic-next-bold;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    margin: 12px 0;
  }

  .result-count {
    color: $avenue-secondary-variant-4;
    font-size: 12px;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 27px;

    + .no-results {
      margin-top: -24px;
    }

    @media #{$belowtab} {
      margin-top: 0;
      margin-bottom: 7px;

      + .no-results {
        margin-top: 0;
      }
    }
  }

  @media #{$tabnabove} {
    .suggestion-wrapper {
      display: flex;
      align-items: flex-start;

      > * {
        flex: 0 0 auto;
        width: calc(33.33% - 12px);
        margin-right: 12px;

        @include media-breakpoint-up(lg) {
          width: calc(30% - 12px);
        }
      }
    }
  }

  .suggestions {
    position: static;
    width: initial;
    border: none;
  }

  .item-grid {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 0 0 auto;
      width: calc(50% - 10px);
      margin: 0 5px 10px;

      &:nth-child(1n + 5) {
        display: none;
      }

      @include media-breakpoint-up(sm) {
        width: calc(25% - 10px);
      }

      @include media-breakpoint-up(lg) {
        width: calc(20% - 10px);

        &:nth-child(1n + 5) {
          display: block;
        }
      }
    }
  }

  .suggested-item {
    text-align: center;

    a {
      display: block;
    }

    strong {
      font-family: $aven-trade-gothic-next-bold;
    }

    figure {
      display: block;
      position: relative;
      padding-top: 133.33%;
      margin-bottom: 12px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .search-suggestions {
    margin-bottom: 27px;

    @media #{$belowtab} {
      padding-top: 21px;
      border-top: 1px solid $avenue-secondary-variant-7;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $aven-trade-gothic-next-bold;
      margin-bottom: 16px;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    .category-parent {
      font-family: $aven-trade-gothic-next-bold;
      color: inherit;
      font-size: inherit;
    }

    &.you-might-like,
    &.recently-viewed,
    &.best-sellers {
      .slider-heading-section,
      .wishlistTile,
      .prod-price,
      .badges-container {
        display: none;
      }

      .product-tile .tile-body {
        h2 a,
        .pdp-link a,
        h3 {
          font-size: 14px;
          color: $avenue-secondary-variant-1;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .promotions {
          display: none;
        }
      }

      .recommendation-products > .product {
        width: calc(50% - 10px);
        padding: 0;
        margin: 0 5px 10px;

        @include media-breakpoint-up(sm) {
          width: calc(25% - 10px);
        }

        @include media-breakpoint-up(lg) {
          width: calc(20% - 10px);
          padding: 0;
          margin: 0 5px 10px;
        }
      }

      .recommendation-products {
        &:not(.slick-initialized) {
          flex-wrap: wrap;
        }
      }

      .product-tile {
        margin-bottom: 0;
      }
    }

    .search-atm:hover {
      text-decoration: underline;
    }
  }
}
