@import '../config/variables';

.checkout {
  header {
    border-bottom: 1px solid $secondary-utility-10;
    margin-bottom: 35px;

    @media #{$belowtab} {
      margin: 0;
    }
  }
}

.checkout-header {
  &.header {
    padding: 0;

    .col-12 {
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      padding: 0 20px;
    }

    @include media-breakpoint-up(xl) {
      padding: 0 20px;
    }

    @media #{$largedesktop} {
      max-width: 1260px;
      padding: 0 20px;
    }
  }

  .brand {
    float: none;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    width: auto;

    @include media-breakpoint-down(md) {
      position: relative;
      left: 0;
      transform: none;
      margin: 0;
    }

    @media #{$belowtab} {
      padding: 38px 0 14px;
    }
  }

  .btn-link {
    float: left;
    font-size: $base-fontSize - 2px;
    position: absolute;
    left: -4px;
    margin: 0;
    bottom: 24px;
    text-decoration: none;
    color: $avenue-secondary-variant-1;

    @media #{$belowtab} {
      position: absolute;
      left: 0;
      width: auto;
      top: unset;
      bottom: 15px;
    }

    @media #{$mobileLandscape} {
      top: 40%;
    }

    .icon-holder {
      display: inline-block;
      transform: scale(0.76) translate(0, 8px);

      @media #{$belowtab} {
        transform: scale(1) translate(0, 4px);
      }
    }

    .B2Cart-text {
      border-bottom: 1px solid $avenue-secondary-variant-1;
    }

    &:hover {
      .B2Cart-text {
        border: 0 none;
      }
    }
  }

  .logo-content {
    padding: 0;

    @media #{$tabnabove} {
      &.hidden-sm-down,
      &.hidden-md-down {
        display: block !important;
      }

      &.d-lg-none {
        display: none !important;
      }

      img {
        width: 304px;
      }
    }

    @media #{$belowtab} {
      &.d-lg-none {
        display: block !important;
      }
    }
  }

  .row.header-row {
    margin: 0;
  }
}
