@import '~core/checkout/checkout_data';
@import '../config/variables';

.page {
  background-color: inherit;
}

// end of core

header ~ #maincontent {
  .shipping-address {
    .checkout-shop-runner {
      .srd_a_wrap {
        a {
          color: $secondary-Variant-1;
        }
      }
    }
  }
}

.shipping-summary-section .pricing {
  font-weight: normal;
}

// end of off5th
// TODO refactor above into below

.checkout-wrapper {
  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }

  @media #{$belowtab} {
    .hbc-alert-error {
      text-align: left;
      margin: 0 0 18px;
      width: 100%;
    }
  }

  .edit-button {
    color: $primary-Base-2;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .mobile-display-only {
    @media #{$tabnabove} {
      display: none !important;
    }
  }

  .desktop-tab-display-only {
    @media #{$belowtab} {
      display: none !important;
    }
  }

  .checkout-checkbox {
    font-size: $base-fontSize;
  }

  .next-step-button {
    @media #{$belowtab} {
      position: static;
      background: transparent;
      box-shadow: none;
      width: 100%;

      div {
        padding: 1rem;
      }
    }

    .btn-block {
      margin-top: 0;
    }
  }

  .use-tcc-card {
    font-size: $base-fontSize - 2px;
    padding: 5px 0 0 17px;
  }

  //Checkout common codes.

  .card-header-custom,
  .checkout-card-header,
  .card-header h4 {
    font-size: $base-fontSize + 2px;
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 0.4px;
  }

  &[data-customer-type='guest'] {
    .checkout-primary-section {
      .billing-address-check {
        @media #{$belowtab} {
          bottom: 0;
          margin-top: 7px;
          margin-bottom: 27px;
        }
      }
    }
  }

  .checkout-primary-section {
    @include media-breakpoint-down(xs) {
      border-color: $avenue-secondary-variant-7;
      box-shadow: none;

      .card-body {
        padding: 0 20px;
      }
    }

    .subscription-email-info {
      margin-bottom: 20px;

      .custom-checkbox {
        .custom-control-label {
          font-size: $base-fontSize - 2px;
        }
      }
    }

    .pickupperson-section {
      .pickupperson-disclaimer {
        margin-bottom: 15px;
      }
    }

    .card-header {
      border-radius: 0;
      border: 0;
      padding: 15px 0;

      @include media-breakpoint-down(xs) {
        padding: 16px 20px 11px;
      }
    }

    .card.createaccount {
      border-bottom: 0;
      border-top: 1px solid $avenue-secondary-variant-6;

      .card-header {
        padding: 27px 0 0;
      }
    }

    .card.createaccount-form {
      .card-header {
        padding: 27px 0 9px;
        border-top: 1px solid $avenue-secondary-variant-6;

        @include media-breakpoint-down(xs) {
          padding: 16px 20px 11px;
        }
      }

      .saks-plus-membership-msg {
        letter-spacing: 0.25px;
        line-height: 20px;
        display: inline-block;
      }

      .createaccount-fields {
        @include media-breakpoint-up(sm) {
          .col-sm-6.col-12 {
            .form-group {
              margin-bottom: 0;
            }
          }
        }
      }

      .createaccount-form {
        margin-top: 14px;
      }

      .col-sm-6.col-12 {
        .form-group {
          margin-bottom: 0;
        }
      }
    }

    .card.createaccount-summary {
      border-bottom: 0;

      .card-header {
        padding: 27px 0 18px;
        border-top: 1px solid $avenue-secondary-variant-6;

        @include media-breakpoint-down(xs) {
          padding: 16px 20px 11px;
        }

        .pull-left {
          display: flex;
          align-items: center;
        }
      }

      .createaccount-info-label {
        font-size: $base-fontSize - 2px;
        font-weight: bold;
        letter-spacing: 0.25px;
        line-height: 18px;
        display: inline-block;
      }

      .createaccount-summary-email {
        font-size: $base-fontSize - 2px;
        letter-spacing: 0.25px;
        line-height: 18px;
        margin-top: 4px;
      }
    }

    .edit-button {
      font-size: $base-fontSize - 2px;
      color: $black;
    }

    .shipping-save-address-block {
      .next-step-button {
        max-width: none;
      }
    }

    .enable-new-address-label {
      .add-new-shipping-address-label {
        display: flex !important;
      }
    }

    .error-message-wrapper {
      border: 0;
      margin: 0;
      padding: 0;
      background-color: $white;

      .account-merge {
        margin: 0 auto 15px;

        @media #{$belowtab} {
          margin: 15px auto;
        }
      }

      .expired-promo {
        @media #{$belowtab} {
          margin-bottom: 0;
        }
      }

      .valid-cart-error {
        margin-bottom: 10px;

        @media #{$belowtab} {
          margin-bottom: 0;
        }

        .close {
          padding: 5px 10px;
        }
      }

      @media #{$belowtab} {
        .hbc-alert-error {
          margin-top: 0;
        }
      }
    }

    .add-new-shipping-address-label {
      font-family: $aven-trade-gothic-next-bold;
      margin: 0 0 14px;
    }

    .shipping-section,
    .shipping-summary {
      .card-header {
        padding-top: 0;

        @include media-breakpoint-down(xs) {
          padding-top: 16px;
        }
      }
    }

    .customer-addresses {
      .customer-addresses-section {
        border: 1px solid $avenue-login-border;

        .add-address-section {
          font-size: 12px;
          letter-spacing: 1.25px;
          line-height: 15px;
        }

        &.selected {
          border: 2px solid $avenue-primary-base-2;
        }

        @include media-breakpoint-down(sm) {
          padding: 13px;
        }

        @include media-breakpoint-down(xs) {
          padding: 15px;
        }
      }
    }

    .customer-addresses {
      .customer-addresses-section {
        @include media-breakpoint-down(sm) {
          padding: 13px;
        }

        @include media-breakpoint-down(xs) {
          padding: 15px;
        }
      }
    }

    .card-header-custom,
    .checkout-card-header {
      .state-index {
        padding: 8px 5px 9px 5px;

        &.multi {
          padding: 8px 5px 9px;
        }
      }

      .state-info {
        font-size: $base-fontSize - 2px;
      }
    }

    .payment-options.nav-tabs {
      .custom-control-label {
        color: $primary-Base-2;
        margin-right: 20px;
        cursor: pointer;
        font-size: $base-fontSize;

        @include media-breakpoint-up(lg) {
        }

        &::before {
          margin-right: 10px;
          top: 4px;
        }
      }
    }

    .billing-address-check {
      bottom: 10px;
    }

    .user-payment-instruments {
      margin-bottom: 10px;

      &.checkout-hidden + .credit-card-form {
        .add-new-credit-card-label {
          display: flex !important;
        }
      }
    }

    .credit-card-form {
      .add-new-credit-card-label {
        font-family: $aven-trade-gothic-next-bold;
        margin: 0 0 10px;
      }
    }

    .save-card-section {
      margin-bottom: 25px;
    }

    .card {
      margin: 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $secondary-Variant-7;

      &.payment-form {
        border-bottom: 0;

        .card-header {
          padding: 26px 0;

          @include media-breakpoint-down(md) {
            padding: 20px 0;
          }

          @media #{$belowtab} {
            padding: 20px 20px 20px 0;
          }

          @include media-breakpoint-down(xs) {
            padding: 20px;
          }
        }
      }

      &.pickupperson-section,
      &.pickup-summary {
        margin-bottom: 27px;
        padding-bottom: 14px;

        @include media-breakpoint-down(xs) {
          margin-bottom: 18px;
          padding-bottom: 6px;
        }
      }

      &.ghost {
        opacity: 1;

        &.payment {
          border: 0;

          .card-header {
            padding-top: 27px;
          }

          @include media-breakpoint-down(xs) {
            .card-header {
              padding-top: 16px;
            }

            margin-bottom: 18px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: $avenue-secondary-variant-7;

            .card-header {
              padding-bottom: 16px;
            }
          }
        }
      }

      &.payment-summary {
        border: 0;
      }
    }

    .state-track {
      transform: scale(0.79);
      margin-right: 3px;
      bottom: 3px;
      left: -3px;
      width: 26px;
    }

    .newCreditCvvHolder {
      margin-bottom: 6px;
    }

    .security-code-input {
      @include media-breakpoint-down(xs) {
        .floating-label {
          span.invalid {
            right: 16px;
          }
        }
      }
    }

    .billing-cvv-tooltip {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .tooltip-text {
        font-size: $base-fontSize - 2px;
        margin-right: 5px;
      }
    }

    .form-main-label-container {
      margin-bottom: 13px;

      .form-main-label {
        color: $avenue-primary-base-2;
        letter-spacing: 0.4px;
        font-size: 16px;
      }
    }

    .shipping-content {
      .shipping-method-block {
        padding-top: 2px;

        .shipping-method-heading {
          font-size: $base-fontSize + 2px;
          letter-spacing: 0.4px;
        }

        .hbc-shipping-method-description {
          letter-spacing: 0.25px;
          margin-bottom: 17px;
        }

        .form-check {
          margin-bottom: 15px;
        }

        .shipping-method-option {
          letter-spacing: 0.25px;

          @include media-breakpoint-down(xs) {
            display: table;

            .SMethods-block {
              width: 100%;
              display: inline-block;
            }

            &.custom-control-label {
              &::before {
                top: 5px;
                width: 18px;
                height: 18px;
              }

              span {
                display: table-cell;

                &.display-name {
                  display: inline-block;
                }

                &.arrival-time {
                  white-space: normal;

                  &:empty {
                    + span {
                      display: none;
                    }
                  }

                  &:not(:empty) {
                    + span {
                      white-space: pre;
                    }
                  }
                }
              }
            }
          }

          span {
            &:hover {
              text-decoration: none;
            }
          }
        }

        .sdd-delivery-ins {
          margin: 10px 0 0 30px;
          font-size: $base-fontSize - 2px;
          letter-spacing: 0.25px;

          textarea {
            width: 100%;
            margin-bottom: 9px;
            max-height: 70px;
            resize: none;
          }

          span {
            display: inline-block;
          }
        }
      }
    }

    .billing-save-payment-block {
      margin-bottom: 0;

      .billing-next-cancel {
        margin-bottom: 30px;
      }
    }

    .save-credit-card {
      .custom-control-label {
        font-size: 14px;
        padding: 2px 0 0 5px;
      }
    }

    .add-payment,
    .customer-addresses {
      .add-payment-section,
      .add-address-section {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        width: 100%;

        .svg-svg-59-plus-thin {
          transform: scale(0.35);
          position: relative;
          top: 1px;
          right: 0;
        }
      }

      .add-payment-section {
        font-size: $base-fontSize - 2px;
        line-height: 15px;
        letter-spacing: 1.25px;
      }
    }

    .customer-addresses {
      .address-add-registered,
      .address-result {
        min-height: 100px;
      }
    }

    .stored-payments {
      .saved-payment-instrument,
      .add-payment-wrapper {
        min-height: 67px;
      }

      .saved-payment-instrument-section,
      .add-payment-section-wrapper {
        border: 1px solid $avenue-login-border;
      }
    }

    .stored-payments {
      .add-payment {
        width: auto;
        margin: 0 auto;
      }
    }

    .gift-block {
      padding: 0;
      border: 1px solid $secondary-Variant-6;
      margin: 15px 0 11px;

      .gift-content-section {
        margin: 0 12px;
      }

      .gift-message-alert {
        margin-bottom: 20px;
      }

      .gift-form-group {
        margin: 0;

        .svg-svg-59-plus-thin {
          height: 24px;
          width: 25px;
          transform: scale(0.6);
          display: block;
        }

        .svg-svg-49-minus-thin {
          display: none;
        }

        .custom-control-input:checked ~ .custom-control-label {
          .svg-svg-59-plus-thin {
            display: none;
          }

          .svg-svg-49-minus-thin {
            display: block;
          }
        }

        label {
          padding-left: 6px;
        }

        .gift-label-txt {
          .gift-icon {
            transform: scale(0.72);
            float: left;
          }

          .label-txt {
            display: inline-block;
            padding: 4px 0 0 4px;
            font-family: $aven-trade-gothic-next-bold;
          }
        }

        &.gift-option-checkbox {
          .custom-checkbox .custom-control-label {
            span {
              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        .svg-14-avenue-minus {
          display: none;
        }

        .custom-control-input {
          &:checked {
            ~ .custom-control-label {
              .svg-14-avenue-minus {
                display: block;
              }

              .svg-18-avenue-plus {
                display: none;
              }
            }
          }
        }

        .custom-control-label {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 15px 9px 10px;

          &::before,
          &::after {
            display: none;
          }

          .svg-svg-59-plus-thin,
          .svg-svg-49-minus-thin {
            width: 24px;
            height: 24px;
            transform: scale(0.65);
          }

          .svg-svg-49-minus-thin {
            height: 4px;
            margin: 10px 0;
          }

          .svg-18-avenue-plus,
          .svg-14-avenue-minus {
            width: 18px;
            height: 15px;
            transform: scale(1);
          }

          .svg-14-avenue-minus {
            transform: scale(1.2);
          }
        }

        .custom-checkbox {
          padding: 0;
          margin-left: 0;

          .gift {
            &[checked='checked'] {
              + .custom-control-label {
                padding: 8px 15px 9px 10px;
              }
            }
          }
        }
      }
    }

    .regular-cvv {
      .newCreditCvvHolder.d-none + .billing-cvv-tooltip {
        display: none;
      }
    }

    .save-card-section-default {
      @include media-breakpoint-down(sm) {
        margin-top: 15px;
      }
    }

    .shipping-summary-section,
    .payment-summary-section,
    .instorepick-details {
      display: flex;

      .summary-details,
      .pricing {
        font-size: $base-fontSize - 2px;
        font-family: $base-fontFamily;
      }

      .summary-details {
        margin-bottom: 26px;
      }

      .summary-section {
        flex: 0 0 50%;

        &.first {
          padding: 0 10px 0 0;
        }
      }

      .summary-section-label {
        display: inline-block;
        font-size: 12px;
        font-family: $aven-trade-gothic-next-bold;
        margin: 0 0 5px;
      }

      @media #{$belowtab} {
        flex-wrap: wrap;

        .summary-section {
          flex: 0 0 100%;
        }
      }
    }

    .pickup-summary,
    .shipping-summary,
    .payment-summary {
      .card-header {
        .pull-left {
          align-items: normal;
        }
      }
    }

    .signature-is-required {
      width: auto;
      margin-top: 8px;
    }

    .summary-details {
      .gift-summary {
        margin-top: 5px;

        .svg-11-avenue-gift {
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          transform: scale(0.55);
          right: 6px;
        }

        .recipient-prepend-text {
          position: relative;
          right: 5px;
        }
      }
    }

    .form-group select.billingCountry {
      background-position-x: 98%;
    }

    .stored-payments {
      .selected-payment {
        .saved-payment-security-code {
          @include media-breakpoint-down(xs) {
            width: 85px;
          }
        }

        .security-code-input {
          .floating-label {
            label.input-focus {
              top: -5px;
            }
          }
        }

        .saved-payment-instrument-section {
          border: 2px solid $avenue-primary-base-2;
        }
      }
    }

    .payment-next-step-button-row {
      @media #{$belowtab} {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: fixed;
        bottom: 0;
        z-index: 3;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        left: 0;
        justify-content: space-between;
        align-items: center;

        &.cancel-button-enable {
          padding: 15px;

          .billing-cancel,
          .next-step-button {
            flex-basis: 48%;
            margin: 0;
            padding: 0;

            div {
              padding: 0;
            }
          }
        }
      }

      .billing-cancel {
        flex-basis: 50%;
        padding-left: 15px;
        margin: 15px 0 30px auto;
        padding-right: 10px;
      }

      .billing-tcc-cancel {
        flex-basis: 50%;
        padding-left: 15px;
        margin: 8px 0 30px auto;
        padding-right: 10px;

        @media #{$belowtab} {
          margin: 0;
        }
      }

      &.cancel-button-enable {
        flex-wrap: nowrap;

        .next-step-button {
          flex-basis: 50%;
          margin-left: 0;
          max-width: 50%;
        }
      }
    }

    .gift-card-form {
      width: 100%;
      display: inline-block;
      margin-bottom: 15px;
      border: 1px solid $secondary-Variant-6;
      flex-direction: column;

      .svg-svg-49-minus-thin {
        height: 4px;
        margin: 10px 0;
        width: 24px;
        transform: scale(0.65);
      }

      .gift-card-heading {
        font-family: $aven-trade-gothic-next-bold;
      }

      .gift-card-click,
      .gift-card-heading {
        cursor: pointer;
      }

      .gift-card-click {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 10px 12px 16px;

        @include media-breakpoint-down(xs) {
          padding: 15px;
        }

        .svg-svg-49-minus-thin,
        .opened {
          display: none;
        }

        .svg-svg-49-minus-thin,
        .opened {
          display: none;
        }

        &.active {
          .svg-svg-59-plus-thin,
          .closed {
            display: none;
          }

          .svg-svg-49-minus-thin,
          .opened {
            display: block;
          }
        }
      }

      .gift-card-form-group {
        margin: 0;
        padding: 0 12px 10px;
        display: inline-block;
        width: 100%;
      }

      .gift-card-heading {
        margin: 0;
        font-size: $base-fontSize;
      }

      .card-icons {
        float: right;
        line-height: 100%;
      }

      .applied-gift-card {
        display: flex;
        align-items: center;
        margin: 0 0 10px 2px;

        @include media-breakpoint-down(xs) {
          margin: 15px 0 5px;
        }

        .promo-segment {
          display: flex;
          align-items: center;
          position: relative;
          right: 5px;
        }

        .gift-card {
          font-size: $base-fontSize - 2px;
        }

        .gift-card-number {
          margin-right: 5px;
        }

        .remove-gift-card {
          background: inherit;
          border: 0;
          padding: 0;
          margin: 0;
          height: auto;
          line-height: 0;
          position: relative;
          right: 5px;

          .svg-svg-24-cross-thick {
            display: inline-block;
            height: 24px;
            width: 24px;
            transform: scale(0.5);
          }

          .svg-10-avenue-close {
            display: inline-block;
            height: 13px;
            width: 20px;
            transform: scale(0.7);
          }
        }
      }
    }

    .billing-addr-saved {
      .custom-form-spacing {
        margin-bottom: 10px;
      }
    }

    .billing-save-address-block {
      margin-bottom: 0;
    }

    .billing-addr-form {
      margin-bottom: 10px;

      .heading {
        font-family: $aven-trade-gothic-next-bold;
        margin-bottom: 18px;
      }
    }

    .signature-required {
      max-width: 276px;
      width: auto;
      padding-left: 15px;
      margin-bottom: 18px;

      @media #{$belowtab} {
        width: 214px;
        position: relative;
      }

      @include media-breakpoint-down(xs) {
        max-width: 100%;

        .custom-tooltip {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%) scale(0.67);
        }
      }

      .tooltip-info {
        background-color: inherit;

        @include media-breakpoint-down(xs) {
          transform: scale(0.9);
        }
      }
    }

    .po-check-message,
    .restricted-state-message {
      margin-bottom: 16px;
    }

    .checkout-shop-runner {
      margin: 5px 0;
      padding-bottom: 10px;
    }

    // - refactor the 3 below selectors into 1

    .shipping-next-step-button-row,
    .place-order-next-step-button-row {
      .next-step-button {
        @include media-breakpoint-down(xs) {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background: $primary-Base-3;
        }
      }
    }

    .pickup-next-step-button-row,
    .shipping-next-step-button-row,
    .payment-next-step-button-row {
      .next-step-button {
        margin: 15px 0 30px auto;

        @media #{$belowtab} {
          left: 0;
          margin: 0;
        }
      }

      @media #{$belowtab} {
        margin: 0;
      }
    }

    @media #{$belowtab} {
      .pickup-next-step-button-row,
      .payment-next-step-button-row,
      .shipping-next-step-button-row {
        .next-step-button {
          position: static;

          div {
            padding: 1rem 0 1.5rem;
          }
        }
      }

      .payment-next-step-button-row {
        box-shadow: none;
        position: static;

        .billing-tcc-cancel {
          @media #{$belowtab} {
            padding-left: 0;
            padding-right: 15px;
          }
        }

        .next-step-button {
          div {
            padding: 1rem 20px 1.5rem;
          }
        }

        &.cancel-button-enable {
          padding: 1rem 20px 1.5rem;

          @media #{$belowtab} {
            padding: 1rem 0 1.5rem;
          }

          @include media-breakpoint-down(xs) {
            padding: 1rem 20px 1.5rem;
          }

          .next-step-button {
            div {
              padding: 0;
            }
          }
        }
      }

      &.plcc-card-visibility {
        .next-step-button {
          width: 50%;
        }
      }
    }

    // - refactor the above 3 selectors into 1

    .tooltip-content-col {
      justify-content: center;
    }

    .custom-col-12-tooltip {
      width: 135px;
      max-width: 135px;
    }

    .tooltip-content-info {
      font-size: $base-fontSize - 2px;
      margin: 10px 0 0;
    }

    .tooltip-content-img {
      .tooltip-img1 {
        margin-right: 16px;
      }
    }

    .security-tooltip [role='status'],
    .billing-cvv-tooltip [role='status'] {
      .tooltip-content {
        padding: 15px 18px;
        max-width: 180px;

        @include media-breakpoint-down(sm) {
          max-width: 190px;
        }
      }
    }

    .security-tooltip,
    .billing-cvv-tooltip {
      .tooltip-info {
        transform: scale(0.85);
      }
    }

    .smsOptin-verbiage {
      p {
        margin-top: 14px;
        font-size: 12px;
      }
    }
  }

  &[data-checkout-stage='placeOrder'] {
    .place-order-next-step-button-row {
      .next-step-button {
        margin-top: 10px;

        @include media-breakpoint-down(xs) {
          margin: 0;
        }
      }
    }
  }

  .next-step-button {
    @include media-breakpoint-up(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-down(md) {
      max-width: 245px;
    }

    @media #{$belowtab} {
      max-width: 100%;
    }

    @include media-breakpoint-up(lg) {
      max-width: 330px;
    }
  }

  &.container {
    @include media-breakpoint-down(xs) {
      padding: 0 15px;
      background: $avenue-secondary-variant-8;
    }

    padding: 0 20px;
  }

  .checkout-secondary-section {
    .grand-total-saving-container {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 0;

      .card {
        padding: 0 20px;
        border-left: 0;
        border-right: 0;
        border-color: $avenue-secondary-variant-7;
      }
    }

    .order-mini-summary {
      .card-header {
        border: none;
      }

      .card-body {
        padding-top: 0;
      }

      .order-mini-summary-heading {
        font-family: $aven-trade-gothic-next-bold;
        letter-spacing: 0.25px;
        text-transform: uppercase;
      }

      .grand-total {
        p {
          font-weight: normal;
          font-family: $aven-trade-gothic-next-bold;
          letter-spacing: 0.25px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      .promo-rewards-container,
      .order-mini-summary {
        box-shadow: none;
      }

      .promo-rewards-container {
        margin-bottom: 0;

        .promo-container {
          margin-bottom: 18px;
          background: $avenue-primary-base-1;

          .promo-form-group {
            border-color: $avenue-secondary-variant-7;
            border-top: 0;
          }
        }
      }
    }

    .card {
      border-radius: 0;
    }

    .items-pickedup-heading,
    .item-shipped-heading {
      padding-bottom: 14px;
      display: inline-block;
    }

    .card-body {
      padding: 0;

      p {
        letter-spacing: 0.25px;

        .gift-wrap-cost {
          text-transform: uppercase;
        }
      }
    }
  }

  .order-receipt-label {
    font-weight: normal;
    font-family: $base-fontFamily;
    letter-spacing: 0.25px;
    font-size: $base-fontSize;

    &.grand-total-label {
      font-family: $aven-trade-gothic-next-bold;
      text-transform: uppercase;
    }
  }

  .order-product-summary {
    .edit-cart-link {
      .btn-link {
        font-size: $base-fontSize - 2px;
        float: right;
      }
    }

    .product-line-item + .product-line-item::before,
    .multi-shipping + .product-line-item::before {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .bag-count-cartlink-holder {
      padding-top: 14px;
    }

    .product-line-item {
      .coma-separator {
        margin-left: -3px;
      }

      .product-line-item-details {
        overflow-y: initial;

        .mini-cart-details {
          &.col-4 {
            max-width: 20.7%;
            padding: 0;

            .item-image {
              width: 100%;
            }
          }

          &.col-8 {
            padding-left: 10px;
            padding-right: 0;
            font-size: $base-fontSize - 2px;
          }

          .limited-inventory {
            color: $secondary-Variant-1;
            font-size: $base-fontSize - 2;
          }

          .line-item-header {
            vertical-align: bottom;
            display: inline-block;
            width: 100%;

            .brand-name {
              font-size: $base-fontSize - 2px;
              letter-spacing: 0.25px;
              font-family: $aven-trade-gothic-next-bold;
              color: $avenue-primary-base-2 !important;
            }
          }

          .SR-eligibility {
            font-family: $aven-trade-gothic-next-bold;
            font-size: $base-fontSize - 2px;
            letter-spacing: 0.25px;
            text-transform: uppercase;
          }

          div[name='sr_cartProductDiv'] {
            margin-top: 7px;
          }

          .sdd-minicart-msg {
            font-size: $base-fontSize - 2;
            letter-spacing: 0.25px;
          }

          .item-preorder {
            .pre-order-msg label {
              margin-bottom: 0;
            }

            .pre-order-ship-text {
              font-family: $aven-trade-gothic-next-bold;
            }
          }

          .bold {
            &.promo-applied {
              font-family: $base-fontFamily;
            }
          }
        }
      }

      .line-item-name {
        font-size: $base-fontSize - 2px;
        font-family: $base-fontFamily;
        margin-bottom: 0;
        font-weight: normal;
        color: $avenue-primary-base-2;
        letter-spacing: 0.25px;
      }

      .line-item-attributes {
        font-size: $base-fontSize - 2px;
        text-transform: capitalize;
      }

      .line-item-total-price {
        .store-pickup-holder {
          font-size: $base-fontSize - 2px;
          font-family: $base-fontFamily;
          margin-bottom: 3px;
        }

        .cost-calc.promo-applied {
          font-size: $base-fontSize - 2px;

          .promo-msg {
            margin-right: 5px;
          }

          .grand-tot-holder {
            border-top: 1px solid $secondary-Variant-10;
            padding-top: 3px;
            margin-top: 10px;

            &.bold {
              font-family: $base-fontFamily;
            }
          }
        }

        .line-item-total-price-amount {
          font-weight: normal;
          color: $avenue-primary-base-2;
          letter-spacing: 0.25px;
          font-family: $base-fontFamily;
        }

        .promotion-txt {
          color: $black;
          font-family: $base-fontFamily;
          text-transform: uppercase;
        }
      }
    }

    .card {
      border-radius: 0;
    }
  }

  .productSummary-mobile {
    @media #{$belowtab} {
      border-bottom: 1px solid $secondary-utility-10;
      background: $secondary-Variant-7;
      padding: 4px 0;

      .col-12 {
        padding: 6px;
        background: $primary-Base-3;

        &.collapsible-xl {
          border-bottom: 1px solid $secondary-utility-10;
          border-top: 1px solid $secondary-utility-10;
        }
      }

      .divider-edit-cart-holder {
        .border-divider {
          border: 1px solid $secondary-Variant-5;
          font-size: $base-fontSize - 9px;
          margin: 0 10px 0 5px;
          padding-top: 3px;
        }

        .edit-cart-link {
          .btn-link {
            font-size: $base-fontSize - 2px;
          }
        }
      }

      .grand-total-label,
      .grand-total-price {
        font-family: $base-fontFamily;
        font-weight: normal;
      }

      .grand-total-price {
        font-size: $base-fontSize - 2px;
      }

      .card.order-product-summary {
        border: 0;

        .card-body {
          padding: 0;
        }

        .bag-count-cartlink-holder {
          display: none;
        }
      }

      .collapsible-xl {
        .total-toggle-icon-holder {
          display: inline-block;
          float: right;

          .grand-total-price {
            float: left;
          }

          button.toggle-btn {
            float: right;
            line-height: normal;
            transform: translate(5px, -5px) scale(0.6);
            outline: none;
            padding: 1px 6px;
          }

          button {
            span {
              &.plus {
                display: block;
              }

              &.minus {
                display: none;
              }
            }

            &.title {
              &::after {
                display: none !important;
              }
            }
          }
        }

        &.active {
          .total-toggle-icon-holder {
            button {
              span {
                &.plus {
                  display: none;
                }

                &.minus {
                  display: block;
                  transform: translate(0, 18px);
                }
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      background: $avenue-secondary-variant-8;
      padding: 9px 0 18px;
      border-color: $avenue-secondary-variant-7;

      .col-12.collapsible-xl {
        border-color: $avenue-secondary-variant-7;

        .col-12 {
          padding: 6px 13px;
        }
      }

      .collapsible-xl {
        .total-toggle-icon-holder {
          button {
            &.toggle-btn {
              transform: scale(0.9);
              padding: 1px 0 0 19px;
            }

            span.minus {
              transform: scale(1.06);
              width: 17px;
              height: 17px;
            }
          }
        }

        &.active {
          .total-toggle-icon-holder {
            button {
              span.minus {
                transform: translate(0, 3px);
              }
            }
          }
        }
      }

      .grand-total-label {
        font-family: $aven-trade-gothic-next-bold;
        letter-spacing: 0.25px;
        text-transform: uppercase;
      }

      .divider-edit-cart-holder {
        vertical-align: text-bottom;

        .border-divider {
          border-color: $avenue-primary-base-2;
          padding-top: 4px;
          margin: 0 10px;
        }
      }

      .grand-total-price {
        font-size: $base-fontSize;
        letter-spacing: 0.25px;
      }
    }
  }

  .order-discount,
  .shipping-discount {
    color: $black;
  }
}

.is-preorder-only {
  .arrival-time,
  .shipping-method-arrival-time {
    display: none;
  }

  .shipping-content {
    .shipping-method-block {
      .hbc-shipping-method-description {
        display: none;
      }
    }
  }
}

.promo-container,
.order-hudson-rewards {
  .promo-form-group {
    .promotab-click,
    .rewards-click {
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0.25px;

      @include media-breakpoint-down(xs) {
        padding: 15px 20px;
      }
    }
  }
}

.createaccount-form {
  margin-top: 2%;
}

#maincontent {
  .checkout-wrapper {
    .btn-link {
      color: $avenue-primary-base-2 !important;
    }
  }
}

.shipping-address {
  .gift-option-container {
    padding: 0 15px 17px;

    .custom-radio {
      margin-bottom: 12px;

      label {
        display: block;
      }

      span {
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        width: calc(100% - 23px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .gift-content-wrap {
      margin: 15px 0 0;

      .gift-content-section {
        margin: 0;

        .invalid-feedback {
          margin-top: 2px;
        }
      }

      #giftMessage {
        resize: none;
      }
    }

    .remove-gift-options {
      font-size: $base-fontSize - 2px;
      height: 32px;
      line-height: normal;
      padding: 7px 48px 0;
    }
  }
}

.data-checkout-stage[data-checkout-stage='shipping'] {
  .shipping-section {
    @include media-breakpoint-down(xs) {
      margin-bottom: 18px;
    }
  }
}

.data-checkout-stage[data-checkout-stage='payment'] {
  .shipping-summary {
    @include media-breakpoint-down(xs) {
      margin-bottom: 18px;
    }
  }

  .card.payment-form {
    @include media-breakpoint-down(xs) {
      border-top: 1px solid $avenue-secondary-variant-7;
      border-bottom: 1px solid $avenue-secondary-variant-7;
      margin-bottom: 18px;
    }
  }
}

.data-checkout-stage[data-checkout-stage='placeOrder'],
.data-checkout-stage[data-checkout-stage='submitted'] {
  .shipping-summary,
  .payment-summary {
    @include media-breakpoint-down(xs) {
      margin-bottom: 18px;
    }
  }

  .payment-summary {
    border-top: 1px solid $avenue-secondary-variant-7;
    border-bottom: 1px solid $avenue-secondary-variant-7;
  }
}

.checkout-wrapper {
  .checkout-primary-section {
    .card-body {
      padding: 0;

      @include media-breakpoint-down(xs) {
        padding: 0 15px;
      }

      .credit-card-selection-new {
        &.disabled {
          .saved-payment-instrument-section,
          .add-payment-section-wrapper {
            background-color: $secondary-Utility-9;
            pointer-events: none;
          }

          .saved-payment-instrument {
            pointer-events: none;
          }
        }
      }
    }

    #instorepick-details {
      .summary-details {
        font-size: $base-fontSize - 2px;
        font-family: $base-fontFamily;
      }
    }
  }

  .comex-checkout-form {
    .select-dropdown {
      select {
        cursor: pointer;
      }
    }

    @include media-breakpoint-down(xs) {
      .checkout-comx {
        background: $avenue-primary-base-1;
        margin-bottom: 18px;
      }
    }
  }

  &[data-checkout-stage='shipping'] {
    .custom-checkbox {
      margin-left: 0;
      padding-top: 13px;
      padding-bottom: 12px;
    }
  }
}

.saksfirst-reward-points {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.saks-rewards-container {
  @media #{$belowtab} {
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    background: #fff;
    margin-bottom: 18px;
  }
}

.saks-gc-container {
  &.form-group {
    padding: 13px 15px;
    border: 1px solid $avenue-secondary-variant-6;

    @include media-breakpoint-down(xs) {
      padding: 14px 20px;
      border: none;
      margin-bottom: 0;
    }
  }

  .col-left {
    span {
      font-family: $aven-trade-gothic-next-bold;
      font-size: $base-fontSize;
      line-height: 20px;
      letter-spacing: 0.25px;

      &.earned-points-text {
        font-family: $aven-trade-gothic-next-regular;
        font-size: $base-fontSize - 2px;
        line-height: 18px;
      }

      &.msg-1,
      &.earned-points-text {
        display: block;
      }

      @include media-breakpoint-down(xs) {
        &.msg-1 {
          display: inline-block;
        }
      }
    }
  }

  .saks-apply-btn {
    .btn-primary {
      padding: 0 24px;
      margin-top: 5px;
      line-height: 30px;
      letter-spacing: 1.2px;
      font-size: $base-fontSize - 2px;
    }
  }
}

.signature-checkbox {
  .custom-tooltip {
    .tooltip-info {
      transform: translate(0, 2px) scale(0.7);
    }
  }
}

//MPA card stylings

.mpa-card {
  .regular-card-number {
    &.col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .hbc-alert-error {
    padding: 10px 15px;
    text-align: left;

    &::before {
      display: none;
    }
  }

  #mpaMessaging {
    font-size: 12px;
    letter-spacing: 0.25px;
    line-height: 18px;
    padding-bottom: 25px;
    margin-top: -9px;
  }
}

.comX-container {
  &.promo-container {
    .checkout-comx {
      .comX-detail-section {
        &.expand {
          margin: 20px 0;
          padding: 0 15px;
        }

        .comx-links {
          width: 100%;
          display: table;
          font-size: $base-fontSize - 2px;
          letter-spacing: 0.25px;
          line-height: 18px;

          .add-sec-associate {
            float: left;

            span {
              &:last-child {
                display: none;
              }
            }

            &.expanded {
              span {
                &:first-child {
                  display: none;
                }

                &:last-child {
                  display: inline-block;
                }
              }
            }
          }

          .add-comx-note {
            float: right;

            span {
              &:last-child {
                display: none;
              }
            }

            &.expanded {
              span {
                &:first-child {
                  display: none;
                }

                &:last-child {
                  display: inline-block;
                }
              }
            }
          }

          span {
            border-bottom: 1px solid $avenue-primary-base-2;
            cursor: pointer;

            &:hover {
              border-color: $avenue-primary-base-1;
            }
          }
        }
      }

      @include media-breakpoint-down(xs) {
        .promotab-click {
          .acc-icon {
            &.minus {
              top: 26px;
            }
          }
        }
      }
    }
  }
}

.CO-createacc-sakspls {
  .password-condition {
    text-align: right;
    margin: 10px 0 10px;

    p {
      font-size: $base-fontSize - 2px;
      line-height: 18px;
      letter-spacing: 0.25px;
      margin: 0;
      font-family: $base-fontFamily;
    }
  }
}
