@import '../config/variables';

.order-confirmation {
  max-width: 883px;
  margin: 36px auto 0;
  letter-spacing: 0.25px;

  @include media-breakpoint-down(xs) {
    padding: 0 10px;
    margin: 10px 0;
    max-width: none;
  }

  @include media-breakpoint-down(sm) {
    max-width: none;
    padding: 0 15px;
  }

  .order-summary-primary {
    color: $black;
    margin: 0 auto;

    .place-order-info,
    .place-order-info-2 {
      .content-1 {
        font-size: $base-fontSize + 13px;
      }

      .content-3 {
        font-size: $base-fontSize - 2px;
        max-width: 90%;
        margin: 0 auto;
      }

      .order-number {
        font-family: $base-fontFamily;
        text-decoration: underline;
        margin: 0 4px;
      }
    }

    .place-order-info-2 {
      margin: 20px 0 0;
    }

    .create-account-section {
      margin: 30px 0 0;
      background: $secondary-utility-11;

      .card,
      .card-header {
        background: inherit;
        border: 0;
      }

      .card-header {
        text-align: center;
      }

      .card-header-custom {
        font-size: $base-fontSize;
        font-family: $base-fontFamily;
      }

      .card-header,
      .card-body {
        padding: 20px;
      }

      .card-body {
        padding-top: 0;
        .password-div {
          margin-bottom: 12px;
        }
      }
    }
  }

  .order-summary-secondary {
    max-width: 289px;
    margin-top: 6px;

    .next-content-wrapper {
      color: $black;

      .next-content-heading {
        font-family: $bold-fontFamily;
        border-bottom: 1px solid $secondary-Variant-7;
        padding: 9px 0 5px;

        @include media-breakpoint-down(xs) {
          padding: 0 0 5px;
        }
      }

      .next-content-details {
        font-size: $base-fontSize - 2px;

        .next-content-head {
          font-family: $bold-fontFamily;
          margin: 20px 0 6px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      max-width: 320px;
    }

    @include media-breakpoint-down(xs) {
      max-width: none;
    }
  }

  .continue-shop-wrapper {
    margin: 40px 0 20px;
  }

  .place-order-info {
    text-align: left;
    margin-bottom: 27px;

    .content-1 {
      font-size: 28px;
      letter-spacing: 1.2px;
      line-height: 32px;
      font-family: $Moneta-regular;
    }

    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }

  &.registered {
    .place-order-info {
      text-align: center;
    }
  }

  &.guest {
    .order-confirmation-left {
      .order-summary-primary {
        .place-order-info-2 {
          .change-mind {
            margin-bottom: 27px;
          }
        }
      }
    }
  }

  .order-confirmation-left {
    max-width: 450px;
    padding: 0;

    @include media-breakpoint-down(sm) {
      padding-right: 30px;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
      margin: 0 0 30px;
    }

    .order-summary-primary {
      .place-order-info-2 {
        margin: 0 0 55px;
        text-align: center;

        a {
          &:hover {
            text-decoration: none;
          }
        }

        .order-status,
        .order-number {
          text-decoration: none;
          border-bottom: solid 1px $avenue-primary-base-2;

          &:hover {
            text-decoration: none;
            border-color: transparent;
          }
        }

        .content-3 {
          font-size: 14px;
          max-width: 350px;
          font-family: $aven-trade-gothic-next-regular;
          margin: 0 0 18px;

          @include media-breakpoint-down(xs) {
            max-width: 100%;
          }

          .order-number,
          .order-email {
            font-family: $aven-trade-gothic-next-bold;
            text-decoration: unset;
            margin: 0;
          }

          .order-email {
            padding-right: 2px;
          }

          @include media-breakpoint-down(md) {
            @media #{$tabnabove} {
              max-width: 95%;
              margin-left: 0;
            }
          }
        }
        .change-mind {
          font-size: 14px;
          letter-spacing: 0.25px;
          line-height: 20px;
          margin-bottom: 15px;

          .order-number {
            font-family: $base-fontFamily;
            margin: 0;
            text-decoration: none;
          }

          .text-spacing {
            padding-right: 5px;
          }
        }
      }
    }

    &.guest-order-confirm {
      padding-right: 50px;

      .order-summary-primary {
        .place-order-info-2 {
          text-align: left;
          margin: 0 0 25px;

          @include media-breakpoint-down(xs) {
            text-align: center;
          }
        }

        .place-order-info-2 {
          @include media-breakpoint-down(xs) {
            margin-bottom: 0;
          }
        }
      }

      @include media-breakpoint-down(md) {
        @media #{$tabnabove} {
          flex-basis: 420px;
          padding-right: 25px;
        }
      }

      @media #{$belowtab} {
        padding-right: 20px;
      }

      @include media-breakpoint-down(xs) {
        padding-right: 0;
        margin: 0 auto 30px;
      }
    }

    &.registered-user-order-confirm {
      margin: 0 auto;
      max-width: 480px;

      .order-summary-primary {
        .place-order-info-2 {
          .content-3 {
            max-width: 400px;
            margin: 0 auto 27px;
          }
        }
      }
    }
  }

  .create-account-section {
    border-left: 1px solid $secondary-Utility-9;
    padding: 0 0 0 50px;

    .order-confirm-create-account {
      border: 0;
      margin: 0;

      .card-body {
        padding-top: 16px;
      }

      .form-group {
        &:first-child {
          margin-bottom: 9px;
        }
      }
    }

    .card-header,
    .card-body {
      border: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .card-header {
      padding-top: 0;
    }

    .btn-primary {
      margin-bottom: 0;
    }

    .card-header-custom {
      margin: 0 0 10px 0;
      font-size: 14px;
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    @include media-breakpoint-down(md) {
      @media #{$tabnabove} {
        padding: 0 0 0 25px;
        flex-basis: 45%;
      }
    }

    @media #{$belowtab} {
      padding-left: 20px;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 0;
      border: 0;
      border-top: 1px solid $secondary-Utility-9;
      padding-top: 27px;
      text-align: center;
    }
  }
}

.order-confirmation-recc {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;

  .wrapper-content {
    padding-bottom: 0;

    .slider-heading-section {
      margin-top: 85px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
    }
  }

  .slider-heading {
    margin-bottom: 36px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 18px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 52px;

    .slider-heading {
      margin-top: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }
  }

  &.registered {
    margin-top: 0;

    .wrapper-content {
      .slider-heading-section {
        margin-top: 0;
      }
    }
  }
}
