.order-hudson-rewards {
  .form-group {
    border-top: 0;
  }
}

.promo-container,
.order-hudson-rewards {
  @media #{$belowtab} {
    order: 1;
    width: 100%;
  }

  .promo-form-group {
    margin: 0;
    padding: 0;
    border: 1px solid $secondary-Variant-6;
    position: relative;

    @include media-breakpoint-down(xs) {
      border: none;
      border-top: 1px solid $secondary-Variant-6;
      border-bottom: 1px solid $secondary-Variant-6;
    }

    .coupon-missing-error {
      display: none;
    }

    .remove-coupon {
      background: inherit;
      border: 0;
      padding: 0;
      margin: 0;
      height: auto;
      line-height: 0;
      position: relative;
      right: 3px;
      top: 4px;

      @media #{$belowtab} {
        right: 0;
      }

      .svg-svg-24-cross-thick {
        display: inline-block;
        height: 24px;
        width: 24px;
        transform: scale(0.5);
      }

      span {
        line-height: 1;
        display: inline-block;
        height: 12px;
        width: 20px;
      }
    }

    .promotab-click,
    .rewards-click {
      background: transparent;
      border: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      @include media-breakpoint-down(xs) {
        padding: 16px 20px;
      }

      padding: 10px 15px 11px;

      &.open-state {
        padding-bottom: 0;
      }

      label {
        margin-bottom: 0;
        cursor: pointer;
      }

      .coupon-icons-container,
      .rewards-icons-container {
        height: 24px;
      }

      .acc-icon {
        display: inline-block;
        float: right;
        transform: scale(0.63);

        &.plus {
          position: absolute;
          @include media-breakpoint-down(xs) {
            right: 16px;
          }
          right: 10px;
        }

        &.minus {
          position: absolute;
          display: none;

          @include media-breakpoint-down(xs) {
            right: 16px;
          }

          top: 20px;
          right: 12px;
        }
      }

      &.open-state {
        padding-bottom: 10px;

        .plus {
          display: none;
        }

        .minus {
          display: inline-block;
        }
      }
    }

    .promo-detail-section,
    .rewards-detail-section {
      display: none;
      padding: 0 10px 0 16px;

      .promo-segment {
        right: 0px;
      }

      .coupon-price-adjustment,
      .reward-applied {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding-top: 10px;

        .coupon-code {
          font-size: $base-fontSize - 2px;
          padding-top: 8px;
        }
      }

      .applied-reward-number {
        font-family: $semibold-fontFamily;
      }

      .promo-segment {
        position: relative;
        right: 4px;
      }

      .promo-apply,
      .rewards-apply {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-top: 20px;

        .promo-input,
        .hudson-reward {
          flex: 1 1 auto;
          position: relative;

          .promo-code-entry,
          .rewards-code-entry {
            width: 100%;
            display: inline-block;

            .coupon-error,
            .coupon-error-message {
              color: $secondary-Utility-1;
            }
          }
        }

        .promo-code-submit,
        .hudson-reward-submit {
          margin-left: 9px;
        }
      }

      .promo-code-submit,
      .hudson-reward-submit {
        flex: 0 0 auto;
        margin-left: 9px;

        button {
          padding: 0 12px;
        }
      }

      &.expand {
        display: inline-block;
        width: 100%;
        margin-top: -5px;
      }

      .promo-code-form {
        @media #{$belowtab} {
          display: block;
        }
      }

      .coupons-and-promos {
        .coupon-price-adjustment {
          flex-wrap: wrap;

          .coupon-promotion-relationship {
            margin: 15px 0 0;
          }
        }
      }
    }
  }
}
