.TTratingBox {
  height: 1.2em;
  width: 7.5em;
  margin-right: 0.4em;
  display: inline-block;
}

.TurnToReviewsTeaser {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-block;
}

.TurnToReviewsTeaser a {
  text-decoration: none;
}

.TurnToReviewsTeaser a:hover {
  color: #000;
}

.TurnToItemTeaser {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.TurnToItemTeaser a {
  text-decoration: none;
}

.TurnToItemTeaser a:hover {
  color: #000;
}

#TurnToContent {
  clear: both;
}

#TTpartnerRegWindow {
  width: 62.5em;
  height: 41.6em;
}
