//Mobile specific to landscape
$sm-ls: 'screen and (max-width: 767.98px)';

.wishlistItemCards {
  width: calc(69% - 3px);
  display: inline-block;
  vertical-align: top;

  @include media-breakpoint-down(md) {
    width: calc(62% - 3px);
  }

  @media #{$sm-ls} {
    width: 100%;
    display: inline-block;
    padding: 0;
  }

  .wishlist-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-Variant-6;
    padding: 0 0 7px;

    @include media-breakpoint-down(md) {
      padding: 18px 0 7px;
    }

    .wishlist-count {
      font-family: $bold-fontFamily;
      font-size: $base-fontSize + 4;
      color: $secondary-Variant-1;

      @include media-breakpoint-down(md) {
        font-size: $base-fontSize;
        padding: 0 0 0 5px;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    .wl-viewall {
      font-size: $base-fontSize - 2;
      color: $secondary-Variant-1;
      text-decoration: underline;
      padding: 0 5px 0 0;

      &:hover {
        text-decoration: none;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  .product-detail-wlcart {
    display: inline-block;
    width: 100%;
  }

  .product-info {
    padding: 20px 0 15px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid $secondary-Variant-6;
    border-radius: 0;
    display: inline-block;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding: 14px 0 18px;
    }

    .row,
    .col-sm-6,
    .col-sm-12,
    .col {
      padding: 0;
      margin: 0;
    }

    .item-image {
      width: 14%;
      height: 100%;
      margin-right: 1%;
      min-height: 145px;

      @include media-breakpoint-down(md) {
        min-height: 127px;
        margin: 0;
        padding: 0 0 0 5px;
        width: 34%;
      }
    }

    .wishlist-secondary {
      width: 73%;
      margin-right: 1%;
      color: $secondary-Variant-1;

      @include media-breakpoint-down(md) {
        margin: 0;
      }

      .line-item-name {
        margin: 0;
      }

      .product-name,
      .product-brand-name {
        border: 0;

        a {
          color: $so-gray-utility;
          font-size: $base-fontSize - 2;
        }

        @include media-breakpoint-down(xs) {
          padding: 0 5px 0 0;
        }
      }

      .tooltip-cond {
        label {
          margin: 0;
          color: $secondary-Variant-1;
          font-size: $base-fontSize - 2;
        }
      }

      .finalsale {
        color: $wishlist-final-sale;
        font-size: $base-fontSize - 2;
        width: 100%;
        display: inline-block;
        position: relative;

        .custom-tooltip {
          position: relative;
        }

        .tooltip-wlsale {
          display: none;
        }
      }

      .limited-inventory {
        color: $secondary-Variant-1;
        font-size: $base-fontSize - 2;

        label {
          margin-bottom: 0;
        }
      }

      .prices {
        padding: 0;

        .strike-through {
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2;
          color: $secondary-Variant-1;
          margin: 0 2px 0 0;
        }

        .starting,
        .range,
        .price,
        .sales {
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2;
          font-weight: normal;
        }

        .range {
          white-space: nowrap;
        }
      }
    }

    .dropdown-global,
    .dropdown-color,
    .dropdown-size {
      width: 114px;
      margin: 0 10px 0 0;
      display: inline-block;

      @include media-breakpoint-down(md) {
        margin: 0;
        width: 49.3%;
        padding: 0 4% 0 0;
      }
    }

    .dropdown-size {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }

    .dropdown-global,
    .dropdown-size {
      @include media-breakpoint-down(xs) {
        &:not(.dropdown-color) {
          margin: 0;
          padding: 0;
          width: 48%;
        }
      }
    }

    .price-secion {
      width: 13%;
      font-size: $base-fontSize - 2;
      color: $secondary-Variant-1;
      margin: 8px 0 0;

      @include media-breakpoint-down(md) {
        width: 20%;
        display: none;
      }
    }

    .remove-prod-from-wishlist {
      background: transparent;
      top: 7px;
      vertical-align: top;
      bottom: auto;
      right: 6px;

      @include media-breakpoint-down(md) {
        top: 0;
        line-height: 0;
      }

      @include media-breakpoint-down(xs) {
        right: 0;
      }

      span {
        font-family: $bold-fontFamily;
        font-size: $base-fontSize + 10;
        line-height: 1;
        right: 5px;
        color: $secondary-Variant-1;
      }
    }
  }

  .prdt_cartwl_btn {
    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 20px 0 0;
    }

    &.soldout {
      color: $secondary-Variant-5;
      background: $secondary-Variant-7;
      pointer-events: none;
    }
  }

  .variation-selectors {
    padding: 20px 0 0;

    .variation-wrapper {
      @include media-breakpoint-up(md) {
        float: left;
      }
    }
  }

  .custom-select {
    .selection-list {
      z-index: 8;
      max-height: 251px;
    }

    .selected-option {
      display: inline-block;
      vertical-align: middle;
      padding: 12px 21px 13px 12.5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $base-fontSize;
      border: 1px solid $secondary-Variant-4;
      text-transform: capitalize;
      border-radius: 2px;

      &.error {
        border-color: $error-msg;
      }

      &::before {
        right: 7px;
        margin-top: -4px;
      }

      span {
        width: 25px;
        height: 25px;
        border-radius: 0;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $secondary-Variant-6;
        margin-top: -2px;
        background-size: cover;
      }
    }

    .selection-list {
      border: 1px solid $primary-Base-2;
      border-top: 0;
      border-radius: 2px;

      span {
        width: 25px;
        height: 25px;
        border-radius: 0;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $secondary-Variant-6;
      }

      li {
        padding: 10px 7px 10px 13px;
        font-size: $base-fontSize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;

        .item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.option-disabled {
          color: $dis-strikethrough-clr;

          span {
            &.swatch-color-holder {
              position: relative;
            }

            &::after {
              content: '';
              position: absolute;
              height: 1px;
              background: $hb-border-clr;
              top: 53%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              width: 32px;
            }

            &::before {
              content: '';
              position: absolute;
              height: 1px;
              background: $primary-Base-3;
              top: 49%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              width: 32px;
            }
          }
        }
      }
    }
  }

  .dropdown-global,
  .dropdown-size {
    &:not(.dropdown-color) {
      .custom-select {
        .selected-option,
        .selection-list {
          span {
            width: 0;
          }
        }
      }
    }
  }

  .tooltip-info {
    background-color: $primary-Base-3;
    line-height: 1.1;
    padding: 0 5px;
    cursor: pointer;
  }

  .wl-viewall {
    &.bottom {
      width: 250px;

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }

  .veiwall-wrapper {
    width: 100%;
    margin: 36px auto 0;

    @include media-breakpoint-down(xs) {
      margin: 30px auto 45px;
    }
  }

  .variation-selectors {
    position: relative;

    .attribute {
      margin: 0;
    }

    .non-input-label {
      display: none;
    }

    .input-focus {
      position: absolute;
      margin: 0;
      top: -5px;
      font-size: $base-fontSize - 4;
      line-height: 1.2;
      color: $secondary-Variant-1;
      background: $primary-Base-3;
      z-index: 7;
      padding: 0 4px;
      left: 10px;
      display: block;
    }

    .alert-msg {
      &.error {
        color: $error-msg;
        font-size: $base-fontSize - 2;
        line-height: 1.1;
        display: inherit;
        margin: 10px 0 0;

        @include media-breakpoint-down(md) {
          margin-left: 13px;
        }

        @include media-breakpoint-down(xs) {
          margin-left: 0px;
        }
      }
    }
  }

  .price-promo,
  .promotion-txt {
    margin: 0 0 6px;
    padding: 0;
  }
}

.recommendations {
  clear: both;
  padding: 0;

  &.items-like,
  &.recom-pdts {
    .slider-heading {
      margin-top: 0;
      border-top: 1px solid $secondary-Utility-9;
      padding: 0;
      border-top: none;
      text-transform: capitalize;
      font-family: $Moneta-regular;
      letter-spacing: 1.2px;

      @include media-breakpoint-down(xs) {
        padding: 35px 0 20px;
      }
    }
  }

  &.recom-pdts {
    .slider-heading {
      margin-top: 55px;

      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 0;
        border-top: none;
      }
    }
  }

  .product-tile {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}
