@import '~wishlist/wishlist/wishlist';
@import '../cart/cart_data';

.add-to-wishlist-messages,
.remove-from-wishlist-messages {
  display: none;
}

.wishlist-merge {
  color: $primary-Base-2;
  font-size: $base-fontSize - 2;
  background: $secondary-utility-11;
  width: 100%;
  display: inline-block;
  padding: 6px 0;
  line-height: 2.1;
  margin: 4px 0 15px;

  @include media-breakpoint-down(xs) {
    position: relative;
    line-height: 1.5;
    padding: 17px 27px;
  }

  .close {
    position: relative;
    right: 10px;
    opacity: 0.2;
    transform: scale(0.75);
    cursor: pointer;

    @include media-breakpoint-down(xs) {
      position: absolute;
      top: 12px;
    }
  }
}

.disabled {
  pointer-events: none;
}

.container {

  .guest-signin-info {
    font-size: $base-fontSize - 2;
    padding: 10px 0;
    background: $so-Oxygen-variant;
    margin: 0 0 13px;

    @include media-breakpoint-down(xs) {
      padding: 17px 13%;
    }
  }

  .prod-soldout {
    pointer-events: none;

    .soldout-text {
      display: block !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $base-fontSize + 2;
      font-family: $bold-fontFamily;
      color: $secondary-Variant-1;
    }

    .image-container {
      a,
      .bagde-img {
        opacity: 0.5;
      }
    }
  }

  &.wishlist-page {
    padding-top: 0;

    @include media-breakpoint-down(xs) {
      padding: 0 15px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 20px;
    }

    .col-lg-3 {
      padding: 0 9px;
    }

    .guest-signin-info {
      font-size: $base-fontSize - 2;
      padding: 10px 0;
      background: $so-Oxygen-variant;
      margin: 0 0 13px;

      @include media-breakpoint-down(xs) {
        padding: 17px 13%;
      }
    }

    .row {
      margin: 0;
    }

    .prod-soldout {
      .soldout-text {
        display: block !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $base-fontSize + 2;
        font-family: $bold-fontFamily;
        color: $secondary-Variant-1;
      }
    }

    .search-results-total-count {
      padding: 37px 0 18px;

      @include media-breakpoint-down(xs) {
        width: 100%;
        display: inline-block;
        padding: 12px 0 12px 10px;
      }

      @include media-breakpoint-down(md) {
        padding: 14px 20px;
        display: block;
      }
    }

    .wishlistItemCards {
      padding: 0;

      @include media-breakpoint-down(lg) {
        padding: 16px 5px 0;
        margin: 0;
      }

      @include media-breakpoint-down(xs) {
        padding: 16px 0 0;
        border-top: 1px solid $secondary-Variant-7;
      }

      @include media-breakpoint-down(md) {
        padding: 27px 0 0;
        border-top: none;

        .grid-footer {
          padding: 0;
        }
      }
    }

    .product-tile {
      .tile-body {
        .prdt_tile_btn {
          margin-bottom: 0;
        }

        .feature-name {
          margin: 4px 0;
        }
      }
    }

    &.register-wishlist {
      padding-top: 15px;

      @include media-breakpoint-down(md) {
        padding-top: 2px;
      }
    }

    .slick-slide {
      .product-tile {
        .tile-body {
          .product-brand,
          .price .value {
            font-family: $aven-trade-gothic-next-bold;
          }
        }
      }
    }

    .slider-heading {
      font-family: $Moneta-regular;
      font-size: $base-fontSize + 14px;
      letter-spacing: 1.2px;
      line-height: 38px;
      text-transform: none;
      margin: 0 0 45px;
      position: relative;

      @include media-breakpoint-down(xs) {
        margin: 35px 0 14px;
      }

      @include media-breakpoint-down(md) {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 18px;

        &.text-center {
          margin-left: 0;
          margin-right: 0;
        }
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: $avenue-secondary-variant-7;
        left: 0;
        top: 53%;
      }

      span {
        padding: 1.5px 15px;
        display: inline-block;
        position: relative;
        background-color: $avenue-primary-base-1;
        z-index: 5;

        @include media-breakpoint-down(md) {
          padding: 3px 15px;
        }
      }
    }

    .empty-msg-link {
      padding-bottom: 73px;
      margin-top: 18px;

      @media #{$belowtab} {
        margin-top: 9px;
        padding-bottom: 36px;
      }

      p {
        margin: 0;
        font-size: $base-fontSize;
        line-height: 20px;
        color: #000;
        padding: 18px 15px;
        letter-spacing: 0.25px;
        position: relative;

        @media #{$belowtab} {
          padding: 18px 37px;
        }

        a {
          text-decoration: underline;
        }

        @include media-breakpoint-down(xs) {
          line-height: 1.6;
          padding: 10px 10px 0;
        }

        &:not(:first-of-type){
          padding-top: 0 !important
        }
      }

      .heart-icon {
        vertical-align: middle;
        transform: scale(0.9);
      }

      a {
        text-decoration: underline;

        &.home-link {
          text-decoration: none;
        }
      }
    }
  }

  &.login-page {
    padding: 15px 40px 0;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      padding: 15px 20px 0;
    }

    .guest-signin-info {
      background: transparent;
      letter-spacing: 0.25px;
      font-size: $base-fontSize;
      margin: 0 0 18px;
      padding: 0;

      &.guest-signin-info-lp {
        background: $alert-info-bg;
        border: solid 1px $alert-info-border;
        padding: 10px 15px;
        margin: 19px 0 4px;
        font-size: $base-fontSize - 2;

        @media #{$belowtab} {
          padding: 8px 15px;
          margin: 18px 0 0;
        }
      }

      @media #{$belowtab} {
        padding: 10px 20px 0;
      }

      a {
        text-decoration: none;
        border-bottom: solid 1px $avenue-primary-base-2;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }

  &.register-wishlist {
    padding: 11px 40px 0;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      padding: 11px 20px 0;
    }
  }

  .wishlist-owner {
    margin: 0;
    font-size: $base-fontSize + 14;
    line-height: 32px;
    font-family: $Moneta-regular;
    letter-spacing: 1.2px;

    &.wishlist-lp-heading {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }

    &.wishlist-empty-heading {
      padding-top: 15px;

      @include media-breakpoint-down(md) {
        padding-top: 0;
      }
    }

    @media #{$belowtab} {
      font-size: 26px;
      letter-spacing: 1px;
      line-height: 30px;
    }
  }

  .wishlist-wrapper {
    margin: 0;
    padding: 30px 0 0;

    @include media-breakpoint-down(md) {
      padding: 27px 0 0;
    }

    @media #{$belowtab} {
      padding-top: 2px;
    }

    .wishlist-header-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 6px;
      border-bottom: solid 1px $avenue-secondary-variant-7;

      @include media-breakpoint-down(md) {
        padding-bottom: 0;
        display: block;
      }

      @media #{$belowtab} {
        margin: 0 -20px;
      }

      .model-view {
        letter-spacing: 0.25px;

        .selected {
          text-decoration: none;
          border-bottom: solid 1px $avenue-primary-base-2;

          &:hover {
            border-color: transparent;
          }
        }

        .model-view-on,
        .model-view-off {
          cursor: pointer;
        }

        span {
          margin-left: 3px;

          &:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  @include media-breakpoint-down(md) {
    display: block;
    margin: 28px 0 0;
  }

  .page-wrapper {
    .mob-pagination {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .prev,
    .next {
      display: flex;
      justify-content: center;

      @include media-breakpoint-down(md) {
        display: none;
      }

      &:hover {
        span {
          background-position: -13px 0.843299%;
          transform: rotate(-270deg) scale(0.9);
        }
      }
    }

    .prev {
      &:hover {
        span {
          transform: rotate(270deg) scale(0.9);
        }
      }
    }

    .pagination {
      @include media-breakpoint-down(md) {
        display: block;
      }

      li {
        width: auto;
        height: auto;

        &:first-child {
          margin-left: 0;
        }

        a {
          width: 30px;
          height: 30px;
          text-align: center;
          padding-top: 4px;
          display: block;

          &:hover {
            width: 30px;
            height: 30px;
          }

          &.current {
            background: $avenue-secondary-variant-7;
          }
        }
      }

      .page-num-wrap {
        display: flex;

        @include media-breakpoint-down(md) {
          display: block;
          max-width: 335px;
          margin: 0 auto;
        }
      }
    }
  }
}

.paging {
  width: 100%;
}

.load-more {
  a {
    &.btn-primary {
      display: block;
      color: $avenue-primary-base-1 !important;
    }
  }
}

.wishlist-button {
  display: inline-flex;
  align-content: baseline;
  margin: 18px;
  width: 213px;
}
