@import '~wishlist/components/_wishlistSocial';

.wl-social-sharing {
  position: absolute;
  top: -10px;
  right: 0;
  cursor: pointer;
  width: auto;

  @include media-breakpoint-down(xs) {
    top: 44px;
    padding: 0 10px;
  }

  @include media-breakpoint-down(md) {
    top: 40px;
  }

  .wl-social-sharing-text {
    font-size: $base-fontSize;
    color: $primary-Base-2;
  }

  .share-icons {
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.8);
  }
}

.wishlist-page {
  .copy-link-message {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: $wishlist-br-col;
    z-index: 9999;
    transform: translate(-50%, -0);
  }

  .share-wrapper {
    background: $primary-Base-3;
    border: none;
    color: $primary-Base-2;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px;
    margin: 0;
  }

  .close-icon {
    width: 100%;
    line-height: 1;

    button {
      background: none;
      border: 0;
      font-size: 0;
      line-height: normal;
      padding: 0;

      span {
        @extend .svg-svg-22-cross;
        @extend .svg-svg-22-cross-dims;

        display: inline-block;
        opacity: 0.8;
        transform: scale(0.75);
      }
    }
  }

  .wishlist-share-label {
    font-size: $base-fontSize + 10;
    line-height: 1;
    padding: 0 0 18px;
  }

  .wishlist-sharecopy {
    color: $so-gray-utility;
    padding: 0 0 18px 15px;
  }

  .wishlist-form {
    padding: 0 8px 20px 15px;

    .copy {
      width: 244px;
      height: 36px;
      color: $primary-Base-2;
      font-size: $base-fontSize;
      border: 1px solid $secondary-Variant-7;
      border-radius: 0;
      box-shadow: none;
      pointer-events: none;
      padding: 0 8px;
    }

    button {
      width: 87px;
      height: 36px;
      font-size: $base-fontSize - 2;
      vertical-align: top;
      line-height: 0;
    }
  }
}
