@import 'config//variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'components/sprite';
@import 'components/avenue-sprite.scss';

//Mobile specific to landscape
$sm-ls: 'screen and (max-width: 767.98px)';

.chanel-clp {
  max-width: 1260px;
  margin: 20px auto 0;
  padding: 0 20px;

  @include media-breakpoint-down(md) {
    margin: 0;
    padding: 0;
  }

  &.chanel-search-results {
    .container {
      &.search-results {
        padding: 0 20px;
      }
    }

    .search-results {
      padding: 0;
    }
  }

  .nav-item,
  .dropdown-item {
    .nav-link,
    .dropdown-link {
      font-size: $base-fontSize - 2;
      color: $avenue-secondary-variant-1;
      letter-spacing: 0.3px;
      line-height: 18px;
      padding: 5px 0;
      display: inline-block;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    .nav-link {
      @include media-breakpoint-down(md) {
        font-size: $base-fontSize;
        padding: 15px 0;
        border-bottom: 1px solid $secondary-Variant-6;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .dropdown-link {
      padding: 7px 0;
    }

    &.navnext-link {
      position: relative;

      .nav-link {
        @extend .navigate-link;
      }
    }
  }

  .dropsown-content {
    display: none;
    padding: 0 0 0 10px;

    @include media-breakpoint-down(md) {
      padding: 0;

      li:last-child {
        border-bottom: 1px solid $secondary-Variant-6;
      }
    }
  }

  .dropdown-item {
    padding: 0;

    &.sub-category {
      .dropdown-menu {
        position: static;
        display: none;
        background: none;
        margin: 0;
        float: none;
        padding: 0 0 0 10px;
        border: none;
      }
    }
  }

  .chanel-categories {
    flex-basis: 20%;
    margin: 20px 0 0;
    &.tablet-show {
      display: none;
    }

    @include media-breakpoint-down(md) {
      &.desktop-show {
        display: none;
      }
      &.tablet-show {
        margin: 0;
        padding: 5px 20px;
        display: block;
      }
    }

    &.tablet-show {
      .nav-link,
      .subcat-link {
        position: relative;
        font-size: $base-fontSize;

        &::before {
          content: '';

          @extend .svg-svg-103-mini-plus-thin;
          @extend .svg-svg-103-mini-plus-thin-dims;

          display: inline-block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .nav-item {
        &.show {
          .nav-link {
            &::before {
              @extend .svg-svg-49-minus-thin;
              @extend .svg-svg-49-minus-thin-dims;

              width: 12px;
              opacity: 0.6;
            }
          }
        }
      }

      .sub-category {
        &.show {
          .subcat-link {
            font-family: $bold-fontFamily;

            &::before {
              @extend .svg-svg-49-minus-thin;
              @extend .svg-svg-49-minus-thin-dims;

              width: 12px;
              opacity: 0.6;
            }
          }
        }
      }

      .navigate-link,
      .navnext-link .nav-link {
        position: relative;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          right: -6px;
          top: 50%;
          transform: translateY(-50%) rotate(270deg) scale(0.6);

          @extend .svg-svg-14-chevron;
          @extend .svg-svg-14-chevron-dims;
        }
      }
    }
  }

  .cat-landing-slots {
    flex-basis: 75%;
    margin: 30px 0 0;

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      margin: 0;
    }
  }

  .chanel-slot-1 {
    border: 1px solid $secondary-utility-13;
    margin: 0 0 20px;

    @include media-breakpoint-down(md) {
      margin: 0;
    }

    @media #{$sm-ls} {
      border: none;
    }
  }

  .chanel-slot-2 {
    position: relative;

    @include media-breakpoint-down(md) {
      padding: 15px 20px 0;
    }

    &::after {
      content: '';
      background: $primary-Base-3;
      position: absolute;
      top: 20px;
      width: 50%;
      height: 100%;
      right: 12%;
      opacity: 0.8;

      @include media-breakpoint-down(md) {
        right: 0;
        top: 25px;
      }

      @media #{$sm-ls} {
        content: none;
      }
    }

    .chanel-slot-content {
      position: absolute;
      top: 40px;
      width: 36%;
      right: 22%;
      display: flex;
      flex-direction: column;
      z-index: 1;
      font-size: $base-fontSize - 2;
      font-family: $bold-fontFamily;

      @include media-breakpoint-down(md) {
        right: 0;
        top: 35px;
        width: 45%;
      }

      @media #{$sm-ls} {
        position: static;
        width: 100%;
        padding: 25px 0 0;
      }

      span {
        margin: 0 0 8px;
      }
    }

    .chanel-head {
      font-size: $base-fontSize;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .search-results {
    .product-search-results {
      margin: 0 0 20px;
    }

    .chanel-categories {
      margin: 0;
      padding: 0;
    }
  }

  .chanel-category-head {
    font-family: $bold-fontFamily;
    margin: 0 0 10px;
    display: inline-block;
    text-transform: uppercase;
  }
}

.chanel-banner {
  width: 100%;
  margin: 0 0 25px;

  @media #{$sm-ls} {
    margin-top: 5px;
  }

  .container {
    @media #{$sm-ls} {
      padding: 0;
    }
  }

  .chanel-heading {
    background: $secondary-Variant-1;
    padding: 0 20px;
    color: $primary-Base-3;
    font-size: $base-fontSize + 26;
    font-family: $bold-fontFamily;
    letter-spacing: 1px;

    @media #{$sm-ls} {
      padding: 0 10px;
      font-size: $base-fontSize + 10;
    }
  }
}

.product-detail {
  &.chanel-pdp {
    .primary-images-container {
      .primary-images-wrapper {
        @include media-breakpoint-up(md) {
          margin-right: auto;
        }
      }
    }

    .wishlistTile {
      @include media-breakpoint-up(md) {
        right: 80px;
      }
    }

    .pdpdeselect-wishlist {
      + .customer-content {
        @include media-breakpoint-up(md) {
          right: 65px;
        }
      }
    }

    $chanel-brand-name-margin: 2px 0 7px;
    $chanel-collection-name-bottom-margin: 9px;
    $chanel-product-name-bottom-margin: 12px;

    .product-brand-name,
    .product-collection-name {
      line-height: 1;
    }

    .pdp-right-section .product-name {
      line-height: 1.4;
    }

    .product-brand-name {
      font-family: $base-fontFamily;
      text-transform: uppercase;
      margin: $chanel-brand-name-margin;

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .prices .price {
      font-family: $base-fontFamily;
    }

    .product-collection-name {
      text-transform: capitalize;
      font-size: $base-fontSize + 4;
      margin-bottom: $chanel-collection-name-bottom-margin;
    }

    .pdp-right-section .product-name {
      font-size: $base-fontSize + 4px;
      font-family: $base-fontFamily;
      margin-bottom: $chanel-product-name-bottom-margin;
    }
  }

  .desktop-show {
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .tablet-show {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

.chanel-banner {
  padding: 6px 25px 12px;
  margin: 0;
  background: $black;

  @include media-breakpoint-down(sm) {
    padding: 8px 25px 12px;
  }
}

.chanel-header {
  font-family: $aven-trade-gothic-next-bold;
  font-size: $base-fontSize + 28px;
  color: $white;
  line-height: 1;
  letter-spacing: 1px;

  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
    font-size: $base-fontSize + 16px;
  }
}

.container {
  &.chanel-banner-container {
    @include media-breakpoint-up(xl) {
      max-width: 1260px;
      padding: 0 40px;
    }

    @media #{$largedesktop} {
      max-width: 1440px;
      padding: 0 40px;
      margin-left: auto;
      margin-right: auto;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    &.pdp-banner {
      margin: 34px auto;

      @include media-breakpoint-down(sm) {
        margin: 20px auto;
      }
    }

    &.clp-banner {
      margin: 40px auto 20px;

      @include media-breakpoint-down(sm) {
        margin: 20px auto 0;

        .chanel-banner {
          margin: 0;
        }
      }
    }
  }
}

.chanel-master-container {
  max-width: initial !important;
}

.chanel-clp {
  &.nav-chanel-display {
    .dropdown-item {
      .chanel-text-head {
        font-family: $aven-trade-gothic-next-bold;
        font-size: 14px;
        line-height: 20px;
      }
      .dropdown-link {
        display: inline-block;
        white-space: normal;
      }

      &.chanel-show {
        > .dropdown-menu {
          display: block !important;
        }

        > .dropdown-link {
          @include media-breakpoint-up(lg) {
            font-family: $aven-trade-gothic-next-bold;
          }
        }
      }
    }
  }
  &.chanel-search-results {
    .container.search-results {
      padding: 0;

      .plp-heading-sort-wrap {
        padding-top: 0;

        @include media-breakpoint-down(xs) {
          border-bottom: solid 1px $avenue-secondary-variant-7;
          margin: 0 20px;
        }

        .search-results-header {
          position: relative;
          @include media-breakpoint-down(xs) {
            margin-top: 18px;
            margin-bottom: 18px;
          }
          .arrow-left {
            &:before {
              position: absolute;
              content: '';
              left: 0px;
              top: 5px;
              @extend .svg-38-avenue-Active-Left;
              @extend .svg-38-avenue-Active-Left-dims;
              display: none;
              @include media-breakpoint-down(xs) {
                display: block;
              }
            }
          }
        }
      }

      .search-result-content {
        margin-bottom: 10px;

        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
      }
    }
    .chanel-categories {
      padding: 0 15px;

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }
  &.catlanding-chanel {
    .dropdown-item {
      .nav-link {
        display: none;
      }

      .dropdown-link {
        display: inline-block;
        white-space: normal;
      }

      &.show {
        > .dropdown-menu {
          display: block !important;
        }
        > .dropdown-link {
          @include media-breakpoint-up(lg) {
            font-family: $aven-trade-gothic-next-bold;
          }
        }
      }
    }
  }
}

.chanel-clp {
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    max-width: 1260px;
    padding: 0 40px;
  }

  @media #{$largedesktop} {
    max-width: 1440px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .chanel-category-head {
    margin: 0 0 5px;
    font-family: $aven-trade-gothic-next-bold;
  }

  .chanel-categories {
    flex-basis: 15%;
    margin: 0 18px 0 0;
    overflow: hidden;
  }

  .cat-landing-slots {
    flex-basis: 85%;
    margin: 0;

    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
      margin-bottom: 54px;
    }
  }

  .chanel-head-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 14px 0 18px;
    border-bottom: 1px solid $secondary-Utility-9;
    margin: 0 0 11px;
    font-family: $aven-trade-gothic-next-bold;

    .chanel-head-label {
      flex-basis: 100%;
      text-align: center;
    }
  }

  .nav-item .nav-link,
  .dropdown-item .nav-link {
    @include media-breakpoint-down(sm) {
      padding: 10px 0;
    }
  }

  .dropsown-content {
    display: block;
    padding: 0;

    @include media-breakpoint-down(md) {
      .dropdown-item {
        &:first-of-type {
          .cat-link {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.cat-landing {
  &.search-results-page-landing {
    .chanel-banner {
      margin: 34px auto 24px;
      @include media-breakpoint-down(sm) {
        margin: 20px auto;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1260px;
      }
      @media #{$largedesktop} {
        max-width: 1360px;
        padding: 6px 25px 12px;
      }

      @include media-breakpoint-down(sm) {
        padding: 8px 25px 12px;
      }
    }
  }
}
