@import 'config/variables';
@import 'bootstrap/scss/mixins';
@import '~base/utilities/responsiveUtils';
@import 'components/sprite';
@import 'components/avenue-sprite';

.giftcard-dialog,
.wherearegcmodal-dialog {
  max-width: 450px;

  .modal-body {
    padding: 20px;

    @include media-breakpoint-down(xs) {
      padding: 10px;
    }
  }
}

.wherearegcmodal {
  &.show {
    z-index: 1051;

    + .modal-backdrop {
      z-index: 1050;
    }
  }
}

#giftcard-modal {
  &.show {
    + .modal-backdrop {
      + .veil {
        z-index: 1052;
      }
    }
  }
}

.giftcard-dialog {
  @include media-breakpoint-down(xs) {
    margin: 0;

    .modal-content {
      overflow: scroll;
      height: 100vh;
    }
  }
}

.giftcard-modal-sec {
  @include media-breakpoint-down(xs) {
    padding: 0 !important;
  }
}

.giftcard-dialog-body {
  .check-balance-heading {
    text-align: center;
    font-size: $base-fontSize + 14px;
    color: $secondary-Variant-1;
    margin-bottom: 0;
    font-family: $Moneta-regular;
    letter-spacing: 1.2px;
    line-height: 1;
    padding: 28px 0 24px;

    &.gift-card-balance-heading {
      padding: 28px 0 36px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 24px;
      line-height: 1.21;
      padding: 125px 0 36px;
      margin: 0;

      &.gift-card-balance-heading {
        padding: 190px 0 24px;
      }
    }
  }

  .error-message {
    font-size: $base-fontSize - 2px;
    color: $secondary-Utility-1;
    padding: 0 0 15px 44px;
    display: inline-block;
    margin: 0;

    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }

    &.generic-error {
      background: $avenue-contextual-variant-9;
      border: solid 1px $avenue-contextual-variant-10;
      padding: 9px 13px;
      color: $avenue-primary-base-2;
    }
  }

  .gc-close-btn {
    display: inline-block;
    position: absolute;
    right: 25px;
    cursor: pointer;
    opacity: 0.75;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transform: scale(0.93);
    top: 17px;
    &::after {
      @include media-breakpoint-down(md) {
        content: "";
        position: absolute;
        width: 47px;
        height: 47px;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
  }

  .giftcard-form {
    padding: 0 37px 25px;

    @include media-breakpoint-down(xs) {
      padding: 0 0 25px;
    }

    .giftcard-error {
      padding-bottom: 10px;
    }

    .wherearegc {
      font-family: $base-fontFamily;
      height: 54px;
      border-radius: 0;
      text-transform: uppercase;
      margin-top: 24px;
      text-decoration: underline;
      float: left;
      color: $avenue-primary-base-2;
      font-size: $base-fontSize - 2;
      line-height: 18px;

      &:hover {
        text-decoration: none;
      }
    }

    .check-bal-bttn {
      margin-top: 26px;
      font-family: $aven-trade-gothic-next-regular;
      letter-spacing: 1.2px;
      height: 45px;
    }

    .form-group {
      position: relative;
      margin-bottom: 18px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 42px;
      }

      &.error {
        .form-control-label {
          color: $secondary-Utility-1;

          &.input-focus {
            color: $secondary-Utility-1;
          }
        }

        .form-control {
          border-color: $secondary-Utility-1;
          color: $secondary-Utility-1;
        }

        .error-message {
          font-size: $base-fontSize - 2px;
          color: $secondary-Utility-1;
          padding: 8px 0 0;
        }
      }

      &.gf-pin {
        margin-bottom: 13px;
      }

      .error-img {
        display: inline-block;
        position: absolute;
        right: 11px;
        transform: scale(0.96);

        @extend .svg-23-avenue-warning-dims;
        @extend .svg-23-avenue-warning;

        top: 9px;
      }

      .success-img {
        @extend .svg-svg-107-check-thin-dims;
        @extend .svg-svg-107-check-thin;

        display: inline-block;
        position: absolute;
        right: 11px;
        top: 10px;
        transform: scale(0.75);
      }

      .form-control {
        height: 45px;
        line-height: 1.3;
        font-size: $base-fontSize;
        border-radius: 0;
        border-color: $avenue-secondary-variant-6;
        font-family: $aven-trade-gothic-next-regular;
        margin-bottom: 0;

        &.is-invalid {
          border-color: $error-msg;
        }

        &.gc-pin {
          margin-bottom: 0;
        }
      }

      .form-control-label {
        position: absolute;
        top: 13px;
        margin: 0;
        pointer-events: none;
        line-height: 1.22;
        left: 15px;
        color: $avenue-primary-base-2;

        &.input-focus {
          padding: 0 6px;
          font-size: 10px;
          background-color: $primary-Base-3;
          pointer-events: none;
          color: $secondary-Variant-1;
          top: -4px;
          left: 10px;
        }

        &.is-invalid {
          color: $error-msg;
        }
      }
    }
  }

  .giftcard-balance {
    padding: 0 38px 25px;

    @include media-breakpoint-down(xs) {
      padding: 0 0 25px;
    }

    .continue-bttn {
      font-family: $base-fontFamily;
      border-radius: 0;
      line-height: 1.22;
      text-transform: uppercase;
      font-size: $base-fontSize;
      display: inline-block;
      margin-top: 36px;
    }

    .check-bal-bttn {
      line-height: 1.22;
      text-transform: uppercase;
      font-size: $base-fontSize;
      font-family: $base-fontFamily;
      height: 54px;
      border-radius: 2px;
      margin-top: 18px;
      border: 1px solid $avenue-primary-base-2;
      color: $avenue-primary-base-2;

      &:hover {
        color: $primary-Base-3;
        background-color: $primary-Base-2;
      }
    }

    .continue-bttn,
    .check-bal-bttn {
      font-family: $aven-trade-gothic-next-regular;
      height: 45px;
      border-radius: 2px;
    }

    .giftcard-number {
      padding-left: 35px;
      text-align: left;
      font-family: $aven-trade-gothic-next-bold;
      line-height: 20px;

      span {
        padding-right: 10.5px;
        font-family: $aven-trade-gothic-next-regular;
      }

      .card-number {
        padding-bottom: 9px;
        font-family: $aven-trade-gothic-next-bold;
      }
    }
  }
}
