@import 'config/variables';
@import 'bootstrap/scss/mixins';
@import '~base/utilities/responsiveUtils';

.email-signup-form,
.email-signup-success {
  max-width: 657px;
  margin: 0 auto;

  @include media-breakpoint-down(xs) {
    padding: 0 15px;
  }

  @media #{$belowtab} {
    padding: 0 20px;
  }

  p {
    letter-spacing: 0.25px;
  }

  .form-heading,
  .email-signup-heading {
    font-family: $Moneta-regular;
    font-size: $base-fontSize + 14px;
    letter-spacing: 1.2px;
    margin-bottom: 5px;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize + 12px;
      letter-spacing: 1px;
    }
  }

  .email-signup-heading {
    text-align: center;
    font-size: $base-fontSize + 14px;
    line-height: 1.22;
    padding-top: 35px;
    margin-bottom: 13px;

    @media #{$belowtab} {
      padding-top: 10px;
      margin-bottom: 10px;
    }

    @include media-breakpoint-down(xs) {
      font-size: $base-fontSize + 10px;
    }
  }

  .email-signup-header {
    padding: 34px 0 17px;
    text-align: center;

    @media #{$belowtab} {
      padding-top: 10px;
    }

    h2 {
      @extend .form-heading;
    }
  }

  .hbc-loyalty-number-prefix {
    position: absolute;
    top: 12px;
    left: 10px;
    color: $secondary-Variant-4;
    pointer-events: none;
  }

  .birthday-label,
  .gender-label {
    display: inline-block;
    font-family: $aven-trade-gothic-next-regular;
    margin-top: 5px;
    font-size: $base-fontSize;
    letter-spacing: 0.25px;
  }

  .gender-label {
    margin-bottom: 10px;
  }

  .hudson-reward {
    padding-left: 60px;
  }

  .custom-radio {
    width: 90px;
    float: left;
    margin-bottom: 20px;
  }

  .email-signup-submit {
    width: 320px;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .add-to-email-list {
    padding-left: 25px;
  }

  .custom-checkbox {
    .custom-control-label {
      padding-left: 4px;
      letter-spacing: 0.25px;
    }
  }

  .btn-signup {
    max-width: 317px;
    margin: 36px auto 23px;

    @media #{$belowtab} {
      margin: 32px auto 20px;
      max-width: 335px;
    }
  }

  .two-col {
    .col-sm-6 {
      .form-group {
        max-width: 317px;

        @media #{$belowtab} {
          max-width: 100%;
        }

        select {
          background-position-x: 97%;
        }
      }

      &.select-day-year {
        padding: 0 6px 5px;

        @media #{$belowtab} {
          padding: 0 7px 3px;
        }

        .form-group {
          max-width: 150px;

          @media #{$belowtab} {
            max-width: 100%;
          }

          select {
            background-position-x: 93%;
          }
        }
      }
    }
  }

  .inline-link {
    color: $avenue-primary-base-2;
    font-size: $base-fontSize - 4;
    text-decoration: none;
    border-bottom: solid 1px $avenue-primary-base-2;
    text-transform: none;

    &:hover {
      border-color: transparent;
    }
  }

  .email-signup-footer {
    font-size: $base-fontSize - 4;
    line-height: 18px;

    p {
      letter-spacing: normal;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-group {
    &.fg-birthday {
      margin-bottom: 6px;
    }
  }
}

.email-signup-success {
  text-align: center;
  margin-bottom: 13px;

  .email-signup-header-base {
    letter-spacing: 0.25px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .continue-btn {
    margin: 0 auto 25px;
    text-align: center;

    .order-confirmation-continue-shopping {
      padding: 0 77px;
    }
  }

  .email-signup-prize-reward {
    font-size: $base-fontSize - 4;
    letter-spacing: normal;
  }
}

#contentAssetModal {
  padding-right: 0 !important;

  .modal-header {
    border: none;

    .close {
      transform: scale(0.75);
      padding: 0;
      margin: 0;
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  .modal-dialog {
    max-width: 450px;
  }

  .modal-body {
    padding: 0 20px 20px;
  }
}
