@import 'config/variables';
@import '~base/login';
@import 'account/login_details';
@import 'account/login_popup';
@import 'account/order_cancel';
@import 'account/edit_password';
@import 'account/forgotPassword';
@import 'account/order_status';

.remember-me {
  label {
    font-size: $base-fontSize;
    font-family: $bold-fontFamily;
  }
}

.order-history-navigator {
  display: none;
}
