@import 'config/variables';
@import '~base/bootstrap-custom-import';

body {
  background-color: $primary-Base-3;
  font-family: $base-fontFamily;
}

.site-offline {
  margin: 0 auto;
  padding: 224px 85px;

  @include media-breakpoint-down(sm) {
    padding: 224px 217px;
  }

  @include media-breakpoint-down(xs) {
    padding: 73px 15px 150px;
  }

  .maintenance-main {
    font-size: $base-fontSize + 10px;
    line-height: 1.21;
    text-align: center;
    padding-bottom: 95px;
    color: $secondary-Utility-6;

    &.eng-text {
      padding: 0 67px 95px 0;
      border-right: 1px solid $secondary-Variant-6;

      @include media-breakpoint-down(sm) {
        padding: 0 2px 49px;
        border: none;
        border-bottom: 1px solid $secondary-Variant-6;
      }

      @include media-breakpoint-down(xs) {
        padding: 0 10px;
        border: 0;

        .maintenance-text {
          border-bottom: 1px solid $secondary-Variant-6;
          padding-bottom: 51px;
        }
      }
    }

    &.french-text {
      padding: 0 0 0 64px;

      @include media-breakpoint-down(sm) {
        padding: 34px 0 0;
      }

      @include media-breakpoint-down(xs) {
        padding: 34px 10px 0;
      }
    }

    .heading {
      margin-top: 19px;
      margin-bottom: 31px;

      .maintainance-logo {
        background: url('../images/maintainance-logo.png') no-repeat;
        display: inline-block;
        background-size: 100%;
        width: 180px;
        height: 90px;

        &.french-logo {
          background: url('../images/hbc-french-logo.png') no-repeat;
          background-size: 100%;
          width: 350px;
        }
      }
    }

    .maintenance-text {
      line-height: 1.3;
      letter-spacing: 0.35px;
      font-size: $base-fontSize;
      max-width: 330px;
      margin: 20px auto 0;
    }
  }
}
