@import 'config/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'components/sprite';

.pagination-container {
  margin: 35px 0 0;

  @include media-breakpoint-down(md) {
    margin: 15px 0 0;
  }

  @include media-breakpoint-down(xs) {
    margin: 20px 0 0;
  }

  .page-wrapper {
    a {
      text-decoration: none !important;
      color: $avenue-primary-base-2 !important;
    }

    .page-item {
      width: 30px;
      height: 30px;
      align-items: center;
      a {
        @extend .svg-svg-14-chevron;

        width: 24px;
        height: 16px;
        color: transparent !important;
      }

      &.disabled {
        display: none !important;

        a {
          opacity: 0.45;
        }
      }
    }

    .prev,
    .next {
      &:hover {
        cursor: pointer;
        background-color: $black;

        a {
          background-position: 0 89.44329896907216%;
        }
      }

      a {
        margin: 0 auto;
      }
    }

    .prev {
      margin: 0;

      a {
        transform: rotate(90deg) scale(0.63);
      }
    }

    .next {
      margin: 0 0 0 7px;

      a {
        transform: rotate(-90deg) scale(0.63);
      }
    }

    .pagination {
      @include media-breakpoint-down(xs) {
        margin: 2px 0 0;
      }

      li {
        width: 29px;
        height: 29px;
        margin-left: 5px;

        &.current {
          background-color: $secondary-Utility-9;
        }

        a:hover {
          color: $hb-White-base !important;
          background-color: $black;
          text-align: center;
          padding-top: 4px;
          width: 29px;
          height: 29px;
        }
      }
    }
  }
}
