@import 'config/variables';

.saks-landing {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .saks-plus-become-a-member {
    padding-bottom: 68px;
  }

  .add-to-cart-global,
  .waitlist-button-text {
    max-width: 280px;
    width: 100%;
    margin-top: 18px;
  }

  .waitlist-form-saksplus {
    margin-top: 27px;
    margin-bottom: 110px;

    .join-the-waitlist-head {
      display: block;
      font-family: $base-fontFamily;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: 0.37px;
      line-height: 36px;
      margin-bottom: 15px;
    }

    .join-the-waitlist {
      font-family: $base-fontFamily;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.22px;
      line-height: 20px;
      display: inline-block;
      margin-bottom: 21px;

      i {
        font-weight: bold;
      }
    }
  }

  .waitlistForm {
    max-width: 317px;
    margin: 0 auto;
  }

  .invalid-feedback {
    text-align: left;
  }

  .member-heading {
    display: block;
  }

  .success-msg {
    padding: 12px 15px;
    background: $aven-sold-out-bg;
    border-radius: 2px;
    border: 1px solid $contextual-grey-stroke;
    max-width: 317px;
    width: 100%;
    margin: 24px auto 0;

    .message {
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
    }
  }

  .wait-list-success {
    .alert-success {
      background-color: transparent;
      padding: 0;

      &::before {
        display: none;
      }
    }
  }
}
