@font-face {
  font-family: 'Moneta-Regular';
  src: url('../fonts/moneta/moneta-regular.woff2') format('opentype'), url('../fonts/moneta/moneta-regular.woff') format('woff'),
    url('../fonts/moneta/moneta-regular.otf') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Moneta-Bold';
  src: url('../fonts/moneta/moneta-bold.woff2') format('opentype'), url('../fonts/moneta/moneta-bold.woff') format('woff'),
    url('../fonts/moneta/moneta-bold.otf') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Moneta-Black';
  src: url('../fonts/moneta/moneta-black.woff2') format('opentype'), url('../fonts/moneta/moneta-black.woff') format('woff'),
    url('../fonts/moneta/moneta-black.otf') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'trade-gothic-next-bold';
  src: url('../fonts/trade-gothic/trade-gothic-next-bold.woff2'), url('../fonts/trade-gothic/trade-gothic-next-bold.woff'),
    url('../fonts/trade-gothic/trade-gothic-next-bold.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'trade-gothic-next-regular';
  src: url('../fonts/trade-gothic/trade-gothic-next-regular.woff2'), url('../fonts/trade-gothic/trade-gothic-next-regular.woff'),
    url('../fonts/trade-gothic/trade-gothic-next-regular.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'trade-gothic-next-condensed';
  src: url('../fonts/trade-gothic/trade-gothic-next-condensed.woff2'), url('../fonts/trade-gothic/trade-gothic-next-condensed.woff'),
    url('../fonts/trade-gothic/trade-gothic-next-condensed.otf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
