@CHARSET "UTF-8";
.forter-orders-table {
	padding-top: 1rem;
}

.pagecursor .pagecursortxt,
.pagecursor .pagecursorpages,
.pagecursor .pagecursorpages div {
	display: inline-block;
}

.pagecursor .pagecursorpages {
	float: right;
}

.forter-decision-sort:link,
.forter-decision-sort:visited,
.pagecursorbtn:link,
.pagecursorbtn:visited,
.page-first:link,
.page-first:visited,
.page-last:link,
.page-last:visited {
	text-decoration: none;
}

.forter-order-status {
	text-transform: lowercase;
}

.forter-order-status::first-letter {
	text-transform: uppercase;
}

.no_orders {
	padding-top: 1.0rem;
	color: #666666;
	font-size: 2.0rem;
}

#forter-search div {
	display: inline-block;
	padding: 0.5rem;
}

.forter-url {
	width: 15.0rem;
}

input.date {
	margin-right: 2.3rem;
}

.start-date input {
	margin-left: 2.0rem;
	width: 11.6rem;
}

.end-date input {
	margin-left: 4.8rem;
	width: 11.6rem;
}

.forter-decision select {
	min-width: 11.9rem;
}
