.terminal .clipboard {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.01;
  filter: alpha(opacity = 0.01);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
  width: 2px;
}
.cmd > .clipboard {
  position: fixed;
}
.terminal {
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.cmd {
  padding: 0;
  margin: 0;
  height: 1.3em;
}
.terminal .terminal-output div {
  display: block;
}
.terminal,
.terminal .terminal-output,
.terminal .terminal-output div,
.terminal .terminal-output div div,
.cmd,
.terminal .cmd span,
.terminal .cmd div {
  font-family: monospace;
  color: #ffffff;
  background-color: #2e64fe;
  font-size: 18px;
}
/* This works only in Safari and Google Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .terminal,
  .terminal .terminal-output,
  .terminal .terminal-output div,
  .terminal .terminal-output div div,
  .cmd,
  .terminal .cmd span,
  .terminal .cmd div {
    font-weight: bold;
  }
}
.terminal .cmd span {
  float: left;
}
.terminal .cmd span.inverted {
  background-color: #fff;
  color: #000;
}
.terminal::-moz-selection {
  background: rgba(170, 170, 170, 0.99);
  color: #000;
  text-shadow: none;
}
.terminal::-webkit-selection {
  background: rgba(170, 170, 170, 0.99);
  color: #000;
  text-shadow: none;
}
.terminal::selection {
  background: rgba(170, 170, 170, 0.99);
  color: #000;
  text-shadow: none;
}
/* chrome hack */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::selection {
    background: rgba(170, 170, 170, 0.99);
    color: #000;
    text-shadow: none;
  }
}
.terminal .terminal-output div.error,
.terminal .terminal-output div.error div {
  color: red;
}
.tilda {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
}
.clear {
  clear: both;
}
