@import '../config/variables';

.addressbook,
.paymentmethod {
  justify-content: flex-start;

  .account-dashboard {
    @include media-breakpoint-down(md) {
      margin: 0;
    }
  }

  .user-profile {
    margin-right: auto;
    margin-left: 11%;
    width: 66.1%;

    @include media-breakpoint-down(md) {
      width: 70.7%;
      margin: 28px auto 0;
    }

    @media #{$belowtab} {
      width: 100%;
      max-width: 100%;
      margin: 27px auto 0;
    }

    @include media-breakpoint-up(md) {
      margin-left: 9%;
      width: 66.1%;
    }

    .welcome-account-header {
      margin: 0 0 15px;

      @include media-breakpoint-down(md) {
        display: none;
      }

      h1 {
        line-height: 1.17;
      }
    }

    &.edit-add-address {
      .welcome-account-header {
        margin: 0 0 46px;

        @include media-breakpoint-down(md) {
          margin: 0 0 20px;
        }

        @include media-breakpoint-down(md) {
          margin: 0 0 8px;
        }
      }

      .card-body {
        padding: 0;
      }
    }

    &.edit-payment {
      @include media-breakpoint-up(md) {
        margin-left: 0;
        width: 83%;
      }

      .btn-block {
        margin-bottom: 16px;
      }

      .add-payment-form {
        max-width: 317px;
        margin: 0;
        padding: 0;

        &.tcc-add-payment-form {
          max-width: 380px;
        }

        @include media-breakpoint-down(md) {
          max-width: 356px;
          margin: 0 auto;
        }

        @media #{$belowtab} {
          max-width: 335px;
        }

        @include media-breakpoint-down(xs) {
          max-width: 100%;
          flex: 0 0 100%;
          padding: 0;
        }

        .floating-label {
          label {
            z-index: 1;
          }
        }

        .expiration-date {
          font-family: $bold-fontFamily;
          margin-bottom: 5px;
        }

        input::-ms-clear {
          display: none;
        }
      }

      .welcome-account-header.user-message {
        line-height: 32px;
      }

      .welcome-account-header-payment {
        margin: 0;

        .user-message {
          font-weight: bold;
        }
      }

      .btn-save {
        margin-bottom: 18px;
      }
    }

    .card-image {
      display: inline-block;
      width: 67px;
      height: 42px;
      text-align: center;
      margin-bottom: 14px;

      &.card-number-wrapper::after {
        right: 9px;
        top: 7px;
        transform: scale(1.5);
      }
    }
  }

  .no-address-message {
    margin-bottom: 17px;

    h2 {
      font-size: $base-fontSize;
      letter-spacing: 0.25px;
      line-height: 1.45;
      margin: 0 0 22px;

      @include media-breakpoint-down(xs) {
        margin: 0 0 30px;
      }
    }

    h3 {
      @include media-breakpoint-down(xs) {
        margin: 0 0 15px;
      }
    }
  }

  .address-box,
  .payment-box {
    padding: 0;

    a {
      background: none;
      width: 100%;
      height: 198px;
      border: 1px solid $secondary-utility-13;
      color: $avenue-secondary-variant-1;
      border-radius: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $base-fontSize - 2;
      line-height: 1.1;
      letter-spacing: 1.25px;

      &:hover {
        color: $avenue-secondary-variant-4;
        border: 2px solid $avenue-secondary-variant-1;
        background-color: $avenue-primary-base-1;
      }

      &.add-an-address-styles {
        &:hover {
          color: $avenue-secondary-variant-4;
          border: 2px solid $avenue-secondary-variant-1;
          background-color: $avenue-primary-base-1;
        }
      }

      // TODO: refactor. create a layout system that's fluid and freaking logical!
      // max-width: 1023.99px
      @include media-breakpoint-down(md) {
        height: 165px;
        width: 263px;
      }

      // max-width : 767.98px
      @media #{$belowtab} {
        width: 335px;
      }

      // min-width : 768px
      @media #{$tabnabove} {
        width: 317px;
      }
    }
  }

  .default-address-heading,
  .nickname,
  .other-address-heading {
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 0.25px;
    text-transform: capitalize;
    padding-bottom: 9px;
    line-height: 20px;
  }

  .card-body-positioning {
    padding: 18px 15px;
    border: 1px solid $avenue-login-border;
    margin: 0 0 18px;
    font-size: $base-fontSize - 2;
    letter-spacing: 0.25px;
    line-height: 1.5;
    min-height: 197px;

    @include media-breakpoint-down(xs) {
      padding: 18px 10px;
    }

    .address-info {
      display: block;
      clear: both;
    }

    a {
      color: $avenue-secondary-variant-1;
      text-decoration: underline;

      &.default-address-heading {
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .edit-address-link,
  .remove-address {
    margin: 28px 18px 0 0;

    &.address2-space {
      margin-top: 46px;
    }
  }

  .addresss-row,
  .payment-instrument {
    .card-header {
      border: 0;
      padding: 12px 0;
      margin: 0 0 8px;
      min-height: 45px;

      @media #{$belowtab} {
        min-height: initial;
      }
    }
  }

  .more-address,
  .payment-instrument-wrapper {
    justify-content: space-between;

    .addresss-row,
    .payment-instrument {
      flex: 0 0 48.8%;
      max-width: 50%;
      margin: 0 0 20px;

      @include media-breakpoint-down(md) {
        flex: 0 0 48.5%;
        max-width: 50%;
      }

      @media #{$belowtab} {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &.default-section {
        flex: 0 0 100%;
        max-width: 100%;

        .col-12 {
          flex: 0 0 48.8%;
          max-width: 48.8%;

          @include media-breakpoint-down(md) {
            flex: 0 0 48.5%;
            max-width: 48.5%;
          }

          @media #{$belowtab} {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .payment-instrument-wrapper {
    align-items: flex-start;
    max-width: 650px;
    margin: 0;

    .payment-instrument {
      .card-info-group {
        font-size: $base-fontSize - 2px;
        font-family: $aven-trade-gothic-next-regular;
        letter-spacing: 0.25px;
        line-height: 18px;
      }
      .card-expired {
        color: #e13232;
      }
    }

    .default-address-heading,
    .other-address-heading {
      line-height: 1.22;
      margin-bottom: 21px;
    }

    .other-address-heading {
      @include media-breakpoint-down(xs) {
        margin-top: 10px;
      }
    }

    .payment-info {
      text-transform: capitalize;
    }

    .card-type {
      text-transform: none;
    }

    .top-space-common {
      color: $avenue-secondary-variant-1;
      display: inline-block;
      font-size: $base-fontSize - 2px;
    }

    span.top-space-common {
      display: inline;
    }

    .remove-payment {
      margin-right: 18px;
      margin-top: 27px;
    }
  }

  .add-more-address,
  .add-more-payments {
    .address-box,
    .payment-box {
      a {
        width: 100%;
        max-width: 100%;
        margin: 0;
        text-transform: uppercase;
        color: $avenue-secondary-variant-1;
        font-family: $aven-trade-gothic-next-regular;
        letter-spacing: 1.25px;
        line-height: 15px;
        font-size: $base-fontSize - 2px;

        @include media-breakpoint-down(md) {
          width: 48.5%;
          max-width: 48.5%;
        }

        @media #{$belowtab} {
          width: 100%;
          max-width: 100%;
        }

        &.add-an-address-styles {
          &:hover {
            color: $avenue-secondary-variant-4;
            border: 2px solid $avenue-secondary-variant-1;
            background-color: $avenue-primary-base-1;
          }
        }
      }
    }
  }

  .add-more-payments {
    max-width: 650px;
    margin: 0 auto;
  }

  .card-make-default-link {
    margin-top: 28px;

    &.address2-space {
      margin-top: 46px;
    }

    .set-default {
      margin-left: 16px;
    }
  }

  a.disable-link {
    pointer-events: none;
    color: $avenue-secondary-variant-5;
  }

  // Delete Payment Styles
  .deletePaymentModal-main,
  .deleteAddressModal-main {
    .delete-confirmation-body {
      width: 100%;
      padding: 0 20px 37px;

      .remove-text {
        line-height: 20px;
      }

      .payment-to-remove,
      .product-to-remove {
        font-family: $aven-trade-gothic-next-regular;
        margin-top: 10px;
        margin-bottom: 0;
        color: $avenue-secondary-variant-1;
        font-weight: bold;
      }
    }

    .modal-footer {
      padding: 0 20px 27px;
    }

    .close {
      transform: scale(0.75);
    }

    .btn-block {
      font-family: $aven-trade-gothic-next-regular;
    }
  }
}
