.reset-email-preferences {
  @include media-breakpoint-down(lg) {
    width: 83%;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  .welcome-account-header {
    margin-bottom: 24px;
  }

  .reset-email {
    max-width: 647px;
    margin: 0 auto;
  }

  p {
    span {
      @include media-breakpoint-up(md) {
        float: left;
        padding-right: 3px;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .form-group {
    select {
      background-position-x: 98%;

      @include media-breakpoint-down(xs) {
        background-position-x: 97%;
      }
    }

    &.hudson-bay-chk {
      margin-bottom: 10px;
    }
  }

  .select-language {
    margin: 23px 0 15px;
    font-family: $bold-fontFamily;
    line-height: 18px;
  }

  .saks-options {
    margin-top: 23px;
  }

  .custom-checkbox {
    .saks-label {
      font-family: $bold-fontFamily;
      font-size: 12px;
      line-height: 2;
    }

    .custom-control-label::before {
      border: 1px solid $secondary-Variant-5;
    }
  }
}
