.user-edit-profile {
  .welcome-account-header h1 {
    margin-bottom: 24px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
    }
  }

  .edit-profile {
    max-width: 666px;
    margin: 0 auto;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;

    @include media-breakpoint-up(sm) {
      margin-right: -8px;
      margin-left: -8px;
    }
  }

  .col-12 {
    padding-right: 15px;
    padding-left: 15px;

    @include media-breakpoint-up(sm) {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .buttons-sec {
    .cncl {
      @include media-breakpoint-down(xs) {
        order: 1;
      }
    }
  }

  .privacy-policy-section {
    @include media-breakpoint-down(xs) {
      text-align: center;
    }

    .privacy-link {
      line-height: 1.22;
      border-bottom: 1px solid;

      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}
