.reset-pwd {
  max-width: 347px;
  margin: 0 auto;
  flex: 0 0 65%;

  @include media-breakpoint-down(xs) {
    max-width: 450px;
    flex: 0 0 100%;
  }
}

.reset-user-pwd {
  .welcome-account-header {
    margin-bottom: 28px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
    }
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .password-condition {
    text-align: right;
    margin-bottom: 15px;

    p {
      margin: 0;
      font-size: $base-fontSize - 2px;
    }
  }
}

.btn-block {
  margin-bottom: 16px;
}

.show-pwd {
  position: absolute;
  top: 15px;
  right: 31px;
  font-size: $base-fontSize - 2;
  line-height: 1.21;
  cursor: pointer;
  color: $avenue-secondary-variant-1;
  margin-right: 5px;
}
