@import '../config/variables';
@import '~base/components/hero';

.show-pwd {
  position: absolute;
  top: 15px;
  right: 31px;
  color: $secondary-Variant-4;
  font-size: $base-fontSize - 2;
  line-height: 1.21;
  cursor: pointer;
}

.page {
  .forgot-pwd-main {
    padding-top: 37px;

    @include media-breakpoint-down(xs) {
      padding: 20px 10px 0;
    }

    @include media-breakpoint-down(md) {
      padding-top: 43px;
    }

    @media #{$belowtab} {
      padding-top: 17px;
    }

    .back-in-login {
      display: none;

      @include media-breakpoint-down(xs) {
        margin-bottom: 15px;
      }

      a {
        color: $primary-Base-2;
        font-family: $base-fontFamily;
        font-size: $base-fontSize;
        line-height: 1.28;
        text-decoration: underline;
      }
    }

    .container {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    .forgot-pwd-cntr {
      margin: 0 auto;
      max-width: 317px;

      .invalid-email-alert {
        color: $secondary-Variant-1;
        font-size: $base-fontSize - 2px;
        text-align: center;
        padding: 10px 11px 10px 15px;
        font-family: $aven-trade-gothic-next-regular;
        letter-spacing: 0.25px;
        margin-bottom: 18px;
        background: $avenue-contextual-variant-9;
        line-height: 18px;
        border: 1px solid $avenue-contextual-variant-10;
        border-radius: 2px;
      }

      @include media-breakpoint-down(md) {
        max-width: 356px;
      }

      @media #{$belowtab} {
        max-width: 335px;
      }

      .login-header {
        text-align: center;
        margin-bottom: 26px;

        @include media-breakpoint-down(md) {
          margin-bottom: 18px;
        }

        @media #{$belowtab} {
          margin-bottom: 27px;
        }

        .forgot-pwd-header {
          font-size: $base-fontSize + 14px;
          margin: 0;
          padding: 0;
          background: none;
          left: 0;
          color: $avenue-secondary-variant-1;
          font-family: $Moneta-regular;
          letter-spacing: 1.2px;
          line-height: 32px;

          @include media-breakpoint-down(md) {
            font-size: 26px;
          }

          @include media-breakpoint-down(xs) {
            font-size: $base-fontSize + 12px;
          }

          &::before {
            display: none;
          }
        }
      }

      .email-txt-cntnt {
        font-size: $base-fontSize;
        font-family: $aven-trade-gothic-next-regular;
        margin-bottom: 23px;
        letter-spacing: 0.25px;
        line-height: 20px;
        padding: 0 8px;
        color: $avenue-secondary-variant-1;

        @include media-breakpoint-down(md) {
          text-align: center;
        }

        @media #{$belowtab} {
          margin-bottom: 18px;
        }
      }

      .send-email-btn {
        padding-top: 7px;

        .cancel-text-button {
          margin-top: 18px;
        }
      }
    }
  }

  // style for reset password page
  .reset-password-page {
    width: 100%;
    display: inline-block;

    .reset-pwd-contr {
      max-width: 317px;
      margin: 37px auto 0;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
        margin: 15px auto 0;
        padding: 0 10px;
      }

      @media #{$belowtab} {
        max-width: 335px;
        padding: 17px 0 0;
        margin-top: 0;
      }

      .form-group {
        position: relative;

        &:first-child {
          padding: 0 0 12px;
          margin: 0;
        }

        &.confirm-password {
          margin: 12px 0 0;
        }
      }

      .reset-password-header {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 26px;

        .page-title {
          background-color: transparent;
          margin: 0;
          padding: 0;
          left: auto;
          font-size: $base-fontSize + 14px;
          line-height: 32px;
          color: $avenue-secondary-variant-1;

          @include media-breakpoint-down(xs) {
            font-size: $base-fontSize + 12px;
          }

          &::before {
            display: none;
          }
        }
      }

      .reset-detls {
        .card-header {
          padding: 0;
          text-align: center;
          border: none;
          margin-bottom: 24px;

          @media #{$belowtab} {
            margin-bottom: 18px;
          }

          .entr-pwd-txt {
            font-size: $base-fontSize;
            font-family: $aven-trade-gothic-next-regular;
            color: $avenue-secondary-variant-1;
            line-height: 20px;
            letter-spacing: 0.25px;
          }
        }

        .card-body {
          padding: 0;
        }
      }

      .smt-button {
        margin-top: 27px;

        @media #{$belowtab} {
          margin-bottom: 36px;
        }

        button {
          font-size: $base-fontSize;
          line-height: 1.21;
          text-transform: uppercase;
          padding: 12.5px 0;
          font-family: $aven-trade-gothic-next-regular;
        }
      }

      .password-condition {
        text-align: right;

        p {
          font-size: $base-fontSize - 2px;
          margin: 0;
          font-family: $aven-trade-gothic-next-regular;
          color: $avenue-secondary-variant-1;
          line-height: 18px;
          letter-spacing: 0.25px;
        }
      }
    }
  }

  // style for reset passowrd confirmation
  .js-container-success {
    max-width: 317px;
    margin: 37px auto 0;

    @include media-breakpoint-down(xs) {
      padding: 0 10px;
      width: 100%;
      display: inline-block;
      max-width: 100%;
    }

    @media #{$belowtab} {
      max-width: 335px;
      padding: 17px 0 0;
      margin-top: 0;
      display: block;
    }

    .forgot-pwd-cntr {
      .login-header {
        text-align: center;
        margin-bottom: 26px;
      }
    }

    .reset-header {
      color: $primary-Base-2;
      font-family: $base-fontFamily;
      font-size: $base-fontSize + 14px;
      line-height: 1.21;
      text-align: center;
      margin-bottom: 15px;

      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize + 12px;
      }
    }

    .reset-message {
      font-size: $base-fontSize;
      text-align: center;
      font-family: $aven-trade-gothic-next-regular;
      color: $avenue-secondary-variant-1;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-bottom: 33px;

      @media #{$belowtab} {
        margin-bottom: 36px;
      }
    }

    .continue-shopping {
      button {
        color: $primary-Base-3;
        font-size: $base-fontSize;
        font-family: $bold-fontFamily;
        line-height: 1.21;
        text-transform: uppercase;
        padding: 12.5px 0;
      }
    }
  }
}
