@import '../config/variables';

.form-group {
  &.required {
    .form-control-label {
      &::before {
        content: none;
      }
    }
  }
}

.hbc-loyalty-number-prefix {
  position: absolute;
  top: 12px;
  left: 10px;
  color: $secondary-Variant-4;
  pointer-events: none;
}

.hudson-reward {
  padding: 0 10px 0 59px;

  @media #{$belowdesktop} {
    padding: 0 10px 0 66px;
  }
}

.floating-label {
  .hudsonbay-rewards {
    top: -9px;
    font-size: $base-fontSize - 4;
    left: 8px;
    background: $primary-Base-3;
  }
}

.hudson-bay-rewards {
  position: relative;
}

.reward-content {
  width: 100%;
  padding: 16px 0;
  border: 1px solid $secondary-Variant-6;
  margin: 0 0 18px;

  .reward-center-content {
    max-width: 364px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      max-width: 340px;
    }
  }

  .reward-heading {
    font-size: $base-fontSize + 4;
    line-height: 1.25;
    margin: 0 0 10px;
  }

  .reward-info {
    margin: 0 0 10px;

    @include media-breakpoint-down(md) {
      margin: 0 8px 10px;
    }
  }

  a {
    text-decoration: underline;
    color: $primary-Base-2;

    &.default-link {
      text-decoration: underline;
      color: $primary-Base-2;
    }

    &:hover {
      text-decoration: none;
    }
  }

  img {
    height: 48px;
    padding: 0 0 12px;
  }
}

.two-col {
  justify-content: space-between;

  .col-6 {
    padding: 0;
    flex: 0 0 48.8%;

    @include media-breakpoint-down(xs) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .btn-block {
    margin: 0 0 16px;
  }
}

.deletePaymentModal-main,
.deleteAddressModal-main {
  padding-right: 0 !important;

  .modal-dialog {
    max-width: 450px;
  }

  .delete-confirmation-header {
    text-align: center;
    border: none;
    padding-bottom: 10px;

    .modal-title {
      font-size: $base-fontSize + 14px;
      line-height: 1.22;
      padding-top: 19px;
      width: 100%;

      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize + 12px;
        line-height: 1.15;
      }
    }
  }

  .close {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(0.83);
    padding: 0;
    margin: 0;

    @include media-breakpoint-down(xs) {
      right: 20px;
      top: 10px;
    }
  }

  .delete-confirmation-body {
    padding-bottom: 25px;
    width: 88%;
    margin: 0 auto;
    text-align: center;
    color: $secondary-Utility-6;
    padding-top: 0;

    @include media-breakpoint-down(xs) {
      width: 94%;
      padding-bottom: 5px;
    }

    .payment-to-remove,
    .product-to-remove {
      font-family: $base-fontFamily;
      text-transform: capitalize;
    }
  }

  .modal-footer {
    border: none;

    > :not(:first-child) {
      margin-left: 14px;
    }
  }

  .btn-block {
    font-family: $bold-fontFamily;
    margin-top: 0;
  }
}

// end of CORE
//

.row {
  margin: 0;
  padding: 0;
}

.account-dashboard {
  margin: 11px 0 0;
  letter-spacing: 0.25px;
  width: 15.25%;

  @include media-breakpoint-down(md) {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid $avenue-secondary-variant-7;

    .account-mainmenu {
      display: none;

      &.active {
        display: block;
        padding-top: 6px;
      }
    }

    .mobile-account-menu.mobile-account-menu {
      padding-top: 14px;
      border-top: solid 1px $avenue-secondary-variant-7;
    }
  }

  .menu-item {
    padding-bottom: 11px;
    line-height: 1.45;

    @include media-breakpoint-down(md) {
      padding: 0 20px 18px;
    }

    &:last-child {
      border-bottom: 1px solid $secondary-Variant-7;
      padding: 0 0 13px;

      @include media-breakpoint-down(md) {
        padding: 0 0 18px;
        margin: 0 20px;
      }
    }

    &.last-menu-item {
      border-bottom: none;
      padding-bottom: 0;
    }

    a {
      @include media-breakpoint-down(md) {
        font-family: $aven-trade-gothic-next-regular;
      }
    }
  }

  .hbc-rewards,
  .hbc-giftcards {
    margin: 12px 0 0;

    @include media-breakpoint-down(md) {
      margin: 18px 0;

      &.bay-reward {
        margin: 17px 0 0 10px;
      }
    }
  }
}

.user-profile {
  padding: 0;
  width: 66.1%;
  margin: 0 auto 0 10.5%;

  @include media-breakpoint-down(lg) {
    width: 74.5%;
  }

  @include media-breakpoint-down(md) {
    max-width: 542px;
    width: 71%;
    margin: 0 auto;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  h1,
  h2,
  h3 {
    font-size: $base-fontSize + 14;
    line-height: 1.22;
    margin-bottom: 12px;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize + 12;
      line-height: 1.35;
    }
  }

  .card {
    border: 0;
    margin: 0;
  }

  &.account-details {
    @include media-breakpoint-up(md) {
      margin-left: 9%;
      width: 66.1%;
    }

    .address-form {
      select {
        cursor: pointer;
      }
    }
    .welcome-account-header {
      margin: 0 0 28px;

      @include media-breakpoint-down(md) {
        margin: 0 0 10px;
      }

      h1,
      h2,
      h3 {
        font-size: $base-fontSize + 14;

        @include media-breakpoint-down(md) {
          font-size: $base-fontSize + 12;
          line-height: 1.35;
        }
      }
    }

    .card-body {
      padding: 0;
    }
  }

  .welcome-account-header {
    font-size: $base-fontSize + 14;
    line-height: 1.22;
    margin-bottom: 12px;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize + 12;
      line-height: 1.35;
    }

    &.profile-header {
      margin-bottom: 0;
    }
  }

  .dynamic-content {
    width: 100%;
    background: $avenue-contextual-variant-12;
    padding: 16px 0;
    margin: 0 0 26px;
    line-height: 18px;
    letter-spacing: 0.25px;
    font-size: $base-fontSize - 2;
    max-width: 650px;

    @include media-breakpoint-down(md) {
      margin-bottom: 19px;
      padding: 14px 0 15px;

      .start-now {
        display: inline-block;
        font-family: $aven-trade-gothic-next-regular;
        font-size: $base-fontSize - 2;
      }

      span {
        font-size: $base-fontSize - 2;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 18px;
      padding: 12px 0;
      line-height: 18px;

      div {
        padding: 0 15px;
      }

      span {
        width: 255px;
        font-size: $base-fontSize - 2;
        display: inline;
      }

      .start-now {
        font-size: $base-fontSize;
        font-family: $bold-fontFamily;
        display: inline;
      }
    }

    a {
      text-decoration: underline;
      font-family: $aven-trade-gothic-next-regular;
      font-size: $base-fontSize - 2;
      color: $avenue-secondary-variant-1;

      &:hover {
        text-decoration: none;
      }
    }

    .checkout-faster,
    .apply-title {
      margin: 0 0 4px;
      font-family: $aven-trade-gothic-next-regular;
      letter-spacing: 1.25px;

      @include media-breakpoint-down(md) {
        line-height: 1.1;
      }
    }

    .apply-message {
      margin: 0 auto;
      display: block;
      max-width: 570px;
      width: 100%;
      padding: 0 20px;
    }

    .checkout-faster-desc {
      font-size: $base-fontSize - 2;
      letter-spacing: 0.25px;
    }
  }
  .cart-merge-message {
    max-width: 650px;
    margin-top: 0;

    &::before {
      display: none;
    }

    .cart-merge-text {
      vertical-align: unset;
      line-height: 18px;
      display: inline-block;
    }
  }
}

.reg-account {
  padding: 28px 40px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    &.account-contents,
    &.addressbook {
      justify-content: flex-start;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 28px 20px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding: 17px 20px;
  }

  @include media-breakpoint-down(xs) {
    padding: 16px 10px;
  }

  .col-12 {
    padding: 0;
  }

  .account-mainmenu {
    a {
      color: $primary-Base-2;
    }

    @include media-breakpoint-up(md) {
      .my-account-link {
        font-family: $bold-fontFamily;
      }

      &.address {
        .my-account-link {
          font-family: $base-fontFamily;
        }

        .address-book-link {
          font-family: $bold-fontFamily;
        }
      }

      &.myStylist{
        .my-account-link {
          font-family: $base-fontFamily;
        }

        .wishi-mystylist-link{
          font-family: $bold-fontFamily;
        }
      }

      &.payment {
        .my-account-link {
          font-family: $base-fontFamily;
        }

        .payments-link {
          font-family: $bold-fontFamily;
        }
      }

      &.profile {
        .my-account-link {
          font-family: $base-fontFamily;
        }

        .profile-link {
          font-family: $bold-fontFamily;
        }
      }

      &.order-history {
        .my-account-link {
          font-family: $base-fontFamily;
        }

        .order-history-link {
          font-family: $bold-fontFamily;
        }
      }

      &.preference-center {
        .my-account-link {
          font-family: $base-fontFamily;
        }

        .preference-center-link {
          font-family: $bold-fontFamily;
        }
      }
    }

    &.address,
    &.payment,
    &.profile,
    &.order-history,
    &.saks-first,
    &.preference-center {
      .my-account-link {
        font-family: $aven-trade-gothic-next-regular;
      }
    }

    &.address .address-book-link,
    &.myStylist .wishi-mystylist-link,
    &.payment .payments-link,
    &.profile .profile-link,
    &.order-history .order-history-link,
    &.saks-first .saks-first-link,
    &.preference-center .preference-center-link {
      font-family: $aven-trade-gothic-next-bold;
    }
  }

  .user-profile {
    @include media-breakpoint-down(xs) {
      padding: 0 20px;
    }

    .user-profile {
      .welcome-account-header {
        margin-bottom: 14px;
      }
    }

    .heading-landing {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }

    &.edit-add-address {
      h1 {
        line-height: 32px;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .welcome-account-header {
        margin-bottom: 0;
        line-height: 1.2;

        @include media-breakpoint-down(md) {
          text-align: left;
          margin-bottom: 25px;
          line-height: 1.18;
        }

        h3 {
          text-transform: capitalize !important;
          font-size: $base-fontSize;
          font-family: $aven-trade-gothic-next-bold;
          margin: 17px 0;

          @include media-breakpoint-down(md) {
            margin: 0;
          }
        }
      }
    }
  }

  .account-mainmenu {
    a {
      color: $avenue-secondary-variant-1;
    }

    .my-account-link {
      font-family: $aven-trade-gothic-next-bold;

      @include media-breakpoint-down(md) {
        font-family: $aven-trade-gothic-next-regular;
      }
    }
  }
}

.menu-main-item {
  margin: 0 0 20px;
  position: relative;
  font-family: $aven-trade-gothic-next-regular;
  margin-bottom: 12px;
  line-height: 1.3;
  letter-spacing: 1.25px;

  @include media-breakpoint-down(md) {
    margin-bottom: 14px;
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 0.5px;
    padding: 0 20px;

    &::after {
      content: '';
      position: absolute;
      right: 10px;
      transform: scale(0.7);
    }

    &.active {
      &::after {
        transform: scale(0.7) rotate(180deg);
      }
    }
  }

  &::after {
    top: 50%;
    right: 20px;
    transform: translateY(-50%) scale(0.7);
  }

  &.active {
    &::after {
      transform: translateY(-50%) scale(0.7) rotate(180deg);
    }
  }
}

.mobile-account-menu {
  .account-mainmenu {
    .menu-item {
      padding-bottom: 0;

      a {
        margin-bottom: 18px;
        display: block;
      }
    }
  }

  &[data-pagetype='account'] {
    .main-my-account {
      display: block;
    }
    .account-mainmenu .my-account-link {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='profile'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: block;
    }
    .account-mainmenu .profile-link {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='address'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: block;
    }
    .account-mainmenu .address-book-link {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='myStylist'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: block;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .account-mainmenu .wishi-mystylist-link {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='order-history'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: block;
    }
    .account-mainmenu .order-history-link {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
  }
  &[data-pagetype='preference-center'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: block;
    }
    .main-my-stylist {
      display: none;
    }
    .account-mainmenu .preference-center-link {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='payment'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: block;
    }
    .account-mainmenu .payments-link {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='saks-plus'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: block;
    }
    .account-mainmenu .saks-first-link {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-pagetype='preference-center'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-saks-first {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: block;
    }
    .main-my-stylist {
      display: none;
    }
    .account-mainmenu .preference-center-link {
      display: none;
    }
  }
  &[data-pagetype='saks-first'] {
    .main-my-account {
      display: none;
    }
    .main-order-history {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
    .main-my-stylist {
      display: none;
    }
    .main-saks-first {
      display: block;
    }
    .account-mainmenu .saks-first-link {
      display: none;
    }
    .main-address-book {
      display: none;
    }
    .main-payment {
      display: none;
    }
    .main-profile {
      display: none;
    }
    .main-preference-center {
      display: none;
    }
  }
  &[data-sfenabled='false'] {
    .main-saks-first {
      display: none;
    }
    .account-item-saksfirst {
      display: none;
    }
  }
}
.account-dashboard {
  &[data-sfenabled='false'] {
    .account-item-saksfirst {
      display: none;
    }
  }
}

.welcome-account-subDetails {
  letter-spacing: 0.25px;
  line-height: 1.45;

  .member-bold {
    font-family: $aven-trade-gothic-next-bold;
  }

  .reedem-points {
    text-decoration: underline;
    color: $avenue-secondary-variant-1;
    &:hover {
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    line-height: 1.3;

    .reedem-points {
      display: block;
      padding-top: 1px;
    }
  }
}

.account-dashboard-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-flow: row wrap;
  padding-top: 27px;
  max-width: 650px;

  @include media-breakpoint-down(md) {
    padding-top: 16px;
  }

  &::after {
    content: '';
    flex: 0 32%;

    @include media-breakpoint-down(md) {
      flex: 0 31.36%;
    }

    @include media-breakpoint-down(xs) {
      flex: 0 48%;
    }
  }

  .item-content {
    margin: 0 0 18px;
    width: 48.78%;
    padding: 40px 0;
    border: 1px solid $avenue-secondary-variant-6;
    line-height: 1.3;
    letter-spacing: 1.25px;

    @include media-breakpoint-down(lg) {
      width: 31.8%;
    }

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize - 2;
      width: 48.53%;
      padding: 35px 0 34px;
    }

    @include media-breakpoint-down(xs) {
      width: 47.8%;
    }

    &:hover {
      border: 1px solid $hb-Dark-grey-base;
      cursor: pointer;
      text-decoration: none;
      box-shadow: inset 0 0 0 1px $hb-input-border-focus;
      color: $avenue-secondary-variant-4;
    }
  }

  a {
    display: inline-block;
    font-family: $aven-trade-gothic-next-regular;
    color: $avenue-secondary-variant-1;

    img {
      display: block;
      margin: 0 auto 10px;
      max-height: 30px;
    }
  }
}

.reg-account {
  padding: 37px 20px;

  @include media-breakpoint-down(md) {
    padding: 13px 0;
  }

  .user-profile {
    @include media-breakpoint-down(md) {
      margin: 27px auto 0;
    }

    @media #{$belowtab} {
      max-width: 100%;
      margin: 22px auto 0;
    }

    h1,
    h2,
    h3 {
      margin-bottom: 0;
    }

    .welcome-account-header {
      font-size: $base-fontSize;
      margin-bottom: 14px;

      h1 {
        margin-bottom: 0;
      }

      .edit-personal-header {
        font-weight: bold;
        line-height: 20px;
      }
    }

    .heading-landing {
      .user-message {
        text-transform: capitalize !important;
        display: inline-block;

        &::first-line {
          text-transform: capitalize;
        }
      }
    }

    .profile-header {
      margin-bottom: 18px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .profile-details,
    .password-settings,
    .preferences-settings {
      padding-right: 16px;

      @include media-breakpoint-down(xs) {
        padding-right: 0;
      }
    }

    .password-settings {
      @media #{$belowtab} {
        padding-right: 0;
      }
    }

    &.saks-user {
      .card {
        &.card-border {
          border: 1px solid $avenue-login-border;
        }

        &.text-weight {
          font-family: $aven-trade-gothic-next-regular;
        }
        .card-body {
          padding: 14px 24px 17px 18px;
          min-height: 141px;

          .heading {
            font-family: $aven-trade-gothic-next-bold;
            line-height: 20px;
            letter-spacing: 0.25px;
            padding-bottom: 12px;
          }

          .profile-into,
          .profile-into-email {
            font-size: $base-fontSize - 2px;
            line-height: 18px;
            padding-bottom: 0;
          }

          .edit-profile {
            margin-top: 26px;
          }

          .edit-password,
          .edit-email {
            margin-top: 44px;
          }

          .edit-email {
            @include media-breakpoint-down(md) {
              margin-top: 26px;
            }

            @media #{$belowtab} {
              margin-top: 44px;
            }
          }
        }
      }
    }
  }

  //Edit personal information styles & Edit Password Settings
  .user-edit-profile,
  .reset-user-pwd {
    .edit-profile {
      max-width: 317px;
      margin: 0;
      padding: 0;

      @include media-breakpoint-down(md) {
        max-width: 356px;
        margin: 0 auto;
      }

      @media #{$belowtab} {
        max-width: 335px;
      }
    }
    .row {
      margin: 0;
    }

    .col-12 {
      padding: 0;
    }

    .privacy-policy-section {
      @include media-breakpoint-down(xs) {
        text-align: unset;
      }

      .privacy-link {
        font-family: $aven-trade-gothic-next-regular;
        line-height: 18px;
        letter-spacing: 0.25px;
        font-size: $base-fontSize - 2px;
        color: $avenue-secondary-variant-1;
      }
    }

    .btn-save {
      margin-bottom: 18px;
    }

    .save-btn {
      padding-top: 8px;

      @media #{$belowtab} {
        padding-top: 17px;
      }
    }

    a.btn-block {
      margin-bottom: 13px;
    }
  }

  //Edit Password Settings Stylings
  .reset-user-pwd {
    .reset-pwd {
      max-width: 317px;
      margin: 0;
      padding: 0;

      @include media-breakpoint-down(md) {
        max-width: 356px;
        margin: 0 auto;
      }

      @media #{$belowtab} {
        max-width: 335px;
      }
    }
  }

  //Edit Email Preferences Stylings
  .reset-email-preferences {
    max-width: 65%;

    @media #{$belowtab} {
      max-width: 100%;
    }

    .reset-email {
      max-width: 782px;
      margin: 0;

      .left-space {
        padding-left: 10px;

        @media #{$belowtab} {
          padding: 0;
        }
      }
    }

    .custom-checkbox {
      .saks-label {
        font-family: $aven-trade-gothic-next-regular;
        font-size: $base-fontSize;
        letter-spacing: 0.25px;
        line-height: 20px;
      }
    }

    .top-sapcing {
      margin-top: 9px;

      @media #{$belowtab} {
        margin-top: 11px;
      }
    }

    .form-group {
      @media #{$belowtab} {
        margin-bottom: 25px;
      }
    }
  }
}

.deleteAddressModal-main {
  .delete-confirmation-header {
    padding-bottom: 18px;
    .modal-title {
      padding-top: 22px;
      line-height: 1.24;
    }
  }

  .modal-footer {
    padding-bottom: 27px;
  }

  .delete-confirmation-body {
    color: $avenue-secondary-variant-1;
    letter-spacing: 0.25px;
    line-height: 20px;
    padding-bottom: 15px;

    .product-to-remove {
      font-family: $aven-trade-gothic-next-bold;
      text-transform: capitalize;
      line-height: 20px;
      padding-top: 12px;
      margin-bottom: 0;
    }
  }
}
