@import '../config/variables';

.fr_CA {
  .account-login-page {
    .card-body {
      .account-benfits-section {
        .benefits-main-div {
          .save-easily-faster {
            @include media-breakpoint-down(lg) {
              width: 100%;
            }

            .easily-track {
              .easily-text {
                text-align: center;
              }
            }
          }

          .create-account {
            margin-top: 27px;

            @include media-breakpoint-down(lg) {
              margin-top: 31px;
            }

            @include media-breakpoint-down(md) {
              margin-top: 30px;
            }
          }
        }
      }
      .account-btn {
        margin-top: 35px;

        @include media-breakpoint-down(lg) {
          margin-top: 39px;
        }

        @include media-breakpoint-down(md) {
          margin-top: 47px;
        }

        @include media-breakpoint-down(xs) {
          margin-top: 32px;
        }
      }
    }
  }
}

.signIn-text,
.newRegister-text,
h1.forgot-pwd-header {
  text-align: center;
  font-size: $base-fontSize + 14;
  line-height: 1.22;
  margin-bottom: 48px;

  &.create-account-text {
    margin-bottom: 26px;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 38px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 32px;
  }
}

.forgot-pwd-main {
  padding-right: 0;
}

.register-form-nav,
.forgot-pwd-main {
  padding: 0 35px;

  @include media-breakpoint-down(lg) {
    padding: 0 35px 0 10px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 8px 0 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
  }

  .login,
  .registration,
  .reset-password-form {
    .form-group {
      &.custom-checkbox {
        margin-bottom: 0;
        float: right;

        label[for='add-to-email-list'] {
          &.custom-control-label {
            &::before,
            &::after {
              top: 3px;
            }
          }
        }

        .custom-control-label {
          p {
            font-size: $base-fontSize - 4;
            color: $primary-Base-2;
            margin-left: 0;
            text-transform: none;
            font-family: $base-fontFamily;
            margin-bottom: 27px;
            line-height: 1.8;

            &:last-child {
              margin: 0;
            }

            a {
              text-decoration: underline;
            }
          }
        }
      }

      .form-control-label {
        &::before {
          display: none;
        }
      }
    }

    .forgot-password {
      float: left;
      a {
        text-transform: unset;
      }
    }

    button[name='cancel'] {
      height: 45px;
      width: 100%;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      margin-top: 16px;
      border-radius: 0;
    }

    .contact-number {
      margin-top: 18px;
      text-align: center;
      font-size: 12px;
      color: #666;
    }

    .terms-conditions {
      margin-top: 9px;
      text-align: center;

      .privacy-link {
        text-transform: none;
      }
    }
  }

  .registration {
    .form-group {
      &.custom-checkbox {
        .custom-control-label {
          &::after {
            left: -33px;
          }

          &::before {
            left: -33px;
          }
        }
      }
    }
  }
}

.login-page {
  .login {
    margin: 0;
  }
}

.order-status-page-inner {
  max-width: 814px;
  margin: 20px auto 0;

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }

  @media #{$belowtab} {
    padding: 0 10px;
  }
}

.order-total-summary {
  .row {
    margin: 0;
  }
}

.confirm-order-details {
  display: flex;
  padding: 20px;
  border: 1px solid $secondary-Variant-10;
  margin: 20px 0;
  font-size: $base-fontSize - 2;

  @media #{$belowtab} {
    flex-direction: column;
  }

  .detail-section {
    flex-basis: 40%;
  }

  .payment-summary-section {
    flex-basis: 40%;
  }

  .checkout-order-total-summary {
    flex-basis: 27%;

    @media #{$belowtab} {
      width: 60%;
    }
  }

  .summary-main-section-label {
    font-size: $base-fontSize + 2;
    font-family: $bold-fontFamily;
    margin: 0 0 15px;
    display: block;
  }

  .summary-section-label {
    font-family: $bold-fontFamily;
    margin: 0 0 8px;
    display: block;
  }

  .summary-section {
    margin: 0 0 10px;
  }

  .order-discount {
    color: $secondary-Utility-3;
  }

  .grand-total {
    font-size: $base-fontSize;
    font-family: $bold-fontFamily;
    margin: 15px 0 0;
  }
}

.order-status-headings {
  display: flex;

  .order-date-number {
    flex-basis: 60%;

    @media #{$belowtab} {
      flex-direction: column;
    }
  }

  .order-price-status {
    flex-basis: 38%;

    @media #{$belowtab} {
      flex-direction: column;
      flex-basis: 33%;
    }
  }

  .order-date,
  .order-number,
  .order-price,
  .order-status {
    flex-basis: 50%;
    font-family: $bold-fontFamily;
  }
}

.order-status-header {
  padding: 0 0 15px;
  border-bottom: 1px solid $secondary-Variant-7;
  margin: 0 0 20px;

  .order-status-head {
    font-size: $base-fontSize + 14;
  }
}

.product-status-items {
  display: flex;
  width: calc(100% - 85px);

  @media #{$belowtab} {
    flex-direction: column;
  }

  .tooltip-text {
    color: $secondary-Variant-4;
  }

  .tooltip-info {
    padding: 1px 5px;
    font-size: $base-fontSize - 4;
  }
}

.product-narvar-track {
  display: flex;
  width: calc(100% - 85px);

  @media #{$belowtab} {
    flex-direction: column;
  }

  .product-name {
    border: none;
  }
}

.gift-message-section {
  font-size: $base-fontSize - 2;

  .gift-message-header {
    margin: 0 0 10px;
    font-family: $bold-fontFamily;
  }
}

//start a return button styling
.order-details-return {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: $so-Oxygen-variant;

  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
  }

  span {
    font-family: $base-fontFamily;
    line-height: 17px;
  }

  a {
    width: 220px;
    display: inline-block;
    margin: 0 0 0 13px;
    -webkit-appearance: none;

    @include media-breakpoint-down(xs) {
      margin: 10px 0 0;
    }
  }
}

// end of CORE

.final-sale {
  .tooltip-text {
    font-size: $base-fontSize - 4;
    padding: 1px 4px;
    line-height: 0.8;
    color: $wishlist-final-sale;
  }
}

.ship-vendor-tooltip {
  .tooltip-text {
    color: $secondary-Variant-24;
  }
}

.product-summary-section {
  .shop-bag-head {
    font-size: $base-fontSize;
    font-family: $bold-fontFamily;
    margin: 0 0 20px;
  }

  .product-summary-inner {
    font-size: $base-fontSize - 2;
    display: flex;
    border-bottom: 1px solid $hb-profile-border;
    padding: 0 0 20px;
    margin: 0 0 20px;
  }

  .order-product-image {
    width: 74px;
    height: 97px;
    margin: 0 13px 0 0;
  }

  .product-line-items {
    width: 100%;

    .brand-name {
      font-family: $bold-fontFamily;
    }

    @media #{$belowtab} {
      margin: 0 0 15px;
    }

    .discount {
      color: $hb-Red-utility;
      border-bottom: 1px solid $hb-login-border;
      padding: 0 0 10px;
      margin: 0 0 10px;
      width: 40%;

      @media #{$belowtab} {
        width: 60%;
      }
    }

    .total {
      font-family: $bold-fontFamily;
    }
  }

  .order-status-items {
    margin-left: auto;
    flex-basis: 35%;

    @media #{$belowtab} {
      margin-left: 0;
    }

    .order-status-text {
      font-family: $bold-fontFamily;
    }

    .order-status {
      margin: 0 0 6px;
    }

    .track-package-link {
      border-bottom: 1px solid;
      margin: 0 0 0 5px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .review-ratings {
    margin: 10px 0 0;

    .TTteaser__write-review {
      font-size: $base-fontSize - 2;
      font-family: $base-fontFamily;
      color: $secondary-Utility-6;
    }
  }
}

input::-ms-reveal {
  display: none;
}

.account-login-page {
  padding: 0 0 72px;

  @include media-breakpoint-down(xs) {
    padding: 0 0 55px;
  }

  .card-body {
    padding: 37px 53px 0;

    @include media-breakpoint-down(lg) {
      margin: 0;
      padding: 40px 20px 0;
    }

    @include media-breakpoint-down(md) {
      padding: 44px 20px 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 21px 10px 0;
    }

    .new-user-section {
      padding: 0 50px;

      @include media-breakpoint-down(lg) {
        padding: 0 10px;
      }

      @include media-breakpoint-down(md) {
        padding: 0 0 0 8px;
      }

      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    .account-benfits-section {
      .benefits-main-div {
        .benifits-heading {
          text-align: center;
          font-size: $base-fontSize + 2px;
          line-height: 20px;
          padding: 4px 0 27px;
          font-family: $aven-trade-gothic-next-bold;
          color: $avenue-secondary-variant-1;

          @include media-breakpoint-down(md) {
            padding: 5px 0 27px;
          }

          @include media-breakpoint-down(xs) {
            padding: 0 0 31px;
          }
        }

        .save-easily-faster {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          margin: 0 auto;
          width: 90%;

          @include media-breakpoint-down(lg) {
            width: 95%;
          }

          .divider {
            border-right: 1px #ddd solid;
          }

          .waitlist,
          .easily-track,
          .save-prefs,
          .faster {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
              height: 25px;
            }
          }

          .save-text,
          .easily-text,
          .pref-text,
          .faster-text {
            line-height: 16px;
            margin-top: 13px;
            font-size: $base-fontSize - 2px;
          }
        }

        .create-account {
          width: 100%;
          margin-top: 65px;

          @include media-breakpoint-down(md) {
            margin-top: 42px;
          }

          @include media-breakpoint-down(xs) {
            margin-top: 26px;
          }
        }
      }
    }
  }

  .password-condition {
    text-align: right;
    margin-bottom: 18px;

    p {
      font-size: $base-fontSize - 2px;
      margin: 0;
      font-family: $aven-trade-gothic-next-regular;
      color: $avenue-secondary-variant-1;
      line-height: 18px;
      letter-spacing: 0.25px;
    }
  }

  .login {
    .account-btn {
      margin-bottom: 48px;
    }
  }
}

.account-btn {
  margin-top: 27px;

  @include media-breakpoint-down(md) {
    margin-top: 42px;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

.signIn-text,
.newRegister-text {
  margin-bottom: 26px;

  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 27px;
  }
}

.newRegister-text {
  @include media-breakpoint-down(xs) {
    margin: 36px 0 32px;
    border-top: 1px solid $secondary-utility-13;
    padding-top: 36px;
  }
}

.register-form-nav {
  padding: 0 50px;

  @include media-breakpoint-down(md) {
    padding: 0 8px 0 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
  }

  a.reset-password {
    font-size: $base-fontSize - 2;

    &:hover {
      color: $avenue-secondary-variant-1;
    }
  }

  .registration {
    .form-group.custom-checkbox {
      .custom-control-label {
        span {
          margin-left: 27px;

          @media #{$belowtab} {
            margin-left: unset;
          }
        }

        &::before,
        &::after {
          left: 0;

          @include media-breakpoint-down(md) {
            left: 0;
          }
        }
      }
    }
  }

  .login,
  .registration,
  .reset-password-form {
    .form-group {
      &.custom-checkbox {
        float: left;
      }
    }

    .forgot-password {
      float: right;
    }
  }
}

.remember-me {
  .custom-control-label {
    line-height: 1.6;
    padding-top: 2px;
    letter-spacing: 0.25px;
  }

  label {
    font-family: $base-fontFamily;
    font-size: $base-fontSize - 2;
  }
}

.login {
  .form-group {
    &:nth-child(2) {
      margin-bottom: 10px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 16px;
      }
    }
  }
}

.en_CA,
.en_US {
  .account-login-page {
    .card-body {
      .account-btn {
        @include media-breakpoint-down(md) {
          margin-top: 25px;
        }

        @include media-breakpoint-down(xs) {
          margin-bottom: 0;
        }
      }

      .account-benfits-section {
        .benefits-main-div {
          .save-easily-faster {
            @media #{$belowtab} {
              justify-content: space-between;
            }

            @include media-breakpoint-down(lg) {
              width: 93.6%;
            }

            @include media-breakpoint-down(md) {
              width: 90.74%;
            }

            @include media-breakpoint-down(xs) {
              width: 100%;
            }

            @include media-breakpoint-down(md) {
              @media #{$tabnabove} {
                .waitlist,
                .easily-track,
                .save-prefs,
                .faster {
                  .save-text,
                  .easily-text,
                  .pref-text,
                  .faster-text {
                    margin-top: 18px;
                  }
                }
              }
            }

            .save-text,
            .easily-text,
            .faster-text {
              @media #{$belowtab} {
                max-width: 80px;
              }
            }

            .easily-track {
              @media #{$belowtab} {
                padding: unset;
                margin: unset;
              }
            }

            .save-text,
            .easily-text,
            .pref-text,
            .faster-text {
              @include media-breakpoint-down(xs) {
                max-width: 100%;
              }
            }
          }
        }
      }

      .create-account-cancel {
        .account-btn {
          @include media-breakpoint-down(md) {
            margin: 0;
          }

          @media #{$belowtab} {
            margin: 0 0 14px;
          }
        }
      }
    }
  }
}

.register-form-main {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 751px;

  @include media-breakpoint-down(md) {
    max-width: 550px;
  }

  @media #{$belowtab} {
    max-width: 335px;
  }

  .two-col {
    justify-content: space-between;
    margin: 0;

    .col-6 {
      padding: 0;
      max-width: 317px;

      @include media-breakpoint-down(md) {
        max-width: 263px;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
      }

      @media #{$belowtab} {
        max-width: 100%;
      }
    }

    &.radio-checkbox {
      .col-6 {
        max-width: 50%;
        display: inline;

        @include media-breakpoint-down(xs) {
          max-width: 100%;
          flex: 0 0 100%;
        }

        .custom-radio {
          float: left;
          width: 75px;
        }

        &.email-updates {
          .custom-control {
            padding: 0;

            .custom-control-label {
              &::before,
              &::after {
                left: 0;
              }
            }
          }

          .custom-check-box {
            width: 50%;
            float: left;

            @include media-breakpoint-down(xs) {
              width: 133px;
            }

            .custom-control-label {
              padding: 5px 0 0 23px;
            }
          }

          @include media-breakpoint-down(xs) {
            margin: 24px 0 0;

            .js-saks-canadat-opt {
              width: 100%;
            }
          }
        }
      }

      .label-heading {
        font-size: $base-fontSize - 2;
        font-family: $bold-fontFamily;
        display: block;
        margin: 0 0 4px;
      }

      .custom-control-label {
        font-size: $base-fontSize - 3;
        font-family: $bold-fontFamily;
      }
    }
  }

  .hbc-loyalty-number-prefix {
    position: absolute;
    top: 12px;
    left: 10px;
    color: $secondary-Variant-4;
    pointer-events: none;
  }

  .agree-message {
    padding: 0 0 32px 0;

    @include media-breakpoint-down(md) {
      padding: 0 0 38px 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 0 0 24px 0;
    }

    label[for='add-to-email-list'] {
      &.custom-control-label {
        padding: 20px 0 0 40px;

        &::before,
        &::after {
          top: 23px !important;
          left: 0 !important;
        }
      }
    }
  }

  .hudson-reward {
    padding: 0 10px 0 59px;
    font-size: 14px !important;
  }

  .create-account-text {
    @include media-breakpoint-down(md) {
      font-size: 26px;
      letter-spacing: 1px;
    }
  }

  .form-group {
    .legend-text {
      margin-right: 20px;
      display: inline-block;

      @include media-breakpoint-down(md) {
        margin-right: 10px;
      }

      @media #{$belowtab} {
        width: 100%;
        margin-right: unset;
      }

      .label-heading {
        font-size: $base-fontSize;
        font-family: $aven-trade-gothic-next-regular;
        letter-spacing: 0.25px;
        line-height: 20px;
      }
    }

    .custom-inputs {
      display: inline-block;
      margin-right: 18px;

      @media #{$belowtab} {
        width: 24%;
        margin-right: unset;
      }

      .custom-control-label {
        vertical-align: unset;
      }
    }

    &.custom-checkbox {
      width: 100%;
      float: left;
      padding: 0 0 27px;

      .legend-text {
        margin-right: 15px;

        @include media-breakpoint-down(md) {
          margin-right: 5px;
        }

        @media #{$belowtab} {
          width: 100%;
          margin-right: unset;
        }
      }

      .custom-inputs {
        width: 23%;

        @include media-breakpoint-down(md) {
          width: auto;
          margin-right: 5px;
        }

        @media #{$belowtab} {
          width: 45%;
          margin-right: unset;
        }
      }

      &.agree-message {
        padding: 0 0 27px 33px;

        @media #{$belowtab} {
          padding-left: 0;
        }

        .custom-control-label {
          &::before,
          &::after {
            left: -33px;
          }
        }
      }

      .custom-control-label {
        @include media-breakpoint-down(md) {
          padding-left: unset;
        }

        @media #{$belowtab} {
          padding-left: 30px;
        }
      }
    }

    &.canadian-radio {
      padding: 7px 0;
      margin-bottom: 8px;

      @media #{$belowtab} {
        margin-bottom: 20px;
      }
    }
  }

  .create-account-cancel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @media #{$belowtab} {
      flex-wrap: wrap;
    }

    button {
      margin: 0;
      flex-basis: 48.5%;

      @media #{$belowtab} {
        flex-basis: 100%;
      }
    }

    a {
      margin: 0;
      flex-basis: 48.5%;

      @media #{$belowtab} {
        flex-basis: 100%;
      }
    }
  }

  .registration {
    .terms-conditions {
      margin-top: 29px;
      line-height: 18px;

      @media #{$belowtab} {
        margin-top: 0;
        margin-bottom: 17px;
      }

      .privacy-link {
        letter-spacing: 0.25px;
        color: $avenue-secondary-variant-1;
      }
    }

    .form-group {
      &.custom-checkbox {
        .custom-control-label {
          p {
            color: $avenue-secondary-variant-1;
            font-family: $aven-trade-gothic-next-regular;
            letter-spacing: 0.25px;
            line-height: 20px;
            font-size: $base-fontSize;
          }

          &::before,
          &::after {
            @media #{$belowtab} {
              left: 0;
            }
          }
        }
      }
    }
  }
}

.order-status-page {
  @include media-breakpoint-down(md) {
    padding: {
      bottom: 54px;
    }
  }

  .account-btn {
    font-size: $base-fontSize;
    background-color: $btn-sec-bgcol;
    color: $btn-sec-txt-col;

    &:hover {
      color: $primary-Base-3;
      background: $secondary-Variant-1;
    }
  }

  .remember-me {
    label {
      font-family: $base-fontFamily;
    }
  }

  .track-order-error {
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: $base-fontSize - 2;
    margin: 0 0 20px;
    background: $alert-danger-bg;
    border-color: $alert-danger-border;

    .border-free-link {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .card-body {
    padding: 36px 0 0;
    padding: {
      left: 5.18%;
      right: 5.18%;
    }

    @include media-breakpoint-down(md) {
      padding: 44px 5px 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 21px 20px 0;
    }
  }

  .check-order-status {
    padding: 0 50px;

    @include media-breakpoint-down(md) {
      padding: 0 15px;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
      margin: 0 0 35px;
      border-bottom: 1px solid $avenue-secondary-variant-6;
    }
  }

  .register-form-nav {
    padding: 0 50px;

    @include media-breakpoint-down(md) {
      padding: 0 15px 0 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }

    .login {
      .forgot-password {
        a {
          font-family: $base-fontFamily;
        }
      }
    }
  }

  .signIn-text {
    font-family: $Moneta-regular;

    @include media-breakpoint-down(xs) {
      font-size: $base-fontSize + 12;
    }
  }

  .order-submit-btn {
    margin: 61px 0 0;

    @include media-breakpoint-down(md) {
      margin: 59px 0 0;
    }

    @include media-breakpoint-down(xs) {
      margin: 27px 0 18px;
    }

    button {
      height: 45px;
      font-size: $base-fontSize;
    }
  }

  .international-msg {
    padding: 2px 0 0;
    margin: 0;

    div {
      .standalone-link,
      &:last-of-type {
        font-size: $base-fontSize - 2;
      }
    }

    @include media-breakpoint-down(lg) {
      margin: 0 35px;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 27px;
      margin: 0 0 35px;

      b {
        margin-bottom: 5px;
        display: block;
      }
    }
  }
}
