#signInApplyModal {
  &.signInModal.modal {
    .modal-dialog {
      @include media-breakpoint-down(xs) {
        padding: 0;
        margin: 0;
        height: 100%;

        .modal-content {
          min-height: 100%;
        }
      }

      @include media-breakpoint-up(sm) {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
      }

      max-width: 960px;
      width: 100%;
      padding: 1rem;

      .modal-content {
        height: auto;
      }

      .modal-body {
        padding-bottom: 2rem;
        .account-login-page {
          padding: 0 0 15px;

          .card-body {
            padding: 40px 20px 0;
            margin: 0;
          }
        }
      }
    }
  }
}
