.user-profile {
  &.saks-user {
    .card {
      .card-body {
        padding: 19px 48px 19px 18px;

        @include media-breakpoint-down(md) {
          padding-right: 15px;
        }

        @include media-breakpoint-down(xs) {
          padding-right: 46px;
        }

        .edit-profile {
          margin-top: 31px;

          @include media-breakpoint-down(md) {
            margin-top: 31px;
          }
        }

        .edit-email {
          margin-top: 31px;

          @include media-breakpoint-down(md) {
            margin-top: 33px;
          }
        }
      }
    }
  }

  .welcome-account-header {
    margin-bottom: 28px;
    width: 100%;

    &.profile-header {
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
    }
  }

  .profile-details,
  .preferences-settings {
    padding-right: 13px;
    padding-bottom: 18px;

    @include media-breakpoint-down(md) {
      padding-right: 9px;
    }

    @include media-breakpoint-down(xs) {
      padding-right: 0;
    }
  }

  .password-settings {
    @include media-breakpoint-down(xs) {
      padding-bottom: 18px;
    }
  }

  .card {
    &.card-border {
      border: 1px solid $hb-profile-border;
      border-radius: 0;
    }

    &.text-weight {
      font-family: $base-fontFamily;
    }

    .card-body {
      padding: 19px 67px 19px 18px;
      line-height: 1.22;

      @include media-breakpoint-down(md) {
        padding-right: 45px;
      }

      @include media-breakpoint-down(xs) {
        padding-right: 60px;
      }

      .heading {
        font-family: $semibold-fontFamily;
        padding-bottom: 7px;
      }

      .profile-into {
        padding-bottom: 2px;

        &.name {
          text-transform: capitalize;
        }
      }

      .edit-profile,
      .edit-password,
      .edit-email {
        text-decoration: underline;
        margin-top: 12px;

        &:hover,
        a {
          text-decoration: none;
        }
      }

      .edit-password {
        margin-top: 50px;

        @include media-breakpoint-down(md) {
          margin-top: 33px;
        }

        @include media-breakpoint-down(xs) {
          margin-top: 50px;
        }
      }

      .edit-email {
        margin-top: 33px;

        @include media-breakpoint-down(md) {
          margin-top: 16px;
        }

        @include media-breakpoint-down(xs) {
          margin-top: 33px;
        }
      }
    }
  }
}
