@import '../config/variables';


@media screen and (max-width: 767.98px){
    .reg-account.my-stylist-container .user-profile{
        padding: 0;
        width: 100%;
        .welcome-account-header.account-my-stylist{
            padding-left: 20px;
            margin-bottom: 2px;
        }
    }
}

@media screen and (max-width: 480px){
    .reg-account.my-stylist-container .user-profile{
        .welcome-account-header.account-my-stylist{
            h1{
                font-size: 14px;
            }
        }
    }
}

.user-profile.stylist-main{
    width: 72%;
}

.my-stylist-details{
    background-color: $secondary-Variant-8;
    padding: 177px 23px 82px 22px;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 27px;


    .notification {
        position: relative;
        display: inline-block;
    }
            
    .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 7px;
        border-radius: 50%;
        background: red;
        color: white;
    }

    .my-stylist-header{
        font-size: 46px;
        font-family: $Moneta-regular;
        line-height: 52px;
        letter-spacing: 0.92px;
        text-align: center;
        margin: 0 auto 30px;
        padding: 0 13%;

        @media #{belowdesktop} {
            padding: 0 5%;
        }

        @media #{$belowtab} {
            padding: 0 1%;
        }
    }

    .my-stylist-msg{
        font-size: 16px;
        font-family: $aven-trade-gothic-next-condensed-bold;
        line-height: 24px;
        letter-spacing: 0.25px;
        text-align: center;
        margin-bottom: 34px;
    }

    .my-stylist-btn{
        font-size: 14px;
        font-family: $aven-trade-gothic-next-condensed-bold;
        text-align: center;
        margin: 0 auto;
        border: 1px solid #000;
        border-radius: 2px;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 1.2px;
        width: auto;
        max-width: 216px;
        min-width: 216px;
        height: 45px;
    }
}

.how-it-works{
    font-family: $Moneta-regular;
    font-size: 26px;
    line-height: 30px;

    .how-it-works-main{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 34px;
        justify-content: space-between;

        .how-it-works-item{
            flex: 0 0 25%;
            margin-bottom: 10px;
            max-width: 22%;

            .how-it-works-img{
                width: 100%;
                height: 200px;
                background-color: #eee;
            }

            .how-it-works-title, .how-it-works-desc{
                font-size: 14px;
                margin-top: 14px;
                line-height: 20px;
                letter-spacing: 0.22px;
                text-align: center;
                font-family: $aven-trade-gothic-next-regular;
            }

            .how-it-works-desc{
                letter-spacing: 0.25px;
                margin-top: 11px;
            }
        }
    }
}