@import '../account/order_history';

.order-status-page-inner {
  @media #{$belowtab} {
    padding: 0 20px;
  }

  .order-status-header {
    display: block;
  }
}

.order-status-header {
  border: 0 none;
  padding: 0;
  margin: 0 0 25px;

  .order-status-head {
    font-family: $Moneta-regular;
    font-size: 28px;

    @media #{$belowtab} {
      font-size: 26px;
    }
  }
}

.all-orders {
  display: none;
}

.order-date-number {
  font-family: $aven-trade-gothic-next-bold;
  justify-content: center;

  @media #{$belowtab} {
    flex-wrap: wrap;
    justify-content: unset;
  }

  .order-date,
  .order-number {
    &::after {
      content: ' | ';
      margin: 0 3px;
    }
  }

  .order-number {
    @media #{$belowtab} {
      &::after {
        display: none;
      }
    }
  }

  .order-price-status {
    @media #{$belowtab} {
      flex-basis: 100%;
    }
  }
}

.payment-summary-section {
  float: left;
}
