@import '../config/variables';

.order-status-page-inner {
  .order-status-header,
  .order-status-headings {
    display: none;
  }
}

.product-status-items {
  display: flex;
  width: calc(100% - 85px);

  @media #{$belowtab} {
    flex-direction: column;
  }

  .tooltip-text {
    color: $secondary-Variant-4;
  }

  .tooltip-info {
    padding: 1px 5px;
    font-size: $base-fontSize - 4;
  }
}

.ship-vendor-tooltip {
  .tooltip-text {
    color: $secondary-Variant-24;
  }
}

.order-details-common-heading {
  font-family: $Moneta-regular;
  font-size: $base-fontSize + 14;
  letter-spacing: 1.2px;
  line-height: 32px;

  @include media-breakpoint-down(md) {
    font-size: $base-fontSize + 12;
    letter-spacing: 1px;
  }
}

.start-shopping-section {
  flex-basis: 100%;

  &.alert {
    span {
      font-size: $base-fontSize - 2px;
    }
  }

  span {
    @extend .order-details-common-heading;
  }

  .start-shopping-btn {
    max-width: 250px;
    margin-top: 27px;

    @media #{$belowtab} {
      max-width: 100%;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.order-details-section {
  width: 100%;
  max-width: 734px;
  margin: 0 auto 0 10.4%;
  padding-bottom: 44px;

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 728px;
    margin: 0 auto;
    padding: 22px 0 17px;
  }

  @media #{$belowtab} {
    padding: 13px 20px 16px;
    max-width: 100%;
  }

  .order-history-navigator {
    @include media-breakpoint-down(md) {
      display: none;
    }

    a {
      text-decoration: none;
    }

    .go-back-to-history {
      @extend .order-details-common-heading;

      margin-bottom: 26px;
      width: 200px;

      .svg-38-avenue-Active-Left {
        margin-left: -3px;
      }
    }
  }

  .all-orders {
    display: none;
    font-size: $base-fontSize - 2;
    line-height: 18px;
    letter-spacing: 0.25px;
    padding-bottom: 20px;

    @media #{$belowtab} {
      padding-bottom: 23px;
    }

    a {
      border-bottom: solid 1px $avenue-primary-base-2;
      text-decoration: none;

      &:hover {
        border-color: transparent;
      }
    }

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .order-history-main {
    .order-date-number {
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0.25px;
      margin-bottom: 18px;

      @media #{$belowtab} {
        flex-wrap: wrap;
        line-height: 20px;
      }

      .order-date,
      .order-number,
      .order-price-status {
        padding: 0 10px;
        position: relative;

        @media #{$belowtab} {
          &:last-child {
            &::after {
              display: none;
            }
          }
        }

        &::after {
          position: absolute;
          content: '';
          width: 1px;
          height: 11px;
          right: 0;
          top: 5px;
          background: $avenue-primary-base-2;
        }

        &:first-child {
          padding-left: 0;
        }

        .summary-details {
          &.order-date {
            font-size: $base-fontSize !important;
          }
        }
      }

      .order-price-status {
        flex-basis: 38%;

        @media #{$belowtab} {
          flex-direction: column;
          flex-basis: 100%;
          padding: 0;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

.confirm-order-details {
  display: flex;
  font-size: $base-fontSize - 2;
  border: none;
  padding: 0;
  margin: 27px 0 24px;
  letter-spacing: 0.25px;
  line-height: 18px;

  @include media-breakpoint-down(md) {
    margin: 26px 0 18px;
  }

  @media #{$belowtab} {
    flex-direction: column;
    margin: 26px 0 6px;
  }

  .checkout-order-total-summary {
    flex-basis: 27%;

    @media #{$belowtab} {
      width: 60%;
    }
  }

  .order-discount {
    color: $avenue-primary-base-2;
  }

  .payment-summary-section {
    flex-basis: 40%;
  }

  .grand-total {
    font-family: $aven-trade-gothic-next-bold;
    font-size: $base-fontSize - 2 !important;
    margin-top: 5px;
    border-top: solid 1px $avenue-secondary-variant-7;
    padding-top: 12px;
  }

  .grand-total-sum {
    font-family: $aven-trade-gothic-next-regular;
  }

  .cols {
    padding: 0;
  }

  .summary-section-label {
    margin: 0 0 2px;
    display: block;
    font-family: $aven-trade-gothic-next-bold;
  }

  .order-detail-label,
  .summary-main-section-label {
    font-size: $base-fontSize;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    line-height: 20px;
    padding-bottom: 4px;
    border-bottom: solid 1px $avenue-secondary-variant-7;
    margin-bottom: 12px;

    @media #{$belowtab} {
      padding-bottom: 3px;
    }
  }

  .summary-main-section-label {
    font-size: $base-fontSize + 2;
    margin: 0 0 9px;
    display: block;
    font-family: $aven-trade-gothic-next-regular;

    @include media-breakpoint-down(md) {
      margin-bottom: 12px;
    }

    @media #{$belowtab} {
      margin-bottom: 13px;
    }
  }

  .order-details-section-container {
    max-width: 484px;
    margin-right: 16px;

    @include media-breakpoint-down(md) {
      max-width: 449px;
    }

    @media #{$belowtab} {
      max-width: 100%;
      margin: 0;
    }

    .detail-section {
      flex-basis: unset;

      .summary-section,
      .payment-summary-section {
        width: 100%;
        max-width: 233px;

        @include media-breakpoint-down(md) {
          max-width: 186px;
        }

        @media #{$belowtab} {
          max-width: 100%;
        }

        .summary-details {
          font-size: $base-fontSize - 2 !important;
        }
      }

      .payment-details {
        span {
          padding-bottom: 2px;
          clear: none;
          padding-right: 3px;

          &:last-child {
            padding-bottom: 0;
            padding-right: 0;
          }
        }
      }

      .summary-section {
        margin: 0;

        &.first {
          margin-bottom: 14px;

          .promotions-summary {
            display: none;
          }
        }

        .summary-details {
          span {
            display: inline-block;
          }

          .promotions-summary {
            padding-top: 16px;
            clear: both;

            span {
              display: inline-block;

              &.promotions-info-label {
                display: block;
                float: none;
                font-family: $aven-trade-gothic-next-bold;
              }
            }
          }
        }
      }

      .address-summary {
        .firstName,
        .lastName {
          text-transform: capitalize;
        }

        .city,
        .stateCode,
        .postalCode {
          display: inline-block;
        }
      }
    }
  }

  .checkout-order-total-summary {
    max-width: 234px;
    flex-basis: unset;

    @include media-breakpoint-down(md) {
      max-width: 263px;
    }

    @media #{$belowtab} {
      max-width: 100%;
      width: 100%;
      padding-top: 27px;
    }

    .order-total-summary {
      .start-lines {
        font-family: $aven-trade-gothic-next-bold;
      }

      .row {
        &.pb-1 {
          padding-bottom: 9px !important;
        }
      }
    }
  }
}

.order-details-return {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $so-Oxygen-variant;
  padding: 18px 0 19px;
  margin-bottom: 15px;

  @include media-breakpoint-down(md) {
    margin-bottom: 17px;
  }

  @media #{$belowtab} {
    padding: 16px 0 17px;
    display: block;
  }

  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
  }

  span {
    font-family: $aven-trade-gothic-next-regular;
    letter-spacing: 0.25px;
    line-height: 20px;

    @media #{$belowtab} {
      display: block;
      text-align: center;
    }
  }

  a {
    margin: 0 0 0 18px;
    -webkit-appearance: none;
    width: 150px;
    justify-content: center;
    display: flex;
    font-size: $base-fontSize - 2;
    line-height: 30px;

    @media #{$belowtab} {
      max-width: 160px;
      margin: 12px auto 0;
    }

    @include media-breakpoint-down(xs) {
      margin: 10px 0 0;
    }
  }
}

.product-summary-section {
  letter-spacing: 0.25px;
  padding-top: 9px;

  .shop-bag-head {
    font-size: $base-fontSize;
    margin: 0 0 9px;
    font-family: $aven-trade-gothic-next-regular;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 0.25px;
    border-bottom: solid 1px $avenue-secondary-variant-7;
    padding-bottom: 4px;
  }

  .order-product-image {
    width: 90px;
    height: 150px;
    margin: 0 18px 0 0;

    @media #{$belowtab} {
      float: left;
    }
  }

  .product-line-items {
    width: 100%;

    @media #{$belowtab} {
      margin: 0;
    }

    .discount {
      color: $hb-Red-utility;
      border-bottom: 1px solid $hb-login-border;
      padding: 0 0 10px;
      margin: 0 0 10px;
      width: 40%;

      @media #{$belowtab} {
        width: 60%;
      }
    }

    .total {
      font-family: $bold-fontFamily;
    }

    .brand-name {
      font-family: $aven-trade-gothic-next-bold;
      line-height: 20px;
      padding-bottom: 2px;
    }

    .product-name,
    .variation,
    .final-sale {
      padding-bottom: 2px;
      line-height: 18px;
    }

    .variation {
      text-transform: capitalize;
      font-size: 0;

      span {
        font-size: $base-fontSize - 2;
      }
    }
  }

  .product-summary-inner {
    font-size: $base-fontSize - 2;
    display: flex;
    border-bottom: 1px solid $hb-profile-border;
    border-bottom: 1px solid $avenue-secondary-variant-7;
    padding: 9px 0 19px;
    margin: 0 0 9px;

    @media #{$belowtab} {
      display: inline-block;
    }

    &:last-child {
      border-bottom: none;
      margin: 0;
      padding: 9px 0 19px;
    }

    @include media-breakpoint-down(md) {
      padding: 9px 0 15px;
    }

    .order-item-price {
      flex-basis: 31.8%;
      max-width: 104px;
      margin-left: auto;
      text-align: right;

      @include media-breakpoint-down(md) {
        max-width: 116px;
      }

      @media #{$belowtab} {
        flex-basis: unset;
        max-width: 100%;
        margin: 0;
        text-align: left;
        float: left;
        width: 60%;
      }

      .price,
      .total {
        font-family: $aven-trade-gothic-next-bold;
        line-height: 20px;
        color: $avenue-secondary-variant-1;
        letter-spacing: 0.3px;
      }

      .discount {
        border-bottom: solid 1px $avenue-secondary-variant-7;
        padding-bottom: 2px;
        margin-bottom: 2px;
        letter-spacing: 0.3px;
      }
    }
  }

  .order-status-items {
    margin-left: 6.8%;
    flex-basis: 31.8%;
    max-width: 233px;

    @include media-breakpoint-down(md) {
      margin-left: 6.7%;
      flex-basis: 32.7%;
    }

    @media #{$belowtab} {
      margin: 21px 0 0;
      flex-basis: unset;
      max-width: 100%;
      float: left;
      width: 60%;
    }

    div {
      padding-bottom: 2px;
    }

    .order-status {
      margin: 0 0 6px;
    }

    .order-status-text {
      font-family: $aven-trade-gothic-next-bold;
      line-height: 20px;
      display: inline-block;
      padding-bottom: 2px;
    }

    .track-package-link {
      margin: 2px 0 0;
      border-bottom: solid 1px $avenue-primary-base-2;
      text-decoration: none;
      line-height: 17px;

      &:hover {
        text-decoration: none;
        border-color: transparent;
      }
    }
  }

  .review-ratings {
    margin-top: 4px;
    line-height: 17px;

    @media #{$belowtab} {
      margin-top: 0;
    }

    .TTteaser__write-review {
      color: $secondary-Utility-6;
      font-size: $base-fontSize - 2;
      font-family: $aven-trade-gothic-next-regular;
    }

    a {
      border-bottom: solid 1px $avenue-primary-base-2;
      text-decoration: none;

      &:hover {
        border-color: transparent;
      }
    }
  }
}

.product-narvar-track {
  display: flex;
  max-width: 209px;
  margin-right: 27px;
  flex-basis: unset;
  width: 100%;

  @include media-breakpoint-down(md) {
    margin-right: 15px;
  }

  @media #{$belowtab} {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    float: left;
    width: 60%;
  }

  .product-name {
    border: none;
  }
}

.gift-message-section {
  font-size: $base-fontSize - 2;
  margin: 2px 0 0 -6px;
  letter-spacing: 0.25px;
  line-height: 18px;

  .svg-11-avenue-gift {
    display: inline-block;
    width: 28px;
    height: 26px;
    transform: scale(0.73) scale(0.76);
    vertical-align: middle;
  }

  .gift-message-header,
  .gift-message-body {
    display: inline-block;
    margin: 0;
    font-family: $aven-trade-gothic-next-regular;
    vertical-align: middle;
  }
}

.final-sale {
  .tooltip-text {
    font-size: $base-fontSize - 4;
    padding: 1px 4px;
    line-height: 0.8;
    color: $avenue-primary-base-2;
  }
}

// Account Order History

.order-history-page {
  div.alert {
    margin: 0 0 20px;
    padding: 12px 20px;

    span {
      font-size: $base-fontSize - 2px;
    }
  }

  .view-more-orders {
    text-align: center;
    margin: 30px 0 0;

    button {
      max-width: 220px;
      height: 45px;
      width: 100%;

      @media #{$belowtab} {
        max-width: 100%;
      }
    }
  }

  .user-profile {
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-bottom: 55px;
    }
  }
}

.order-history-section {
  align-items: center;
  padding: 8px 0 0;
  border: none;

  @media #{$belowtab} {
    padding: 25px 0;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0 20px;
  }

  &:first-child {
    border-top: 1px solid $secondary-utility-17;
  }

  .order-date-number {
    flex-basis: 60%;

    @media #{$belowtab} {
      flex-direction: column;
    }
  }

  .no-recent-orders {
    display: block;
    padding-top: 16px;
    margin-top: 5px;
    border-top: 1px solid $avenue-secondary-variant-7;
  }

  .order-history-headings {
    position: relative;
    margin: 0;
    align-items: center;

    @media #{$belowtab} {
      margin: 0 0 30px;
    }
  }

  h2.order-history-headings-sub {
    margin-bottom: 6px;
    font-family: $Moneta-regular;
    letter-spacing: 1.2px;

    @include media-breakpoint-down(md) {
      margin: 8px 0 9px;
    }
  }

  .international-orders {
    font-size: $base-fontSize;
    margin: 0 0 8px;

    @include media-breakpoint-down(md) {
      margin: 0 0 18px;
    }

    .status-text {
      margin-left: 2px;
    }

    a {
      text-decoration: none;
      border-bottom: solid 1px $avenue-primary-base-2;

      &:hover {
        border-color: transparent;
      }
    }
  }

  .show-pending-orders {
    padding: {
      left: 24px;
    }
  }

  .order-history-select {
    position: static;
    top: unset;
    right: unset;
    max-width: unset;

    @media #{$belowtab} {
      position: static;
    }

    @include media-breakpoint-down(md) {
      top: 15px;
    }

    select {
      border: 0 !important;
      font-size: $base-fontSize;
      background-size: 13px;
    }
  }

  .order-detail-link {
    flex-basis: unset;
    max-width: unset;
    padding: 0;
    border-bottom: 1px solid $avenue-secondary-variant-7;
    cursor: pointer;

    @media #{$belowtab} {
      flex-basis: 7%;
    }

    &.active {
      opacity: 0.5;
      height: 4px;

      @media #{$belowtab} {
        flex-basis: 9%;
      }
    }

    &:first-child {
      border-top: 1px solid $avenue-secondary-variant-7;
    }
  }

  .order-history-item {
    line-height: 20px;

    @include media-breakpoint-down(xs) {
      line-height: 18px;
      margin-right: 20px;
    }
  }

  .order-date,
  .order-number,
  .order-price,
  .order-status {
    flex-basis: 50%;
    font-family: $bold-fontFamily;
  }

  .order-date,
  .order-status,
  .order-number,
  .order-items-count,
  .order-price {
    font-family: $aven-trade-gothic-next-regular;
    margin-bottom: 4px;

    @include media-breakpoint-down(xs) {
      font-size: $base-fontSize - 2;
      margin-bottom: 2px;
    }
  }

  .order-date,
  .order-status {
    font-family: $aven-trade-gothic-next-bold;
  }
}

.order-image {
  max-width: 109px;
  width: 22%;
  margin: 18px 0;
}

.order-item-arrow {
  span {
    height: 28px;
    width: 28px;
    display: block;
    transform: scale(0.7);
  }
}

//custom checkbox
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  left: -22px;
}

.order-status-page {
  .confirm-order-details {
    .order-details-section-container {
      .detail-section {
        .summary-section {
          &.first {
            .promotions-summary {
              display: block;
            }
          }
        }
      }
    }
  }
}
