@import '../config/variables';

.cancel-order-modal-main {
  padding-right: 0 !important;

  .modal-dialog {
    max-width: 450px;
  }

  .cancel-order-modal-header {
    text-align: center;
    border: none;
    padding-bottom: 10px;

    .modal-title {
      font-size: $base-fontSize + 14px;
      line-height: 1.22;
      padding-top: 19px;
      width: 100%;
      max-width: 450px;
      font-family: $Moneta-regular;
      letter-spacing: 1.2px;

      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize + 12px;
        line-height: 1.15;
      }
    }
  }

  .close {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(0.83);
    padding: 0;
    margin: 0;

    @include media-breakpoint-down(xs) {
      right: 20px;
      top: 10px;
    }
  }

  .btn-block {
    margin-top: 0;
    font-family: $aven-trade-gothic-next-regular;
  }

  .cancel-order-modal-ok {
    margin: 0 auto !important;
    flex-basis: 50%;
  }

  .modal-footer {
    border: none;
    padding: 1.5rem 20px 0.7rem;

    > :not(:first-child) {
      margin-right: 0;
    }
  }

  .cancel-order-message,
  .cancel-order-confirm-message {
    margin: 10px 0 0;
    line-height: 20px;
  }

  &.cancelled {
    .cancel-order-modal-no,
    .cancel-order-modal-yes,
    .cancel-order-title,
    .cancel-order-message {
      display: none;
    }
    .cancel-order-confirm-title,
    .cancel-order-modal-ok,
    .cancel-order-confirm-message {
      display: block !important;
    }
  }

  .cancel-order-modal-body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    color: $avenue-primary-base-2;
    letter-spacing: 0.25px;

    @include media-breakpoint-down(xs) {
      width: 95%;
      padding-bottom: 5px;
    }
  }

  .cancel-order-message-info {
    margin: 14px 0 0;
  }
}

.order-cannot-cancel,
.order-cancel-oms-fail {
  margin-bottom: 25px;
}

.cancel-order-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-Variant-8;
  padding: 17px 0 18px;
  letter-spacing: 0.25px;
  margin-top: 0;
  clear: both;
  flex-direction: column;
  text-align: center;

  .cancel-order-link-section {
    padding: 0;

    @media #{$belowtab} {
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  @media #{$belowtab} {
    padding: 16px 0 17px;
    display: block;
    margin-top: 18px;
  }

  .cancel-order-section-info {
    padding-right: 0;

    @media #{$belowtab} {
      padding: 0 20px;
    }

    .cancel-order-mes {
      font-size: $base-fontSize - 2;
      margin-bottom: 14px;

      @include media-breakpoint-down(sm) {
        padding: 0 5px;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
      }
    }
  }

  .cancel-order-remaining-time {
    font-family: $aven-trade-gothic-next-bold;
    line-height: 20px;
    margin-bottom: 9px;

    @include media-breakpoint-down(md) {
      margin-bottom: 14px;
    }
  }

  .cancel-order-link {
    margin: 0;
    font-family: $aven-trade-gothic-next-regular;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: $base-fontSize - 2;
    padding: 0 34px;

    @include media-breakpoint-down(sm) {
      margin: 10px auto;
      max-width: 35%;
    }

    @include media-breakpoint-down(xs) {
      max-width: 75%;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      max-width: 170px;
      margin: 0 auto;
    }
  }
}

.order-status-page {
  .cancel-order-section-info {
    @include media-breakpoint-up(lg) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}
