.saks-first {
  .saks-gift-intial-form {
    max-width: 802px;
    width: 100%;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      padding: 50px 109px 47px;
      border: 1px solid $avenue-secondary-variant-7;
    }

    @media #{$ipadproToDesktop} {
      padding: 50px 82px 47px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 35px;
      padding-bottom: 33px;
    }

    .add-payment-form {
      width: 100%;

      .saksfirst-form {
        .two-col {
          @include media-breakpoint-up(md) {
            .card-padding-left {
              padding-left: 0;
              padding-right: 5px;
            }

            .cvv-padding-right {
              padding-right: 0;
              padding-left: 11px;
            }

            .postal-padding {
              padding-left: 0;
              padding-right: 7px;
            }
          }

          @include media-breakpoint-down(md) {
            .cvv-padding-right,
            .postal-padding {
              width: 100%;
            }

            .cvv-padding-right {
              padding: 0 7.5px 0 0;
            }

            .postal-padding {
              padding: 0 0 0 7.5px;
            }

            .card-padding-left {
              padding: 0;
            }
          }

          .form-group {
            margin-bottom: 9px;
          }
        }

        .saks-cvv-tooltip {
          margin-bottom: 17px;
          font-size: $base-fontSize - 2;
          letter-spacing: 0.25px;
          line-height: 18px;
          padding-left: 4px;

          .tooltip-info {
            margin-left: 3px;
          }
        }

        .custom-tooltip {
          div[role='status'] {
            max-width: 178px;

            .account-img,
            .cvv-img {
              text-align: center;

              img {
                max-width: 90px;
              }

              .saks-card {
                margin-top: 6px;
              }
            }

            .saks-card {
              font-size: 12px;
              letter-spacing: 0.25px;
              line-height: 18px;
              display: block;
              margin-top: 16px;
            }

            .tooltip-content {
              padding: 15px 16px;
            }
          }
        }
      }
    }

    .saks-already-first-member-message,
    .saks-become-first-member-message {
      width: 100%;
      text-align: center;
      padding-bottom: 26px;

      .saks-first-logo {
        margin-bottom: 23px;
      }

      .already-member {
        font-size: 28px;
        letter-spacing: 0.4px;
        line-height: 32px;
        display: block;
        margin-bottom: 6px;
        font-family: $aven-trade-gothic-next-condensed-bold;

        @include media-breakpoint-down(md) {
          font-size: 26px;
        }
      }

      .add-your-saksfirst {
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
      }
    }

    .saks-become-first-member-message {
      padding-top: 52px;

      .saks-graphic-img {
        max-width: 318px;
        margin: 54px auto 0;
      }

      .saks-add-account {
        margin: 26px auto 14px;

        @include media-breakpoint-down(md) {
          max-width: 100%;
        }
      }
    }
  }

  .saks-add-account {
    max-width: 234px;
    margin: 18px auto 0;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  //saksfirstDetail
  .saksfirstDetail {
    font-size: 12px;
    letter-spacing: 0.25px;
    line-height: 18px;

    .pay-and-manage {
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding-bottom: 18px;
      border-bottom: 1px solid $avenue-secondary-variant-7;
      margin-bottom: 9px;

      .Pay_manage {
        font-size: 12px;
        letter-spacing: 0.25px;
        line-height: 18px;

        .pay-text {
          margin-right: 10px;
        }

        .divide-links {
          margin: 0 10px;
        }

        .link-text {
          padding-bottom: 1px;
          border-bottom: 1px solid $avenue-secondary-variant-1;

          &:hover {
            text-decoration: none;
            border-color: transparent;
          }
        }
      }
    }

    .dynamic-reward-message {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      background-color: $avenue-secondary-variant-8;
      padding: 9px 10px 9px 15px;

      .reward-text {
        a {
          padding-bottom: 1px;
          border-bottom: 1px solid $avenue-secondary-variant-1;

          &:hover {
            text-decoration: none;
            border-color: transparent;
          }
        }
      }

      .close {
        cursor: pointer;
        @media #{$belowtab} {
          margin-bottom: 16px;
        }
      }
    }

    .saks-tier-details {
      border-bottom: 1px solid $avenue-secondary-variant-7;

      @include media-breakpoint-down(md) {
        padding-top: 35px;
      }

      @include media-breakpoint-up(md) {
        border: none;
        border-bottom: 1px solid $avenue-secondary-variant-7;
      }

      .saks-first-logo {
        text-align: center;
        margin-bottom: 16px;
      }

      .font-common {
        font-size: 28px;
        letter-spacing: 0.4px;
        line-height: 32px;
        display: block;
        margin-bottom: 2px;
        font-family: $aven-trade-gothic-next-condensed-bold;

        @include media-breakpoint-down(md) {
          font-size: 26px;
        }
      }

      .saks-tier {
        font-size: 14px;
        letter-spacing: 1.25px;
        line-height: 18px;
        margin-bottom: 4px;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
          margin-bottom: 7px;
        }
      }

      .saks-point-multiplier-tooltip {
        .tooltip-text {
          font-size: 12px;
          letter-spacing: 0.25px;
          line-height: 18px;
        }

        .tooltip-info {
          margin-left: 3px;

          @include media-breakpoint-down(md) {
            margin-left: 0;
          }
        }

        .tool-text {
          font-size: 12px;
          letter-spacing: 0.25px;
          line-height: 18px;
          margin-bottom: 4px;
          display: inline-block;

          &.tool-head {
            font-family: $aven-trade-gothic-next-condensed-bold;
            margin-bottom: 0;
          }
        }

        .tool-border {
          margin: 12px auto 5px;
          width: 55px;
          border-top: 1px solid $avenue-secondary-variant-7;
        }
      }

      .saks-point-gift-together {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 31px;
        margin-bottom: 32px;
      }

      .saks-progress-label-gf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
      }

      .saks-available-gift-card {
        button {
          line-height: 30px;
          max-width: 139px;
          margin: 15px auto 0;

          @include media-breakpoint-down(md) {
            margin-top: 18px;
          }
        }
      }

      .saks-reward-next-points {
        margin-bottom: 8px;
      }

      .progress-bar {
        background-color: $avenue-secondary-variant-1;
      }

      .beauty-box-top-border {
        @include media-breakpoint-up(md) {
          margin: 45px -82px;
          border-top: 1px solid $avenue-secondary-variant-7;
        }

        @include media-breakpoint-down(md) {
          margin: 36px 0;
        }
      }

      .beauty-boxes {
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;

        .beaty-logo {
          margin-bottom: 0;
        }

        .available-beauty-reward {
          margin-bottom: 12px;
          margin-top: 33px;
        }

        .beauty-reward {
          margin-bottom: 13px;
        }

        .saks-available-beauty-boxes {
          padding-top: 13px;
          margin-bottom: 23px;

          button {
            line-height: 30px;
            max-width: 150px;
            margin: 0 auto;
          }
        }

        .beauty-reward-legal {
          @include media-breakpoint-up(md) {
            width: 494px;
          }

          .redeem-rewards-content {
            font-size: 10px;
            letter-spacing: 0;
            line-height: 18px;
            margin-bottom: 0;
          }
        }

        .beauty-rewards-together {
          display: flex;
          align-items: center;
          margin-top: 27px;

          .beaty-rewards-logo {
            max-width: 150px;
            width: 100%;
            margin-right: 29px;
          }

          .beaty-text-content {
            .beauty-text {
              font-size: 14px;
              letter-spacing: 0.25px;
              line-height: 20px;
              display: inline-block;
              margin-bottom: 12px;
            }

            .beauty-head {
              font-weight: bold;
              margin-bottom: 2px;
            }

            .links-text {
              a {
                font-size: 12px;
                letter-spacing: 0;
                line-height: 15px;
                display: inline-block;
                margin-right: 15px;
                padding-bottom: 2px;
                border-bottom: 1px solid $avenue-secondary-variant-1;

                &:hover {
                  text-decoration: none;
                  border-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  .saksfirstGiftcard-redemption {
    .saks-gift-card-redemption {
      padding-top: 22px;

      @include media-breakpoint-down(md) {
        padding-top: 33px;
      }

      @include media-breakpoint-up(md) {
        border: none;
      }

      .font-head {
        text-transform: uppercase;
        font-size: 28px;
        line-height: 32px;
        font-family: $aven-trade-gothic-next-condensed-bold;

        @include media-breakpoint-down(md) {
          font-size: 26px;
        }

        &.gf-avail-amount {
          margin-bottom: 3px;
        }
      }

      .gf-header-message {
        margin-bottom: 13px;
      }

      .gf-avail-now-text {
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 3px;

        &.saks-gift-card-text {
          margin-bottom: 0;
        }
      }

      .gf-redeem-section {
        margin-top: 40px;

        .saks-gf-sent-to {
          font-family: $aven-trade-gothic-next-bold;
          margin-bottom: 6px;
        }
      }

      .would-you {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 15px;
        margin-top: 33px;

        @include media-breakpoint-down(md) {
          max-width: 260px;
          margin: 33px auto 15px;
        }
      }

      .gf-redemption-mode {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 23px;

        .custom-inputs {
          margin-left: 20px;
        }
      }

      .redemption-mail-msg {
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
      }

      .by-mail-content {
        font-size: 12px;
        margin-top: 23px;
      }
    }

    .redemption-email-msg {
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .saksfirst-redeem-form {
      margin-top: 27px;

      .card-number {
        padding: 0 2.5px;

        @include media-breakpoint-down(md) {
          padding: 0;
        }
      }

      .button-redem {
        @include media-breakpoint-up(md) {
          padding-top: 9px;

          .left-pad {
            padding-left: 0;
            padding-right: 8px;
          }

          .right-pad {
            padding-right: 0;
            padding-left: 8px;
          }
        }

        @include media-breakpoint-down(md) {
          .left-pad,
          .right-pad {
            padding: 0;
          }

          .js-gf-cancel {
            margin: 8px 0 18px;
          }
        }
      }
    }
  }

  .saksfirst-frequently-asked-ques {
    padding-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;

    .freq-ask-ques {
      padding-bottom: 2px;
      border-bottom: 1px solid #000;
      font-size: 12px;

      &:hover {
        text-decoration: none;
        border-color: transparent;
      }
    }

    .terms-cond-links {
      margin-top: 18px;
      font-size: 12px;

      a {
        margin-left: 8px;
        padding-bottom: 2px;
        border-bottom: 1px solid #000;

        &:hover {
          text-decoration: none;
          border-color: transparent;
        }
      }
    }
  }

  .saks-gf-success {
    padding-top: 33px;

    @include media-breakpoint-down(md) {
      padding-top: 33px;
    }

    @include media-breakpoint-up(md) {
      border: none;
    }

    .font-success-bold {
      font-size: 28px;
      letter-spacing: 0.4px;
      line-height: 32px;
      font-family: $aven-trade-gothic-next-condensed-bold;
      margin-bottom: 4px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 26px;
      }

      &.saks-success {
        margin-bottom: 14px;
      }
    }

    .saks-success-msg {
      font-size: 14px;
      font-family: $aven-trade-gothic-next-condensed-bold;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 2px;
    }

    .saks-success-giftcard-text {
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 24px;
    }

    .saks-gf-email-msg {
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
      margin-bottom: 26px;
    }

    .saks-gift-card-ok {
      width: 235px;
      margin: auto;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    .saks-gf-sent-to {
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 4px;
    }

    .mail-aadress {
      margin-bottom: 23px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .saks-gf-delivery-msg {
      margin-bottom: 27px;
    }
  }

  .saks-beauty-box-redemption {
    padding-top: 33px;

    @include media-breakpoint-down(md) {
      padding-top: 33px;
    }

    @include media-breakpoint-up(md) {
      border: none;
    }

    .font-success-bold {
      font-size: 28px;
      letter-spacing: 0.4px;
      line-height: 32px;
      font-family: $aven-trade-gothic-next-condensed-bold;
      margin-bottom: 4px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 26px;
      }

      &.bb-header-message {
        margin-bottom: 37px;
      }
    }

    .bb-redemption-mode {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;

      .custom-inputs {
        margin-left: 20px;
      }
    }

    .bb-redeem-section {
      .would-redeem {
        margin-bottom: 18px;
      }
    }

    .mail-aadress {
      margin-bottom: 22px;
    }

    .change-address-content {
      margin-bottom: 26px;
    }

    .redemption-pickup-msg {
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 26px;
    }

    .ship-submit,
    .pickup-submit {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 8px;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        padding-top: 0;
      }

      .redeem-cancel-btn {
        width: 48.5%;

        @include media-breakpoint-down(md) {
          width: 100%;
          margin-top: 9px;

          button {
            margin-top: 9px;
          }
        }
      }
    }
  }

  .saks-bb-success {
    padding-top: 33px;

    @include media-breakpoint-down(md) {
      padding-top: 33px;
    }

    @include media-breakpoint-up(md) {
      border: none;
    }

    .saks-success {
      font-size: 28px;
      letter-spacing: 0.4px;
      line-height: 32px;
      font-family: $aven-trade-gothic-next-condensed-bold;
      margin-bottom: 36px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 26px;
      }
    }

    .saks-bb-sent-to {
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .redemption-mail-msg {
      line-height: 20px;
      margin-bottom: 22px;
    }

    .saks-bb-delivery-msg {
      margin-bottom: 23px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .saks-bb-email-redeem {
      margin-bottom: 27px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .saks-bb-ok {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;

        .gf-redeem-btn-ok {
          margin-top: 18px;
        }
      }

      .find-store,
      .gf-redeem-btn-ok {
        width: 48.5%;

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }
}

.saks-card-wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 28px;
    background-repeat: no-repeat;
    background-image: none;
    background-size: contain;
    width: 48px;
    height: 30px;
    top: 7px;
    transform: scale(0.75);
    background-image: url(../../images/blank-card.svg);
    background-position: initial;
  }

  &[data-type='SAKS']::after {
    background-image: url('../../images/saks-store.svg');
    background-size: auto;
    background-position: 0 0;
  }
}

.saks-general-error {
  .error-message-text {
    margin-bottom: 0;
  }
}

.unenrolled-tier-container {
  width: 410px;
  margin: 0 auto;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  .pay-text {
    padding-left: 4px;
    letter-spacing: 0.25px;
    line-height: 22px;
    font-size: 18px;
    font-family: $aven-trade-gothic-next-bold;
  }

  .pay_manage_text {
    margin-top: 33px;
    margin-bottom: 19px;
  }

  .master-store {
    display: flex;
    justify-content: space-between;

    .master-store-text {
      flex-basis: 48%;
      line-height: 32px;
    }
  }

  @include media-breakpoint-down(xs) {
    .saksfirst-image {
      margin-top: 18px;
    }

    .master-store {
      flex-wrap: wrap;
      display: block;

      .master-store-text {
        flex-basis: 100%;
        max-width: 160px;
        margin: 0 auto;
        display: block;
        margin-bottom: 18px;
      }
    }
  }
}
