@charset "UTF-8";
@import '~saks/config/variables';

.preference-center-page {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 55px;
    max-width: 100%;
  }

  .preference-center-section.user-profile {
    align-items: center;

    @media screen and (max-width: 1023.98px) {
      margin: 18px 20px 0 20px;
      width: unset;
      max-width: unset;
    }

    @media screen and (max-width: 767.98px) {
      margin: 18px 0 0 0;
    }

    .preference-center-headings {
      position: relative;
      margin: 0;

      @media screen and (max-width: 1023.98px) {
        margin: 0 0 18px;
      }

      .preference-center-headings-sub {
        margin-bottom: 30px;
        font-family: $Moneta-regular;
        letter-spacing: 1.2px;

        @media screen and (max-width: 767.98px) {
          margin: 8px 0 9px;
        }
      }
    }

    .preference-center-tabs {
      display: flex;
      border-bottom: 1px solid $secondary-Variant-7;
      margin-bottom: 27px;

      @media screen and (max-width: 767.98px) {
        justify-content: space-between;
      }

      .preference-center-tab {
        position: relative;
        font-family: $aven-trade-gothic-next-regular;
        color: #444;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        padding: 0 0 8px;
        border: none;
        background: none;
        margin-right: 36px;

        @media screen and (max-width: 767.98px) {
          margin-right: 0;
        }

        &--selected {
          font-family: $aven-trade-gothic-next-regular;
          color: #000;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 2px solid #000;
            bottom: -1px;
            left: 0;
          }
        }
      }
    }

    .preference-center-tabs-content {
      display: none;
      width: 100%;

      &--active {
        display: flex;
      }

      .preference-center-refinement-list {
        font-family: $aven-trade-gothic-next-regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        min-height: 60px;
        border: 1px solid $secondary-Variant-7;
        border-radius: 2px;
        padding: 20px 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 236px;
        overflow-y: auto;
        width: 100%;
        height: 207px;
        align-content: flex-start;

        @media screen and (max-width: 767.98px) {
          height: 240px;
          font-size: 12px;
        }

        .preference-center-no-refinements {
          display: none;

          &:only-child {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .preference-center-refinement {
          display: flex;
          width: 33%;
          padding-bottom: 20px;
          justify-content: flex-start;
          align-items: start;

          @media screen and (max-width: 767.98px) {
            width: 100%;
            justify-content: flex-start;
          }

          .preference-center-refinement-label {
            @media screen and (max-width: 790.98px) {
              font-size: 12px;
            }
          }

          .preference-center-refinement-close-btn {
            cursor: pointer;
            width: 24px;
            height: 24px;
            .preference-center-refinement-x {
              width: 24px;
              height: 24px;
              transform: scale(0.35);
            }
          }
        }
      }

      .preference-center-refinement-size-list {
        font-family: $aven-trade-gothic-next-regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        min-height: 60px;
        border: 1px solid $secondary-Variant-7;
        border-radius: 2px;
        padding: 20px 20px 0;
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 236px;
        overflow-y: auto;
        width: 100%;
        height: 207px;
        align-content: flex-start;

        @media screen and (max-width: 1023.98px) {
          height: 240px;
          font-size: 12px;
          overflow-x: hidden;
        }

        .preference-center-no-refinements {
          display: none;

          &:only-child {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .preference-center-refinement {
          display: inline-block;
          width: 25%;
          padding-bottom: 30px;
          justify-content: flex-start;
          align-items: center;
          padding-left: 0;

          @media screen and (max-width: 767.98px) {
            justify-content: flex-start;
            width: 50%;
          }

          .preference-center-refinement-sub-list {
            .preference-center-refinement {
              .preference-center-refinement-close-btn {
                cursor: pointer;
                // cursor: crosshair;
                width: 24px;
                height: 24px;
                // transform: scale(0.35);
                background-position: 0 34.505585436491515%;
                display: inline-block;

                .preference-center-refinement-x {
                  width: 24px;
                  height: 24px;
                  transform: translate(0, 7px) scale(0.4);
                }
              }

              .svg-svg-24-cross-thick {
                background-position: 0 34.505585436491515%;
                display: inline-block;
                transform: translate(0, 7px) scale(0.4);
              }
            }
          }

          .preference-center-refinement-sub-list {
            width: 733px;
            display: inline-table;
            li {
              padding-top: 0;
              padding-bottom: 0;
              margin-top: -18px;

              @media screen and (max-width: 767.98px) {
                padding-right: 8px;
                margin-top: -16px;
                font-size: 12px;
                margin-right: -25px;
              }
            }

            @media screen and (max-width: 1023.98px) {
              width: 733px;
            }

            @media screen and (max-width: 767.98px) {
              width: 395px;
            }
          }
        }

        li {
          .preference-center-refinement-title {
            font-weight: bold;
          }
        }
      }

      .preference-center-size-list {
        font-family: $aven-trade-gothic-next-regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        min-height: 60px;
        border: 1px solid $secondary-Variant-7;
        border-radius: 2px;
        padding: 20px 20px 0;
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 236px;
        overflow-y: auto;
        width: 100%;
        height: 207px;
        align-content: flex-start;

        @media screen and (max-width: 767.98px) {
          height: 240px;
        }

        .preference-center-no-refinements {
          display: none;

          &:only-child {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .preference-center-refinement {
          display: inline-block;
          width: 33%;
          padding-bottom: 20px;
          justify-content: flex-start;
          align-items: center;
          padding-left: 0;
          padding-top: 34px;

          @media screen and (max-width: 767.98px) {
            width: 100%;
            justify-content: flex-start;
          }

          .preference-center-refinement-close-btn {
            cursor: pointer;
            width: 24px;
            height: 24px;
            transform: scale(0.35);

            .preference-center-refinement-x {
              width: 24px;
              height: 24px;
              transform: scale(0.35);
            }
          }
        }
      }

      .preference-center-designer-recs {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__title {
          font-family: $aven-trade-gothic-next-bold;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
          margin-top: 27px;
        }

        &__subtitle {
          font-family: $aven-trade-gothic-next-bold;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.25px;
          margin-top: 20px;
        }

        &__list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-bottom: 35px;
          border-bottom: 1px solid $secondary-Variant-7;
        }

        &__list-item {
          display: flex;
          border: 1px black solid;
          border-radius: 2px;
          margin: 15px 15px 0 0;
          align-items: center;
          height: 32px;
        }

        &__item-label {
          font-family: $aven-trade-gothic-next-regular;
          text-transform: uppercase;
          padding: 8px 20px;
          line-height: 1;
          letter-spacing: 1.25px;
        }

        &__item-plus {
          cursor: pointer;
          width: 24px;
          height: 24px;
          transform: scale(0.5);
          margin: 11px;
        }
      }

      .preference-center-designer-recs__list-item:hover {
        background-color: #444;
        color: #fff;
        border: 1px #fff solid;
        cursor: pointer;

        .suggested-designer {
          background-image: url(../../images/saks-plus-thin-white.svg);
          cursor: pointer;
          width: 24px;
          height: 24px;
          transform: scale(1.1, 1.1) translate(25%, -10%) !important;
          margin: 11px;
        }
      }

      .preference-center-refinement-search-list-outer {
        li {
          padding-left: 0;
          padding-top: 27px;

          @media screen and (max-width: 1023.98px) {
            padding-bottom: 7px;
          }
        }

        .preference-center-refinement-search-item {
          display: block;
          padding-left: 30px;

          @media screen and (max-width: 1023.98px) {
            text-decoration: none;
            padding-left: 0;
          }

          .preference-center-refinement-search-item--checkbox {
            width: 18px;
            height: 18px;
            border: 1px solid #aaa;
            margin: 0 8px 0 -30px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            transform: translateY(-1px);

            @media screen and (max-width: 1023.98px) {
              display: none;
            }
          }

          &.selected {
            .preference-center-refinement-search-item--checkbox {
              background-image: url(../images/selected_dark.svg);
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: 75%;
              border-color: #000;

              @media screen and (max-width: 1023.98px) {
                border: none;
                display: inline-block;
                float: right;
                right: -15px;
              }
            }

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.5);
              width: 24px;
              height: 24px;
              @media screen and (max-width: 1023.98px) {
                display: none;
              }
            }
          }

          &:hover {
            .preference-center-refinement-search-item--checkbox {
              border-color: #444 !important;
            }
          }
        }

        display: grid;

        .alphaTitle {
          height: 32px;
          width: 19px;
          color: #000;
          font-family: Moneta, serif;
          font-size: 28px;
          letter-spacing: 1.2px;
          line-height: 32px;
        }
      }
      .preference-center-refinement-search-list-inner {
        li {
          padding-left: 0;
          padding-top: 18px;
          display: inline-block;
          font-size: 12px;
          @media screen and (min-width: 540px) and (max-width: 1023.98px) {
            width: 33% !important;
            padding-right: 33px;
          }

          @media screen and (max-width: 539.98px) {
            //add to tablet
            padding-bottom: 18px;
            padding-right: 4px;
          }
        }

        column-count: 3;
        @media screen and (max-width: 1023.98px) {
          column-count: 1;
        }
      }

      .preference-center-add-categories {
        margin-top: 27px;
        width: 100%;

        &__title {
          font-family: $aven-trade-gothic-next-bold;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.25px;
        }
      }

      .preference-center-category-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        height: 205px;
        padding-top: 20px;
        width: 630px;

        @media screen and (max-width: 1023.98px) {
          height: 280px;
          width: 750px;
        }

        @media screen and (max-width: 767.98px) {
          height: unset;
        }

        .preference-center-category-list-item {
          display: block;
          // width: 30%;
          width: unset;
          margin-bottom: 17px;
          // justify-content: space-between;
          align-items: center;
          padding-left: 0;
          font-size: 12px;

          @media screen and (max-width: 1023.98px) {
            width: 30%;
            margin-bottom: 34px;
            // padding-right: 40px;
            display: block;
            text-decoration: none;
          }

          @media screen and (max-width: 767.98px) {
            width: 332px;
          }

          .preference-center-category-list-item--checkbox {
            width: 18px;
            height: 18px;
            border: 1px solid #aaa;
            margin: 0 8px 0 0;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            transform: translateY(-1px);

            @media screen and (max-width: 1023.98px) {
              display: none;
            }
          }

          &.selected {
            .preference-center-category-list-item--checkbox {
              background-image: url(../images/selected_dark.svg);
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: 75%;
              border-color: #000;
              @media screen and (max-width: 1023.98px) {
                border: none;
                display: inline-block;
                float: right;
                margin-right: 0;
              }
            }

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.5);
              width: 24px;
              height: 24px;
              @media screen and (max-width: 1023.98px) {
                display: none;
              }
            }
          }

          &:hover {
            .preference-center-category-list-item--checkbox {
              border-color: #444 !important;
            }
          }
        }
      }

      .preference-center-refinement-size-list-outer {
        .accordion {
          background-color: #fff;
          border: none;
          padding-left: 0;
          height: 35px;
          padding-right: 0;
          padding-top: 5px;

          li {
            padding-left: 0;
            letter-spacing: 0.25px;
            background-image: url(../../images/saks-plus-thin.svg);
            background-repeat: no-repeat;
            // background-position: bottom right;
            background-position: center right;
            background-size: 14px 14px;
            text-align: left;
            padding-top: 6px;

            @media screen and (max-width: 1023.98px) and (min-width: 767.98px) {
              display: table-cell;
              width: 770px;
            }

            @media screen and (max-width: 1023.98px) {
              padding-bottom: 7px;

              @media screen and (orientation: landscape) {
                max-width: none;
                width: 720px;
              }
            }
          }
        }

        .accordion.active {
          li {
            letter-spacing: 0.25px;
            background-image: url(../../images/saks-minus-thin.svg);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 14px 14px;
            text-align: left;
            padding-top: 6px;

            @media screen and (max-width: 1023.98px) and (min-width: 767.98px) {
              display: table-cell;
              width: 770px;
            }

            @media screen and (max-width: 1023.98px) {
              @media screen and (orientation: landscape) {
                max-width: none;
                width: 720px;
              }
            }
          }
        }

        .panel {
          background-color: white;
          display: none;
          overflow: hidden;
          // padding-top: 13px;
        }

        .divider {
          display: flex;
          border-bottom: 1px solid #ddd;
          height: 10px;
        }

        .preference-center-refinement-size-item {
          .preference-center-refinement-size-item--checkbox {
            width: 18px;
            height: 18px;
            border: 1px solid #aaa;
            margin: 0 8px 0 0;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            transform: translateY(-1px);

            @media screen and (max-width: 1023.98px) {
              display: none;
            }
          }

          &.selected {
            .preference-center-refinement-size-item--checkbox {
              background-image: url(../images/selected_dark.svg);
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: 75%;
              border-color: #000;

              @media screen and (max-width: 1023.98px) {
                border: none;
                display: inline-block;
                float: right;
                margin-right: -85px;
                top: 12px;
              }
            }

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.5);
              width: 24px;
              height: 24px;

              @media screen and (max-width: 1023.98px) {
                display: none;
              }
            }
          }

          &:hover {
            .preference-center-refinement-size-item--checkbox {
              border-color: #444 !important;
            }
          }
        }

        display: grid;
        width: 805px;

        .alphaTitle {
          height: 20px;
          width: 19px;
          color: #000;
          font-family: $aven-trade-gothic-next-regular;
          font-size: 14px;
          // letter-spacing: 1.2px;
          line-height: 20px;
        }

        @media screen and (max-width: 1023.98px) {
          width: 733px;
        }

        @media screen and (max-width: 767.98px) {
          display: grid;
          width: 100%;
        }
      }

      .preference-center-refinement-size-list-inner {
        li {
          padding-left: 0;
          padding-top: 16px !important;
          padding-right: 0;
          margin-top: -10px;

          .preference-center-refinement-size-item {
            padding-left: 0;
            font-size: 12px;
            padding-right: 0;
            text-transform: none;
            letter-spacing: 0.25px;

            @media screen and (max-width: 1023.98px) {
              @media screen and (orientation: landscape) {
                width: 720px;
              }
            }
          }
        }

        li:first-child {
          padding-top: 10px;
        }

        .preference-center-refinement-size-item {
          .preference-center-refinement-size-item--checkbox {
            width: 18px;
            height: 18px;
            border: 1px solid #aaa;
            margin: 0 8px 0 0;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            transform: translateY(-1px);
            @media screen and (max-width: 1023.98px) {
              display: none;
            }
          }

          &.selected {
            .preference-center-refinement-size-item--checkbox {
              background-image: url(../images/selected_dark.svg);
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: 75%;
              border-color: #000;

              @media screen and (max-width: 767.98px) {
                border: none;
                display: inline-block;
                margin-right: -2px;
                top: 12px;
              }
            }

            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.5);
              width: 24px;
              height: 24px;

              @media screen and (max-width: 1023.98px) {
                display: none;
              }
            }
          }

          &:hover {
            .preference-center-refinement-size-item--checkbox {
              border-color: #444 !important;
            }
          }
        }

        display: block;
        column-count: 4;

        .alphaTitle {
          height: 32px;
          width: 19px;
          color: #000;
          font-family: Moneta, serif;
          font-size: 28px;
          letter-spacing: 1.2px;
          line-height: 32px;
        }

        @media screen and (max-width: 767.98px) {
          display: block;
          column-count: 1;
        }

        @media screen and (min-width: 1023.98px) {
          display: block;
          column-count: 4;
        }
      }
    }
  }
}
