//@import '../utilities/bootstrap-custom-import';
@import 'common';
@import '../config/variables';
@import 'bootstrap/scss/mixins/breakpoints';

//Global Stylings.

body {
  font-family: $base-fontFamily;
  font-size: $base-fontSize;
  color: $avenue-secondary-variant-1;
  margin: 0;
  background-color: $primary-Base-3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
dl {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-fontFamily;
}

a {
  &.underline {
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &.underline-on-hover {
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
