.header-login {
  #bfx-cc-wrapper {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.main-menu {
  #bfx-cc-wrapper {
    @include media-breakpoint-down(md) {
      position: static;
      width: 100%;
      padding: 18px 9px;
      background: $secondary-utility-11;
      border-top: 1px solid $secondary-Variant-7;
    }
  }
}

.borderfree-modal {
  @include media-breakpoint-down(md) {
    height: 100vh;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    top: 0;
    left: 0;
    background: $secondary-Variant-1;
    z-index: 999;
    display: block;
  }
}

.borderfree-close {
  @include media-breakpoint-down(md) {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(0.75);
  }
}

div.bfx-wm-dialog {
  width: 100% !important;
  max-width: 490px;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}

.main-menu #bfx-cc-wrapper,
.header-banner #bfx-cc-wrapper {
  visibility: visible;
}

#bfx-cc-wrapper {
  visibility: hidden;
  position: absolute;

  #bfx-cc-flag-link {
    font-size: 0;
  }

  .bfx-cc-expanded {
    width: 260px;
    position: absolute;
    right: -20px;
    top: 42px;
    border: 1px solid $avenue-secondary-variant-1;

    @media #{$belowtab} {
      width: 90%;
    }

    @include media-breakpoint-up(lg) {
      right: 0;
      top: 30px;
      left: -20px;
    }

    @include media-breakpoint-down(md) {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      right: auto;
      z-index: 9999;
      height: auto !important;
      overflow: visible !important;
      width: 268px;
      border: 0 none;
    }

    &::after {
      content: '';
      position: absolute;
      border-top: 1px solid $hb-Titanium-variant;
      border-left: 1px solid $hb-Titanium-variant;
      background: $primary-Base-3;
      right: 20px;
      transform: rotate(-316deg);
      top: -7px;
      left: 21px;
      width: 11px;
      height: 12px;
      border-color: $avenue-secondary-variant-1;

      @include media-breakpoint-down(md) {
        content: none;
      }
    }

    .bfx-cc-content {
      width: 100%;
      margin: 0;
      padding: 23px 20px 20px;

      @include media-breakpoint-down(md) {
        padding: 42px 16px 36px;
      }

      .bfx-cc-logo-wrapper {
        display: none;
      }

      .bfx-cc-text {
        font-size: $base-fontSize - 2;
        color: $avenue-secondary-variant-1;
        letter-spacing: 0.25px;
        font-family: $base-fontFamily;
        margin: 0 0 23px;
        line-height: 20px;

        @include media-breakpoint-down(md) {
          display: block;
          font-size: $base-fontSize;
        }
      }

      form {
        .bfx-cc-select-wrapper {
          height: auto;

          &:nth-child(1) {
            margin-bottom: 25px;
          }

          .bfx-cc-label {
            margin: 20px 8px 10px 0;
            text-align: left;
            font-family: $aven-trade-gothic-next-bold;
            color: $avenue-secondary-variant-1;
            letter-spacing: 0.25px;

            @include media-breakpoint-down(md) {
              font-size: $base-fontSize;
            }
          }

          select {
            width: 100%;
            margin: 0;
            font-family: $base-fontFamily;
            background-image: url('../images/drop-down-icon2.png');
            -webkit-appearance: none;
            -moz-appearance: none;
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 50%;
            padding: 0.375rem 1.6rem 0.375rem 0.75rem;
            height: calc(1.5em + 0.75rem + 12px);
            border-radius: 2px;
            border-color: $avenue-secondary-variant-6;
            color: $avenue-secondary-variant-1;
            font-size: $base-fontSize;
            letter-spacing: 0.25px;

            &:disabled {
              border: none;
              background: transparent !important;
              padding: 0;
              -webkit-appearance: none;
              color: $avenue-secondary-variant-1 !important;
              height: 21px;
            }
          }
        }

        #bfx-cc-btn {
          background: $secondary-Variant-1;
          width: 100%;
          border-radius: 0;
          font-size: $base-fontSize - 2;
          margin: 27px 0 0;
          font-family: $base-fontFamily;
          height: 45px;

          @media #{$belowtab} {
            height: 45px;
            margin: 25px 0 0;

            &.noLink {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.bfx-cc-position-top {
    top: 8px;
    right: auto;
    left: -30px;
    width: 20px;
    z-index: 9;

    @include media-breakpoint-up(lg) {
      z-index: 1001;
    }

    &.bfx-cc-position-right {
      .bfx-cc-collapsed {
        padding: 0;
        height: auto !important;

        .bfx-cc-menu {
          float: left;
          display: flex;

          .bfx-cc-flag {
            height: 15px;
            width: 20px;

            img {
              width: 20px;
              height: 100%;
            }

            &::after {
              visibility: hidden;

              @include media-breakpoint-down(md) {
                content: 'Ship To';
                position: relative;
                top: -2px;
                left: 5px;
                font-family: $bold-fontFamily;
                color: $secondary-Utility-6;
              }
            }
          }

          .bfx-cc-country-name {
            display: none;
          }

          .bfx-cc-code {
            margin-left: 11px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            border-left: 1px solid $avenue-secondary-variant-6;
            color: $black;
            font-size: $base-fontSize - 2px;
          }
        }
      }
    }
  }
}

div.bfx-wm-dialog {
  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 100%;
    transform: translate(-50%, 0);
    bottom: 0;
    top: unset !important;
  }
  max-width: 450px;
}

#bfx-wm-wrapper {
  @include media-breakpoint-down(md) {
    padding: 0 20px;
    border: 0 none;
  }

  padding: 0 39px;

  #bfx-wm-content {
    background: none;
    font-family: $base-fontFamily;
    color: $avenue-secondary-variant-1;

    #bfx-wm-head {
      background: none;
      height: auto;
    }

    #bfx-wm-foot {
      display: none;
    }

    #bfx-wm-body {
      background: none;

      @include media-breakpoint-down(md) {
        padding: 7.4% 0 0 0;
      }

      padding: 5% 0 0 0;

      #bfx-wm-title {
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        @include media-breakpoint-down(md) {
          margin: 0 0 20px;
        }

        margin: 0 0 18px;

        #bfx-wm-flag {
          order: 2;
          margin: 0;
          border: none;
        }

        #bfx-wm-headline {
          margin: 0 0 20px;
          padding: 0;
          font-family: $Moneta-regular;
          font-size: $base-fontSize + 14;
          letter-spacing: 1.2px;
          color: $avenue-secondary-variant-1;

          @include media-breakpoint-down(md) {
            font-size: $base-fontSize + 12;
            letter-spacing: 1px;
            //margin-bottom: 0 0 16px;
          }
        }
      }

      #bfx-wm-subheadline {
        border: none;
        font-style: normal;
        padding: 0;
        text-align: center;
        margin: 0 0 15px;
        color: inherit;
        font-size: $base-fontSize + 2;
      }

      #bfx-wm-sellpoints {
        float: left;
        width: 100%;

        @include media-breakpoint-down(md) {
          padding-left: 5%;
        }

        padding-left: 8%;
        margin: 0 0 20px;

        ul li {
          list-style: disc;
          color: inherit;
          font-size: $base-fontSize;
          padding: 0 0 7px;
          margin-left: 0;
        }
      }

      #bfx-wm-continue-button-wrapper {
        margin: 0;
        padding-bottom: 0;

        #bfx-wm-continue-button {
          font-size: $base-fontSize;
          background: $secondary-Variant-1;
          height: 45px;
          text-transform: uppercase;
          width: 100%;
          font-family: $base-fontFamily;
          letter-spacing: 1.2px;
          border-radius: 2px;
          max-width: 100%;
        }
      }

      #bfx-wm-promo {
        background: none;
        border: none;
        text-transform: none;
        font-size: $base-fontSize - 2;
        padding-top: 14px;
        color: $avenue-secondary-variant-1;
        font-family: $base-fontFamily;
        letter-spacing: 0.25px;

        a {
          text-decoration: underline;
          font-family: $base-fontFamily;
          color: $avenue-secondary-variant-1;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    a#bfx-wm-close-button {
      display: inline-block;
      top: 20px;
      right: 20px;
      transform: scale(0.77);

      @extend .svg-36-avenue-Up_Copy;
      @extend .svg-36-avenue-Up_Copy-dims;

      &:hover {
        @extend .svg-36-avenue-Up_Copy;
      }
    }
  }
}
