@import '../utilities/mixin';
@import '../config/variables';
@import 'base_elements';

// BUTTON USAGE FOR HBC
// Note: size,color,border-color should be used as variables strictly.

.btn {
  display: inline-block;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  padding: 0 20px;
  letter-spacing: 1.25px;
  line-height: 43px;
  font-size: $base-fontSize;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: $base-fontFamily;
  white-space: nowrap;
  cursor: pointer;

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }
}

.btn-block {
  display: block;
}

.btn-full-width {
  width: 100%;
}

.btn-primary {
  @extend .btn;
  @include set-button($btn-pr-txt-col, $btn-pr-bgcol, $btn-pr-br-col);

  &.disabled,
  &:disabled {
    @include set-button($btn-disable-txt-col, $btn-disable-bgcol, $btn-disable-br-col);
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      @include set-button($btn-pr-txt-col, $btn-pr-bgcol-hov, $btn-pr-br-col-hov);
    }
  }
}

.btn-secondary {
  @extend .btn;

  @include set-button($btn-sec-txt-col, $btn-sec-bgcol, $btn-sec-br-col);

  &.disabled,
  &:disabled {
    @include set-button($btn-disable-txt-col, $btn-disable-bgcol, $btn-disable-br-col);
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      @include set-button($btn-sec-txt-col-hov, $btn-sec-bgcol-hov, $btn-sec-br-col-hov);
    }
  }
}

.btn-small {
  @extend .btn;
  //line-height: 28px;
  font-size: $base-fontSize - 2;
}

.btn-tertiary {
  @extend .btn-small;

  @include set-button($btn-pr-txt-col, $btn-pr-bgcol, $btn-pr-br-col);

  &.disabled,
  &:disabled {
    @include set-button($btn-disable-txt-col, $btn-disable-bgcol, $btn-disable-br-col);
  }

  &:not(:disabled) {
    &:hover,
    &:active {
      @include set-button($btn-sec-bgcol-hov, $btn-sec-bgcol, $btn-sec-bgcol-hov);
    }
  }
}

.btn-link {
  @extend a.underline;

  border: none;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  font-weight: inherit;
  font-family: inherit;
}

// Turn-to Button Overrides
.tt-o-button--primary {
  padding: 0 20px !important;
  line-height: 41px !important;
  font-size: $base-fontSize !important;
  text-transform: uppercase !important;
  border-radius: 2px !important;
  font-family: $base-fontFamily !important;
  white-space: nowrap !important;
  letter-spacing: initial !important;
  transition: none !important;
  cursor: pointer !important;

  @include set-button($btn-pr-txt-col, $btn-pr-bgcol, $btn-pr-br-col, true);

  &:not(:disabled) {
    &:hover,
    &:active {
      @include set-button($btn-pr-txt-col, $btn-pr-bgcol-hov, $btn-pr-br-col-hov, true);
    }
  }
}
