.slds-button_brand,
.slds-button--brand {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  border: 1px solid rgb(217, 219, 221);
  transition: border 0.15s linear;
  background-color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
}

.slds-form-element__label {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  color: rgb(34, 34, 34);
  font-size: 0.75rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  margin-bottom: 0.125rem;
}

.slds-form-element__control {
  clear: left;
  position: relative;
}

.slds-input {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(188, 188, 188);
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
}

.slds-has-error .slds-input {
  background-color: rgb(255, 255, 255);
  border-color: rgb(194, 57, 52);
  box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
  background-clip: padding-box;
}

.slds-has-error .slds-input:focus,
.slds-has-error .slds-input:active {
  box-shadow: rgb(194, 57, 52) 0 0 0 1px inset, 0 0 3px #0070d2;
}

.slds-has-error .slds-input__icon {
  fill: rgb(194, 57, 52);
  color: rgb(194, 57, 52);
}

.slds-select {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0.25rem;
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  height: calc(1.875rem + (1px * 2));
}

// 9654
.slds-select_container {
  position: relative;
}

// 9658
.slds-select_container .slds-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}

// 9768
.slds-form-element_stacked,
.slds-form_stacked .slds-form-element,
.slds-form_horizontal .slds-form-element_stacked {
  display: block;
}

.slds-form-element_stacked:not(.slds-form-element_readonly),
.slds-form_stacked .slds-form-element:not(.slds-form-element_readonly),
.slds-form_horizontal .slds-form-element_stacked:not(.slds-form-element_readonly) {
  margin-bottom: 0.5rem;
}

.slds-form-element_stacked:not(.slds-is-editing),
.slds-form_stacked .slds-form-element:not(.slds-is-editing),
.slds-form_horizontal .slds-form-element_stacked:not(.slds-is-editing) {
  padding: 0 0.25rem;
}

.slds-form-element_stacked .slds-form-element,
.slds-form_stacked .slds-form-element .slds-form-element,
.slds-form_horizontal .slds-form-element_stacked .slds-form-element {
  padding: 0;
  margin-bottom: 0;
}

.slds-form-element_stacked:not([class*='slds-size']),
.slds-form_stacked .slds-form-element:not([class*='slds-size']),
.slds-form_horizontal .slds-form-element_stacked:not([class*='slds-size']) {
  width: 100%;
  flex-basis: 100%;
}

.slds-form-element_stacked .slds-checkbox,
.slds-form-element_stacked .slds-radio,
.slds-form_stacked .slds-form-element .slds-checkbox,
.slds-form_stacked .slds-form-element .slds-radio,
.slds-form_horizontal .slds-form-element_stacked .slds-checkbox,
.slds-form_horizontal .slds-form-element_stacked .slds-radio {
  display: block;
}

.slds-form-element_stacked .slds-form-element__label,
.slds-form-element_stacked .slds-form-element__control,
.slds-form_stacked .slds-form-element .slds-form-element__label,
.slds-form_stacked .slds-form-element .slds-form-element__control,
.slds-form_horizontal .slds-form-element_stacked .slds-form-element__label,
.slds-form_horizontal .slds-form-element_stacked .slds-form-element__control {
  border-bottom: 0;
  padding-left: 0;
}

.slds-form-element_stacked .slds-form-element__control,
.slds-form_stacked .slds-form-element .slds-form-element__control,
.slds-form_horizontal .slds-form-element_stacked .slds-form-element__control {
  width: 100%;
  flex-basis: 100%;
  clear: left;
}

.slds-form-element_stacked .slds-form-element__icon,
.slds-form_stacked .slds-form-element .slds-form-element__icon,
.slds-form_horizontal .slds-form-element_stacked .slds-form-element__icon {
  float: none;
  padding-top: 0.25rem;
}

.slds-section {
  margin: {
    top: 0.5rem;
    bottom: 0.5rem;
  }
}

.slds-section.slds-is-open .slds-section__content {
  padding-top: 0.5rem;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  height: auto;
}

.slds-grid {
  display: flex;
}

.slds-wrap {
  flex-wrap: wrap;
  align-items: flex-start;
}

.slds-gutters_small {
  margin-right: -0.75rem;
  margin-left: -0.75rem;

  .slds-col {
    padding: {
      right: 0.75rem;
      left: 0.75rem;
    }
  }
}

.slds-no-flex {
  flex: none;
}

.slds-has-flex-truncate {
  flex: 1 1 0%;
  min-width: 0%;
}

.slds-grow {
  flex-grow: 1;
}

.slds-m-around_small,
.slds-m-around--small {
  margin: 0.75rem;
}

.slds-p-top_none,
.slds-p-top--none {
  padding-top: 0 !important;
}

.slds-p-left_none,
.slds-p-left--none {
  padding-left: 0 !important;
}

.slds-text-color_error,
.slds-text-color--error {
  color: rgb(194, 57, 52);
}

.slds-size_1-of-1,
.slds-size--1-of-1 {
  width: 100%;
}

.slds-size_1-of-2,
.slds-size--1-of-2 {
  width: 50%;
}

[class*='slds-size_'],
[class*='slds-size--'] {
  flex: none;
}

.slds-assistive-text {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
}

.custom-input-field div input,
.slds-textarea,
.slds-pill_container,
.slds-file-selector__dropzone,
.custom-button button,
.slds-dropdown,
.slds-pill {
  border-radius: 0;
}

.custom-button,
.custom-button button {
  width: 100%;
}

.custom-button button {
  padding: 5px 24px;
}
