@import '../config/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '~base/components/common';
@import '../components/avenue-sprite';
@import '../components/sprite';

$spinner-size: 60px;

body {
  &.chat-overlay {
    @include media-breakpoint-down(xs) {
      overflow: hidden !important;
    }
  }
}

.line-item-attributes,
.line-item-option {
  font-size: $base-fontSize - 2px;
}

.non-adjusted-price {
  display: none !important;
}

.price {
  font-size: inherit;

  .strike-through {
    display: inline-block;
  }
}

.live-chat-view-2 {
  padding: 13px;

  .chat-img-cross-black {
    display: none;
  }

  @include media-breakpoint-down(xs) {
    padding: 15px 50.5px;
    position: relative;

    &.chat-view2-wrapper {
      padding: 0 13px;
      display: flex;
      align-items: center;
      height: 100%;
    }

    .chat-img-cross-black {
      display: inline-block;
      position: absolute;
      right: 25px;
      top: 21px;
      opacity: 0.3;
      transform: scale(0.7);
      cursor: pointer;
    }
  }
}

.page {
  &.non-scrollable {
    @include media-breakpoint-down(xs) {
      overflow: hidden;
      position: fixed;
    }
  }
}

.shop-saksoff5th {
  .modal-dialog {
    max-width: 748px;

    .modal-content {
      padding: 50px 60px;
      border: 0;
      border-radius: 0;

      @include media-breakpoint-down(xs) {
        height: 100vh;
        padding: 60px 34px;
        letter-spacing: 0.5px;
      }
    }
  }

  .modal-header {
    border: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 0;

    @include media-breakpoint-down(xs) {
      top: 18px;
      right: 18px;
    }

    button {
      margin: 0;
      padding: 0;
    }
  }

  .cancel-icon {
    display: inline-block;
  }

  &.show {
    .modal-dialog {
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;

      @include media-breakpoint-down(xs) {
        top: 0;
        transform: none;
        margin: 0;
      }
    }
  }

  .modal-body {
    padding: 0;
    text-align: center;

    h2 {
      font-family: $base-fontFamily;
      font-size: $base-fontSize * 2 + 8;
      margin: 0 0 17px;
      color: $secondary-Variant-1;

      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize * 2;
        letter-spacing: 1px;
        line-height: 1;
      }
    }

    p {
      font-size: $base-fontSize + 4;
      color: $hb-Baron-variant;
      padding: 0 7%;
      margin: 0 0 40px;

      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize;
        padding: 0;
        line-height: 1.45;
      }
    }

    button {
      padding: 10px 20px;
      margin: 0;
      font-size: $base-fontSize;
      border-radius: 0;
    }
  }

  .modal-open {
    .modal {
      @include media-breakpoint-down(xs) {
        paddig: 0 !important;
      }
    }
  }
}

%dotted-focus {
  outline: dashed;
  outline-offset: 5px;
  outline-color: $hb-input-border-focus;
  box-shadow: none;
  outline-width: 1px;
}

%input-field-focus {
  outline: none;
  outline-offset: 0;
  outline-color: transparent;
  box-shadow: none;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: $hb-input-border-focus !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none !important;
}

a,
button,
input[type='submit'],
input[type='reset'],
.btn,
.btn-primary,
.btn-secondary,
.search-icon,
.slick-next,
.slick-prev,
.tooltip-info,
.remove-line-item .remove-btn,
.quickview-close,
.TTteaser__write-review,
.tfc-popup-click-open,
.wishlist-container-close,
.promo-rewards-container [role='button'],
.slick-current [role='button'],
.slick-current .primary-image img,
.quickview_container,
.s7flyoutzoomview,
.tfc-cfg-widget.tfc-fitrec-result input,
.tfc-cfg-widget.tfc-fitrec-result select,
.tfc-cfg-widget.tfc-fitrec-result button,
.tfc-cfg-widget.tfc-fitrec-result a,
.select-size-div {
  &:focus {
    @extend %dotted-focus;
  }
}

.slick-current .primary-image img,
.quickview_container {
  &:focus {
    outline-offset: 0;
  }
}

.tfc-cfg-widget.tfc-fitrec-result input,
.tfc-cfg-widget.tfc-fitrec-result select,
.tfc-cfg-widget.tfc-fitrec-result button,
.tfc-cfg-widget.tfc-fitrec-result a {
  &:focus {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}

.tfc-cfg-widget.tfc-fitrec-result .tfc-cfg-link {
  @extend a.underline;
}

.custom-radio input:focus + .custom-control-label::before,
.custom-checkbox input:focus + .custom-control-label::before {
  outline: none;
}

.form-control {
  &:focus {
    @extend %input-field-focus;
  }
}

.quantity-field [type='number'],
.quantity-field [type='button'] {
  outline: none;
  outline-offset: 0;
  outline-color: transparent;
  box-shadow: none;
}

@include media-breakpoint-down(xs) {
  .product-details-page {
    .live-chat-view-1 {
      display: none;
    }

    .footer-bottom-column {
      padding-bottom: 44px;
    }
  }
}

@media #{$belowtab} {
  .bfx-checkout-container {
    .live-chat-view-1 {
      display: none;
    }
  }
}

// start of off5th
.custom-form-spacing {
  > .row {
    margin: 0 -7px;

    > .col-1,
    > .col-2,
    > .col-3,
    > .col-4,
    > .col-5,
    > .col-6,
    > .col-7,
    > .col-8,
    > .col-9,
    > .col-10,
    > .col-11,
    > .col-12,
    > .col,
    > .col-auto,
    > .col-sm-1,
    > .col-sm-2,
    > .col-sm-3,
    > .col-sm-4,
    > .col-sm-5,
    > .col-sm-6,
    > .col-sm-7,
    > .col-sm-8,
    > .col-sm-9,
    > .col-sm-10,
    > .col-sm-11,
    > .col-sm-12,
    > .col-sm,
    > .col-sm-auto,
    > .col-md-1,
    > .col-md-2,
    > .col-md-3,
    > .col-md-4,
    > .col-md-5,
    > .col-md-6,
    > .col-md-7,
    > .col-md-8,
    > .col-md-9,
    > .col-md-10,
    > .col-md-11,
    > .col-md-12,
    > .col-md,
    > .col-md-auto,
    > .col-lg-1,
    > .col-lg-2,
    > .col-lg-3,
    > .col-lg-4,
    > .col-lg-5,
    > .col-lg-6,
    > .col-lg-7,
    > .col-lg-8,
    > .col-lg-9,
    > .col-lg-10,
    > .col-lg-11,
    > .col-lg-12,
    > .col-lg,
    > .col-lg-auto,
    > .col-xl-1,
    > .col-xl-2,
    > .col-xl-3,
    > .col-xl-4,
    > .col-xl-5,
    > .col-xl-6,
    > .col-xl-7,
    > .col-xl-8,
    > .col-xl-9,
    > .col-xl-10,
    > .col-xl-11,
    > .col-xl-12,
    > .col-xl,
    > .col-xl-auto {
      padding: 0 7px;
    }
  }
}

.veil {
  z-index: 1001;
  .underlay {
    opacity: 0.3;
    background-color: $primary-Base-3;
  }
}

.btn {
  font-family: $base-fontFamily;
}

.inline-link {
  font-size: $base-fontSize - 2px;
  line-height: 1.5;
  text-decoration: underline;
  text-transform: capitalize;
  color: $link-primary-clr;
  font-family: $base-fontFamily;

  &:hover {
    text-decoration: none;
  }
}

.editorial-link {
  font-size: $base-fontSize;
  line-height: 1.22;
  text-decoration: none;
  border-bottom: 3px solid;
  padding: 0 0 2px;
  text-transform: uppercase;
  color: $link-primary-clr;
  font-family: $base-fontFamily;

  &:hover {
    padding: 6.5px 10px;
    border-bottom: none;
    background-color: $editorial-link-bg-clr;
    color: $editorial-link-txt-clr;
  }
}

.shipping-discount {
  color: $secondary-Utility-1;
}

.link-with-icon {
  font-size: $base-fontSize;
  font-family: $base-fontFamily;
  line-height: 1.22;
  text-decoration: none;
  color: $link-primary-clr;
  font-family: $base-fontFamily;

  &:hover {
    text-decoration: none;
  }
}

.modal-open {
  .back-to-top {
    display: none !important;
  }
}

//As per SFDEV-6000 - No page scroll when modal open
body {
  &.modal-open,
  &.overlay {
    overflow: hidden !important;
  }
}

.no-mouse-events {
  pointer-events: none;
}

.generic-error {
  color: $error-msg;
}

// end of core/off5th - TODO consolidate above into below
//-----

.standalone-link {
  font-size: $base-fontSize;
  line-height: 1.22;
  text-decoration: none;
  border-bottom: 1px solid;
  text-transform: capitalize;
  font-family: $base-fontFamily;
  color: $avenue-secondary-variant-1;
  letter-spacing: 0.25px;

  &:hover {
    text-decoration: none;
    border-bottom: none;
  }
}

.spinner {
  width: $spinner-size * 2;
  height: $spinner-size * 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: $spinner-size * -1;
  margin-left: $spinner-size * -1;
  opacity: 1;
  animation: none;
  animation-play-state: running;
  z-index: 2100;

  &.-paused {
    animation-play-state: paused;
    opacity: 0.4;
    transition: opacity cubic-bezier(0.2, 0, 0.8, 1) 0.1s;
  }

  .dot1,
  .dot2 {
    display: none;
  }

  &::before {
    content: '';
    animation: 0.75s cubic-bezier(0.2, 0, 0.8, 1) infinite spinner;
    animation-play-state: inherit;
    border: solid 4px rgba($grey2, 0.66);
    border-bottom-color: $black;
    border-radius: 50%;
    height: $spinner-size;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: $spinner-size;
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.wishlist-cart-slider {
  .veil {
    .underlay {
      opacity: 0;
    }
  }
}

.live-chat-view-1 {
  position: fixed;
  z-index: 999;
  bottom: 14px;
  left: 19.5px;

  @include media-breakpoint-down(xs) {
    left: 18px;
  }

  .background {
    background-color: $secondary-Variant-1;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;

    .chat-img,
    .chat-img-cross {
      position: absolute;
      transform: scale(0.9);
      display: inline-block;
    }

    .chat-img {
      left: 6px;
      top: 7px;
      transform: scale(0.8);
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='26px' viewBox='0 0 28 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons-/-Chatbot-/-Chat-Closed' transform='translate(-7.000000, -10.000000)' fill='%23FFFFFF'%3E%3Cg id='Group' transform='translate(7.000000, 10.000000)'%3E%3Cg id='Group-2' transform='translate(5.500000, 7.400000)'%3E%3Cpath d='M14.5083018,1 C13.6344305,1 13,1.63091571 13,2.49957995 C13,3.35480258 13.6405476,4 14.4908244,4 C15.3646956,4 16,3.36908429 16,2.49957995 C16,1.63091571 15.3725604,1 14.5083018,1' id='Fill-5' transform='translate(14.500000, 2.500000) rotate(3.000000) translate(-14.500000, -2.500000) '%3E%3C/path%3E%3Cpath d='M8.50830178,1 C7.63443053,1 7,1.63091571 7,2.49957995 C7,3.35480258 7.64054763,4 8.49082435,4 C9.3646956,4 10,3.36908429 10,2.49957995 C10,1.63091571 9.37256044,1 8.50830178,1' id='Fill-5-Copy' transform='translate(8.500000, 2.500000) rotate(3.000000) translate(-8.500000, -2.500000) '%3E%3C/path%3E%3Cpath d='M2.50830178,1 C1.63443053,1 1,1.63091571 1,2.49957995 C1,3.35480258 1.64054763,4 2.49082435,4 C3.3646956,4 4,3.36908429 4,2.49957995 C4,1.63091571 3.37256044,1 2.50830178,1' id='Fill-5-Copy-2' transform='translate(2.500000, 2.500000) rotate(3.000000) translate(-2.500000, -2.500000) '%3E%3C/path%3E%3C/g%3E%3Cpath d='M21.277781,0 C21.4886746,0 21.7030794,0.0120877324 21.9504085,0.0384025193 L22.1425382,0.060839609 L22.3630286,0.092836546 C25.5259766,0.605247755 27.8928271,3.31299333 27.9964585,6.49657153 L28,6.71435084 L28,12.8568963 C28,16.4802312 25.0939174,19.4541559 21.4902708,19.5671976 L21.2775037,19.5705307 L11.935875,19.5665964 L5.50480655,26 L5.504625,19.4533386 L5.22081374,19.3959152 C2.3431365,18.7362597 0.211601828,16.2468247 0.0148528994,13.3024619 L0.00355455003,13.0750983 L0,12.8568963 L0,6.71435084 C0,3.09086013 2.90623475,0.116396118 6.50947631,0.00333370419 L6.72221897,0 L21.277781,0 Z M21.277781,0.871214053 L6.72221897,0.871214053 C3.57436422,0.871214053 0.987219564,3.38895721 0.878553316,6.50997084 L0.874884926,6.71435084 L0.874884926,12.8427673 L0.878093682,13.0468257 C0.961689424,15.6103077 2.73790527,17.8269442 5.17805586,18.4878989 L5.3950601,18.5421504 L6.37960526,18.7413529 L6.379625,23.8888645 L11.5723863,18.6952292 L21.2775037,18.6993166 C24.4257962,18.6993167 27.0127874,16.1820964 27.1214469,13.0612649 L27.125,12.8568963 L27.125,6.71435084 C27.125,3.93551978 25.1370557,1.53123488 22.4452604,0.992665478 L22.2368326,0.954942113 L22.0323858,0.925122632 C21.7947445,0.895096899 21.5981585,0.878610848 21.4140087,0.873217458 L21.277781,0.871214053 Z' id='Combined-Shape' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .chat-img-cross {
      left: 45%;
      top: 45%;
      transform: scale(0.8) translate(-50%, -50%);
    }
  }
}

body.cart-page {
  .live-chat-view-1 {
    @include media-breakpoint-down(xs) {
      bottom: 90px;
    }
  }
}

.live-chat-content {
  width: 300px;
  border: 2px solid $hb-bg-gray;
  position: fixed;
  bottom: 77px;
  left: 12px;
  background-color: $primary-Base-3;
  z-index: 1000;

  @media #{$belowtab} {
    height: 60vh;
    overflow: scroll;
    bottom: 110px;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
  }

  @include media-breakpoint-up(md) {
    width: 324px;
    left: 19.5px;
    bottom: 71px;
    border: 2px solid $avenue-secondary-variant-7;

    .live-chat-view-2 {
      padding: 20px;
    }
  }

  .live-chat-view-2 {
    @include media-breakpoint-down(xs) {
      padding: 15px 45px;

      .chat-img-cross-black {
        opacity: 1;
        transform: none;
        margin-right: 0;
      }
    }
  }
}

.live-chat {
  text-align: center;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  .name {
    font-size: 28px;
    line-height: 32px;
    margin: 44px 0 10px;

    @include media-breakpoint-down(xs) {
      margin-top: 168px;
    }

    .chat-name {
      text-transform: capitalize;
    }
  }

  .welcome-text {
    margin-bottom: 44px;
    line-height: 20px;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
      margin-bottom: 58px;
    }
  }

  .btn-block {
    margin-bottom: 10px;
    font-family: $aven-trade-gothic-next-regular;
    padding: 0 23px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  .customer-service,
  .call-customer-service,
  .call-customer-service-saks {
    font-size: 12px;
    font-family: $base-fontFamily;
    color: $secondary-Variant-5;
    letter-spacing: 0.2px;
    padding: 18px 15px 14px;
    border-bottom: 1px solid $hb-bg-gray;
    text-transform: uppercase;
    cursor: pointer;

    .arrow-left {
      display: block;
      float: left;

      @include media-breakpoint-down(xs) {
        margin-top: 5px;
      }
    }

    .chat-img-cross-black {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      font-size: $base-fontSize;
      letter-spacing: 0.23px;
      padding: 21px 15px;

      .chat-img-cross-black {
        transform: scale(0.7);
        opacity: 0.3;
        display: block;
        float: right;
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }

  .customer-service,
  .call-customer-service {
    font-size: 14px;
    color: $avenue-secondary-variant-1;
    font-family: $aven-trade-gothic-next-regular;
    letter-spacing: 0.25px;
    line-height: 20px;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px solid $avenue-secondary-variant-6;

    .arrow-left {
      transform: rotate(180deg) scale(0.715);
      margin: -4px 0 0 -4px;
    }

    .chat-img-cross-black {
      opacity: 1;
      transform: none;
      margin-right: 0;
    }
  }

  .customer-service {
    @include media-breakpoint-down(xs) {
      border-bottom: none;
    }
  }

  .we-are-here-text {
    line-height: 32px;
    font-size: 28px;
    padding: 28px 0 12px;

    @include media-breakpoint-down(xs) {
      padding-top: 91px;
    }

    @include media-breakpoint-down(xs) {
      padding: 100px 45px 12px;
    }

    &.we-are-here {
      padding-top: 75px;

      @include media-breakpoint-down(xs) {
        padding-top: 0;
      }
    }
  }

  .connect-text {
    color: $avenue-secondary-variant-1;
    padding-bottom: 0;

    @include media-breakpoint-down(xs) {
      padding-bottom: 0;
    }
  }

  .chat-service-links {
    position: relative;
    padding: 17px 20px 12px;

    @include media-breakpoint-down(xs) {
      padding: 17px 45px 12px;
    }

    .customer-service-link {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      line-height: 18px;
      padding: 17px 0;
      border-bottom: 1px solid $avenue-secondary-variant-6;
      font-weight: bold;

      @include media-breakpoint-down(xs) {
        padding: 21px 10px;
      }

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        border: none;
      }

      &.customer-service-call-link {
        position: relative;

        .icon-image {
          &.arrow-right {
            right: 6px;
            top: 50%;
            transform: translateY(-50%);

            @include media-breakpoint-down(xs) {
              right: -19px;
            }
          }
        }
      }

      a {
        color: $secondary-Variant-1;

        &:hover {
          text-decoration: none;
        }
      }

      .chat-offline-img,
      .chat-online-img,
      .online-text,
      .offline-text {
        display: none;
      }

      .arrow-right {
        right: 20px;

        @include media-breakpoint-down(xs) {
          right: 45px;
        }
      }

      &.customer-service-chat-link.live-chat-offline {
        cursor: default;

        &:hover {
          color: $avenue-secondary-variant-1;
        }

        .chat-offline-img,
        .offline-text {
          display: inline-block;
          margin: 0 32px 0 0;
        }

        .chat-offline-img {
          transform: scale(.8);
        }
      }

      &.customer-service-chat-link.live-chat-online {
        .chat-online-img,
        .online-text {
          display: inline-block;
          margin-right: 11px;
        }

        .chat-online-img {
          margin-right: 28px;
        }
      }
    }

    .offline-text {
      color: $avenue-secondary-variant-1;

      &:hover {
        color: $avenue-secondary-variant-1;
      }

      span {
        font-size: $base-fontSize;
      }
    }

    .icon-image {
      float: left;
      margin: 0 37px 0 3px;

      &.faq-img {
        margin: 0 36px 0 0;
      }

      &.arrow-right {
        position: absolute;
        right: 26px;
        margin: 0;
      }
    }

    .svg-44-avenue-Email {
      margin: 0 30px 0 0;
      transform: scale(0.824);
    }
  }

  .call-info-wrapper {
    padding: 44px 20px 17px;

    &.call-main {
      padding: 36px 20px 52px;
    }

    @include media-breakpoint-down(xs) {
      padding: 130px 32px 10px;
    }

    .call-info {
      text-align: left;
      margin-bottom: 27px;
      color: $avenue-secondary-variant-1;

      @include media-breakpoint-down(xs) {
        margin-bottom: 34px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        border-bottom: 1px solid $avenue-secondary-variant-1;
        font-size: $base-fontSize - 2px;
        padding-bottom: 2.5px;

        &:hover {
          text-decoration: none;
        }
      }

      .heading {
        text-transform: capitalize;
        line-height: 20px;
        margin-bottom: 5px;
        font-family: $aven-trade-gothic-next-regular;
        font-weight: bold;
      }

      .phone-no {
        font-family: $base-fontFamily;
        line-height: 18px;
        letter-spacing: 0.25px;
      }

      .timing {
        color: $secondary-utility-17;
        font-size: 12px;
      }
    }
  }

  .stylist-btn {
    padding-bottom: 90px;

    .arrow-img {
      display: block;
      float: right;
      margin: 7px 0 0;
    }
  }

  .customer-service-btn {
    .customer-service-button {
      line-height: 1.4;
      white-space: normal;
      padding: 12px;
    }
  }
}

.small-text {
  font-family: $aven-trade-gothic-next-regular;
  font-size: $base-fontSize - 2px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: $avenue-secondary-variant-1;
}

.welcome-account-header .user-message,
.user .user-message,
.profile-details .profile-into {
  display: inline-block;
  text-transform: lowercase !important;

  &:first-line {
    text-transform: capitalize;
  }
}

.user {
  .user-message {
    .sigin {
      text-transform: capitalize !important;
    }
  }
}

.profile-details {
  .profile-into {
    display: block;
  }
}

a {
  color: $avenue-secondary-variant-1;
  letter-spacing: 0.25px;
  &:hover {
    color: $avenue-secondary-variant-1;
  }
}

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 1%;
  border: 0 none;
  display: none;

  @extend .svg-01-avenue-back-to-top;
  @extend .svg-01-avenue-back-to-top-dims;

  bottom: 19.5px;
  right: 19.5px;

  @include media-breakpoint-down(xs) {
    right: 18px;
    bottom: 18px;
  }

  &.active {
    display: inline-block;
    z-index: 999;
  }

  &:hover {
    @extend .svg-01-avenue-back-to-top;
    @extend .svg-01-avenue-back-to-top-dims;
  }
}

.hbc-alert-info {
  background-color: $avenue-contextual-variant-15;
  border: 1px solid $avenue-contextual-variant-12;
}

.hbc-alert-warn {
  background-color: $avenue-contextual-variant-5;
}

.hbc-alert-error {
  background-color: $avenue-contextual-variant-9;
  border: 1px solid $avenue-contextual-variant-10;
}

.hbc-alert-info,
.hbc-alert-warn,
.hbc-alert-error {
  display: inline-block;
  word-break: break-word;
  width: 100%;
  font-size: $base-fontSize - 2px;
  color: $avenue-primary-base-2;
  letter-spacing: 0.25px;
  padding: 9px 15px;
  margin: 5px 0 16px;
  border-radius: 2px;

  .close {
    padding: 5px;
  }
}

.hide-womens {
  :not([class*=' d-']) {
    &.show-in-mens {
      display: flex !important;

      &.show-in-womens {
        display: flex !important;
      }
    }
  }

  li:not([class*=' d-']) {
    &.show-in-mens {
      display: list-item !important;

      &.show-in-womens {
        display: list-item !important;
      }
    }
  }

  .show-in-womens {
    display: none !important;
  }
}

.hide-mens {
  :not([class*=' d-']) {
    &.show-in-womens {
      display: flex !important;

      &.show-in-mens {
        display: flex !important;
      }
    }
  }

  li:not([class*=' d-']) {
    &.show-in-womens {
      display: list-item !important;

      &.show-in-mens {
        display: list-item !important;
      }
    }
  }

  .show-in-mens {
    display: none !important;
  }
}

.account-merge {
  color: $primary-Base-2;
  font-size: $base-fontSize - 2;
  background: $account-merge-br-col;
  width: 100%;
  display: inline-block;
  line-height: 2.1;
  margin: 4px 0 18px;
  background: $avenue-contextual-variant-5;
  border: solid 1px $avenue-contextual-variant-6;
  border-radius: 2px;
  letter-spacing: 0.25px;
  padding: 5px;
  text-align: center;

  @include media-breakpoint-down(xs) {
    position: relative;
    line-height: 1.2;
    padding: 10px 25px;
  }

  .close {
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    transform: scale(0.44);
    right: 0;

    @include media-breakpoint-down(xs) {
      position: absolute;
      top: 6px;
    }
  }
}

.pli-limitmsg-modal-main {
  padding-right: 0 !important;

  .modal-dialog {
    max-width: 450px;
  }

  .pli-limitmsg-modal-header {
    border: none;
    padding-bottom: 10px;
  }

  .pli-limitmsg-modal-body {
    width: 82%;
    margin: 30px auto 0;
    text-align: center;
    padding: 0;
    letter-spacing: 0.25px;

    @include media-breakpoint-down(xs) {
      width: 77%;
    }
  }

  .close {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
    margin: 0;
    transform: scale(0.75);

    @include media-breakpoint-down(xs) {
      right: 20px;
      top: 20px;
    }
  }

  .modal-footer {
    border: none;
    padding: 1.929rem 1rem 3rem;
  }

  .pli-limitmsg-ok {
    margin: 0 auto !important;
    flex-basis: 47.2%;

    @include media-breakpoint-down(xs) {
      flex-basis: 50%;
    }
  }
}

.waitlist-form-saksplus {
  .soldout-msg {
    display: none;
  }
}

.sdd-bold-msg {
  font-weight: bold;
  padding-left: 0;
}

//common styling for the alert messages
.alert,
.alert-success,
.alert-info,
.alert-warning,
.alert-danger,
.alert-info-static,
.alert-warning-static,
.alert-danger-static {
  border-radius: 2px;
  color: $avenue-primary-base-2;
  font-size: $base-fontSize - 2px;
  letter-spacing: 0.25px;
  text-align: center;
  padding: 8px 31px 9px;
  line-height: 18px;
  margin-bottom: 20px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
  }

  .close {
    @extend .svg-10-avenue-close;
    @extend .svg-10-avenue-close-dims;

    position: absolute;
    top: 50%;
    right: 20px;
    transform: scale(1.1) translate(50%, -50%);
  }
}

.alert-success {
  background-color: $alert-success-bg;
  border-color: $alert-success-border;

  &:before {
    @extend .svg-49-avenue-Success;
    @extend .svg-49-avenue-Success-dims;
  }
}

.alert-info,
.alert-info-static {
  background-color: $alert-info-bg;
  border-color: $alert-info-border;

  &:before {
    @extend .svg-48-avenue-Info;
    @extend .svg-48-avenue-Info-dims;
  }
}

.alert-warning,
.alert-warning-static {
  background-color: $alert-warning-bg;
  border-color: $alert-warning-border;

  &:before {
    @extend .svg-50-avenue-Warning;
    @extend .svg-50-avenue-Warning-dims;

    left: -4px;
  }
}

.alert-danger,
.alert-danger-static {
  background-color: $alert-danger-bg;
  border-color: $alert-danger-border;

  &:before {
    @extend .svg-47-avenue-Alert;
    @extend .svg-47-avenue-Alert-dims;
  }
}

//alert multiple lines common code

.alert-info-static,
.alert-warning-static,
.alert-danger-static {
  &:before {
    display: none;
  }
}

.alert-info-static {
  &:before {
    display: none;
  }
}

// to avoid a bunch of JS being overridden
.svg-svg-12-check-thick-dims {
  width: 0px;
  height: 0px;
}

// temporary code to hide SF livechat
#sf-widget-companion-wrapper {
  display: none !important;
}

.price .strike-through,
.pricing {
  font-size: $base-fontSize - 2px;
  font-family: $base-fontFamily;
  color: $avenue-primary-base-2;

  .bold {
    font-family: $aven-trade-gothic-next-bold;
  }
}

.menu-main-item {
  &::after {
    @extend .svg-svg-14-chevron;
    @extend .svg-svg-14-chevron-dims;
  }
}

.livechat-wrapper {
  position: relative;

  .filters-visible & {
    display: none;
  }

  @media screen and (max-height: 400px) {
    display: none;
  }
}

.liveChat-btn {
  cursor: pointer;
}

.cart-merge-text {
  vertical-align: middle;
  line-height: 26px;
}

// Sticky columns - the top value changes based on whether the header is displayed or not
.sticky-column {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    transition: top $animation-default-duration $animation-ease-in-out-quad;
  }
}

// To hide phone number field in WL form for saksplus only - SFSX - 831
.waitlist-form-saksplus {
  .wait-list-phone {
    display: none;
  }
}

//Error Landing page
.page-not-found,
.error-page-main {
  @include media-breakpoint-down(xs) {
    padding: 0 20px;
  }

  .error-page-heading {
    margin: 105px 0 0;
    font-size: $base-fontSize;
    line-height: normal;

    @include media-breakpoint-down(xs) {
      padding: 0 22px;
      margin-top: 72px;
    }

    @include media-breakpoint-down(md) {
      margin: 50px 0 0;
    }

    .error-text {
      line-height: 1.3;
      letter-spacing: 0.35px;
      color: $secondary-Variant-1;
      margin: 0;

      @include media-breakpoint-down(xs) {
        padding: 0 30px;
      }
    }

    .try-again {
      font-family: $Moneta-regular;
      font-size: $base-fontSize + 14px;
      letter-spacing: 1.2px;
      line-height: 32px;
      margin-bottom: 14px;
      display: block;

      @include media-breakpoint-down(md) {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }

    .error-occured {
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      display: inline-block;

      @include media-breakpoint-down(xs) {
        padding: 0 5px;
      }
    }
  }

  .continue-btn-main {
    margin: 0 auto;
    max-width: 234px;
    padding: 0;

    @include media-breakpoint-down(xs) {
      max-width: 335px;
    }

    .continue-shopping {
      margin: 25px 0 0;

      @include media-breakpoint-down(md) {
        margin: 27px 0 55px;
      }

      @include media-breakpoint-down(xs) {
        margin: 26px 0 52px;
      }
    }
  }
}
.modal-open {
  width: 100%;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

body.overlay {  //TODO place in common?
  .modal-background {
    display: block;
  }
}