@import '~base/components/_creditCardField';
@import '../config/variables';

.card-number-wrapper {
  position: relative;

  &::after,
  &[data-type='discover']::after {
    content: '';
    position: absolute;
    right: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 30px;
    top: 7px;
    transform: scale(0.75);
    background-image: url(../../images/blank-card.svg);
    background-position: initial;
  }

  &[data-type='visa']::after {
    background-image: url('../../images/visa.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='mastercard']::after,
  &[data-type='master card']::after {
    background-image: url('../../images/mastercard.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='amex']::after {
    background-image: url('../../images/amex.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='HBC']::after,
  &[data-type='hbc']::after {
    background-image: url('../../images/hb-store.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='HBCMC']::after,
  &[data-type='hbcmc']::after {
    background-image: url('../../images/mastercard.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='china-union']::after,
  &[data-type='chinaunionpay']::after,
  &[data-type='unionPay']::after {
    background-image: url('../../images/china-union.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &::after,
  &[data-type='HBCMC']::after,
  &[data-type='hbcmc']::after,
  &[data-type='HBC']::after,
  &[data-type='hbc']::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/blank-card.svg);
    background-position: initial;
    width: 25px;
    height: 16px;
    top: 14px;
    right: 35px;
    transform: scale(1);
  }

  &[data-type='discover']::after {
    background-image: url('../../images/discover.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='SAKSMC']::after,
  &[data-type='saksmc']::after,
  &[data-type='TCC'][data-tcc-type='tcc-saksmc']::after,
  &[data-type='tcc'][data-tcc-type='tcc-saksmc']::after {
    background-image: url('../../images/mastercard.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='SAKS']::after,
  &[data-type='saks']::after,
  &[data-type='MPA']::after,
  &[data-type='mpa']::after,
  &[data-type='TCC'][data-tcc-type='tcc-saks']::after,
  &[data-type='tcc'][data-tcc-type='tcc-saks']::after {
    background-image: url('../../images/saks-store.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='LAT']::after {
    background: url('../../images/lat.png') 0/47px 33px no-repeat;
  }

  &[data-type='jcb']::after {
    background-image: url('../../images/jcb.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='diners']::after,
  &[data-type='dinersclub']::after {
    background-image: url('../../images/diners.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='china-union']::after,
  &[data-type='chinaunionpay']::after,
  &[data-type='unionPay']::after {
    background-image: url('../../images/china-union.svg');
    background-size: auto;
    background-position: 0 0;
  }
}

.tcc-card-number-wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 30px;
    top: 7px;
    transform: scale(0.75);
    background-image: url(../../images/blank-card.svg);
    background-position: initial;
  }

  &[data-type='TCC'][data-tcc-type='tcc-saks']::after,
  &[data-type='tcc'][data-tcc-type='tcc-saks']::after {
    background-image: url('../../images/saks-store.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='TCC'][data-tcc-type='tcc-saksmc']::after,
  &[data-type='tcc'][data-tcc-type='tcc-saksmc']::after {
    background-image: url('../../images/mastercard.svg');
    background-size: auto;
    background-position: 0 0;
  }

  &[data-type='TCC'][data-type='tcc-saks']::after,
  &[data-type='tcc'][data-type='tcc-saks']::after {
    background-image: url('../../images/saks-store.svg');
    background-size: auto;
    background-position: 0 0;
    width: 34px;
    height: 22px;
    top: 12px;
    right: 40px;
    @include media-breakpoint-down(xs) {
      right: 30px;
    }
  }

  &[data-type='TCC'][data-type='tcc-saksmc']::after,
  &[data-type='tcc'][data-type='tcc-saksmc']::after {
    background-image: url('../../images/mastercard.svg');
    background-size: auto;
    background-position: 0 0;
    width: 34px;
    height: 22px;
    top: 12px;
    right: 40px;
    @include media-breakpoint-down(xs) {
      right: 30px;
    }
  }

  .tcc-sub-text-message {
    margin-top: 5px;
    width: 100%;
    display: inline-block;
    font-size: $base-fontSize - 2px;
    color: $secondary-Variant-25;
  }
}

#mpaMessaging {
  padding-left: 7px;
  padding-bottom: 20px;
}

//Amex styles
.amex-logo-main {
  padding: 17px 20px;
  border: 1px solid $avenue-login-border;
  margin-bottom: 17px;

  @include media-breakpoint-down(xs) {
    border: none;
    padding: 17px 10px 17px 15px;
  }

  .amex-logo {
    margin-bottom: 18px;
  }

  .amex-main {
    padding-top: 13px;
    border-top: 1px solid $avenue-secondary-variant-7;
    font-size: $base-fontSize - 2;
    letter-spacing: 0.25px;
    line-height: 18px;

    .membership-note {
      display: block;
      margin-bottom: 3px;
    }

    .learn-more {
      color: $avenue-secondary-variant-1 !important;
      border-bottom: 1px solid $avenue-secondary-variant-1;

      &:hover {
        text-decoration: none;
        border-color: transparent;
      }
    }

    button {
      line-height: 30px;
      margin-top: 18px;
      max-width: 210px;
      font-size: $base-fontSize - 2;
      display: block;
    }
  }
  .amex-points-container {
    .point-balance {
      font-size: $base-fontSize;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 16px;
      display: inline-block;
    }

    .dollar-form {
      display: flex;
      justify-content: space-between;

      .dollar-input {
        flex-basis: 67%;

        @include media-breakpoint-down(xs) {
          flex-basis: 100%;
        }

        input {
          position: relative;
        }

        .remaining-points {
          position: absolute;
          top: 13px;
          right: 15px;

          @include media-breakpoint-down(xs) {
            font-size: $base-fontSize - 2;
            top: 15px;
          }
        }

        @include media-breakpoint-down(xs) {
          label {
            font-size: $base-fontSize - 2;
          }
        }
      }

      .gift-card-check-submit {
        flex-basis: 31%;

        @include media-breakpoint-down(xs) {
          margin-left: 9px;
        }
      }
    }

    .amex-terms-information {
      font-size: $base-fontSize - 2;
      letter-spacing: 0.25px;
      line-height: 18px;
      padding-top: 13px;
      border-top: 1px solid $avenue-secondary-variant-7;
    }
    .paywithpoints-summary {
      font-size: $base-fontSize;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 20px;
      .modify-points {
        font-size: $base-fontSize - 2;
        line-height: 18px;
      }
    }
  }

  a {
    color: $avenue-secondary-variant-1 !important;
    border-bottom: 1px solid $avenue-secondary-variant-1;

    &:hover {
      text-decoration: none;
      border-color: transparent;
    }
  }
}
