@import '../components/sprite';
@import 'formFields';

//Mobile specific to landscape - increased to 812 due to iphone x
$sm-ls: 'screen and (max-width: 812px)';

.mobile-show {
  display: none;

  @media #{$sm-ls} {
    display: block;
  }
}

.desktop-show {
  display: block;

  @media #{$sm-ls} {
    display: none;
  }
}

.email-signup-modal {
  max-width: 520px;
  margin-top: 5.5rem;

  @include media-breakpoint-down(md) {
    margin-top: 9rem;
  }

  @media #{$sm-ls} {
    max-width: 100%;
  }

  .policy-text {
    font-size: $base-fontSize - 2;

    @media #{$sm-ls} {
      font-size: $base-fontSize - 4;
    }

    .policy-content {
      max-width: 460px;
      margin: 0 0 20px;
    }

    a {
      color: $primary-Base-2;
      margin: 20px 0 0;
      display: inline-block;
      text-decoration: underline;
    }
  }

  .get-purchase {
    font-size: $base-fontSize + 14;

    @media #{$sm-ls} {
      font-size: $base-fontSize + 10;
    }

    &.next-purchase {
      margin: 0 0 10px;
    }
  }

  .email-description {
    color: $secondary-Variant-1;
    margin: 0 0 18px;
    font-family: $Moneta-regular;
    font-size: 28px;
    letter-spacing: 1.2px;
    line-height: 32px;

    @include media-breakpoint-down(xs) {
      font-size: 26px;
      letter-spacing: 1px;
      padding: 0 56px;
      margin-bottom: 14px;
    }
  }

  .thank-msg-container {
    padding: 40px 0;

    @media #{$sm-ls} {
      padding: 0;
    }
  }

  .offer-text {
    letter-spacing: 0.25px;
    line-height: 20px;
    padding: 0 25px;

    @include media-breakpoint-down(xs) {
      font-size: 12px;
      line-height: 18px;
      padding: 0 10px;
    }
  }

  .modal-content {
    border: none;
    border-radius: 0;
  }

  &.modal-dialog {
    max-width: 450px;
    margin: 0 auto;
  }

  .welcome-modal-body {
    padding: 20px 0 52px;

    @media #{$sm-ls} {
      padding: 38px 10px 25px;
    }

    @include media-breakpoint-down(xs) {
      padding: 22px 0 24px;
    }

    .consent-tracking-close {
      &::after {
        @include media-breakpoint-down(md) {
          content: "";
          position: absolute;
          width: 88px;
          height: 88px;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }

        @include media-breakpoint-down(xs) {
          width: 82px;
          height: 82px;
        }
      }
    }
  }

  .consent-tracking-close {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 20px;
    transform: scale(1);
    right: 19px;

    @media #{$sm-ls} {
      right: 20px;
      top: 10px;
      transform: scale(0.5);
    }

    @include media-breakpoint-down(xs) {
      transform: scale(0.536);
    }
  }

  .email-description-thank {
    font-size: $base-fontSize + 10;
    max-width: 300px;
    line-height: 32px;
    color: $secondary-Variant-1;
    margin: 0 0 20px;

    @media #{$sm-ls} {
      max-width: 250px;
    }
  }

  .create-account-text {
    max-width: 390px;
    margin: 0 0 25px;
  }

  .create-account {
    padding: 11px;
    max-width: 300px;
    width: 100%;

    @media #{$sm-ls} {
      max-width: 100%;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .tile-container {
    max-width: 305px;
    justify-content: center;

    .tiles {
      position: relative;
      padding: 0 15px 0 0;
      margin: 0 10px 0 0;

      &::after {
        content: '';
        position: absolute;
        background: $hb-bg-gray;
        width: 1px;
        height: 50px;
        right: 0;
        top: 5px;
      }

      &.last-tile {
        padding: 0;
        margin: 0;

        &::after {
          content: none;
        }
      }
    }

    .heart-img {
      width: 24px;
      height: 22px;
    }

    .track-order-img {
      width: 38px;
      height: 24px;
    }

    .faster-checkout-img {
      width: 35px;
      height: 31px;
    }

    .tile-text {
      width: 100px;
      font-size: $base-fontSize - 1;
      margin: 20px 0 30px;

      &.faster-check-tile {
        width: 85px;
      }
    }
  }

  .adobelaunch__emailformfocus {
    max-width: 330px;
    margin: 28px auto 0;

    @include media-breakpoint-down(xs) {
      max-width: 335px;
      margin-top: 5px;
    }
  }

  .welcome-email-input-box {
    width: 100%;
    margin: 26px auto 14px;
    max-width: 330px;

    @media #{$sm-ls} {
      max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
      max-width: 335px;
      margin-top: 30px;
    }
  }

  .input-group {
    width: 100%;
    flex-direction: row;
    display: block;

    @media #{$sm-ls} {
      margin: 10px auto;
      flex-direction: column;
    }

    .button-wrapper {
      button {
        width: 100%;
        margin: 0;
        padding: 0 12px;
        font-size: $base-fontSize;
      }
    }

    .error {
      float: left;
      color: $error-msg;
      margin: 5px 0 10px;
    }

    .error-container {
      @media #{$sm-ls} {
        position: absolute;
        top: 45px;
      }

      position: static;
    }

    .form-control {
      width: 100%;
      height: 45px;
      font-size: $base-fontSize - 2;

      @media #{$sm-ls} {
        margin: 0 0 12px;
      }
    }

    .form-group {
      width: 100%;
      margin: 0 12px 18px 0;

      @media #{$sm-ls} {
        width: 100%;
        margin: 0;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 14px;
      }
    }
  }

  .offer-email {
    font-size: $base-fontSize - 4;
    letter-spacing: 0;
    line-height: 18px;
    padding: 0 15px;
  }

  &.modal-dialog-centered {
    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  .start-shop {
    width: 100%;
    background: $secondary-Variant-1;
    font-size: $base-fontSize;
    margin: 15px 0 0;
    color: $primary-Base-3;
    border: none;
    padding: 10px 0;

    @include media-breakpoint-down(xs) {
      max-width: 335px;
      margin: 15px auto 0;
    }
  }
}

#welcome-email-modal {
  padding: 0 !important;
  bottom: unset;
  top: 0;
  height: 100%;

  @media #{$sm-ls} {
    height: auto;
    bottom: 0;
    top: -30px;
    padding: 0 !important;

    .welcome-email-input-box {
      margin: 10px auto;
    }
  }

  @include media-breakpoint-down(xs) {
    bottom: 0;
    top: auto;
    height: auto;

    .welcome-email-input-box {
      margin: 30px auto 14px;
    }
  }

  .button-wrapper {
    button {
      margin: 0;
    }
  }
}
