.home-email-signup {
  &.footer-email-signup {
    background-color: $primary-Base-3;
    padding-top: 30px;
  }

  .container {
    max-width: 1025px;
    padding-bottom: 14.5px;
    padding: {
      top: 0.625em;
      bottom: 0.625em;
    }

    @include media-breakpoint-up(sm) {
      border-top: 1px solid $secondary-Variant-10;
      max-width: 100%;
    }

    form {
      width: 100%;
      border-top: 1px solid $secondary-Variant-10;
      padding: 26px 0 30px;

      @include media-breakpoint-up(sm) {
        width: 557px;
        margin: 0 auto;
        padding: 20px 0 25px;
        border-top: 0;
      }

      .email-input-box {
        position: relative;

        .error-container {
          font-family: $base-fontFamily;
          font-size: 14px;
          line-height: 1.22;
          color: $secondary-Variant-12;
          padding-top: 6px;
          position: absolute;
          left: 30px;

          @include media-breakpoint-up(sm) {
            left: 40px;
          }
        }

        .email-signup-message-footer {
          position: absolute;
          top: 1px;
          right: 1px;
          width: calc(100% - 2px);
          z-index: 999;

          @include media-breakpoint-up(sm) {
            right: 1px;
            width: 291px;
          }

          .alert-success {
            padding: 9px;
            background-color: $secondary-Variant-13;
            color: $secondary-Utility-4;

            @include media-breakpoint-between(sm, lg) {
              padding: 5px 7px;
            }

            span {
              display: inline-block;
              margin-right: 5px;
              position: relative;
              bottom: 1px;
              transform: scale(0.57);
            }
          }
        }
      }
    }

    .email-description {
      padding: {
        top: 0.375em;
        right: 0;
        bottom: 16px;
      }

      width: 245px;
      text-align: left;
      color: $black;
      font-family: $base-fontFamily;
      font-size: $base-fontSize + 2px;
      font-family: $base-fontFamily;
      line-height: 1.2;
      text-transform: uppercase;

      @include media-breakpoint-up(sm) {
        padding-bottom: 0;
        text-align: right;
      }
    }

    .input-group {
      width: 100%;
      margin-left: 0;

      @include media-breakpoint-up(sm) {
        width: 293px;
        margin-left: 14px;
      }
    }

    .input-group > .form-control {
      width: 100%;
      color: $so-Nickel-variant;
      font-family: $base-fontFamily;
      font-size: $base-fontSize - 2px;
      font-family: $base-fontFamily;
      line-height: 1.2;
      height: 45px;
      border-radius: 0;
      border: 1px solid $so-Nickel-variant;

      @include media-breakpoint-between(sm, lg) {
        height: 36px;
      }
    }

    .input-group.error {
      .form-control {
        border-color: $secondary-Variant-11;
      }
    }

    .input-group.success {
      .form-control {
        border-color: $secondary-Utility-4;
      }
    }

    .input-group-append {
      right: 1px;
      top: 1px;
      position: absolute;
      z-index: 4;

      .subscribe-email {
        border: 0;
        background-color: transparent;
        width: 44px;
        height: 42px;
        padding: 5px 8px;

        @include media-breakpoint-between(sm, lg) {
          padding: 1px 8px;
          width: 35px;
          height: 34px;
        }

        span {
          display: inline-block;
          transform: rotate(-90deg) scale(0.68);
        }
      }
    }
  }
}

footer {
  background-color: $so-Oxygen-variant;
  padding-top: 22px;

  @include media-breakpoint-up(lg) {
    padding: {
      top: 23px;
      bottom: 18px;
    }
  }

  @include media-breakpoint-down(xs) {
    padding-top: 30px;
  }

  .container {
    .we-are-here-content {
      .we-are-here-heading {
        font-family: $base-fontFamily;
        font-size: $base-fontSize + 10px;
        line-height: 1.22;
        color: $secondary-Variant-9;
      }

      .phone-email {
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2px;
        line-height: 1.5;
        font-family: $base-fontFamily;
        padding: 21px 0 36px;

        @include media-breakpoint-up(lg) {
          font-family: $base-fontFamily;
          font-size: $base-fontSize + 2px;
          font-family: $base-fontFamily;
          line-height: 1.2;
          padding: 23px 0 32px;
        }

        @include media-breakpoint-down(xs) {
          padding: 21px 0 28px;
        }

        .telno {
          margin-right: 20px;
        }

        .do-email {
          margin-left: 20px;
        }

        .custom-border {
          border-right: 1px solid $hb-Titanium-variant;
          height: 28px;
        }
      }
    }

    .we-are-here-border {
      margin: {
        top: 0;
        bottom: 18px;
      }
    }

    h2 {
      color: $secondary-Variant-9;
      font-family: $base-fontFamily;
    }

    a {
      color: $grey6;

      &:hover {
        @include media-breakpoint-up(lg) {
          text-decoration: none;
          border-bottom: 1px solid $so5-Grey-base;
        }
      }
    }

    .footer-container {
      @include media-breakpoint-down(md) {
        padding: 0 10px;
        .footer-item {
          border-bottom: 1px solid $secondary-Utility-9;
          padding: 0;
        }
      }
    }

    .footer-container {
      .footer-item.collapsible-md {
        button {
          color: $secondary-Variant-9;
          font-family: $base-fontFamily;
          font-family: $bold-fontFamily;
          font-size: $base-fontSize - 2px;
          line-height: 1.17;
          padding: 14px 0 12px;

          @include media-breakpoint-down(xs) {
            font-family: $bold-fontFamily;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      div.collapsible-md .title {
        font-size: $base-fontSize - 2px;
        font-family: $bold-fontFamily;
        line-height: 1.2;
        color: $secondary-Variant-9;
        font-family: $base-fontFamily;
        text-transform: capitalize;
      }
    }

    .content {
      font-family: $base-fontFamily;
      margin: 0;

      @include media-breakpoint-down(lg) {
        margin-bottom: 16px;
      }

      li {
        height: auto;
        font-family: $base-fontFamily;

        a {
          font-family: $base-fontFamily;
        }
      }
    }

    hr {
      margin-top: 33px;
    }

    .social {
      .social-links {
        width: 180px;

        li {
          margin: 0 17.5px;
          line-height: 1.1;

          .facebook,
          .pinterest,
          .twitter,
          .instagram {
            height: 18px;
            width: 18px;
          }
        }
      }
    }

    .copyright-notice {
      width: 100%;

      .copyright {
        float: none;
        font-family: $base-fontFamily;
        color: $so-gray-utility;
        width: 210.5px;
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2px;
        line-height: 1.5;
        text-align: center;
        margin: 14px auto 0;

        @include media-breakpoint-up(lg) {
          float: left;
          width: auto;
          margin: {
            top: 11px;
            bottom: 0;
          }
        }
      }

      .app-sms {
        float: none;
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2px;
        font-family: $base-fontFamily;
        line-height: 1.5;
        color: $so-Titanium-variant;
        margin-top: 0;
        width: 100%;
        text-align: center;

        @include media-breakpoint-up(lg) {
          float: right;
          width: auto;
          margin-top: 11px;
        }

        a {
          color: $so-gray-utility;

          &:hover {
            border-color: $so-Titanium-variant;
          }
        }
      }
    }
  }
}
