@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/clearfix";
@import '~core/components/footer';
@import 'footer-off5th';

.home-email-signup {
  .signup-wrap {
    @include media-breakpoint-down(xs) {
      display: flex;
      flex-flow: row-reverse;
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  &.footer-email-signup {
    padding-top: 0;

    .container {
      padding: 0;

      @include media-breakpoint-up(sm) {
        border-top: none;
      }

      form {
        border: none;
        width: 483px;
        padding: 120px 0 51px;

        @include media-breakpoint-down(md) {
          padding: 54px 0 54px;
          width: 100%;
          max-width: 337px;
          margin: 0 auto;
        }

        .email-input-box {
          float: left;

          @include media-breakpoint-down(xs) {
            float: none;
            width: 100%;
          }

          .email-signup-message-footer {
            width: 100%;
            right: -50px;
            display: flex;
            justify-content: center;

            .alert-success {
              padding: 7px 9px 8px;
              justify-content: center;
              background: $avenue-primary-base-1;
              span {
                transform: scale(1);
                margin-left: 25px;
                color: $avenue-primary-base-2;
                font-size: $base-fontSize;
              }
              .success-content-ave {
                .success-img {
                  transform: scale(0.72) translate(5px, 10px);
                }
              }

              span {
                bottom: 0px;
              }
            }
            .alert-success {
              &::before {
                display: none;
              }
            }
          }

          .error-container {
            position: relative;
            left: 0;
            padding: 5px 0 0 16px;
            color: $avenue-contextual-variant-3;
            font-size: $base-fontSize - 2;
            letter-spacing: 0.25px;
          }
        }

        div[data-action='Home-Show'] & {
          padding-top: 48px;

          @include media-breakpoint-down(md) {
            padding-top: 0;
          }
        }
      }

      .email-description {
        padding: 0 0 17px;
        width: 100%;
        font-size: $base-fontSize;
        line-height: 18px;
        letter-spacing: 1.25px;
      }

      .input-group {
        &.email-signup-input {
          width: 383px;
          margin: 0;

          @include media-breakpoint-down(md) {
            width: 237px;
          }

          @include media-breakpoint-down(xs) {
            width: auto;
          }

          > .form-control {
            &:focus {
              z-index: auto;
            }
          }
        }
      }

      input::placeholder {
        color: $avenue-secondary-variant-1;
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: $avenue-secondary-variant-1;
      }

      ::-ms-input-placeholder {
        color: $avenue-secondary-variant-1;
      }

      .input-group > .form-control {
        color: $avenue-secondary-variant-1;
        border-color: $avenue-secondary-variant-6;
        font-size: $base-fontSize;
        letter-spacing: 0.25px;
        border-radius: 2px;

        @include media-breakpoint-between(sm, lg) {
          height: 45px;
        }

        @include media-breakpoint-down(xs) {
          padding-right: 7px;
          letter-spacing: 0;
        }
        &.is-invalid {
          border-color: $avenue-contextual-variant-3;
        }
      }

      .input-group.error {
        .form-control {
          border-color: $avenue-contextual-variant-3 !important;
        }
      }

      .subscribe-email {
        margin-left: 10px;
        width: 90px;
        height: 45px;
        display: flex;
        justify-content: center;
        letter-spacing: 1.2px;
        float: right;
      }

      .sign-up-bottom {
        clear: both;
      }

      .privacy-link {
        padding-top: 11px;
        line-height: 18px;
        letter-spacing: 0.25px;
        font-size: $base-fontSize - 2px;

        @include media-breakpoint-down(md) {
          padding-top: 5px;
        }

        a {
          color: $avenue-secondary-variant-1;
          text-decoration: none;
          border-bottom: 1px solid $avenue-secondary-variant-1;
          padding-bottom: 1px;

          &:hover {
            text-decoration: none;
            border: none;
          }
        }
      }
    }
  }
}

footer {
  background-color: $avenue-primary-base-1;
  padding: 0;

  .footer-top-wrap {
    background-color: $avenue-secondary-variant-8;
    padding: 27px 0 14px;

    @include media-breakpoint-down(md) {
      padding: 13px 0 22px;
    }
  }

  .container {
    .footer-container {
      @include media-breakpoint-down(md) {
        padding: 0 20px;
      }

      .footer-item.collapsible-md {
        button {
          color: $avenue-secondary-variant-1;
          font-family: $aven-trade-gothic-next-regular;
          font-size: $base-fontSize;
          line-height: 1.17;
          padding: 14px 0 12px;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }

    .we-are-here-content {
      .we-are-here-heading {
        font-family: $Moneta-regular;
        font-size: $base-fontSize + 14px;
        color: $avenue-secondary-variant-1;
        line-height: 32px;
        letter-spacing: 1.2px;
        padding-bottom: 6px;

        @include media-breakpoint-down(md) {
          padding-bottom: 7px;
        }
      }

      .phone-email {
        font-size: $base-fontSize;
        line-height: 20px;
        letter-spacing: 0.25px;
        padding: 0 0 25px;

        @include media-breakpoint-down(md) {
          padding-bottom: 24px;
        }

        @include media-breakpoint-down(xs) {
          padding-bottom: 25px;
        }

        .custom-border {
          border-color: $avenue-secondary-variant-6;
        }
      }

      .chat-link {
        margin: 0 20px;
      }
    }

    .content {
      letter-spacing: 0.25px;
      margin-bottom: 0;

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        li {
          line-height: 33px;
        }
      }
    }

    .social {
      margin-top: 38px;
      padding: 0 0 0 10px;

      @include media-breakpoint-down(lg) {
        margin-top: 36px;
      }

      @include media-breakpoint-down(md) {
        padding: 0 0 18px;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        margin-top: 20px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 19px;
      }
      .social-links {
        width: 342px;

        @include media-breakpoint-down(lg) {
          width: 333px;
        }

        @include media-breakpoint-down(md) {
          width: auto;
          margin: 0;
        }

        li {
          margin: 0 11.5px;

          &:last-child {
            margin-left: 24.5px;
          }

          @include media-breakpoint-down(lg) {
            margin: 0 12.5px;

            &:last-child {
              margin-left: 16.5px;
            }
          }

          @include media-breakpoint-down(md) {
            margin: 0 11.5px;

            &:last-child {
              margin-left: 17.5px;
            }
          }

          .facebook,
          .pinterest,
          .twitter,
          .instagram {
            height: 28px;
            width: 28px;

            @include media-breakpoint-down(lg) {
              height: 26px;
              width: 26px;
            }

            @include media-breakpoint-down(md) {
              height: 28px;
              width: 28px;
            }
          }

          span {
            @extend .small-text;
            vertical-align: middle;
          }

          a {
            vertical-align: middle;
          }
        }
      }
    }

    a {
      color: $avenue-secondary-variant-1;

      &:hover {
        border-bottom: 1px solid $avenue-secondary-variant-1;
        text-decoration: none;
      }
    }

    hr {
      border-color: $avenue-secondary-variant-7;
    }

    .we-are-here-border {
      margin-bottom: 24px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 25px;
      }
    }

    h2 {
      font-size: $base-fontSize;
      line-height: 18px;
      letter-spacing: 1.25px;
      color: $avenue-secondary-variant-1;
      margin-bottom: 2px;
    }
  }
}

.footer-container {
  @include media-breakpoint-down(md) {
    .footer-item {
      border-color: $avenue-contextual-variant-11;

      &:first-child {
        border-color: $avenue-contextual-variant-11;
      }
    }
  }

  h2 {
    text-transform: uppercase;
  }
}

.footer-social-right {
  @extend .small-text;
  padding: 0;
  margin-top: 32px;

  img {
    padding-right: 3px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }

  @include media-breakpoint-down(md) {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;

    &.text-right {
      text-align: center !important;
    }
  }

  ul {
    li {
      display: inline-block;
      margin: 0 20px;

      &:last-child {
        margin-right: 15px;
      }

      &.btn-feedback {
        a {
          width: 130px;
          display: block;
          height: 32px;
          border: solid 1px #000;
          border-radius: 2px;
          letter-spacing: 1.25px;
          text-align: center;
          padding: 8px 0 9px;
          line-height: 15px;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            color: $avenue-primary-base-1;
            background-color: $avenue-primary-base-2;
            border: 1px solid $avenue-primary-base-2;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      width: 236px;
      margin: 0 auto;

      li {
        margin: 0;

        &:first-child {
          margin-right: 20px;
        }

        &:last-child {
          margin: 20px 0 0;
        }
      }
    }

    @media #{$belowtab} {
      width: 228px;

      li {
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}

.footer-bottom-wrap {
  @extend .small-text;
  padding: 16px 0;

  @include media-breakpoint-down(md) {
    padding: 23px 20px;

    .cols {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      padding: 0;
      text-align: center;

      &.text-right {
        text-align: center !important;
        justify-content: center;
      }
    }
  }

  @media #{$belowtab} {
    padding: 25px 20px 27px;
  }
  ul {
    li {
      display: inline-block;
      padding: 0 15px;

      &:after {
        content: '';
        width: 1px;
        height: 14px;
        border-right: solid 1px $avenue-secondary-variant-6;
        padding-left: 15px;
      }

      &:first-child,
      &:last-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .copyright-notice {
      ul {
        li {
          display: block;
          padding: 0 0 24px;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  @media #{$belowtab} {
    .copyright-notice {
      ul {
        li {
          padding-bottom: 23px;
        }
      }
    }
  }
}

#__trackingframe {
  display: block;
}
