@import '~base/components/formFields';

$max-width: 1024px;

.custom-control-label {
  cursor: pointer;
  font-size: $base-fontSize;
}

.form-control-label {
  &.is-invalid {
    color: $error-msg;
    top: -3px;
    left: 8px;
    font-size: 10px;
    background: $hb-White-base;
    line-height: 1;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@supports (-webkit-overflow-scrolling: touch) {
  select,
  textarea,
  input[type='text'],
  input[type='tel'],
  input[type='search'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px !important;
    line-height: 1.4 !important;
  }
}

input[type='number'].cvvNumField,
input[type='number'].quantity-val {
  -moz-appearance: textfield;
}

input[type='number'].cvvNumField::-webkit-outer-spin-button,
input[type='number'].cvvNumField::-webkit-inner-spin-button,
input[type='number'].quantity-val::-webkit-outer-spin-button,
input[type='number'].quantity-val::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// end of core

.form-control {
  font-size: $base-fontSize;
  height: calc(1.5em + 0.75rem + 12px);
  border-radius: 2px;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  color: $avenue-secondary-variant-1;
  border-color: $avenue-secondary-variant-6;
  padding-left: 0.8rem;
  letter-spacing: 0.25px;

  &:hover {
    border-color: $avenue-secondary-variant-1;
    cursor: text;
  }

  &:focus {
    border-color: $avenue-secondary-variant-6;
    color: $avenue-secondary-variant-1;
  }

  &:disabled {
    background-color: $secondary-Variant-6;
    border-color: $secondary-Variant-6;
    color: $primary-Base-2;
    cursor: auto !important;
    background: $avenue-secondary-variant-8;
  }

  &.is-invalid {
    border-color: $avenue-contextual-variant-3;

    &:focus {
      box-shadow: none;
      border-color: $avenue-contextual-variant-3 !important;
    }
  }

  &.tccCardNumber {
    @media screen and (max-width: 523.98px) {
      font-size: 14px !important;
    }
  }

  &.form-password {
    padding-right: 4.3rem;
  }
}

.form-group {
  margin-bottom: 18px;

  &.required {
    .form-control-label {
      &::before {
        content: '' !important;
      }
    }
  }

  &.form-control.is-invalid {
    background-image: url('../images/drop-down-icon2.png');
    background-size: inherit;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  select {
    background-image: url('../images/drop-down-icon2.png');
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding: 0.375rem 1.6rem 0.375rem 0.75rem;
    color: $avenue-secondary-variant-1;
  }
}

.floating-label {
  position: relative;

  select + {
    span {
      &.valid,
      &.invalid {
        opacity: 0;
      }
    }
  }

  label {
    position: absolute;
    top: 13px;
    margin: 0;
    font-size: $base-fontSize;
    padding: 0 5px;
    pointer-events: none;
    display: inline-flex;
    color: $avenue-secondary-variant-1;
    left: 10px;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-family: $base-fontFamily;

    &.input-focus {
      top: -3px;
      left: 8px;
      font-size: $base-fontSize - 4px;
      background: $primary-Base-3;
      line-height: 1;
      color: $avenue-secondary-variant-3;
    }

    &.is-invalid {
      color: $avenue-secondary-variant-3;
    }
  }

  span {
    &.valid {
      @extend .svg-svg-13-check-thin;

      transform: scale(0.7);

      @extend .svg-34-avenue-Thick_Success;
    }

    &.invalid {
      @extend .svg-35-avenue-warning;

      width: 27px;
      top: 9px;
      height: 27px;
    }

    &.valid,
    &.invalid {
      display: inline-block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 10px;
      right: 8px;
    }
  }
}

.custom-checkbox {
  .custom-control-label {
    padding: 3px 0 0 3px;

    &::before {
      background: $white;
      border-radius: 0;
    }
  }

  .custom-control-input:not(:disabled):active ~ .custom-control-label::before,
  .custom-control-input:checked ~ .custom-control-label::before {
    background: $white;
    border-color: $avenue-secondary-variant-1;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
    border: 1px solid $secondary-Variant-5;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border: 1px solid $secondary-Variant-6;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    top: 5px;
    left: -23px;
    background-image: url(../images/selected_dark.svg);
    background-size: 65%;
  }
}

.custom-checkbox .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: $avenue-primary-base-1 !important;
  border-color: $avenue-contextual-variant-13;
}

.custom-radio {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 9;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .custom-control-label {
    &::before {
      content: '';
      background: $primary-Base-3;
      border-radius: 100%;
      border: 1px solid $secondary-Variant-6;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 5px;
      left: 0;
      cursor: pointer;
      text-align: center;
      color: $secondary-Variant-11;
    }

    span {
      padding: 0 0 0 5px;
    }

    &::after {
      content: none;
    }
  }


  input[type='radio']:checked {
    + .custom-control-label {
      &::before {
        box-shadow: inset 0 0 0 4px $primary-Base-3;
        background-color: $avenue-secondary-variant-1;
        color: $avenue-secondary-variant-1;
        border-color: $avenue-secondary-variant-1;
      }
    }
  }

  input[type='radio'] {
    &:hover {
      + .custom-control-label {
        &:before {
          border-color: $avenue-secondary-variant-1;
        }
      }
    }
  }

  input[type='radio']:disabled {
    &:hover {
      + .custom-control-label {
        //&:before {
        //  border-color: $avenue-secondary-variant-1;
        //}
      }
    }

    + .custom-control-label {
      &::before {
        background-color: $avenue-primary-base-1;
        border-color: $avenue-contextual-variant-13;
      }

      &:hover {
        //&::before {
        //  border-color: $secondary-Variant-1;
        //}
      }

      span {
        color: $avenue-secondary-variant-5;
      }
    }
  }
}

.custom-radio,
.custom-checkbox {
  .custom-control-label {
    &::before {
      width: 18px;
      height: 18px;
      border-color: $avenue-secondary-variant-4;
    }

    &:hover {
      &::before {
        border-color: $avenue-secondary-variant-1;
      }
    }
  }
}

.custom-control-input:disabled ~ .custom-control-label {
  color: $avenue-secondary-variant-5;
}

.invalid-feedback {
  margin-top: 5px;
  font-size: $base-fontSize - 2px;
  padding-left: 13px;
  color: $avenue-contextual-variant-3;
  letter-spacing: 0.25px;
}

input:-webkit-autofill ~ label.form-control-label,
select:-webkit-autofill ~ label.form-control-label,
textarea:-webkit-autofill ~ label.form-control-label {
  top: -3px;
  left: 8px;
  font-size: 10px;
  background: $white;
  line-height: 1;
  color: $avenue-secondary-variant-3;
}

.custom-select {
  width: 100%;
  display: inline-block;
  position: relative;
  border-radius: 0;
  border: 0;
  height: auto;
  font-size: $base-fontSize;
  color: $primary-Base-2;
  background: none;
  padding: 0;

  &.current_item {
    .selection-list {
      display: block;
    }

    .selected-option {
      border-bottom: 1px solid transparent;

      &::before {
        transform: rotate(-180deg);
        margin-top: -8px;
      }
    }
  }

  .custom-select-label,
  .form-control-label {
    &.input-focus {
      transform: translate(10px, -5px);
      font-size: $base-fontSize - 4px;
      color: $primary-Base-2;
      background: $primary-Base-3;
      line-height: 9px;
      padding: 0 3px;
      position: absolute;
      margin: 0;
      z-index: 2;
    }
  }

  select {
    position: absolute;
    left: -9999px;
    top: 0;
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    &:disabled {
      + .selected-option,
      + .is-invalid + .selected-option {
        opacity: 0.4;
      }
    }

    &.is-invalid ~ .selected-option {
      border: 1px solid $secondary-Utility-3;
    }

    //@media screen and (max-width: $max-width) {
    //left: 0;
    //z-index: 2;
    //}
  }

  .selected-option {
    display: block;
    line-height: 19px;
    font-size: $base-fontSize;
    color: $primary-Base-2;
    border: 1px solid $secondary-Variant-7;
    overflow: hidden;
    position: relative;
    padding: 11.5px 15px;
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    cursor: pointer;
    z-index: 1;

    &::before {
      background: url('../images/Dropdown-Arrow-down.svg') no-repeat;
      content: '';
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -6px;
      width: 16px;
      height: 11px;
    }
  }

  .selection-list {
    background-color: $primary-Base-3;
    list-style: none;
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99;
    transition: all 0.15s linear;
    overflow: auto;
    height: 150px;
    border: 1px solid $avenue-secondary-variant-6;

    li {
      line-height: 19px;
      font-size: $base-fontSize;
      color: $primary-Base-2;
      float: left;
      width: 100%;
      padding: 8px 15px;
      cursor: pointer;
      text-align: left;

      &:last-child {
        border-bottom: 0;
      }

      &.option-disabled {
        pointer-events: none;
        cursor: auto;
        color: $primary-Base-2;
      }

      &:hover,
      &:active,
      &.selected,
      &.hover {
        background-color: $secondary-Variant-7;
      }
    }
  }

  &.custom-color-dropdown {
    .selection-list {
      li.option-disabled {
        pointer-events: unset;
        cursor: pointer;
      }
    }
  }
}
