@import '~base/components/header';
@import '~core/components/menu';
@import '../config/variables';
@import 'sprite';

body {
  &.overlay {
    .main-content {
      @include media-breakpoint-up(lg) {
        background-color: $secondary-Variant-1;
        opacity: 0.6;
      }
    }
  }
}

.banner-asset {
  max-width: 700px;
  margin: 0 auto;
}

.oobo-banner {
  text-align: center;
  background-color: $secondary-utility-11;
  font-size: $base-fontSize - 2px;
  line-height: 1.3;
  padding: 11px 0;
  justify-content: center;
  display: flex;
  align-items: center;
  color: $secondary-Variant-1;
  position: relative;

  .private-sale {
    position: absolute;
    left: 240px;
  }

  .custom-border {
    margin: 0 4px 0 0;
    border-right: 1px solid $secondary-Variant-6;
    height: 9px;
    padding: 0 4px 0 0;
  }

  .customer-name {
    text-transform: capitalize;
  }

  .mail-id {
    padding-left: 3px;
  }
}

.alpha-title-padding {
  padding-top: 0 !important;
}

.visible-hidden {
  display: none;
}

.cancel-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px 6px 20px;
  display: none;
  font-size: $base-fontSize;

  &.active {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    border-left: 1px solid $secondary-Variant-7;
    height: 18px;
    top: 7px;
    left: 0;
  }
}

.mobile-rightsec {
  .sticky-search {
    display: none;
  }
}

.cart-page {
  .mobile-rightsec {
    .sticky-search {
      display: inline-block;
      margin-top: 9px;
    }
  }
}

.modal-background {
  &.background {
    display: block;
  }
}
// TODO consider making the above global if not limited to header
//-----

.main-menu,
.search-mobile,
.site-search {
  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 112;

    .cancel-button {
      display: block;
      padding: 6px 12px;
      line-height: 1.5;
    }

    .minicart-quantity {
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        transform: translate(-50%, -66%);
      }
    }
  }
}

.fr_CA {
  @include media-breakpoint-down(sm) {
    .navbar-header.brand {
      margin-left: 0;
      transform: translateX(-50%);
    }
    .logo-content .logo-home img {
      width: 200px;
    }
  }
}

.svg-image {
  display: inline-block;
}

.header-login {
  float: right;
  position: relative;

  @include media-breakpoint-down(md) {
    float: left;
    margin: 5px 0 0 5px;
  }

  @include media-breakpoint-down(md) {
    margin: 5px 0 0;
  }

  .user {
    .user-message {
      font-size: $base-fontSize;
      line-height: 1.3;
      text-transform: capitalize;
      cursor: pointer;
      color: $primary-Base-2;
    }
  }
}

.page-header {
  position: sticky;
  top: 0; // top property is overridden by Javascript;
  transition: top $animation-default-duration $animation-ease-in-out-quad;
  z-index: 100;

  // Hide header elements when mobile nav is open.
  // This is convoluted because the DOM structure here doesn't really lend itself to simple z-index stacking here.
  @include media-breakpoint-down(md) {
    > header {
      transition: background-color $animation-default-duration $animation-ease-in-out-quad;

      .mobile-menu-open & {
        background-color: rgba($avenue-primary-base-1, 0);
      }
    }

    .header-banner,
    .navigation-section > :not(.main-menu) {
      transition: opacity $animation-default-duration $animation-ease-in-out-quad;

      .mobile-menu-open & {
        opacity: 0;
      }
    }
  }
}

.logo-content {
  p {
    margin-bottom: 0;
  }

  .logo-home {
    img {
      width: 179px;
      height: 31px;

      @include media-breakpoint-down(md) {
        width: 138px;
        height: 24px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 6px;
      }
    }
  }
}

.navbar-header {
  align-items: center;
  height: auto;

  &.right-content {
    @include media-breakpoint-up(lg) {
      width: calc(100% - 179px);
      float: right;
      margin: 8px 0 0;
    }
  }

  &.brand {
    top: 3px;
  }

  .header-location {
    &:hover {
      span {
        @extend .svg-svg-92-location-hover;
      }
    }
  }

  .minicart {
    margin: 0 0 0 5px;

    @include media-breakpoint-down(md) {
      line-height: normal;
      position: relative;
      top: 7px;
    }
  }

  .sticky-search {
    margin: 2px 0 0;
  }
}

.main-menu {
  border-style: solid;
  border-width: 1px 0;
  border-color: #ddd;
  background-color: #fff;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -ms-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;

  &.fixed {
    display: flex !important;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex-direction: column;
      padding: 0;

      .menu-wrapper {
        padding: 29px 20px 0;
      }
    }

    @include media-breakpoint-between(md, lg) {
      padding: 0;

      .menu-wrapper {
        padding: 0 20px;
      }
    }

    @include media-breakpoint-up(md) {
      .menu-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        position: relative;
        max-width: 1260px;
      }
    }

    .navbar {
      position: static;

      @include media-breakpoint-up(xl) {
        padding: 0 30px;
      }

      &.bg-inverse {
        .navbar-nav {
          .nav-link {
            padding: 0;
            @include media-breakpoint-up(lg) {
              padding: 15px 0 11px;
            }
          }

          span.nav-link {
            @include media-breakpoint-up(lg) {
              padding: 14px 0 6px;
            }
          }
        }
      }
    }

    .minicart {
      &.visible-hidden {
        display: flex;
        padding: 5px 0;
      }
    }

    .sticky-header-logo {
      &.visible-hidden {
        display: block;
        cursor: pointer;
      }

      .logo-content {
        img {
          width: 179px;
          height: 31px;
        }
      }
    }

    .sticky-search {
      margin: 2px 20px 0 0;

      &.visible-hidden {
        display: block;
        cursor: pointer;
      }
    }

    .header-menu-container {
      max-width: 1260px;
      margin: 0 auto;
      width: 100%;
      padding: 0 40px;

      @include media-breakpoint-between(xs, lg) {
        padding: 0;
      }

      .menu-wrapper {
        position: relative;
      }
    }
  }

  .header-banner {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      min-width: 100%;
      visibility: hidden;
      position: absolute;
      left: -100%;
      transition: none;
    }
  }
}

header {
  background: $primary-Base-3;
  position: relative;

  @include media-breakpoint-up(lg) {
    z-index: 1000;
  }

  .container {
    @include media-breakpoint-up(lg) {
      padding: 0 20px;

      .bf-promo-loginHolder {
        position: relative;
      }
    }

    @include media-breakpoint-between(md, lg) {
      &.header {
        padding: 0 20px;
      }
    }

    @include media-breakpoint-up(xl) {
      max-width: 1260px;
      padding: 0 40px;
    }

    @media #{$largedesktop} {
      max-width: 1440px;
      padding: 0 40px;
    }

    &.header {
      @include media-breakpoint-between(md, lg) {
        padding: 0 20px;
      }
    }

    &.fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9;
      background: $primary-Base-3;
    }
  }

  .main-menu {
    .container {
      max-width: 100%;
      padding: 0;
    }

    .header-menu-container {
      width: 100%;
      margin: 0 auto;

      @include media-breakpoint-up(lg) {
        padding: 0 20px;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 40px;
        max-width: 1260px;
      }

      @media #{$largedesktop} {
        max-width: 1440px;
      }

      .menu-wrapper {
        position: relative;
      }
    }
  }

  .header {
    @include media-breakpoint-down(md) {
      padding: 0;
      max-width: 100%;
      border: 0;

      .minicart-count {
        margin-top: 4px;
      }

      .search-mobile {
        padding: 0 18px 18px;
      }
    }

    &.fixed {
      .sticky-search {
        display: inline-block;

        @include media-breakpoint-down(sm) {
          margin-top: 9px;
        }

        &.search-icon-show {
          display: none;
        }
      }
    }

    .header-main {
      padding: 18px 0;
      width: 100%;
      display: inline-block;
      margin: 0;

      .header-nav {
        @include media-breakpoint-down(sm) {
          float: left;
          padding: 0 10px;
        }

        @include media-breakpoint-down(md) {
          padding: 0 20px;
        }
      }
    }

    .minicart-count {
      .minicart-quantity {
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -66%);
        width: auto;
        color: $avenue-secondary-variant-1;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 18px;
        font-family: $base-fontFamily;

        @include media-breakpoint-up(md) {
          transform: translate(-50%, -86%);
        }

        @include media-breakpoint-down(md) {
          display: flex;
          justify-content: center;
          align-items: center;
          top: 60%;
        }
      }
    }
  }

  .minicart-count {
    position: relative;
    display: inline-block;

    @include media-breakpoint-up(lg) {
      top: 3px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 8px;
    }

    &:hover {
      .svg-image {
        @extend .svg-03-avenue-bag-hover;
      }
    }
  }
}

.header-banner {
  color: $avenue-secondary-variant-1;
  position: static;
  background-color: $secondary-Variant-8;
  line-height: 17px;
  font-family: $base-fontFamily;
  z-index: 1041;
  top: 0;
  left: 0;
  width: 100%;

  // patch to prevent screen jump
  min-height: 60px;

  @media (min-width: 1240px) {
    min-height: 48px;
  }

  @media (max-width: 1024px) {
    min-height: 62.5px;
  }

  &.fixed {
    position: fixed;
  }

  b,
  strong {
    font-family: $aven-trade-gothic-next-bold;
    font-weight: 700;
  }

  &.slide-up {
    overflow: visible;
  }

  @include media-breakpoint-down(md) {
    #bfx-cc-wrapper {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .header-login {
      .user {
        margin: 0;

        .user-message {
          font-size: $base-fontSize - 2;
          color: $avenue-secondary-variant-1;
          letter-spacing: 0.25px;

          .sigin {
            font-style: normal;
            border-bottom: 1px solid;
            margin-left: 4px;
          }
        }

        .user-links {
          margin: 0;

          .header-account-drawer-toggle {
            padding: 4px 0;

            &.logged-in-dropdwn {
              padding-right: 23px;

              &::after {
                content: '';
                position: absolute;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 6px solid #000;
                right: 0;
                top: 23px;
              }
            }
          }
        }
      }
    }

    #bfx-cc-wrapper {
      &.bfx-cc-position-top {
        top: 20px;
        left: 0;
      }
    }

    .navbar-header {
      width: 30%;

      .user {
        .popover {
          right: 0;
          left: auto;
          top: 100%;
          border-radius: 0;
          font-family: $base-fontFamily;
          border-color: $avenue-secondary-variant-1;
          width: 290px;
          max-width: 290px;
          padding: 26px 20px;

          &.logged-out-user {
            text-align: center;
          }

          a.signin-link {
            margin-bottom: 9px;
          }

          a.create-account {
            margin-bottom: 3px;
          }

          a.order-status {
            line-height: 1.5;
            text-transform: capitalize;
            text-decoration: underline;
            font-size: $base-fontSize - 2px;
            display: inline-block;
            float: none;
            width: auto;
            font-family: inherit;
            margin-bottom: 0;
            padding: 6px 0 0;

            &:hover {
              text-decoration: none;
            }
          }

          a.order-history {
            margin-bottom: 10px;
          }

          p {
            font-size: $base-fontSize - 2;
            text-align: center;
            font-family: $base-fontFamily;
            line-height: 1.5;
            width: 224px;
            margin: 0 auto 16px;
            color: $avenue-secondary-variant-1;
          }

          &::after {
            content: '';
            position: absolute;
            border-top: 1px solid $secondary-Variant-6;
            border-left: 1px solid $secondary-Variant-6;
            background: $primary-Base-3;
            transform: rotate(-316deg);
            left: inherit;
            border-color: $avenue-secondary-variant-1;
            width: 13px;
            height: 12px;
            top: -7px;
            right: 15px;
          }
        }
      }
    }
  }

  .banner-content {
    .slick-arrow {
      @extend .svg-38-avenue-Active-Left;
      @extend .svg-38-avenue-Active-Left-dims;

      top: 54%;
    }
  }
}

.proxi-common {
  font-size: $base-fontSize;
  line-height: 17px;
}

.banner-content {
  display: none;
  text-align: center;
  width: 100%;
  padding: 9px 0 4px 0;

  &.slick-initialized {
    display: inline-block;
    animation: fade-in $animation-default-duration $animation-ease-in-out-quad;
  }

  @include media-breakpoint-down(md) {
    padding: 9px 0 7px 0;
  }

  .slick-prev {
    left: 0;
    z-index: 9;
    transform: translate(0, -50%) scale(1.1);

    @include media-breakpoint-up(md) {
      left: -23px;
    }
  }

  .slick-next {
    right: 0;
    transform: translate(0, -50%) scale(1.1) rotate(180deg);

    @include media-breakpoint-up(md) {
      right: -23px;
    }
  }

  @include media-breakpoint-down(md) {
    .slick-prev {
      left: 0;
      transform: translate(0, -50%) scale(0.9);
    }

    .slick-next {
      right: 0;
      transform: translate(0, -50%) scale(0.9) rotate(180deg);
    }

    .slick-list {
      max-width: 295px;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 39.8%;
  }

  .banner-asset {
    &.proxi-common {
      font-size: $base-fontSize - 2;
      line-height: 18px;

      .banner-wrapper {
        display: table;
        margin: 0 auto;
        height: 32px;

        .content {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .terms-condition {
        font-size: $base-fontSize - 2px;
      }
    }
  }

  .slick-list {
    max-width: 700px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      max-width: 270px;
    }
  }

  &.slick-initialized {
    .slick-slide {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
  }
}

.header-main {
  .header-nav {
    padding: 0;
  }
}

.tooltipOpened {
  header {
    z-index: auto;
  }

  .product-detail {
    .wishlistTile {
      z-index: auto;
    }
  }
}

.header-utilities {
  display: none;

  a,
  .country-selectorA,
  .country-selector {
    font-size: $base-fontSize - 2;
    line-height: 14px;
    color: $primary-Base-2;
    border-left: 1px solid $hb-profile-border;
    padding: 0 10px;

    @include media-breakpoint-down(md) {
      border-left: 0;
      padding: 0 20px;
    }

    a.country-selector {
      padding-left: 0;
    }

    &:hover {
      text-decoration: none;

      .utility-link {
        border-bottom: 1px solid;
        padding: 0 0 2px;
      }
    }

    &:first-child {
      border-left: none;
    }
  }
}

.navbar-header {
  &.right-content {
    margin: 0;
    width: calc(100% - 300px);
    display: flex;
    justify-content: flex-end;
    float: right;

    @include media-breakpoint-up(lg) {
      width: calc(100% - 330px);
      float: right;
      line-height: 1.4;
    }

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      width: 100%;
      display: flex;
      float: left;
      align-items: flex-start;
    }

    .brand {
      width: auto;
      transform: translateX(-30%);
      top: -4px;
      padding: 0;

      @include media-breakpoint-up(lg) {
        position: relative;
        left: 0;
        margin-left: 0;
        float: left;
        transform: none;
        width: 42%;
      }
    }

    .search-main {
      margin: 0;

      @include media-breakpoint-down(md) {
        width: auto;
      }

      @include media-breakpoint-up(lg) {
        margin: 0 5px 13px 0;
        width: 36%;
      }

      .search {
        margin: 0;
        width: 183px;
        float: right;
      }
    }

    .right-wrap {
      @include media-breakpoint-down(md) {
        padding-top: 1px;
        margin-top: -12px;
      }

      .header-login {
        @include media-breakpoint-down(md) {
          padding-top: 4px;
          margin-top: 0;
        }

        .user {
          margin: 0;
          top: -1px;

          @include media-breakpoint-down(md) {
            top: 8px;
          }
        }
      }
    }
  }

  .header-wishlist {
    &:hover {
      span {
        @extend .svg-25-avenue-wishlist-heart-hover;
        @extend .svg-25-avenue-wishlist-heart-hover-dims;
      }
    }
  }

  .minicart {
    @include media-breakpoint-up(md) {
      margin: 0 0 0 10px;
    }

    span.svg-image {
      @include media-breakpoint-down(sm) {
        transform: scale(1.15);
      }
    }
  }

  .minicart-count {
    &:hover {
      .svg-image {
        @extend .svg-03-avenue-bag-hover;
        @extend .svg-03-avenue-bag-hover-dims;
      }
    }
  }

  &.right-wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: flex-end;
      padding-top: 1px;
    }
  }

  .navbar-toggler {
    padding: 0;
    border-radius: 0;
    background-image: url('../images/hbc-hamburger-20.svg');
    background-size: cover;
    height: 20px;
    width: 20px;

    @include media-breakpoint-down(md) {
      background-image: url('../images/46-avenue-Hamburger.svg');
      margin-left: 2px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 6px;
      transform: scale(1.4);
    }
  }
}

.header-main {
  .left-content {
    float: left;
    width: 300px;
  }
}

.site-search {
  position: relative;

  @include media-breakpoint-up(lg) {
    width: 100% !important;
  }

  &.fixed {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 530px;

    .suggestions {
      width: 100%;
    }
  }

  .search-icon {
    position: absolute;
    border: none;
    left: 5px;
    top: 6px;
    transform: scale(0.71);
    opacity: 0.6;
  }

  .search-field {
    text-indent: 0;
    border-radius: 0;
    width: 100%;
    height: 35px;
    color: $avenue-secondary-variant-4;
    padding-left: 1.9rem;
    letter-spacing: 0;
    border: none;
    border-bottom: 1px solid $avenue-secondary-variant-6;
    font-size: $base-fontSize - 2;
    line-height: 14px;

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder {
      color: $hb-clr-dropdown-dis-clr;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    &:hover,
    &:focus {
      border: none !important;
      border-bottom: 1px solid $avenue-secondary-variant-6 !important;
      cursor: pointer !important;
    }

    @include media-breakpoint-down(md) {
      border-color: $avenue-secondary-variant-7;
      padding-left: 2.5rem;
      color: $avenue-secondary-variant-5;

      &.search-border {
        padding-left: 2.5rem;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-left: 2rem;
      padding-right: 8.5rem;
      border-width: 0 0 1px;
      text-indent: 10px;
      font-size: $base-fontSize;

      &:hover,
      &:focus {
        border-width: 0 0 1px !important;
      }
    }

    .search-icon {
      left: -3px;
      padding: 0;
      transform: scale(1.05);
    }
  }
}

.search-form {
  button[type='submit'] {
    transform: scale(1.05);
    left: -1px;
  }
}

.header-main {
  .left-content {
    float: left;
    width: 300px;
  }

  .search-form {
    button[type='reset'] {
      position: absolute;
      right: 0;
      top: 9px;
      font-size: 12px;
      border: none;
      background: transparent;
    }
  }
}

.search-mobile {
  background: $primary-Base-3;

  .site-search {
    @include media-breakpoint-down(md) {
      margin: 0;
      width: 100%;
    }

    .reset-button {
      &.svg-image {
        top: 6px;
        right: 0.2em;
        transform: scale(0.5);
      }
    }
  }

  .search-form {
    padding: 0 20px;

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    .search-icon {
      left: 26px;
      top: 6px;

      @include media-breakpoint-down(sm) {
        padding: 0;
        left: 7px;
      }
    }

    .cancel-button {
      font-family: $base-fontFamily;
      line-height: 1.5;
      padding-right: 18px;
      padding-left: 15px;

      @include media-breakpoint-down(sm) {
        padding-right: 13px;
        padding-left: 18px;
      }
    }

    .reset-button {
      &.svg-image {
        right: 1em;
      }

      &.d-sm-block {
        @include media-breakpoint-down(sm) {
          display: block !important;
          right: 90px;
        }
      }
    }

    button[type='submit'] {
      transform: scale(1.2);

      @include media-breakpoint-down(md) {
        left: 3px;
      }
    }
  }
}

.off5th-Nav-section {
  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: $avenue-primary-base-1;
    z-index: 8;
  }
}

//saksfirst Header UI

.navbar-header {
  .user {
    margin: -7px 0 0;
    display: flex;
    align-items: center;

    > * {
      margin: 0 10px;
      display: flex;
      align-items: center;
    }

    .user-links {
      position: relative;
    }

    .header-account-drawer-toggle {
      text-decoration: none;
      padding: 7px 0;
    }

    .popover {
      &.logged-in-user {
        padding: 12px 19px;

        a {
          display: block;
          margin: 0 0 12px;

          &:last-child {
            padding-top: 12px;
            margin-bottom: 0;
            border: none;
          }

          &.signout-link {
            padding-top: 12px;
            display: block;
            border-top: 1px solid $avenue-secondary-variant-7;
          }
        }

        .saks-first-header-overlay {
          padding: 8px 0 17px;
          border-top: 1px solid $avenue-secondary-variant-7;
          display: flex;
          font-size: $base-fontSize;
          line-height: 20px;
          letter-spacing: 0.25px;

          a {
            display: inherit;
          }

          .saks-first-saks-image {
            width: 61px;
            margin: 5px 0 6px;
          }

          .saks-member-tier {
            margin-left: 10px;

            span {
              &.sak-member {
                font-family: $aven-trade-gothic-next-bold;
                display: block;
              }

              a {
                padding-top: 0;
              }
            }
          }
        }

        .guest-saks-content {
          padding: 12px 20px 20px;
          border: 2px solid $avenue-secondary-variant-7;
          text-align: center;

          .saks-first-saks-image {
            width: 61px;
            margin: 5px auto 6px;
          }

          .earn-points {
            font-size: 12px;
            letter-spacing: 0.25px;
            line-height: 18px;
            margin-bottom: 18px;
            display: inline-block;
          }

          .learn-more {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.21px;
            line-height: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid $avenue-secondary-variant-1;
            display: inline-block;

            &:hover {
              text-decoration: none;
              border-bottom: transparent;
              padding-bottom: 6px;
            }
          }
        }
      }
    }
  }
}

#recommended-for-me-page {
  margin-top: 43px;

  @media screen and (min-width: 544px) and (max-width: 1023.98px) {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .recommendations {
    @media screen and (min-width: 544px) and (max-width: 1023.98px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    .prefcenterrecs {
      display: inline-table;
      column-count: 4;
      width: inherit;

      @media screen and (max-width: 543.98px) {
        column-count: 2;
        width: inherit;
      }

      @media screen and (min-width: 544px) and (max-width: 1023.98px) {
        column-count: 3 !important;
        width: inherit;
      }

      .prefcenterrecsli {
        display: inline-block;
        width: 25%;
        padding-left: 8px;
        padding-right: 8px;

        @media screen and (max-width: 543.98px) {
          width: 50%;
        }

        @media screen and (min-width: 544px) and (max-width: 1023.98px) {
          width: 33% !important;
        }

        .product {
          .product-tile {
            .tile-body {
              display: grid;

              .hover-bg-content {
                .product-tile-url {
                  .badges-container {
                    height: 27px;
                    display: table-footer-group !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    .slider-heading {
      font-size: 28px;
      font-family: $Moneta-regular;
      text-transform: none;
      line-height: 1.2;
      letter-spacing: 1.2px;
    }

    @media screen and (max-width: 539.98px) {
      margin: 0;
      padding: 0;
    }
    .wrapper-content {
      padding-bottom: 40px !important;

      @media screen and (max-width: 1023.98px) {
        padding-bottom: 20px !important;
      }
    }
  }

  .viewed-recently {
    display: none;
  }

  @include media-breakpoint-down(md) {
    .slider-heading {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 1px;
      margin-bottom: 18px;
    }
  }

  @media screen and (max-width: 539.98px) {
    padding-left: 0;
    padding-right: 0 !important;
    margin: 0;
    margin-top: 22px;
  }
}

.slick-slider {
  .slick-prev {
    &::before {
      content: none;
    }
  }

  .slick-next {
    &::before {
      content: none;
    }
  }
}
