@import '../config/variables';
@import 'bootstrap/scss/mixins/breakpoints';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-fontFamily;
}

.aven-H1-monetaff {
  font-family: $Moneta-regular;
  font-size: 28px;
  letter-spacing: 1.2px;
  @include media-breakpoint-down(md) {
    font-size: 26px;
    letter-spacing: 1px;
  }
}

.aven-H1-trade-condensedFF {
  font-family: $aven-trade-gothic-next-condensed-bold;
  font-size: 28px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  @include media-breakpoint-down(md) {
    font-size: 26px;
    letter-spacing: 0.4px;
  }
}

.aven-H2-trade-boldFF {
  font-family: $aven-trade-gothic-next-bold;
  font-size: 24px;
  @include media-breakpoint-down(md) {
    font-size: 22px;
    letter-spacing: 0.4px;
  }
}

.aven-H3-trade-boldFF {
  font-family: $aven-trade-gothic-next-bold;
  font-size: 18px;
  letter-spacing: 0.25px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

.aven-H4-trade-boldFF {
  font-family: $aven-trade-gothic-next-bold;
  font-size: 16px;
  letter-spacing: 0.4px;
  @include media-breakpoint-down(md) {
    font-size: 15px;
  }
}

.aven-H5-trade-boldFF {
  font-family: $aven-trade-gothic-next-bold;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.aven-body-copy-1-trade-regularff {
  font-family: $aven-trade-gothic-next-regular;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.aven-body-copy-2-trade-regularff {
  font-family: $aven-trade-gothic-next-regular;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.aven-body-copy-bold-1-trade-boldff {
  font-family: $aven-trade-gothic-next-bold;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.aven-body-copy-bold-2-trade-boldff {
  font-family: $aven-trade-gothic-next-bold;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.aven-disclaimer-trade-regularff {
  font-family: $aven-trade-gothic-next-regular;
  font-size: 10px;
}
