@import '~base/components/headerSearch';

.cart-page {
  &:not(.search-modal-open) {
    @include media-breakpoint-down(md) {
      .search-form {
        display: none !important;
      }
    }
  }

  .site-search {
    height: 0;
  }
}

.modal-open {
  width: 100%;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

body.overlay {  //TODO place in common?
  .modal-background {
    display: block;
  }
}

.search-modal-open {
  @include media-breakpoint-down(md) {
    header {
      z-index: 1000;
    }

    overflow-y: hidden !important;
    touch-action: none;

    .search-form {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1001;
    }

    .suggestions {
      background-color: $white;
    }

    .suggestions-wrapper {
      display: block;
    }
  }
}

.suggestions-wrapper {
  .suggestions {
    z-index: 1000;
    left: 0;
    width: 100%;
    margin-top: 0;
    border-top: none;

    &:empty {
      border: none;
    }

    @include media-breakpoint-down(xs) {
      padding: 0 10px;
    }

    @include media-breakpoint-down(md) {
      border: none;
      overflow: initial;
      display: flex;
      position: fixed;
      width: 100%;
      margin: 0;
      top: 35px;
      padding: 0 11px;
    }

    .selected {
      background-color: $white;
    }

    .search_results {
      padding: 19px 10px 0;

      @include media-breakpoint-down(md) {
        padding: 22px 0 0;
        background: $primary-Base-3;
        display: block;
      }

      @include media-breakpoint-down(xs) {
        padding: 22px 4px 0;
        display: block;
      }

      @include media-breakpoint-down(md) {
        padding: 17px 0 0;
      }

      .search_section {
        .search_results {
          padding: 0;
          list-style-type: none;

          .header {
            padding: 0 0 15px;
            border: none;

            @include media-breakpoint-down(md) {
              padding: 0 0 16px;
            }

            .result_heading {
              font-size: $base-fontSize + 2px;
              line-height: 19px;
              font-family: $base-fontFamily;
              font-family: $base-fontFamily;
              color: $primary-Base-2;
            }
          }

          .items {
            padding: 0;

            .suggestion_list {
              padding: 0 0 15px;

              a {
                .name {
                  color: $primary-Base-2;
                  font-family: $base-fontFamily;
                  font-size: $base-fontSize - 2px;
                  line-height: 18px;
                  text-overflow: unset;
                  white-space: normal;
                  text-transform: capitalize;

                  .category-parent {
                    font-family: $bold-fontFamily;
                    font-size: $base-fontSize - 2px;
                    color: $primary-Base-2;
                  }
                }
              }
            }
          }

          .featured_list {
            width: 100%;
            margin: 0;

            @include media-breakpoint-down(md) {
              display: flex;
              justify-content: flex-start;
            }

            span {
              padding: 0;
              margin-bottom: 11px;
              width: 100%;
              display: inline-block;

              @include media-breakpoint-down(md) {
                padding-right: 10px;
                margin-bottom: 0;

                &:last-of-type {
                  padding-right: 0;
                }
              }

              a {
                padding: 0;
                text-decoration: none;
                align-items: flex-start;

                img {
                  max-width: 68px;
                  float: left;

                  @include media-breakpoint-down(md) {
                    max-width: 172px;
                    margin: auto;

                    @include media-breakpoint-down(xs) {
                      max-width: 81px;
                    }
                  }
                }

                .feature_list_name {
                  padding: 0 0 0 17px;
                  box-sizing: border-box;
                  margin: 0;
                  float: left;

                  .atm-search,
                  .product-suggestion-description {
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }

                  @include media-breakpoint-down(md) {
                    padding: 21px 0 0;
                  }

                  .search_brand,
                  .search_name,
                  .pdt_desc {
                    font-family: $base-fontFamily;
                    font-size: $base-fontSize - 2px;
                    line-height: 18px;
                    color: $primary-Base-2;
                    font-family: $base-fontFamily;
                    margin: 0;
                  }

                  .search_brand {
                    font-family: $base-fontFamily;
                  }
                }

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        &.sec_1 {
          @include media-breakpoint-down(md) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.search-border {
  .suggestions-wrapper {
    &::before {
      position: absolute;
      content: '';
      width: 95%;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-top: 1px solid $hb-border-clr;
      z-index: 9999;

      @include media-breakpoint-down(md) {
        width: auto;
        margin: 0 10px;
      }
    }
  }
}
