$mobile_nav_header_height: 3.125rem; // 54px
$base_nav_item_padding: 8px;

// WOMEN / MEN selector
.shop-preference {
  position: absolute;

  @include media-breakpoint-down(md) {
    top: 1.11rem; // 23px
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all $animation-default-duration $animation-ease-in-fast-out-slow;

    .l2-nav & {
      transform: translate3d(-100%, -50%, 0);
      opacity: 0;
      pointer-events: none;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(lg) {
    top: -35px;
  }

  .cat-heads {
    position: relative;
    font-size: $base-fontSize;
    letter-spacing: 1.25px;
    line-height: inherit;
    padding: 0;
    border: none;
    background: none;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: $base-fontSize - 2;
    }

    &.active {
      font-family: $aven-trade-gothic-next-bold;
    }

    &:not(:first-child) {
      margin-left: 25px;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 1px solid $avenue-secondary-variant-1;
        bottom: -4px;
        left: 0;

        @include media-breakpoint-up(lg) {
          border-bottom-width: 2px;
          bottom: -14px;
        }
      }
    }
  }
}

.l2-nav-header {
  position: absolute;
  display: block;
  font-size: $base-fontSize;
  font-family: $aven-trade-gothic-next-regular;
  letter-spacing: 1.25px;
  line-height: inherit;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  top: 1.4375rem; // 23px
  left: 50%;
  transform: translate3d(0, -50%, 0);
  transition: all $animation-default-duration $animation-ease-in-fast-out-slow;

  .l2-nav & {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.l2-back-button {
  position: absolute;
  top: 3px;
  left: 3px;
  transform: translate3d(50%, 0, 0);
  opacity: 0;
  transition: all $animation-default-duration $animation-ease-in-fast-out-slow;
  z-index: -1;
  border: none;
  display: block;
  padding: 14px;
  background: transparent;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  span {
    display: block;
  }

  .l2-nav & {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: initial;
    z-index: 1;
  }
}

.menu-toggleable-left {
  @include media-breakpoint-down(md) {
    overflow: hidden;

    .borderfree-modal {
      top: calc(#{$mobile_nav_header_height} + 10px);
    }
  }

  &.in {
    background: $secondary-Variant-8;

    .close-menu {
      .close-button {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 44px;
        height: 44px;
        right: auto;
        transform: translate3d(0, 0, 0);
        opacity: 1;
        transition: all $animation-default-duration $animation-ease-in-fast-out-slow;

        &::before {
          border-top-width: 1px;
          border-top-color: $avenue-secondary-variant-1;
          left: 12px;
        }

        &::after {
          border-top-width: 1px;
          border-top-color: $avenue-secondary-variant-1;
          left: 12px;
        }
      }

      .l2-nav & {
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
        pointer-events: none;
        z-index: -1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &.navbar-toggleable-md.in {
      &.overflow-control {
        overflow-y: -webkit-paged-y;
      }
      .dropdown-item {
        .dropdown-toggle,
        .dropdown-link.dropdown-toggle {
          &::before {
            background-position: center;
            background-image: url('../images/saks-plus-thin.svg');
          }

          &.opened {
            &::before {
              background-image: url('../images/saks-minus-thin.svg');
            }
          }

          &::after {
            content: none;
          }
        }
      }
    }
  }
}

.navbar {
  &.bg-inverse {
    @include media-breakpoint-down(md) {
      padding-top: $mobile_nav_header_height;

      .menu-group {
        border-top: 1px solid $avenue-secondary-variant-7;
        padding-top: 13px;
        position: relative;
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(md) {
        transform: translate3d(0, 0, 0);
        transition: transform $animation-default-duration $animation-ease-in-fast-out-slow;

        .l2-nav & {
          transform: translate3d(-100%, 0, 0);
        }

        .cat-level2 {
          > .dropdown-item {
            &:not(:first-child) {
              border-top: 1px solid $avenue-secondary-variant-7;
            }

            .dropdown-link {
              color: $avenue-primary-base-2;
              font-size: 14px;
            }

            > .dropdown-link {
              font-family: $aven-trade-gothic-next-bold;
              font-weight: 700;
              margin: 0;
              padding-top: 18px;
              padding-bottom: 18px;

              + .dropdown-link {
                border-top: 1px solid $avenue-secondary-variant-7;
              }

              ~ .dropdown-menu {
                margin-top: -9px;
                margin-bottom: 9px;

                + .dropdown-link {
                  border-top: 1px solid $avenue-secondary-variant-7;
                }
              }
            }

            .dropdown-menu {
              .dropdown-link {
                padding: 9px 20px;
                margin: 0;
              }
            }
          }
        }

        > .nav-item {
          > .dropdown-toggle {
            &:before {
              // Copied from .svg-08-avenue-chevron-right in avenue-sprite.scss
              // Because we can't extend that class here in a media query.
              background: url('../images/avenue-sprite-vertical.svg') no-repeat;
              background-position: 0 12.450748620961386%;
              // end copy
              content: '';
              display: block !important;
            }

            &:hover {
              span {
                text-decoration: underline;
              }
            }

            &:after {
              content: none;
              display: none !important;
            }
          }

          &.show {
            .nav-link span {
              border-bottom-color: transparent !important;
            }
          }

          > .dropdown-menu {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100% !important;
          }

          > .formenav {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100% !important;

            .formecategorytile {
              padding-left: 2px;
              width: auto;
              border-bottom: 1px solid #ddd;
              @media screen and (max-width: 792px) {
                margin-top: -13px;
              }

              &.categorytileloggedout {
                @media screen and (max-width: 792px) {
                  display: none !important;
                }
              }
              &.noprefs {
                @media screen and (max-width: 792px) {
                  display: none !important;
                }
              }
            }
          }
        }
      }

      .nav-link {
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2;
        letter-spacing: 0.25px;
        text-transform: capitalize;

        @include media-breakpoint-up(lg) {
          text-transform: uppercase;
          letter-spacing: 1.25px;
        }

        span {
          padding: 14px 0 12px;
        }

        @include media-breakpoint-up(lg) {
          &:hover {
            span {
              border-color: $avenue-secondary-variant-1;
            }
          }
        }
      }

      @media screen and (min-width: 1260px) {
        justify-content: center;

        .nav-item {
          flex-grow: 0;
        }

        .nav-link {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }

      span.nav-link,
      .nav-link span {
        @include media-breakpoint-up(lg) {
          padding-top: 14px;
          padding-bottom: 12px;
        }
      }

      .nav-item {
        @include media-breakpoint-down(md) {
          + .nav-item {
            border-top: none;
          }

          .nav-link {
            line-height: inherit;
            padding-top: $base_nav_item_padding;
            padding-bottom: $base_nav_item_padding;

            span {
              padding: 0;
              font-size: 14px;

              &.svg-image {
                border: none;
              }
            }
          }

          &.signin {
            .nav-link[href*='login'] {
              display: block;
              letter-spacing: 1.25px;
              line-height: 43px;
              margin: 10px 20px 18px;
              text-align: center;
              padding: 10px 20px;
              border-radius: 2px;
              font-family: inherit;

              @include set-button($btn-pr-txt-col, $btn-pr-bgcol, $btn-pr-br-col);

              &:hover,
              &:active {
                @include set-button($btn-pr-txt-col, $btn-pr-bgcol-hov, $btn-pr-br-col-hov);
              }

              .user-message {
                text-transform: uppercase !important;
              }

              .user-message {
                border-bottom: none;
              }
            }
          }

          &.nav-item-secondary {
            color: $primary-Base-2;
            font-size: $base-fontSize - 1;
            display: block;
            background: $secondary-Variant-8;
            margin-top: $base_nav_item_padding;
            padding-top: $base_nav_item_padding;

            > .nav-link {
              text-transform: none;
              font-size: 14px;
            }

            + .nav-item-secondary {
              margin-top: 0;
              padding-top: 0;

              &.order-history {
                padding-bottom: 20px;
              }

              &:not(.nav-item-grouped) {
                border-top: 1px solid $avenue-secondary-variant-7;

                .nav-link {
                  padding-top: $base_nav_item_padding * 1.5;
                  padding-bottom: $base_nav_item_padding * 1.5;
                }
              }
            }
          }

          &.nav-item-grouped {
            &.logout {
              padding-bottom: $base_nav_item_padding;
            }

            &.signin {
              .user-name-text {
                text-transform: capitalize;
                padding-left: 3px;
              }
            }
          }
        }

        .nav-link {
          color: $avenue-primary-base-2;
        }
        &.show {
          > .nav-link span {
            border-bottom-color: $avenue-secondary-variant-1;
          }
        }
      }
    }
  }
}

.nav-content-image {
  .text-center {
    text-align: center;
    top: initial;
    left: initial;
    transform: none;
    margin-top: 9px;
    white-space: normal;
    line-height: 1.2;

    a {
      text-decoration: none;
    }

    .nav-header,
    .nav-header a {
      display: block;
      font-family: $aven-trade-gothic-next-bold;
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 20px;
      margin-bottom: 3px;
    }

    .nav-subheader,
    .nav-subheader a {
      display: block;
      font-family: $aven-trade-gothic-next-regular;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }
  }
}

.main-menu {
  #bfx-cc-wrapper {
    @include media-breakpoint-down(md) {
      overflow: hidden;
      padding: 13px 20px !important;
      border-top-color: $avenue-secondary-variant-7 !important;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-expand-md {
    .navbar-nav {
      .dropdown-menu {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
        padding-top: 36px;
      }
    }
  }

  .multilevel-dropdown {
    .dropdown-menu {
      .dropdown-link {
        color: $avenue-primary-base-2 !important;
        font-family: $aven-trade-gothic-next-bold;
        text-transform: none;
        font-size: 14px !important;
        margin-bottom: 10px;
        line-height: 21px;
      }

      > .dropdown {
        > .dropdown-menu {
          margin-bottom: 30px;
        }
      }
    }

    .dropdown-item {
      width: calc(1 / 5 * 100% - (1 - 1 / 5) * 20px);
      flex: 0 0 auto;
      margin-left: 20px;
      padding: 0;

      &:first-child {
        margin-left: 0;
        &.mobilecatborder {
          @media screen and (min-width: 1023.98px) {
            margin-right: -20px;
          }
        }
      }

      &:not(.nav-content-image) + .nav-content-image {
        margin-left: auto; // Push the image over to the right if it's not in the first column
      }

      .dropdown-item {
        width: auto;
        margin-left: 0;
      }
    }

    .nav-content-image {
      a {
        display: block;
      }

      img {
        width: 100%;
      }

      &.size-1X2 {
        width: calc(2 / 5 * 100% - (1 - 1 / 5) * 20px);
      }

      &.size-1X3 {
        width: calc(3 / 5 * 100% - (1 - 1 / 5) * 20px);
      }

      &.size-1X4 {
        width: calc(4 / 5 * 100% - (1 - 1 / 5) * 20px);
      }

      &.size-1X5 {
        width: 100%;
      }
    }
  }
}

body.l2-nav .menu-group > .nav.navbar-nav {
  height: 0;
}

@include media-breakpoint-down(md) {
  .saks-first-header-overlay {
    display: flex;
    padding: 11px 20px 17px;
    color: $avenue-primary-base-2;
    font-size: $base-fontSize;
    border-bottom: 1px solid $avenue-secondary-variant-7;

    a {
      display: inherit;
    }

    .saks-first-saks-image {
      width: 24px;
      margin-right: 7px;
    }

    .saks-member-tier {
      span {
        &.sak-member {
          font-family: $aven-trade-gothic-next-bold;
          display: block;
          padding-bottom: 3px;
        }

        &.mobile-saks-msg {
          margin-left: -32px;
        }
      }
    }
  }

  .guest-saks-content {
    padding: 10px 20px;

    .earn-points {
      display: block;
    }

    .saks-first-saks-image {
      width: 61px;
    }
  }
}

@include media-breakpoint-up(md) {
  .nav .nav-item.nav-item-secondary {
    .saks-first-header-overlay,
    .guest-saks-content {
      display: none;
    }
  }
}

#formenav {
  height: 270px;
}

.mobile-menu-open #formenav {
  height: 494px;
  @include media-breakpoint-down(sm) {
    height: auto;
    min-height: 200px;
    bottom: unset;

    .addnecategoriesmobile {
      width: auto !important;
      padding-left: 0 !important;

    }

    .noncattiles {

      padding-bottom: 20px;


      .formeli {
        width: auto !important;
        margin-left: 0 !important;
        .formecard {
          .content {
            & > div {
              width: 220px !important;

            }
          }
        }
      }
    }
  }
}

