@import '~core/miniCart';
@import 'miniCart-off5th';

.navigation-section {
  .minicart {
    .popover {
      &::after {
        right: 14px;
        top: -8px;
        border-top: 1px solid $avenue-contextual-variant-13;
        border-left: 1px solid $avenue-contextual-variant-13;
      }

      &.show {
        .container {
          border: 1px solid $avenue-contextual-variant-13;
          .product-summary {
            .card {
              .card-body {
                padding: 12px 17px 17px 15px;
                border-bottom: 1px solid $avenue-secondary-variant-7;

                .product-line-item {
                  .product-line-item {
                    padding: 12px 17px 17px 15px;
                    border-bottom: 1px solid $avenue-secondary-variant-7;
                    margin: 17px -17px 0 -15px;
                    border-top: 1px solid $avenue-secondary-variant-7;

                    &:last-child {
                      border: none;
                      margin-top: 0;
                    }
                  }
                }

                .product-line-item-details {
                  padding: 0 17px 0 15px;
                  margin: 0 -17px 0 -15px;

                  .mini-cart-img {
                    img.product-image {
                      max-height: 7.625em;
                    }
                  }

                  .sold-out {
                    color: $avenue-utility-variant-1;
                  }

                  .valid-cart-error {
                    min-height: auto;
                    clear: both;
                    background: none;
                    border: 0;
                    text-align: left;
                    padding: 10px 0 0;
                    margin: 0;
                    color: $avenue-contextual-variant-3;
                    font-family: $base-fontFamily;
                  }

                  .mini-cart-details {
                    .line-item-header {
                      .brand-name,
                      .line-item-name {
                        margin: 0 0 3px;
                        span {
                          font-family: $base-fontFamily;
                          font-size: $base-fontSize - 2;
                          font-weight: bold;
                          letter-spacing: 0.25px;
                          line-height: 18px;
                          color: $avenue-secondary-variant-1;
                        }
                      }

                      .line-item-name {
                        span {
                          font-weight: normal;
                        }
                      }

                      .remove-line-item {
                        .remove-btn {
                          span {
                            font-family: $base-fontFamily;
                          }
                        }
                      }
                    }

                    .item-attributes {
                      display: inherit;

                      .selected-list {
                        margin: 0 0 3px;
                        font-size: 0;

                        .line-item-attributes {
                          text-transform: capitalize;
                        }
                      }
                    }

                    .line-item-attributes,
                    .align-items-start .line-item-total-price div,
                    .item-preorder {
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2;
                      letter-spacing: 0.25px;
                      line-height: 18px;
                      color: $avenue-secondary-variant-1;
                      margin: 0;

                      .pricing {
                        font-weight: normal;
                        margin: 0 0 3px;
                      }
                    }

                    .pre-order-msg,
                    .pre-order-ship-date {
                      margin: 0 0 3px;

                      .pre-order-ship-date {
                        margin: 0 0 0 3px;
                      }
                    }

                    .pre-order-ship-text {
                      font-weight: bold;
                    }

                    .line-item-quantity {
                      margin-top: 16px;

                      .quantity-field {
                        button {
                          font-family: $base-fontFamily;
                          padding: 9px;
                          .plus,
                          .minus {
                            transform: scale(0.504);
                          }
                        }

                        button[disabled]:hover[data-type='plus'] {
                          padding: 9px;
                        }

                        button[data-type='plus'] {
                          &:hover {
                            border-color: $avenue-secondary-variant-1;
                            padding: 9px;
                          }
                        }

                        .quantity-val {
                          font-weight: bold;
                          letter-spacing: 0;
                          line-height: 18px;
                        }
                      }
                    }

                    .feature-msg {
                      margin: 0 0 3px;
                      .featured-message {
                        font-size: 12px;
                        letter-spacing: 0.25px;
                        line-height: 16px;
                        color: $avenue-utility-variant-1;
                        font-family: $base-fontFamily;
                      }
                    }

                    .mini-promo {
                      margin: 0 0 3px;
                      .promotions {
                        text-align: left;
                        font-size: 12px;
                        letter-spacing: 0.25px;
                        line-height: 16px;
                        color: $avenue-utility-variant-1;
                        font-family: $base-fontFamily;
                      }
                    }
                  }
                }
              }
            }
          }

          .minicart-footer {
            padding: 12px 16px 17px;
            border-top: 1px solid $avenue-secondary-variant-6;

            .estimated-total {
              .sub-total-label,
              .mini-sub-total {
                line-height: 20px;
                letter-spacing: 0.25px;
                font-weight: normal;
              }
            }

            .checkout-continue {
              margin-top: 14.5px;
            }
          }

          .custom-tooltip {
            display: none;
          }
        }
      }
    }
    .limited-inventory {
      font-family: $base-fontFamily;
      font-size: $base-fontSize - 2;
      letter-spacing: 0.25px;
      line-height: 18px;
      color: $avenue-secondary-variant-1;

      label {
        margin: 0 0 3px;
      }

      .custom-tooltip {
        display: inline-block;
      }
    }

    .saksfirst-reward-points {
      font-family: $base-fontFamily;
      margin-top: 8px;
      letter-spacing: 0.25px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
    }

    .line-item-promo-mini {
      .promotion-txt {
        color: $black;
        font-family: $base-fontFamily;
        text-transform: uppercase;
      }
    }
  }
}

.valid-cart-error {
  margin: 12px 0 0;
  padding: 10px 15px;
  text-align: center;
  border: solid 1px $avenue-contextual-variant-12;
  color: $avenue-primary-base-2;
  line-height: 18px;
  letter-spacing: 0.25px;
  background: $avenue-contextual-variant-15;
  font-size: 12px;
  border-radius: 2px;
}
