.navigation-section {
  .minicart {
    .popover {
      &.show {
        .container {
          .product-summary {
            .card {
              .card-body {
                .product-line-item-details {
                  .mini-cart-details {
                    .line-item-attributes,
                    .pricing {
                      color: $secondary-Utility-7;
                      font-family: $base-fontFamily;
                    }
                    .line-item-quantity {
                      .qty-error-message {
                        display: block;
                        clear: left;
                      }
                    }
                    .align-items-start {
                      .line-item-total-price {
                        div {
                          color: $secondary-Utility-7;
                        }
                      }
                    }
                    .line-item-header {
                      .brand-name,
                      .line-item-name {
                        span {
                          color: $secondary-Utility-7;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .bag-heading {
            .pdt-nmbr {
              font-family: $base-fontFamily;
            }
          }
        }
      }
    }
  }
}
