.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  bottom: 0;
  position: absolute;
  background-color: transparent;
}

.ps__rail-y {
  display: none;
  opacity: 1;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 10px;
  right: 0;
  position: absolute;
  background-color: transparent;
}

.ps__thumb-x {
  background-color: $secondary-Variant-7;
  border-radius: 0;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 10px;
  bottom: 0;
  position: absolute;
}

.ps__thumb-y {
  background-color: $secondary-Variant-7;
  border-radius: 0;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 12px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active) {
  .ps {
    overflow: auto !important;
  }
}

@media (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

//minicart scrollbar style

.minicart {
  .popover {
    .ps__thumb-y {
      background-color: $secondary-Variant-5;
      border-radius: 10px;
      width: 10px;
    }
  }
}
