//Mobile specific to landscape
$sm-ls: 'screen and (max-width: 767.98px)';

.toggleVis {
  width: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0 20px;

  @media #{$sm-ls} {
    padding: 0;
  }

  .pd-offer {
    padding: 0 5px;
    width: 25%;
    min-height: 222px;
    display: inline-block;
  }

  .text-bg {
    min-height: 168px;
    text-align: center;
    position: relative;
    padding: 0 5px;

    &.black-bg {
      background: $secondary-Variant-1;
      color: $primary-Base-3;
    }

    &.white-bg {
      background: $primary-Base-3;
      color: $secondary-Variant-1;
      border: 2px solid $secondary-Variant-7;
    }

    .head-text {
      font-size: $base-fontSize + 10;
      font-family: $bold-fontFamily;
      line-height: 29px;
    }

    .online-text {
      position: absolute;
      top: 20px;
    }

    .brown-text {
      color: $brown-promo-text;
    }

    .gray-text {
      color: $promo-gray;
    }

    img {
      width: 130px;
      height: 80px;
    }
  }

  .bottom-section {
    background: $secondary-Variant-7;
    min-height: 54px;
    padding: 0 15px;

    .coupon {
      background: none;
      border: 2px solid $primary-Base-2;
      display: flex;
      align-items: center;
      padding: 2px 6px;
      font-family: $bold-fontFamily;

      &::before {
        content: '';
        background: url('../images/promo-apply-img.png') no-repeat;
        width: 18px;
        height: 18px;
        margin: 0 5px 0 0;
        border-radius: 20px;
        background-size: 100%;
      }
    }

    .coupon {
      &.success {
        border: none;
        background-color: $primary-Base;
        color: $primary-Base-3;

        &::before {
          background: url('../images/promo-applied-img.png') no-repeat;
          background-size: 100%;
        }
      }
    }

    a {
      color: $primary-Base-2;
      border-bottom: 1px solid $primary-Base-2;
      line-height: normal;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -35px;
  }

  .slick-arrow {
    position: absolute;

    @extend .svg-svg-14-chevron;
    @extend .svg-svg-14-chevron-dims;

    opacity: 0.5;

    &.slick-prev {
      left: -5px;
      transform: rotate(90deg);
    }

    &.slick-next {
      right: -5px;
      transform: rotate(270deg);
    }

    &.slick-disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }

  .slick-list {
    @media #{$sm-ls} {
      padding: 0 10px !important;

      &.center-content {
        padding: 0 60px;
      }
    }
  }
}

.scroll-holder {
  max-width: 1260px;
  margin: 0 auto;
}

#promo-drawer {
  background: $primary-Base-3;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding: 30px 10px 50px;
  position: fixed;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 11;

  @media #{$sm-ls} {
    padding: 15px 0 30px;
  }

  &.promo-drawer-open {
    transform: translate3d(0, 0, 0);
    z-index: 1042;
  }
}

#drawer-tab {
  position: absolute;
  left: 50%;
  top: 0;
  border: none;
  transform: translate3d(-50%, 10px, 0);
  background: $primary-Base-3;
  padding: 10px 1.5em;
  text-align: center;
  box-shadow: 0 -5px 11px -5px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0;
  font-size: $base-fontSize;
  color: $secondary-Variant-1;
  font-family: $bold-fontFamily;
  transition: all 150ms ease-out;

  &.ready,
  &:not(.ready):focus {
    transform: translate3d(-50%, -100%, 0);
  }

  .promo-drawer-open & {
    transform: translate3d(-50%, -100%, 0);
  }
}

#promo-drawer-overlay {
  background: $secondary-Variant-1;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.25 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1041;
}

#bay-promotray-dialog {
  .promo-tray-close {
    right: 20px;
    position: absolute;
    top: 20px;
    z-index: 99;
    transform: scale(0.75);
  }

  .free-ship {
    font-size: $base-fontSize + 14;
  }

  .modal-dialog {
    max-width: 450px;
  }

  .modal-body {
    padding: 70px 20px 35px;
  }

  .modal-content {
    border: none;
    border-radius: 0;
  }

  .credit-text {
    max-width: 340px;
    margin: 0 auto 25px;

    @media #{$sm-ls} {
      max-width: 280px;
    }
  }

  .free-ship-detail {
    font-size: $base-fontSize - 2;
  }

  .b-text {
    font-family: $bold-fontFamily;
  }

  .ship-method {
    margin: 0 0 25px;
  }
}
