/* For Saksoff5th site changed the wish-list heart icon for the Guest User */
.wishlist-img {
  .plpremove-whishlist {
    @extend .svg-svg-97-heart-red;
    @extend .svg-svg-97-heart-red-dims;

    transform: scale(0.87);
  }
}

/* For Saksoff5th site changed the wish-list heart icon for the Login User */
.wishlistTile {
  &.deselect-wishlist {
    span {
      @extend .svg-svg-97-heart-red;
      @extend .svg-svg-97-heart-red-dims;

      transform: scale(0.87);
    }
  }
}

.product-detail {
  .pdpdeselect-wishlist {
    &.wishlistTile {
      span {
        @extend .svg-svg-97-heart-red;
        @extend .svg-svg-97-heart-red-dims;
      }
    }
  }
}
.product-tile {
  .tile-body {
    .prod-price {
      .off-percentage {
        width: 100%;
        display: inline-block;
      }
    }
    .price {
      .strike-through {
        .value {
          color: $secondary-Utility-7;
        }
      }
    }
  }
}
