@import '~base/components/productCommon';
@import '../components/scene7';

$swatch-display-num: (
  'three': 3,
  'four': 4,
  'five': 5,
  'six': 6
);

@each $swatchdisplay in map-keys($swatch-display-num) {
  $displayValue: #{map-get($swatch-display-num, $swatchdisplay)};

  .swatch-display-#{$swatchdisplay} {
    grid-template-columns: repeat($displayValue, auto) !important;

    li {
      //for when grid unavailable on parent ul (IE)
      flex-basis: calc(100% / #{$displayValue}) !important;
    }
  }
}

// style for add to cart confirmation//

.primary-images-wrapper {
  .primary-image {
    img {
      cursor: url('../images/zoom-In.svg'), move;

      &:hover {
        cursor: url(../images/zoom-In.svg), move;
      }
    }
  }
}

.header {
  .product-added-to-cart-modal {
    visibility: hidden;

    @include media-breakpoint-down(md) {
      visibility: visible;
      top: 100%;
      right: 10px;
    }
  }
}

.main-menu {
  &.fixed {
    .product-added-to-cart-modal {
      top: 60px;
      right: 20px;

      @include media-breakpoint-down(lg) {
        right: 20px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  $swatch-display-num: (
    'three': 2,
    'four': 3,
    'five': 4,
    'six': 5
  );

  @each $swatchdisplay in map-keys($swatch-display-num) {
    $displayValue: #{map-get($swatch-display-num, $swatchdisplay)};

    .swatch-display-#{$swatchdisplay} {
      grid-template-columns: repeat($displayValue, auto) !important;

      li {
        //for when grid unavailable on parent ul (IE)
        flex-basis: calc(100% / #{$displayValue}) !important;
      }
    }
  }
}

.product-detail {
  .primary-image-img {
    margin: 0 auto;
    cursor: pointer;
  }
}

.modal-dialog {
  &.in-store-inventory-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 320px;
    margin: 0;
    right: 0;
    background: $primary-Base-3;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    @include media-breakpoint-up(md) {
      max-width: 337px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
      overflow-y: scroll;
    }

    .modal-body {
      padding: 0 10px 10px;
    }

    .modal-header {
      justify-content: center;
      font-family: $base-fontFamily;
      color: $secondary-Variant-1;
      background: $avenue-secondary-variant-8;
      padding: 7px 14px 8px 10px;
      min-height: auto;
      display: block;

      span {
        width: calc(100% - 28px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 0 0 20px;
        letter-spacing: 0.25px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
      }

      .close {
        position: absolute;
        left: 10px;
        padding: 0;
        margin: 0;
        opacity: 1;
        top: 5px;
        transform: scale(0.593, 0.616);

        @include media-breakpoint-down(md) {
          background-position: 0 74.46640316205534%;
          top: 10px;
          transform: scale(1);
          width: 20px;
          height: 20px;
        }
      }
    }

    .modal-footer {
      display: none;
    }

    .form-check {
      padding: 0;
      margin: 0 0 18px;

      label {
        border: 1px solid $secondary-Variant-6;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 2px;

        &:hover {
          border: 1px solid $secondary-Variant-1;
          cursor: pointer;
        }
      }

      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
      }

      input:checked ~ .form-check-label {
        border: 1px solid $secondary-Variant-1;
      }
    }

    .change-a-store {
      padding: 28px 0 16px;
      text-align: center;
      color: $avenue-contextual-variant-17;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.25px;
      line-height: 26px;
    }

    .store-locator-container {
      padding: 0;

      .store-result.selected-store label {
        border: 1px solid $secondary-Variant-1;
        cursor: pointer;
      }

      .save-pikup {
        position: fixed;
        bottom: 0;
        padding: 10px 0;
        max-width: 271px;
        width: 100%;
        background: $primary-Base-3;

        @media #{$belowdesktop} {
          max-width: 288px;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
          right: 0;
          margin: 0;
          max-width: 100%;
        }

        button {
          &:disabled {
            background: $secondary-Variant-10;
            color: $primary-Base-3;
          }

          @include media-breakpoint-down(sm) {
            width: 94%;
            margin: 0 auto;
          }
        }
      }

      .results {
        margin: 0 0 50px;
      }

      .btn-storelocator-search {
        margin: 0 0 20px;
      }

      .search-form {
        display: block !important;
      }

      .store-locator-search {
        margin: 0 0 18px;

        .form-input {
          flex-basis: 100%;
          margin: 0;
          position: relative;
        }

        .store-select {
          flex-basis: 40%;
          margin: 0 0 0 10px;

          .form-group {
            margin-bottom: 0;

            select {
              cursor: pointer;
            }
          }

          .custom-select {
            .selected-option {
              font-size: $base-fontSize - 2;
              font-family: $bold-fontFamily;
              max-height: 36px;
              min-height: 36px;
              padding: 8.5px 10px;
              border: 1px solid $secondary-Variant-6;

              &::before {
                right: 10px;
              }
            }

            .selection-list {
              top: 34px !important;

              li {
                width: 70%;
                padding: 8px 5px;
                cursor: pointer;
                text-align: left;
                border-bottom: 1px solid $hb-bg-gray;
                margin: 0 0 0 10px;
                font-size: $base-fontSize - 2;
                font-family: $bold-fontFamily;

                &:last-child {
                  border-bottom: none;
                }

                &.selected {
                  background-color: $hb-bg-gray;
                  margin: 0 0 0 5px;
                }

                &:hover {
                  background-color: $hb-bg-gray;
                  margin: 0 0 0 5px;
                }
              }
            }
          }
        }
      }

      .store-locator {
        font-size: $base-fontSize - 2;

        .store-error {
          display: none;
          color: $error-msg;
          padding: 0 0 0 13px;
          margin: 5px 0 18px;
        }

        &.error {
          .store-error {
            display: block;
            margin: 5px 0 18px;
          }

          .store-locator-search {
            margin: 0;

            input {
              border: 1px solid $error-msg;
            }

            label {
              color: $avenue-primary-base-2;
            }
          }
        }
      }

      .available-stores {
        text-align: center;
        font-size: $base-fontSize - 2;
        margin: 0 0 18px;
      }

      .store-details {
        font-size: $base-fontSize - 2;
        line-height: 18px;

        .store-name {
          font-family: $aven-trade-gothic-next-bold;
          color: $avenue-primary-base-2;
        }

        .store-map {
          text-decoration: none !important;
        }

        .set-my-store {
          color: $avenue-primary-base-2;
        }

        .store-name,
        .address-name-sec,
        .address-details-sec {
          text-transform: capitalize;
          color: $black;
        }

        .store-details-right {
          font-family: $aven-trade-gothic-next-regular;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          color: $avenue-primary-base-2;
          flex-basis: 30%;
        }

        .store-hours {
          color: $avenue-secondary-variant-4;
        }

        .store-stock {
          font-family: $aven-trade-gothic-next-bold;

          .available {
            color: $secondary-Utility-4;
          }

          .limited {
            color: $avenue-utility-variant-1;
          }

          .not-available {
            color: $avenue-secondary-variant-4;
          }
        }
      }

      .store-details-left {
        flex-basis: 70%;

        .store-map {
          width: 100%;
          display: inline-block;
          position: relative;
        }
      }
    }
  }
}

.product-added-to-cart-modal {
  max-width: 320px;
  width: 100%;
  height: auto;
  position: absolute;
  top: -35px;
  right: 0;
  padding: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.5);

  @include media-breakpoint-down(lg) {
    right: 20px;
  }

  @include media-breakpoint-down(xs) {
    max-width: 100%;
  }

  .price {
    .strike-through {
      color: $secondary-Utility-7;
    }
  }

  .custom-tooltip {
    display: none;
  }

  &.modal {
    top: -4px;
    left: unset;
    right: 0;

    @include media-breakpoint-down(md) {
      top: 60px;
      left: unset;
      right: 20px;
    }

    @include media-breakpoint-down(xs) {
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
    }

    .modal-content {
      border-radius: 0;
    }

    .modal-dialog {
      margin: 0;

      .modal-body {
        padding: 35px 11px 11px;

        .confirm-container {
          width: 100%;
          display: inline-block;

          .checkout-btn {
            a {
              text-decoration: none;
            }
          }

          .confm-section {
            margin-bottom: 13px;

            .confm-details {
              padding-left: 15px;

              .pdt-name,
              .sales {
                color: $primary-Base-2;
                font-size: $base-fontSize - 2px;
                font-family: $base-fontFamily;
                line-height: 1.16;
                margin-bottom: 5px;
              }

              .brnd-name {
                font-size: $base-fontSize - 2px;
                letter-spacing: 0.5px;
                line-height: 1.16;
                margin-bottom: 5px;
                font-family: $aven-trade-gothic-next-bold;
                color: $black;
              }

              .pdt-name,
              .sales,
              .vari-name .line-item-attributes,
              .price {
                color: $black;
              }

              .vari-name .line-item-attributes {
                color: $primary-Base-2;
                font-size: $base-fontSize - 2px;
                font-family: $base-fontFamily;
                text-transform: capitalize;
              }

              .price {
                font-size: $base-fontSize - 2px;

                .starting,
                .range,
                .sales {
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}

#product-timeline .modal-dialog {
  max-width: 664px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;

  .modal-header {
    position: absolute;
    right: 0;
    border: none;
    z-index: 1;

    .close {
      padding-top: 0.45rem;
    }
  }

  #dsg-editorial.dsg-editorial {
    width: 100%;
  }
}

.product-tile .tile-body .feature-name .feature-txt,
.feature-txt-pdp {
  color: $avenue-secondary-variant-5;
  font-family: $aven-trade-gothic-next-bold;
  letter-spacing: 1.25px;
  border-radius: 2px;
  padding: 3px 6px;
  display: inline-block;
  border: solid 1px $avenue-secondary-variant-7;
  font-size: 10px;
  text-transform: uppercase;
}

.feature-txt-pdp {
  margin-bottom: 10px;
}

div.availability {
  margin-top: 9px;
}
