@import '~core/components/productTiles';
@import 'productTiles-off5th';
@import 'quickView';

.product-tile {
  margin-bottom: 45px;
  padding-top: 130.33%;

  .range {
    padding-bottom: 2px;
    display: inline-block;
  }

  &:not(.disableTileHover) {
    &:hover,
    &:focus-within {
      border-radius: 2px;
    }
  }

  .tile-body {
    font-family: $base-fontFamily;
    margin-top: 9px;

    .limited-inventory {
      color: $avenue-primary-base-2;
    }

    .prdt_tile_btn {
      margin-top: 16px;
      border-radius: 2px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
      padding-top: 9px;

      .hover-content {
        .feature-name {
          display: none;
        }
      }
    }

    .hover-content {
      justify-content: flex-end;
      border-radius: 0 0 5px 5px;

      .prod-price {
        padding-bottom: 18px;
      }

      .product-brand,
      .pdp-link .link {
        display: none !important;
      }

      .color-swatches {
        .swatches {
          a {
            &.colorswatch {
              margin-top: 0;
              margin-bottom: 18px;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          .plus_icon {
            a {
              margin-top: 0;
              position: relative;
              bottom: 8px;
            }
          }

          .size {
            margin-top: 0;
            margin-bottom: 18px;
          }

          .single-size {
            margin-bottom: 18px;
            font-family: $aven-trade-gothic-next-regular;
            color: $avenue-primary-base-2;
          }
        }
      }

      .prdt_tile_btn {
        margin-top: 0;
      }
    }

    .promotion-txt,
    .promotions {
      font-family: $base-fontFamily;
      padding-bottom: 4px;
    }

    .feature-name {
      width: auto;
      margin: 4px 0;
    }

    .ratings {
      margin-top: 0;
      padding: 0;
      margin-right: 0;

      &.ratingExists {
        line-height: 0;
        padding-bottom: 9px;
        margin-bottom: 0;
      }

      .TTteaser__rating {
        line-height: 0;
      }
    }

    .product-brand {
      font-family: $aven-trade-gothic-next-bold;
      color: $avenue-primary-base-2;
      display: inline-block;
      padding-bottom: 2px;
    }

    .pdp-link {
      a {
        color: $avenue-primary-base-2;
        padding-bottom: 2px;
        display: inline-block;
      }
    }

    .price {
      @include media-breakpoint-down(md) {
        padding-top: 2px;
      }

      .value {
        color: $avenue-primary-base-2;
        font-family: $aven-trade-gothic-next-bold;
        letter-spacing: 0.25px;
      }

      .strike-through {
        .value {
          color: $avenue-primary-base-2;
        }
      }
    }

    .prod-price {
      padding-bottom: 2px;
      display: block;

      .off-percentage {
        padding-bottom: 2px;
      }
      .prod-price-remove-space {
        padding-bottom: 0;
      }
    }

    .color-swatches {
      .swatches {
        a.colorswatch {
          height: 26px;
          border: 1px solid $avenue-secondary-variant-6;
          margin-top: 0;
          margin-bottom: 0;

          &.selected {
            height: 26px;
            border: 1px solid $black;

            .color_options .img-container .swatch-circle {
              height: 20px;
              width: 20px;
              margin: 2px;
            }
          }

          @include media-breakpoint-down(md) {
            margin-right: 10px;
          }
        }

        a {
          margin-right: 8px;
          border: 0;

          .color_options {
            .img-container {
              img,
              .swatch-circle {
                width: 24px;
                height: 24px;
                margin: 0;
                border: 0 !important;
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        a.colorswatch {
          &:hover {
            height: 26px;
            border: 1px solid $black;

            .color_options .img-container .swatch-circle {
              height: 24px;
              width: 24px;
              margin: 0;
            }
          }
        }

        a.colorswatch.selected {
          &:hover {
            .color_options .img-container .swatch-circle {
              width: 20px;
              height: 20px;
              margin: 2px;
            }
          }
        }

        .plus_icon {
          position: relative;
          height: 18px;
          width: 18px;

          @include media-breakpoint-down(md) {
            bottom: 2.5px;
            vertical-align: unset;
          }

          a {
            margin: 0;
            background-image: url(../../images/saks-plus-thin.svg);
            background-repeat: no-repeat;
            background-position: right center;
            width: 18px;
            height: 18px;
          }
        }

        @include media-breakpoint-down(xs) {
          .color-exist {
            padding-bottom: 0;
          }
        }
      }

      .size {
        margin: 10px auto 0;

        .slick-arrow {
          &::after,
          &::before {
            width: 1px;
          }
        }

        .sizeSwatch {
          color: $avenue-primary-base-2;
          border-color: $avenue-secondary-variant-6;

          &.size-not-available {
            &::after {
              background: $avenue-secondary-variant-6;
            }
          }
        }
        .sizeSwatch[data-selectableattribute='false'] {
          display: none !important;
        }
        .sizeSwatch[data-selectableattribute='true'] {
          display: block;
        }
      }
    }
  }

  .image-container {
    &:hover,
    &:focus-within {
      border-radius: 5px 5px 0 0;
    }

    .bagde-img {
      font-family: $aven-trade-gothic-next-bold;
    }

    .wishlistTile {
      height: 36px;
      width: 36px;
      top: 6px;
      right: 8px;
      padding: 0;
      border: none;

      span {
        transform: translate(calc(-50% + 0.5px), calc(-50% + 2px)) scale(0.8);

        @media (hover: hover) {
          &:hover {
            @include svg-25-avenue-wishlist-heart-hoverState;
          }
        }
      }
    }

    &.wishlist_checked {
      .customer-content {
        @include media-breakpoint-down(xs) {
          .wishlist_container {
            padding: 0 20px;
          }
        }

        .prod-added {
          font-family: $aven-trade-gothic-next-bold;
          color: $avenue-primary-base-2;
          letter-spacing: 0.25px;
          line-height: 16px;
        }

        .view-btn {
          max-width: 140px;
          padding: 5px 10px;
          border: 1px solid $avenue-primary-base-2;
          color: $avenue-primary-base-2;
          border-radius: 2px;
          margin: 5px auto 0;
          font-family: $aven-trade-gothic-next-regular;

          @include media-breakpoint-down(xs) {
            max-width: 96px;
            padding: 8px 10px;
          }
        }

        .login-options {
          color: $avenue-primary-base-2;
          padding-bottom: 15px;

          .plp-wish-signin {
            color: $avenue-primary-base-2;
            text-decoration: none;
            border-bottom: solid 1px $avenue-primary-base-2;

            &:hover {
              border-color: transparent;
            }
          }
        }
      }
    }
  }

  .quickview {
    padding: 2px 0 0;
    margin-bottom: 18px;
    text-decoration: none;
    width: 100%;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.8);
    outline-offset: -1px;

    .quickview_txt {
      color: $avenue-primary-base-2;
      border-color: $avenue-primary-base-2;
      font-family: $base-fontFamily;
      font-size: $base-fontSize - 2px;
      line-height: 1.5;
      text-transform: uppercase;
      padding-bottom: 0;
      border-bottom: 1px solid $primary-Base-2;

      &:hover {
        border-bottom: none;
      }
    }
  }

  .badges-container {
    height: auto;
    min-height: 18px;
  }

  &:hover {
    .hover-content {
      .quickview {
        visibility: visible;
      }
    }
  }
}

/* For Avenue site changed the wish-list heart icon for the Guest User */
.wishlist-img {
  .plpremove-whishlist {
    @extend .svg-25-avenue-wishlist-heart-hover;
    @extend .svg-25-avenue-wishlist-heart-hover-dims;

    transform: scale(0.87);
  }
}

/* For Avenue site changed the wish-list heart icon for the Login User */
.wishlistTile {
  &.deselect-wishlist {
    span {
      @extend .svg-25-avenue-wishlist-heart-hover;
      @extend .svg-25-avenue-wishlist-heart-hover-dims;

      transform: scale(0.87);
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.product-detail {
  .pdpdeselect-wishlist {
    &.wishlistTile {
      span {
        @extend .svg-25-avenue-wishlist-heart-hover;
        @extend .svg-25-avenue-wishlist-heart-hover-dims;
      }
    }
  }
}

.badges-container {
  height: 27px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: $base-fontSize - 4;

  span {
    display: block;
    padding-bottom: 2px;
  }
}

.wishlist-cart-slider,
.recommendations {
  .badges-container {
    height: 27px;
  }
}
.product-block-tiles {
  .tile-body{
    display: flex;
    flex-direction: column-reverse;
    .hover-content {
      position: static;
      .product-tile-url:nth-of-type(2n){
        display: none;
      }
    }
  }
}

.product-block-tiles{
  .products{
    .product{
      padding-inline: 5px;
    }
  }
}
