@import '~core/components/quickView';
@import '../product/product_detail';
@import 'avenue-sprite';

#quickViewModal {
  .quick-view-dialog {
    max-width: 857px;
    .product-detail {
      .primary-image-img {
        height: 552px;
      }
    }
  }
}

.quick-view-dialog {
  .primary-images-container,
  .quickview-productdetails {
    width: 50%;
    max-width: 50%;
    float: left;
  }

  .product-detail {
    .primary-image-img {
      margin-bottom: 0;
    }
  }

  .add-to-cart-global {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    .fa {
      display: none;
    }
  }

  .modal-content {
    .modal-body {
      .product-quickview {
        .attributes > .row > [class*='col-'] > *:not(:empty) {
          margin-bottom: 0;
        }

        .quickview_container {
          .primary-images-container {
            .primary-images-wrapper {
              .slick-next,
              .slick-prev {
                @extend .svg-37-avenue-Active;
                height: 27px;
                width: 27px;
              }
              .slick-prev {
                transform: rotate(180deg);
                left: 0;
              }
              .slick-next {
                right: 0;
              }
              .pdp-video {
                display: none;
              }
            }
          }
          .quickview-productdetails {
            .product-brand-name {
              font-size: 28px;
              letter-spacing: 1.2px;
              line-height: 32px;
              font-family: $Moneta-regular;
            }

            .product-name {
              font-size: 14px;
              letter-spacing: 0.25px;
              line-height: 20px;
              color: $avenue-secondary-variant-1;
              margin-bottom: 9px;
            }

            .price-segment {
              .prices {
                .prod-price {
                  .price {
                    span.strike-through {
                      margin-right: 0;
                      .value {
                        color: $avenue-secondary-variant-5;
                        font-size: $base-fontSize;
                      }
                    }
                    .value {
                      .formatted_sale_price {
                        font-size: 14px;
                        color: $avenue-secondary-variant-1;
                        font-family: $aven-trade-gothic-next-bold;
                      }
                      .formatted_price {
                        font-size: $base-fontSize;
                      }
                    }
                  }
                }
              }
            }
            .detail-panel {
              .attributes {
                .qty-bag-section {
                  margin-bottom: 27px;
                  width: auto;

                  .quantity {
                    .content {
                      display: inline-flex;
                    }
                  }
                }

                .product-availability {
                  padding: 13px 0 5px;
                  margin: 0;
                }

                .view-product-information {
                  .view-full-product-info {
                    letter-spacing: 0.25px;
                    line-height: 18px;
                    color: $avenue-secondary-variant-1;
                    font-family: $base-fontFamily;
                  }
                }
              }

              .row[data-attr='size'] {
                .attribute {
                  margin-bottom: 27px;
                }
              }

              .row[data-attr='color'] {
                .attribute {
                  margin-bottom: 18px;

                  .non-input-label {
                    margin-bottom: 0;
                  }

                  .color-wrapper li {
                    margin-top: 17px;
                  }
                }
              }

              .wishlist-pdp-button {
                margin-bottom: 27px;
                margin-top: 30px;
              }
            }
          }
          .js-add-to-waitlist-link {
            margin-bottom: 18px;
            .col-sm-12 {
              padding: 0;
            }
            .add-to-waitlist-link {
              width: 100%;
            }
          }

          .promotion-txt {
            font-family: $base-fontFamily;
          }
        }
      }
    }
  }
}
