@import '../config/variables';

.s7flyoutviewer .s7flyoutzoomview .s7highlight {
  cursor: url('../images/zoom-Pan.svg'), move !important;
}

//Scene 7 overrides
.product-detail {
  //Scene 7 video override
  .video-place-holder {
    @include media-breakpoint-down(md) {
      height: 100% !important;
    }
  }

  .s7socialbutton {
    display: none;
  }

  .s7-viewer-video {
    height: 0 !important;
    padding-top: 133.334%;
    position: relative;

    > .s7container {
      position: absolute !important;
      top: 0;
      left: 0;
    }

    @include media-breakpoint-up(md) {
      width: 100%;
      margin: 0 0 0 auto;
    }

    @include media-breakpoint-down(md) {
      &:not(.s7touchinput) {
        display: none;
      }

      &.active {
        display: block;
        position: absolute;
        width: 100%;
        height: 95%;
        top: 0;
      }
    }

    .s7videoplayer {
      background-color: transparent;
      cursor: pointer;
    }
  }

  //Scene 7 override
  .s7-viewer,
  .s7-viewer-qv {
    position: relative;
    width: 100%;
    height: 100%;

    .s7flyoutzoomview,
    .s7flyoutzoom {
      border: none;
      cursor: url('../images/zoom-Pan.svg'), move;
    }

    .s7flyoutzoom {
      left: 0 !important;
      width: 100% !important;
    }
  }

  //Scene 7 override
  .s7container {
    .s7innercontainer {
      display: none;

      &:nth-child(1) {
        display: block;
        position: absolute;
      }
    }
  }

  &.product-set-detail,
  &.product-quickview {
    .video-place-holder {
      height: 400px !important;
    }

    .s7-viewer-video {
      > .s7container {
        height: 400px !important;
      }
    }
  }
}

.s7tooltip {
  display: none;
}

.s7videoviewer {
  .s7controlbar {
    height: 30px;
    background-color: rgba($avenue-primary-base-1, 0.6) !important;
    background-image: none !important;
  }

  .s7videoplayer .s7iconeffect[state] {
    background-image: url(../../images/IconEffect_video_sprite.png) !important;
  }

  .s7playpausebutton[selected][state],
  .s7playpausebutton[selected][state][replay] {
    background-image: url(../../images/PlayPauseButton_sprite.png) !important;
    cursor: pointer;
  }

  .s7mutablevolume,
  .s7fullscreenbutton {
    display: none;
  }

  .s7videoscrubber {
    .s7track,
    .s7trackloaded {
      background-color: $avenue-secondary-variant-7 !important;
    }

    .s7trackplayed {
      background-color: $avenue-secondary-variant-4 !important;
    }
  }

  .s7videotime {
    top: 5px !important;
    right: 10px !important;
    color: $avenue-primary-base-2 !important;
    font-family: 'trade-gothic-next-regular', 'Helvetica Neue', helvetica, arial, sans-serif !important;
    font-size: 12px !important;

    @include media-breakpoint-down(md) {
      top: 22px !important;
    }
  }
}
