// core inheritance

//HBC slider specific. Any override should be done through specific classes.
.hbc-slider {
  .slick-dots {
    li {
      width: 10px;
      display: inline;
    }
  }

  &.slick-slider {
    .slick-next,
    .slick-prev {
      background: none;
      z-index: 2;

      &::before {
        z-index: 2;
        content: '';
        width: 28px;
        height: 16px;
        display: inline-block;

        @extend .svg-svg-14-chevron;
      }

      &.slick-disabled {
        opacity: 0.2;
      }
    }

    .slick-prev {
      top: 34%;
      left: 12px;

      &::before {
        transform: rotate(90deg);
      }
    }

    .slick-next {
      bottom: auto;
      top: 34%;
      left: auto;
      right: 23px;

      &::before {
        transform: rotate(270deg);
      }
    }

    .video-place-holder {
      display: none;
    }

    .slick-current {
      .video-place-holder {
        display: block;
      }
    }
  }

  .product-tile {
    border: 0;

    .image-container {
      .thumb-link {
        max-width: 226px;
        margin: 0 auto;
      }
    }

    &:hover {
      .hover-content {
        visibility: hidden;
      }

      .hover-bg-content,
      .product-brand,
      .link,
      .ratings,
      .feature-name,
      .limited-inventory {
        visibility: visible !important;
      }
    }

    .tile-body {
      .pdp-link {
        a {
          color: $secondary-Utility-6;
        }
      }
    }

    .color-swatches,
    .quickview,
    .add-to-cart {
      display: none !important;
    }
  }
}

//Override to recommendation products
.recommendation-products {
  .slick-slide {
    .product {
      padding-right: 10px;
    }
  }

  .slick-list {
    @include media-breakpoint-up(lg) {
      max-width: 1155px;
      margin: 0 auto;
      width: calc(100% - 60px);
    }

    @include media-breakpoint-down(md) {
      padding: 0 11% 0 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 0 35% 0 0;
    }
  }
}

//Override to pdp sliders
.product-detail {
  .slick-slider {
    .slick-dots {
      bottom: 0;
    }

    .slick-next,
    .slick-prev {
      z-index: 2;
    }

    .slick-prev {
      top: -30px;
      left: 18px;
      transform: rotate(91deg);

      @include media-breakpoint-down(md) {
        top: 45%;
        left: 0;
        transform: rotate(0deg);
      }

      @include media-breakpoint-down(xs) {
        &.slick-arrow {
          left: 4px;
          width: 44px;
          height: 44px;
        }
      }
    }

    .slick-next {
      bottom: -40px;
      top: auto;
      left: 18px;
      transform: rotate(88deg);

      @include media-breakpoint-down(md) {
        top: 45%;
        right: 0;
        left: auto;
        transform: rotate(0deg);
      }

      @include media-breakpoint-down(xs) {
        &.slick-arrow {
          right: 8px;
          width: 44px;
          height: 44px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .slick-list {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .recommendation-products {
    &.slick-slider {
      .slick-prev {
        top: 34%;
        left: 10px;
        transform: rotate(0deg);
      }

      .slick-next {
        bottom: auto;
        top: 34%;
        left: auto;
        right: 10px;
        transform: rotate(0deg);
      }
    }
  }
}

//Override to shop the look products
.mRecommendation {
  .slick-slider {
    .slick-prev {
      top: 40%;
      left: 0;
      transform: rotate(0deg);
    }

    .slick-next {
      bottom: auto;
      top: 40%;
      left: auto;
      transform: rotate(0deg);
    }
  }
}

//Override to pdp sliders
.product-detail {
  .slick-slider {
    .thumb-nail {
      height: 80px;
      width: 60px !important;
      margin-bottom: 10px;
      padding: 1px;
      text-align: center;
      cursor: pointer;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }

      .img-fluid {
        margin: 0 auto;
        height: 100%;
      }
    }

    .slick-current {
      .thumb-nail {
        &.active {
          border: 1px solid $secondary-Variant-2;
        }
      }
    }

    .slick-dots {
      bottom: 0;
    }

    .slick-next,
    .slick-prev {
      z-index: 2;
    }

    .slick-prev {
      top: -30px;
      left: 18px;
      transform: rotate(91deg);

      @include media-breakpoint-down(md) {
        top: 45%;
        left: 0;
        transform: rotate(0deg);
      }
    }

    .slick-next {
      bottom: -40px;
      top: auto;
      left: 18px;
      transform: rotate(88deg);

      @include media-breakpoint-down(md) {
        top: 45%;
        right: 0;
        left: auto;
        transform: rotate(0deg);
      }
    }

    @include media-breakpoint-down(md) {
      .slick-list {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .no-slider-desktop,
  .zoom-thumbnails {
    @include media-breakpoint-up(md) {
      .slick-track,
      .slick-list {
        height: auto !important;
        transform: translate3d(0, 0, 0) !important;
      }
    }
  }

  .zoom-thumbnails {
    max-width: 80px;
    overflow: auto;
  }
  // gift card would always have single image in pdp. This code gave issue hence wrapped to restrict for gc
  @include media-breakpoint-up(md) {
    &:not(.giftcard-pdp) {
      .x-fade {
        position: relative;

        > * {
          &:not(.active) {
            position: absolute !important;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: 1;
          }

          &.previously-active {
            opacity: 1;
            z-index: 2;
          }

          &.active {
            position: relative;
            animation: $animation-default-duration ease-out fade-in;
            z-index: 3;
          }
        }
      }
    }
  }
}

//Override to shop the look products
.mRecommendation {
  .slick-slider {
    .slick-prev {
      top: 35%;
      left: 0;
      right: auto;
      transform: rotate(0deg);
    }

    .slick-next {
      bottom: auto;
      top: 35%;
      left: auto;
      right: 0;
      transform: rotate(0deg);
    }
  }
}

.slider-heading {
  font-size: $base-fontSize + 10px;
  line-height: 1.1;
  margin: 37px 0 11px;
}

// TODO refactor above into below. Remove unused.

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-arrow {
  @extend .svg-svg-88-chevron-o;
  @extend .svg-svg-88-chevron-o-dims;

  &::before {
    content: none;
  }
}

.slick-dots {
  text-align: center;
  position: relative;
  bottom: 0;

  li.slick-active {
    button::after {
      background: $avenue-secondary-variant-1;
      opacity: 1;
    }
  }

  li {
    display: inline-block;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      font-size: 0;
      height: 12px;
      cursor: pointer;
      padding-left: 4px;
      padding-right: 4px;
      width: 14px;

      &:hover,
      &:focus {
        &::before {
          opacity: 0.75;
        }
      }

      &::before {
        color: transparent;
      }
    }


    button::after {
      content: '';
      display: inline-block;
      border: 1px solid $secondary-Variant-2;
      background: $avenue-secondary-variant-1;
      opacity: 0.3;
      border-radius: 50%;
      width: 7px;
      height: 7px;
    }
  }
}

.touchscreen-slider-dots {
  &.slick-dots {
    li {
      button::after {
        width: 5px;
        height: 5px;
        border: 0;
      }
    }
  }
}
