@import '~core/slot';
@import 'slot-off5th';

//common slider heading styles for slots
.slider-heading,
.home-slots .slider-heading {
  font-family: $Moneta-regular;
  font-size: $base-fontSize + 14px;
  letter-spacing: 1.2px;
  line-height: 38px;
  text-transform: none;
  margin: 0 0 45px;
  position: relative;

  @include media-breakpoint-down(md) {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 18px;

    &.text-center {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: $avenue-secondary-variant-7;
    left: 0;
    top: 53%;
  }

  span {
    padding: 1.5px 15px;
    display: inline-block;
    position: relative;
    background-color: $avenue-primary-base-1;
    z-index: 5;

    @include media-breakpoint-down(md) {
      padding: 3px 15px;
    }
  }

  body.hide-womens & {
    font-family: $aven-trade-gothic-next-condensed-bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}

.hbc-slider {
  //common code for the category-info
  .category-info-style {
    display: block;
    font-family: $aven-trade-gothic-next-bold;
    font-size: $base-fontSize;
    color: $avenue-secondary-variant-1;
    text-align: center;
  }

  //catergory slider: 5-up-category styling
  &.homepage-cat-slider {
    &:not(.slick-initialized) {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      > * {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 25%;

        @include media-breakpoint-down(md) {
          width: 22.5%;
        }
        @include media-breakpoint-down(xs) {
          width: 42%;
        }
        padding: 0 10px 0 0;
      }

      .category-item {
        @include media-breakpoint-down(md) {
          &:last-child {
            width: calc(22.5% + 10px);
            padding-right: 20px;
          }
        }
        @include media-breakpoint-down(xs) {
          &:last-child {
            width: 42%;
            padding-right: 10px;
          }
        }
      }

      + .touchscreen-slider-dots {
        display: none;
      }
    }

    max-width: 1062px;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      max-width: 902px;
    }

    @include media-breakpoint-down(md) {
      max-width: 790px;

      .slick-list {
        padding: 0;
      }
    }

    @media #{$belowtab} {
      max-width: 100%;
    }

    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
      top: 33%;
    }

    .category-tile {
      &:before {
        content: none;
      }
    }

    .category-img {
      max-width: 183px;

      @include media-breakpoint-down(lg) {
        max-width: unset;
      }
    }

    .slick-slide {
      padding: 0 7px;

      @include media-breakpoint-down(md) {
        padding: 0 0 0 6px;
      }
    }

    .category-item {
      text-align: center;
    }

    .category-info {
      @extend .category-info-style;
      display: inline-flex;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-top: 12px;
      padding: 2px 10px;

      @include media-breakpoint-down(xs) {
        letter-spacing: normal;
      }
    }
  }

  //common homepage slick arrow styling
  &.slick-slider {
    .slick-arrow {
      @extend .svg-37-avenue-Active;
      @extend .svg-37-avenue-Active-dims;

      &::before {
        content: none;
      }
    }

    .slick-prev {
      transform: rotate(180deg) scale(0.8);
    }

    .slick-next {
      transform: rotate(360deg) scale(0.8);
    }

    .slick-prev,
    .slick-next {
      height: 28px;
    }
  }
}

.home-slots {
  //common slider heading style for homepage
  .slider-heading {
    line-height: 32px;
    margin: 24px 0 27px;

    span {
      padding: 1.5px 15px;
      display: inline-block;

      @include media-breakpoint-down(md) {
        padding: 3px 15px;
      }
    }
  }

  .slider-heading-4-up {
    @media #{$sm-ls} {
      margin: 0 0 18px;
      padding: 0;
    }
  }

  .hbc-slider {
    &.slick-slider {
      .slick-prev,
      .slick-next {
        height: 28px;
      }

      @include media-breakpoint-down(md) {
        .slick-list {
          padding: 0;
        }
      }
    }

    &.homepage-cat-slider {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        margin: 0 0 0 20px;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 0 0 10px;
      }
    }

    &.category-slider {
      max-width: 1180px;
      margin: 0 auto;

      &.product-category {
        .product-tile {
          .tile-body {
            .price {
              padding-top: 0;

              .value {
                font-family: $base-fontFamily;
              }
            }
          }
        }

        .slick-track {
          display: flex;

          .slick-slide {
            height: inherit;

            > div {
              height: 90%;
            }
          }
        }

        .catgeory-info-count {
          position: static;
          align-items: center;
          justify-content: center;
        }

        .view-slide,
        .view-slide div {
          height: 100%;
        }

        .category-tile {
          &::before {
            content: none;
          }
        }

        &.touchscreen-slider-initialized > div {
          height: inherit !important;

          &.view-slide {
            .category-tile {
              height: 93% !important;

              @include media-breakpoint-up(lg) {
                height: 84% !important;
              }

              @media #{$belowtab} {
                height: 91% !important;
              }
            }
          }
        }
      }

      @include media-breakpoint-down(lg) {
        max-width: 976px;
      }

      @include media-breakpoint-down(md) {
        padding: 0 20px;

        &.product-category {
          .category-item {
            width: 226px;
            padding-left: 8px;
            padding-right: 8px;

            &:first-child {
              padding-left: 20px;
              width: 238px;
            }
            &:last-child {
              padding-right: 20px;
              width: 238px;
            }

            @media #{$belowtab} {
              width: 42%;
              padding: 0 6px;

              &:first-child {
                padding-left: 6px;
                width: 42%;
              }
              &:last-child {
                padding-right: 6px;
                width: 42%;
              }
            }
          }
        }
      }

      @media #{$belowtab} {
        max-width: 374px;
      }

      @media #{$sm-ls} {
        padding: 0 12px;
      }

      .category-img {
        max-width: 283px;

        @include media-breakpoint-down(lg) {
          max-width: 232px;
        }

        @include media-breakpoint-down(md) {
          max-width: 170px;
        }

        @media #{$belowtab} {
          max-width: 159px;
        }
      }

      .category-info {
        @extend .category-info-style;
        display: inline-flex;
        line-height: 18px;
        letter-spacing: 1.25px;
        padding: 3px 0px;
        margin-top: 14px;
        border-bottom: solid 1px $avenue-secondary-variant-1;

        @media #{$sm-ls} {
          margin-top: 7px;
        }
      }

      .category-item {
        padding: 0 6px;
        text-align: center;

        @include media-breakpoint-up(lg) {
          width: 25%;
        }

        @include media-breakpoint-down(md) {
          width: 23.4%;
          padding: 0;
          margin: 0 auto;
        }

        @media #{$sm-ls} {
          width: 50%;
          padding: 0 8px;
          margin: 18px auto 0;
        }

        a {
          &:hover {
            text-decoration: none;

            span.category-info {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &.homepage-slider {
      &.hero-banner {
        .content-body {
          @media #{$largedesktop} {
            max-width: 2000px;
            margin: 0 auto;
            display: block !important;
          }
        }
      }
    }
  }

  .html-container-template1 {
    background: $avenue-contextual-variant-14;
    font-family: $aven-trade-gothic-next-regular;
    font-size: $base-fontSize;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-top: 0;

    .container-template1 {
      padding: 13px 0 17px;

      @media #{$belowtab} {
        padding: 21px 20px 26px;
      }
    }

    p {
      margin: 0;
    }

    a {
      &.terms-condition {
        margin-left: 12px;

        @media #{$belowtab} {
          display: table;
          margin: 3px auto 0;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.term-condition-section {
  max-width: 748px;

  .terms-condition-close {
    top: 18px;
    right: 18px;
    transform: scale(0.93);
  }

  .term-condition-inner {
    padding: 84px 5px 83px;

    @include media-breakpoint-down(md) {
      padding: 84px 36px 83px;
    }

    .terms-text {
      font-family: $Moneta-regular;
      font-size: 28px;
      letter-spacing: 1.2px;
      line-height: 32px;
      margin-bottom: 13px;

      @include media-breakpoint-down(md) {
        font-size: 26px;
        letter-spacing: 1px;
      }
    }

    .terms-policy {
      margin-bottom: 25px;
      @extend .small-text;
      font-size: $base-fontSize;
      line-height: 20px;
    }

    .continue-shop {
      max-width: 237px;
      border: none;
    }
  }
}

.terms-condition {
  color: $avenue-primary-base-2;
  font-size: $base-fontSize;

  &:hover {
    color: $avenue-primary-base-2;
  }
}

.terms-overlay {
  &.show {
    opacity: 0.6;
  }
}

.slider-heading-section,
.slider-wrapper {
  &.row {
    @media #{$sm-ls} {
      margin: 0 auto;
    }
  }
}

.three-up-row {
  .below {
    .content-image {
      &:before {
        content: none;
      }
    }
  }

  .content-body {
    margin: 0 17px 0 0;
    flex-basis: calc(33.3% - 17px);

    @include media-breakpoint-down(md) {
      margin: 0 14.5px 0 0;
      flex-basis: calc(33.3% - 14.5px);
    }

    @media #{$belowtab} {
      margin: 0 0 41px;
      flex-basis: 100%;

      &:last-child {
        margin: 0;
      }
    }

    .content-text {
      padding: 18px 0 0;

      @media #{$belowtab} {
        padding: 9px 0 0;
      }
    }
  }

  .link-cta {
    span {
      height: 1px;
      bottom: 5px;
    }
  }
}

.home-slots {
  > .wrapper-container,
  > .row,
  > .html-slot-container,
  > .content-body,
  .wrapper-content:not(.hero-banner) {
    padding: {
      left: 0 !important;
      right: 0 !important;
    }

    .hbc-slider {
      padding-left: 0;
      padding-right: 0;

      &.slick-initialized {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .wrapper-content.three-up-row {
    @include media-breakpoint-down(md) {
      padding: 0 20px 54px;
    }

    @media #{$belowtab} {
      padding: 0 0 54px;
    }
  }
}

.banner-heading {
  font-family: $Moneta-regular;
  font-size: $base-fontSize + 18;
  letter-spacing: 1.37px;
  line-height: 34px;
  margin: 0 0 9px;

  @include media-breakpoint-down(md) {
    font-size: $base-fontSize + 16;
    letter-spacing: 1.29px;
  }

  body.hide-womens & {
    font-family: $aven-trade-gothic-next-condensed-bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  &.mensSmalls {
    font-family: $aven-trade-gothic-next-condensed-bold;
    font-size: 50px;
    line-height: 54px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 34px;
      line-height: 38px;
      letter-spacing: 0.5px;
    }
  }

  &.mensLarge {
    font-family: $aven-trade-gothic-next-condensed-bold;
    font-size: 100px;
    line-height: 104px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 50px;
      line-height: 54px;
      letter-spacing: 0.5px;
    }
  }
}

.banner-sub-heading {
  font-size: $base-fontSize;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 0 auto 10px;
  color: $avenue-primary-base-2;
}

.link-cta {
  font-family: $aven-trade-gothic-next-bold;
  font-size: $base-fontSize;
  font-weight: 700;
  letter-spacing: 1.25px;
  line-height: 18px;
  padding: 9px;
  margin: 0;

  &:hover {
    background: $avenue-secondary-variant-1;
  }

  &:after {
    height: 1px;
    bottom: 5px;
  }

  span {
    height: 1px;
    bottom: 5px;
  }
}

//for 2-up-row styles
.two-up-row.hbc-slider {
  &.slick-slider {
    max-width: 972px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding-left: 20px;
    }

    @media #{$belowtab} {
      padding: 0 0 54px;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 16px;
    }

    @media #{$belowtab} {
      .slick-list {
        padding: 0;
      }
    }
  }

  .slick-slide {
    .content-body {
      padding-right: 17px;

      @media #{$belowtab} {
        padding-right: 0;
      }
    }
  }

  .content-body {
    .content-text {
      padding: 0;
    }

    .content-image {
      margin: 0 auto 5px;
    }
  }

  .slick-dots {
    li.slick-active {
      button::after {
        background: $avenue-secondary-variant-1;
        opacity: 1;
      }
    }

    li {
      button::after {
        background: $avenue-secondary-variant-1;
        opacity: 0.1;
        width: 5px;
        height: 5px;
        border: 0;
      }
    }
  }
}

.slider-heading-section.row {
  width: 100%;
  margin: 0;
}

.home-slots {
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*
  For hero banner
*/
.home-main,
.home-2,
.home-3 {
  &.home-slots {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-banner {
  max-width: unset !important;

  .slick-dots {
    bottom: 38px;
    height: auto;

    @include media-breakpoint-down(md) {
      bottom: 29px;
      top: auto !important;
    }

    @media #{$belowtab} {
      bottom: 23px;
    }
  }
}

.hero-banner {
  &.promo-banner {
    .content-body {
      &.withinCenter {
        .content-text {
          background-repeat: no-repeat !important;
          background-size: cover !important;
          position: static;
          max-width: unset;
          transform: none;
          padding: 27px 0 36px;

          .content-row {
            max-width: 1260px;
            margin: 0 auto;
            align-items: center;
          }

          @media #{$belowtab} {
            padding: 22px 0 13px;
          }

          .banner-sub-heading {
            max-width: 100%;
          }

          &.cols {
            @include media-breakpoint-down(md) {
              &:first-child {
                padding-right: 0;
              }
            }
          }
        }
      }
    }

    .banner-heading {
      padding-top: 5px;
      margin: 0 0 5px;
      font-family: $Moneta-bold;
      font-size: $base-fontSize + 19;
      line-height: 47px;
      letter-spacing: 1.88px;

      @include media-breakpoint-down(md) {
        font-family: $Moneta-black;
        font-size: $base-fontSize + 22;
        line-height: 38px;
        letter-spacing: 1.5px;
        margin: 0 0 4px;
      }

      @media #{$belowtab} {
        margin: 0 0 5px;
        letter-spacing: 1px;
      }
    }

    .banner-sub-heading {
      font-size: $base-fontSize + 2;
      line-height: 26px;
      margin-bottom: 0;

      @include media-breakpoint-down(md) {
        color: $avenue-primary-base-1;
        font-size: $base-fontSize;
        line-height: 20px;
      }
    }

    .cols {
      @media #{$belowtab} {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
        &.details-holder {
          margin-bottom: 4px;
        }
      }
    }

    .cta-links-wrap {
      @include media-breakpoint-up(lg) {
        padding-left: 0;
        padding-right: 20px;
      }
    }

    .post-button-details {
      letter-spacing: 1.2px;
      color: $avenue-primary-base-1;
      margin-top: 8px;
      font-size: $base-fontSize + 2;
      line-height: 24px;
      letter-spacing: 0.4px;

      @include media-breakpoint-down(md) {
        font-size: $base-fontSize;
        line-height: 20px;
        letter-spacing: 0.25px;
      }

      @media #{$belowtab} {
        margin-top: 0;
      }

      a {
        display: table;
        margin: 12px auto 20px;
        color: $avenue-primary-base-1;
        border-bottom: solid 1px $avenue-primary-base-1;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 0;

        &:hover {
          text-decoration: none;
          border-color: transparent;
        }

        @include media-breakpoint-down(md) {
          margin-top: 13px;
        }

        @media #{$belowtab} {
          margin: 1px auto 0;
          line-height: normal;
        }
      }
    }

    .cta-link span,
    .link-cta {
      text-transform: uppercase;
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 1.2px;
      line-height: 18px;

      &:hover,
      &:focus,
      &:active {
        background: $avenue-primary-base-2;
      }
    }

    .link-cta {
      @include media-breakpoint-down(md) {
        letter-spacing: 1.25px;
      }
    }
  }
}

.hero-banner {
  .content-body {
    &.withinBottomCenter,
    &.withinBottom,
    &.withinBottomLeft,
    &.withinBottomRight,
    &.withinTopRight,
    &.withinTopCenter,
    &.withinTop,
    &.withinTopLeft,
    &.withinMiddleRight,
    &.withinRight,
    &.withinMiddleCenter,
    &.withinCenter,
    &.withinMiddleLeft,
    &.withinLeft {
      .content-text {
        position: absolute;
        width: 100%;
        text-align: center;
        max-width: 383px;
        padding: 0;

        .banner-sub-heading {
          max-width: 100%;
        }

        @media #{$belowdesktop} {
          max-width: 317px;
        }

        @include media-breakpoint-down(md) {
          max-width: 272px;
        }
      }
    }

    &.withinMiddleRight,
    &.withinRight {
      .content-text {
        right: 8%;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &.withinMiddleCenter,
    &.withinCenter {
      .content-text {
        max-width: 581px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .banner-sub-heading {
          max-width: 67%;
        }

        @media #{$largedesktop} {
          max-width: 792px;
        }

        @media #{$belowdesktop} {
          .banner-sub-heading {
            max-width: 60%;
          }
        }

        @include media-breakpoint-down(md) {
          max-width: 356px;

          .banner-sub-heading {
            max-width: 80%;
          }
        }
      }
    }

    &.withinMiddleLeft,
    &.withinLeft {
      .content-text {
        left: 8%;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &.withinTopCenter,
    &.withinTop {
      .content-text {
        top: 54px;
        transform: translate(-50%, 0);
        left: 50%;
      }
    }

    &.withinTopLeft {
      .content-text {
        top: 54px;
        left: 8%;
      }
    }

    &.withinTopRight {
      .content-text {
        top: 54px;
        right: 8%;
      }
    }

    &.withinTopCenter,
    &.withinTop,
    &.withinTopRight,
    &.withinTopLeft {
      .content-text {
        @media #{$belowdesktop} {
          top: 8%;
        }
      }
    }

    &.withinBottomCenter,
    &.withinBottom {
      .content-text {
        top: auto;
        bottom: 61px;
        transform: translate(-50%, 0);
        left: 50%;
      }
    }

    &.withinBottomLeft {
      .content-text {
        top: auto;
        bottom: 61px;
        left: 8%;
      }
    }

    &.withinBottomRight {
      .content-text {
        top: auto;
        bottom: 61px;
        right: 8%;
      }
    }

    &.withinBottomCenter,
    &.withinBottom,
    &.withinBottomLeft,
    &.withinBottomRight {
      .content-text {
        @media #{$belowdesktop} {
          bottom: 10%;
        }
      }
    }

    @media #{$belowtab} {
      &.withinBottomCenter,
      &.withinBottom,
      &.withinBottomLeft,
      &.withinBottomRight,
      &.withinTopRight,
      &.withinTopCenter,
      &.withinTop,
      &.withinTopLeft,
      &.withinMiddleRight,
      &.withinRight,
      &.withinMiddleCenter,
      &.withinCenter,
      &.withinMiddleLeft,
      &.withinLeft {
        .content-text {
          max-width: 330px;
          top: 50%;
          left: 50%;
          right: auto;
          transform: translate(-50%, -50%);

          .banner-sub-heading {
            max-width: 100%;
          }
        }

        &.withinMobileTop {
          .content-text {
            top: 8%;
            transform: translate(-50%, 0);
          }
        }

        &.withinMobileBottom {
          .content-text {
            top: auto;
            bottom: 10%;
            transform: translate(-50%, 0);
          }
        }
      }
    }

    @media #{$belowtab} {
      &.belowImage {
        .content-text {
          position: static;
          transform: unset;
          margin: 18px auto 0;
        }
      }
    }
  }

  .cta-link,
  .link-cta {
    margin-right: 0;
    margin-left: 0;
  }

  .cta-link {
    margin-top: 14px;
  }

  .link-cta {
    margin: 0 0 5px;
    font-weight: normal;

    @media #{$belowtab} {
      margin: 0;
    }

    span {
      height: 1px;
    }
  }

  .break {
    flex: none;
  }

  .button-link {
    border: 1px solid $black;
    line-height: 45px;
    padding: 0 28.5px;
    font-family: $base-fontFamily;

    @media #{$belowdesktop} {
      padding: 0 40px;
    }
  }

  .button-link.btn-secondary {
    &:not(:disabled) {
      &:hover,
      &:active {
        color: $btn-sec-txt-col-hov;
        background-color: $btn-sec-bgcol-hov;
      }
    }
  }

  .preheader-text {
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding-bottom: 8px;

    @include media-breakpoint-down(md) {
      font-size: 15px;
      line-height: 23px;
    }
  }

  .post-button-details {
    font-size: 14px;
    margin-top: 20px;

    .post-button-details-link {
      cursor: pointer;
      color: inherit;
      text-decoration: underline;
      margin-left: 18px;
      position: relative;
      bottom: 1px;

      &:hover {
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 11px;
    }
  }

  .banner-heading {
    margin: 0 0 18px;

    p {
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      margin: 0 0 9px;
    }

    &.womensSmallRegular,
    &.womensSmallBold,
    &.womensSmallBlack {
      font-size: 50px;
      line-height: 54px;
      letter-spacing: 1px;

      @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 36px;
      }
    }

    &.womensLargeRegular,
    &.womensLargeBold,
    &.womensLargeBlack {
      font-size: 100px;
      line-height: 104px;
      letter-spacing: 1px;

      @include media-breakpoint-down(md) {
        font-size: 50px;
        line-height: 54px;
      }
    }

    &.womensSmallRegular {
      font-family: $Moneta-regular;
    }

    &.womensSmallBold {
      font-family: $Moneta-bold;
    }

    &.womensSmallBlack {
      font-family: $Moneta-black;
    }

    &.womensLargeRegular {
      font-family: $Moneta-regular;
    }

    &.womensLargeBold {
      font-family: $Moneta-bold;
    }

    &.womensLargeBlack {
      font-family: $Moneta-black;
    }

    &.mensSmalls {
      font-family: $aven-trade-gothic-next-condensed-bold;
      font-size: 50px;
      line-height: 54px;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 34px;
        line-height: 38px;
        letter-spacing: 0.5px;
      }
    }

    &.mensLarge {
      font-family: $aven-trade-gothic-next-condensed-bold;
      font-size: 100px;
      line-height: 104px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 50px;
        line-height: 54px;
        letter-spacing: 0.5px;
      }
    }
  }

  .banner-sub-heading {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.25px;
    margin: 0 auto 27px;

    p {
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
    }
  }

  &.slick-slider {
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      display: none !important;
      top: 41%;
      height: 50px;
      width: 50px;
      transform: scale(1);
    }

    .slick-prev.slick-arrow {
      left: 20px;
      background-image: url(../images/icon-hero-left-arrow.svg);
    }

    .slick-next.slick-arrow {
      right: 20px;
      background-image: url(../images/icon-hero-right-arrow.svg);
    }

    @include media-breakpoint-up(lg) {
      &:hover {
        .slick-prev.slick-arrow,
        .slick-next.slick-arrow {
          display: block !important;
        }
      }
    }
  }

  .slick-dots {
    li {
      button {
        &::after {
          opacity: 0.7;
          width: 5px;
          height: 5px;
          background: $white;
          border-color: $white;
          border: 0;
        }
      }

      &.slick-active {
        button {
          &::after {
            opacity: 1;
            background: $secondary-Variant-4;
            border: 0;
          }
        }
      }
    }
  }
}

//Einstein recommendations styles
.recommendation-products,
.category-slider {
  .slick-list {
    max-width: 100%;
    width: 100%;
  }

  .slick-slide {
    .product {
      padding: 15px;
    }
  }

  .product-tile {
    .tile-body {
      margin-top: 12px;

      h2,
      .pdp-link {
        margin-bottom: 0;

        a {
          font-family: $aven-trade-gothic-next-bold;
          color: $avenue-secondary-variant-1;
          font-size: $base-fontSize;
          letter-spacing: 0.25px;
          line-height: 20px;
        }
      }

      .price {
        .value {
          font-family: $aven-trade-gothic-next-regular;
          color: $avenue-secondary-variant-1;
          font-size: $base-fontSize;
          letter-spacing: 0.25px;
          line-height: 20px;
          display: inline-block;
          margin-top: 2px;
        }
      }

      .price {
        .strike-through {
          .value {
            text-decoration: line-through;
            color: $avenue-secondary-variant-5;
            font-family: $base-fontFamily;
            padding-right: 6px;
          }
        }
      }

      .pdp-link {
        a {
          font-family: $aven-trade-gothic-next-regular;
          font-size: $base-fontSize - 2px;
        }
      }
    }
  }

  &.recommendation-2 {
    .slick-slide {
      .product-tile {
        .tile-body {
          h2 a,
          .price .value,
          .pdp-link a {
            font-family: $aven-trade-gothic-next-regular;
            color: $avenue-secondary-variant-1;
            font-size: $base-fontSize - 2;
            letter-spacing: 0.25px;
            line-height: normal;
            display: inline-block;
            margin-top: 0;
          }

          h2,
          .pdp-link {
            margin-bottom: 3px;
          }

          .product-brand,
          .price .value {
            font-family: $aven-trade-gothic-next-bold;
          }

          .price {
            .strike-through {
              .value {
                font-family: $base-fontFamily;
              }
            }
          }
        }
      }
    }
  }
}


.recommendation-products {

  @include media-breakpoint-up(lg) {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .slick-next {
    right: 0 !important;
  }
  .slick-prev {
    left: 0 !important;
  }
}
//slick arrows for template 6, 7 & 8
.home-slots {
  .hbc-slider.slick-slider.recommendation-products {
    .slick-next {
      right: -7px;
    }

    .slick-prev {
      left: -7px;
    }
  }
}

// for wishlist slider on the cart page

.wishlist-cart-slider {
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 4px;

  .ratings,
  .tile-body-footer div[class^='TTteaser'] {
    display: none;
  }

  @include media-breakpoint-down(md) {
    max-width: 980px;
    padding: 0 0 17px;
  }

  @include media-breakpoint-down(xs) {
    max-width: 370px;
    padding: 0 0 6px;
  }

  &:not(.slick-initialized) {
    display: flex;

    &:not(.touchscreen-slider-initialized) {
      flex-wrap: wrap;
    }

    .product {
      flex-basis: 210px;

      @media #{$belowtab} {
        flex-basis: 49%;
      }
    }

    @media #{$belowtab} {
      justify-content: space-between;
    }
  }

  .wishlist-all {
    padding: 88px 0 0;

    span {
      font-family: $base-fontFamily;
      display: block;
      letter-spacing: 0.25px;
      font-size: $base-fontSize;
      line-height: 20px;
      max-width: 155px;
      margin: 0 auto 17px;
    }

    a.wl-viewall {
      line-height: 30px;
      font-size: 12px;
      padding: 0 23.6px;
    }
  }

  &.slick-slider {
    .slick-arrow {
      @extend .svg-37-avenue-Active;
      @extend .svg-37-avenue-Active-dims;

      &::before {
        content: none;
      }
    }

    .slick-prev {
      transform: rotate(180deg) scale(1);
      left: -20px;

      @include media-breakpoint-down(md) {
        left: -10px;
      }
    }

    .slick-next {
      transform: rotate(360deg) scale(1);
      right: -20px;

      @include media-breakpoint-down(md) {
        right: -10px;
      }
    }

    .slick-prev,
    .slick-next {
      top: 25%;
      height: 28px;
    }

    .slick-slide {
      .product {
        padding: 0px 11px;

        @include media-breakpoint-down(lg) {
          padding: 0px 15px;
        }

        @include media-breakpoint-down(md) {
          padding: 0px 0px 0 12px;
        }

        @include media-breakpoint-down(xs) {
          padding-left: 11px;
        }
      }
    }
  }

  .product-tile {
    margin-bottom: 30px;
    border: solid 1px transparent;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      min-height: auto;
    }

    .wishlist-btn-add-to-cart {
      display: block !important;

      @include media-breakpoint-down(md) {
        max-width: 130px;
        margin: 9px auto;
        max-width: 130px;
      }

      .prdt_tile_btn {
        color: $avenue-primary-base-2;
        background: $avenue-primary-base-1;
        border-radius: 2px;
        font-size: $base-fontSize - 2px;

        @include media-breakpoint-down(md) {
          height: 32px;
          line-height: 0;
          margin: 0 auto;
        }

        &:hover {
          color: $avenue-primary-base-1;
          background: $avenue-primary-base-2;
        }
      }
    }

    .tile-body {
      margin-top: 12px;

      @include media-breakpoint-down(md) {
        margin-top: 3px;

        .prdt_tile_btn {
          visibility: visible;
        }

        .hover-content {
          display: none;
        }
      }

      .color-swatches {
        .size {
          @include media-breakpoint-down(md) {
            visibility: visible;
            max-width: 130px;
          }
          .slick-arrow {
            transform: translate(0, -60%) scale(0.65);
            &.slick-next {
              right: -24%;
            }
          }
        }
      }

      .hover-bg-content {
        .size,
        .single-size {
          @include media-breakpoint-down(md) {
            display: block;
          }
        }
      }

      .pdp-link {
        a {
          color: $avenue-primary-base-2;
          padding-bottom: 3px;
          display: inline-block;
        }
      }
    }

    &.disableTileHover {
      &:hover {
        @include media-breakpoint-up(lg) {
          border: solid 1px $avenue-contextual-variant-16;
        }
      }
    }

    &:not(.disableTileHover) {
      &:hover {
        border: solid 1px $avenue-contextual-variant-16;
      }
      &:focus-within {
        border: solid 1px $avenue-contextual-variant-16;
      }

      @include media-breakpoint-down(md) {
        &:hover,
        &:focus-within {
          border-color: transparent;

          .tile-body {
            .prdt_tile_btn {
              visibility: visible;
            }

            .color-swatches {
              .size {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .image-container {
      margin-bottom: 0px;

      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
        position: relative;
      }

      .wishlistTile {
        right: 7px;
        top: 5px;
      }

      .thumb-link {
        max-width: 210px;
        margin: 0 auto;

        @media #{$belowtab} {
          max-width: 130px;
        }
      }
    }

    .hover-content {
      position: relative;
      left: 0;
      right: 0;
      display: none;
      border: 0;
    }

    .hover-bg-content {
      display: block;
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        .hover-bg-content {
          display: none;
        }
      }
      .hover-content {
        visibility: visible;
        display: block;
        padding-top: 27px;

        .product-brand,
        .pdp-link .link {
          visibility: visible !important;
          display: block !important;
        }

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      @include media-breakpoint-up(lg) {
        .hover-bg-content {
          .wishlist-btn-add-to-cart {
            .prdt_tile_btn {
              visibility: hidden;
            }
          }
        }
      }

      .hover-content .prod-price {
        padding-bottom: 3px;
      }

      .hover-bg-content,
      .product-brand,
      .link,
      .ratings,
      .feature-name,
      .limited-inventory {
        visibility: hidden !important;

        @include media-breakpoint-down(md) {
          visibility: visible !important;
        }
      }
    }

    .color-swatches,
    .add-to-cart {
      display: block !important;
    }
    .quickview {
      display: none !important;
    }
  }

  .swatches,
  .promotions {
    display: none;
  }
}

//Template-5 product-category
.catgeory-info-count {
  transform: none;
  left: 0;
  border: 1px solid $avenue-secondary-variant-6;
  border-radius: 2px;

  @media #{$belowtab} {
    border: 1px solid $avenue-secondary-variant-7;
  }

  .catgeory-new-count {
    font-family: $Moneta-regular;
    color: rgba(0, 0, 0, 0.85);
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 2.77px;
    line-height: 72px;
    padding: 0;
    margin-bottom: 4px;
    width: auto;
    display: flex;
    justify-content: center;

    @media #{$belowtab} {
      font-size: 36px;
      letter-spacing: 1.85px;
      line-height: 64px;
      padding: 36px 0 0;
      margin: 0 auto;
    }

    body.hide-womens & {
      font-family: $aven-trade-gothic-next-condensed-bold;
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 1.85px;

      @media #{$belowtab} {
        font-size: 34px;
        line-height: 34px;
        letter-spacing: 0.52px;
      }
    }
  }
}

.home-slots {
  .hbc-slider.category-slider {
    .product-tile {
      .tile-body {
        h2 a,
        .price .value {
          font-size: $base-fontSize;
        }

        h2 a {
          font-family: $aven-trade-gothic-next-bold;
          font-weight: 700;
        }
      }
    }

    .catgeory-info-count {
      .category-info {
        color: $avenue-secondary-variant-1;
        font-family: $Moneta-regular;
        font-size: 28px;
        letter-spacing: 1.2px;
        line-height: 32px;
        border-bottom: none;
        margin-top: 0;
        padding: 0 15px;

        @media #{$belowtab} {
          color: rgba(0, 0, 0, 0.85);
          font-size: 22px;
          letter-spacing: 0;
          line-height: 24px;
          padding: 0 10px;
        }

        body.hide-womens & {
          font-family: $aven-trade-gothic-next-condensed-bold;
          text-transform: uppercase;
          margin-top: 5px;
        }

        &.view-all-link {
          font-family: $aven-trade-gothic-next-regular;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1.25px;
          line-height: 18px;
          margin: 20px auto 0;
          padding: 0 0 4px;

          @media #{$belowtab} {
            margin: 10px auto 35px;
          }
        }
      }

      .category-item {
        a {
          &:hover {
            span.category-info {
              padding: 0 0 4px;
              border-bottom: 1px solid $avenue-secondary-variant-1;
              color: $avenue-secondary-variant-1;
              background-color: $avenue-primary-base-1;
            }
          }
        }
      }

      &.last-category-info {
        .category-info {
          &:not(.view-all-link) {
            padding: 102px 15px 0;

            @media #{$belowtab} {
              padding: 72px 10px 0;
            }
          }
        }

        .category-info.view-all-link {
          margin-bottom: 93px;
          @media #{$belowtab} {
            margin-bottom: 63px;
            padding: 0;
          }
        }
      }
    }
  }
}

.home-slots {
  .hbc-slider.slick-slider {
    &.category-slider {
      max-width: 100%;

      .slick-prev,
      .slick-next {
        top: 40%;
      }

      .category-item {
        padding: 0 9px;

        &.view-slide {
          padding: 0 6px;

          @media #{$belowtab} {
            padding: 0;
          }
        }

        @media #{$belowtab} {
          padding: 0;
          margin: 0;
        }

        .product {
          padding: 5px 15px;
        }
      }

      .slick-prev {
        left: -8px;
        transform: rotate(180deg) scale(0.8);
      }

      .slick-next {
        right: -8px;
        transform: rotate(360deg) scale(0.8);
      }
    }
    .product-tile {
      margin-bottom: 0;
    }
  }
}

//common code for bottom spacing between slots
.home-slots {
  > *:last-child {
    padding-bottom: 72px;

    @include media-breakpoint-down(md) {
      padding-bottom: 54px;
    }
  }

  &.home-main {
    > *:last-child {
      padding-bottom: 0;
      margin-bottom: 7px;
    }

    &:not(:empty) + .home-2:empty + .home-3:not(:empty) {
      padding-top: 0;
      margin-top: 29px;
    }

    &:not(:empty) + .home-2:empty + .home-3:empty + .home-4:not(:empty) {
      padding-top: 0;
      margin-top: 29px;
    }
  }

  &.home-2 {
    > *:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &:not(:empty) + .home-3:empty + .home-4:not(:empty) {
      padding-top: 0;
      margin-top: 0;

      @include media-breakpoint-down(xs) {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }

  > .html-slot-container {
    @media screen and (max-width: 1439px) {
      padding: {
        left: 0;
        right: 0;
      }
    }

    @media screen and (max-width: 1259px) {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }
}

.home-slots.home-3 {
  > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      padding-bottom: 36px;
    }
  }
}

.recommendation-products .slick-slide .product,
.category-slider .slick-slide .product {
  padding: 5px 15px 0;
}

//You may like & Recently viewed styles
.recommendation-products {
  &.touchscreen-slider-initialized {
    > .product {
      width: 40%;

      @include media-breakpoint-up(sm) {
        width: 30%;
      }

      @include media-breakpoint-up(lg) {
        width: 23%;
      }

      @include media-breakpoint-up(xl) {
        width: 18.5%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .slick-list {
      padding: 0 57% 0 0;
    }
  }

  &.slick-slider {
    .slick-arrow {
      @extend .svg-37-avenue-Active;
      @extend .svg-37-avenue-Active-dims;

      &::before {
        content: none;
      }
    }

    .slick-prev {
      transform: rotate(180deg) scale(1);
      left: 0;
    }

    .slick-next {
      transform: rotate(360deg) scale(1);
      right: 0;
    }

    .slick-prev,
    .slick-next {
      height: 28px;
    }
  }
}

.cat-landing {
  &.search-results-page-landing {
    .content-seperator {
      .hbc-slider {
        @media #{$belowtab} {
          padding: 0 0 0 12px;
        }

        .slick-list {
          @media #{$belowtab} {
            padding: 0;
          }
        }
      }
    }
  }

  .home-slots {
    max-width: unset;

    @include media-breakpoint-up(lg) {
      padding: 0px;
    }

    @include media-breakpoint-up(xl) {
      padding: 0px;
    }

    .content-seperator {
      .hbc-slider.slick-slider {
        &.homepage-cat-slider {
          .slick-prev {
            transform: translate(0, -50%) rotate(180deg);
          }
        }
      }
    }

    .wrapper-content,
    .wrapper-container {
      @media #{$largedesktop} {
        max-width: 1440px;
        margin: 0 auto;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 40px !important;
        padding-right: 40px !important;
      }

      @include media-breakpoint-down(md) {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      @include media-breakpoint-down(xs) {
        &.product-block {
          padding: {
            left: 0 !important;
            right: 0 !important;
          }
        }

        .prod-block-content {
          padding: 0 20px;
        }
      }

      &.hbc-slider {
        .slick-slide {
          margin-right: 0px;

          @include media-breakpoint-down(md) {
            margin-right: 0px;
          }
        }
      }

      &.hero-banner {
        padding: {
          left: 0 !important;
          right: 0 !important;
        }
      }
    }
  }

  .cat-container {
    @media #{$largedesktop} {
      max-width: 100%;
    }

    .hero-banner {
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }

      .slick-dots {
        @include media-breakpoint-down(md) {
          top: unset !important;
        }
      }

      .banner-heading {
        @include media-breakpoint-down(md) {
          font-size: $base-fontSize + 12;
          margin-bottom: 5px;
        }
      }

      .banner-sub-heading {
        @include media-breakpoint-down(md) {
          font-size: $base-fontSize;
        }
      }
    }

    .content-body {
      &.withinBottomCenter,
      &.withinBottom,
      &.withinBottomLeft,
      &.withinBottomRight,
      &.withinTopRight,
      &.withinTopCenter,
      &.withinTop,
      &.withinTopLeft,
      &.withinMiddleRight,
      &.withinRight,
      &.withinMiddleCenter,
      &.withinCenter,
      &.withinMiddleLeft,
      &.withinLeft {
        .content-text {
          @include media-breakpoint-down(md) {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            transform: none;
            margin: 15px auto 0;
          }
        }
      }
    }

    .hbc-slider {
      min-height: inherit;
      padding: 0 40px;

      &.hero-banner {
        padding: 0;

        &:not(.slick-initialized) {
          .content-body {
            display: none;
            &:first-of-type {
              display: block;
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        padding: 0 0 0 12px;
      }

      .slick-dots {
        bottom: 27px;

        @include media-breakpoint-down(md) {
          bottom: 145px;
        }

        @media #{$belowtab} {
          bottom: 150px;
        }
      }
    }

    .slick-list {
      max-width: 100%;
      padding: 0;
    }

    .slick-slide {
      margin: 0;
    }
  }
}

// 4 up category specific styles
.category-4-up-avenue {
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }

  .category-tile {
    &:before {
      content: none;
    }
  }

  .category-info {
    font-family: $aven-trade-gothic-next-bold;
    font-size: $base-fontSize;
    color: $avenue-secondary-variant-1;
    text-align: center;
    display: inline-flex;
    line-height: 18px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 3px 0 2px;
    margin-top: 7px;
    border-bottom: solid 1px $avenue-secondary-variant-1;

    @media #{$sm-ls} {
      margin-top: 7px;
    }

    &.no-border {
      border-color: transparent;
    }

    .article-name {
      text-transform: none;
      letter-spacing: 0.25px;
    }
  }

  .category-item {
    text-align: center;
    width: 24%;
    margin: 0 1.3% 0 0;
    padding-bottom: 36px;
    flex-direction: column;

    &:nth-child(4n) {
      margin-right: 0;

      @include media-breakpoint-down(xs) {
        margin: 0 5% 0 0;
        padding-bottom: 27px;
      }
    }

    @include media-breakpoint-down(lg) {
      width: 23.6%;
      margin: 0 1.86% 0 0;
    }

    @include media-breakpoint-down(md) {
      width: 23.4%;
      margin: 0 2.1% 0 0;
      padding-bottom: 27px;
    }

    @include media-breakpoint-down(xs) {
      width: 47.5%;
      margin: 0 5% 0 0;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    a {
      &:hover {
        text-decoration: none;

        span.category-info {
          text-decoration: underline;
        }
      }
    }
  }
}

.callout-cat-4-up {
  @media #{$sm-ls} {
    padding-bottom: 18px;

    body.hide-womens & {
      &:after {
        top: 40%;
      }
    }
  }
}

.home-main {
  .hero-banner {
    &.slick-dotted.slick-slider {
      margin-bottom: 7px;
    }
  }
}

.home-slots {
  .recommendation-products {
    + .touchscreen-slider-dots {
      display: none;
    }
  }
}

.four-up-staggered {
  .row {
    > div {
      margin-bottom: 45px;
      padding: 0 30px;
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
      &:last-of-type {
        margin-top: 45px;
        @include media-breakpoint-down(xs) {
          margin-top: 0;
        }
      }
    }
  }
}

.text-only {
  .preheader-text {
    font-family: $aven-trade-gothic-next-regular;
    font-size: $base-fontSize;
    padding: 0 0 18px;
  }
  .banner-heading {
    font-size: 50px;
    line-height: 54px;
    margin: 0 0 9px;
    padding: 0;
  }
  .banner-sub-heading {
    max-width: unset;
  }
  .home-slots & {
    padding-top: 54px;
    padding-bottom: 45px;

    @include media-breakpoint-down(md) {
      padding-top: 2px;
      padding-bottom: 27px;
    }
  }
}

.hero-center {
  max-width: 580px;
  margin: 0 auto;
  .content-image {
    margin: {
      bottom: 18px;
    }
  }
}

// overriden cta hover color in avenue

.cta-link span,
.link-cta {
  &:hover,
  &:focus,
  &:active {
    background: $avenue-primary-base-2;
  }
}

.three-up-row {
  .cta-link > span,
  .link-cta.default-underline {
    &::after {
      content: '';
      height: 1px;
      display: block;
    }
  }
}

.link-cta {
  &::after {
    height: 1px;
  }
}

//products-block
.home-slots {
  .wrapper-content.product-block {
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-down(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .content-body {
    &.products-block-main {
      &.right,
      &.left {
        margin: 0;
      }
    }
  }
}

//products-block-right
.products-block-main {
  display: flex;
  align-items: flex-start;

  &.right {
    flex-direction: row-reverse;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    .prod-block-image {
      margin-left: 55px;
      margin-right: 0;

      @include media-breakpoint-down(md) {
        margin-left: 7px;
      }

      @include media-breakpoint-down(xs) {
        flex-basis: 100%;
        margin: 0 0 27px;
      }
    }

    .prod-block-content {
      margin-right: 58px;
      margin-left: 0;

      @include media-breakpoint-down(md) {
        margin-right: 7px;
      }

      @media #{$belowtab} {
        margin: 0;
      }

      @include media-breakpoint-down(xs) {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }

  .prod-block-image {
    flex-basis: 43.3%;
    margin-right: 55px;

    .disclaimer-text {
      margin-top: 5px;
      font-size: 12px;

      @include media-breakpoint-down(xs) {
        margin-left: 19px;
      }
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      margin: 0 0 27px;
    }
  }

  .prod-block-content {
    flex-basis: 52%;
    margin-left: 58px;

    .content-text {
      padding: 0;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      margin: 0;
    }
  }

  .prod-text {
    margin-bottom: 53px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 36px;
    }
  }

  .banner-heading {
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 32px;
      letter-spacing: 1px;
      line-height: 36px;
    }

    &.mensSmalls {
      font-family: $aven-trade-gothic-next-condensed-bold;
      font-size: 50px;
      line-height: 54px;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 34px;
        line-height: 38px;
        letter-spacing: 0.5px;
      }
    }

    &.mensLarge {
      font-family: $aven-trade-gothic-next-condensed-bold;
      font-size: 100px;
      line-height: 104px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 50px;
        line-height: 54px;
        letter-spacing: 0.5px;
      }
    }
  }

  .banner-sub-heading {
    max-width: 100%;
    text-align: center;
    margin-bottom: 23px;

    @include media-breakpoint-down(md) {
      margin-bottom: 14px;
    }
  }

  .cta-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;

    .cta-link {
      margin: 0 10px 0 0;
    }
  }

  .recommendation-products-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 522px;

    @include media-breakpoint-down(xs) {
      padding: 0 20px;
    }

    .product {
      box-sizing: border-box;
      width: 50%;

      &:nth-child(-n + 2) {
        padding-bottom: 36px;
      }
    }

    .product-tile .tile-body {
      h2 a,
      .pdp-link a,
      .price .value {
        font-size: 14px;
      }
    }

    .product-tile {
      margin-bottom: 0;
    }
  }
}

// New code for CR of CTA's SFSX 1217

.button-link {
  @extend .btn-primary;

  color: $black !important;
  border: 1px solid $black;
  background: transparent;

  &:hover {
    color: $white !important;
    background: $black !important;
  }
  @include media-breakpoint-down(md) {
    font-family: $base-fontFamily;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
  }
}
// Per the latest CR again in 1217 , this attribute is not required hence commenting. But not removing as , not sure if another CR might come up.
/*
.buttonStyleWhite {
  &.button-link {
    color: $white !important;
    border: 1px solid $white;
    background: transparent;

    &:hover {
      color: $black !important;
      background: $white !important;
      border: 1px solid $white;
    }
  }
} */

.link-cta {
  color: $black;

  &:after {
    content: '';
    height: 1px;
    display: block !important;
    background-color: $black;
  }
}

.copyStyleWhite {
  @include media-breakpoint-up(lg) {
    .link-cta {
      color: $white;

      &:after {
        background-color: $white;
      }

      &:hover {
        color: $black !important;
        background: $white !important;
      }
    }
  }
}

.copyStyleMobileWhite {
  @include media-breakpoint-down(md) {
    .link-cta {
      color: $white !important;

      &:after {
        background-color: $white;
      }

      &:hover {
        color: $black !important;
        background: $white !important;
      }
    }
  }
}

// copy color updates. Must to have important to override prev banners which was required there so cant remove important over there
.copyStyleWhite,
.copyStyleMobileWhite {
  .banner-heading,
  .banner-sub-heading,
  .preheader-text,
  .post-button-details {
    color: $avenue-primary-base-1 !important;
  }
  .button-link {
    color: $white !important;
    border: 1px solid $white;
    background: transparent;

    &:hover {
      color: $black !important;
      background: $white !important;
      border: 1px solid $white;
    }
  }
}

.copyStyleBlack,
.copyStyleMobileBlack {
  .banner-heading,
  .banner-sub-heading,
  .preheader-text,
  .post-button-details {
    color: $avenue-primary-base-2 !important;
  }
  .button-link {
    color: $black !important;
    border: 1px solid $black;
    background: transparent;

    &:hover {
      color: $white !important;
      background: $black !important;
    }
  }
}

.copyStyleWhite {
  &.copyStyleMobileBlack {
    .banner-heading,
    .banner-sub-heading,
    .preheader-text,
    .post-button-details {
      color: $avenue-primary-base-1 !important;
    }
    .button-link {
      color: $white !important;
      border: 1px solid $white;
      background: transparent;

      &:hover {
        color: $black !important;
        background: $white !important;
        border: 1px solid $white;
      }
    }
  }
}

.copyStyleBlack {
  &.copyStyleMobileWhite {
    .banner-heading,
    .banner-sub-heading,
    .preheader-text,
    .post-button-details {
      color: $avenue-primary-base-2 !important;
    }
    .button-link {
      color: $black !important;
      border: 1px solid $black;
      background: transparent;

      &:hover {
        color: $white !important;
        background: $black !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .copyStyleMobileBlack {
    &.copyStyleWhite {
      .banner-heading,
      .banner-sub-heading,
      .preheader-text,
      .post-button-details {
        color: $avenue-primary-base-2 !important;
      }
      .button-link {
        color: $black !important;
        border: 1px solid $black;
        background: transparent;

        &:hover {
          color: $white !important;
          background: $black !important;
        }
      }
    }
  }
  .copyStyleMobileWhite {
    &.copyStyleBlack {
      .banner-heading,
      .banner-sub-heading,
      .preheader-text,
      .post-button-details {
        color: $avenue-primary-base-1 !important;
      }
      .button-link {
        color: $white !important;
        border: 1px solid $white;
        background: transparent;

        &:hover {
          color: $black !important;
          background: $white !important;
          border: 1px solid $white;
        }
      }
    }
  }
}

.recommendations {
  .slick-dots {
    display: none;
  }
}

// two up left and right starts here
.cat-landing {
  &.womens-edit,
  &.mens-edit {
    .text-only {
      @include media-breakpoint-down(md) {
        padding-bottom: 36px;
      }

      @include media-breakpoint-down(xs) {
        padding-bottom: 27px;
      }

      .banner-heading  {
        line-height: 60px;

        @include media-breakpoint-down(md) {
          font-size: $base-fontSize + 22px;
          margin-bottom: 0;
        }

        @include media-breakpoint-down(xs) {
          font-size: $base-fontSize + 18px;
        }
      }
      .banner-sub-heading {
        span {
          font-size: $base-fontSize;

          @include media-breakpoint-up(sm) {
            font-size: $base-fontSize + 4px;
          }
        }
      }
    }
    .home-slots {
      .two-up-left,
      .two-up-right,
      .three-up-row {
        &.wrapper-container,
        &.wrapper-content {
          @include media-breakpoint-down(xs) {
            padding-left: 0 !important;
            padding-right: 0 !important
          }
        }
      }
      .content-seperator {
        margin-bottom: 0;
        .category-4-up-avenue {
            padding: 0;
        }
      }
      .three-up-row {
        .content-text {
          padding: 0 10px;
          .banner-heading {
            margin: 18px 0 9px;
            font-size: $base-fontSize + 14px;
            line-height: 30px;

            @include media-breakpoint-down(md) {
              font-size: $base-fontSize + 12px;
            }
          }
        }
      }
    }
  }
}

.two-up-left,
.two-up-right {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;

  @media #{$belowtab} {
    display: block;
  }

  &.wrapper-container {
    @media screen and (max-width: 1259px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .content-body {
      &:first-child {
        @include media-breakpoint-down(xs) {
          padding-bottom: 54px;
        }
      }

      &.smaller, &.larger {
        @include media-breakpoint-down(xs) {
          padding-right: 0;
          padding-left: 0;
        }
      }

      &.larger {
        .content-image {
          p {
            @include media-breakpoint-down(md) {
              padding-right: 0;
            }
          }
        }
        .content-text {
          .banner-heading {
            @include media-breakpoint-up(lg) {
              line-height: 36px;
            }
          }
        }
      }

      &.smaller {
        .banner-heading {
          @include media-breakpoint-up(lg) {
            font-size: $base-fontSize + 14px;
            line-height: 32px;
          }
        }
      }

      .content-text {
        padding-top: 0;
        text-align: center
      }
    }

    .button-link {
      @extend .btn-primary;

      color: $black !important;
      border: 1px solid $black;
      background: transparent;

      &:hover {
        color: $white !important;
        background: $black !important;
      }
      @include media-breakpoint-down(md) {
        font-family: $base-fontFamily;
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
      }
    }
    // Per the latest CR again in 1217 , this attribute is not required hence commenting. But not removing as , not sure if another CR might come up.
    /*
.buttonStyleWhite {
  &.button-link {
    color: $white !important;
    border: 1px solid $white;
    background: transparent;

    &:hover {
      color: $black !important;
      background: $white !important;
      border: 1px solid $white;
    }
  }
} */

    .link-cta {
      color: $black;

      &:after {
        content: '';
        height: 1px;
        display: block !important;
      }
    }

    .copyStyleWhite {
      @include media-breakpoint-up(lg) {
        .link-cta {
          color: $white;

          @include media-breakpoint-down(lg) {
            flex-basis: 30.6%;
            flex-direction: column;
          }

          &:hover {
            color: $black !important;
            background: $white !important;
          }
        }
      }
    }

    .copyStyleMobileWhite {
      @include media-breakpoint-down(md) {
        .link-cta {
          color: $white !important;

          &:after {
            background-color: $white;
          }

          &:hover {
            color: $black !important;
            background: $white !important;
          }
        }
      }
    }

    // copy color updates. Must to have important to override prev banners which was required there so cant remove important over there
    .copyStyleWhite,
    .copyStyleMobileWhite {
      .banner-heading,
      .banner-sub-heading,
      .preheader-text,
      .post-button-details {
        color: $avenue-primary-base-1 !important;
      }
      .button-link {
        color: $white !important;
        border: 1px solid $white;
        background: transparent;

        &:hover {
          color: $black !important;
          background: $white !important;
          border: 1px solid $white;
        }
      }
    }

    .copyStyleBlack,
    .copyStyleMobileBlack {
      .banner-heading,
      .banner-sub-heading,
      .preheader-text,
      .post-button-details {
        color: $avenue-primary-base-2 !important;
      }
      .button-link {
        color: $black !important;
        border: 1px solid $black;
        background: transparent;

        &:hover {
          color: $white !important;
          background: $black !important;
        }
      }
    }

    .copyStyleWhite {
      &.copyStyleMobileBlack {
        .banner-heading,
        .banner-sub-heading,
        .preheader-text,
        .post-button-details {
          color: $avenue-primary-base-1 !important;
        }
        .button-link {
          color: $white !important;
          border: 1px solid $white;
          background: transparent;

          &:hover {
            color: $black !important;
            background: $white !important;
            border: 1px solid $white;
          }
        }
      }
    }

    .copyStyleBlack {
      &.copyStyleMobileWhite {
        .banner-heading,
        .banner-sub-heading,
        .preheader-text,
        .post-button-details {
          color: $avenue-primary-base-2 !important;
        }
        .button-link {
          color: $black !important;
          border: 1px solid $black;
          background: transparent;

          &:hover {
            color: $white !important;
            background: $black !important;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .copyStyleMobileBlack {
        &.copyStyleWhite {
          .banner-heading,
          .banner-sub-heading,
          .preheader-text,
          .post-button-details {
            color: $avenue-primary-base-2 !important;
          }
          .button-link {
            color: $black !important;
            border: 1px solid $black;
            background: transparent;

            &:hover {
              color: $white !important;
              background: $black !important;
            }
          }
        }
      }
      .copyStyleMobileWhite {
        &.copyStyleBlack {
          .banner-heading,
          .banner-sub-heading,
          .preheader-text,
          .post-button-details {
            color: $avenue-primary-base-1 !important;
          }
          .button-link {
            color: $white !important;
            border: 1px solid $white;
            background: transparent;

            &:hover {
              color: $black !important;
              background: $white !important;
              border: 1px solid $white;
            }
          }
        }
      }
    }

    .recommendations {
      .slick-dots {
        display: none;
      }
    }

    .banner-heading {
      margin: 18px 0 9px;
      p {
        margin: 0;
      }
    }

    .banner-sub-heading {
      margin: 0 auto 18px;

      p {
        margin: 0;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .banner-heading {
      font-size: 26px;
      line-height: 32px;
    }

  }
  .two-up-left,
  .two-up-right {
    //for specific to this template overrided it for below tablet view
    @include media-breakpoint-down(md) {
      .copyStyleWhite,
      .copyStyleMobileWhite {
        .banner-heading,
        .banner-sub-heading,
        .preheader-text,
        .post-button-details {
          color: $avenue-primary-base-2 !important;
        }

        .button-link {
          color: $avenue-primary-base-2 !important;
          border: 1px solid $avenue-primary-base-2;
          background: transparent;

          &:hover {
            color: $avenue-primary-base-2 !important;
            background: $avenue-primary-base-2 !important;
            border: 1px solid $avenue-primary-base-2;
          }
        }
      }
    }
    .content-body {
      &.withinBottomCenter,
      &.withinBottom,
      &.withinBottomLeft,
      &.withinBottomRight,
      &.withinTopRight,
      &.withinTopCenter,
      &.withinTop,
      &.withinTopLeft,
      &.withinMiddleRight,
      &.withinRight,
      &.withinMiddleCenter,
      &.withinCenter,
      &.withinMiddleLeft,
      &.withinLeft {
        .content-text {
          position: absolute;
          width: 100%;
          text-align: center;
          max-width: 383px;
          padding: 0;

          @include media-breakpoint-down(md) {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            transform: none;
            margin: 15px auto 0;
            padding-bottom: 32px;
          }

          .banner-heading {
            font-family: $Moneta-bold;
            letter-spacing: 1px;

            @include media-breakpoint-down(md) {
              font-family: $Moneta-regular;
              font-size: $base-fontSize + 12;
              color: $avenue-primary-base-2;
              margin-bottom: 3px;
            }

            &.womensSmallRegular,
            &.womensSmallBold,
            &.womensSmallBlack {
              font-size: 50px;
              line-height: 54px;
              letter-spacing: 1px;

              @include media-breakpoint-down(md) {
                font-size: 32px;
                line-height: 36px;
              }
            }

            &.womensLargeRegular,
            &.womensLargeBold,
            &.womensLargeBlack {
              font-size: 100px;
              line-height: 104px;
              letter-spacing: 1px;

              @include media-breakpoint-down(md) {
                font-size: 50px;
                line-height: 54px;
              }
            }

            &.womensSmallRegular {
              font-family: $Moneta-regular;
            }

            &.womensSmallBold {
              font-family: $Moneta-bold;
            }

            &.womensSmallBlack {
              font-family: $Moneta-black;
            }

            &.womensLargeRegular {
              font-family: $Moneta-regular;
            }

            &.womensLargeBold {
              font-family: $Moneta-bold;
            }

            &.womensLargeBlack {
              font-family: $Moneta-black;
            }

            &.mensSmalls {
              font-family: $aven-trade-gothic-next-condensed-bold;
              font-size: 50px;
              line-height: 54px;
              letter-spacing: 1px;
              text-transform: uppercase;

              @include media-breakpoint-down(md) {
                font-size: 34px;
                line-height: 38px;
                letter-spacing: 0.5px;
              }
            }

            &.mensLarge {
              font-family: $aven-trade-gothic-next-condensed-bold;
              font-size: 100px;
              line-height: 104px;
              letter-spacing: 2px;
              text-transform: uppercase;

              @include media-breakpoint-down(md) {
                font-size: 50px;
                line-height: 54px;
                letter-spacing: 0.5px;
              }
            }
          }

          .banner-sub-heading {
            max-width: 100%;
            margin: 0 auto 5px;
            font-size: $base-fontSize;
            line-height: 24px;
            letter-spacing: normal;

            @include media-breakpoint-down(md) {
              color: $avenue-primary-base-2 !important;
            }
          }

          @media #{$belowdesktop} {
            max-width: 317px;
          }

          @include media-breakpoint-down(md) {
            max-width: 272px;
          }
        }
      }

      &.withinMiddleRight,
      &.withinRight {
        .content-text {
          right: 3%;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      &.withinMiddleCenter,
      &.withinCenter {
        .content-text {
          max-width: 581px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .banner-sub-heading {
            max-width: 67%;
          }

          @media #{$largedesktop} {
            max-width: 792px;
          }

          @media #{$belowdesktop} {
            .banner-sub-heading {
              max-width: 60%;
            }
          }

          @include media-breakpoint-down(md) {
            max-width: 356px;

            .banner-sub-heading {
              max-width: 80%;
            }
          }
        }
      }

      &.withinMiddleLeft,
      &.withinLeft {
        .content-text {
          left: 3%;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      &.withinTopCenter,
      &.withinTop {
        .content-text {
          top: 48px;
          transform: translate(-50%, 0);
          left: 50%;
        }
      }

      &.withinTopLeft {
        .content-text {
          top: 48px;
          left: 3%;
        }
      }

      &.withinTopRight {
        .content-text {
          top: 48px;
          right: 3%;
        }
      }

      &.withinTopCenter,
      &.withinTop,
      &.withinTopRight,
      &.withinTopLeft {
        .content-text {
          @media #{$belowdesktop} {
            top: 8%;
          }
        }
      }

      &.withinBottomCenter,
      &.withinBottom {
        .content-text {
          top: auto;
          bottom: 61px;
          transform: translate(-50%, 0);
          left: 50%;
        }
      }

      &.withinBottomLeft {
        .content-text {
          top: auto;
          bottom: 61px;
          left: 3%;
        }
      }

      &.withinBottomRight {
        .content-text {
          top: auto;
          bottom: 61px;
          right: 3%;
        }
      }

      &.withinBottomCenter,
      &.withinBottom,
      &.withinBottomLeft,
      &.withinBottomRight {
        .content-text {
          @media #{$belowdesktop} {
            bottom: 10%;
          }
        }
      }

      &.withinBottomCenter,
      &.withinBottom,
      &.withinBottomLeft,
      &.withinBottomRight,
      &.withinTopRight,
      &.withinTopCenter,
      &.withinTop,
      &.withinTopLeft,
      &.withinMiddleRight,
      &.withinRight,
      &.withinMiddleCenter,
      &.withinCenter,
      &.withinMiddleLeft,
      &.withinLeft {
        .content-text {
          @include media-breakpoint-down(md) {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            transform: none;
            margin: 15px auto 0;
          }
        }
      }

      .cta-link,
      .link-cta {
        margin-right: 0;
        margin-left: 0;
      }

      .link-cta {
        margin: 0 0 8px;
        font-weight: normal;

        span {
          height: 1px;
        }
      }

      .break {
        flex: none;
      }

      .button-link {
        border: 1px solid $black;
        line-height: 45px;
        padding: 0 28.5px;
        font-family: $base-fontFamily;

        @media #{$belowdesktop} {
          padding: 0 40px;
        }
      }

      .button-link.btn-secondary {
        &:not(:disabled) {
          &:hover,
          &:active {
            color: $btn-sec-txt-col-hov !important;
            background-color: $btn-sec-bgcol-hov !important;
          }
        }
      }

      .preheader-text {
        font-family: $aven-trade-gothic-next-bold;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        padding-bottom: 8px;

        @include media-breakpoint-down(md) {
          font-size: 15px;
          line-height: 23px;
        }
      }

      .post-button-details {
        font-size: 14px;
        margin-top: 20px;

        .post-button-details-link {
          cursor: pointer;
          color: inherit;
          text-decoration: underline;
          margin-left: 18px;
          position: relative;
          bottom: 1px;

          &:hover {
            text-decoration: none;
          }
        }

        @include media-breakpoint-down(md) {
          margin-top: 11px;
        }
      }
    }
  }

  //5-up-category left arrow issue
  .cat-landing {
    .home-slots {
      .hbc-slider.slick-slider {
        &.homepage-cat-slider {
          .slick-prev {
            transform: translate(0, -50%) rotate(180deg);
          }
        }
      }
    }
  }

  //Products block tile styling
  .recommendation-products-block {
    .product-tile {
      .tile-body {
        .hover-content {
          display: none;
        }

        .promotion-txt {
          margin: 0;
        }
      }
    }
  }
}
.two-up-right {
  .content-body {
    &.larger {
      @include media-breakpoint-down(md) {
        padding-left: 0;
      }
      .content-image {
        p {
          padding-left: 12px;
          @include media-breakpoint-down(md) {
            padding-left: 0;
          }
        }
      }
      .content-text {
        right: 8%;
      }
    }
    &.smaller {
      @include media-breakpoint-down(md) {
        padding-right: 16px;
      }

      @include media-breakpoint-down(xs) {
        padding-right: 0;
      }
    }
  }
}

.two-up-left {
  &.wrapper-container {
    padding-bottom: 48px;

    @include media-breakpoint-down(md) {
      padding-bottom: 30px;
    }
    .content-body {
      &.larger {
        @include media-breakpoint-down(md) {
          padding-right: 0;
        }
        .content-image {
          p {
            padding-right: 12px;
            @include media-breakpoint-down(md) {
              padding-right: 0;
            }
          }
        }
        .content-text {
          @include media-breakpoint-up(lg) {
            position: absolute;
            width: 40%;
            right: 5%;
          }
        }
      }
      &.smaller {
        @include media-breakpoint-down(md) {
          padding-left: 16px;
        }

        @include media-breakpoint-down(xs) {
          padding-left: 0;
        }
      }
    }
  }
}

// two up left and right ends here

.hero-banner {
  .link-cta {
    margin-bottom: 0;
  }
}
.home-slots {
  .three-up-row {
    padding-bottom: 0;

    .content-body {
      margin-bottom: 72px;

      @include media-breakpoint-down(md) {
        margin-bottom: 54px;
        &:nth-child(3n) {
          margin-bottom: 0;
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}


.wishlist-cart {
  .wishlist-cart-slider {
    .slick-prev {
      left: -30px;
    }
    .slick-next {
      right: -30px;
    }
  }
}

.product-block-tiles {
  .product-tile {
    .tile-body {
      .add-to-cart {
          display: block !important;
      }
      .hover-bg-content {
        .product-brand,
        .link,
        .ratings,
        .feature-name,
        .limited-inventory {
          visibility: visible;
        }
      }
    }
  }
}