.home-slots {
  .slider-heading {
    color: $secondary-Variant-1;
    margin: 20px 0 25px;
    font-family: $aven-trade-gothic-next-condensed-bold;
    position: relative;
    text-transform: uppercase;
    font-size: $base-fontSize + 14;

    @media screen and (max-width: 1259px) {
      margin: {
        left: 0;
        right: 0;
      }
    }

    @include media-breakpoint-down(xs) {
      margin: 20px 0 10px;
    }

    span {
      position: relative;
      background: $primary-Base-3;
      padding: 5px 10px;
      z-index: 5;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $secondary-Variant-7;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }

  > .slider-heading.text-center {
    flex: unset;
    max-width: unset;
    width: auto;

    @media screen and (max-width: 1439px) {
      margin: {
        left: 40px;
        right: 40px;
      }
    }

    @media screen and (max-width: 1259px) {
      margin: {
        left: 10px;
        right: 10px;
      }
    }
  }

  .hbc-slider {
    @include media-breakpoint-down(xs) {
      &.slick-slider {
        .slick-list {
          padding: 0 187px 0 0;
        }
      }
    }

    &.category-slider {
      .slick-prev {
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
      }

      .slick-next {
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.home-page,
.home-slots {
  .slick-dots {
    li {
      button {
        &::after {
          border: 1px solid $secondary-Variant-21;
        }
      }

      &.slick-active {
        button {
          &::after {
            background: $secondary-Variant-20;
          }
        }
      }
    }
  }
}

.banner-heading {
  font-family: $aven-trade-gothic-next-condensed-bold;
  color: $secondary-Variant-1;
  font-size: $base-fontSize + 22;

  @include media-breakpoint-down(md) {
    font-size: $base-fontSize + 14;
  }
}

.banner-sub-heading {
  font-size: $base-fontSize;
  color: $secondary-Variant-1;
}

.homepage-slider {
  .preheader-text {
    letter-spacing: 0.5px;
  }
}

.hero-banner {
  .banner-sub-heading {
    font-size: $base-fontSize + 2;
    max-width: 220px;

    @include media-breakpoint-down(sm) {
      margin: 0 auto 20px;
      max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
      margin: 0 auto 10px;
    }
  }

  .banner-heading {
    @include media-breakpoint-down(sm) {
      margin: 0 0 7px;
      font-size: $base-fontSize + 14;
    }
  }

  .banner-heading,
  .banner-sub-heading,
  .link-cta {
    @include media-breakpoint-down(md) {
      color: $black !important;
    }
  }

  .span-cta {
    @include media-breakpoint-down(md) {
      background-color: $black !important;
    }
  }

  .preheader-text {
    @include media-breakpoint-down(md) {
      color: $black !important;
    }
  }

  .post-button-details {
    @include media-breakpoint-down(md) {
      color: $black !important;
    }
  }
}

.wrapper-content {
  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;

    &.hero-banner {
      padding-bottom: 10px;

      @include media-breakpoint-down(xs) {
        padding-bottom: 3px;
      }
    }
  }
}

.content-body {
  .content-image {
    p {
      margin: 2px 0 0;
    }
  }

  &.withinCenter {
    .content-text {
      @include media-breakpoint-down(sm) {
        padding: 10px 10px 0;
      }
    }
  }

  &.right {
    .cta-link {
      position: relative;
      left: -10px;
    }
  }

  &.left {
    .cta-link {
      position: relative;
      right: -10px;
    }
  }

  &.right,
  &.left {
    @include media-breakpoint-down(sm) {
      margin: 0 0 42px;

      .cta-link {
        position: static;
        left: 0;
        right: 0;
        margin: 0 5px;

        &:first-child {
          margin: 0 5px;
        }
      }
    }
  }
}

.hero-banner {
  .content-body {
    .content-image {
      p {
        margin: 0;
      }
    }
  }
}

.wrapper-content {
  padding-bottom: 60px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;
  }
}

.home-2 {
  .mobile-show {
    @include media-breakpoint-down(sm) {
      margin: 10px 0 43px;
    }
  }
}

.catgeory-info-count {
  .catgeory-new-count {
    margin: 0 auto 15px;
  }
}

.three-up-row {
  .content-image {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(0, 0, 0, 0.8) 100%);
      bottom: 0;
      left: 0;
    }
  }

  .cta-link span,
  .link-cta {
    &::after {
      content: '';
      display: none;
    }

    span {
      position: absolute;
      height: 3px;
      bottom: 6px;
      right: 10px;
      left: 10px;
      padding: 0;
      margin: 0;
    }
  }
}

.shop-beauty-banner {
  margin-bottom: 60px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
  }
}

.text-bg-banner {
  margin: 0 0 75px;

  @include media-breakpoint-down(sm) {
    margin: 0 0 43px;
  }

  .apparel-text {
    span {
      font-family: $base-fontFamily;

      &.news-flash {
        color: $secondary-Variant-19;
        font-family: $bold-fontFamily;
      }
    }
  }
}

.term-condition-section {
  &.hide {
    display: none;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
  z-index: 10411;
  width: 100%;
  background: $primary-Base-3;

  .term-condition-inner {
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 10px 60px;

    @media #{$sm-ls} {
      height: 100vh;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .terms-text {
      font-size: $base-fontSize + 10;
      color: $secondary-Variant-1;
      margin: 0 0 10px;
      display: inline-block;
    }

    .terms-policy {
      margin: 0 0 20px;
      @media #{$belowtab} {
        height: auto !important;
      }
    }

    .continue-shop {
      height: 45px;
      display: inline-block;
      max-width: 220px;
      width: 100%;
      line-height: 3;
      color: $primary-Base-3;

      &:hover {
        color: $primary-Base-3;
        text-decoration: none;
      }
    }
  }

  .terms-condition-close {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
}

.terms-condition {
  color: $secondary-Variant-22;
  font-size: $base-fontSize - 4;
  text-decoration: underline;

  &:hover {
    color: $secondary-Variant-22;
  }

  &.desktop-show {
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }
}

.terms-mobile {
  text-align: right;
  width: 97%;
  margin: 10px 10px 0 0;
}

.terms-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-Variant-1;
  position: fixed;
  z-index: 10401;
  opacity: 0;

  &.show {
    opacity: 0.5;
  }
}

.shop-beauty-banner {
  .content-text {
    @media #{$sm-ls} {
      top: 40%;
    }
  }
}

.link-cta {
  &:hover {
    background: $secondary-Utility-6;
  }
}

.cta-link span,
.link-cta {
  color: $black;
  &::after {
    background-color: $black;
  }
}
