%svg-common {
  background: url('../images/vertical.svg') no-repeat;
}

.svg-svg-01-alert {
  @extend %svg-common;

  background-position: 0 0;
}

.svg-svg-01-alert-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-02-backtotop {
  @extend %svg-common;

  background-position: 0 0.8274720728175424%;
}

.svg-svg-02-backtotop-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-03-barcode {
  @extend %svg-common;

  background-position: 0 1.8159306644655386%;
}

.svg-svg-03-barcode-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-04-bow {
  @extend %svg-common;

  background-position: 0 2.546201232032854%;
}

.svg-svg-04-bow-dims {
  width: 24px;
  height: 6px;
}

.svg-svg-05-calendar {
  @extend %svg-common;

  background-position: 0 2.812241521918941%;
}

.svg-svg-05-calendar-dims {
  width: 24px;
  height: 23px;
}

.svg-svg-06-call {
  @extend %svg-common;

  background-position: 0 3.764997931319818%;
}

.svg-svg-06-call-dims {
  width: 18px;
  height: 24px;
}

.svg-svg-07-camera {
  @extend %svg-common;

  background-position: 0 4.746182418489476%;
}

.svg-svg-07-camera-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-08-caret-down {
  @extend %svg-common;

  background-position: 0 5.489063144861742%;
}

.svg-svg-08-caret-down-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-09-caret-down-circle {
  @extend %svg-common;

  background-position: 0 6.247414149772445%;
}

.svg-svg-09-caret-down-circle-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-10-chat {
  @extend %svg-common;

  background-position: 0 7.237386269644334%;
}

.svg-svg-10-chat-dims {
  width: 24px;
  height: 23px;
}

.svg-svg-100-cross-o {
  @extend %svg-common;

  background-position: 0 8.19197352089367%;
}

.svg-svg-100-cross-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-101-mini-star {
  @extend %svg-common;

  background-position: 0 9.135802469135802%;
}

.svg-svg-101-mini-star-dims {
  width: 11px;
  height: 11px;
}

.svg-svg-102-mini-star-grey {
  @extend %svg-common;

  background-position: 0 9.588477366255145%;
}

.svg-svg-102-mini-star-grey-dims {
  width: 11px;
  height: 11px;
}

.svg-svg-103-mini-plus-thin {
  @extend %svg-common;

  background-position: 0 10.04528612597777%;
}

.svg-svg-103-mini-plus-thin-dims {
  width: 12px;
  height: 12px;
}

.svg-svg-104-heart-o-23-21 {
  @extend %svg-common;

  background-position: 0 10.578512396694215%;
}

.svg-svg-104-heart-o-23-21-dims {
  width: 23px;
  height: 21px;
}

.svg-svg-105-heart-o-22-19 {
  @extend %svg-common;

  background-position: 0 11.43682906688687%;
}

.svg-svg-105-heart-o-22-19-dims {
  width: 22px;
  height: 19px;
}

.svg-svg-106-alert {
  @extend %svg-common;

  background-position: 0 12.226352746798844%;
}

.svg-svg-106-alert-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-107-check-thin {
  @extend %svg-common;

  background-position: 0 13.07405875051717%;
}

.svg-svg-107-check-thin-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-108-arrow-cross-up {
  @extend %svg-common;

  background-position: 0 14.00329489291598%;
}

.svg-svg-108-arrow-cross-up-dims {
  width: 13px;
  height: 13px;
}

.svg-svg-109-chat-online {
  @extend %svg-common;

  background-position: 0 14.647302904564315%;
}

.svg-svg-109-chat-online-dims {
  width: 35px;
  height: 31px;
}

.svg-svg-11-check-circle {
  @extend %svg-common;

  background-position: 0 15.887463798096814%;
}

.svg-svg-11-check-circle-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-110-chat-offline {
  @extend %svg-common;

  background-position: 0 16.929460580912863%;
}

.svg-svg-110-chat-offline-dims {
  width: 35px;
  height: 31px;
}

.svg-svg-111-chat-email {
  @extend %svg-common;

  background-position: 0 18.125516102394716%;
}

.svg-svg-111-chat-email-dims {
  width: 26px;
  height: 19px;
}

.svg-svg-112-chat-dots {
  @extend %svg-common;

  background-position: 0 19.027835479850435%;
}

.svg-svg-112-chat-dots-dims {
  width: 39px;
  height: 34px;
}

.svg-svg-113-chat-phone {
  @extend %svg-common;

  background-position: 0 20.381110190555095%;
}

.svg-svg-113-chat-phone-dims {
  width: 27px;
  height: 27px;
}

.svg-svg-114-chat-question-mark {
  @extend %svg-common;

  background-position: 0 21.437422552664188%;
}

.svg-svg-114-chat-question-mark-dims {
  width: 12px;
  height: 20px;
}

.svg-svg-115-chat-chavron-left {
  @extend %svg-common;

  background-position: 0 22.217642209398186%;
}

.svg-svg-115-chat-chavron-left-dims {
  width: 9px;
  height: 15px;
}

.svg-svg-116-chat-chavron-right {
  @extend %svg-common;

  background-position: 0 22.835943940643034%;
}

.svg-svg-116-chat-chavron-right-dims {
  width: 9px;
  height: 15px;
}

.svg-svg-12-check-thick {
  @extend %svg-common;

  background-position: 0 23.54158047165908%;
}

.svg-svg-12-check-thick-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-13-check-thin {
  @extend %svg-common;

  background-position: 0 24.53454695904013%;
}

.svg-svg-13-check-thin-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-14-chevron {
  @extend %svg-common;

  background-position: 0 25.443298969072163%;
}

.svg-svg-14-chevron-dims {
  width: 24px;
  height: 16px;
}

.svg-svg-15-chevron-circle {
  @extend %svg-common;

  background-position: 0 26.189491104675216%;
}

.svg-svg-15-chevron-circle-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-16-chevron-circle-o {
  @extend %svg-common;

  background-position: 0 27.182457592056267%;
}

.svg-svg-16-chevron-circle-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-17-chevron-thick {
  @extend %svg-common;

  background-position: 0 28.082474226804123%;
}

.svg-svg-17-chevron-thick-dims {
  width: 24px;
  height: 16px;
}

.svg-svg-18-clock {
  @extend %svg-common;

  background-position: 0 28.83740173769135%;
}

.svg-svg-18-clock-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-19-compress {
  @extend %svg-common;

  background-position: 0 29.830368225072405%;
}

.svg-svg-19-compress-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-20-contacts {
  @extend %svg-common;

  background-position: 0 30.823334712453455%;
}

.svg-svg-20-contacts-dims {
  width: 22px;
  height: 24px;
}

.svg-svg-21-credit-card {
  @extend %svg-common;

  background-position: 0 31.724422442244226%;
}

.svg-svg-21-credit-card-dims {
  width: 24px;
  height: 17px;
}

.svg-svg-22-cross {
  @extend %svg-common;

  background-position: 0 32.519652461729414%;
}

.svg-svg-22-cross-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-23-cross-circle {
  @extend %svg-common;

  background-position: 0 33.51261894911047%;
}

.svg-svg-23-cross-circle-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-24-cross-thick {
  @extend %svg-common;

  background-position: 0 34.505585436491515%;
}

.svg-svg-24-cross-thick-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-25-customer {
  @extend %svg-common;

  background-position: 0 35.49855192387257%;
}

.svg-svg-25-customer-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-26-customer-o {
  @extend %svg-common;

  background-position: 0 36.49151841125362%;
}

.svg-svg-26-customer-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-27-edit-frame {
  @extend %svg-common;

  background-position: 0 37.48448489863467%;
}

.svg-svg-27-edit-frame-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-28-facebook {
  @extend %svg-common;

  background-position: 0 38.47745138601572%;
}

.svg-svg-28-facebook-dims {
  width: 12px;
  height: 24px;
}

.svg-svg-29-fit-predictor {
  @extend %svg-common;

  background-position: 0 39.47041787339677%;
}

.svg-svg-29-fit-predictor-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-30-foursquare {
  @extend %svg-common;

  background-position: 0 40.46338436077782%;
}

.svg-svg-30-foursquare-dims {
  width: 18px;
  height: 24px;
}

.svg-svg-31-gift {
  @extend %svg-common;

  background-position: 0 41.45635084815888%;
}

.svg-svg-31-gift-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-32-google-plus {
  @extend %svg-common;

  background-position: 0 42.449317335539924%;
}

.svg-svg-32-google-plus-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-33-grid-double {
  @extend %svg-common;

  background-position: 0 43.29896907216495%;
}

.svg-svg-33-grid-double-dims {
  width: 16px;
  height: 16px;
}

.svg-svg-34-grid-single {
  @extend %svg-common;

  background-position: 0 43.95876288659794%;
}

.svg-svg-34-grid-single-dims {
  width: 16px;
  height: 16px;
}

.svg-svg-35-grid-triple {
  @extend %svg-common;

  background-position: 0 44.618556701030926%;
}

.svg-svg-35-grid-triple-dims {
  width: 24px;
  height: 16px;
}

.svg-svg-36-hamburger {
  @extend %svg-common;

  background-position: 0 45.353159851301115%;
}

.svg-svg-36-hamburger-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-37-heart {
  @extend %svg-common;

  background-position: 0 46.21744522529971%;
}

.svg-svg-37-heart-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-38-heart-o {
  @extend %svg-common;

  background-position: 0 47.126911947085574%;
}

.svg-svg-38-heart-o-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-39-heel {
  @extend %svg-common;

  background-position: 0 48.076127430699216%;
}

.svg-svg-39-heel-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-40-info {
  @extend %svg-common;

  background-position: 0 49.06909391808026%;
}

.svg-svg-40-info-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-41-info-o {
  @extend %svg-common;

  background-position: 0 50.06206040546132%;
}

.svg-svg-41-info-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-42-instagram {
  @extend %svg-common;

  background-position: 0 51.05502689284236%;
}

.svg-svg-42-instagram-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-43-lead {
  @extend %svg-common;

  background-position: 0 51.96199917389509%;
}

.svg-svg-43-lead-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-44-location {
  @extend %svg-common;

  background-position: 0 52.87546545304096%;
}

.svg-svg-44-location-dims {
  width: 16px;
  height: 24px;
}

.svg-svg-45-lock {
  @extend %svg-common;

  background-position: 0 53.86843194042201%;
}

.svg-svg-45-lock-dims {
  width: 18px;
  height: 24px;
}

.svg-svg-46-mail {
  @extend %svg-common;

  background-position: 0 54.72554684275691%;
}

.svg-svg-46-mail-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-47-mail-o {
  @extend %svg-common;

  background-position: 0 55.49132947976879%;
}

.svg-svg-47-mail-o-dims {
  width: 24px;
  height: 19px;
}

.svg-svg-48-minus-thick {
  @extend %svg-common;

  background-position: 0 55.97535934291581%;
}

.svg-svg-48-minus-thick-dims {
  width: 24px;
  height: 6px;
}

.svg-svg-49-minus-thin {
  @extend %svg-common;

  background-position: 0 56.175625769388596%;
}

.svg-svg-49-minus-thin-dims {
  width: 24px;
  height: 4px;
}

.svg-svg-50-mobile {
  @extend %svg-common;

  background-position: 0 56.80595779892429%;
}

.svg-svg-50-mobile-dims {
  width: 18px;
  height: 24px;
}

.svg-svg-51-mute {
  @extend %svg-common;

  background-position: 0 57.65579859678085%;
}

.svg-svg-51-mute-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-52-pause-circle-o {
  @extend %svg-common;

  background-position: 0 58.54364915184112%;
}

.svg-svg-52-pause-circle-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-53-pencil {
  @extend %svg-common;

  background-position: 0 59.53661563922218%;
}

.svg-svg-53-pencil-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-54-pinterest {
  @extend %svg-common;

  background-position: 0 60.52958212660323%;
}

.svg-svg-54-pinterest-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-55-play-circle-o {
  @extend %svg-common;

  background-position: 0 61.52254861398428%;
}

.svg-svg-55-play-circle-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-56-plus-circle-o {
  @extend %svg-common;

  background-position: 0 62.51551510136533%;
}

.svg-svg-56-plus-circle-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-57-plus-fill {
  @extend %svg-common;

  background-position: 0 63.50848158874638%;
}

.svg-svg-57-plus-fill-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-58-plus-thick {
  @extend %svg-common;

  background-position: 0 64.50144807612743%;
}

.svg-svg-58-plus-thick-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-59-plus-thin {
  @extend %svg-common;

  background-position: 0 65.49441456350849%;
}

.svg-svg-59-plus-thin-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-60-print {
  @extend %svg-common;

  background-position: 0 66.48738105088954%;
}

.svg-svg-60-print-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-61-question-mark {
  @extend %svg-common;

  background-position: 0 67.48034753827058%;
}

.svg-svg-61-question-mark-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-62-reload {
  @extend %svg-common;

  background-position: 0 68.41670111616371%;
}

.svg-svg-62-reload-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-63-resize {
  @extend %svg-common;

  background-position: 0 69.38353330575093%;
}

.svg-svg-63-resize-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-64-rss-square {
  @extend %svg-common;

  background-position: 0 70.37649979313198%;
}

.svg-svg-64-rss-square-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-65-search-minus-o {
  @extend %svg-common;

  background-position: 0 71.36946628051304%;
}

.svg-svg-65-search-minus-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-66-search-o {
  @extend %svg-common;

  background-position: 0 72.36243276789408%;
}

.svg-svg-66-search-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-67-search-plus-o {
  @extend %svg-common;

  background-position: 0 73.35539925527513%;
}

.svg-svg-67-search-plus-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-68-search-thick {
  @extend %svg-common;

  background-position: 0 74.34836574265618%;
}

.svg-svg-68-search-thick-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-69-share {
  @extend %svg-common;

  background-position: 0 75.34133223003724%;
}

.svg-svg-69-share-dims {
  width: 18px;
  height: 24px;
}

.svg-svg-70-shopping-bag {
  @extend %svg-common;

  background-position: 0 76.33429871741829%;
}

.svg-svg-70-shopping-bag-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-71-shopping-bag-o {
  @extend %svg-common;

  background-position: 0 77.32726520479933%;
}

.svg-svg-71-shopping-bag-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-72-similar {
  @extend %svg-common;

  background-position: 0 78.32023169218039%;
}

.svg-svg-72-similar-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-73-size-guide {
  @extend %svg-common;

  background-position: 0 79.08415841584159%;
}

.svg-svg-73-size-guide-dims {
  width: 24px;
  height: 17px;
}

.svg-svg-74-sms {
  @extend %svg-common;

  background-position: 0 79.8843453118546%;
}

.svg-svg-74-sms-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-75-snapchat {
  @extend %svg-common;

  background-position: 0 80.77718065316246%;
}

.svg-svg-75-snapchat-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-76-snapchat-o {
  @extend %svg-common;

  background-position: 0 81.68664737494832%;
}

.svg-svg-76-snapchat-o-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-77-star {
  @extend %svg-common;

  background-position: 0 82.66446007447249%;
}

.svg-svg-77-star-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-78-stop-circle-o {
  @extend %svg-common;

  background-position: 0 83.65742656185354%;
}

.svg-svg-78-stop-circle-o-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-79-twitter {
  @extend %svg-common;

  background-position: 0 84.51053283767038%;
}

.svg-svg-79-twitter-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-80-volume {
  @extend %svg-common;

  background-position: 0 85.33663775299463%;
}

.svg-svg-80-volume-dims {
  width: 24px;
  height: 20px;
}

.svg-svg-81-wanelo {
  @extend %svg-common;

  background-position: 0 86.30533719486968%;
}

.svg-svg-81-wanelo-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-82-youtube {
  @extend %svg-common;

  background-position: 0 87.0821295914156%;
}

.svg-svg-82-youtube-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-83-saks-style {
  @extend %svg-common;

  background-position: 0 87.82501031778787%;
}

.svg-svg-83-saks-style-dims {
  width: 24px;
  height: 18px;
}

.svg-svg-84-chat-fill {
  @extend %svg-common;

  background-position: 0 88.75103391232423%;
}

.svg-svg-84-chat-fill-dims {
  width: 24px;
  height: 23px;
}

.svg-svg-88-chevron-o {
  @extend %svg-common;

  background-position: 0 89.44329896907216%;
}

.svg-svg-88-chevron-o-dims {
  width: 24px;
  height: 16px;
}

.svg-svg-89-location-hover {
  @extend %svg-common;

  background-position: 0 90.40132395531651%;
}

.svg-svg-89-location-hover-dims {
  width: 16px;
  height: 24px;
}

.svg-svg-90-heart-o-hover {
  @extend %svg-common;

  background-position: 0 91.3187267465895%;
}

.svg-svg-90-heart-o-hover-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-91-shopping-bag-hover {
  @extend %svg-common;

  background-position: 0 92.30450972279685%;
}

.svg-svg-91-shopping-bag-hover-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-92-location-hover {
  @extend %svg-common;

  background-position: 0 93.2974762101779%;
}

.svg-svg-92-location-hover-dims {
  width: 16px;
  height: 24px;
}

.svg-svg-93-heart-o-hover {
  @extend %svg-common;

  background-position: 0 94.21248449772634%;
}

.svg-svg-93-heart-o-hover-dims {
  width: 24px;
  height: 22px;
}

.svg-svg-94-shopping-bag-hover {
  @extend %svg-common;

  background-position: 0 95.20066197765826%;
}

.svg-svg-94-shopping-bag-hover-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-95-check-green-thick {
  @extend %svg-common;

  background-position: 0 96.19362846503931%;
}

.svg-svg-95-check-green-thick-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-96-heart-blue {
  @extend %svg-common;

  background-position: 0 97.10624224886317%;
}

.svg-svg-96-heart-blue-dims {
  width: 22px;
  height: 19px;
  background-size: 34px;
}

.svg-svg-97-heart-red {
  @extend %svg-common;

  background-position: 0 98.01570897064903%;
}

.svg-svg-97-heart-red-dims {
  width: 22px;
  height: 19px;
  background-size: 34px;
}

.svg-svg-98-star-grey {
  @extend %svg-common;

  background-position: 0 99.00703351261895%;
}

.svg-svg-98-star-grey-dims {
  width: 24px;
  height: 24px;
}

.svg-svg-99-check-thick-white {
  @extend %svg-common;

  background-position: 0 100%;
}

.svg-svg-99-check-thick-white-dims {
  width: 24px;
  height: 24px;
}
