@import '../config/variables';

.custom-tooltip {
  div[role='status'] {
    position: absolute;
    display: inline-block;
    width: 100%;
    max-width: 240px;
    z-index: 7;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.cvv-tooltip-icon {
  height: 32px;
  display: inline-flex;
  align-items: center;
}

[data-popper-arrow],
[data-popper-arrow]::before,
[data-popper-arrow]::after {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 10;
}

[data-popper-arrow]::before,
[data-popper-arrow]::after {
  content: '';
  transform: rotate(45deg);
  background: $black;
}

[data-popper-arrow]::after {
  background: $white;
}

[data-popper-placement^='top'] > [data-popper-arrow] {
  bottom: -5px;

  &::after {
    bottom: 1px;
  }
}

[data-popper-placement^='bottom'] > [data-popper-arrow] {
  top: -5px;

  &::after {
    top: 1px;
  }
}

[data-popper-placement^='left'] > [data-popper-arrow] {
  right: -5px;

  &::after {
    right: 1px;
  }
}

[data-popper-placement^='right'] > [data-popper-arrow] {
  left: -5px;

  &::after {
    left: 1px;
  }
}

.tooltip-content {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

[role='status'] {
  max-width: 220px;
  z-index: 2;

  .tooltip-content {
    position: static;
    white-space: normal;
    background-color: $white;
    border: 1px solid $black;
    color: $black;
    padding: 15px 20px;
  }
}

.tooltip-content {
  .rewards-content {
    text-align: center;

    span {
      padding-top: 6px;
      display: inline-block;
    }

    a {
      @extend a.underline;
    }
  }
}

.cc-off-tooltip {
  .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: $secondary-Utility-9;
    color: $secondary-Utility-1;
    font-size: $base-fontSize - 2px;
    text-align: left;
    border-radius: 0;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
  }

  &.show-cc-tooltip {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.cc-off-tooltip-bottom {
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent $secondary-Utility-9 transparent;
  }
}

.tooltip-info {
  @extend .svg-svg-41-info-o;
  @extend .svg-svg-41-info-o-dims;

  text-indent: -9999px;
  background-color: $primary-Base-3;
  display: inline-block;
  padding: 0;
  font-size: $base-fontSize - 2px;
  line-height: 1;
  cursor: pointer;
  border: none;
  height: 16px;
  width: 16px;
  background-size: 25.6px;
  transform: scale(0.75);
  color: $avenue-secondary-variant-1;
  font-family: $base-fontFamily;
  margin-left: 0;
}

.shipping-section,
.summary-section {
  .custom-tooltip {
    div[role='status'] {
      @include media-breakpoint-down(sm) {
        min-width: 240px;
      }
    }
  }
}
