.hbc-slider + .touchscreen-slider-dots {
  margin: 0 auto 9px;
}

.category-slider,
.recommendation-products,
.wishlist-cart-slider {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;

  &:not(.slick-initialized) {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      flex: 0 0 auto;
      scroll-snap-align: start;
    }
  }

  &.slick-initialized {
    padding-bottom: 0;
  }
}

.recommendation-products,
.wishlist-cart-slider {
  > .product {
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;

    @include media-breakpoint-up(sm) {
      width: 30%;
    }

    @include media-breakpoint-up(lg) {
      width: 23%;
    }

    @include media-breakpoint-up(xl) {
      width: 18.5%;
    }
  }
}

.category-slider {
  .category-item {
    padding: 0 3px 0 0;
  }

  > .category-item {
    width: 66%;

    @include media-breakpoint-up(sm) {
      width: 30%;
    }

    @include media-breakpoint-up(lg) {
      width: 23%;
    }
  }
}

.pdp-carousel .primary-images {
  margin-bottom: 10px;

  &:not(.slick-initialized) {
    @include media-breakpoint-down(md) {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      > * {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    + .touchscreen-slider-dots {
      display: none;
    }
  }
}
