%svg-common-avenue {
  background: url('../../images/avenue-sprite-vertical.svg') no-repeat;
}

.svg-01-avenue-back-to-top {
  @extend %svg-common-avenue;
  background-position: 0 0;
}

.svg-01-avenue-back-to-top-dims {
  width: 42px;
  height: 42px;
}

.svg-02-avenue-bag {
  @extend %svg-common-avenue;
  background-position: 0 3.341288782816229%;
}

.svg-02-avenue-bag-dims {
  width: 28px;
  height: 28px;
}

.svg-03-avenue-bag-hover {
  @extend %svg-common-avenue;
  background-position: 0 5.568814638027049%;
}

.svg-03-avenue-bag-hover-dims {
  width: 28px;
  height: 28px;
}

.svg-04-avenue-caret {
  @extend %svg-common-avenue;
  background-position: 0 7.674236491777604%;
}

.svg-04-avenue-caret-dims {
  width: 8px;
  height: 8px;
}

.svg-05-avenue-chevron {
  @extend %svg-common-avenue;
  background-position: 0 8.379446640316205%;
}

.svg-05-avenue-chevron-dims {
  width: 20px;
  height: 20px;
}

.svg-06-avenue-chevron-left {
  @extend %svg-common-avenue;
  background-position: 0 9.929078014184396%;
}

.svg-06-avenue-chevron-left-dims {
  width: 16px;
  height: 16px;
}

.svg-07-avenue-chevron-left-small {
  @extend %svg-common-avenue;
  background-position: 0 11.189913317572891%;
}

.svg-07-avenue-chevron-left-small-dims {
  width: 16px;
  height: 16px;
}

.svg-08-avenue-chevron-right {
  @extend %svg-common-avenue;
  background-position: 0 12.450748620961386%;
}

.svg-08-avenue-chevron-right-dims {
  width: 16px;
  height: 16px;
}

.svg-09-avenue-circle-check {
  @extend %svg-common-avenue;
  background-position: 0 13.79857256145916%;
}

.svg-09-avenue-circle-check-dims {
  width: 24px;
  height: 24px;
}

.svg-10-avenue-close {
  @extend %svg-common-avenue;
  background-position: 0 15.602836879432624%;
}

.svg-10-avenue-close-dims {
  width: 16px;
  height: 16px;
}

.svg-11-avenue-gift {
  @extend %svg-common-avenue;
  background-position: 0 17.024661893396978%;
}

.svg-11-avenue-gift-dims {
  width: 28px;
  height: 28px;
}

.svg-12-avenue-info {
  @extend %svg-common-avenue;
  background-position: 0 19.130434782608695%;
}

.svg-12-avenue-info-dims {
  width: 20px;
  height: 20px;
}

.svg-13-avenue-large-close {
  @extend %svg-common-avenue;
  background-position: 0 20.84327764518695%;
}

.svg-13-avenue-large-close-dims {
  width: 28px;
  height: 28px;
}

.svg-14-avenue-minus {
  @extend %svg-common-avenue;
  background-position: 0 22.85263987391647%;
}

.svg-14-avenue-minus-dims {
  width: 16px;
  height: 16px;
}

.svg-15-avenue-minus-lg {
  @extend %svg-common-avenue;
  background-position: 0 24.13249211356467%;
}

.svg-15-avenue-minus-lg-dims {
  width: 17px;
  height: 17px;
}

.svg-16-avenue-pause {
  @extend %svg-common-avenue;
  background-position: 0 25.69610182975338%;
}

.svg-16-avenue-pause-dims {
  width: 28px;
  height: 28px;
}

.svg-17-avenue-play {
  @extend %svg-common-avenue;
  background-position: 0 27.9236276849642%;
}

.svg-17-avenue-play-dims {
  width: 28px;
  height: 28px;
}

.svg-18-avenue-plus {
  @extend %svg-common-avenue;
  background-position: 0 29.889589905362776%;
}

.svg-18-avenue-plus-dims {
  width: 17px;
  height: 17px;
}

.svg-19-avenue-star {
  @extend %svg-common-avenue;
  background-position: 0 31.35391923990499%;
}

.svg-19-avenue-star-dims {
  width: 22px;
  height: 22px;
}

.svg-20-avenue-stop {
  @extend %svg-common-avenue;
  background-position: 0 33.253778838504374%;
}

.svg-20-avenue-stop-dims {
  width: 28px;
  height: 28px;
}

.svg-21-avenue-thick-success {
  @extend %svg-common-avenue;
  background-position: 0 35.481304693715195%;
}

.svg-21-avenue-thick-success-dims {
  width: 28px;
  height: 28px;
}

.svg-22-avenue-thin-search {
  @extend %svg-common-avenue;
  background-position: 0 37.5%;
}

.svg-22-avenue-thin-search-dims {
  width: 21px;
  height: 21px;
}

.svg-23-avenue-warning {
  @extend %svg-common-avenue;
  background-position: 0 39.348171701112875%;
}

.svg-23-avenue-warning-dims {
  width: 27px;
  height: 27px;
}

.svg-24-avenue-wishlist-heart {
  @extend %svg-common-avenue;
  background-position: 0 41.527446300715994%;
}

.svg-24-avenue-wishlist-heart-dims {
  width: 28px;
  height: 28px;
}

.svg-25-avenue-wishlist-heart-hover {
  @extend %svg-common-avenue;
  background-position: 0 43.75497215592681%;
}

.svg-25-avenue-wishlist-heart-hover-dims {
  width: 28px;
  height: 28px;
}

// mixin for usage in media query
@mixin svg-25-avenue-wishlist-heart-hoverState {
  background-position: 0 43.75497215592681%;
  width: 28px;
  height: 28px;
}

.svg-26-avenue-AddressBook {
  @extend %svg-common-avenue;
  background-position: 0 46.16613418530351%;
}

.svg-26-avenue-AddressBook-dims {
  width: 33px;
  height: 33px;
}

.svg-27-avenue-FasterCheckout {
  @extend %svg-common-avenue;
  background-position: 0 48.68525896414343%;
}

.svg-27-avenue-FasterCheckout-dims {
  width: 30px;
  height: 30px;
}

.svg-28-avenue-Heart {
  @extend %svg-common-avenue;
  background-position: 0 51.07569721115538%;
}

.svg-28-avenue-Heart-dims {
  width: 30px;
  height: 30px;
}

.svg-29-avenue-Orders {
  @extend %svg-common-avenue;
  background-position: 0 53.594249201277954%;
}

.svg-29-avenue-Orders-dims {
  width: 33px;
  height: 33px;
}

.svg-30-avenue-Payments {
  @extend %svg-common-avenue;
  background-position: 0 56.23003194888179%;
}

.svg-30-avenue-Payments-dims {
  width: 33px;
  height: 33px;
}

.svg-31-avenue-Profile {
  @extend %svg-common-avenue;
  background-position: 0 58.86581469648562%;
}

.svg-31-avenue-Profile-dims {
  width: 33px;
  height: 33px;
}

.svg-32-avenue-SaksFirst {
  @extend %svg-common-avenue;
  background-position: 0 61.501597444089455%;
}

.svg-32-avenue-SaksFirst-dims {
  width: 33px;
  height: 33px;
}

.svg-33-avenue-TrackOrders {
  @extend %svg-common-avenue;
  background-position: 0 63.98406374501992%;
}

.svg-33-avenue-TrackOrders-dims {
  width: 30px;
  height: 30px;
}

.svg-34-avenue-Thick_Success {
  @extend %svg-common-avenue;
  background-position: 0 66.26889419252188%;
}

.svg-34-avenue-Thick_Success-dims {
  width: 28px;
  height: 28px;
}

.svg-35-avenue-warning {
  @extend %svg-common-avenue;
  background-position: 0 68.44197138314786%;
}

.svg-35-avenue-warning-dims {
  width: 27px;
  height: 27px;
}

.svg-36-avenue-Up_Copy {
  @extend %svg-common-avenue;
  background-position: 0 70.53216838760922%;
}

.svg-36-avenue-Up_Copy-dims {
  width: 27px;
  height: 26px;
}

.svg-37-avenue-Active {
  @extend %svg-common-avenue;
  background-position: 0 72.71280827366746%;
}

.svg-37-avenue-Active-dims {
  width: 28px;
  height: 28px;
}

.svg-38-avenue-Active-Left {
  @extend %svg-common-avenue;
  background-position: 0 74.46640316205534%;
}

.svg-38-avenue-Active-Left-dims {
  width: 20px;
  height: 20px;
}

.svg-39-avenue-Close {
  @extend %svg-common-avenue;
  background-position: 0 76.53142402545744%;
}

.svg-39-avenue-Close-dims {
  width: 28px;
  height: 28px;
}

.svg-40-avenue-Call {
  @extend %svg-common-avenue;
  background-position: 0 78.63383637807785%;
}

.svg-40-avenue-Call-dims {
  width: 26px;
  height: 26px;
}

.svg-41-avenue-Chat_Bubble_Unselected {
  @extend %svg-common-avenue;
  background-position: 0 81.28%;
}

.svg-41-avenue-Chat_Bubble_Unselected-dims {
  width: 35px;
  height: 35px;
}

.svg-42-avenue-Chat_Bubble {
  @extend %svg-common-avenue;
  background-position: 0 84.08%;
}

.svg-42-avenue-Chat_Bubble-dims {
  width: 35px;
  height: 35px;
}

.svg-43-avenue-Connect_Arrow {
  @extend %svg-common-avenue;
  background-position: 0 86.46496815286625%;
}

.svg-43-avenue-Connect_Arrow-dims {
  width: 28px;
  height: 29px;
}

.svg-44-avenue-Email {
  @extend %svg-common-avenue;
  background-position: 0 89.12869704236611%;
}

.svg-44-avenue-Email-dims {
  width: 34px;
  height: 34px;
}

.svg-45-avenue-Question {
  @extend %svg-common-avenue;
  background-position: 0 91.40811455847255%;
}

.svg-45-avenue-Question-dims {
  width: 28px;
  height: 28px;
}

.svg-46-avenue-Hamburger {
  @extend %svg-common-avenue;
  background-position: 0 93.63564041368338%;
}

.svg-46-avenue-Hamburger-dims {
  width: 28px;
  height: 28px;
}

.svg-47-avenue-Alert {
  @extend %svg-common-avenue;
  background-position: 0 95.18167456556083%;
}

.svg-47-avenue-Alert-dims {
  width: 19px;
  height: 19px;
}

.svg-48-avenue-Info {
  @extend %svg-common-avenue;
  background-position: 0 96.6824644549763%;
}

.svg-48-avenue-Info-dims {
  width: 19px;
  height: 19px;
}

.svg-49-avenue-Success {
  @extend %svg-common-avenue;
  background-position: 0 98.18325434439178%;
}

.svg-49-avenue-Success-dims {
  width: 19px;
  height: 19px;
}

.svg-50-avenue-Warning {
  @extend %svg-common-avenue;
  background-position: 0 100%;
}

.svg-50-avenue-Warning-dims {
  width: 23px;
  height: 23px;
}
