@import '../config/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../components/avenue-sprite';

@font-face {
  font-family: hbc-icons-backup;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/487c353fa6becb030db6e311eea23853.woff) format('woff');
  font-display: swap;
}

.bloom-reach-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px !important;
  padding-right: 15px !important;

  .slider-heading-section {
    .slider-heading {
      line-height: 32px;
      font-family: $Moneta-regular;
      font-size: 28px;
      text-transform: none;
      letter-spacing: 1.2px;

      @include media-breakpoint-down(md){
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }
  }
 }

.bloom-reach-widget::after {
  content: ' ';
  display: block;
  clear: both;
}

.bloom-reach-widget-pa {
  clear: both;
  margin-top: 52px;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bloom-reach-widget-pa::after {
  display: block;
  clear: both;
  content: '';
}

.bloom-reach-widget-pa .bloom-reach-widget {
  box-sizing: border-box;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.bloom-reach-widget-pa .br-found-heading {
  border-top: 2px solid #ccc;
}

#br-related-searches-widget {
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 1;
  flex: 1;
  flex-wrap: wrap;
  border-top: 1px solid $avenue-secondary-variant-7;
  padding-top: 27px;
  padding-bottom: 9px;
  margin-top: 36px;
  text-align: center;
  margin-left: 15px !important;
  margin-right: 15px !important;
  justify-content: center;
  line-height: 20px;
  letter-spacing: 0.25px;
  @include media-breakpoint-down(md){
    flex-direction: column;
    width: stretch;
  }
}

.br-related-query-link {
  text-transform: capitalize;
  border-bottom: 2px solid $avenue-secondary-variant-7;
  &:hover {
    text-decoration: none;
  }
}

.br-related-heading {
  display: inline;
  font-weight: bold;
}

.br-related-heading::after {
  content: ': ';
}

.br-related-query {
  display: block;
  padding-left: 15px;
  @include media-breakpoint-down(md) {
    padding-top: 18px;
  }
}

.br-related-query:nth-last-child(n + 2) .br-related-query-link::after {
  content: ', ';
  @include media-breakpoint-down(md){
    content: '';
  }
}

.br-found-heading {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  text-align: center;
  padding-bottom: 27px;
  font-family: $Moneta-regular;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1.2px;
  display: none;
}

.slider-heading {
  margin: 0 0 27px;
}

.br-sf-widget {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
}

.br-sf-widget-merchant-cont {
  padding-right: 0;
  overflow: hidden;
}

.br-sf-widget-merchant-cont:hover .br-sf-widget-merchant-qv {
  visibility: visible;
}

.br-sf-widget-merchant-title,
.br-sf-widget-merchant-desc {
  padding-left: 106px;

  @include media-breakpoint-down(xs) {
    padding-left: 0;
  }
}

.br-sf-widget-merchant-desc {
  font-family: $base-fontFamily;
  font-size: 12px;
  letter-spacing: 0.25px;
  line-height: 18px;
  margin-top: 7px;
}

.br-sf-widget-merchant-img,
.br-sf-widget-merchant-popup-img {
  margin-right: 36px;
  float: left;
}

.br-sf-widget-merchant-img img,
.br-sf-widget-merchant-popup-img img {
  max-width: 142px;
  max-height: 188px;
}

.br-sf-widget-merchant-title a,
.br-sf-widget-merchant-popup-title a {
  text-decoration: none;
  font-family: $base-fontFamily;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 18px;
  margin-bottom: 7px;
}

.br-sf-widget-merchant-qv {
  position: absolute;
  bottom: 0;
  left: 26px;
  width: 88px;
  padding: 9px;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  visibility: hidden;
}

.br-rp-qv-show {
  display: block;
  position: absolute;
  bottom: 120px;
  max-width: 400px;
  z-index: 100;
}

#br1 {
  left: -22px;
}

.bloom-reach-widget-pa #br2 {
  left: -12px;
}

#br2 {
  left: 320px;
}

.bloom-reach-widget-pa #br2 {
  left: 240px;
}

#br3 {
  left: 660px;
}

.bloom-reach-widget-pa #br3 {
  left: 378px;
}

.bloom-reach-widget-pa #br3 .br-sf-widget-merchant-popup-maincont::after {
  left: 163px;
}

.br-sf-widget-merchant-popup-maincont {
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.br-sf-widget-merchant-popup-maincont::after {
  display: block;
  position: absolute;
  bottom: -13px;
  left: 52px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  background: #fff;
  content: '';
  z-index: 200;
}

.br-sf-widget-merchant-popup-title {
  padding-right: 20px;
}

.br-sf-widget-merchant-popup-desc {
  margin-bottom: 9px;
}

.br-sf-widget-merchant-popup-title,
.br-sf-widget-merchant-popup-desc,
.br-sf-widget-merchant-popup-view {
  padding-left: 178px;

  @include media-breakpoint-down(xs) {
    padding-left: 0;
  }
}

.br-sf-widget-merchant-popup-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
}

.br-sf-widget-merchant-popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.br-sf-widget-merchant-popup-close::after {
  color: #000;
  display: inline-block;
  font-family: hbc-icons, hbc-icons-backup, sans-serif;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  text-transform: none;
  speak: none;
  vertical-align: bottom;
  font-size-adjust: none;
  font-stretch: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: ' ';
  @extend .svg-10-avenue-close;
  @extend .svg-10-avenue-close-dims;
}

.br-rp-qv-hide {
  display: none;
}

@media (min-width: 581px) and (max-width: 959px) {
  .bloom-reach-widget-pa .bloom-reach-widget {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 580px) {
  .bloom-reach-widget-pa .bloom-reach-widget {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@include media-breakpoint-down(xs) {
  .br-sf-widget {
    flex: 0 0 100%;
  }

  .br-sf-widget-merchant-img {
    margin-right: 15px;
  }
}

.get-bloom-prod {
  display: flex;
}

@media (max-width: 580px) {
  .br-sf-widget-merchant-img,
  .br-sf-widget-merchant-popup-img {
    margin-right: 0;
    float: none;
    display: inline-block;
  }

  .br-sf-widget-merchant-img {
    margin-bottom: 12px;
  }

  .br-sf-widget-merchant-desc {
    margin-top: 2px;
  }

  .recommendation-products.hbc-slider.touchscreen-slider-initialized {
    .br-sf-widget {
      width: 42%;
      padding-left: 16px;
    }
  }

  .bloom-reach-widget {
    .slick-dots {
      display: none;
    }
  }
}
