//@import '~base/components/breadcrumb'; // no need for this import the css style will override 
@import '../config/variables';
@import '../components/avenue-sprite';

.container {
  .breadcrumb {
    padding: 0;
    margin: 0;
    border: none;

    @media #{$belowdesktop} {
      margin-bottom: 18px;
    }

    @media #{$belowtab} {
      padding-left: 20px;
    }

    li {
      color: $secondary-Variant-3;
      font-size: $base-fontSize - 2px;
      font-family: $base-fontFamily;
      position: relative;
      padding: 0 12px;
      line-height: 12px;

      a {
        color: $secondary-Variant-3 !important;
      }

      &:first-child {
        padding-left: 0;
      }

      &.breadcrumb-item {
        + .breadcrumb-item {
          padding-left: 12px;

          &::before {
            padding-right: 5px;
            color: $secondary-Variant-2;
            content: '';

            @extend .svg-06-avenue-chevron-left;
            @extend .svg-06-avenue-chevron-left-dims;

            transform: scale(0.5) rotate(180deg);
            position: absolute;
            left: -8px;
            top: -1px;
            color: $avenue-secondary-variant-3;
          }
        }
      }
    }
  }
}
