@import '../config/variables';
@import 'bootstrap/scss/mixins/breakpoints';

//Mobile specific to landscape
$sm-ls: 'screen and (max-width: 767.98px)';

.designer-img {
  img {
    width: 100%;
    height: 168px;
  }

  @media #{$sm-ls} {
    display: none;
  }
}

.cat-landing {
  &.designer-idex {
    padding: 0;
  }
}

.designer-index-banner {
  margin: 18px 0 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0 25px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding: 0 20px;
  }
}

.designer-main {
  display: flex;
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
  justify-content: space-between;

  .designer-right {
    .alpha-lists {
      a {
        line-height: 2;
        text-transform: none;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      color: $avenue-secondary-variant-1;
    }

    .alpha-suggestion-main {
      .alpha-bet {
        color: $primary-Base-2;
      }
    }

    .designer-head {
      font-family: $Moneta-regular;
      font-size: 28px;
      letter-spacing: 1.2px;
      line-height: 32px;
      margin: 37px 0 25px;
    }

    .designer-alphas {
      display: flex;
      padding: 12px 0;
      position: sticky;
      background: $primary-Base-3;
      top: 0;
      transition: top $animation-default-duration $animation-ease-in-out-quad;

      @include media-breakpoint-down(md) {
        top: 70px;
      }

      @media #{$sm-ls} {
        top: 58px;
      }

      &.fixed-alphas {
        top: 78px;

        @include media-breakpoint-down(sm) {
          top: 71px;
        }
      }

      li {
        margin: 0 5px;
        text-align: center;
        flex-basis: 3.7%;

        &.disabled {
          opacity: 0.2;
          pointer-events: none;
        }

        &:hover {
          @include media-breakpoint-up(lg) {
            background: $primary-Base-2;
          }
        }

        a {
          padding: 6px 13px;
          margin: 0;
        }

        &.active {
          border-radius: 2px;
          background: $secondary-Variant-7;

          &:hover {
            a {
              color: $primary-Base-2;
            }
          }
        }
      }

      li,
      a {
        font-size: $base-fontSize;
        line-height: 2;
        color: $avenue-secondary-variant-1;

        &:hover {
          a {
            @include media-breakpoint-up(lg) {
              color: $avenue-primary-base-1;
            }
          }
        }
      }
    }

    .alpha-suggestion-main {
      display: flex;
      margin-top: 39px;
      flex-wrap: wrap;
      border-bottom: 1px solid $avenue-secondary-variant-7;
      padding: 0 16px 40px;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        border: none;
        border-bottom: 1px solid $avenue-secondary-variant-7;
        margin-top: 32px;
        padding-bottom: 10px;
      }

      &:last-child {
        border-bottom: none;
      }

      ul {
        display: inline-block;
        width: 100%;
        flex-basis: 25%;

        li {
          padding: 0 0 5px 0;
          display: inline-block;
          width: 100%;
          word-break: break-word;
          vertical-align: middle;

          @include media-breakpoint-down(md) {
            padding: 0 7px 15px 0;
          }

          @media #{$sm-ls} {
            width: 100%;
          }

          a {
            @include media-breakpoint-down(sm) {
              display: block;
            }
          }
        }
      }

      .alpha-bet {
        flex-basis: 100%;
        float: left;
        padding: 0 0 23px 0;
        color: $avenue-secondary-variant-1;
        font-family: $Moneta-regular;
        font-size: 45px;
        letter-spacing: 1.93px;
        line-height: 32px;

        @include media-breakpoint-down(md) {
          margin-bottom: 20px;
          padding-bottom: 4px;
        }
      }

      .alpha-lists {
        a {
          font-size: 14px;
          letter-spacing: 0.25px;
          line-height: 36px;
          color: $avenue-secondary-variant-1;
        }
      }
    }
  }
}

//Slot content featured design styles
.featured-designers {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 15px;
  .feature-head {
    font-family: $aven-trade-gothic-next-bold;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
  }

  .brand-text-underline {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 36px;
    color: $avenue-secondary-variant-1;
  }

  .all-designs {
    flex-basis: 24%;
    a {
      &.selected {
        font-family: $aven-trade-gothic-next-bold;
        text-decoration: underline;
      }
    }
  }

  .feature-designs {
    flex-basis: 76%;
    padding-bottom: 20px;
    border-bottom: 1px solid $avenue-secondary-variant-7;

    .feature-head {
      margin-bottom: 5px;
    }

    .featured-brands {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .brands-list {
        display: inline-block;
        width: 100%;
        flex-basis: 33.3%;
      }
    }
  }
}
