@import '~base/components/footer';

.footer-top-utility-section .container,
footer .container {
  max-width: 1014px;
}

.footer-top-utility-section {
  background-color: $primary-Base-3;
  padding: {
    top: 68px;
    bottom: 12px;
  }

  @include media-breakpoint-down(sm) {
    padding: {
      top: 45px;
      bottom: 14px;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: {
      top: 74px;
      bottom: 0;
    }
  }

  h2 {
    display: inline-block;
    color: $primary-Base-2;
    font-family: $base-fontFamily;
    font-size: $base-fontSize;
    line-height: 1.21;
    font-family: $base-fontFamily;
    margin-left: 8px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $primary-Base-2;
    }

    &.desktop {
      display: inline-block;
    }

    &.mobile {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      font-size: $base-fontSize + 2px;
      line-height: 1.26;
    }
  }

  .utility-item {
    @media #{$mobileLandscape} {
      flex: 0 0 25%;
      span {
        min-width: 20px;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    h2 {
      margin: {
        top: 8px;
        bottom: 8px;
      }
    }

    &:last-child {
      h2 {
        margin: {
          top: 8px;
          bottom: 8px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      a {
        display: flex;
        align-items: start;
        margin: 0 0 0 10px;
      }

      h2 {
        margin: 0 10px;
      }

      &:last-child {
        h2 {
          margin: 0 10px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      a {
        display: block;
        margin: 0;
      }

      h2 {
        margin: 0 0 36px 8px;

        &.desktop {
          display: none;
        }

        &.mobile {
          display: inline-block;
        }
      }

      &:last-child {
        h2 {
          margin: 0 0 36px 8px;
        }
      }
    }

    .mail-img,
    .mobile-img,
    .location-img,
    .rewards-img {
      display: inline-block;
    }

    .mail-img {
      @include media-breakpoint-down(xs) {
        margin-right: 4px;
        margin-left: 2px;
      }
    }

    .mobile-img {
      @include media-breakpoint-down(xs) {
        padding-left: 4px;
        margin-right: 7px;
      }
    }

    .location-img {
      @include media-breakpoint-down(xs) {
        padding-left: 5px;
        margin-right: 7px;
      }
    }
  }

  .custom-border {
    border-right: 1px solid $secondary-Variant-6;
    height: 33px;
  }
}

footer {
  background-color: $secondary-Variant-7;
  padding-top: 0;
  padding-bottom: 29px;

  @include media-breakpoint-up(lg) {
    padding: {
      top: 27px;
      bottom: 27px;
    }
  }

  .container {
    h2 {
      color: $primary-Base-2;
      font-size: $base-fontSize + 4px;
      font-family: $semibold-fontFamily;
      line-height: 1.24;
      margin-bottom: 4.5px;
    }

    a {
      color: $primary-Base-2;

      &:hover {
        @include media-breakpoint-up(lg) {
          text-decoration: none;
          border-bottom: 1px solid $primary-Base-2;
        }
      }
    }

    .footer-item {
      @include media-breakpoint-down(md) {
        border-bottom: 2px solid $secondary-Variant-6;
      }
    }

    .footer-container {
      .footer-item.collapsible-md {
        button {
          color: $primary-Base-2;
          font-family: $base-fontFamily;
          font-size: $base-fontSize + 2px;
          line-height: 1.3;
          padding: 11px 0 13px;
          min-height: 50px;

          @include media-breakpoint-down(xs) {
            font-size: $base-fontSize - 1px;
            line-height: 1.3;
            padding: 14px 0 12px;
          }

          .display-right {
            float: right;
            transform: scale(0.542);
          }
        }
      }
    }

    div.collapsible-md {
      .plus {
        display: inline-block;
      }

      .minus {
        display: none;
      }
    }

    div.collapsible-md.active {
      .plus {
        display: none;
      }

      .minus {
        display: inline-block;
      }
    }

    div.collapsible-md {
      button.title {
        font-family: $base-fontFamily;
        font-size: $base-fontSize + 2px;
        line-height: 1.56;
        color: $primary-Base-2;
      }
    }

    @include media-breakpoint-down(lg) {
      .collapsible-md .title::after {
        content: '';
        display: none;
      }

      .collapsible-md.active .title::after {
        content: '';
        display: none;
      }
    }

    .content {
      font-size: $base-fontSize - 2px;
      font-family: $base-fontFamily;
      margin: 0;

      @include media-breakpoint-down(lg) {
        margin-bottom: 16px;
      }

      li {
        height: auto;
        line-height: 2.3;
        font-family: $base-fontFamily;

        a {
          font-family: $base-fontFamily;
        }

        @include media-breakpoint-down(xs) {
          line-height: 3.4;
        }
      }
    }

    hr {
      margin-top: 33px;
    }

    .social {
      margin-top: 0;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .social-links {
        width: 138px;
        margin: 33px auto 18px;
        float: none;

        @include media-breakpoint-up(lg) {
          float: none;
          margin: 0;
        }

        li {
          margin: 0 8px;
          width: auto;
          line-height: 0.93;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          @include media-breakpoint-up(lg) {
            margin: {
              top: 0;
              bottom: 0;
            }
          }

          a {
            font-size: initial;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            border-bottom: 0;

            &:hover {
              border-bottom: 0;
              text-decoration: none;
            }
          }
        }

        .facebook {
          height: 15px;
          width: 7px;
        }

        .pinterest {
          height: 15px;
          width: 15px;
        }

        .instagram {
          height: 13.99px;
          width: 14px;
        }

        .twitter {
          height: 12px;
          width: 15px;
        }

        .youtube {
          height: 18.55px;
          width: 20.5px;
        }
      }
    }

    .copyright-notice {
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .terms-conditons-copyright {
        font-family: $base-fontFamily;
        font-size: $base-fontSize;
        line-height: 1.93;
        color: $hb-Iron-variant;

        @include media-breakpoint-up(lg) {
          font-size: $base-fontSize - 1px;
          line-height: 1.4;
        }

        span {
          a {
            color: $hb-Iron-variant;

            &:hover {
              @include media-breakpoint-up(lg) {
                border-bottom: 1px solid $secondary-Variant-4;
              }
            }
          }

          @include media-breakpoint-up(lg) {
            margin: {
              right: 11px;
            }

            &:last-child {
              margin: {
                right: 0;
                left: 14px;
              }
            }
          }
        }

        .custom-border {
          border-right: 1px solid $secondary-Variant-4;
          height: 10px;
        }
      }
    }
  }
}

body.chat-overlay {
  @include media-breakpoint-down(xs) {
    #promo-drawer {
      display: none;
    }
  }
}
