@import '~base/components/menu';

.horizontal-scroll {
  overflow-x: hidden;
}

.main-menu {
  border-style: solid;
  border-width: 1px 0;
  border-color: $secondary-Variant-7;
  background-color: $primary-Base-3;

  .container {
    max-width: 1260px;
    padding: 0;
  }

  &.multilevel-dropdown {
    .dropdown-menu {
      + .dropdown-underlay {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        &.show {
          z-index: 2;

          + .dropdown-underlay {
            display: block;
            height: 100%;
            width: 100vw;
            max-height: 100vh;
            background: $white;
            position: absolute;
            top: calc(100% + 1px);
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}

.navbar {
  &.bg-inverse {
    padding: 0;

    @include media-breakpoint-down(lg) {
      padding: 0 15px;
    }

    .navbar-nav {
      .nav-item {
        padding: 0;
        flex: 1 1 auto;

        &.hide-left-nav {
          display: none;
        }

        @include media-breakpoint-down(lg) {
          padding: 0 5px;
        }

        > .nav-link {
          color: $primary-Base-2;
        }

        @include media-breakpoint-up(lg) {
          &.show {
            > .nav-link {
              span {
                border-bottom: 2px solid $primary-Base;
              }
            }
          }
        }
      }

      span.nav-link,
      .nav-link span {
        display: inline-block;
        border-bottom: 2px solid transparent;

        @include media-breakpoint-up(md) {
          padding: 10px 0 6px;
        }
      }

      span.nav-link {
        cursor: default;
        display: block;

        @include media-breakpoint-up(md) {
          text-align: center;
        }
      }

      .nav-link {
        font-size: $base-fontSize - 1;
        line-height: normal;
        font-family: $bold-fontFamily;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
        padding: 0;

        .category-image {
          margin: 0 3px 0 0;
        }

        @include media-breakpoint-up(lg) {
          justify-content: center;

          &:hover,
          &:focus {
            color: $primary-Base-2;
          }

          &:focus {
            color: $primary-Base-2;
            outline-offset: 0 !important;
          }

          &:hover {
            span {
              border-bottom: 2px solid $primary-Base;
            }
          }
        }
      }
    }
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: transparent;
}

.multilevel-dropdown {
  .dropdown-item {
    + .dropdown-item {
      border: 0;
    }
  }
}

.formemypreferences {
  border: 1px solid #dddddd;
  width: 220px;
  height: 180px;

  .content {
    padding-top: 34px;
    text-align: center;
    @media screen and (max-width: 1023.98px) {
      margin-top: 10px;
      border: 1px solid #dddddd;
      border: 1px solid #dddddd;
      margin-right: 10px;
      margin-left: 10px;
      height: 140px;

      &:hover {
        border-color: #000;
      }
    }

    .formepreferencesicon {
      padding-top: 5px;
      width: 220px;

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .my-preferences-img {
        width: 42px;
        height: 36px;
        margin-bottom: -7px;
        margin-top: -7px;

        &.update {
          width: 30px;
          height: 28px;
        }
      }

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .mypreferences {
      padding-top: 15px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 14px;

      letter-spacing: 1.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;
      margin-top: 1px;

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .updatepreferences {
      padding-top: 20px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;
      @media screen and (min-width: 1439px) {
        margin-left: 10px !important;
        padding-right: 20px;
      }

      @media screen and (min-width: 1023px) and (max-width: 1024.98px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(30px, -15px);
      }

      .save-text {
        @media screen and (min-width: 1023.98px) and (max-width: 1259px) {
          display: block;
          white-space: initial;
          width: 117px;
          margin-left: 28px;
        }
      }
    }
  }
  &:hover {
    // border: 1.5px solid #000 !important;
    border-color: #000;

    .mypreferences {
      color: #444;
      text-decoration: none !important;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .updatepreferences {
      color: #444;
      text-decoration: none !important;
    }
  }

  @media screen and (max-width: 1023.98px) {
    border: none;
  }
}

.formedesigners {
  border: 1px solid #dddddd;
  width: 220px;
  height: 180px;

  .content {
    padding-top: 34px;
    text-align: center;
    @media screen and (max-width: 1023.98px) {
      margin-top: 10px;
      border: 1px solid #dddddd;
      border: 1px solid #dddddd;
      margin-right: 10px;
      margin-left: 10px;
      height: 140px;

      &:hover {
        border-color: #000;
      }
    }

    .formedesignersicon {
      padding-top: 5px;
      width: 220px;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .designers-img {
        width: 32px;
        height: 28px;
      }
    }

    .formeadddesignersicon {
      padding-top: 20px;
      width: 220px;

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .designers-img {
        width: 20px;
        height: 20px;
      }
    }

    .mydesigners {
      padding-top: 15px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 14px;

      letter-spacing: 1.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
    }

    .latestarrivals {
      padding-top: 20px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(30px, -15px);
      }
    }
  }
  &:hover {
    // border: 1.5px solid #000 !important;
    border-color: #000;

    .mydesigners {
      color: #444;
      text-decoration: none !important;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .latestarrivals {
      color: #444;
      text-decoration: none !important;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }
  }

  @media screen and (max-width: 1023.98px) {
    border: none;
  }
}

.formemyorders {
  border: 1px solid #dddddd;
  width: 220px;
  height: 180px;

  .content {
    padding-top: 34px;
    text-align: center;
    @media screen and (max-width: 1023.98px) {
      margin-top: 10px;
      border: 1px solid #dddddd;
      border: 1px solid #dddddd;
      margin-right: 10px;
      margin-left: 10px;
      height: 140px;

      &:hover {
        border-color: #000;
      }
    }

    .myordersicon {
      padding-top: 5px;
      width: 220px;

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .my-orders-img {
        width: 32px;
        height: 28px;
      }
    }

    .myorders {
      padding-top: 15px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 14px;

      letter-spacing: 1.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
    }

    .trackorders {
      padding-top: 20px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(30px, -15px);
      }
    }
  }
  &:hover {
    // border: 1.5px solid #000 !important;
    border-color: #000;

    .myorders {
      color: #444;
      text-decoration: none !important;

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .trackorders {
      color: #444;
      text-decoration: none !important;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }
  }

  @media screen and (max-width: 1023.98px) {
    border: none;
  }
}
.noncattiles {
  display: contents;
  @media screen and (max-width: 1023.98px) {
    display: inherit !important;
  }
  .formeli {
    // @media screen and (min-width: 1023px) and (max-width: 1025.98px) {
    @media screen and (min-width: 1023px) {
      margin-left: 15px !important;
      width: 18.6% !important;
    }

    // @media screen and (min-width: 1260px) and (max-width: 1439.98px){
    @media screen and (min-width: 1259px) {
      width: 23.3% !important;
    }

    // @media screen and (min-width: 1440px){
    @media screen and (min-width: 1439px) {
      width: 27.7% !important;
    }

    &.addCats {
      @media screen and (min-width: 1023.98px) {
        width: 17.6% !important;
      }

      @media screen and (min-width: 1259px) {
        width: 21.5% !important;
      }

      @media screen and (min-width: 1439px) {
        width: 25.5% !important;
      }

      &.mydesigns {
        @media screen and (min-width: 1023.98px) {
          margin-left: 18px !important;
        }

        @media screen and (min-width: 1259px) {
          margin-left: 62px !important;
        }

        @media screen and (min-width: 1439px) {
          margin-left: 88px !important;
        }
      }

      .content-asset {
        .formecard {
          .content {
            @media screen and (min-width: 1259px) {
              margin-left: -2px !important;
            }
            @media screen and (min-width: 1439px) {
              margin-left: 16px !important;
            }
          }

          @media screen and (min-width: 1023.98px) {
            width: 178px !important;
          }
          @media screen and (min-width: 1259px) {
            width: 220px !important;
          }
          @media screen and (min-width: 1439px) {
            width: 250px !important;
          }
        }
      }
    }
  }
}

.addnecategoriesmobile {
  @media screen and (max-width: 550px) {
    padding-left: 54px !important;
    width: 366px !important;
    margin-top: -10px;
  }
  @media screen and (min-width: 551px) and (max-width: 1023.98px) {
    padding-left: 54px !important;
    width: 406px !important;
  }
}

.removetilemobile {
  @media screen and (max-width: 1023.98px) {
    display: none;
  }
}

.displaytilemobile {
  display: none !important;
  @media screen and (max-width: 1023.98px) {
    display: block !important;
    margin-bottom: -9px;
    .content-asset {
      padding-bottom: 10px;
      .formeaddcard {
        .content {
          height: 90px;
          padding-top: 28px;
          .addcatmobiletext,
          .add-des-mobiletext {
            .save-text {
              .plus-img {
                height: 20px;
                width: 16px;
                transform: translate(-9px, -2px);
              }
            }
          }
        }
      }
    }
  }
}

.formecard {
  border: 1px solid #dddddd;
  width: 220px;
  height: 180px;
  @media screen and (min-width: 1023.98px) {
    margin-left: 9px;
    width: 190px !important;
    padding-left: 5px;
    height: 195px !important;
  }

  @media screen and (min-width: 1259px) {
    margin-left: 9px;
    width: 235px !important;
    padding-left: 5px;
  }

  @media screen and (min-width: 1439px) {
    margin-left: 9px;
    width: 281px !important;
    padding-left: 5px;
  }

  &.formerecommendations {
    .content {
      padding-left: 3px;
      @media screen and (min-width: 1439px) {
        padding-left: 0px;
        margin-left: 10px !important;
        padding-right: 11px !important;
      }
    }
    &.mintilereco {
      @media screen and (min-width: 1439px) {
        width: 281px !important;
      }
      .content {
        @media screen and (min-width: 1439px) {
          margin-left: 30px !important;
        }
      }
    }
    @media screen and (min-width: 1439px) {
      width: 250px;
    }
    &.addcatlrg {
      @media screen and (min-width: 1439px) {
        width: 250px !important;
      }
    }
  }

  &.adddeslrg {
    .content {
      @media screen and (min-width: 1439px) {
        margin-left: 0px !important;
      }
    }
  }

  &.formemyorders {
    .content {
      @media screen and (min-width: 1439px) {
        margin-left: -4px !important;
      }
    }
  }

  &.formemypreferences {
    .content {
      @media screen and (min-width: 1439px) {
        padding-right: 19px;
      }
    }
  }

  .content {
    padding-top: 34px;
    text-align: center;
    @media screen and (max-width: 1023.98px) {
      margin-top: 18px;
      border: 1px solid #dddddd;
      margin-right: 20px !important;
      margin-left: 20px !important;
      height: 140px;

      &:hover {
        border-color: #000;
      }
    }

    .formerecommendationsicon {
      padding-top: 5px;
      width: 220px;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .recommended-img {
        width: 32px;
        height: 28px;
      }
    }

    .recommended-for-me {
      padding-top: 15px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 14px;

      letter-spacing: 1.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;

      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .save-text {
        @media screen and (min-width: 1023.98px) and (max-width: 1259px) {
          display: block;
          white-space: pre-wrap;
          width: 117px;
          margin-left: 28px;
        }
      }
    }

    .browse-personalized {
      padding-top: 20px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(30px, -15px);
      }

      @media screen and (min-width: 1023px) and (max-width: 1259px) {
        width: inherit !important;
        padding-top: 36px !important;
      }

      &.addCats {
        @media screen and (min-width: 1259px) {
          margin-left: -6px !important;
        }

        @media screen and (min-width: 1439px) {
          margin-left: 2px !important;
        }
      }

      @media screen and (min-width: 1259px) {
        margin-left: -2px !important;
      }

      @media screen and (min-width: 1439px) {
        margin-left: 20px !important;
        padding-right: 9px;
      }
      &.min {
        @media screen and (min-width: 1439px) {
          padding-right: 30px;
        }
      }

      .save-text {
        @media screen and (min-width: 1023.98px) and (max-width: 1259px) {
          display: block;
          white-space: pre-wrap;
          width: 117px;
          margin-left: 28px;
        }
      }
    }

    @media screen and (min-width: 1439px) {
      margin-left: 24px !important;
    }

    @media screen and (min-width: 1259px) {
      margin-left: 6px;
    }
  }
  &:hover {
    // border: 1.5px solid #000 !important;
    border-color: #000;

    .recommended-for-me {
      color: #444;
      text-decoration: none !important;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .browse-personalized {
      color: #444;
      text-decoration: none !important;
    }
  }

  @media screen and (max-width: 1023.98px) {
    border: none;
  }
}

.formeaddcard {
  border: dashed 2px #dddddd;
  width: 220px;
  height: 180px;
  &.adddesignerslrg {
    .content {
      @media screen and (min-width: 1439px) {
        margin-left: 0px !important;
      }
    }
  }

  .content {
    padding-top: 34px;
    text-align: center;
    @media screen and (max-width: 1023.98px) {
      margin-top: 18px;
      border: dashed 2px #dddddd;
      margin-right: 10px;
      margin-left: 10px;
      height: 140px;

      &:hover {
        border-color: #000;
      }
    }

    .formerecommendationsicon {
      padding-top: 5px;
      width: 220px;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .recommended-img {
        width: 32px;
        height: 28px;
      }
    }

    .addcategoriesicon {
      padding-top: 20px;
      width: 220px;

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -15px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
      .recommended-img {
        width: 20px;
        height: 20px;
      }
    }

    .recommended-for-me {
      padding-top: 15px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 14px;

      letter-spacing: 1.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(32px, -15px);
      }
    }

    .browse-personalized {
      padding-top: 20px;
      height: 18px;
      color: #000000;
      font-family: $base-fontFamily;
      font-size: 12px;
      letter-spacing: 0.25px;
      line-height: 18px;
      text-align: center;
      width: 220px;

      @media screen and (max-width: 1023.98px) {
        transform: translate(50px, -20px);
      }

      @media screen and (max-width: 543.98px) {
        transform: translate(30px, -15px);
      }
    }
  }
  &:hover {
    // border: 1.5px solid #000 !important;
    border-color: #000;

    .recommended-for-me {
      color: #444;
      text-decoration: none !important;
      @media screen and (min-width: 1023px) {
        width: inherit !important;
      }
    }

    .browse-personalized {
      color: #444;
      text-decoration: none !important;
    }
  }

  @media screen and (max-width: 1023.98px) {
    border: none;
  }
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.modal-background {
  z-index: 12;

  @include media-breakpoint-down(md) {
    .search-modal-open & {
      display: none !important;
    }

    .mobile-menu-open & {
      display: block !important;
    }
  }
}

.menu-toggleable-left .close-menu {
  display: none;
  background: transparent;
  border: 0;

  button {
    &::before {
      content: '';
      position: absolute;
      border-top: 2px solid $secondary-Variant-8;
      width: 22px;
      height: 1px;
      transform: rotate(135deg);
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      border-top: 2px solid $secondary-Variant-8;
      width: 22px;
      height: 1px;
      transform: rotate(45deg);
      left: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    &.bg-inverse {
      .navbar-nav {
        .nav-item {
          position: static;
        }
      }
    }
  }

  .dropdown-toggle::after {
    content: none;
  }

  .navbar-expand-md {
    .navbar-nav {
      justify-content: space-between;
      align-items: center;

      .dropdown-menu {
        width: 100%;
        top: 100%;
        box-shadow: none;
        margin: 0;
        border-top: 1px solid $secondary-Variant-7;
        padding: 17px 40px;

        @include media-breakpoint-down(lg) {
          padding: 17px 20px;
        }
      }
    }
  }

  .multilevel-dropdown {
    .dropdown-menu {
      .dropdown-link {
        font-size: $base-fontSize;
        line-height: 1;
        font-family: $bold-fontFamily;
        padding: 0;
        text-transform: uppercase;
        margin: 0 0 18px;
        color: $primary-Base-2;
        white-space: normal;
      }

      .dropdown-item {
        &.dropdown1 {
          width: 100%;
        }
      }

      &.show {
        display: flex;
        overflow-y: auto;
        max-height: 100vh;
        padding-bottom: 40px;

        &.formenav {
          display: flex;
          max-height: 100vh;
          padding-bottom: 40px;
          overflow-y: visible !important;
          width: 1024px !important;
          @media screen and (min-width: 1023px) {
            width: 706px;
          }
          .formecategorytile {
            width: auto !important;
            &.noprefs {
              @media screen and (min-width: 1439px) {
                margin-right: 53px;
              }
            }
          }
        }

        &.mintiles {
          display: flex;
          max-height: 100vh;
          padding-bottom: 40px;
          overflow-y: visible !important;
          width: 1024px;
          margin-left: 2%;
          @media screen and (min-width: 1023px) {
            // width: 935px !important;
            margin-left: 0% !important;
          }
        }
      }

      > .dropdown {
        > .dropdown-menu {
          position: static;
          left: 0;
          top: 0;
          display: block;
          border: 0;
          padding: 0;
          margin-bottom: 5px;

          &.cat-level2 {
            display: flex;
            flex-wrap: wrap;

            .dropdown-item {
              flex-basis: 20%;
              padding: 0 16px 0 0;

              .dropdown-menu2 {
                .dropdown-item {
                  flex-basis: 100%;
                  padding: 0;
                }
              }
            }
          }

          .dropdown-menu2 {
            .dropdown-link {
              font-size: $base-fontSize - 2;
              line-height: 1.5;
              font-family: $base-fontFamily;
              padding: 0;
              text-transform: none;
              margin: 0 0 10px;
              color: $secondary-Variant-1;
              display: inline-block;
            }
            .dropdown-item {
              line-height: 1;
              font-size: $base-fontSize - 2;

              &:last-child {
                .dropdown-link {
                  margin: 0 0 17px;
                }
              }
            }

            .dropdown-item {
              line-height: 1;
              font-size: $base-fontSize - 2;

              &:last-child {
                .dropdown-link {
                  margin: 0 0 17px;
                }
              }
            }
          }

          &.show {
            display: block;
          }
        }
      }
    }

    .dropdown {
      &.column-1 {
        .dropdown-menu {
          .dropdown-item {
            &.dropdown1 {
              width: 20%;

              .dropdown-item {
                flex-basis: 100%;
              }
            }
          }

          .category-menu-image {
            width: 80%;

            .size-1X1 {
              width: 24%;
            }

            .size-1X2 {
              width: 48%;
            }

            .size-1X3 {
              width: 72%;
            }

            .size-1X4 {
              width: 100%;
            }
          }
        }
      }

      &.column-2 {
        .dropdown-menu {
          .dropdown-item {
            &.dropdown1 {
              width: 40%;

              .dropdown-item {
                flex-basis: 50%;
              }
            }
          }

          .category-menu-image {
            width: 60%;

            .size-1X1 {
              width: 32%;
            }

            .size-1X2 {
              width: 64%;
            }

            .size-1X3 {
              width: 100%;
            }
          }
        }
      }

      &.column-3 {
        .dropdown-menu {
          .dropdown-item {
            &.dropdown1 {
              width: 60%;

              .dropdown-item {
                flex-basis: 32%;
              }
            }
          }

          .category-menu-image {
            width: 40%;

            .size-1X1 {
              width: 48%;
            }

            .size-1X2 {
              width: 100%;
            }
          }
        }
      }

      &.column-4 {
        .dropdown-menu {
          .dropdown-item {
            &.dropdown1 {
              width: 80%;

              .dropdown-item {
                flex-basis: 25%;
              }
            }
          }

          .category-menu-image {
            width: 20%;

            .size-1X1 {
              width: 100%;
            }
          }
        }
      }

      &.column-5 {
        .dropdown-menu {
          .dropdown-item {
            &.dropdown1 {
              width: 100%;
            }
          }

          .category-menu-image {
            display: block !important;
          }
        }
      }
    }

    .category-menu-image {
      width: 100%;

      .size-1X1 {
        width: 19%;
      }

      .size-1X2 {
        width: 38%;
      }

      .size-1X3 {
        width: 57%;
      }

      .size-1X4 {
        width: 76%;
      }

      .size-1X5 {
        width: 100%;
      }

      .dropdown-menu-content {
        display: flex;
        justify-content: space-between;
      }
    }

    .dropdown-item {
      padding: 0;
      flex: 1 1 auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .menu-toggleable-left {
    &.navbar-toggleable-md {
      &.in {
        max-width: 354px;
        margin: 0;
        width: 100%;
        min-width: 25%;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 114;

        &.overflow-control {
          overflow-x: visible;
          overflow-y: visible;
        }

        .nav-item,
        .customer-details {
          + .nav-item {
            border-top: 1px solid $secondary-Variant-7;
          }
        }

        @include media-breakpoint-down(xs) {
          max-width: 315px;
        }

        .dropdown-item,
        .dropdown {
          padding: 0;

          &.country-selector {
            .dropdown-toggle {
              &::after,
              &::before {
                content: none;
              }
            }
          }

          .dropdown-toggle,
          .dropdown-link.dropdown-toggle {
            position: relative;

            @include media-breakpoint-down(xs) {
              text-decoration: none;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              margin: 0;
              right: 20px;
              border: 0;
              width: 16px;
              height: 16px;
              top: 50%;
              transform: translateY(-50%);
            }

            &::before {
              display: block;
              background: url('../images/plus-thin.svg') no-repeat;
            }

            &::after {
              display: none;
              background: url('../images/minus-thin.svg') no-repeat;
            }
          }

          &.show {
            > .dropdown-toggle {
              &::after {
                display: block;
              }
              &::before {
                display: none;
              }
            }
            .opened {
              &::before {
                background: url('../images/minus-thin.svg') no-repeat;
              }
            }
          }
        }
      }
    }
  }

  .navbar {
    &.bg-inverse {
      padding: 0;

      .navbar-nav {
        .nav-item {
          padding: 0;
        }

        .nav-link {
          line-height: 53px;
          padding: 0 55px 0 20px;
          font-size: $base-fontSize;
          border-bottom: 0;
          white-space: normal;
          word-break: break-word;
        }

        .signin {
          text-transform: capitalize;
          background: $secondary-Variant-8;

          .user-message {
            display: block;
            font-size: 14px;
            line-height: 20px;
            padding: 22px 0;
          }

          .nav-link {
            text-transform: capitalize;
            font-family: $bold-fontFamily;
            font-size: $base-fontSize - 1;

            &.order-status-mobile {
              border-top: 1px solid $secondary-Variant-7;
              border-bottom: 1px solid $secondary-Variant-7;
              font-family: $base-fontFamily;
            }

            &:hover {
              background: $secondary-Variant-8;
            }
          }

          .dropdown-menu {
            display: block;
            padding: 0;
            margin: 0;
            font-size: $base-fontSize - 1;
            background: $secondary-Variant-8;

            .dropdown-item {
              border: 0;
              margin-bottom: 18px;
            }

            .dropdown-link {
              padding: 0 0 0 20px;
              font-size: $base-fontSize - 2;
            }
          }
        }

        .login + .wish-list-container {
          display: none;
        }

        .store-locator,
        .wish-list {
          padding: 0 20px;
          line-height: 53px;
          color: $primary-Base-2;
          font-size: $base-fontSize - 1;
          display: inline-block;
          width: 100%;
          background: $secondary-Variant-8;

          span {
            vertical-align: middle;

            &.svg-svg-44-location {
              transform: scale(0.75);
              margin-right: 2px;
            }
          }
        }

        .wish-list {
          .wishlist-icon {
            background-size: 24px;
            height: 13px;
            width: 18px;
          }
        }
      }
    }

    .header-utilities {
      display: block;
      background: $secondary-Variant-8;

      a {
        padding: 0 20px;
        line-height: 53px;
        color: $primary-Base-2;
        font-size: $base-fontSize - 1;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $secondary-Variant-7;
        border-left: 0;
      }
    }
  }

  .menu-toggleable-left {
    &.in {
      .dropdown-menu {
        position: static;
        display: none;
      }

      .show {
        > .dropdown-menu {
          display: block;
          padding: 0;
          margin: 0;
          box-shadow: none;
          top: 0;
          left: 0;

          .dropdown-menu {
            display: block;
            padding: 0;
            margin: 0;
            box-shadow: none;
            top: 0;
            left: 0;

            .dropdown-menu2 {
              display: none;
              &.show {
                display: block;
              }
            }

            .show {
              .dropdown-menu2 {
                display: block;
              }
            }
          }
        }
      }

      .dropdown {
        &.country-selector {
          display: none;

          span {
            padding: 0 20px;
            line-height: 53px;
            color: $primary-Base-2;
            font-size: $base-fontSize;
            border-bottom: 1px solid $secondary-Variant-7;
            background: $secondary-Variant-8;
            text-align: left;
            font-family: $bold-fontFamily;
          }
        }
      }

      .nav-item {
        &:not(.dropdown) {
          .dropdown-toggle {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .menu-toggleable-left {
    &.in {
      .close-menu {
        display: block;

        .close-button {
          position: fixed;
          top: 16px;
          left: 375px;
          right: -30px;
          padding: 10px;
          display: block;
          z-index: 114;
          background: none;
          border: none;
          outline-color: $white;

          @include media-breakpoint-down(xs) {
            left: 327px;
          }
        }
      }
    }
  }

  .multilevel-dropdown {
    .dropdown-menu {
      .dropdown1 {
        .dropdown-link {
          font-size: $base-fontSize - 1;
          padding: 0 55px 0 20px;
          margin: 0 0 18px;
          line-height: normal;
          font-family: $base-fontFamily;
          color: $menu-link;
          white-space: normal;
          word-break: break-word;
        }
      }

      > .dropdown {
        > .dropdown-menu {
          .dropdown-menu2 {
            &:not(.show-l3-menu) {
              .dropdown-link {
                padding-left: 40px;
              }
            }
          }
        }
      }
    }
  }
  .show-l3-menu {
    display: block !important;
  }
}

.nav-content1,
.nav-content2 {
  position: relative;

  .nav-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      text-decoration: underline;
      color: $primary-Base-2;
      font-size: $base-fontSize;
      font-family: $bold-fontFamily;
    }
  }
}
.dropdown-link:hover {
  text-decoration: underline;
}
.dropdown-link-not-clickable:hover {
  text-decoration: none !important;
}
