@import '~base/components/productTiles';
@import 'quickView';

@mixin productTileHoverState {
  border-color: $secondary-Variant-6;
  background-color: $hb-White-base;
  position: relative;

  @include media-breakpoint-up(lg) {
    z-index: 12;
  }

  @include media-breakpoint-down(md) {
    border-color: transparent;
  }

  .image-container {
    .quickview {
      visibility: visible;

      @include media-breakpoint-down(md) {
        visibility: hidden;
      }
    }
  }

  .tile-body {
    .product-brand,
    .link,
    .ratings,
    .feature-name,
    .limited-inventory {
      visibility: hidden;

      @include media-breakpoint-down(md) {
        visibility: visible;
        background: none;
      }
    }

    .prdt_tile_btn {
      visibility: visible;

      @include media-breakpoint-down(md) {
        visibility: hidden;
      }
    }

    .color-swatches {
      .size {
        visibility: visible;

        @include media-breakpoint-down(md) {
          visibility: hidden;
        }
      }
    }
  }
}

.product-tile {
  border: 1px solid transparent;
  padding-top: 133.33%;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-bottom: 36px;
  }

  &.giftcard-tile {
    .tile-body {
      text-transform: capitalize;
      letter-spacing: 0.23px;

      .product-brand {
        font-family: $bold-fontFamily;
        color: $primary-Base-2;
      }

      .pdp-link {
        a {
          color: $primary-Base-2;
        }
      }
    }
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    a {
      text-align: center;
      display: block;
    }

    .bagde-img {
      position: absolute;
      top: 6px;
      left: 8px;
      color: $primary-Base;
      font-family: $base-fontFamily;
      font-size: $base-fontSize - 2px;
      font-family: $bold-fontFamily;
      line-height: 1.5;
      background-color: $white-transparent;
      text-transform: uppercase;
      z-index: 2;
      padding: 0 3px;
    }

    .thumb-link {
      img {
        display: none;

        &:first-child {
          display: inline-block;
        }
      }
    }

    .wishlistTile {
      position: absolute;
      top: 3px;
      right: 3px;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      background-color: $white-transparent;

      span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 0.5px), calc(-50% + 2px));
      }
    }

    .quickview {
      text-decoration: none;
      width: 100%;
      padding: 2px 0;
      position: absolute;
      right: 0;
      bottom: 0;
      visibility: hidden;
      background: rgba(255, 255, 255, 0.8);
      outline-offset: -1px; // For displaying focus rings without cropping them.

      .quickview_txt {
        color: $primary-Base-2;
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2px;
        line-height: 1.5;
        text-transform: uppercase;
        padding-bottom: 0;
        border-bottom: 1px solid $primary-Base-2;

        &:hover {
          border-bottom: none;
        }
      }
    }

    &.wishlist_checked {
      .thumb-link {
        .tile-image {
          opacity: 1;

          &.guest-user {
            opacity: 0.2;
          }
        }
      }

      .customer-content {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;

        .wishlist-img {
          width: 100%;
          display: inline-block;
          margin-bottom: 15px;
          height: 22px;

          @include media-breakpoint-up(lg) {
            margin-bottom: 25px;
          }

          .plpremove-whishlist {
            cursor: pointer;
          }
        }

        .hrt-icn,
        .prod-added {
          width: 100%;
          display: inline-block;
        }

        .prod-added {
          color: $primary-Base-2;
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2px;
          font-family: $bold-fontFamily;
          line-height: 1.16;
          padding-bottom: 10px;

          @include media-breakpoint-down(lg) {
            font-size: 10px;
            padding-bottom: 4px;
          }
        }

        .login-options {
          width: 100%;
          display: inline-block;
          color: $primary-Base-2;
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2px;
          font-family: $base-fontFamily;
          line-height: 1.5;
          padding-bottom: 18px;

          @include media-breakpoint-down(lg) {
            font-size: 10px;
            padding-bottom: 10px;
          }

          .save-wishlist {
            width: 100%;
            display: block;
          }

          .plp-wish-signin {
            display: inline-block;
            text-decoration: underline;
            color: $primary-Base-2;

            &:hover {
              background-color: initial;
            }
          }
        }

        .view-btn {
          max-width: 158px;
          display: block;
          line-height: 1.4;
          font-family: $bold-fontFamily;
          font-size: $base-fontSize - 2px;
          padding: 13px 10px 12px;
          border: 2px solid $secondary-Variant-1;
          text-decoration: none;
          color: $primary-Base-2;
          margin: 5px auto 0;
          @include media-breakpoint-down(lg) {
            font-size: 10px;
            padding: 5px 10%;
            max-width: 125px;
          }

          &:hover {
            color: $primary-Base-2;
            background-color: initial;
            border-color: initial;
          }
        }
      }
    }
  }

  .tile-body {
    color: $secondary-Variant-1;
    font-family: $base-fontFamily;
    font-size: $base-fontSize - 2px;
    font-family: $bold-fontFamily;
    line-height: 1.5;
    padding: 0;
    margin-top: 9px;

    h2,
    h3 {
      line-height: 0 !important;
      margin-bottom: 0;
      a {
        color: $secondary-Variant-1;
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2px;
        font-family: $bold-fontFamily;
        line-height: 1.5;
        padding: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      letter-spacing: 0.23px;
    }

    .color-swatches {
      min-height: auto;

      .swatches {
        .color-exist {
          padding-bottom: 12px;

          @include media-breakpoint-down(xs) {
            padding-bottom: 5px;
          }
        }
        .single-size {
          font-family: $base-fontFamily;
          color: $primary-Base-2;
        }
        .size {
          max-height: 40px;

          .slick-slide {
            &.slick-current {
              .sizeSwatch {
                border-right: 1px solid transparent;

                &:hover,
                &.selected {
                  border-right: 2px solid $secondary-Variant-1;
                }
              }

              &:last-child {
                .sizeSwatch {
                  border-right: 1px solid $secondary-Variant-5;

                  &:hover,
                  &.selected {
                    border-right: 2px solid $secondary-Variant-1;
                  }
                }
              }
            }
          }
        }

        a {
          margin-right: 5px;
          display: inline-block;
          border: 1px solid transparent;

          .color_options {
            display: inline-block;
            position: relative;

            .img-container {
              width: 100%;
              display: inline-block;

              img,
              .swatch-circle {
                border-radius: 0;
                margin: 2px;
                width: 24px;
                height: 24px;
                border: 1px solid $secondary-Variant-6;
                background-size: cover;
              }

              &.swatch-not-available {
                &::after {
                  content: '';
                  position: absolute;
                  height: 2px;
                  background: $qty-box-dis-borclr;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-45deg);
                  width: 32px;
                }
              }
            }
          }

          &.selected {
            border: 1px solid $secondary-Variant-1;

            .color_options {
              .img-container {
                img {
                  border-color: transparent;
                }
              }
            }
          }

          &:hover {
            border-color: $secondary-Variant-1;

            .img-container {
              img,
              .swatch-circle {
                border: none;
              }

              &::after {
                width: 40px;
              }
            }
          }
        }

        .plus_icon {
          display: inline-block;
          vertical-align: top;

          a {
            border: none;
            margin-top: 9px;
          }
        }
      }

      .size {
        width: 100%;
        max-width: 180px;
        margin: 8px auto 0;
        position: relative;

        @include media-breakpoint-down(xl) {
          max-width: 150px;
        }

        .sizeSwatch {
          margin: 0;
          padding: 8px 2px;
          color: $primary-Base-2;
          border: 1px solid $secondary-Variant-5;
          position: relative;
          font-family: $base-fontFamily;
          text-transform: capitalize;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          outline-offset: -1px;

          &.size-not-available {
            &::after {
              content: '';
              position: absolute;
              height: 1px;
              background: #999;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-24.5deg);
              width: 96px;
            }
          }

          &:hover {
            border: 2px solid $secondary-Variant-1;
            max-height: 36px;
            padding: 7px 1px;
          }

          &.selected {
            border: 2px solid $secondary-Variant-1;
            max-height: 36px;
            padding: 7px 1px;
          }
        }

        .slick-arrow {
          position: absolute;
          left: -12%;
          top: 50%;
          height: 24px;
          transform: translate(0, -60%);
          background: none;

          &::before {
            position: absolute;
            content: '';
            display: inline-block;
            width: 2px;
            height: 15px;
            transform: rotate(45deg);
            background: $secondary-Variant-1;
            top: 0;
            left: 0;
          }

          &::after {
            position: absolute;
            content: '';
            display: inline-block;
            width: 2px;
            height: 15px;
            transform: rotate(-45deg);
            margin-top: 10px;
            background: $secondary-Variant-1;
            top: 0;
            left: 0;
          }

          &.slick-next {
            left: auto;
            margin-left: 0;
            right: -26%;

            &::before {
              transform: rotate(135deg);
            }

            &::after {
              transform: rotate(-135deg);
            }
          }

          &.slick-disabled {
            opacity: 0.2;
            pointer-events: none;
          }
        }
      }
    }

    .product-brand {
      color: $hb-Dark-grey-base;
      text-decoration: none;
    }

    .pdp-link {
      a {
        font-family: $base-fontFamily;
        color: $hb-Dark-grey-base;
        font-size: $base-fontSize - 2px;
        line-height: 1.5;
        text-transform: none;
      }
    }

    .prod-price {
      font-family: $base-fontFamily;
    }

    .price {
      display: inline-block;
      text-align: center;
      padding-bottom: 0;
      padding-top: 0;

      .list,
      .sales {
        display: inline-block;
      }

      @include media-breakpoint-down(md) {
        padding-top: 3px;
        padding-bottom: 0;
      }

      .strike-through {
        margin: 0;

        .value {
          color: $primary-Base-2;
          font-size: $base-fontSize - 2px;
          font-family: $base-fontFamily;
        }
      }

      .value {
        color: $hb-Dark-grey-base;
        font-size: $base-fontSize - 2px;
        font-family: $bold-fontFamily;
        font-weight: normal;
      }

      .strike-through-present {
        .value {
          padding: 0 0 0 3px;
        }
      }
    }

    .ratings {
      margin-top: 0;
      padding: 0;
      margin-right: 0;

      &.ratingExists {
        padding-bottom: 2px;
        font-size: 0;
        margin-bottom: 3px;

        @include media-breakpoint-down(lg) {
          display: inline-flex;
        }
      }
    }

    .prdt_tile_btn {
      width: 100%;
      border-radius: 0;
      visibility: hidden;
      margin-top: 9px;
      text-decoration: none;
    }

    .promotion-txt {
      width: 100%;
      display: inline-block;
      padding-bottom: 0;
      text-align: center;
    }

    .limited-inventory {
      font-family: $base-fontFamily;
      color: $secondary-Variant-4;
      padding-bottom: 2px;
    }

    .feature-name {
      width: 100%;
      display: inline-block;
      margin: 0;

      .feature-txt {
        padding: 0;
        color: $secondary-Variant-4;
        font-family: $base-fontFamily;
      }
    }

    .tile-body-footer {
      line-height: 1;

      .ratings {
        .rating-image {
          display: inline-block;

          @include media-breakpoint-down(lg) {
            margin-right: 1px;
          }
        }
      }

      .TTteaser__rating {
        margin-right: 0;
      }
    }
  }

  &:not(.disableTileHover) {
    // Even though they're the same treatment,
    // :hover and :focus-within states need to be defined separately
    // Otherwise old edge and IE doesn't apply the styles.
    &:hover {
      @include productTileHoverState;
    }
    &:focus-within {
      @include productTileHoverState;
    }
  }

  .range {
    width: 100%;
    white-space: nowrap;

    .price {
      width: auto;
    }
  }
}

.product-tile {
  .tile-body {
    .color-swatches {
      .swatches {
        a.colorswatch {
          height: 30px;
          margin-bottom: 10px;

          @include media-breakpoint-down(md) {
            margin-top: 0;
            margin-bottom: 0;
          }

          &.swatch-not-available {
            .swatch-circle {
              &::after {
                content: '';
                position: absolute;
                height: 1px;
                background: $hb-border-clr;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 32px;
              }
              &::before {
                content: '';
                position: absolute;
                height: 1px;
                background: $primary-Base-3;
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 32px;
              }
            }
          }
        }
      }
    }

    position: relative;

    .hover-content {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      background-color: $hb-White-base;
      border: 1px solid $secondary-Variant-6;
      border-top: none;

      .promotions {
        margin-bottom: 9px;
      }

      @include media-breakpoint-down(md) {
        visibility: visible;
        border: none;

        .color-swatches {
          display: none;

          .size {
            display: none;
          }
        }

        .prod-price,
        .promotion-txt,
        .prdt_tile_btn,
        .restrictionMessage {
          display: none;
        }
      }
    }

    .hover-bg-content {
      visibility: visible;
      position: relative;

      @include media-breakpoint-down(md) {
        position: relative;
        .color-swatches {
          min-height: auto;
        }
      }
      .size,
      .single-size {
        display: none;
      }
    }
  }

  &:focus-within {
    .hover-content {
      visibility: hidden;
    }
    .hover-bg-content {
      visibility: visible;
    }
  }
  &:hover {
    .hover-content {
      visibility: visible;
    }
    .hover-bg-content {
      visibility: hidden;
      @include media-breakpoint-down(md) {
        visibility: visible;
      }
    }
  }

  &.disableTileHover {
    &:hover {
      @include media-breakpoint-up(lg) {
        border-color: transparent;

        .image-container {
          .quickview {
            visibility: hidden;
          }
        }

        .tile-body {
          .hover-content {
            visibility: hidden;

            .size {
              visibility: hidden;
            }

            .prdt_tile_btn {
              visibility: hidden;
            }
          }

          .hover-bg-content {
            visibility: visible;

            .product-brand,
            .ratings,
            .link {
              visibility: visible;
            }

            .pdp-link {
              a {
                &:hover {
                  background: $primary-Base-3;
                }
              }
            }
          }
        }
      }
    }
  }

  + .TTteaser__rating {
    opacity: 0;
  }
}

.product-detail {
  .pdpdeselect-wishlist {
    &.wishlistTile {
      span {
        @extend .svg-svg-96-heart-blue-dims;
        @extend .svg-svg-96-heart-blue;
      }
    }
  }
}

.promotion-txt {
  color: $promo-msg;
  font-size: $base-fontSize - 2;
  font-family: $bold-fontFamily;
  letter-spacing: 0.25px;

  .promotion-txt-label {
    margin: 0;
  }

  .promotion-label {
    display: inline-block;
  }
}

.recommendation-products,
.homepage-cat-slider {
  .product-tile {
    .tile-body {
      .hover-content {
        display: none;
      }

      .promotion-txt {
        margin: 0;
      }
    }
  }
}

.product-tile {
  .image-container {
    margin-bottom: 0;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      margin-bottom: 9px;
    }
  }
}

@include media-breakpoint-up(md) {
  .product {
    &.gwp {
      .product-tile .tile-body .hover-content {
        min-height: 115px;
      }
    }
  }
}
