@import '~base/components/quickView';
@import '../product/product_detail';

.quick-view-dialog {
  max-width: 842px;

  .modal-content {
    border: none;

    .modal-body {
      max-height: 100%;
      padding: 0;

      .product-quickview {
        padding: 0;
        width: 100%;
        display: inline-block;

        .quickview_container {
          width: 100%;
          display: inline-block;
          padding-bottom: 25px;

          .alert-danger {
            min-height: initial;

            .close {
              font-size: $base-fontSize + 6px;
              padding: 13px 10px;
              vertical-align: middle;
              border-radius: 0;
              opacity: 1;

              &:hover {
                opacity: 1;
              }
            }
          }

          .primary-images-container {
            &.col-md-7 {
              width: calc(50% - 3px);
              display: inline-block;
              padding: 0;
              margin: 0;
              vertical-align: top;

              .badge-img {
                top: 12px;
                left: 14px;
                font-family: $base-fontFamily;
                letter-spacing: 0.5px;
                background: $primary-Base-3;
                padding: 0 3px;
              }

              .mRecommendation {
                display: none !important;
              }

              .wishlistTile {
                top: 15px;
                right: 12px;
              }

              .slick-dots {
                li {
                  button {
                    width: 18px;
                    padding: 0;
                  }
                }
              }

              .primary-image-img {
                margin: 0 auto;
                margin-bottom: 10px;
                max-width: 100%;
                padding-bottom: 0;
              }
            }

            .primary-thumbnails {
              display: none !important;
            }

            .primary-images-wrapper {
              flex: 0 0 100%;
              max-width: 100%;

              .slick-next {
                right: 10px;
                left: auto;
                transform: rotate(0deg);
              }

              .slick-prev {
                left: 10px;
                transform: rotate(0deg);
              }

              .slick-next,
              .slick-prev {
                top: calc(50% - 22px);
                width: 44px;
                height: 44px;
                background: $white-transparent;

                &::before {
                  background-position-x: 2px;
                }
              }

              .hide {
                display: none !important;
              }
            }
          }

          .s7-modal {
            display: none;
          }

          .quickview-productdetails {
            width: calc(50% - 3px);
            display: inline-block;
            padding: 25px 20px 0;
            margin: 0;
            position: relative;
            vertical-align: top;

            .add-to-cart-messages {
              transform: unset;
              position: static;
              top: auto;
              left: auto;
              width: 280px;
            }

            .product-segment {
              width: 100%;
              padding: 0 30px 0 0;
            }

            .quickview-close {
              border: none;
              cursor: pointer;
              position: absolute;
              right: 20px;
              top: 25px;
              z-index: 99;
            }

            .product-brand-name {
              color: $primary-Base-2;
              font-size: $base-fontSize + 10px;
              font-family: $base-fontFamily;
              line-height: 1.33;
            }

            .product-name {
              color: $primary-Base-2;
              font-family: $base-fontFamily;
              font-size: $base-fontSize + 4px;
              line-height: 1.22;
              margin-bottom: 5px;
            }

            .price-segment {
              .price-value-section,
              .prod-price {
                font-size: 12px;
                font-family: $base-fontFamily;

                .prices {
                  padding-bottom: 3px;
                  display: flex;
                  align-items: center;

                  .custom-tooltip {
                    .tooltip-info {
                      margin-left: 0;
                      margin-right: 5px;
                      font-size: 10px;
                    }
                  }

                  .strike-through {
                    .value {
                      font-family: $base-fontFamily;
                    }
                  }

                  .value {
                    color: $secondary-Utility-7;
                    font-size: $base-fontSize + 4px;
                    font-family: $base-fontFamily;
                    line-height: 1.22;
                  }
                }
              }
            }

            .detail-panel {
              .attributes {
                margin-top: 17px;
                padding: 17px 0 0;

                .main-attributes {
                  margin-top: 0;
                }

                .row {
                  &[data-attr='size'] {
                    .attribute {
                      margin-top: 0;
                    }
                  }
                }

                .custom-select.custom-color-dropdown {
                  ul.selection-list {
                    max-height: 150px;

                    &.ps--active-y {
                      padding: 0 40px 0 5px;

                      .ps__rail-y {
                        right: 7px !important;
                      }

                      .ps__thumb-y {
                        right: 7px;
                        width: 18px;
                        background-color: $primary-Base-2;
                      }
                    }
                  }
                }

                .size-attribute {
                  grid-template-columns: repeat(6, auto);

                  li {
                    a {
                      &:hover {
                        box-shadow: 0 0 0 1px $primary-Base-2;
                      }
                    }
                  }

                  li[disabled] {
                    a::after {
                      -webkit-transform: translate(-50%, -50%) rotate(-19deg);
                      transform: translate(-50%, -50%) rotate(-19deg);
                      width: 105%;
                    }
                  }

                  li[selected] {
                    a {
                      box-shadow: 0 0 0 2px $primary-Base-2;
                    }

                    &:hover {
                      box-shadow: 0 0 0 2px $primary-Base-2;
                    }
                  }
                }

                .swatch {
                  .attribute {
                    .color-attribute {
                      margin: 0;

                      .selected {
                        border: 1px solid $secondary-Variant-1;
                      }
                    }
                  }
                }

                .product-availability {
                  color: $primary-Base-2;
                  font-size: $base-fontSize - 2px;
                  margin-top: 0;

                  &.purchaselimit-message {
                    margin: 0 0 8px;
                    padding: 0;
                    line-height: 1.4;
                    color: $secondary-Utility-1;
                  }
                }

                .qv-baskelimit-msg {
                  max-width: 99%;
                  color: $error-msg;
                }

                .qty-bag-section {
                  width: 100%;
                  display: flex;
                  margin-bottom: 10px;

                  .attribute {
                    flex: 0 0 auto;
                    display: inline-block;
                    padding: 0;
                    vertical-align: top;
                    margin: 0;

                    .quantity-field {
                      width: 108px;
                      padding-top: 5px;

                      .prev-val,
                      .quantity-val,
                      .next-val {
                        width: 36px;
                        height: 36px;
                        display: inline-block;
                      }

                      button {
                        height: 100%;
                        width: 100%;
                        padding: 5px 6px;
                        font-size: base-fontSize;
                        font-family: $base-fontFamily;
                        line-height: 1.1;
                        text-align: center;
                        border-radius: 0;
                        border: 1px solid $qty-box-borclr;

                        &[disabled] {
                          border-color: $qty-box-dis-borclr;
                          opacity: 1;

                          &:hover {
                            border-color: $qty-box-dis-borclr;
                            opacity: 1;

                            &[data-type='plus'] {
                              padding: 5px;
                              background: $primary-Base-3;
                            }

                            &[data-type='minus'] {
                              border-right: 0;
                              border-color: $qty-box-dis-borclr;
                              opacity: 1;
                              padding: 5px 6px;
                              background: $primary-Base-3;
                            }

                            &[data-type='plus'] {
                              border-left: 0;
                            }
                          }
                        }

                        &:hover {
                          border: 1px solid $primary-Base-2;
                        }

                        &[data-type='minus'] {
                          border-right: 0;

                          &:hover {
                            border: 1px solid $primary-Base-2;
                            padding: 5px 6px;
                            border-right: 0;
                            background: $secondary-Variant-7;
                          }

                          &:focus {
                            border-right: 0;
                          }
                        }

                        &[data-type='plus'] {
                          border-left: 0;

                          &:hover {
                            border: 1px solid $primary-Base-2;
                            padding: 5px 6px;
                            border-left: 0;
                            background: $secondary-Variant-7;
                          }

                          &:focus {
                            border-left: 0;
                          }
                        }

                        &.minus-btn {
                          padding: 5px 6px;
                          line-height: 0.2;
                        }

                        .minus,
                        .plus {
                          transform: scale(0.5);
                          display: inline-block;
                        }
                      }

                      .input-group > .form-control:focus {
                        z-index: 3;
                      }

                      input[type='number']::-webkit-inner-spin-button,
                      input[type='number']::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                      }

                      .quantity-val {
                        padding: 0;
                        text-align: center;
                        font-family: $base-fontFamily;
                        color: $secondary-Variant-1;
                        font-size: $base-fontSize;
                        border: 1px solid $qty-box-borclr;

                        &.hover-border {
                          border: 1px solid $primary-Base-2;
                        }
                      }
                    }
                  }

                  .cart-and-ipay,
                  .js-add-to-waitlist-link {
                    flex: 1 0 auto;
                    vertical-align: top;
                    margin: 0;

                    .col-sm-12 {
                      padding: 0;

                      .add-to-cart-global,
                      .add-to-waitlist-link {
                        width: 100%;

                        i {
                          display: none;
                        }
                      }
                    }
                  }
                }

                .bay-rewards {
                  width: 100%;
                  display: inline-block;
                  margin-bottom: 15px;

                  .row {
                    display: inline-block;
                    width: 100%;
                    margin: 0;

                    .rewards-message-section {
                      padding: 0;
                    }
                  }
                }

                .view-product-information {
                  .view-full-product-info {
                    color: $primary-Base-2;
                    font-size: $base-fontSize - 2px;
                    font-family: $base-fontFamily;
                    line-height: 1.16;
                    text-decoration: underline;

                    &:hover {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .promotions {
    color: $promo-msg;
  }

  .restrictionMessage {
    position: absolute;
    margin-left: 15%;
  }
}

.product-detail {
  .edit_quickview_container {
    .primary-images-wrapper {
      .primary-image {
        img {
          cursor: pointer;
        }
      }
    }

    .attributes {
      .row {
        &[data-attr='color'] {
          margin-bottom: 18px;
        }

        .attribute {
          ul.color-wrapper {
            grid-template-columns: repeat(6, 46px);

            @include media-breakpoint-down(xs) {
              grid-template-columns: repeat(6, 49px);
            }

            li {
              width: 40px;
              height: 40px;
              margin: 0 7px 5px 0;

              @include media-breakpoint-down(xs) {
                margin: 0 9px 5px 0;
              }
            }
          }
        }
      }
    }
  }
}
