.container {
  &.product-detail {
    margin-top: 25px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-top: 5px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }
  }

  &.custom-pdp-banner {
    margin-top: 5px;
  }
}

.product-detail {
  padding: 0 20px;

  @include media-breakpoint-up(xl) {
    padding: 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 15px;
    margin: 0;

    .breadcrumb-col {
      padding-left: 10px;
    }
  }

  .wishlistTile {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    width: 36px;
    height: 36px;

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + 2px)) scale(1.2);
    }
  }

  .primary-images-container {
    padding-right: 12px;
    padding-left: 15px;
    margin-top: 6px;
    margin-bottom: 10px;

    .product-details-page & {
      @include media-breakpoint-up(md) {
        .primary-images {
          max-width: 480px;
          margin-left: auto;
          margin-right: auto;
        }

        .primary-image {
          position: relative;
          padding-top: 133.334%;
          margin-bottom: 10px;

          img,
          .s7-viewer-qv:not(:empty) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
          }
        }

        .primary-images-wrapper {
          flex: 0 0 88%;
          max-width: 88%;
          margin-left: auto;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
      margin: 0 auto;

      .primary-images-wrapper {
        min-height: 500px;
      }
    }

    .badge-img {
      position: absolute;
      top: 10px;
      left: 120px;
      color: $primary-Base;
      font-family: $base-fontFamily;
      font-size: $base-fontSize - 2px;
      line-height: 1.5;
      z-index: 2;
      height: 18px;
      text-align: center;
      text-transform: uppercase;
      background: $primary-Base-3;
      padding: 0 3px;

      @include media-breakpoint-down(md) {
        top: 20px;
        left: 18px;
      }
    }

    .mRecommendation {
      margin: 80px 0 0;
      border-top: 1px solid $secondary-Utility-9;
      padding: 25px 0 0;

      .shop-the-look {
        margin: 20px auto 0;
      }

      .product-tile {
        margin-bottom: 10px;
      }

      .wishlistTile {
        right: 30px;
      }

      .slick-prev {
        left: -15px;
      }

      .slick-next {
        right: -15px;
      }

      @include media-breakpoint-down(md) {
        margin: 30px 0 0;
      }
    }
  }

  .product-breadcrumb {
    .breadcrumb {
      margin: 0 0 10px;
      border: none;
    }
  }

  .primary-thumbnails {
    max-width: 63px;

    .primary-thumbnail {
      margin: 2px 0;
      display: inline-block;
    }

    .thumb-nail {
      height: 80px;
      width: 60px !important;
      text-align: center;
      cursor: pointer;

      &.active {
        box-shadow: 0 0 0 1px $secondary-Variant-2;
      }

      .img-fluid {
        height: 100%;
        margin: 0 auto;
      }
    }

    @include media-breakpoint-up(md) {
      position: sticky;
      top: 72px; // The height of the main nav + 10px padding

      .video-player {
        position: relative;

        .video-player-bg {
          height: 100%;
          width: 99%;
          display: inline-block;
          top: 0;
          position: absolute;
          left: 0;
          opacity: 0.7;
          background: url('../../images/video-play.svg') $secondary-Utility-9 no-repeat;
          background-position: 50%;
        }
      }
    }
  }

  .s7-modal {
    z-index: 1065;
  }

  .s7-modal,
  .size-modal {
    width: 100%;
    height: 100%;
    padding: 0 !important;

    .modal-dialog,
    .modal-content,
    .modal-body,
    .modal-row,
    .modal-column {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      max-width: none;
    }

    .modal-body {
      height: 100%;
      overflow: auto;
      padding: 0;
    }

    .modal-content {
      height: 100%;
      width: 100%;
      margin: 0 auto;

      @include media-breakpoint-down(md) {
        height: 100%;
        width: 100%;
      }
    }

    .close {
      padding: 0;
      margin: 20px 20px 0 0;
      font-size: 0;
      opacity: 1 !important;
      position: absolute;
      right: 0;
      z-index: 2;
      cursor: pointer;
    }

    .zoom-thumbnails {
      margin: 20px 0 0 20px;
      max-width: 63px;
    }
  }

  .size-modal {
    .modal-content {
      max-width: 850px;
      top: 28px;
    }

    .close {
      transform: scale(0.9);

      @include media-breakpoint-down(xs) {
        transform: scale(0.63);
      }
    }

    .modal-row {
      padding: 41px 51px 40px 49px;

      @include media-breakpoint-down(xs) {
        padding: 49px 25px 58px;
      }
    }

    .modal-content,
    .modal-column,
    .modal-body {
      max-height: 100%;
      height: auto;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .pdp-right-section {
    padding-left: 12px;
    padding-right: 15px;

    @include media-breakpoint-down(md) {
      padding-left: 15px;
    }

    @include media-breakpoint-down(xs) {
      .pdp-standard {
        margin-top: 25px;
      }
    }

    &.gwp-prod-right-section {
      .attributes {
        margin-top: 0;
        border-top: none;
      }
    }

    .attributes {
      .gwp-prices-add-to-cart-actions {
        .gwp-button {
          width: 100%;
          font-size: $base-fontSize;
          font-family: $base-fontFamily;
          text-transform: uppercase;
        }
      }
    }
  }

  .recommendations {
    padding-right: 0;
    padding-left: 0;

    &.items-like,
    &.recom-pdts {
      .slider-heading {
        margin-top: 45px;
        padding-bottom: 8px;
        padding-top: 40px;
        border-top: 1px solid $secondary-Utility-9;

        span {
          color: $primary-Base-2;
          font-size: $base-fontSize + 10px;
          line-height: 1.2px;
          text-align: center;
        }
      }

      @include media-breakpoint-down(md) {
        .slider-heading-section {
          margin: 0 auto;
          width: 100%;
        }
      }
    }

    .wrapper-content {
      padding-bottom: 0;
    }

    &.items-like {
      @include media-breakpoint-down(xs) {
        .slider-heading {
          border-top: 1px solid $secondary-Utility-9;
          margin-top: 0;
        }
      }
    }
  }

  .product-secondary-section {
    @include media-breakpoint-up(md) {
      &.pdp-standard {
        position: sticky;
        top: 62px; // Default height of the sticky navigation bar.
      }
    }
  }

  .product-brand-name {
    font-size: $base-fontSize + 10px;
    font-family: $base-fontFamily;
    line-height: 1.335;
    margin-bottom: 4px;

    a.product-brand:not(.btn-primary):not(.btn-outline-primary) {
      color: $primary-Base-2;
    }

    &.gwp-brand-name {
      text-transform: none;
    }
  }

  .product-name {
    font-family: $base-fontFamily;
    font-size: $base-fontSize + 4px;
    color: $primary-Base-2;
    line-height: 1.23;
    margin-bottom: 10px;
    text-transform: none;

    @include media-breakpoint-only(sm) {
      border-bottom: none;
    }
  }

  .gwp-flag-name {
    font-size: $base-fontSize + 4px;
    font-family: $base-fontFamily;
    line-height: 1.23;
    color: $secondary-Utility-6;
    text-transform: capitalize;
  }

  .prices {
    text-align: left;
    padding: 0;

    .price {
      font-size: $base-fontSize + 4px;
      color: $secondary-Utility-7;
      line-height: 1.23;
      font-family: $base-fontFamily;

      span.strike-through {
        margin-right: 10px;
        font-family: $base-fontFamily;
        font-size: $base-fontSize + 4px;
      }

      .sales {
        font-family: $base-fontFamily;
      }
    }
  }

  .promotions {
    text-align: left;
    color: $secondary-Utility-1;

    .promotion-content {
      margin: 5px 0;
    }
  }

  .product-number-rating {
    border: none;

    .ratings {
      line-height: 1;
      margin: 0;

      .rating-image {
        span {
          float: left;
        }
      }

      .TTteaser__rating {
        vertical-align: initial;
      }

      .TTteaser__read-reviews {
        font-family: $base-fontFamily;
        font-size: $base-fontSize - 2px;
      }
    }
  }

  .featured-message {
    font-size: $base-fontSize - 2px;
    font-family: $base-fontFamily;
    color: $secondary-Variant-4;
    margin-top: 10px;
    text-transform: capitalize;
  }

  .attributes {
    border-top: 1px solid $hb-bg-gray;
    padding: 27px 0 0;
    margin-top: 27px;
    position: relative;

    .social-share {
      display: inline-block;
      right: 0;
      top: -48px;
      position: absolute;
    }

    .quantity-field {
      width: auto;
      float: unset;
      flex-wrap: nowrap;

      .prev-val,
      .quantity-val,
      .next-val {
        width: 36px;
        height: 36px;
        display: inline-block;
      }

      button {
        height: 100%;
        width: 100%;
        padding: 5px 6px;
        font-size: $base-fontSize;
        font-family: $base-fontFamily;
        line-height: 1.1;
        text-align: center;
        border-radius: 0;
        border: 1px solid $qty-box-borclr;

        &[disabled] {
          border-color: $qty-box-borclr;
          opacity: 1;

          &:hover {
            border-color: $qty-box-borclr;
            opacity: 0.4;

            &[data-type='plus'] {
              padding: 5px;
              background: $primary-Base-3;
            }

            &[data-type='minus'] {
              border-right: 0;
              border-color: $qty-box-borclr;
              opacity: 1;
              padding: 5px 6px;
              background: $primary-Base-3;
            }

            &[data-type='plus'] {
              border-left: 0;
            }
          }
        }

        &[data-type='minus'] {
          border-right: 0;

          &:hover {
            border: 1px solid $primary-Base-2;
            border-right: 0;
            padding: 5px;
            background: $secondary-Variant-7;
          }

          &:focus {
            border: 1px solid $primary-Base-2;
            border-right: 0;
            background: $secondary-Variant-7;
          }
        }

        &[data-type='plus'] {
          border-left: 0;

          &:hover {
            border: 1px solid $primary-Base-2;
            padding: 5px;
            border-left: 0;
            background: $secondary-Variant-7;
          }

          &:focus {
            border: 1px solid $primary-Base-2;
            border-left: 0;
            background: $secondary-Variant-7;
          }
        }

        &.minus-btn {
          padding: 5px 6px;
          line-height: 0.2;
        }

        .minus,
        .plus {
          transform: scale(0.5);
          display: inline-block;
        }
      }

      .input-group > .form-control:focus {
        z-index: 3;
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .quantity-val {
        padding: 0;
        text-align: center;
        font-family: $base-fontFamily;
        color: $secondary-Variant-1;
        font-size: $base-fontSize;
        border: 1px solid $qty-box-borclr;
        flex-grow: 0;

        &:hover {
          &:hover {
            border: 1px solid $primary-Base-2;
          }
        }

        &.hover-border,
        &.active-border {
          border: 1px solid $primary-Base-2;
        }
      }
    }

    > .row {
      > [class*='col-'] {
        > *:not(:empty) {
          margin-top: 0;
          margin-bottom: 27px;
        }

        .tfc-fitrec-product {
          margin: -13px 0 30px;
        }
      }

      .attribute {
        margin-top: 0;
        position: relative;

        .size_guide {
          position: absolute;
          right: 0;
          top: 0;
          font-size: $base-fontSize - 2px;
          font-family: $base-fontFamily;

          a {
            color: $primary-Base-2;
            text-decoration: underline;
          }
        }

        .color-attribute-value {
          padding-bottom: 26px;
          border-bottom: 1px solid $hb-bg-gray;

          .color-label {
            display: inline-block;
            font-family: $bold-fontFamily;
            margin: 0;
          }

          .color-val {
            font-size: $base-fontSize - 2px;
          }
        }

        &.quantity {
          margin: 0 0 27px;

          * {
            margin-bottom: 0;
          }
        }

        .non-input-label {
          color: $primary-Base-2;
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2px;
          margin-bottom: 9px;

          .attr-name {
            text-transform: capitalize;
          }

          .text1 {
            font-family: $semibold-fontFamily;
          }

          .text2 {
            text-transform: none;
          }

          &.size {
            .attr-name {
              vertical-align: middle;
            }
          }
        }

        .color-attribute {
          width: 100%;
          height: 100%;
          margin: 0;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;

          &.selected {
            border: 1px solid $secondary-Utility-7;

            .swatch-circle.swatch-box {
              border: 1px solid $secondary-Utility-7;
              box-shadow: 0 0 0 2px $primary-Base-3 inset;
              cursor: not-allowed;
              pointer-events: none;
            }
          }
        }

        .swatch-circle.swatch-box {
          width: 100%;
          height: 100%;
          border-radius: 0;
          margin: 0;
          border: 1px solid $secondary-Variant-6;
          position: relative;
          background-size: 36px;
          background-position: center;

          &.color-value.selected:not(.unselectable) {
            &::after {
              display: none;
            }
          }

          &:hover {
            border: 1px solid $primary-Base-2;
          }

          &.unselectable {
            &::after {
              content: '';
              position: absolute;
              height: 1px;
              background: $hb-border-clr;
              top: 53%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              width: 48px;
            }

            &::before {
              content: '';
              position: absolute;
              height: 1px;
              background: $primary-Base-3;
              top: 49%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
              width: 49px;
            }
          }
        }

        ul {
          display: flex; //(IE) overwritten when grid is available
          flex-wrap: wrap;
          display: grid;
          -ms-display: grid; //invalid syntax but prevents flex overwrite on IE
          grid-template-columns: repeat(5, auto);
          grid-gap: 1px;

          &.color-wrapper {
            grid-template-columns: repeat(8, 45px);

            @include media-breakpoint-down(md) {
              grid-template-columns: repeat(8, 37.5px);
            }

            @include media-breakpoint-down(xs) {
              grid-template-columns: repeat(8, 43px);
            }

            li {
              box-shadow: none;
              width: 36px;
              height: 36px;
              margin: 0 9px 5px 0;

              @include media-breakpoint-down(md) {
                margin: 0 7px 5px 0;
                width: 35px;
              }

              @include media-breakpoint-down(xs) {
                width: 36px;
              }
            }
          }

          &.availability-msg {
            display: inline-block;

            li {
              box-shadow: none;
              padding: 0;
              height: auto;

              &:hover {
                border: none;
                padding: 0;
              }
            }
          }

          label {
            color: $primary-Base-2;
            font-size: $base-fontSize - 2px;
            margin-bottom: 9px;

            .attr-name {
              text-transform: capitalize;
              font-family: $bold-fontFamily;
            }
          }

          li {
            flex-basis: 25%; //for when grid unavailable on parent ul (IE)
            float: left;
            box-shadow: 0 0 0 1px $secondary-Variant-6;
            height: 36px;
            display: flex;
            box-sizing: border-box;

            &[selected] {
              a {
                box-shadow: 0 0 0 2px $primary-Base-2;
                z-index: 1;

                &:hover {
                  box-shadow: 0 0 0 2px $primary-Base-2;
                  z-index: 1;
                }
              }
            }

            &[disabled] {
              --gradient-color: #ccc;

              background: linear-gradient(
                to bottom right,
                transparent calc(50% - 1px),
                var(--gradient-color) calc(50% - 1px),
                var(--gradient-color) 50%,
                transparent 50%
              );
            }

            a {
              font-size: $base-fontSize - 2px;
              font-family: $base-fontFamily;
              line-height: 1.2;
              color: $primary-Base-2;
              width: 100%;
              display: flex;
              text-align: center;
              text-decoration: none;
              align-items: center;
              justify-content: center;

              &:hover {
                box-shadow: 0 0 0 1px $primary-Base-2;
                z-index: 1;
              }

              &.bridal-size-variation {
                &:hover {
                  box-shadow: none;
                }
              }
            }
          }
        }

        .custom-select.custom-color-dropdown {
          &.current_item {
            ul.selection-list {
              display: block;

              &.ps--active-y {
                padding: 0 40px 0 5px;

                .ps__rail-y {
                  right: 7px !important;
                }

                .ps__thumb-y {
                  right: 7px;
                  width: 18px;
                  background-color: $primary-Base-2;
                }
              }
            }
          }

          .selected-option {
            &.selected {
              padding-left: 10px;
              font-size: $base-fontSize - 2px;
              font-family: $base-fontFamily;

              span {
                width: 22px;
                height: 22px;
                margin-right: 9px;
                float: left;
                border-radius: 0;
                border: 1px solid $secondary-Utility-8;
                background-size: 100%;

                &.swatch-circle-color {
                  display: none;
                }
              }
            }
          }

          ul.selection-list {
            display: none;
            padding: 0 7px 0 5px;
            background-color: $primary-Base-3;
            max-height: 251px;

            li {
              box-shadow: none;
              background-color: transparent;
              float: none;
              height: 33px;
              padding: 0;
              display: flex;
              font-size: $base-fontSize - 2px;
              font-family: $base-fontFamily;

              &:first-child {
                display: none;
              }

              &:last-child {
                div.item {
                  border-bottom: none;
                }
              }

              &.option-disabled {
                span {
                  position: relative;

                  &::after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    background: $secondary-Utility-8;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%) rotate(-19deg);
                    transform: translate(-50%, -50%) rotate(-46deg);
                    width: 29px;
                  }
                }
              }

              &:hover {
                background-color: $secondary-Utility-9;

                div.item {
                  .inner-item {
                    display: inline-block;
                  }
                }
              }

              div.item {
                border-bottom: 1px solid $secondary-Utility-9;
                width: 100%;
                padding: 5px 0;
                line-height: 1.84;
                position: relative;
                margin-left: 5px;

                .inner-item {
                  height: 33px;
                  width: 5px;
                  position: absolute;
                  top: -1px;
                  left: -5px;
                  display: none;
                  background: $secondary-Utility-9;
                }
              }

              span {
                width: 22px;
                height: 22px;
                border-radius: 0;
                border: 1px solid $secondary-Utility-8;
                margin-right: 9px;
                float: left;
                margin-left: 0;
                background-size: 100%;
              }
            }
          }
        }

        .product-availability {
          display: inline-block;
          color: $primary-Base-2;
          font-size: $base-fontSize - 2px;
          padding: 8px 0;
          border-radius: 0;
          margin: 0;

          li {
            margin: 0;
            border: none;
          }
        }

        .purchaselimit-message {
          margin: 12px 0 0;
          padding: 0;
          line-height: 1.4;
          color: $secondary-Utility-1;
        }
      }
    }

    .select-size-div {
      color: $secondary-Utility-1;
      font-size: $base-fontSize - 2px;
      line-height: 1.4;
      padding-bottom: 24px;
    }

    .prices-add-to-cart-actions {
      padding: 0;
      margin-bottom: 27px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
        background-color: $primary-Base-3;
        z-index: 999;

        .cart-and-ipay {
          margin: 0;
          padding: 10px 3px;
          border-color: $secondary-Variant-7;
        }
      }
    }

    .rewards-message-section {
      font-size: $base-fontSize - 2px;

      span {
        color: $primary-Base;
        font-family: $base-fontFamily;
      }
    }

    .final-sale-message {
      font-size: $base-fontSize - 2px;
      color: $secondary-Utility-1;
      font-family: $base-fontFamily;
      padding-top: 6px;
      margin-bottom: 0;
    }

    .shipping-option {
      margin: 0 0 27px;

      .custom-control {
        padding: 0;
      }

      .stores-information {
        font-size: $base-fontSize - 2px;
      }

      .store-info {
        color: $secondary-Variant-4;
        flex-basis: 82%;
      }

      .distance-info,
      .change-store {
        color: $primary-Base-2;
        font-family: $semibold-fontFamily;
        font-size: $base-fontSize - 2px;
      }

      .bopis-radio {
        margin: 0 0 5px;
      }

      &.change-store-hidden {
        display: none;
      }
    }
  }

  .accordian-main-div {
    margin-top: 27px;

    @include media-breakpoint-down(xs) {
      div.collapsible-xl:last-child {
        button.title {
          border-bottom: none;
        }
      }
    }
  }

  div.collapsible-xl {
    font-size: $base-fontSize - 2px;
    border-top: 1px solid $secondary-Utility-9;

    ul,
    dl {
      padding-inline-start: 2px;
    }

    li {
      list-style: inherit;
      list-style-position: inside;
    }

    button.title {
      padding: 15px 0 13px;
      color: $primary-Base-2;
      font-family: $base-fontFamily;
      font-size: $base-fontSize;
      line-height: 1.6;
      min-height: 53px;
      border-radius: 0;
      text-transform: none;

      &::after {
        content: '';
        display: none;
      }
    }

    .plus {
      display: inline-block;
      transform: scale(0.67);
    }

    .minus {
      display: none;
    }

    &.active {
      .plus {
        display: none;
      }

      .minus {
        display: inline-block;
        transform: scale(0.67);
      }
    }

    .product-details {
      font-size: $base-fontSize - 2px;
      font-family: $base-fontFamily;

      .description {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    span.dot {
      font-size: $base-fontSize + 7px;
      font-family: $bold-fontFamily;
      padding-right: 3px;
      line-height: 0.5;
      float: left;
    }

    .warning {
      margin-top: 20px;
    }

    .product-detail-id {
      margin: 20px 0 24px;
    }

    .shipping-details {
      font-size: $base-fontSize - 2px;
    }

    .shipping-info {
      .details-link {
        font-family: $base-fontFamily;
        color: $primary-Base-2;
        text-decoration: underline;
      }
    }

    .holiday-delivery-message {
      .message-heading {
        font-family: $base-fontFamily;
        margin-top: 20px;
      }

      .description {
        margin-bottom: 20px;
      }
    }

    .additional-info-heading {
      font-family: $base-fontFamily;
      margin: 10px 0 5px;
    }

    .additional-info {
      a {
        font-family: $base-fontFamily;
        text-decoration: underline;
      }
    }
  }

  .pleasenote_home,
  .pleasenote_bridal {
    width: 100%;
    display: inline-block;

    .notification-section {
      width: 100%;
      display: inline-block;
      color: $primary-Base-2;
      font-family: $base-fontFamily;
      font-size: $base-fontSize - 2px;
      line-height: 1.5;
      padding-top: 17px;
      margin-top: 17px;

      .note-heading,
      a {
        font-family: $bold-fontFamily;
      }

      .service-information {
        margin-bottom: 20px;
      }

      .contact-information {
        margin-bottom: 25px;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .schedule-an-appointment {
    margin-bottom: 20px;
  }

  .mRecommendation {
    .product-tile {
      padding-top: 0;

      .image-container {
        position: relative;
      }
      .hover-content {
        display: none;
      }
      .hover-bg-content {
        .product-brand,
        .link {
          visibility: visible;
        }
      }
    }
  }

  .mRecommendation.d-sm-none {
    margin-top: 0;

    .shop-the-look-sec {
      @include media-breakpoint-down(xs) {
        border-top: 1px solid $secondary-Utility-9;
        padding-top: 15px;
      }
    }

    .shop-the-look {
      margin: 20px auto 0;

      @include media-breakpoint-down(xs) {
        border-bottom: none;
        padding-bottom: 40px;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .product-tile {
      margin-bottom: 10px;

      .image-container {
        .thumb-link {
          width: auto !important;
        }
      }
    }

    .wishlistTile {
      right: 30px;
    }
  }

  .collapsible-xl {
    &.active {
      .content,
      .card-body {
        display: inline-block;
        width: 100%;
      }
    }
  }

  &.giftcard-pdp {
    .primary-images-container {
      .primary-images-wrapper {
        @include media-breakpoint-up(md) {
          margin-right: auto;
        }
      }
    }

    .wishlistTile {
      @include media-breakpoint-up(md) {
        right: 80px;
      }
    }

    .product-name {
      font-size: $base-fontSize + 10;
      font-family: $bold-fontFamily;
    }

    .pdp-giftcard {
      font-size: $base-fontSize + 4;
      margin: 0 0 10px;
      display: inline-block;
    }

    .pdpdeselect-wishlist {
      + .customer-content {
        @include media-breakpoint-up(md) {
          right: 65px;
        }
      }
    }

    .attributes {
      .row {
        .attribute {
          .color-attribute {
            border: 1px solid $secondary-Utility-8;
            padding: 4px 0;

            &.selected {
              border: 2px solid $secondary-Utility-7;

              .swatch-circle.swatch-box {
                border: none;
              }
            }
          }

          .swatch-circle.swatch-box {
            border: 1px solid $primary-Base-3;
          }
        }
      }
    }
  }
}

.shop-the-look {
  .product-tile {
    &:not(.disableTileHover) {
      &:hover {
        .tile-body {
          .prdt_tile_btn {
            visibility: hidden;
          }
        }
      }
    }
  }
}

.pdpdeselect-wishlist {
  + .customer-content {
    position: absolute;
    top: 63px;
    right: 11px;
    z-index: 3;
    width: 220px;
    background: white;
    border: 1px solid $secondary-Variant-1;
    padding: 24px 30px;

    .carrot-icon {
      border: solid $secondary-Variant-1;
      border-width: 0 1px 1px 0;
      padding: 5px;
      transform: rotate(-135deg);
      top: -31px;
      float: right;
      right: -9px;
      position: relative;
      z-index: 999;
      background: $primary-Base-3;
    }

    .prod-added {
      font-family: $bold-fontFamily;
      letter-spacing: 0.5px;
      padding: 0 0 12px;
      display: inline-block;
    }

    .login-options {
      font-size: $base-fontSize - 2px;
      display: inline-block;
      padding: 0 0 15px;

      .save-wishlist {
        display: block;
      }

      a {
        color: $primary-Base-2;
        text-decoration: underline;
      }
    }

    .wishlist-container-close {
      background: none;
      border: none;
      font-family: $base-fontFamily;
      font-size: $base-fontSize;
      display: inline-block;
      margin: 10px auto 0;
      text-decoration: underline;
    }

    .view-btn {
      color: $primary-Base-2;
      line-height: 1.4;
      padding: 13px 10px 12px;
      border: 2px solid $secondary-Variant-1;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      font-size: $base-fontSize - 2px;
      font-family: $bold-fontFamily;
    }
  }
}

//Time trade styles
.time-trade-dialog {
  &.show {
    transition: none;

    .modal-dialog {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      transition: none;

      @include media-breakpoint-down(xs) {
        width: 90%;
      }
    }

    .modal-body {
      @include media-breakpoint-down(xs) {
        padding-bottom: 2.5rem;
      }
    }

    &.signup-Modal {
      .modal-dialog {
        position: static;
        transform: none;
        max-width: 500px;
        margin: 1.75rem auto;
      }
    }
  }

  &.fade {
    + .fade {
      transition: none;
    }
  }

  .close {
    margin: 16px 16px 0 auto;
    display: inline-block;
    transform: scale(0.8);

    @include media-breakpoint-down(xs) {
      transform: scale(0.7);
    }
  }

  .header-text {
    font-size: 28px;
  }

  .header-info {
    font-size: 14px;
    width: 75%;
    margin-top: 5px;
    color: $secondary-Utility-6;
  }

  .modal-dialog {
    max-width: 400px;
  }

  .modal-body {
    display: flex;
    flex: 0 0 100%;
    width: 95%;

    .appointment-form {
      width: 100%;

      .appointment-form-btns {
        @include media-breakpoint-up(sm) {
          .appointment-form-btn-left {
            padding-right: 7.5px;
          }

          .appointment-form-btn-right {
            padding-left: 7.5px;
          }
        }

        @include media-breakpoint-down(xs) {
          .appointment-form-btn-left {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    padding-right: 0 !important;
  }

  .form-control {
    border-radius: 0;
  }
}

.form-group {
  &.required {
    .form-control-label {
      &::before {
        content: none;
      }
    }
  }
}

.pdp-reviews {
  margin: 50px auto 0;

  .pdp-reviews-row {
    padding: 40px 0 0;
    margin: 0;
    border-top: 1px solid $secondary-Utility-9;

    .tt-c-reviews-summary__grid-header {
      border-bottom: none;
    }
  }
}

.tt-c-review__heading-text {
  font-family: $base-fontFamily !important;
  font-size: 18px !important;
  line-height: 1.2 !important;
}

.tt-c-reviews-list__heading {
  font-family: $base-fontFamily !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
}

.tt-c-reviews-summary__rating-number {
  font-family: $base-fontFamily !important;
  font-size: 64px !important;
}

.tt-c-reviews-summary__heading {
  font-family: $base-fontFamily !important;
  font-size: 24px !important;
  line-height: 1.2 !important;
  text-align: center;
}

.tt-o-page-list__number {
  &.tt-is-active {
    .tt-o-page-list__link {
      border-radius: 0 !important;
    }
  }
}

input.tt-o-text-field[type='text'],
.tt-o-textarea,
.tt-o-selectbox {
  border-color: $secondary-Variant-4 !important;
  border-radius: 0 !important;
}

.tfc-tip-result {
  margin-top: 15px;
}

.tfc-cfg-widget {
  &.tfc-fitrec-result {
    .tfc-cfg-link {
      font-size: 12px !important;
      font-family: $base-fontFamily !important;
    }
  }
}

.tt-c-reviews-summary__no-reivews {
  .tt-c-reviews-summary__no-reivews-body {
    border-top: none;
    border-bottom: none;
  }
}

.TTteaser__rating {
  .TTteaser__star {
    margin-right: 2px;
  }
}

.add-to-cart-messages {
  transform: unset;
  position: static;
  top: auto;
  left: auto;
  clear: both;

  .error {
    color: $error-msg;
    padding-top: 23px;
  }
}
