@import '~base/search';

.container {
  &.search-results {
    max-width: 1440px;
  }
}

.search-results {
  margin-top: 22px;

  @media #{$belowdesktop} {
    margin-top: 15px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 40px;
  }

  @include media-breakpoint-between(md, lg) {
    padding: 0 20px;
  }

  &.hide-designer {
    .refinement-designer {
      display: none;
    }

    .filterbar-for-designer {
      display: none;
    }

    .filterbar-for-brand {
      display: none;
    }
  }

  &.hide-designer-on-cat {
    .filterbar-for-brand {
      display: none;
    }

    .filterbar-for-designer {
      display: none;
    }
  }

  &.no-search-results {
    margin-top: 31px;
  }

  &.gc-search-results {
    margin-top: 13px;

    .giftcard-search-results {
      .gift-card-category-heading {
        text-align: center;
        font-size: $base-fontSize + 10px;
        line-height: 1.21;
        margin: 28px 0 3px;
        text-transform: capitalize;

        @include media-breakpoint-down(xs) {
          margin: 0;
        }
      }
    }

    .tile-descriptions {
      border: 0;

      @include media-breakpoint-down(md) {
        padding: 0 10px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 31px;
      }
    }
  }

  .search-results-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $base-fontSize + 10px;
    line-height: 29px;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  .search-results-header-description {
    text-align: center;
    font-family: 'proxima-nova', helvetica, Arial, Sans-Serif;
  }

  .search-keywords {
    font-size: $base-fontSize + 10px;
    line-height: 1.22;
    font-weight: normal;
  }

  .search-result-count {
    color: $secondary-Variant-1;

    .search-count {
      color: $primary-Base-2;
    }

    .search-no-result {
      letter-spacing: 0.35px;
      font-family: $base-fontFamily;
      line-height: 1.3;
      margin-top: 5px;
      display: inline-block;

      @include media-breakpoint-down(xs) {
        margin-top: 20px;
      }
    }
  }

  .no-products-store {
    text-align: left;
    margin: 20px 0 0;
    color: inherit;

    .messaging {
      background: $hb-Tin-variant;
      padding: 10px 15px;

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .filter-results,
  .sort-results {
    background: none;
    border: none;
    padding: 0;
    color: $primary-Base-2;
  }

  .filter-results-container {
    padding-right: 13px;
  }

  .sort-results-container {
    padding-left: 13px;
    border-left: 1px solid $hb-bg-gray;

    @include media-breakpoint-down(md) {
      .sort-label {
        position: absolute;
        line-height: 0;
        top: 11px;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      border: none;
      background: none;
      padding: 0;
      height: auto;
      color: $primary-Base-2;

      @include media-breakpoint-down(md) {
        &.select-sort-order {
          width: 25px;
          text-indent: 100%;
          height: 25px;
          position: relative;
          border: none !important;
          overflow: hidden;
        }
      }
    }
  }

  .pickup-content {
    display: inline-block;
    line-height: 2.2;
    color: $secondary-Variant-1;
    margin-right: 16px;

    .store-refine {
      display: inline-block;

      .custom-control-label {
        top: 2px;
      }

      button {
        background: none;
        border: 1px solid $secondary-Variant-6;
        height: 18px;
        width: 18px;
        position: relative;
        top: 1px;
      }
    }

    .store-change-link {
      display: inline-block;
      margin-left: 5px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }

  .search-word-recom,
  .pickup-content {
    a {
      color: inherit !important;
      cursor: pointer;
    }
  }

  .product-search-results {
    padding: 0;
  }

  .filter-section-tablet {
    margin: 10px 0 0;

    .section-1,
    .section-2 {
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      margin: 20px 0 0;
    }
  }

  .search-result-wrapper {
    margin-top: 27px;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      border-top: 1px solid $hb-bg-gray;
      padding-top: 20px;
    }
  }

  @include media-breakpoint-down(xs) {
    .tab-content {
      padding-right: 15px;
      padding-left: 15px;
    }

    .product-grid {
      padding-top: 0;

      .col-6 {
        padding: 18px 15px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .tile-descriptions {
      padding: 0 15px;
    }

    .product-grid {
      .col-6 {
        padding: 18px 15px;
      }
    }
  }

  .refinement-bar {
    flex: 0 0 20%;

    // This allows space for the chat icon under the refinement bar
    @media screen and (min-width: 1024px) and (max-width: 1380px) {
      padding-bottom: 80px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 20%;

      &.stickyrefinement {
        max-height: calc(100vh - 62px);
        position: sticky;
        top: 62px;
        padding-top: 18px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }

    .form-group select {
      cursor: pointer;
      border-color: $so-Titanium-variant;
    }

    @include media-breakpoint-down(lg) {
      flex: 0 0 25%;
      box-shadow: none;
    }

    @include media-breakpoint-down(md) {
      z-index: 1000;
      height: 100%;
      overflow: hidden;
      padding: 0;
      background: $so-Oxygen-variant;

      .refinement-bar-mob {
        // TODO: make variables for 1 button (66px) vs 2 button (121px) height once we are in a place to effectively use and maintain variables
        height: calc(100% - 66px);
        overflow: hidden;
        position: relative;
        &.with-save-pref-btn {
          height: calc(100% - 121px);
        }
      }
    }
  }

  .product-tile-section {
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 1%;

    &.gift-card-tile-section {
      flex: 0 0 100%;
      max-width: 100%;

      @include media-breakpoint-down(lg) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        padding: 0;
        max-width: 100%;
      }
    }

    @include media-breakpoint-down(lg) {
      flex: 0 0 75%;
      padding: 0 15px 0 1%;
      max-width: 75%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 0 100%;
      padding: 0 0 0;
      max-width: 100%;
    }
  }

  .refinement {
    border: 0;

    @include media-breakpoint-down(xs) {
      &:last-child {
        padding-bottom: 56px;
        background: $grey2;
      }
    }
  }

  .refinement-wrapper {
    @include media-breakpoint-down(md) {
      position: relative;
      height: 100%;
    }

    .refinements {
      @include media-breakpoint-down(md) {
        height: auto;
        background: $so-Oxygen-variant;
      }

      .refinement {
        font-size: $base-fontSize;
        font-family: $base-fontFamily;
        text-transform: capitalize;
        border-bottom: 1px solid $secondary-Variant-7;
        color: $secondary-Variant-1;
        border-radius: 0;
        margin: 0;

        @include media-breakpoint-down(md) {
          position: static;
          width: 32.5%;
          border: 0;

          @include media-breakpoint-down(xs) {
            width: 24%;
          }
        }

        ul {
          li {
            &.left-arrow-li {
              padding: 0;
              position: absolute;

              a.left-arrow {
                margin: 0;
                padding: 0;
                width: auto;

                .refinement-category {
                  @extend .svg-svg-14-chevron;
                  color: transparent;
                  width: 24px;
                  height: 15px;
                  display: inline-block;
                  transform: rotate(90deg) scale(0.5);
                }

                @include media-breakpoint-up(lg) {
                  position: relative;
                  right: 5px;
                  top: 1px;
                }

                @include media-breakpoint-down(sm) {
                  top: 18px;
                  left: 15px;
                  border: 0;
                }
              }
            }
            &.category-prev-step {
              padding: 0 0 0 20px;

              ul {
                padding: 0 0 0 10px;
              }
            }

            @include media-breakpoint-up(lg) {
              &.category-prev-step {
                padding: 0 0 0 20px;

                ul {
                  padding: 0 0 0 10px;
                }
              }
            }
            @include media-breakpoint-down(sm) {
              &.category-prev-step {
                a,
                .catgories-values a {
                  padding: 17px 15px 17px 38px;
                }
              }
            }
          }
        }

        h2 {
          line-height: normal;
          padding: 18px 0;
        }

        .card-header {
          padding: 0;
          border: 0;
          position: sticky;
          top: -18px;
          z-index: 2;

          .btn {
            padding: 0;
            border: none;
            text-transform: unset;
            font-family: inherit;
            position: relative;

            &:focus,
            &:active {
              outline-offset: 0;
            }
          }

          .btn {
            padding: 0;
            border: none;
            text-transform: unset;
            font-family: inherit;
            position: relative;

            &:focus,
            &:active {
              outline-offset: 0;
            }
          }

          @include media-breakpoint-down(md) {
            background: $so-Oxygen-variant;
            border-radius: 0;
            padding: 4px 2px;

            .btn {
              color: $primary-Base-2;
              font-size: $base-fontSize - 2;
              padding: 14px 0 14px 30px;
              line-height: 1.5;

              .title {
                padding: 0;
              }

              span.mobile-font-text {
                font-family: $base-fontFamily;
                text-transform: capitalize;
              }

              &.clicked {
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  transform: translate(0, -50%);
                  width: 6px;
                  height: 6px;
                  left: 18px;
                  background: $primary-Base;
                  border: 0;
                  border-radius: 50%;

                  @include media-breakpoint-down(xs) {
                    left: 8px;
                  }
                }
              }

              @include media-breakpoint-down(xs) {
                padding: 14px 0 14px 18px;
                max-width: 75px;
                white-space: normal;
              }
            }
          }
        }

        .card-body,
        .values {
          padding: 0;
          clear: both;
        }

        .card-body {
          @include media-breakpoint-down(md) {
            width: 67.5%;
            position: absolute;
            left: 32.5%;
            top: 0;
            z-index: 99;
            height: 100%;
            background: $primary-Base-3;
            padding: 0;

            > .values {
              overflow-y: auto;
              max-height: 100%;
              padding: 0;
              overflow-x: hidden !important;
              &.with-search {
                padding: 0 0 54px;
              }
            }

            @include media-breakpoint-down(xs) {
              width: 76%;
              left: 24%;
            }
          }
          @include media-breakpoint-up(md) {
            height: auto !important;
            padding: 6px 0;
          }
        }

        li {
          margin: 0;
        }

        ul {
          > li {
            margin: 0;
            padding: 0;
            font-size: $base-fontSize - 2;
            color: $primary-Base-2;

            @include media-breakpoint-down(md) {
              &:last-child {
                margin-bottom: 10px;
              }
            }

            a,
            button {
              margin: 0 0 18px;
              padding: 0;
              color: $primary-Base-2;
              width: 100%;
              display: inline-block;
              outline-offset: -1px; // For displaying focus rings without cropping them.

              @include media-breakpoint-down(md) {
                margin: 0;
                text-align: left;
                position: relative;
              }

              &:not(.disabled):hover {
                span {
                  text-decoration: underline;

                  @include media-breakpoint-down(xs) {
                    text-decoration: none;
                  }
                }
              }

              .bfx-price {
                &.selected {
                  font-family: $bold-fontFamily;
                }
              }

              .fa {
                width: 18px;
                height: 18px;
                border: 1px solid $so-Titanium-variant;
                margin: 0 8px 0 0;
                display: inline-block;
                vertical-align: middle;
                position: relative;

                @include media-breakpoint-down(md) {
                  position: absolute;
                  border: 0;
                  right: 0;
                }

                &::after {
                  content: '';
                }

                &.fa-check-square,
                &.fa-check-circle {
                  border: 1px solid $secondary-Variant-1;

                  @include media-breakpoint-down(md) {
                    border: 0;
                    margin: 0;
                  }

                  &::after {
                    @extend .svg-svg-12-check-thick;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.5);
                    width: 24px;
                    height: 24px;

                    @include media-breakpoint-down(md) {
                      content: none;
                    }
                  }

                  &::before {
                    content: none;

                    @extend .svg-svg-13-check-thin;

                    @include media-breakpoint-down(md) {
                      content: '';
                      transform: translate(0, -50%) scale(0.5) rotate(10deg);
                      width: 24px;
                      height: 24px;
                      position: absolute;
                      right: 3px;
                      top: 50%;

                      @include media-breakpoint-down(xs) {
                        right: -4px;
                      }
                    }
                  }
                }

                &::before {
                  content: none;
                }

                + span {
                  display: inline-block;
                  vertical-align: middle;
                  width: calc(100% - 30px);
                }
              }
            }
          }
        }

        &.refinement-category {
          ul {
            > li {
              @include media-breakpoint-down(md) {
                padding: 0;
              }

              a {
                padding: 0;
                margin: 0 0 12px;
                display: inline-block;

                span {
                  &::after {
                    @extend .svg-svg-13-check-thin;
                  }
                  &.selected {
                    font-family: $bold-fontFamily;
                  }
                }

                @include media-breakpoint-down(md) {
                  margin: 0;
                  padding: 17px 15px 17px 46px;
                  line-height: 1.5;
                  border-bottom: 1px solid $secondary-Variant-7;
                  position: relative;

                  span {
                    &.selected {
                      &::after {
                        position: absolute;
                        right: 18px;
                        content: '';
                        width: 24px;
                        height: 24px;
                        transform: translate(0, -50%) scale(0.5) rotate(10deg);
                        top: 50%;

                        @include media-breakpoint-down(xs) {
                          right: 10px;
                        }
                      }
                    }
                  }
                }
              }

              > ul {
                li {
                  padding: 0;

                  a,
                  button {
                    font-family: $base-fontFamily;
                    margin: 0 0 13px;
                    padding: 0;

                    @include media-breakpoint-down(md) {
                      margin: 0;
                      font-family: $base-fontFamily;
                      padding: 17px 15px;
                      line-height: 1.5;
                      border-bottom: 1px solid $secondary-Variant-7;
                      background: $white;
                    }
                  }

                  > ul {
                    li {
                      margin: 0 0 0 15px;
                      padding: 0;

                      @include media-breakpoint-down(md) {
                        margin: 0;
                      }

                      a,
                      button {
                        font-family: $base-fontFamily;

                        @include media-breakpoint-down(md) {
                          padding: 17px 30px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.refinement-color {
          .swatch-circle {
            width: 36px;
            height: 36px;
            border: 1px solid $secondary-Variant-7;
            border-radius: 0;
            transform: none;
            display: block;
            position: relative;

            @include media-breakpoint-down(md) {
              width: 18px;
              height: 18px;
              display: inline-block;
              vertical-align: middle;
              margin: 0 9px 0 0;
              position: static;
            }
          }

          .selected-assistive-text {
            @include media-breakpoint-down(md) {
              width: auto;
              height: auto;
              display: inline-block;
              vertical-align: middle;
              position: relative;
            }
          }

          .swatch-mark {
            &.color-value {
              &.selected {
                &::after {
                  content: '';
                  background: url(../images/selected_light.svg) no-repeat;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(0.6);
                  width: 24px;
                  height: 24px;
                  border-radius: 0;

                  @include media-breakpoint-down(md) {
                    content: none;
                  }
                }

                &::before {
                  @extend .svg-svg-13-check-thin;

                  @include media-breakpoint-down(md) {
                    content: '';
                    transform: translate(0, -50%) scale(0.5) rotate(10deg);
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 3px;
                    top: 50%;

                    @include media-breakpoint-down(xs) {
                      right: -4px;
                    }
                  }
                }
              }
            }
          }

          ul {
            > li {
              margin: 0 3px 0 0;

              @include media-breakpoint-down(md) {
                margin: 0;
                padding: 17px 15px;
                line-height: 1.5;
                border-bottom: 1px solid $secondary-Variant-7;

                &.color-attribute {
                  display: block;
                }
              }
            }
          }
        }

        &.collapsible-xl {
          .title {
            position: relative;
            cursor: pointer;

            &::after {
              content: '';
              width: 12px;
              border-top: 2px solid $secondary-Variant-4;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              right: 0;
              margin: 0;
            }

            &::before {
              content: '';
              height: 12px;
              border-left: 2px solid $secondary-Variant-4;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              right: 5px;
              margin: 0;
            }

            @include media-breakpoint-down(md) {
              &::after,
              &::before {
                content: none;
              }
            }
          }

          &.active {
            .title {
              &::before {
                content: none;
              }

              &.clicked {
                &::before {
                  content: '';
                }
              }
            }

            .card-header {
              @include media-breakpoint-down(md) {
                background: $primary-Base-3;
                border-bottom: 1px solid $secondary-Variant-7;
                border-right: 1px solid $secondary-Variant-7;
                padding: 3px 2px 4px;
              }
            }
          }

          &:first-child {
            &.active {
              .card-header {
                @include media-breakpoint-down(md) {
                  border-bottom: 0;
                  padding: 3px 2px;
                }
              }
            }
          }
        }
      }
      .refinement-category {
        text-transform: none;
      }
    }
  }

  .filter-bar {
    position: relative;
    bottom: 7px;

    @include media-breakpoint-down(md) {
      bottom: 0px;
    }

    ul {
      padding: 0;

      li {
        &.filter-value,
        &.clear-refinement {
          border: none;
          padding: 0;
          border-radius: 0;
          margin: 0 28px 15px 0;

          button,
          a {
            color: $primary-Base-2 !important;
            background: transparent;
            border: none;
            padding: 0;
            font-size: $base-fontSize - 2px;

            .filter-data {
              margin-right: 10px;
            }

            &:not(.reset)::after {
              @extend .svg-svg-22-cross;

              position: static;
              content: '';
              color: transparent;
              height: 24px;
              width: 30px;
              transform: scale(0.3);
              display: inline-block;
            }
          }

          a {
            text-decoration: underline;
            cursor: pointer;
          }

          @include media-breakpoint-down(md) {
            margin: 9px 24px 9px 0;
          }
        }

        &.filter-value {
          button {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &.clear-refinement {
          button {
            text-decoration: underline;
            margin: 3px;
          }
        }
      }
    }
    .price-no-results {
      background: #e5e5e5;
      padding: 10px 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .close-button {
        border: none;
        background-color: transparent;
        opacity: 0.5;
        padding-right: 25px;
      }
    }
  }

  .recommendation-products {
    .product-tile {
      border: 0;

      .price,
      .pdp-link {
        padding-bottom: 0;
      }

      .color-swatches {
        display: none;
      }

      .color-swatches,
      .quickview,
      .add-to-cart,
      .feature-name,
      .product-brand,
      .prdt_tile_btn {
        display: none;
      }

      &:hover {
        border: 0;

        .pdp-link a,
        .ratings {
          display: block;
          background: none;
        }
      }
    }
  }
  &.search-results-page {
    .refinement-wrapper {
      .refinements {
        .refinement {
          &.refinement-category {
            ul > li {
              a {
                span {
                  font-family: $bold-fontFamily;
                }
              }
              ul > li {
                a {
                  span {
                    font-family: $base-fontFamily;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.filter-header {
  display: none;
}

.search-results {
  .refinement-wrapper {
    .refinements {
      .refinement:not(.refinement-color):not(.refinement-category) {
        ul {
          > li {
            @include media-breakpoint-down(md) {
              display: block;
              max-width: 100%;
              padding: 17px 15px;
              line-height: 1.5;
              border-bottom: 1px solid $secondary-Variant-7;
            }
          }
        }
      }
    }
  }
}

.price-select {
  color: $primary-Base-2;
  font-size: $base-fontSize - 2;
  width: 100%;
  display: inline-block;
  float: left;

  @include media-breakpoint-down(md) {
    padding: 18px 10px 3px 13px;
  }

  .form-group {
    position: relative;
    width: 33%;
    float: left;
    margin: 0 0 15px;

    @include media-breakpoint-down(md) {
      width: 35%;
    }

    .bmd-label-floating {
      position: absolute;
      top: 0;
      padding: 9px 0 0 10px;
      transition: all 200ms;
      margin: 0;
      pointer-events: none;
    }

    .form-control {
      color: $primary-Base-2;
      font-size: $base-fontSize - 2;
      padding: 8px 10px;
      height: auto;
      border: 1px solid $so-Titanium-variant;
      border-radius: 0;
      box-shadow: none;
      cursor: pointer;
      min-height: 36px;

      &:focus + .bmd-label-floating,
      &.validdata + .bmd-label-floating {
        transform: translate3d(0, -100%, 0);
        top: 9px;
        background: $primary-Base-3;
        left: 8px;
        padding: 0 2px;
      }

      &.error {
        border-color: $secondary-Utility-3;

        + .bmd-label-floating {
          color: $secondary-Utility-3;

          + .invalid-feedback {
            @extend .svg-svg-106-alert;
            @extend .svg-svg-106-alert-dims;

            display: inline-block;
          }
        }
      }

      &.successdata {
        + .bmd-label-floating {
          + .invalid-feedback {
            @extend .svg-svg-107-check-thin;
            @extend .svg-svg-107-check-thin-dims;

            display: inline-block;
          }
        }
      }

      &.success-change-icon {
        + .bmd-label-floating {
          + .invalid-feedback {
            @extend .svg-svg-13-check-thin;
            @extend .svg-svg-13-check-thin-dims;

            display: inline-block;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .invalid-feedback {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    margin: 0;
  }

  .to-label {
    font-size: $base-fontSize - 2;
    padding: 9px 0;
    width: 13%;
    float: left;
    margin: 0 0 15px;
    text-align: center;
    text-transform: lowercase;

    @include media-breakpoint-down(md) {
      width: 12%;
    }
  }

  .go-price {
    width: 16.5%;
    float: right;
    margin: 0 0 15px;
    background: transparent;
    border: 2px solid $secondary-Variant-1;
    border-radius: 0;
    padding: 16px 5px;
    position: relative;
    opacity: 0.9;

    @include media-breakpoint-down(md) {
      width: 14%;
    }

    &::before {
      content: '';

      @extend .svg-svg-17-chevron-thick;

      width: 24px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.65) rotate(-90deg);
    }
  }
}

.refinement-price {
  .price-error,
  .no-results {
    font-size: $base-fontSize - 2;
    color: $secondary-Utility-3;
    padding: 0 0 10px;
    float: left;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding: 0 0 10px 13px;
    }
  }

  .no-results {
    padding: 0 0 10px;
    float: left;
    width: 100%;
    color: $error-msg;

    @include media-breakpoint-down(md) {
      padding: 0 0 10px 13px;
    }
  }

  .values {
    @include media-breakpoint-down(md) {
      border-top: 1px solid $secondary-Variant-7;
    }
  }
}

.sort-selection-block {
  max-width: 100%;
  padding: 0;
  margin-bottom: 1.2px;
}

.view-more-less {
  font-size: $base-fontSize - 2;
  margin: 0 0 16px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.refinement-search-bar {
  position: relative;
  margin: 0 0 18px;

  @include media-breakpoint-down(md) {
    border-bottom: 1px solid $secondary-Variant-7;
    margin: 0;
    padding: 8px 15px;
  }

  input {
    width: 100%;
    border: 1px solid $so-Titanium-variant;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 39px 8px 11px;
    color: $primary-Base-2;
    border-radius: 0;

    &::placeholder {
      color: $primary-Base-2;
    }

    &:-ms-input-placeholder {
      color: $primary-Base-2;
    }

    &::-ms-input-placeholder {
      color: $primary-Base-2;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
  }

  .search-icon {
    position: absolute;
    top: 20px;
    right: 13px;
    transform: translate(0, -50%) scale(0.8);
    border: 0;

    @include media-breakpoint-down(md) {
      right: 27px;
    }
  }
}
// .designer-search-bar-with-sugesstions {
//   top: 120px !important;
//   @include media-breakpoint-down(xs) {
//     top: 180px !important;
//   }
// }
.designer-search-bar {
  width: 100%;
  top: 15px;
  position: relative;
  margin: 0 0 18px;
  float: left;
  padding-top: 30px;
  @include media-breakpoint-down(xs) {
    border-bottom: 1px solid $secondary-Variant-7;
    margin: 0;
  }

  input {
    // width: 420px;
    width: 100%;
    height: 40px;
    border: 1px solid $so-Titanium-variant;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 39px 8px 11px;
    color: $primary-Base-2;
    border-radius: 0;

    &::placeholder {
      color: $primary-Base-2;
    }

    &:-ms-input-placeholder {
      color: $primary-Base-2;
    }

    &::-ms-input-placeholder {
      color: $primary-Base-2;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    @include media-breakpoint-between(md, lg) {
      width: 50%;
    }
  }

  .search-icon {
    position: absolute;
    top: 51px;
    right: 0.6rem;
    transform: translate(0, -50%) scale(0.8);
    border: 0;

    @include media-breakpoint-between(md, lg) {
      right: 51%;
    }
  }
}

.designer-search-results {
  position: relative;
  float: left;
  clear: left;
  width: 1000px;
}

// .designer-search-results-with-sugesstions{
//   top: 110px;
//   @include media-breakpoint-down(xs) {
//     top: 180px;
//   }
// }

.size-listings {
  position: relative;
  float: left;
  clear: left;
  width: 733px;
}

.shop-item-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $secondary-Variant-7;
  background: $primary-Base-3;
  z-index: 99;
  width: 100%;

  button {
    margin: 10px;
    width: calc(100% - 20px);
  }
}

.no-results {
  font-size: $base-fontSize - 2;
  color: $primary-Base-2;
}

.header-bar {
  button {
    span {
      &::after {
        @extend .svg-svg-22-cross;
      }
    }

    &.button-close {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
      background-color: transparent;
      border: 0;
      opacity: 0.7;
    }
  }
  @include media-breakpoint-only(sm) {
    padding: 1.89em 2.813em;
  }

  @include media-breakpoint-only(xs) {
    padding: 1.89em;
  }
}

@include media-breakpoint-down(md) {
  .header-bar {
    position: relative;
    border: 0;
    background-color: $primary-Base-3;

    button {
      span {
        &::after {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          transform: translate(0, -50%) scale(0.67);
          left: 0;
          top: 50%;
        }
      }
    }
  }

  .filter-header {
    margin: 0;
    justify-content: space-between;
    display: flex;
    padding: 0 20px;
    align-items: center;
    border-bottom: 1px solid $secondary-Variant-7;
    background-color: $white;

    .secondary-bar {
      padding: 0;
      max-width: 100%;
      margin: 0;

      button {
        &.reset {
          padding: 0;
          margin: 0;
          color: $primary-Base-2;
          border: 0;
          float: none;
          font-size: $base-fontSize;
          background: transparent;
          text-transform: capitalize;
          font-family: $base-fontFamily;
        }
      }
    }

    .filter-data {
      font-size: $base-fontSize + 4;
      font-family: $bold-fontFamily;
      line-height: 1.5;
      padding: 13px 0;
      position: absolute;
      @include media-breakpoint-only(sm) {
        left: 47.5%;
      }
      @include media-breakpoint-only(xs) {
        left: 43%;
      }
    }
  }
}

body {
  &.fixed {
    position: fixed;
  }
}

select.custom-select-field::-ms-expand {
  display: none;
}

.refinement-search-bar .search-icon {
  &.designer-cancel {
    transform: scale(0.5);
    top: 7px;
    right: 0.6em;

    @include media-breakpoint-down(md) {
      transform: scale(0.5);
      top: 14px;
      right: 1.6em;
    }
  }
}

.designer-search-bar .search-icon {
  &.designer-cancel {
    transform: scale(0.5);
    top: 38px;
    right: 0.6em;

    @include media-breakpoint-between(md, lg) {
      right: 51%;
    }

    @include media-breakpoint-down(md) {
      transform: scale(0.5);
      top: 38px;
      right: 0.6em;
    }
  }
}
.hide-important {
  display: none !important;
}