.container.product-detail.product-set-detail {
  margin-top: 36px;

  > .row {
    margin: 0;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 27px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }
}

.product-detail.product-set-detail {
  margin-top: 36px;

  @include media-breakpoint-down(xs) {
    .prices-add-to-cart-actions {
      position: static;
      box-shadow: none;
    }
  }

  .cart-and-ipay {
    @include media-breakpoint-down(xs) {
      padding-bottom: 0;
      margin-bottom: 26px;
    }
  }

  .primary-thumbnails,
  .mRecommendation {
    display: none !important;
  }

  .primary-images-container {
    .badge-img {
      top: 20px;
      left: 70px;
      background: $primary-Base-3;
      padding: 0 3px;

      @include media-breakpoint-down(md) {
        left: 25px;
      }

      @include media-breakpoint-down(xs) {
        left: 20px;
      }
    }

    .wishlistTile {
      right: 80px;

      span {
        transform: scale(1.1);
      }

      @include media-breakpoint-down(md) {
        right: 25px;
      }

      @include media-breakpoint-down(xs) {
        right: 20px;
      }
    }

    .primary-image {
      @include media-breakpoint-up(md) {
        padding-top: 116%;
      }
    }
  }

  .chanel-pdp {
    .pdp-right-section {
      .product-name,
      .product-collection {
        font-size: 14px;
        font-family: $base-fontFamily;
        margin-bottom: 9px;
      }

      .product-collection {
        b {
          // per the request of SFSX - 2533, its done.
          font-weight: normal;
        }
      }
    }

    .product-detail.product-wrapper {
      &:not(.set-item) {
        padding-top: 72px;
        border-top: 1px solid $avenue-secondary-variant-7;
      }

      & > .row {
        padding-bottom: 72px;
        border-bottom: 1px solid $avenue-secondary-variant-7;
      }
    }

    & > .row {
      .attribute.quantity {
        &:not(.js-product-availability-qty) {
          margin-top: 27px;
        }
      }

      .attributes {
        div[data-attr='size'] {
          .prices-add-to-cart-actions .cart-and-ipay {
            .col-sm-12 {
              margin: 0 15px;
            }
          }
        }
      }
    }
  }

  .product-detail.product-wrapper {
    padding-left: 0;
    padding-right: 0;

    &:not(.set-item) {
      > .row {
        margin-top: 72px;
        padding-bottom: 72px;
        border-bottom: 1px solid $avenue-secondary-variant-7;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .product-set-overview {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 981px;
    margin: 0 auto;
    padding: 0;


    @include media-breakpoint-down(xs) {
      position: relative;
      justify-content: center;
      padding: 0;
      max-width: 335px;
      flex-wrap: wrap;

      .overview-img {
        max-width: 100%;
        margin: 0;
        width: 100%;

        .img-fluid {
          width: 100%;
        }
      }
    }

    @media #{$ipadproToDesktop} {
      max-width: 817px;
      margin: 0 auto;
    }

    .strike-through {
      color: $secondary-utility-10;
      margin-right: 10px;
      font-family: $base-fontFamily;
      font-size: $base-fontSize + 4px;
    }

    .overview-img {
      margin: 0 59px 0 0;
      max-width: 341px;

      @media #{$ipadproToDesktop} {
        margin: 0 49px 0 0;
        max-width: 284px;
      }

      @include media-breakpoint-down(md) {
        margin: 0 54px 0 0;
        max-width: 318px;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 36px;
      }
    }

    .overview-content {
      max-width: 581px;

      @media #{$ipadproToDesktop} {
        max-width: 484px;
      }

      @include media-breakpoint-down(md) {
        max-width: 100%;
        position: static;
        padding: 0;
        margin: 0;
        display: block;
      }

      @include media-breakpoint-down(xs) {
        max-width: 95%;
        bottom: 0;
        margin: 0 auto 1px;
        text-align: center;
        padding: 18px 0 0;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .brand-name {
        font-family: $Moneta-regular;
        font-size: 32px;
        letter-spacing: 1.37px;
        line-height: 32px;
        margin-bottom: 27px;

        @include media-breakpoint-down(md) {
          font-size: 30px;
          margin-bottom: 9px;
          width: 100%;
        }
      }

      .product-name {
        font-size: $base-fontSize + 2;
        font-weight: bold;
        letter-spacing: 0.4px;
        line-height: 20px;
        margin-bottom: 13px;

        @include media-breakpoint-down(md) {
          font-size: $base-fontSize + 1;
          width: 100%;
        }
      }

      .product-desc {
        margin: 0 0 18px 0;
        letter-spacing: 0.25px;
        line-height: 20px;
        font-size: $base-fontSize;

        @include media-breakpoint-down(md) {
          max-width: 335px;
          width: 100%;
        }

        @include media-breakpoint-down(xs) {
          width: 86%;
          display: inline-block;

          p {
            margin: 0 auto;
          }
        }
      }

      .price-range {
        margin: 0 0 36px;
        color: $avenue-primary-base-2;
        font-family: $base-fontFamily;
        font-size: $base-fontSize;
        font-weight: bold;
        letter-spacing: 0.25px;
        line-height: 20px;

        @include media-breakpoint-down(md) {
          margin-bottom: 27px;
        }

        @include media-breakpoint-down(xs) {
          width: 100%;
        }
      }

      .wishlist-shop-collection {
        display: flex;
        align-items: baseline;

        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
        }

        .shop-collection {
          width: 282px;
          padding: 0 20px;
          max-height: 45px;
          margin-right: 16px;

          @media #{$ipadproToDesktop} {
            width: 234px;
          }

          @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0 0 9px;
          }
        }

        .wishlist-pdp-button {
          margin-top: 0;
          width: 282px;

          @media #{$ipadproToDesktop} {
            width: 234px;
          }

          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
      }
    }

    .product-name {
      font-size: $base-fontSize + 14px;

      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize + 10px;
      }
    }
  }

  .set-seperator {
    display: inline-block;
    margin: 49px 0 10px;
    background-color: $secondary-Utility-9;
    height: 1px;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: 40px 0 20px;
    }

    @include media-breakpoint-down(xs) {
      background-color: $white;
      height: 10px;
      margin: 20px 0 0;
    }

    &.d-sm-block {
      margin: 71px 0 0;

      @include media-breakpoint-down(md) {
        margin: 53px 0 0;
        height: 1px;
        background-color: $avenue-secondary-variant-7;
      }
    }
  }

  .primary-images-wrapper {
    flex: 0 0 85%;
    max-width: 85%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .slick-next {
      top: 45%;
      right: -20px;
      left: auto;
      transform: rotate(0deg);

      @include media-breakpoint-down(md) {
        right: 0;
      }

      @include media-breakpoint-down(xs) {
        right: 0;
      }
    }

    .slick-prev {
      top: 45%;
      left: -24px;
      transform: rotate(0deg);

      @include media-breakpoint-down(md) {
        left: 0;
      }

      @include media-breakpoint-down(xs) {
        left: 0;
      }
    }

    .slick-prev {
      transform: rotate(180deg);
    }

    .primary-image img {
      max-width: 420px;
      text-align: center;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        left: 50%;
        transform: translateX(-50%);
      }

      @include media-breakpoint-down(md) {
        max-width: 350px;
      }

      @include media-breakpoint-down(xs) {
        max-width: 263px;
      }
    }

    @include media-breakpoint-down(xs) {
      min-height: auto;
    }
  }

  .product-detail .product-secondary-section {
    padding-left: 5px;
    padding-right: 15px;

    @include media-breakpoint-down(md) {
      padding-left: 8px;
      padding-right: 0;
    }

    @media #{$ipadproToDesktop} {
      flex: 0 0 42.5%;
      max-width: 42.5%;
      padding-left: 15px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 18px;
      padding: 0;
    }

    ul,
    dl {
      padding-inline-start: 2px;
    }

    li {
      list-style: inherit;
      list-style-position: inside;
    }
  }

  .product-detail.set-item {
    padding: 0;
    padding-bottom: 72px;
    border-bottom: 1px solid $avenue-secondary-variant-7;
    margin-top: 72px;

    @include media-breakpoint-down(md) {
      margin-top: 36px;
      padding: 0 20px 53px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .product-brand-name {
    font-family: $Moneta-regular;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 9px;

    @include media-breakpoint-down(xs) {
      font-size: 26px;
    }
  }

  div.collapsible-xl:last-child button.title {
    border-bottom: none;
  }

  .view-full-info {
    text-decoration: underline;
    font-size: $base-fontSize - 2px;
    display: inline-block;
    font-family: $base-fontFamily;
    letter-spacing: 0.25px;
    line-height: 18px;
    margin-top: 22px;
  }

  @include media-breakpoint-down(xs) {
    .prices div.price {
      padding-top: 0;
      border-top: none;
    }

    .attributes {
      margin-top: 26px;
    }
  }

  .attributes {
    .row {
      .attribute {
        &.quantity {
          .content {
            margin-bottom: 0;
          }
        }

        .row.availability.product-availability {
          margin-bottom: 0;
          margin-top: 0;
          padding: 0;
          color: $avenue-primary-base-2;
          line-height: normal;
        }
      }
    }
  }

  .chanel-banner {
    display: none;
  }

  .slick-slider .slick-dots {
    display: none !important;
  }
}
