.size-modal {
  width: 100%;
  height: 100%;
  padding: 0 !important;

  .modal-dialog,
  .modal-content,
  .modal-body,
  .modal-row,
  .modal-column {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: none;
  }

  .modal-body {
    height: 100%;
    overflow: auto;
    padding: 0;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 850px;
    top: 28px;

    @include media-breakpoint-down(md) {
      height: 100%;
      width: 100%;
    }
  }

  .close {
    padding: 0;
    margin: 20px 20px 0 0;
    font-size: 0;
    opacity: 1 !important;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transform: scale(0.9);

    @include media-breakpoint-down(xs) {
      transform: scale(0.63);
    }
  }

  .zoom-thumbnails {
    margin: 20px 0 0 20px;
    max-width: 63px;
  }

  .modal-row {
    padding: 41px 51px 40px 49px;

    @include media-breakpoint-down(xs) {
      padding: 49px 25px 58px;
    }
  }

  .modal-content,
  .modal-column,
  .modal-body {
    max-height: 100%;
    //height: auto;

    @include media-breakpoint-down(xs) {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.product-detail {
  .product-brand-name {
    font-family: $base-fontFamily;
  }

  .prices {
    .custom-tooltip {
      float: left;

      .tooltip-info {
        margin-left: 0;
        margin-right: 5px;
        padding: 1px 5px;
      }
    }

    div.price {
      font-size: $base-fontSize - 2px;
      font-family: $base-fontFamily;

      span.strike-through {
        margin-right: 0;
        font-size: $base-fontSize + 4px;
      }

      .sales {
        font-family: $base-fontFamily;
        margin-right: 4px;
      }
    }
  }

  .promotions {
    font-family: $base-fontFamily;
  }

  .attributes {
    .row {
      .attribute {
        .non-input-label {
          margin-bottom: 12px;
          &.size {
            .size_guide {
              font-family: $base-fontFamily;
            }
          }
        }

        ul {
          label {
            color: $secondary-Utility-6;
          }

          li {
            a {
              font-family: $base-fontFamily;
            }
          }
        }

        .quantity-field {
          button {
            font-family: $base-fontFamily;
          }
        }

        .product-availability {
          font-family: $base-fontFamily;
        }

        .purchaselimit-message {
          font-family: $base-fontFamily;
        }
      }
    }

    .final-sale-message {
      padding: 0;
      margin-bottom: 23px;
    }

    label.final-sale-message {
      margin-bottom: 0;
    }

    .select-message {
      font-family: $base-fontFamily;
    }

    .waitlist-from {
      font-family: $base-fontFamily;
      color: $secondary-Utility-6;
      font-size: $base-fontSize - 2px;
      font-family: $base-fontFamily;

      @include media-breakpoint-down(xs) {
        margin-bottom: 28px;
      }

      .soldout-msg {
        padding-bottom: 15px;
        padding-top: 24px;
        border-top: 1px solid $secondary-Variant-7;
        margin-top: 20px;
      }

      .form-group {
        position: relative;
        margin-bottom: 15px;

        .form-control-label {
          position: absolute;
          top: 15px;
          left: 13px;
          color: $secondary-Variant-5;
          margin: 0;
          pointer-events: none;

          &.input-focus {
            top: -8px;
            padding: 0 8px;
            font-size: 10px;
            background-color: $primary-Base-3;
            pointer-events: none;
            color: $secondary-Variant-1;
          }

          &::before {
            display: none;
          }

          &.is-invalid {
            color: $secondary-Variant-15;
          }
        }

        /*
          .js-waitlist-email,
          .js-waitlist-mobile {
            height: 45px;
            font-family: $base-fontFamily;
            line-height: 14px;
            font-size: $base-fontSize - 2px;
            border-color: $secondary-Variant-5;

            &.is-invalid {
              border-color: $secondary-Variant-15;
            }
          }

          .invalid-feedback {
            font-family: $base-fontFamily;
            font-size: $base-fontSize - 2px;
            color: $secondary-Variant-15;
            padding: 9px 0 0 14px;
          }
          */
      }

      .js-mobile-opt-msg {
        font-size: $base-fontSize - 5px;
        font-family: $base-fontFamily;
        letter-spacing: 0.2px;
        line-height: 14px;
        color: $secondary-Variant-14;
        margin-bottom: 25px;

        span,
        a {
          font-family: $bold-fontFamily;
        }

        a {
          text-decoration: underline;
        }
      }

      .waitlist-button {
        @include media-breakpoint-down(xs) {
          background-color: hsla(0, 0%, 100%, 0.95);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          z-index: 999;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 13px 18px;
        }
      }

      .btn-primary {
        text-transform: uppercase;
        border-radius: 0;
        margin-top: 5px;
        display: inline-block;
        //padding: 14px;

        @include media-breakpoint-down(xs) {
          width: 98%;
          margin: 0 auto;
        }
      }
    }

    .success-msg {
      font-size: $base-fontSize;
      font-family: $base-fontFamily;
      letter-spacing: 0.22px;
      line-height: 20px;
      color: $secondary-Variant-16;
      background-color: $secondary-Variant-17;
      padding: 13px 3%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(xs) {
        margin-bottom: 30px;
        padding: 13px 60px 18px;
        align-items: flex-start;

        .message {
          text-align: center;
          width: 200px;
        }
      }

      .check-img {
        transform: scale(0.7);
        margin-right: 8px;

        @include media-breakpoint-down(xs) {
          margin: 0;
          width: 30px;
        }
      }
    }

    .select-size-div {
      font-size: $base-fontSize - 2px;
      line-height: 1.4;
      color: #000000;
      background-color: #fccaca;
      border-color: #fccaca;
      text-align: center;
      margin-bottom: 24px;
      margin-left: 15px;
      padding: 0.75rem 1.25rem;
      max-width: calc(100% - 30px);
      height: 37px;
    }

    .add-to-cart {
      font-family: $base-fontFamily;

      &.disable-red {
        background-color: #d12661;
        border: #d12661;
      }
    }
  }

  div.collapsible-xl {
    font-size: $base-fontSize - 2px;
    font-family: $base-fontFamily;
    color: $secondary-Utility-6;

    button.title {
      color: $secondary-Utility-6;
      font-family: $base-fontFamily;

      span.plus {
        background-image: url(../../images/saks-plus-thin.svg);
      }

      span.minus {
        background-image: url(../../images/saks-minus-thin.svg);
      }
    }

    .product-details {
      font-family: $base-fontFamily;
    }

    .shipping-details {
      font-family: $base-fontFamily;
    }
  }

  @include media-breakpoint-up(md) {
    .product-secondary-section,
    .product-secondary-section.pdp-standard,
    .primary-thumbnails {
      position: initial;
      top: initial;
    }
  }

  &.giftcard-pdp {
    .product-name {
      font-family: $base-fontFamily;
    }
  }
}

a {
  &.srd_a {
    color: $secondary-Variant-1 !important;
  }
}

body {
  ._SRD {
    &._SR {
      .srd_iconline {
        margin: 13px 0 0;
        float: left;

        .srd_msg {
          float: left;
          width: 100%;
          padding: 3px 0 0;

          strong {
            font-family: $base-fontFamily;
          }
        }
      }

      .srd_msg,
      .srd_a {
        font-family: $base-fontFamily !important;
        font-size: $base-fontSize - 2 !important;
        color: $secondary-Variant-16 !important;
      }

      .srd_a_wrap {
        a {
          font-family: $bold-fontFamily;
          text-decoration: underline !important;
        }
      }
    }
  }
}
