.complete-the-look.modal {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  max-width: 320px;
  background-color: #fff;
  transition: transform $animation-default-duration $animation-ease-in-out-quad;
  transform: translate3d(100%, 0, 0);

  .product-detail {
    padding: 0;
    .primary-images-container {
      .primary-images {
        .primary-image {
          padding-top: 0;

          img {
            position: unset;
            &:not(.adobelaunch__fullsizeimage) {
              min-height: 300px;

              @include media-breakpoint-down(md) {
                min-height: 373px;
              }
            }
          }
        }
        .s7-viewer-video {
          padding-top: 0;
        }
      }
    }
  }

  &.show {
    transform: translate3d(0, 0, 0);
  }

  .slick-slider {
    .slick-dots {
      li {
        button {
          &:after{
            width: 5px;
            height: 5px;
            border: 0;
          }
        }
      }
    }

    .slick-arrow {
      top: calc(50% - 14px);
    }

    .slick-prev {
      right: auto;
      left: -8px;

      @include media-breakpoint-up(lg) {
        left: -14.5%;
      }

      @media screen and (min-width: 1259px) {
        left: -12.5%;
      }
    }

    .slick-next {
      left: auto;
      right: -8px;

      @include media-breakpoint-up(lg) {
        right: -14.5%;
      }

      @media screen and (min-width: 1259px) {
        right: -12.5%;
      }
    }
  }

  .hbc-slider + .touchscreen-slider-dots {
    margin: -9px auto 18px;
  }

  .primary-images-wrapper .primary-image img {
    cursor: grab;
  }

  .modal-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'body'
      'footer';
    height: 100%;
    border: none;
  }

  .modal-header {
    grid-area: header;
    border: none;
    padding: 0;

    .close {
      float: unset;
      padding: 6px;
      margin: 9px 0 0 9px;

      span {
        display: block;
        height: 16px;
        width: 16px;
        background-size: 26px;
      }
    }
  }

  .modal-body {
    grid-area: body;
    overflow: auto;
    padding: 0 20px 15px;

    .primary-images-wrapper {
      min-height: auto;
      margin: 0 auto;
    }
  }

  .modal-footer {
    grid-area: footer;
    display: block;
  }

  .product-segment,
  .brand-segment {
    text-align: center;
  }

  .primary-images {
    margin: 27px 0;
  }

  .primary-images-container {
    padding: 0;
  }

  .prices {
    padding: 13px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .attributes {
    margin-top: 0;
    border-top: none;
  }

  .main-attributes {
    display: none;
  }

  .row .attribute {
    &.quantity {
      margin: 27px 0 18px;
      padding: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  a.view-full-product-info {
    text-decoration: underline;
    font-size: 12px;
  }

  .js-add-to-cart {
    .add-to-cart-global {
      width: 100%;
    }
    .pdpselect-wishlist {
      display: none;
    }
    &.cart-and-ipay {
      padding-bottom: 0;
    }
    .preorder-ship-date {
      span {
        &:not(:empty) {
          margin-bottom: 18px;
        }
      }
    }
  }

  .fa.fa-shopping-bag {
    display: none;
  }

  .fa.fa-shopping-bag {
    display: none;
  }

  .fa.fa-shopping-bag {
    display: none;
  }

  .fa.fa-shopping-bag {
    display: none;
  }
}
