.product-detail {
  .s7-modal {
      .modal-content {
        button {
          &.close {
            &::after {
              @include media-breakpoint-down(md) {
                content: "";
                position: absolute;
                width: 44px;
                height: 44px;
                transform: translate(-50%, -50%);
                top: 50%;
              }
            }
          }
        }
      }
  }
    //Recommendation products section
  .recommendations.items-like,
  .recommendations.recom-pdts {
    .wrapper-content {
      margin-top: 64px;
    }

    .slider-heading {
      padding: 0;
      border-top: none;
      margin-top: 0;
      font-family: $Moneta-regular;
      font-size: 28px;
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      border: none;

      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
        font-size: 26px;
        letter-spacing: 1px;
      }

      span {
        position: relative;
        z-index: 5;
        background-color: $avenue-primary-base-1;
        padding: 0 20px;
        line-height: 33px;
        letter-spacing: 1.2px;
        color: $avenue-primary-base-2;
        font-size: 28px;

        body.hide-womens & {
          text-transform: capitalize;
        }
      }

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: $avenue-secondary-variant-7;
        position: absolute;
        left: 0;
        top: 50%;
      }
    }
  }

  .recommendations.items-like {
    .slider-heading-section {
      @include media-breakpoint-down(md) {
        width: calc(100% + 10px);
        margin: 0 -5px;
      }
    }
  }

  .recommendation-products {
    &.slick-slider {
      .slick-prev {
        transform: rotate(180deg);
        left: -6px;
      }

      .slick-next {
        right: -6px;
      }
    }
  }
}

.pdp-reviews {
  @include media-breakpoint-down(xs) {
    margin: 64px auto 54px;
    padding: 0;
    .pdp-reviews-row {
      margin-left: -5px;
      margin-right: -5px;
      .review-content-holder {
        &.col-12 {
          padding: 0 20px;
        }
      }
    }
  }
  margin: 82px auto 72px;
}
[class^='tt-'] {
  font-family: $base-fontFamily !important;
  letter-spacing: 0.25px !important;
  color: rgba($color: $avenue-primary-base-2, $alpha: 1) !important;
}
.tt-c-review__heading-text,
.tt-c-ratings-breakdown__heading {
  font-family: $aven-trade-gothic-next-bold !important;
  font-size: $base-fontFamily !important;
  line-height: 20px !important;
  letter-spacing: 0.25px;
}
.tt-c-review__heading-text {
  line-height: 22px !important;
}
.tt-c-reviews-summary__rating-number {
  font-family: $aven-trade-gothic-next-bold !important;
  font-size: 64px !important;
  line-height: 47px !important;
  margin-right: 0 !important;
}
.tt-o-icon--lg,
.tt-o-icon--xl {
  width: 1.1875rem !important;
  height: 1.1875rem !important;
}
.tt-c-rating__star {
  margin: 0 0.3rem 0 0 !important;
}
.tt-c-reviews-summary__rating {
  margin-bottom: 10px;
  @include media-breakpoint-down(xs) {
    margin-bottom: 17px !important;
  }
}
.tt-o-button--primary {
  background-color: $avenue-primary-base-2 !important;
  color: $avenue-primary-base-1 !important;
  letter-spacing: 1.25px !important;
  @include media-breakpoint-down(xs) {
    line-height: 46px !important;
    width: 100% !important;
  }
}
.tt-u-mb--sm {
  margin-bottom: 0.6rem !important;
}
.tt-c-ratings-breakdown__rating-number,
.tt-c-ratings-breakdown__percent {
  font-size: $base-fontSize - 2px !important;
  line-height: 18px !important;
}
.tt-c-reviews-list__heading {
  font-family: $aven-trade-gothic-next-bold !important;
  font-size: $base-fontFamily + 2px !important;
  line-height: 20px !important;
  letter-spacing: 0.4px;
}
.tt-c-review {
  border: 0 none !important;
  border-top: 1px solid $avenue-secondary-variant-7 !important;
  padding: 18px 0 0 0 !important;
  margin-top: 27px !important;
  @include media-breakpoint-down(xs) {
    margin-top: 36px !important;
  }
}
tt-c-reviews-list__header {
  margin-bottom: 35px !important;
}
.tt-c-review__date,
.tt-c-review__product-attributes,
.tt-c-review__update,
.tt-c-review__text-date,
.tt-c-review__purchased,
.tt-c-review__incentivized {
  font-size: $base-fontSize - 2px !important;
  line-height: 18px !important;
  color: $avenue-secondary-variant-5 !important;
}
.tt-c-review__text-content {
  font-size: $base-fontSize !important;
  color: $avenue-primary-base-2 !important;
}
.tt-c-profile-attributes__property,
.tt-c-profile-attributes__value {
  font-family: $aven-trade-gothic-next-bold !important;
  font-size: $base-fontSize - 2px !important;
  line-height: 18px !important;
  color: $avenue-primary-base-2 !important;
}
.tt-c-profile-attributes__value {
  font-family: $base-fontFamily !important;
}
.tt-c-review__grid-footer {
  background: $avenue-secondary-variant-8 !important;
  padding: 8px 15px !important;
  display: none;
}
.tt-c-reviews-list-utilities {
  border-bottom: none !important;
}
.tt-c-review-toolbar__text {
  font-size: $base-fontSize - 2px !important;
  line-height: normal !important;
}
.tt-c-review-toolbar__likes-number {
  font-family: $aven-trade-gothic-next-bold !important;
  font-size: $base-fontSize - 2px !important;
  line-height: 18px !important;
}
.tt-c-review-toolbar__action--flag {
  font-family: $aven-trade-gothic-next-bold !important;
  font-size: $base-fontSize - 2px !important;
}
.tt-w-instant-answers {
  margin: 10px 0 !important;
  display: none;
}
.tt-c-reviews-summary__rating-text {
  font-size: $base-fontSize !important;
  line-height: 20px !important;
  color: rgba($color: $avenue-primary-base-2, $alpha: 1) !important;
}
.tt-c-reviews-summary__stars tt-u-mb--sm {
  @include media-breakpoint-down(xs) {
    margin-bottom: 21px !important;
  }
}
.tt-c-reviews-list__content .tt-c-review:first-child {
  @include media-breakpoint-down(xs) {
    margin-top: 27px !important;
  }
}
.tt-c-reviews-summary__no-reivews {
  .tt-c-reviews-summary__heading {
    display: none !important;
  }
  .tt-c-reviews-summary__no-reivews-body {
    padding: 0 !important;
    font-size: $base-fontSize !important;
    line-height: 20px !important;
  }
  .tt-u-spacing--md > * + * {
    margin-top: 14px !important;
  }
  .tt-o-button--primary {
    line-height: 43px !important;
  }
}

