@import 'product_set';
@import '../components/avenue-sprite';

$thumbnail_width: 83px;
$thumbnail_height: ceil($thumbnail_width * 1.333);

$thumbnail_small_width: 68px;
$thumbnail_small_height: ceil($thumbnail_small_width * 1.333);

$maximum_visible_thumbnails: 5;

.product-details-page {
  &.select-opened {
    overflow: hidden !important;
    .back-to-top {
      display: none !important;
    }
  }
}

.product-detail {
  .complete-the-look-sec {
    border: 1px solid $avenue-contextual-variant-16;
    position: relative;
    padding: 36px 100px;
    margin: 76px 0 0;

    @media #{$belowdesktop} {
      padding: 37px 26px 0 20px;
    }

    @include media-breakpoint-down(sm) {
      padding: 37px 20px 27px;
      margin: 54px 0 0;
    }

    .mRecommendation-title {
      position: absolute;
      left: 0;
      right: 0;
      width: auto;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      top: -29px;
      background: $white;
      padding: 10px;
      font-family: $Moneta-regular;
      font-size: $base-fontSize + 14px;
      line-height: 32px;
      letter-spacing: 1.2px;
      text-align: center;
    }

    .std-image-look {
      @include media-breakpoint-up(lg) {
        padding-bottom: 36px;
      }

      @media #{$belowtab} {
        padding-bottom: 20px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
      }
    }

    .complete-the-look {
      .slick-list {
        max-width: 480px;

        .product {
          width: 226px !important;

          @include media-breakpoint-down(sm) {
            width: 139px !important;
          }
        }

        @include media-breakpoint-down(sm) {
          max-width: 300px;
        }
      }

      @media #{$belowtab} {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .complete-the-look-full-width {
      .slick-list {
        max-width: 920px;

        @media #{$belowdesktop} {
          max-width: 900px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 625px;
        }

        .product {
          width: 210px !important;

          @include media-breakpoint-down(sm) {
            width: 139px !important;
          }
        }
      }
    }

    .complete-the-look,
    .complete-the-look-full-width {
      margin: 0 auto;

      .slick-list {
        margin: 0 auto;
        text-align: center;
      }

      @include media-breakpoint-down(xs) {
        border-bottom: none;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  //Product Detail page general styles
  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }

  @media #{$ipadproToDesktop} {
    padding: 0 20px;

    .col-md-8 {
      flex: 0 0 57.5%;
      max-width: 57.5%;
    }
  }

  .primary-images-container {
    padding-right: 0;

    .product-details-page & {
      .pdp-video {
        margin: 0 15px;

        button {
          background: url(../../images/video-play.svg) no-repeat left center / contain;
          display: inline-block;
          line-height: 26px;
          padding-left: 36px;
          border: 0 none;
        }
      }

      @include media-breakpoint-up(md) {
        .primary-images-wrapper {
          flex: 0 0 88.5%;
          max-width: 88.5%;

          @media #{$ipadproToDesktop} {
            flex: 0 0 85.3%;
            max-width: 85.3%;
          }
        }

        .primary-images,
        .pdp-video {
          max-width: 484px;
        }

        .pdp-video {
          margin: 0 auto;
        }
      }
    }
  }

  .pdp-carousel {
    position: relative;
  }

  .primary-thumbnails {
    max-width: $thumbnail_width;

    .primary-thumbnail {
      display: block;
    }

    &.scrollable {
      max-width: $thumbnail_width;
      margin: 26px 0 6px;
      position: relative;
      scroll-behavior: smooth;

      height: #{($thumbnail_height + 2) * $maximum_visible_thumbnails};
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      -webkit-overflow-scrolling: touch;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    ~ .thumbnail-nav {
      position: absolute;
      width: $thumbnail_width;
      left: 0;
      height: 20px;
      border: none;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      background-color: transparent;

      @include media-breakpoint-down(md) {
        display: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 25%;
      }

      @media #{$ipadproToDesktop} {
        max-width: $thumbnail_small_width;
      }

      &.up {
        top: 0;
        background-image: url(../../images/icon-up-arrow.svg);
      }

      &.down {
        top: #{(($thumbnail_height + 2) * $maximum_visible_thumbnails) + 32};
        background-image: url(../../images/icon-down-arrow.svg);

        @media #{$ipadproToDesktop} {
          top: #{(($thumbnail_small_height + 2) * $maximum_visible_thumbnails) + 32};
        }
      }
    }

    @media #{$ipadproToDesktop} {
      max-width: $thumbnail_small_width + 12;

      &.scrollable {
        height: #{($thumbnail_small_height + 12) * $maximum_visible_thumbnails};
      }
    }

    .thumb-nail {
      @media #{$ipadproToDesktop} {
        height: $thumbnail_small_height;
        width: $thumbnail_small_width !important;
      }

      &.active {
        box-shadow: none;
        border: 1px solid $avenue-primary-base-2;
      }
    }

    .video-player {
      .video-player-bg {
        background-color: transparent;
      }
    }
  }

  .pdp-right-section {
    padding-left: 5px;

    @media #{$ipadproToDesktop} {
      flex: 0 0 42.5%;
      max-width: 42.5%;
      padding-left: 15px;
    }

    @include media-breakpoint-down(xs) {
      .pdp-standard {
        margin-top: 8px;
      }
    }

    @include media-breakpoint-down(md) {
      padding-left: 8px;

      @include media-breakpoint-down(xs) {
        padding-left: 15px;
      }
    }
  }

  .product-brand-name {
    font-family: $Moneta-regular;
    font-size: 28px;
    letter-spacing: 1.2px;
    line-height: 32px;
    margin-bottom: 9px;

    @include media-breakpoint-down(md) {
      font-size: 26px;
      letter-spacing: 1px;
      line-height: 30px;
    }

    a.product-brand:not(.btn-primary):not(.btn-outline-primary) {
      color: $avenue-primary-base-2;
    }
  }

  .product-name {
    font-size: $base-fontSize;
    letter-spacing: 0.25px;
    line-height: 20px;
    color: $avenue-primary-base-2;
    margin-bottom: 9px;
  }

  .prices {
    .price,
    div.price {
      font-size: $base-fontSize;
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0.25px;
      line-height: 19px;
      color: $avenue-primary-base-2;

      span.strike-through {
        font-size: $base-fontSize;
        padding-right: 10px;
        color: $avenue-secondary-variant-5;
      }

      .sales {
        font-family: $aven-trade-gothic-next-bold;
        font-weight: unset;
      }
    }

    @include media-breakpoint-down(xs) {
      padding-top: 13px;
      border-top: 1px solid $avenue-secondary-variant-7;
    }
  }

  .attributes {
    border-top: 1px solid $avenue-secondary-variant-7;
    padding: 0;
    margin-top: 26px;

    .row{
      &:first-child[data-attr='size'],
      &:first-child[data-attr='color']{
        margin-top: 21px;
      }
    }

    .row .attribute {
      .product-availability {
        padding: 0;
      }

      ul {
        &.availability-msg {
          vertical-align: bottom;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      margin-top: 16px;
    }

    .select-size-div {
      color: #e13232;
      background-color: unset;
      border-color: unset;
      text-align: left;
      margin-bottom: 0;
      padding: 0.75rem 0;
      max-width: unset;
      height: unset;
    }

    //SDD Styles
    .shipping-option {
      .form-group {
        display: flex;
        color: $avenue-primary-base-2;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 13px;

        .bopis-radio {
          &:last-child {
            flex-basis: calc(50% + 27px);
          }

          padding: {
            left: 27px;
          }
          margin: 0;

          label {
            &:before {
              position: absolute;
              left: -27px;
              top: 1px;
            }
          }

          span {
            padding: 0;
          }

          a {
            white-space: nowrap;
          }

          .store-change-link-sdd,
          .store-change-link {
            display: inline;
          }

          &:last-child {
            margin-left: 24px;
          }
        }
      }

      .available-messaging {
        font-size: $base-fontSize - 2;
        letter-spacing: 0.25px;
        line-height: 18px;
      }

      .change-store {
        font-family: $aven-trade-gothic-next-regular;
        font-size: $base-fontSize;
        color: $avenue-secondary-variant-1;
        text-transform: capitalize;
      }
    }

    .row[data-attr='color'] {
      .attribute.js-saks-newdesign {
        margin-bottom: 0;

        .non-input-label {
          margin-bottom: 0;
        }

        .color-wrapper li {
          margin-top: 17px;
          margin-bottom: 0px;
        }

        .js-color-swatch-wrapper {
          .color-wrapper {
            li {
              margin-top: 9px;
            }
          }
        }
      }
    }

    .row[data-attr='size'] {
      margin-top: 18px;

      .col-12 {
        .attribute {
          margin-bottom: 0;
        }
      }
    }

    .row {
      .attribute.quantity {
        margin-top: 27px;
        margin-bottom: 9px;

        .content {
          display: inline-flex;
        }
      }
    }

    .row[data-attr='color'] {
      .attribute.js-saks-newdesign {
        margin-bottom: 0;

        .non-input-label {
          margin-bottom: 0;
        }

        .color-wrapper li {
          margin-top: 17px;
          margin-bottom: 0px;
        }

        .js-color-swatch-wrapper {
          .color-wrapper {
            li {
              margin-top: 9px;
            }
          }
        }
      }
    }

    .row[data-attr='size'] {
      margin-top: 18px;

      .col-12 {
        .attribute {
          margin-bottom: 0;
        }
      }
    }

    .row {
      .attribute.quantity.js-product-availability-qty {
        margin-top: 27px;
        margin-bottom: 9px;
      }
    }

    @media #{$belowtab} {
      div[data-attr='color'] {
        .col-12 {
          padding-right: 0;
        }
      }
    }

    > .row {
      > [class*='col-'] {
        .tfc-fitrec-product {
          margin: 0;
        }
      }

      .attribute {
        .swatch-circle.swatch-box {
          background-size: 44px;
        }

        .non-input-label {
          margin-bottom: 17px;
          font-size: $base-fontSize;
          letter-spacing: 1.25px;
          line-height: 18px;
          color: $avenue-primary-base-2;
          text-transform: uppercase;

          .attr-name {
            text-transform: uppercase;
          }

          .text1,
          .text2 {
            font-family: $base-fontFamily;
            text-transform: uppercase;
            font-size: $base-fontSize;
            letter-spacing: 1.25px;
            line-height: 18px;
            color: $avenue-primary-base-2;
          }

          .text2 {
            font-family: $aven-trade-gothic-next-bold;
            text-transform: capitalize;
            letter-spacing: 0.3px;
            margin-left: 10px;
          }
        }

        ul {
          grid-template-columns: repeat(4, auto);

          @include media-breakpoint-down(md) {
            grid-template-columns: repeat(3, auto);
          }

          li {
            a {
              font-family: $aven-trade-gothic-next-bold;
              letter-spacing: 0.25px;
              line-height: 18px;
              color: $avenue-primary-base-2;
            }

            &[selected] {
              a {
                box-shadow: 0 0 0 2px $avenue-primary-base-2;
              }
            }
          }

          &.color-wrapper {
            grid-template-columns: repeat(8, 45px);

            @media #{$ipadproToDesktop} {
              grid-template-columns: repeat(9, 44.5px);
            }

            @include media-breakpoint-down(md) {
              grid-template-columns: repeat(7, 45px);
            }

            @media #{$belowtab} {
              grid-template-columns: none;
              display: flex;

              li {
                max-width: 36px;
              }

              .slick-track {
                margin-left: 0;
              }
            }
          }
        }

        .size_guide {
          button.btn {
            line-height: 18px;
            letter-spacing: 0.25px;
            color: $avenue-primary-base-2;
          }
        }

        .color-attribute.selected {
          border: none;

          .swatch-circle.swatch-box {
            border: 1px solid $avenue-primary-base-2;
          }
        }

        .custom-select.current_item {
          .selected-option {
            border-bottom: 1px solid $avenue-secondary-variant-6;
          }
        }

        .custom-select.custom-color-dropdown {
          &.current_item {
            ul.selection-list.ps--active-y {
              padding: 0;
              border-top: 1px solid $avenue-secondary-variant-6;
              margin-top: 9px;

              .ps__thumb-y {
                right: 0;
                width: 3px;
                background-color: $avenue-secondary-variant-6;
              }
            }
          }

          .selected-option {
            &.selected {
              color: $avenue-primary-base-2;
              font-family: $base-fontFamily;
              font-size: $base-fontSize;
              letter-spacing: 0.25px;
              line-height: 20px;
              padding: 12px 13px 13px 15px;
              text-transform: capitalize;
              margin-bottom: 0;
              border-color: $avenue-secondary-variant-6;
              border-radius: 2px;

              span.swatch-color-holder {
                display: none;
              }
            }
          }

          ul.selection-list {
            border-radius: 2px;

            li {
              height: auto;
              color: $avenue-primary-base-2;
              font-family: $base-fontFamily;
              font-size: $base-fontSize;
              letter-spacing: 0.25px;
              line-height: 20px;
              padding-left: 10px;

              &:hover {
                background-color: $avenue-contextual-variant-11;
              }

              span {
                width: 30px;
                height: 30px;
                background: top;
              }

              div.item {
                border-bottom: none;
                line-height: 30px;
                margin-left: 0;
                text-transform: capitalize;
              }

              &.option-disabled {
                span {
                  &::after {
                    width: 38px;
                  }
                }
              }

              &.selected {
                &::after {
                  content: '';
                  background: url(../../images/selected_dark.svg);
                  background-position: 0;
                  background-size: 100%;
                  height: 25px;
                  width: 25px;
                  position: relative;
                  top: 7px;
                  right: 17px;
                  transform: scale(0.7);
                }
              }
            }
          }
        }
      }
    }

    .prices-add-to-cart-actions {
      @include media-breakpoint-down(xs) {
        position: static;
        box-shadow: none;

        .col-sm-12 {
          padding: 0;
        }

        .cart-and-ipay {
          padding: 0 0 27px;

          .btn,
          .btn-primary,
          .btn-secondary,
          btn-small,
          .btn-tertiary {
            width: 100%;
            margin: 0;

            &.wishlist-pdp-button {
              margin-top: 9px;
            }

            &.add-to-cart {
              margin-top: 27px;
            }
          }
        }
      }
    }

    .pdp-label-wrapper {
      .js-color-swatch-wrapper {
        .custom-select {
          &.custom-color-dropdown {
            margin-top: 18px;
            margin-bottom: 9px;

            ul.selection-list {
              li:first-child {
                &::before {
                  content: '';
                  position: absolute;
                  top: 11px;
                  left: 12px;
                  transform: scale(0.55);
                  background-image: url(../../images/avenue-sprite-vertical.svg);
                  @extend .svg-13-avenue-large-close;
                  @extend .svg-13-avenue-large-close-dims;

                  @include media-breakpoint-up(sm) {
                    display: none;
                  }
                }
              }
            }
            &.current_item {
              ul.selection-list {
                li:hover {
                  div.item {
                    .inner-item {
                      display: none;
                    }
                  }
                }
                @include media-breakpoint-up(sm) {
                  margin-top: 9px;
                  li {
                    div.item {
                      padding: 7px 0;
                    }
                  }
                  &.ps--active-y {
                    padding-top: 5px;
                    padding-left: 5px;

                    .ps__rail-y {
                      .ps__thumb-y {
                        margin-top: 8px;
                        margin-bottom: 8px;
                      }
                    }
                  }
                }
              }
            }
          }
          .selected-option {
            &::before {
              margin-top: -4px;
            }

            &.selected {
              line-height: 18px !important;
            }
          }
          &.current_item {
            .selected-option {
              &::before {
                margin-top: -7px;
              }
            }
          }
        }
      }
      div.custom-select .selected-option {
        cursor: pointer;
        &:hover {
          border-color: $avenue-secondary-variant-1 !important;
        }
      }
    }

    .pdp-label-wrapper {
      @include media-breakpoint-down(xs) {
        display: flex;
        align-items: center;

        .js-color-swatch-wrapper {
          padding: 0 15px 0 12px;
          flex: 1 0 auto;

          .custom-select {
            &.custom-color-dropdown {
              ul.selection-list {
                position: fixed;
                z-index: 999;
                height: 100% !important;
                max-height: 100% !important;
                padding: 0;

                li:first-child {
                  display: block;
                  border-bottom: 1px solid $avenue-secondary-variant-7;
                  padding: 9px 0;
                  margin-bottom: 5px;
                  pointer-events: none;

                  &:hover {
                    background-color: $white;
                  }

                  .item {
                    text-transform: unset;
                    font-family: $aven-trade-gothic-next-bold;
                    font-size: $base-fontSize + 2px;
                  }
                }

                li {
                  padding: 9px 18px;

                  div.item {
                    padding: 0;
                  }

                  &.selected::after {
                    right: 0;
                    top: 2px;
                  }
                }
              }

              &.current_item {
                &::after {
                  content: '';
                  position: fixed;
                  top: 0;
                  left: 0;
                  height: 100vh;
                  width: 100%;
                  background-color: $black;
                  opacity: 0.5;
                  z-index: 998;
                }
              }
            }
          }
        }
      }
    }
  }

  .quantity-field {
    .quantity-val {
      font-family: $aven-trade-gothic-next-bold;
      letter-spacing: 0;
      line-height: 18px;
    }

    button {
      .minus,
      .plus {
        transform: scale(0.417);
      }

      &[disabled] {
        border-color: $avenue-secondary-variant-7;
      }

      &.minus-btn {
        line-height: 0;
      }
    }
  }

  div.collapsible-xl {
    button.title {
      padding: 18px 0 19px;
      font-size: $base-fontSize;
      letter-spacing: 1.25px;
      line-height: 18px;
      color: $avenue-primary-base-2;
      text-transform: uppercase;
    }

    &.active {
      .content {
        font-size: $base-fontSize;
        letter-spacing: 0.25px;
        line-height: 20px;
        color: $avenue-primary-base-2;
      }

      .minus {
        transform: none;
        width: 17px;
        height: 2px;
      }

      #collapsible-shipping-details {
        .additional-info {
          margin-bottom: 18px;
        }
      }
    }

    & ul {
      padding-top: 9px;
    }

    & b {
      font-family: $aven-trade-gothic-next-bold;
      font-weight: 700;
    }

    .product-detail-id {
      margin: 18px 0 27px;
    }

    .plus {
      transform: none;
      width: 17px;
      height: 17px;
    }

    .shipping-info {
      margin-bottom: 18px;
    }

    .shipping-info .details-link,
    .additional-info a {
      font-family: $base-fontFamily;
      color: $black;
    }

    .additional-info-heading {
      font-family: $aven-trade-gothic-next-bold;
      margin-top: 0;
    }

    div[name='sr_productDetailDiv'] {
      margin-bottom: 27px;
    }
  }

  div.collapsible-xl:last-child {
    border-bottom: 1px solid $avenue-secondary-variant-7;
  }

  .mobile-product-brand-name {
    margin-bottom: 18px;
  }

  .wishlist-pdp-button {
    position: relative;
    margin-top: 9px;

    .pdp-wishlist-icon {
      right: 5px;
      transform: scale(0.715);
      margin-top: 9px;
      position: absolute;
    }

    &.btn-secondary {
      &:hover,
      &:active,
      &.pdpdeselect-wishlist {
        color: $black;
        background-color: $white;
        border: 1px solid $black;

        .pdp-wishlist-icon {
          @extend .svg-25-avenue-wishlist-heart-hover;
          @extend .svg-25-avenue-wishlist-heart-hover-dims;
        }
      }

      &:focus {
        box-shadow: none !important;
      }

      &.pdpdeselect-wishlist {
        &.pdp-wishlist-clicked {
          .pdp-wishlist-icon {
            @extend .svg-34-avenue-Thick_Success;
            @extend .svg-34-avenue-Thick_Success-dims;
            margin-top: 7px;
          }
        }
      }
    }
  }

  .saks-first-card {
    padding: 9px 10px 11px 15px;
    background-color: $avenue-secondary-variant-8;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .saks-text {
      text-align: left;
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 18px;

      .saks-points {
        font-family: $aven-trade-gothic-next-bold;
      }
    }

    .tooltip-info {
      transform: scale(0.75);
      background-color: $avenue-secondary-variant-8;
    }

    .tooltip-content {
      text-align: center;

      .saks-first-saks-image {
        max-width: 61px;
        margin: 0 auto 8px;
      }

      p {
        margin-bottom: 10px;

        .earn-points {
          font-family: $aven-trade-gothic-next-condensed-bold;
          font-size: 12px;
          letter-spacing: 1px;
          line-height: 18px;
          display: inline-block;
          text-transform: uppercase;
        }
      }

      .progress-bar-wrapper {
        padding-top: 18px;

        .progress {
          background-color: $avenue-primary-base-1;
          height: 5px;
          border: 1px solid $avenue-secondary-variant-1;
          border-radius: 0;

          .progress-bar {
            background-color: $avenue-secondary-variant-1;
          }
        }
      }

      .saks-progress-label {
        display: flex;
        justify-content: space-between;

        .progress-bar-points {
          font-family: $aven-trade-gothic-next-condensed-bold;
          font-size: 12px;
          letter-spacing: 1px;
          line-height: 21px;
        }
      }

      .link-texts {
        display: flex;
        justify-content: center;
        font-size: 12px;

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }

          &.sign-in {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .product-breadcrumb {
    .breadcrumb {
      margin: 0 0 18px;
    }
  }

  .product-tile {
    margin-bottom: 0;

    h2 a {
      font-family: $aven-trade-gothic-next-bold;
      font-weight: 700;
    }

    .formatted_sale_price {
      line-height: 18px;
      display: inline-block;
      font-family: $aven-trade-gothic-next-bold;
      font-weight: 700;
    }
  }

  //Pre order ship stylings
  .preorder-ship-date {
    .preorder-text {
      color: $avenue-primary-base-2;
      font-size: $base-fontSize - 2px;
      letter-spacing: 0.25px;
      line-height: 18px;
      margin-bottom: 18px;
      display: inline-block;
    }
  }
  .product-number-rating {
    .TTteaser__rating {
      margin-bottom: 10px;
    }

    @include media-breakpoint-down(xs) {
      justify-content: center;
      display: none;
    }
  }
  .mobile-product-brand-name {
    .product-number-rating {
      @include media-breakpoint-down(xs) {
        display: flex;
      }
    }
  }
  .form-group {
    &.show-size-dropdown-holder {
      margin-bottom: 0;
      .custom-select {
        border: 1px solid $avenue-secondary-variant-6;
      }
      .custom-select {
        option[data-selectableattribute='false'] {
          display: none !important;
        }
        option[data-selectableattribute='true'] {
          display: block;
        }
      }
    }
  }

  .promotions {
    .promotion-content {
      margin: 9px 0 5px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
      }

      .promotion-txt {
        font-family: $base-fontFamily;
      }
    }
  }

  .slick-slider {
    @include media-breakpoint-down(xs) {
      .slick-arrow {
        height: 28px !important;
      }
    }
  }

  .featured-message {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
    color: $avenue-secondary-variant-5;
    font-family: $aven-trade-gothic-next-regular;
    padding: 2px 9px;
    border: 1px solid $avenue-secondary-variant-7;
    border-radius: 2px;
    width: auto;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

//Click to order/chanel pdp styles
.product-detail {
  .click-2-order-message {
    .ctc-messages {
      flex-direction: column;
      font-size: $base-fontSize - 2px;
      line-height: 18px;
      letter-spacing: 0.25px;
      margin-bottom: 27px;
    }
    .ctc-message-1 {
      font-family: $aven-trade-gothic-next-bold;
    }
  }

  .c2o-chanel-container {
    .chanel-content-1,
    .chanel-content-2 {
      font-size: $base-fontSize;
      color: $black;
    }
    .chanel-content-1,
    .chanel-content-2 .chanels,
    .chanel-content-2 .chanel-classes,
    .chanel-content-2 ul {
      margin-bottom: 21px;
    }
    .chanel-content-1 {
      @include media-breakpoint-down(xs) {
        max-width: 95%;
      }
    }
    .chanel-content-2 .chanel-type {
      font-family: $aven-trade-gothic-next-bold;
      margin-bottom: 10px;
    }

    .chanel-content-2 .chanel-classes,
    .chanel-content-2 ul {
      li {
        list-style: inside disc;
      }
    }

    .style-code {
      font-size: $base-fontSize - 2px;
    }
  }

  &.chanel-pdp {
    .row {
      .attribute.quantity {
        margin-bottom: 0px;
      }
    }

    .product-secondary-section {
      margin-bottom: 80px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 54px;
      }

      .product-brand-name {
        margin: 0 0 9px 0;
        font-family: $Moneta-regular;
        font-size: 28px;
        letter-spacing: 1.2px;
        line-height: 32px;
      }
    }

    .pdp-right-section {
      .product-secondary-section {
        .product-name {
          font-family: $base-fontFamily;
          font-size: 14px;
          letter-spacing: 0.25px;
          line-height: 20px;
          margin-bottom: 9px;

          b {
            font-weight: normal;
          }
        }
      }
    }

    .mobile-product-brand-name {
      .product-brand-name {
        margin: 0 0 9px 0;
        font-family: $Moneta-regular;
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 30px;
      }

      .product-name {
        font-family: $base-fontFamily;
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 9px;

        b {
          font-weight: normal;
        }
      }
    }


    .wishlistTile {
      @include media-breakpoint-up(md) {
        right: 8px;
      }
    }
  }

  .chanel-rec {
    @include media-breakpoint-down(sm) {
      margin-bottom: 54px;
    }
  }
}

.container {
  &.product-detail {
    margin-top: 22px;
  }
}
//GWP styles
.product-detail {
  &.gwp-wrapper {
    .gwp-flag-name {
      font-family: $aven-trade-gothic-next-bold;
      font-size: $base-fontSize;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: $avenue-primary-base-2;

      @include media-breakpoint-down(xs) {
        padding-top: 14px;
        border-top: 1px solid $secondary-Utility-9;
      }
    }
    .cart-and-ipay {
      padding-top: 27px;
      border-top: 1px solid $secondary-Utility-9;

      @include media-breakpoint-down(xs) {
        padding-bottom: 0;

        .gwp-button {
          margin: 0;
        }
      }
    }
    .attributes {
      @include media-breakpoint-down(xs) {
        padding-top: 16px;
      }
    }

    .product-secondary-section {
      margin-bottom: 80px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 54px;
      }
    }

    .product-detail-note {
      margin-bottom: 27px;
    }
  }
}
.head-txt-over-line {
  position: relative;
  .head-within {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -20px;
    .head-within-txt {
      @include media-breakpoint-down(xs) {
        font-size: $base-fontSize + 12px;
        line-height: 30px;
        letter-spacing: 1px;
        padding: 0 10px;
      }
      width: auto;
      text-align: center;
      background: $avenue-primary-base-1;
      font-family: 'Moneta-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: $base-fontSize + 14px;
      line-height: 32px;
      letter-spacing: 1.2px;
      padding: 0 18px;
    }
  }
}

//True fit, general spacing for non empty attribute fields and waitlist
.product-detail .attributes {
  > .row > [class*='col-'] > {
    *:not(:empty) {
      margin-bottom: 0;
    }
    .tfc-fitrec-product {
      margin-bottom: 0;
    }
  }
  .waitlist-from {
    @include media-breakpoint-down(xs) {
      .btn-primary {
        width: 100%;
      }
      margin-bottom: 0;
    }
    .soldout-msg {
      letter-spacing: 0.25px;
      text-align: center;
      color: $avenue-primary-base-2;
      padding: 0 0 18px;
      border: 0;
      margin-top: 0;
    }
    .form-group {
      margin-bottom: 18px;
      .form-control-label {
        top: 13px;
        left: 5px;
        color: $avenue-primary-base-2;
        padding: 0 5px;
        &.input-focus {
          top: -3px;
          left: 8px;
          color: $avenue-secondary-variant-3;
          padding: 0 5px;
        }
        &.is-invalid {
          color: $avenue-secondary-variant-3;
        }
      }
    }
    .js-mobile-opt-msg {
      font-size: $base-fontSize - 4px;
      line-height: 18px;
      color: $avenue-primary-base-2;
      margin-bottom: 23px;
      a,
      span {
        font-family: $base-fontFamily;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .waitlist-button {
      @include media-breakpoint-down(xs) {
        position: static;
        box-shadow: none;
        padding: 0;
        left: unset;
        bottom: unset;
        z-index: auto;
        background: none;
      }
    }
  }
  .wait-list-success {
    .alert-success {
      border: 1px solid $alert-success-border;
    }
    position: relative;
    margin-top: 18px;
    .success-msg {
      letter-spacing: 0.25px;
      line-height: 18px;
      background-color: unset;
      padding: 0 3%;
      margin: 0;
      font-size: $base-fontSize - 2px;
      color: $avenue-primary-base-2;
      .check-img {
        transform: scale(1);
        position: absolute;
        left: 10px;
      }
    }
  }
  .final-sale-message {
    color: $avenue-utility-variant-1;
    margin-bottom: 18px;
    display: inline-block;
  }
}
.pdp-carousel {
  .primary-images {
    @include media-breakpoint-down(xs) {
      & + ul.touchscreen-slider-dots {
        li {
          &:only-child {
            display: none;
          }
        }
      }
    }
  }
}
.product-detail .prices {
  .custom-tooltip {
    @include media-breakpoint-down(xs) {
      margin-top: -2px;
      .tooltip-info {
        transform: scale(1.1);
      }
    }
    div[role='status'] {
      bottom: auto !important;
      @include media-breakpoint-down(xs) {
        top: 43px;
      }
      top: 33px !important;
    }
    div[data-popper-arrow] {
      top: -5px !important;
      &::after {
        top: 1px !important;
      }
    }
  }
}

.product-detail {
  .recommendations {
    .wrapper-content {
      @include media-breakpoint-up(md) {
        padding: 0 15px;
      }
    }

    .promotions {
      display: none;
    }
  }
  .col-12 {
    &.pdp-reviews {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .primary-images-set {
    .primary-image {
      &:not(.active) {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
      }
    }
    &.slick-initialized {
      .primary-image {
        &:not(.active) {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .sr_touch & {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      .primary-image {
        padding-top: 0;
        margin-bottom: 0;
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 100%;
        opacity: 1;
        visibility: visible;
      }

      + ul.touchscreen-slider-dots {
        display: block;
        li:only-child {
          display: none;
        }
      }
    }
  }
}

.product-detail .attributes {
  .size-attribute {
    pointer-events: none;
  }
}

.product-detail .attributes {
  .add-to-cart {
    margin-top: 27px;
  }

  .size-attribute {
    pointer-events: none;
  }
  li[data-selectableattribute='false'] {
    display: none !important;
  }
  li[data-selectableattribute='true'] {
    display: block;
  }
}

.product-quickview {
  &.product-detail {
    .attributes {
      .size-attribute {
        pointer-events: all;
      }
    }
  }
}

.complete-the-look {
  .product-detail {
    .attributes {
      .size-attribute {
        pointer-events: all;
      }
    }
  }
}

.product-detail {
  &.product-set-detail {
    .row {
      .attribute.quantity.js-product-availability-qty {
        margin-bottom: 27px;
      }
    }
  }
}
.view-details-popup-main{
  .dsTable{
    @include media-breakpoint-down(xs){
      width: auto !important;
    }
  }
}
