.container {
  &.product-detail {
    &.giftcard-pdp:not(.chanel-pdp) {
      margin-top: 65px;

      @include media-breakpoint-down(md) {
        margin-top: 22px;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 0;
      }
    }
  }
}
.product-detail {
  &.giftcard-pdp {
    .product-name {
      font-size: $base-fontSize;
    }
    .attributes {
      & > {
        .row {
          .attribute {
            .non-input-label {
              font-size: $base-fontSize;
              line-height: 18px;
              letter-spacing: 1.25px;
              color: $avenue-primary-base-2;
              .text2 {
                text-transform: capitalize;
              }
              .attr-name {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
