@import '../config/variables';
@import '~base/productCard';

.price {
  font-size: inherit;

  .strike-through {
    display: inline-block;
    margin-right: 3px;
  }
}

.price .strike-through,
.pricing {
  font-size: $base-fontSize - 2px;
  color: $primary-Base-2;
  font-family: $base-fontFamily;
  display: inline-block;

  .bold {
    font-family: $bold-fontFamily;
  }

  &.bold {
    font-family: $bold-fontFamily;
  }
}
