.refinement-bar {
  .refinement-bar-mob {
    @include media-breakpoint-down(md) {
      overflow: unset;
      &.hide-refine {
        display: none;
      }
    }

    @media screen and (max-width: 375px) {
      .refinement-wrapper {
        .refinements {
          .pc-checkbox-toolip-container {
            .my-preference-plp-li-span-mobile {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
.refinement-bar-mob {
  .br-thematic-header {
    margin: 0 0 12px;

    @include media-breakpoint-down(md) {
      padding: 16px 16px 0 16px;
    }
  }

  .refinements-br {
    font-size: 12px;

    ul {
      padding-left: 20px;

      @include media-breakpoint-down(md) {
        padding-left: 36px;
      }

      .refine-head {
        font-family: $aven-trade-gothic-next-bold;
        margin-bottom: 12px;
        display: inline-block;
      }

      li {
        padding-left: 20px;

        a {
          margin-bottom: 12px;
          display: inline-block;
        }
      }
    }
  }
}

.search-results {
  .refinement-wrapper {
    .refinements {

      @include media-breakpoint-down(md) {
        height: 100% !important;
        overflow: auto;
      }

      .refinement {
        font-family: $aven-trade-gothic-next-regular;

        @include media-breakpoint-down(md) {
          .card-body {
            > .values {
            height: calc(100% - 66px);
            }
          }
          @include media-breakpoint-down(xs) {
            width: 28.6%;
          }
        }

        &.refinement-color {
          margin: 0;

          .filter-hit-count {
            display: none;

            @include media-breakpoint-down(md) {
              display: inline-block;
            }
          }

          @include media-breakpoint-up(lg) {
            .card-body {
              .values {
                padding-left: 1px;
              }
            }

            .swatch-mark {
              &.color-value {
                &.selected {
                  border: 2px solid $white;
                  outline: 1px solid $black;
                  height: 34px;
                  width: 36px;
                  position: relative;
                  bottom: 1px;

                  &::after {
                    content: none;
                  }

                  &:hover {
                    border: 2px solid $white;
                  }
                }

                &:hover {
                  border: 1px solid $black;
                }
              }

              &:hover {
                border: 1px solid $black;
              }
            }
          }
        }

        .card-header {
          @include media-breakpoint-down(md) {
            padding: 3px 2px;
          }

          button {
            &.clicked {
              &::before {
                background: $primary-Base-2 !important;
              }
            }
          }

          .btn {
            @include media-breakpoint-down(xs) {
              padding: 14px 0 14px 16px;
            }

            @include media-breakpoint-down(md) {
              color: $avenue-primary-base-2;
              padding: 16px 14px 17px;
              max-width: 100%;

              &.clicked {
                &::before {
                  background: $avenue-primary-base-2 !important;
                  left: 5px;
                }
              }
            }
          }
        }

        ul {
          li {
            &.left-arrow-li {
              padding: 0;
              position: absolute;

              a.left-arrow {
                margin: 0;
                padding: 0;
                width: auto;

                .refinement-category {
                  @extend .svg-svg-14-chevron;
                  color: transparent;
                  width: 24px;
                  height: 15px;
                  display: inline-block;
                  transform: rotate(90deg) scale(0.5);
                }

                @include media-breakpoint-up(lg) {
                  position: relative;
                  right: 5px;
                  top: 1px;
                }

                @include media-breakpoint-down(sm) {
                  top: 18px;
                  left: 9px;
                  border: 0;
                }
              }
            }
            @include media-breakpoint-up(lg) {
              &.category-prev-step {
                padding: 0 0 0 20px;

                ul {
                  padding: 0 0 0 10px;
                }
              }
            }
            @include media-breakpoint-down(sm) {
              &.category-prev-step {
                a,
                .catgories-values a {
                  padding: 17px 15px 17px 38px;
                }
              }
            }
          }


          > li {
            color: $avenue-primary-base-2;

            a {
              .fa {
                &.fa-check-square {
                  border: 1px solid $so-gray-utility;

                  &::after {
                    background-image: url(../images/selected_dark.svg);
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 95%;
                  }
                }
              }
            }

            .btn {
              @include media-breakpoint-down(xs) {
                padding: 14px 0 14px 16px;
              }
            }

            a,
            button {
              color: $avenue-primary-base-2;
              display: flex;
              align-items: center;

              &:not(.disabled):hover {
                .fa {
                  border-color: $avenue-secondary-variant-1;
                  + span {
                    text-decoration: none;
                  }
                }
                span {
                  &.filter-hit-count {
                    text-decoration: none;
                    cursor: pointer;

                    span {
                      text-decoration: none;
                    }
                  }
                }
              }

              .fa {
                &.fa-check-square,
                &.fa-check-circle {
                  border-color: $avenue-secondary-variant-6;

                  @include media-breakpoint-down(md) {
                    border: none;

                    &::before {
                      right: 0;
                    }
                  }
                }

                + span {
                  width: auto;
                  border-bottom: solid 1px transparent;
                }
              }

              a {
                .filter-hit-count {
                  vertical-align: middle;
                }
              }
            }
          }
        }

        &.refinement-color {
          margin: 0;

          @include media-breakpoint-down(md) {
            ul {
              > li {
                border-bottom: 0;
              }
            }
          }
        }

        .card-body {
          padding: 4px 0;
          > .values{
            @include media-breakpoint-down(md) {
              height: calc(100% - 66px);
            }
          }
          @include media-breakpoint-down(md) {
            padding: 0;

            @include media-breakpoint-down(xs) {
              width: 71.4%;
              left: 28.6%;
            }
          }
        }

        &.refinement-category {
          ul {
            > li {
              padding: 0;

              &.selected-category-search {
                ul {
                  li {
                    margin-left: 20px;
                  }
                }
              }

              a {
                @include media-breakpoint-down(md) {
                  padding: 18px 15px;
                  border-bottom: none;
                }

                &:hover {
                  text-decoration: underline;
                }

                span {
                  &.selected {
                    font-family: $aven-trade-gothic-next-bold;

                    @include media-breakpoint-down(md) {
                      &::after {
                        opacity: 0.4;
                        transform: translate(0, -50%) scale(0.54) rotate(10deg);
                      }
                    }
                  }
                }
              }

              a,
              button {
                color: $avenue-primary-base-2;
              }

              > ul {
                li {
                  margin-left: 20px;

                  a,
                  button {
                    font-family: $aven-trade-gothic-next-regular;

                    @include media-breakpoint-down(md) {
                      padding: 18px 15px;
                      border: none;
                    }
                  }

                  > ul {
                    li {
                      margin-left: 20px;

                      a,
                      button {
                        font-family: $aven-trade-gothic-next-regular;

                        @include media-breakpoint-down(md) {
                          padding: 18px 30px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.collapsible-xl {
          .title {
            letter-spacing: 0.25px;

            &::before,
            &::after {
              display: none;
            }

            background-image: url(../../images/saks-plus-thin.svg);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 14px 14px;

            @include media-breakpoint-down(md) {
              background: none;
            }
          }

          &.active {
            .title {
              background-image: url(../../images/saks-minus-thin.svg);

              @include media-breakpoint-down(md) {
                background: none;
              }
            }

            .card-header {
              @include media-breakpoint-down(md) {
                border: none;
                padding: 3px 2px;
              }
            }
          }
        }

        h2 {
          color: $avenue-primary-base-2;
          padding: 18px 0;
        }
      }

      .card-header {
        h2 {
          font-family: $aven-trade-gothic-next-regular;
        }
      }
      .refinement:not(.refinement-color):not(.refinement-category) {
        ul {
          > li {
            @include media-breakpoint-down(md) {
              padding: 17px 15px;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
