@import '~core/product/search_refinements';
@import '../components/sprite';
@import '../components/avenue-sprite';

.refinement-bar {
  @include media-breakpoint-down(md) {
    position: fixed;
    transition: none;
    top: 0 !important;
  }

  .search-result-content,
  .search-result-info,
  .search-word-recom {
    &.text-center {
      text-align: left !important;
    }
  }
}

.search-results {
  margin-top: 20px;

  @include media-breakpoint-down(md) {
    padding: 0 20px;
  }

  @media #{$belowtab} {
    padding: 0;
  }

  &.container {
    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }

    @include media-breakpoint-down(md) {
      > .row {
        margin-left: 0;
        margin-right: 0;

        .tab-content.col-12 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  &.br-container {
    .filter-results-container {
      padding-right: 0;
    }
  }
  .search-results-count {
    @include media-breakpoint-down(md) {
      margin-top: 1px;
    }
  }

  .filter-results-container {
    .filter-results {
      position: relative;
      top: 1px;
    }
  }

  .tile-descriptions {
    @include media-breakpoint-down(md) {
      padding: 0 20px;
    }
  }

  .filter-results,
  .sort-results {
    color: $avenue-primary-base-2;
  }

  .filter-count {
    vertical-align: text-top;
  }

  .sort-results-container {
    select {
      color: $avenue-primary-base-2;

      @include media-breakpoint-down(md) {
        &.select-sort-order {
          height: 18px;
        }
      }
    }
  }

  .search-result-wrapper {
    @include media-breakpoint-down(lg) {
      margin-top: 26px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
      margin-top: 18px;
      border-top: none;
    }

    @media #{$belowtab} {
      margin: 18px 0 0;
    }
  }

  .category-refinment-mobile {
    @include media-breakpoint-down(md) {
      .category-refinement-bar {
        max-width: 100%;
        margin: 0 auto 17px;
      }
    }

    @media #{$belowtab} {
      .category-refinement-bar {
        margin-left: 20px;
      }
    }
  }

  .filter-section-tablet {
    @include media-breakpoint-down(md) {
      margin: 0 -20px;
      padding: 5px 20px 12px;
      border-bottom: 1px solid $avenue-secondary-variant-7;
    }

    @media #{$belowtab} {
      margin: 0;
    }
  }

  .refinement-bar {
    flex: 0 0 21%;
    max-width: 21%;
    max-height: 100vh;

    @include media-breakpoint-down(lg) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 0 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;

      .refinement-bar-mob {
        .refinement-category {
          display: none;
        }
      }
    }
  }

  .product-tile-section {
    flex: 0 0 78%;
    max-width: 78%;

    @include media-breakpoint-down(lg) {
      flex: 0 0 75%;
      max-width: 75%;
    }

    @include media-breakpoint-down(md) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-xl-3 {
      padding: 0 8px;

      @include media-breakpoint-down(lg) {
        padding: 0 12px;
      }

      @include media-breakpoint-down(md) {
        padding: 0 9px;
      }

      @include media-breakpoint-down(xs) {
        padding: 0 10px;
      }
    }

    .one-cross-four {
      @include media-breakpoint-up(lg) {
        padding: 0 8px;
      }
    }
  }

  .product-search-results {
    max-width: 100%;

    @include media-breakpoint-down(md) {
      position: sticky;
      top: -90px;
      z-index: 1;
      background: $avenue-primary-base-1;
      // https://easings.net/#easeInOutQuad
      transition: top 200ms cubic-bezier(0.45, 0, 0.55, 1);

      &.no-top {
        top: 0;
      }
    }
  }

  .plp-heading-sort-wrap {
    padding-top: 33px;
    border-bottom: solid 1px $avenue-secondary-variant-7;
    margin: 0;

    @include media-breakpoint-down(lg) {
      padding-top: 32px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 20px;
      border-bottom: none;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 0;
    }

    .cols {
      padding: 0;
      line-height: 42px;

      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
        line-height: normal;
      }
    }
  }

  .search-results-header {
    justify-content: left;
    font-family: $Moneta-regular;
    font-size: $base-fontSize + 14;
    letter-spacing: 1.2px;
    line-height: 32px;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      font-size: 26px;
      letter-spacing: 1px;
      justify-content: center;
      line-height: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .model-sort-wrap {
    text-align: right;

    .model-view {
      display: inline-block;
      margin-right: 24px;

      .selected {
        text-decoration: none;
        border-bottom: solid 1px $avenue-primary-base-2;

        &:hover {
          border-color: transparent;
        }
      }

      .model-view-on,
      .model-view-off {
        cursor: pointer;
      }

      .line-label {
        margin-right: 8px;

        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }

  .sort-selection-block {
    margin-bottom: 0;

    .sortby-label {
      position: relative;
      right: -7px;
      white-space: nowrap;
    }

    .select-sort-order {
      border: none;
      padding: 0 16px 0 12px;
      margin: 0;
      height: auto;
      line-height: 42px;
      background-position: right;

      &:focus {
        border: none !important;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .search-result-content {
    padding-bottom: 16px;
    border-bottom: solid 1px $avenue-secondary-variant-7;

    @include media-breakpoint-down(lg) {
      padding-bottom: 9px;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .refinement-wrapper {
    .refinements {

      @include media-breakpoint-down(md) {
        height: 100% !important;
        overflow: auto;
      }

      .refinement {
        font-family: $aven-trade-gothic-next-regular;

        @include media-breakpoint-down(md) {
          .card-body {
            > .values {
            height: calc(100% - 66px);
            }
          }
          @include media-breakpoint-down(xs) {
            width: 28.6%;
          }
        }

        &.refinement-color {
          margin: 0;

          .filter-hit-count {
            display: none;

            @include media-breakpoint-down(md) {
              display: inline-block;
            }
          }

          @include media-breakpoint-up(lg) {
            .card-body {
              .values {
                padding-left: 1px;
              }
            }

            .swatch-mark {
              &.color-value {
                &.selected {
                  border: 2px solid $white;
                  outline: 1px solid $black;
                  height: 34px;
                  width: 36px;
                  position: relative;
                  bottom: 1px;

                  &::after {
                    content: none;
                  }

                  &:hover {
                    border: 2px solid $white;
                  }
                }

                &:hover {
                  border: 1px solid $black;
                }
              }

              &:hover {
                border: 1px solid $black;
              }
            }
          }
        }

        .card-header {
          @include media-breakpoint-down(md) {
            padding: 3px 2px;
          }

          button {
            &.clicked {
              &::before {
                background: $primary-Base-2 !important;
              }
            }
          }

          .btn {
            @include media-breakpoint-down(xs) {
              padding: 14px 0 14px 16px;
            }

            @include media-breakpoint-down(md) {
              color: $avenue-primary-base-2;
              padding: 16px 14px 17px;
              max-width: 100%;

              &.clicked {
                &::before {
                  background: $avenue-primary-base-2 !important;
                  left: 5px;
                }
              }
            }
          }
        }

        ul {
          li {
            &.left-arrow-li {
              padding: 0;
              position: absolute;

              a.left-arrow {
                margin: 0;
                padding: 0;
                width: auto;

                .refinement-category {
                  @extend .svg-svg-14-chevron;
                  color: transparent;
                  width: 24px;
                  height: 15px;
                  display: inline-block;
                  transform: rotate(90deg) scale(0.5);
                }

                @include media-breakpoint-up(lg) {
                  position: relative;
                  right: 5px;
                  top: 1px;
                }

                @include media-breakpoint-down(sm) {
                  top: 18px;
                  left: 9px;
                  border: 0;
                }
              }
            }
            @include media-breakpoint-up(lg) {
              &.category-prev-step {
                padding: 0 0 0 20px;

                ul {
                  padding: 0 0 0 10px;
                }
              }
            }
            @include media-breakpoint-down(sm) {
              &.category-prev-step {
                a,
                .catgories-values a {
                  padding: 17px 15px 17px 38px;
                }
              }
            }
          }


          > li {
            color: $avenue-primary-base-2;

            a {
              .fa {
                &.fa-check-square {
                  border: 1px solid $so-gray-utility;

                  &::after {
                    background-image: url(../images/selected_dark.svg);
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 95%;
                  }
                }
              }
            }

            .btn {
              @include media-breakpoint-down(xs) {
                padding: 14px 0 14px 16px;
              }
            }

            a,
            button {
              color: $avenue-primary-base-2;
              display: flex;
              align-items: center;

              &:not(.disabled):hover {
                .fa {
                  border-color: $avenue-secondary-variant-1;
                  + span {
                    text-decoration: none;
                  }
                }
                span {
                  &.filter-hit-count {
                    text-decoration: none;
                    cursor: pointer;

                    span {
                      text-decoration: none;
                    }
                  }
                }
              }

              .fa {
                &.fa-check-square,
                &.fa-check-circle {
                  border-color: $avenue-secondary-variant-6;

                  @include media-breakpoint-down(md) {
                    border: none;

                    &::before {
                      right: 0;
                    }
                  }
                }

                + span {
                  width: auto;
                  border-bottom: solid 1px transparent;
                }
              }

              a {
                .filter-hit-count {
                  vertical-align: middle;
                }
              }
            }
          }
        }

        &.refinement-color {
          margin: 0;

          @include media-breakpoint-down(md) {
            ul {
              > li {
                border-bottom: 0;
              }
            }
          }
        }

        .card-body {
          padding: 4px 0;
          > .values{
            @include media-breakpoint-down(md) {
              height: calc(100% - 66px);
            }
          }
          @include media-breakpoint-down(md) {
            padding: 0;

            @include media-breakpoint-down(xs) {
              width: 71.4%;
              left: 28.6%;
            }
          }
        }

        &.refinement-category {
          ul {
            > li {
              padding: 0;

              &.selected-category-search {
                ul {
                  li {
                    margin-left: 20px;
                  }
                }
              }

              a {
                @include media-breakpoint-down(md) {
                  padding: 18px 15px;
                  border-bottom: none;
                }

                &:hover {
                  text-decoration: underline;
                }

                span {
                  &.selected {
                    font-family: $aven-trade-gothic-next-bold;

                    @include media-breakpoint-down(md) {
                      &::after {
                        opacity: 0.4;
                        transform: translate(0, -50%) scale(0.54) rotate(10deg);
                      }
                    }
                  }
                }
              }

              a,
              button {
                color: $avenue-primary-base-2;
              }

              > ul {
                li {
                  margin-left: 20px;

                  a,
                  button {
                    font-family: $aven-trade-gothic-next-regular;

                    @include media-breakpoint-down(md) {
                      padding: 18px 15px;
                      border: none;
                    }
                  }

                  > ul {
                    li {
                      margin-left: 20px;

                      a,
                      button {
                        font-family: $aven-trade-gothic-next-regular;

                        @include media-breakpoint-down(md) {
                          padding: 18px 30px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.collapsible-xl {
          .title {
            letter-spacing: 0.25px;

            &::before,
            &::after {
              display: none;
            }

            background-image: url(../../images/saks-plus-thin.svg);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 14px 14px;

            @include media-breakpoint-down(md) {
              background: none;
            }
          }

          &.active {
            .title {
              background-image: url(../../images/saks-minus-thin.svg);

              @include media-breakpoint-down(md) {
                background: none;
              }
            }

            .card-header {
              @include media-breakpoint-down(md) {
                border: none;
                padding: 3px 2px;
              }
            }
          }
        }

        h2 {
          color: $avenue-primary-base-2;
          padding: 18px 0;
        }
      }

      .card-header {
        h2 {
          font-family: $aven-trade-gothic-next-regular;
        }
      }
    }
  }

  .filter-bar {
    position: relative;
    bottom: 7px;

    @include media-breakpoint-down(md) {
      bottom: 0;
    }

    ul {
      padding: 0;

      li {
        &.filter-value,
        &.clear-refinement {
          margin: 0 13px 13px 0;

          @include media-breakpoint-down(md) {
            margin-right: 13px;
          }

          button,
          a {
            color: $avenue-primary-base-2 !important;
            letter-spacing: 0.25px;

            &:not(.reset)::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .search-result-count {
    color: $avenue-primary-base-2;

    .search-count {
      letter-spacing: 0.25px;

      color: $avenue-primary-base-2;
    }

    .search-no-result {
      font-family: $base-fontFamily;

      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }
    }
  }
}

.header-bar {
  button {
    span {
      @extend .svg-13-avenue-large-close;

      transform: translate(0, -50%) scale(0.65);
      height: 28px;
      width: 28px;
      position: absolute;
      left: 0;

      &::before {
        content: "";
        position: absolute;
        width: 68px;
        height: 68px;
        transform: translate(-50%, -50%);
        top: 50%;
      }

      &::after {
        content: none;
      }
    }
  }
}

.filter-header {
  .secondary-bar {
    button {
      &.applied {
        &::after {
          @extend .svg-37-avenue-Active;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 15px;

    .secondary-bar {
      button {
        &.reset {
          color: $avenue-primary-base-2;
          text-transform: none;
          font-family: $aven-trade-gothic-next-bold;
        }
      }

      button {
        &.applied {
          color: $avenue-primary-base-2;
          text-transform: none;
          font-family: $aven-trade-gothic-next-bold;
          border-color: transparent;
        }
      }
    }
  }

  .filter-data {
    font-family: $aven-trade-gothic-next-bold;
    letter-spacing: 0.25px;
  }

  @include media-breakpoint-down(md) {
    .applied-refinement {
      .secondary-bar {
        .applied {
          padding: 0 20px 0 0;
          position: relative;
          letter-spacing: 0.25px;

          &::after {
            content: '';
            transform: scale(0.65);
            width: 22px;
            height: 28px;
            position: absolute;
            top: 8px;
          }
        }
      }
    }

    .clear-all .reset,
    .btn.applied {
      color: $avenue-primary-base-2 !important;
      text-transform: none;
      font-family: $aven-trade-gothic-next-bold;
      border-color: transparent !important;
      background: transparent !important;
      padding: 0;
      letter-spacing: 0.25px;
    }
  }
}

.refinement-bar {
  .refinement-bar-mob {
    @include media-breakpoint-down(md) {
      overflow: unset;
      &.hide-refine {
        display: none;
      }
    }

    @media screen and (max-width: 375px) {
      .refinement-wrapper {
        .refinements {
          .pc-checkbox-toolip-container {
            .my-preference-plp-li-span-mobile {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .applied-filters-bar {
    display: none;
  }

  .my-designers-bar, .my-sizes-bar {
    @include media-breakpoint-down(md) {
      .filter-header {
        .filter-data {
          position:absolute !important;
          left: 50% !important;
          transform: translate(-50%);
          line-height: 22px;
        }
      }
      .applied-filters-wrapper {
         .selected-designers, .selected-sizes {
            margin-top: 0;
            ul {
              > li {
                  max-width: 100%;
                  padding: 18px 0;
                  span {
                    &.value {
                      font-size: 12px;
                      line-height: 18px;
                    }
                  }
                  .fa-square-o {

                    &::before {
                      content: none;
                    }
                  }
                  .selected-assistive-text {
                    position: absolute;
                  }
                  .fa-check-square {

                    &::before {
                      top: 50%;
                    }
                  }
                }
              }
          }
        }
      }
    }


  .my-designers-bar, .applied-filters-bar, .my-sizes-bar {
    .header-bar {
      button {
        span {
          @extend .svg-38-avenue-Active-Left;

          &::before {
            content: none;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      display: block;
      height: 100%;
      padding-bottom: 86px;
      background: $white;
      overflow: auto;

      .filter-header {
        .filter-data {
          position: relative;
          left: 0;
        }
      }

      .header-bar {
        button {
          background: transparent;
          border: 0;

          span {
            content: '';
            transform: scale(1);
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 18px;
          }
        }
      }
    }
  }

  .applied-filters-wrapper {
    ul {
      li {
        button, a {
          border: none;
          background: transparent;
          padding: 0;
          width: 100%;
        }

        .swatch-circle {
          &.swatch-mark {
            &.color-value {
              &.selected {
                &::before {
                  content: '';
                  @extend .svg-svg-13-check-thin;
                }
              }
            }
          }
        }

        .fa-check-square,
        .fa-check-circle {
          &::before {
            @extend .svg-svg-13-check-thin;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      height: auto;
      padding: 5px 0 0;

      .selected-filter, .selected-designers, .selected-sizes {
        margin: 17px 0 0;

        .title {
          font-size: 12px;
          color: $black;
          font-family: $aven-trade-gothic-next-bold;
          border-bottom: solid 1px $avenue-secondary-variant-7;
          padding: 0 20px 7px;
          margin: 0;
        }

        ul {
          padding: 0 20px;

          li {
            padding: 25px 0 15px;
            display: flex;
            align-items: center;
            line-height: 15px;
            position: relative;

            .swatch-circle {
              width: 18px;
              height: 18px;
              display: inline-block;
              vertical-align: middle;
              margin: 0 9px 0 0;
              position: static;
              border: 1px solid $avenue-secondary-variant-7;
              border-radius: 0;
              transform: none;

              &.swatch-mark {
                &.color-value {
                  &.selected {
                    &::after {
                      content: none;
                    }

                    &::before {
                      content: '';
                      transform: translate(0, -50%) scale(0.5) rotate(10deg);
                      width: 24px;
                      height: 24px;
                      position: absolute;
                      right: 3px;
                      top: 59%;

                      @include media-breakpoint-down(xs) {
                        right: -4px;
                      }
                    }
                  }
                }
              }
            }

            .selected-assistive-text {
              width: auto;
              height: auto;
              display: inline-block;
              vertical-align: middle;
              position: relative;
            }

            span.filter-hit-count {
              margin-left: 10px;
            }

            .fa-check-square,
            .fa-check-circle {
              border: 0;
              margin: 0;

              &::after {
                content: none;
              }

              &::before {
                content: '';
                transform: translate(0, -50%) scale(0.5) rotate(10deg);
                width: 24px;
                height: 24px;
                position: absolute;
                right: 3px;
                top: 59%;

                @include media-breakpoint-down(xs) {
                  right: -4px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    div.update-all-btn {
      position: fixed;
      bottom: 0;
      border-top: solid 1px $avenue-secondary-variant-7;
      padding: 20px 28px;
      display: inline-block;
      width: 100%;
      background: $white;
    }
  }
}

.search-results {
  .refinement-wrapper {
    .refinements {
      .refinement:not(.refinement-color):not(.refinement-category) {
        ul {
          > li {
            @include media-breakpoint-down(md) {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.view-more-less {
  margin: 3px 0 16px;
  border-bottom: solid 1px $avenue-primary-base-2;
  text-decoration: none;
  border-radius: 0;
  line-height: 15px;

  &:hover {
    border-color: transparent;
  }
}

.refinement-search-bar {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 36px;
    z-index: 9;
    margin: 0 0 12px;
    padding-bottom: 6px;
    background: $avenue-primary-base-1;
  }

  @include media-breakpoint-down(md) {
    border-bottom: none;
    padding: 9px 15px;
  }

  input {
    height: 36px;
    color: $avenue-primary-base-2;
    margin: 0;
  }

  .search-icon {
    right: 8px;
    transform: translate(0, -50%) scale(0.86);
    opacity: 1;

    @include media-breakpoint-up(md) {
      top: 45%;
    }

    @include media-breakpoint-down(md) {
      right: 20px;
      top: 28px;
    }
  }
}

.price-select {
  @include media-breakpoint-down(md) {
    padding: 18px 20px 3px 15px;
  }

  .to-label {
    padding: 13px 0;
  }

  .go-price {
    border-radius: 2px;
    padding: 21px 5px 22px;
    border: 1px solid $avenue-primary-base-2;

    &::before {
      @extend .svg-08-avenue-chevron-right;

      transform: scale(1);
      line-height: 0;
      left: 30%;
      top: 33%;
    }
  }

  .form-group {
    .form-control {
      padding: 13px 12px 12px;
      min-height: 45px;
      color: $avenue-primary-base-2;
      border-radius: 2px;
    }

    .bmd-label-floating {
      padding: 14px 12px 12px;
    }
  }
}

.search-results {
  .refinement-wrapper {
    .refinements {
      .refinement:not(.refinement-color):not(.refinement-category) {
        ul {
          > li {
            @include media-breakpoint-down(md) {
              padding: 17px 15px;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.refinement-price {
  @include media-breakpoint-down(md) {
    .values {
      border: none;
    }
  }

  .no-results {
    color: $avenue-contextual-variant-3;
    letter-spacing: 0.25px;
    padding: 0 0 20px;
  }
}

.product-tile {
  .tile-body {
    .pdp-link {
      a {
        color: $avenue-primary-base-2;
      }
    }

    .product-brand,
    .prod-price {
      color: $avenue-primary-base-2;
    }

    .price {
      .value {
        color: $avenue-primary-base-2;
      }
    }
  }
}

.price-select {
  margin: 0 0 6px;

  .to-label {
    margin: 0;
  }
}

// BOPIS
.delivery-refinements {
  @include media-breakpoint-down(md) {
    padding: 18px 16px;
  }

  > div {
    padding-left: 27px;
    margin-bottom: 14px;
  }

  span {
    text-transform: none;
  }

  .underline {
    text-decoration: underline;
    white-space: nowrap;
    display: inline-block;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  .custom-radio {
    label,
    label + div {
      display: inline;
      font-size: 12px;
      letter-spacing: 0.21px;
      vertical-align: inherit;
      padding-top: 1px;

      @include media-breakpoint-down(md) {
        letter-spacing: 0.25px;
      }
    }

    div.search-results-count {
      color: $avenue-secondary-variant-4;
      font-size: 11px;
      display: inline-block;
    }

    label::before {
      position: absolute;
      top: 1px;
      left: -27px;
    }

    span {
      padding: 0;
    }
  }
}

.category-refinment-mobile {
  width: 100%;
  padding: 0;

  ul {
    li {
      a {
        margin-right: 8px;
        border: solid 1px $avenue-secondary-variant-7;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        padding: 9px 8px;
        text-align: center !important;
        line-height: 1.2;
        white-space: nowrap;

        &.disabled {
          background: $avenue-secondary-variant-7;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.search-results {
  &.no-product-search-results {
    .plp-heading-sort-wrap,
    .search-result-content {
      border: 0;
    }

    .search-result-content {
      padding-bottom: 64px;

      @include media-breakpoint-down(md) {
        padding-bottom: 20px;
      }

      @include media-breakpoint-down(xs) {
        .search-no-result {
          margin-top: 4px;
        }
      }
    }

    .search-keywords {
      font-family: $aven-trade-gothic-next-bold;
      font-size: $base-fontSize + 4px;
      color: $grey7;
    }
  }

  &.no-product-search-results {
    .slider-heading {
      font-family: $Moneta-regular;
      text-transform: unset;
      letter-spacing: 1.2px;
    }
  }
}

.filter-hit-count {
  color: $avenue-secondary-variant-4;
  display: inline-block;
  margin-left: 8px !important;
}

.refinement-price {
  .filter-hit-count {
    vertical-align: bottom;
  }
}

.refinement-bar-mob {
  .br-thematic-header {
    margin: 0 0 12px;

    @include media-breakpoint-down(md) {
      padding: 16px 16px 0 16px;
    }
  }

  .refinements-br {
    font-size: 12px;

    ul {
      padding-left: 20px;

      @include media-breakpoint-down(md) {
        padding-left: 36px;
      }

      .refine-head {
        font-family: $aven-trade-gothic-next-bold;
        margin-bottom: 12px;
        display: inline-block;
      }

      li {
        padding-left: 20px;

        a {
          margin-bottom: 12px;
          display: inline-block;
        }
      }
    }
  }
}

.pc-plp {
  display: inline !important;
  margin: unset !important;
  width: unset !important;
}

.disabled-pc-plp {
  color: $avenue-secondary-variant-5 !important;
}

.pc-checkbox-toolip-container {
  display: flex;
  margin-bottom: 16px;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
  }
}

.pc-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
  align-items: center;

  .pc-info-count {
    font-family: $aven-trade-gothic-next-bold !important;
    font-size: 12px !important;
    line-height: 18px !important;
    letter-spacing: 0.25px !important;
    width: unset !important;
  }

  .pc-info-cta {
    position: relative;

    .pc-info-cta-save {
      position: relative;
      font-family: $aven-trade-gothic-next-regular !important;
      font-size: 12px !important;
      line-height: 18px !important;
      letter-spacing: 0.25px !important;
      text-decoration: underline !important;
      width: unset !important;
      margin-bottom: 0 !important;
      cursor: pointer;

      &.disabled {
        pointer-events: none;
        color: $avenue-secondary-variant-5 !important;
      }
    }

    .pc-info-cta-saved {
      display: none;
      align-items: center;
      position: absolute;
      top: -13px;
      right: 0;

      .pc-info-cta-saved-icon {
        width: 24px;
        height: 24px;
        border: 1px solid green;
        border-radius: 100%;
        transform: scale(0.6);

        &--check {
          transform: scale(0.5);
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.my-preference-plp-li {
  margin-bottom: 20px !important;
  border-bottom: solid 1px $avenue-secondary-variant-7 !important;
  display: block !important;
}

.my-preference-plp-li-span {
  font-family: $aven-trade-gothic-next-bold;
  margin-left: -4px;
  @media screen and (max-width: 767px) {
    margin-left: 1px !important;
  }
}

.tooltip-pc-plp-subtext .tooltip-pc-plp-sign-in {
  display: inline !important;
  width: unset !important;
  margin: unset !important;
}

.tooltip-pc-plp-sign-in {
  text-decoration: underline !important;
}

.pc-tooltip {
  margin-left: 5px;
}

.pc-tooltip .content {
  text-align: center !important;
  text-transform: none !important;
}

.pc-tooltip > .tooltip-info {
  transform: scale(0.6) !important;
  display: inline-block !important;
  width: 24px !important;
  height: 24px !important;
  margin: 0 !important;
}

.mobile-pc-info-cta-saved {
  display: none;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  .pc-info-cta-saved-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid green;
    border-radius: 100%;
    transform: scale(0.6);

    &--check {
      transform: scale(0.5);
    }
  }
}

//This Block can be imporved - Temporary FIXES
//Ipad Lanscape
@media all and (max-width: 1000px) and (orientation: landscape) {
  .pc-plp {
    display: none !important;
  }

  .my-preference-plp-li-span-mobile {
    width: 100px;

    a {
      display: inline !important;
    }
  }

  .pc-plp-a-mobile-brands {
    left: 60%;
  }

  .pc-tooltip-brands-mobile {
    margin-left: 1px !important;
  }

  .pc-tooltip-sizes-mobile {
    margin-left: -30px !important;
  }

  .pc-plp-a-mobile-size {
    left: 70%;
  }
}

// Ipad portrait
@media only screen and (max-width: 769px) and (min-width: 400px) and (orientation: portrait) {
  .pc-plp {
    display: none !important;
  }

  .my-preference-plp-li-span-mobile {
    width: 220px;

    a {
      display: inline !important;
    }
  }

  .pc-tooltip-brands-mobile {
    margin-left: -100px !important;
  }

  .pc-tooltip-sizes-mobile {
    margin-left: -140px !important;
  }

  .pc-plp-a-mobile-brands {
    left: 70%;
  }

  .pc-plp-a-mobile-size {
    left: 78%;
  }
}

//Iphone portrait
@media only screen and (max-width: 425px) and (min-width: 370px) and (orientation: portrait) {
  .pc-plp {
    display: none !important;
  }

  .my-preference-plp-li-span-mobile {
    width: 220px;

    a {
      display: inline !important;
    }
  }

  .pc-tooltip-brands-mobile {
    margin-left: -60px !important;
  }

  .pc-plp-a-mobile-brands {
    left: 40%;
  }

  .pc-plp-a-mobile-size {
    margin-left: 120px !important;
    text-decoration: underline;
    left: 25%;
  }

  .pc-tooltip-sizes-mobile {
    margin-right: -70px !important;
  }
}

@media only screen and (max-width: 369px) and (orientation: portrait) {
  .pc-plp {
    display: none !important;
  }

  .my-preference-plp-li-span-mobile {
    width: 220px;

    a {
      display: inline !important;
    }
  }

  .pc-tooltip-brands-mobile {
    margin-left: -40px !important;
  }

  .pc-plp-a-mobile-brands {
    left: 30%;
  }

  .pc-plp-a-mobile-size {
    margin-left: 120px !important;
    text-decoration: underline;
    left: 15%;
  }

  .pc-tooltip-sizes-mobile {
    margin-right: -70px !important;
  }
}

@media only screen and (min-width: 770px) and (orientation: portrait) {
  .pc-plp {
    display: unset !important;
  }

  .my-preference-plp-li-span-mobile {
    display: none !important;
  }

  .pc-plp-a-mobile-brands,
  .pc-plp-a-mobile-size {
    display: none !important;
  }
}

@media only screen and (max-width: 812px) {
  .pc-plp {
    display: none !important;
  }
}

@media only screen and (min-width: 813px) {
  .pc-plp {
    display: unset !important;
  }

  .my-preference-plp-li-span-mobile {
    display: none !important;
  }

  .pc-plp-a-mobile-brands,
  .pc-plp-a-mobile-size {
    display: none !important;
  }
}

.grecaptcha-badge {
  display: none;
}

.signInModal {
  .modal-dialog {
    max-width: 337px;
    margin: 0;
    float: right;
    width: 100%;

    .modal-content {
      display: flex;
      flex-direction: column;
      height: 100vh;
      border: none;
      border-radius: 0;
      overflow: scroll;

      .modal-body {
        padding: 18px 20px;
        margin: auto 0;
        position: static;
      }
    }

    .cancel-icon {
      position: absolute;
      top: 20px;
      right: 20px;

      button {
        opacity: 1;
        transform: scale(0.75);
      }
    }

    .sign-up-flyout {
      width: 100%;
      display: inline-block;
      padding-top: 30px;

      .card {
        margin: 0;
        border: none;

        .card-header {
          padding: 0;
          border-bottom: none;

          &:first-child {
            border: none;
            padding: 0;
          }

          .card-header-custom {
            color: $secondary-Variant-1;
            font-family: $Moneta-regular;
            font-size: 28px;
            letter-spacing: 1.2px;
            line-height: 32px;
            margin-bottom: 18px;
            text-align: center;
          }

          .card-header-custom-sub {
            font-size: 14px;
            font-family: $aven-trade-gothic-next-regular;
            text-align: center;
            margin-bottom: 27px;
          }
        }

        .main-content {
          padding: 0;
          width: 100%;
          display: inline-block;

          .alert-danger {
            text-align: center;
          }

          .sign-up-btn {
            margin: 0 0 31px;
          }

          .rmber-frgt {
            margin-bottom: 27px;

            .remember-me {
              color: $avenue-primary-base-2;
              letter-spacing: 0.25px;
              line-height: 20px;
              width: calc(50% - 3px);
              display: inline-block;
              border: none;
              margin: 0;

              .custom-control-label {
                padding-top: 2px;

                &::before {
                  background: none;
                  border-radius: 0;
                  border: 1px solid $secondary-Variant-6;
                }
              }
            }

            .forgot-password {
              padding-top: 4px;
              width: calc(50% - 3px);
              display: inline-block;
              border: none;

              a.reset-password {
                font-size: $base-fontSize - 2;
                letter-spacing: 0.25px;
                line-height: 18px;
                text-transform: unset;
              }
            }
          }

          .pwd {
            margin-bottom: 15px;
          }
          .show-pwd {
            position: absolute;
            top: 15px;
            right: 31px;
            font-size: $base-fontSize - 2;
            line-height: 1.21;
            cursor: pointer;
            color: $avenue-secondary-variant-1;
            margin-right: 5px;
          }
        }
      }

      .or-section {
        width: 100%;
        display: inline-block;
        border-top: 1px solid $avenue-secondary-variant-6;
        position: relative;

        span {
          text-transform: uppercase;
          position: absolute;
          top: -11px;
          left: 50%;
          transform: translate(-50%, 0);
          background: $primary-Base-3;
          padding: 0 10px;
          font-size: $base-fontSize - 2px;
        }

        .create-btn {
          padding: 25px 0 0;
          width: 100%;
          display: inline-block;

          a {
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .search-results.br-container {
    .product-search-results {
      padding-inline: 18px;
    }
    .plp-heading-sort-wrap {
      border-bottom: 1px solid $so-Tin-variant !important;
    }
    .filter-section-tablet {
      border-bottom: none !important;
      padding-right: 0;
      margin: 0;
      .filter-results-container {
        padding-right: 0;
      }
    }
    .search-result-content-placement {
      margin-block: 10px;
      text-align: left;
    }
  }
}
