@import '../config/variables';

#dsg-editorial.dsg-editorial {
  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote {
    &::after,
    &::before {
      content: none;
    }
  }

  q {
    &::after,
    &::before {
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

body {
  margin: 0;
}

#dsg-editorial.dsg-editorial {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  picture {
    display: block;

    img {
      display: block;
    }
  }
}

.product-detail .size-modal .modal-content {
  height: 100% !important;
}

.size-modal {
  .modal-content {
    .close {
      &::after {
        @include media-breakpoint-down(md) {
          content: "";
          position: absolute;
          width: 49px;
          height: 49px;
          transform: translate(-50%, -50%);
          top: 50%;
        }

        @include media-breakpoint-down(xs) {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}




#dsg-editorial.dsg-editorial {
  max-width: 748px;
  color: #222;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  h2 {
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    line-height: 46px;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-family: $Moneta-regular;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1em;
    display: block;
    margin: 0;
    color: #222;
  }

  a.internal-anchor {
    color: #222;
    text-decoration: underline;
  }

  .size-guide__table,
  li,
  p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    line-height: 20px;
    display: block;
    margin: 0;
  }

  .size-guide__table--header,
  strong {
    font-weight: 600;
    font-family: $aven-trade-gothic-next-bold;
  }

  section {
    padding-bottom: 20px;

    &:first-of-type {
      padding-top: 20px;
    }
  }

  .section__size-guide-text {
    p {
      padding: 10px 0;
    }

    .centered-text {
      text-align: center;
    }
  }

  .size-guide {
    overflow: hidden;
    margin-bottom: 5px;
  }

  .size-guide__tabs--header {
    font-size: 12px;
    letter-spacing: 1.3px;
    line-height: 18px;
    display: block;
    margin: 0;
    color: $avenue-secondary-variant-3;
  }

  .size-guide__tabs {
    .size-guide__tabs--content {
      border-bottom: 1px solid #f4f4f4;
      border-left: 1px solid #f4f4f4;
    }

    .size-guide__tabs--header {
      display: flex;
      height: auto;
      margin-bottom: 14px;
      flex-wrap: wrap;

      a {
        text-transform: uppercase;
        letter-spacing: 1.3px;
        color: $avenue-secondary-variant-3;

        &.size-guide__tabs--selected {
          color: $avenue-primary-base-2;
        }
      }

      .size-guide__tabs--header-left {
        flex: 0 0 100%;
        display: flex;
        height: auto;
        border-bottom: 1px solid $avenue-secondary-variant-7;

        a {
          display: inline-block;
          margin: 0 15px;
          margin-right: 5px;
          padding: 0 0 10px;

          &:first-child {
            margin-left: 0;
          }

          &.size-guide__tabs--selected {
            border-bottom: 2px solid $avenue-primary-base-2;
          }
        }
      }

      .size-guide__tabs--header-right {
        flex: 0 0 100%;
        display: flex;
        height: auto;
        justify-content: flex-end;
        margin-top: 13px;

        a {
          display: inline-block;
          margin: 0 11.5px;
          text-align: right;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .size-guide__table {
    overflow: hidden;
    width: 100%;

    &.size-guide__table--in {
      display: block;
    }

    &.size-guide__table--cm,
    &.size-guide__table--sc {
      display: none;
    }

    .size-guide__table--header {
      display: flex;
      background: $avenue-secondary-variant-8;
      cursor: default;

      div {
        flex: 1;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $avenue-secondary-variant-8;
        border-left: none;
        border-bottom: none;

        &.table__row-cell-active {
          background: #e5e5e5;
        }
      }
    }

    .size-guide__table--row {
      display: flex;

      div {
        flex: 1;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        border: 1px solid $avenue-secondary-variant-8;
        border-bottom: none;
        border-left: none;

        &.table__row-cell-active {
          background: #e5e5e5;
        }

        &:hover {
          background: #ccc;
        }
      }

      &:nth-child(odd) {
        background-color: #f6f6f6;
      }

      &:hover {
        background: #e5e5e5;
      }
    }

    .size-guide__table--mobile {
      display: none;
    }
  }
}

@media only screen and (max-width: 959px) {
  #dsg-editorial.dsg-editorial {
    width: 95%;

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 5px;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 1px;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    }

    .size-guide__table {
      .size-guide__table--container {
        float: left;
        width: 80%;
        overflow-x: scroll;

        .size-guide__table--header,
        .size-guide__table--row {
          width: 700px;

          div:first-child {
            display: none;
          }
        }
      }

      .size-guide__table--mobile {
        display: block;
        float: left;
        width: 20%;
        position: relative;
        box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.12);

        .size-guide__table--header {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          background: #f5f5f5;
          cursor: default;
          -webkit-flex: 0 0 1000px;
          -ms-flex: 0 0 1000px;
          flex: 0 0 1000px;

          div {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 67px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
          }
        }

        .size-guide__table--row {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;

          div {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 67px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            cursor: default;

            &:hover {
              background: #ccc;
            }
          }

          &:nth-child(odd) {
            background-color: #f5f5f5;
          }

          &:last-child div {
            height: calc(67px + 5px);
          }
        }
      }
    }
  }
}
