@import '~base/variables';

// lingering from bootstrap npm module

$gray-200: #e9ecef !default;

// The Bay Site.

$hb-Blue-base: #08498f;
$hb-Dark-grey-base: $grey7;
$hb-White-base: $white;
$hb-Baron-variant: #404040;
$hb-Iron-variant: $grey5;
$hb-Nickel-variant: $grey4;
$hb-Titanium-variant: $grey3;
$hb-Tin-variant: #e5e5e5;
$hb-Oxygen-variant: #f5f5f5;
$hb-Red-utility: #d0021b;
$hb-Yellow-utility: #fc0;
$hb-Green-utility: #2e8540;
$hb-Light-Blue-utility: #3a87ad;
$hb-quantity-border-color: #bfbfbf;
$hb-alto: #dfdfdf;
$hb-light-grey: #f6f6f6;
$hb-light-pink: #f8efeb;
$hb-stock-msg-grey: #ca4f07;
$hb-brown-promo: #c2a075;
$hb-login-border: #979797;
$hb-half-colonial: #fdf6cd;
$hb-azalea: #f5caca;
$hb-invalid-bg: #fea0ab;
$hb-profile-border: #d8d8d8;
$hb-input-border-focus: #222;
$hb-clr-dropdown-dis-clr: #999;
$hb-border-clr: #ccc;

// The Off 5th Site.

$so5-Dark-red-base: #ac0000;
$so5-Grey-base: $grey6;
$so-Carbon-variant: $grey8;
$so-Baron-variant: $grey6;
$so-Iron-variant: #686868;
$so-Nickel-variant: #777;
$so-Titanium-variant: #aaa;
$so-Tin-variant: #ddd;
$so-Oxygen-variant: $grey2;
$so-Pink-utility: #fb3697;
$so-Red-utility: #d41026;
$so-Dark-red-utility: #ed0c0c;
$so-gray-utility: #444;
$so-email-border-color: #d1d1d1;
$so-email-error-color: #f10100;
$so-email-success-bgcolor: #f3f9f4;
$so-light-red: #b5554c;
$so-slickdots-grey: #dcdcdc;
$so-slickdots-darkgrey: $grey3;
$so-invalid-bg: #fccaca;
$so-input-border-focus: #444;
$so-tcc-text-color: #5b5b5b;

$live-chat-timing-clr: #acacac;

$primary-Base: $hb-Blue-base;
$primary-Base-2: $hb-Dark-grey-base;
$primary-Base-3: $hb-White-base;

$wait-list-success: #555;
$wait-list-success-bg-clr: #f6f6f6;

$secondary-Variant-1: $black;
$secondary-Variant-2: $so-Carbon-variant;
$secondary-Variant-3: $so-Baron-variant;
$secondary-Variant-4: $so-Iron-variant;
$secondary-Variant-5: $so-Nickel-variant;
$secondary-Variant-6: $so-Titanium-variant;
$secondary-Variant-7: $so-Tin-variant;
$secondary-Variant-8: $so-Oxygen-variant;
$secondary-Variant-9: $so-gray-utility;
$secondary-Variant-10: $so-email-border-color;
$secondary-Variant-11: $so-Red-utility;
$secondary-Variant-12: $so-email-error-color;
$secondary-Variant-13: $so-email-success-bgcolor;
$secondary-Variant-14: $hb-Dark-grey-base;
$secondary-Variant-15: $so-Dark-red-utility;
$secondary-Variant-16: $wait-list-success;
$secondary-Variant-17: $wait-list-success-bg-clr;
$secondary-Variant-18: $hb-Baron-variant;
$secondary-Variant-19: $so-light-red;
$secondary-Variant-20: $so-slickdots-darkgrey;
$secondary-Variant-21: $so-slickdots-grey;
$secondary-Variant-22: $hb-Nickel-variant;
$secondary-Variant-23: $hb-Titanium-variant;
$secondary-Variant-24: $hb-Iron-variant;
$secondary-Variant-25: $so-tcc-text-color;

$secondary-Utility-1: $hb-Red-utility;
$secondary-Utility-2: $hb-Yellow-utility;
$secondary-Utility-3: $hb-Red-utility;
$secondary-Utility-4: $hb-Green-utility;
$secondary-Utility-5: $hb-Light-Blue-utility;
$secondary-Utility-6: $so-gray-utility;
$secondary-Utility-7: $so5-Grey-base;
$secondary-Utility-8: $hb-quantity-border-color;
$secondary-Utility-9: $so-Tin-variant;
$secondary-utility-10: $so-Titanium-variant;
$secondary-utility-11: $so-Oxygen-variant;
$secondary-utility-12: $so-Iron-variant;
$secondary-utility-13: $hb-login-border;
$secondary-utility-14: $grey2;
$secondary-utility-15: $hb-half-colonial;
$secondary-utility-16: $hb-azalea;
$secondary-utility-17: $hb-Tin-variant;

$secondary-Utility-1: $so-Red-utility;

// variable declaration for the button.

$btn-pr-txt-col: $primary-Base-3;
$btn-pr-bgcol: $secondary-Variant-1;
$btn-pr-br-col: $secondary-Variant-1;

$btn-pr-bgcol-hov: $primary-Base;
$btn-pr-br-col-hov: $primary-Base;

$btn-sec-txt-col: $secondary-Variant-1;
$btn-sec-bgcol: $primary-Base-3;
$btn-sec-br-col: $secondary-Variant-1;

$btn-sec-txt-col-hov: $primary-Base-3;
$btn-sec-bgcol-hov: $primary-Base;
$btn-sec-br-col-hov: $primary-Base;

$btn-disable-txt-col: $secondary-Variant-5;
$btn-disable-bgcol: $secondary-Utility-9;
$btn-disable-br-col: $secondary-Utility-9;

// variable declaration for the button.

$wishlist-br-col: #4c4c4c;
$account-merge-br-col: #fff5cc;

// variable declaration for the link.

$link-primary-clr: $hb-Dark-grey-base;
$link-secondary-clr: $so5-Grey-base;
$editorial-link-bg-clr: $primary-Base;
$editorial-link-txt-clr: $primary-Base-3;

$container-max-widths: (
  xl: 1260px
);

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 1023.99px,
  lg: 1024px,
  xl: 1200px
);

$belowtab: 'screen and (max-width : 767.98px)';
$abovemobile: 'screen and (min-width : 767.98px)';
$tabnabove: 'screen and (min-width : 768px)';
$mobileLandscape: 'screen and (min-width: 480px) and (max-width: 812px) and (orientation: landscape)';
$belowdesktop: 'screen and (max-width : 1024px)';
$largedesktop: 'screen and (min-width : 1440px)';
$ipadproToDesktop: 'screen and (min-width: 1024px) and (max-width: 1259px)';

.container {
  max-width: map-get($container-max-widths, xl);
}

// Font  Families

$Moneta-regular: 'Moneta-Regular', 'Times New Roman', times, serif;
$Moneta-light: 'Moneta-Light', 'Times New Roman', times, serif;
$Moneta-bold: 'Moneta-Bold', 'Times New Roman', times, serif;
$Moneta-black: 'Moneta-Black', 'Times New Roman', times, serif;

$aven-trade-gothic-next-regular: 'trade-gothic-next-regular', 'Helvetica Neue', helvetica, arial, sans-serif;
$aven-trade-gothic-next-bold: 'trade-gothic-next-bold', 'Helvetica Neue', helvetica, arial, sans-serif;
$aven-trade-gothic-next-condensed-bold: 'trade-gothic-next-condensed', 'Helvetica Neue', helvetica, arial, sans-serif;

// Base font variable declaration.

$base-fontSize: 14px;
$base-fontFamily: $aven-trade-gothic-next-regular;
$bold-fontFamily: $aven-trade-gothic-next-bold;
$semibold-fontFamily: $base-fontFamily; // to be removed. there is no semi-bold

$white-transparent: rgba(255, 255, 255, 0.65) !default;

$animation-default-duration: 200ms;
$animation-fast-duration: 120ms;
$animation-ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1); // https://easings.net/#easeInOutQuad
$animation-ease-in-fast-out-slow: cubic-bezier(0.24, 0.07, 0.11, 0.71);

// ----- END of ~core/variables

//variable declaration for the button.

$primary-Base: $so5-Dark-red-base;
$primary-Base-2: $so5-Grey-base;
$primary-Base-3: $hb-White-base;

$btn-pr-bgcol-hov: $so5-Dark-red-base;
$promo-msg: $so5-Dark-red-base;

$btn-pr-bgcol-hov: $primary-Base-2;
$btn-pr-br-col-hov: $primary-Base-2;

$btn-sec-txt-col: $primary-Base-2;
$btn-sec-br-col: $primary-Base-2;

$btn-sec-bgcol-hov: $secondary-Variant-1;
$btn-sec-br-col-hov: $secondary-Variant-1;

$btn-disable-txt-col: $secondary-Variant-3;
$btn-disable-bgcol: $secondary-Utility-9;
$btn-disable-br-col: $secondary-Utility-9;

// variable declaration for the link.

$link-primary-clr: $so5-Grey-base;
$link-secondary-clr: $hb-Dark-grey-base;
$editorial-link-bg-clr: $so5-Grey-base;
$editorial-link-txt-clr: $primary-Base-3;

// ----- END of ~off5th/variables

//variable declaration for the radio button

$radio-disabled: #ccc;

//variable declaration for the button.

$contextual-orange: #ff8f00;
$contextual-red: #e13232;
$contextual-yellow-fill: #fefbef;
$contextual-yellow-stroke: #faf4da;
$contextual-green-fill: #fafff2;
$contextual-green-stroke: #e3e3e3;
$contextual-red-fill: #fff3f3;
$contextual-red-stroke: #ffe6e6;
$contextual-grey-stroke: #eaeaea;

$aven-pink-bg: #ffe0fc;
$aven-sold-out-bg: #f3f3f3;
$tile-hover-border: #d2d2d2;
$aven-shark: #2c2e2f;

$avenue-primary-base-1: $hb-White-base; //#FFFFFF
$avenue-primary-base-2: $secondary-Variant-1; //#000000

$avenue-secondary-variant-1: $avenue-primary-base-2; //#000000
$avenue-secondary-variant-2: $so-Carbon-variant; //#333333
$avenue-secondary-variant-3: $secondary-Variant-9; //#444444
$avenue-secondary-variant-4: $secondary-Variant-4; //#686868
$avenue-secondary-variant-5: $secondary-Variant-5; //#777777
$avenue-secondary-variant-6: $secondary-Variant-6; //#AAAAAA
$avenue-secondary-variant-7: $secondary-Variant-7; //#DDDDDD
$avenue-secondary-variant-8: $secondary-Variant-8; //#EEEEEE
$avenue-login-border: $hb-login-border; //#979797

$avenue-utility-variant-1: $primary-Base; //#AC0000

$avenue-contextual-variant-1: $contextual-orange; //#FF8F00
$avenue-contextual-variant-2: $hb-Green-utility; //#2E8540
$avenue-contextual-variant-3: $contextual-red; //#E13232
$avenue-contextual-variant-4: $secondary-Variant-4; //#686868

$avenue-contextual-variant-5: $contextual-yellow-fill; //#FEFBEF
$avenue-contextual-variant-6: $contextual-yellow-stroke; //#FAF4DA
$avenue-contextual-variant-7: $contextual-green-fill; //#FAFFF2
$avenue-contextual-variant-8: $contextual-green-stroke; //#E3E3E3
$avenue-contextual-variant-9: $contextual-red-fill; //#FFF3F3
$avenue-contextual-variant-10: $contextual-red-stroke; //#FFE6E6
$avenue-contextual-variant-11: $secondary-Variant-8; //#EEEEEE
$avenue-contextual-variant-12: $contextual-grey-stroke; //#EAEAEA

$avenue-contextual-variant-13: $radio-disabled;
$avenue-contextual-variant-14: $aven-pink-bg;
$avenue-contextual-variant-15: $aven-sold-out-bg;
$avenue-contextual-variant-16: $tile-hover-border;
$avenue-contextual-variant-17: $hb-input-border-focus;
$avenue-contextual-variant-18: $aven-shark;

//button styles
$error-msg: $so-Dark-red-utility;
$hb-bg-gray: $so-Tin-variant;
$hb-stock-limit-color: #ca4f07;
$hb-pink-bg: $hb-light-pink;
$hb-stock-limit-color: $hb-stock-msg-grey;
$wishlist-final-sale: #9b9b9b;
$brown-promo-text: $hb-brown-promo;
$promo-gray: $so-Iron-variant;
$promo-msg: $so5-Dark-red-base;
$qty-box-dis-borclr: $so-Tin-variant;
$qty-box-borclr: $so-Titanium-variant;
$dis-strikethrough-clr: $hb-clr-dropdown-dis-clr;

$btn-disable-txt-col: $avenue-secondary-variant-4;

$btn-sec-txt-col: $avenue-secondary-variant-1;
$btn-sec-br-col: $avenue-secondary-variant-1;
$btn-sec-bgcol-hov: $avenue-secondary-variant-3;
$btn-sec-br-col-hov: $avenue-secondary-variant-3;

// variable declaration for the alert

$alert-success-bg: #fcfff7;
$alert-success-border: #ecf2e1;
$alert-info-bg: #f3f3f3;
$alert-info-border: #eaeaea;
$alert-warning-bg: #fefbef;
$alert-warning-border: #faf4da;
$alert-danger-bg: #fff3f3;
$alert-danger-border: #ffe6e6;

$swatch-colors: (
  'beige': #f5f5dc,
  'black': $black,
  'blue': #00f,
  'brown': #a52a2a,
  'green': #0f0,
  'grey': #808080,
  'navy': #000080,
  'orange': #ffa500,
  'pink': #ffc0cb,
  'purple': #800080,
  'red': #f00,
  'white': $white,
  'yellow': #ff0,
  'tan': #d2b48c,
  'nude': #e3bc9a,
  'silver': #c0c0c0,
  'gold': #ffd700,
  'bronze': #cd7f32
);
