@import '~base/cart';

//Mobile specific to landscape
$sm-ls: 'screen and (max-width: 767.98px)';

// Initial commits for the Paypal button.
.checkout-continue {
  position: relative;
}

.cart-page-content {
  margin-top: 52px;
  padding: 0 40px 55px;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    padding: 0 20px;
    border-bottom: none;
  }

  @media #{$sm-ls} {
    padding: 0 10px;
  }

  .shopping-bag-count {
    padding-bottom: 10px;

    @include media-breakpoint-between(xs, md) {
      padding-top: 30px;
    }

    @media #{$sm-ls} {
      padding-bottom: 18px;
    }

    @include media-breakpoint-down(xs) {
      padding: 27px 0 5px;
    }

    .number-of-items {
      color: $secondary-Variant-1;
      font-family: $base-fontFamily;
      font-size: $base-fontSize + 4px;
      line-height: 1.22;
      font-family: $bold-fontFamily;

      @include media-breakpoint-down(md) {
        font-size: $base-fontSize;
      }
    }
  }

  .wishlistItemCards {
    .veiwall-wrapper {
      margin-bottom: 59px;

      @include media-breakpoint-down(md) {
        margin-bottom: 45px;
      }
    }
  }

  .cart-wrapper {
    width: 100%;
    display: inline-block;

    .product-line-item {
      border-top: 1px solid $secondary-Variant-6;
      width: calc(69% - 3px);
      display: inline-block;
      vertical-align: top;
      margin-bottom: 45px;

      &.empty {
        margin-bottom: 0;
      }

      @include media-breakpoint-down(md) {
        width: calc(62% - 3px);
        margin-bottom: 0;
      }

      @media #{$sm-ls} {
        width: 100%;
        padding: 0;
        display: block;
      }

      &.empty {
        @media #{$sm-ls} {
          padding: 0;
        }
      }

      .cart-empty {
        @media #{$sm-ls} {
          padding: 0;
        }

        .empty-msg {
          width: 100%;
          display: inline-block;
          padding: 21px 0;

          span {
            color: $secondary-Variant-1;
            font-family: $base-fontFamily;
            font-size: $base-fontSize;
            font-family: $base-fontFamily;
            line-height: 1.57;
          }
        }

        .shop-btn {
          width: 100%;
          display: inline-block;
          margin-bottom: 45px;

          .btn-info {
            max-width: 302px;

            @media #{$sm-ls} {
              max-width: 100%;
            }
          }
        }

        .sign-in-btn {
          width: 100%;
          display: inline-block;
          margin-bottom: 45px;

          .acc-chk {
            width: 100%;
            display: inline-block;
            color: $secondary-Variant-1;
            font-family: $base-fontFamily;
            font-size: $base-fontSize;
            font-family: $base-fontFamily;
            line-height: 1.57;
            margin-bottom: 15px;
          }

          .signin {
            max-width: 302px;

            @media #{$sm-ls} {
              max-width: 100%;
            }
          }
        }
      }

      .cart-page {
        width: 100%;
        display: inline-block;

        .po-error {
          color: $secondary-Variant-4;
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2px;
          letter-spacing: 0.5px;
          line-height: 1.25;
          margin-bottom: 10px;
        }

        .product-info {
          width: 100%;
          display: flex;
          padding: 20px 0 14px;
          margin: 0;
          border: none;
          border-bottom: 1px solid $secondary-Variant-6;
          border-radius: 0;

          .product-info {
            border-top: 1px solid $secondary-Variant-6;
            border-bottom: none;
            padding-bottom: 0;
            order: 4;
          }

          @media #{$sm-ls} {
            padding: 12px 0 15px;
          }

          .cannot-shipping-message {
            color: $secondary-Utility-1;
            font-family: $base-fontFamily;
            font-size: $base-fontSize - 2px;
            letter-spacing: 0.5px;
            line-height: 1.25;
            margin: 15px 0;

            @media #{$sm-ls} {
              margin-top: 0;
            }
          }

          .pwp-promo-message {
            color: $secondary-Variant-1;
            font-family: $base-fontFamily;
            font-size: $base-fontSize;
            font-family: $bold-fontFamily;
            letter-spacing: 0.5px;
            line-height: 1.25;
            margin: 15px 0;

            @media #{$sm-ls} {
              margin-top: 0;
            }
          }

          .cart-description {
            width: 100%;
            display: inline-block;

            .no-shippement {
              width: 100%;
              display: inline-block;
              color: $secondary-Variant-5;
              font-family: $base-fontFamily;
              font-size: $base-fontSize - 2px;
              letter-spacing: 0.5px;
              line-height: 1.16;
              margin-bottom: 7px;
            }

            .cart-pdt-details {
              position: relative;

              .item-image {
                margin-right: 7px;
                width: calc(15% - 3px);
                display: inline-block;
                vertical-align: top;
                height: auto;

                @include media-breakpoint-down(md) {
                  margin-right: 2%;
                  width: calc(28% - 3px);
                  display: inline-block;
                }

                .product-image {
                  max-height: 150px;
                }
              }

              .pdt-selected {
                width: calc(83% - 3px);
                display: inline-block;
                vertical-align: top;

                @include media-breakpoint-down(md) {
                  width: calc(70% - 3px);
                }

                .pdt-data {
                  padding-right: 3%;

                  @include media-breakpoint-down(md) {
                    padding-right: 0;
                  }

                  .brand-name {
                    display: inline-block;
                  }

                  .brand-name,
                  .line-item-header {
                    margin-bottom: 6px;
                  }
                }

                .item-attributes {
                  a {
                    text-decoration: none;
                    width: 100%;
                    line-height: 1;
                    display: block;
                    span.brand-name:hover {
                      text-decoration: underline;
                    }

                    .line-item-name {
                      color: $primary-Base-2;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      font-weight: normal;
                      line-height: 1.25;
                      margin: 0;
                      &:hover {
                        text-decoration: underline;
                      }
                    }

                    .remove-line-item {
                      .remove-product {
                        padding: 0;
                        background: none;
                        width: auto;
                        font-size: $base-fontSize + 10px;
                        font-family: $bold-fontFamily;
                        line-height: 1;
                        box-shadow: none;

                        @include media-breakpoint-down(sm) {
                          line-height: 0;
                          font-family: $bold-fontFamily;
                        }
                      }
                    }
                  }

                  .cart-pdt-price {
                    margin-bottom: 20px;
                  }

                  .line-item-attributes,
                  .line-item-total-price-amount,
                  .strike-through,
                  .limited-inventory {
                    color: $darker-gray;
                    font-family: $base-fontFamily;
                    font-size: $base-fontSize - 2px;
                    line-height: 1.25;
                    font-family: $base-fontFamily;
                    text-transform: capitalize;

                    .line-label {
                      display: inline-block;
                      margin-bottom: 0.5rem;
                    }

                    @include media-breakpoint-down(md) {
                      margin-bottom: 5px;
                    }
                  }
                  .limited-inventory {
                    .tooltip-content {
                      text-transform: none;
                    }
                  }

                  .cartlineitem-price {
                    .prod-price {
                      .price {
                        font-size: $base-fontSize - 2px;
                        margin-bottom: 2px;
                        display: inline-block;

                        .value {
                          color: $primary-Base-2;
                          font-family: $base-fontFamily;
                          font-size: $base-fontSize - 2px;
                          line-height: 1.66;
                          font-family: $base-fontFamily;
                          font-weight: normal;
                        }
                      }
                    }

                    .csc-price-override {
                      padding-left: 8px;
                      padding-bottom: 12px;
                      width: auto;
                      display: inline-block;

                      a {
                        font-size: $base-fontSize - 2px;
                        text-decoration: underline;
                        color: $secondary-Variant-1;
                        text-transform: capitalize;
                      }
                    }

                    .sold-out {
                      color: $error-msg;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      letter-spacing: 0.5px;
                      line-height: 1.25;
                      margin: 3px 0 20px;
                    }
                  }

                  .product-edit {
                    margin-bottom: 15px;

                    a {
                      width: auto;
                      display: inline-block;
                      margin: 0 12px 0 0;
                      text-decoration: underline;
                      color: $primary-Base-2;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      letter-spacing: 0.5px;
                      line-height: 1.25;

                      &:hover {
                        text-decoration: none;
                      }
                    }
                  }
                }

                .quantity-form {
                  margin: 0;

                  @include media-breakpoint-down(md) {
                    margin-bottom: 15px;
                  }

                  .quantity-field {
                    width: auto;
                    float: left;

                    .prev-val,
                    .quantity-val,
                    .next-val {
                      width: 36px;
                      height: 36px;
                      display: inline-block;
                    }

                    button {
                      height: 100%;
                      width: 100%;
                      padding: 5px 6px;
                      font-family: $base-fontFamily;
                      font-size: base-fontSize;
                      font-family: $bold-fontFamily;
                      line-height: 1.1;
                      text-align: center;
                      border-radius: 0;
                      border: 1px solid $qty-box-borclr;

                      &[disabled] {
                        border-color: $qty-box-dis-borclr;
                        opacity: 1;

                        &:hover {
                          border-color: $qty-box-dis-borclr;
                          opacity: 1;

                          &[data-type='plus'] {
                            padding: 5px;
                          }

                          &[data-type='minus'] {
                            border-right: 0;
                            border-color: $qty-box-dis-borclr;
                            opacity: 1;
                            padding: 5px 6px;
                          }

                          &[data-type='plus'] {
                            border-left: 0;
                          }
                        }
                      }

                      &:hover {
                        border: 1px solid $primary-Base-2;
                      }

                      &[data-type='minus'] {
                        border-right: 0;

                        &:hover {
                          border: 1px solid $primary-Base-2;
                          padding: 5px;
                          border-right: 0;
                          background: $secondary-Variant-7;
                        }

                        &:focus {
                          border-right: 0;
                        }
                      }

                      &[data-type='plus'] {
                        border-left: 0;

                        &:hover {
                          border: 1px solid $primary-Base-2;
                          padding: 5px;
                          border-left: 0;
                          background: $secondary-Variant-7;
                        }

                        &:focus {
                          border-left: 0;
                        }
                      }

                      &.minus-btn {
                        padding: 5px 6px;
                        line-height: 0.2;
                      }

                      .minus,
                      .plus {
                        transform: scale(0.5);
                        display: inline-block;
                      }
                    }

                    .input-group > .form-control:focus {
                      z-index: 3;
                    }

                    input[type='number']::-webkit-inner-spin-button,
                    input[type='number']::-webkit-outer-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }

                    .quantity-val {
                      padding: 0;
                      text-align: center;
                      font-family: $bold-fontFamily;
                      color: $secondary-Variant-1;
                      font-size: $base-fontSize;
                      font-family: $base-fontFamily;
                      border: 1px solid $qty-box-borclr;

                      &:hover {
                        &:hover {
                          border: 1px solid $primary-Base-2;
                        }
                      }

                      &.hover-border {
                        border: 1px solid $primary-Base-2;
                      }
                    }
                  }

                  .qty-error-message {
                    width: 100%;
                    float: left;
                    max-width: 153px;
                    @include media-breakpoint-down(md) {
                      max-width: 100%;
                    }
                    div {
                      padding: 0;
                      color: $error-msg;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      letter-spacing: 0.5px;
                      line-height: 1.25;
                      margin: 15px 0;

                      @include media-breakpoint-down(md) {
                        margin: 15px 0 0;
                      }
                    }
                    .valid-cart-error {
                      min-height: auto;
                    }
                  }
                }

                .total-price {
                  color: $primary-Base-2;
                  font-family: $base-fontFamily;
                  font-size: $base-fontSize - 2px;
                  line-height: 2;
                  font-family: $base-fontFamily;
                  text-align: right;
                  padding-left: 5%;

                  @include media-breakpoint-down(md) {
                    text-align: left;
                    padding: 0;
                  }

                  .final-cst {
                    width: 100%;
                    display: inline-block;
                    font-family: $bold-fontFamily;

                    .cost-calc {
                      width: auto;
                      display: inline-block;
                      font-family: $bold-fontFamily;

                      &.promo-applied {
                        font-family: $base-fontFamily;

                        .promo-msg {
                          width: auto;
                          display: block;
                          font-size: $base-fontSize - 3px;
                          line-height: 1.9;
                          padding-bottom: 5px;
                          border-bottom: 1px solid $secondary-Variant-6;

                          @media #{$sm-ls} {
                            padding-bottom: 5px;
                          }
                        }

                        .grd-tal {
                          width: 100%;
                          display: inline-block;
                          margin-top: 10px;
                          font-family: $bold-fontFamily;

                          @media #{$sm-ls} {
                            margin-top: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .pdt-selected {
                .selected-variant {
                  line-height: 1;
                  margin-bottom: 2px;
                }
              }

              .bopis-cntr {
                margin: 0 0 0 25%;
                width: calc(85% - 8px);
                float: right;

                @include media-breakpoint-down(md) {
                  width: 70%;
                }

                @media #{$sm-ls} {
                  margin-left: 0;
                  padding-top: 10px;
                  width: 100%;
                }

                .bopis-content {
                  padding-top: 12px;
                  border-top: 1px solid $secondary-Variant-6;
                  width: 100%;
                  display: inline-block;
                }

                .custom-control {
                  padding: 0;
                  margin: 0;

                  .bopis-radio {
                    &.ship {
                      width: calc(20% - 3px);
                      display: inline-block;

                      @include media-breakpoint-down(md) {
                        width: calc(25% - 3px);
                      }
                    }

                    &.store {
                      width: auto;
                      display: inline-block;

                      .custom-control-label {
                        width: 100%;
                        cursor: default;

                        .store-change-link {
                          display: inline-block;
                        }
                      }
                    }

                    .custom-control-label {
                      span,
                      .change-store {
                        color: $secondary-Variant-1;
                        font-family: $base-fontFamily;
                        font-size: $base-fontSize - 2px;
                        line-height: 1.25;
                        padding-left: 8px;

                        @media #{$sm-ls} {
                          padding-left: 4px;
                        }
                      }

                      .change-store {
                        padding-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }

          .hidden-md-down {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            width: auto;

            .remove-btn-lg {
              background: none;
              padding: 0;
              line-height: 1.2;
              box-shadow: none;
              position: static;

              span {
                font-family: $bold-fontFamily;
                line-height: 1;
                font-size: 24px;
              }
            }
          }
        }
      }
    }

    .cart-summary-section {
      width: calc(26% - 3px);
      float: right;
      vertical-align: top;
      margin-left: 5%;
      margin-bottom: 45px;
      position: sticky;
      top: 120px;

      @include media-breakpoint-down(md) {
        width: calc(36% - 3px);
        margin-left: 15px;
        margin-bottom: 18px;
      }

      @media #{$sm-ls} {
        width: 100%;
        margin: 10px 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: static;
      }

      .order-summary-details {
        border: 1px solid $secondary-Variant-6;
        padding: 20px 15px;
        width: 100%;
        display: inline-block;
        margin-bottom: 18px;

        @include media-breakpoint-down(md) {
          padding: 13px;
        }

        @media #{$sm-ls} {
          border: none;
          border-top: 1px solid $secondary-Variant-6;
          padding: 0;
          order: 2;
        }

        .summary-title-text {
          width: 100%;
          display: inline-block;
          padding-bottom: 8px;
          border-bottom: 1px solid $hb-Titanium-variant;
          color: $hb-Dark-grey-base;
          font-size: $base-fontSize;
          font-family: $semibold-fontFamily;
          line-height: 1.21;
          margin-bottom: 13px;

          @include media-breakpoint-down(md) {
            font-size: $base-fontSize - 2px;
          }

          @media #{$sm-ls} {
            padding: 18px 0 8px;
            font-size: $base-fontSize;
          }
        }

        .cart-summary-details {
          width: 100%;
          display: inline-block;

          .cart-info-sec {
            .info-name {
              width: calc(66% - 3px);
              display: inline-block;
              text-align: left;
              vertical-align: top;

              span {
                font-family: $base-fontFamily;
                font-size: $base-fontSize - 2px;
                line-height: 1.83;

                &.total-savings {
                  color: $so5-Dark-red-base;
                  font-family: $bold-fontFamily;
                }

                @include media-breakpoint-down(md) {
                  font-size: $base-fontSize - 2;
                  letter-spacing: 0;
                  line-height: 1.5;
                }
              }
            }

            .info-value {
              width: calc(34% - 3px);
              display: inline-block;
              text-align: right;
              vertical-align: top;
              overflow: hidden;
              word-break: break-word;

              span {
                font-family: $base-fontFamily;
                font-size: $base-fontSize - 2px;
                line-height: 1.83;
                font-family: $base-fontFamily;

                &.sub-total {
                  font-weight: 400;
                }

                @include media-breakpoint-down(md) {
                  letter-spacing: 0;
                  line-height: 1.5;
                }
              }
            }

            &.estm-ttl {
              border-top: 1px solid $secondary-Variant-6;
              padding-top: 10px;
              margin-top: 10px;

              .info-name,
              .info-value {
                span {
                  font-family: $semibold-fontFamily;
                  font-size: $base-fontSize;
                  line-height: 1.57;
                }
              }
            }

            &.order-discount {
              color: $secondary-Utility-1;
            }

            &.estm-saved {
              .info-name {
                color: $secondary-Variant-1;
                font-family: $base-fontFamily;
                font-size: $base-fontSize;
                font-family: $base-fontFamily;
                line-height: 1.28;
                width: 100%;
                padding-top: 15px;
                border-top: 1px solid $so-Titanium-variant;
                text-align: center;
                margin-top: 15px;

                @include media-breakpoint-down(md) {
                  span {
                    font-size: $base-fontSize;
                  }
                }

                @media #{$sm-ls} {
                  padding-top: 18px;
                  margin-bottom: 10px;
                }

                .grand-total {
                  color: $secondary-Utility-1;
                }
              }
            }
          }

          .shipping-text {
            font-size: $base-fontSize - 2px;
            line-height: 1.57;
            margin: 0 0 20px 9px;
            width: 100%;
            display: inline-block;

            a {
              text-decoration: underline;
              color: $primary-Base-2;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .cnl-cnt {
            text-align: right;
            padding: 20px 0 0;
            line-height: 1.2;
          }

          .tax_calculate {
            background-color: transparent;
            color: $secondary-Variant-1;
            padding: 0;
            border: none;
            float: right;
            width: auto;
            border-bottom: 2px solid;
            line-height: 1.2;
            border-radius: 0;
            margin-left: 15px;
            text-transform: capitalize;
            font-family: $base-fontFamily;

            &:hover {
              border-bottom: 2px transparent;
            }
          }

          .dividor {
            height: 17px;
            border-left: 1px solid black;
          }

          .tax_cancel {
            color: $secondary-Variant-1;
            border-bottom: 2px solid;
            margin-right: 15px;
            cursor: pointer;

            &:hover {
              border-bottom: 2px transparent;
            }
          }

          .postal-container {
            width: 100%;
            display: none;

            &.active {
              display: inline-block;
            }

            .postal-info {
              .postal-code-entry {
                width: 100%;
                display: inline-block;
                position: relative;
                margin-bottom: 15px;

                .shippingZipCode {
                  border-radius: 0;
                }

                .invalid-feedback-error {
                  font-size: $base-fontSize - 2px;
                  letter-spacing: 0.5px;
                  line-height: 1.83;
                  display: block;
                }
              }

              .cnl-cnt {
                width: 100%;
                display: inline-block;
                text-align: right;

                .tax_cancel,
                .tax_calculate {
                  color: $secondary-Variant-1;
                  font-family: $base-fontFamily;
                  font-size: $base-fontSize;
                  font-family: $bold-fontFamily;
                  line-height: 1;
                  margin-right: 13px;
                  border-bottom: 1px solid $secondary-Variant-11;
                  cursor: pointer;

                  &:hover {
                    text-decoration: none;
                  }
                }

                .tax_calculate {
                  margin: 0 0 0 13px;
                }
              }
            }
          }
        }
      }

      .promo-container {
        margin-bottom: 20px;

        @media #{$sm-ls} {
          order: 1;
          width: 100%;
        }

        .promo-form-group {
          margin: 0;
          border: 1px solid $secondary-Variant-6;
          position: relative;

          @include media-breakpoint-down(xs) {
            border: none;
            border-top: 1px solid $secondary-Variant-6;
            border-bottom: 1px solid $secondary-Variant-6;
          }

          .promo-click {
            background: transparent;
            border: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 15px 10px 15px 16px;

            label {
              width: auto;
              display: inline-block;
              margin-bottom: 0;
              position: relative;
              color: $secondary-Variant-1;
              font-family: $base-fontFamily;
              font-size: $base-fontSize;
              letter-spacing: 0.5px;
              line-height: 1.21;

              @include media-breakpoint-down(md) {
                font-size: $base-fontSize - 2px;
              }
            }

            .coupon-icons-container {
              height: 24px;
            }

            .acc-icon {
              display: inline-block;
              transform: scale(0.542);
              float: right;

              &.minus {
                position: absolute;
                right: 10px;
                top: 25px;
                display: none;
              }
            }

            &.open-state {
              padding-bottom: 10px;

              .plus {
                display: none;
              }

              .minus {
                display: inline-block;
              }
            }
          }

          .promo-detail-section {
            display: none;

            .coupons-and-promos {
              margin-bottom: 0;

              .coupon-price-adjustment {
                padding: 10px 0 0;
                border: none;
                border-radius: 0;
                margin: 0;

                .remove-coupon {
                  width: calc(10% - 3px);
                  padding: 0;
                  display: inline-block;

                  span {
                    font-size: 20px;
                    font-family: $bold-fontFamily;
                    line-height: 1;
                  }
                }

                .promo-segment {
                  width: calc(90% - 5px);
                  display: inline-block;
                  vertical-align: top;

                  .coupon-code {
                    color: $secondary-Variant-1;
                    font-family: $base-fontFamily;
                    font-size: $base-fontSize - 2px;
                    line-height: 1.5;

                    .coupon-applied,
                    .coupon-not-applied {
                      color: $secondary-Variant-1;
                      font-size: $base-fontSize - 2px;
                    }
                  }
                }
              }
            }

            .promo-apply {
              display: flex;
              align-items: flex-start;
              width: 100%;
              margin-top: 16px;

              .promo-input {
                flex: 1 1 auto;
                position: relative;

                .promo-code-entry {
                  width: 100%;
                  margin-bottom: 0;

                  input {
                    border-radius: initial;
                    height: 45px;
                  }

                  .coupon-error-message,
                  .coupon-missing-error {
                    color: $error-msg;
                    font-size: $base-fontSize - 2px;
                    margin: 0;
                  }

                  .invalid {
                    @extend .svg-svg-106-alert;

                    transform: scale(0.8);
                    display: inline-block;
                    width: 25px;
                    height: 20px;
                    position: absolute;
                    top: 11px;
                    right: 5px;
                  }
                }

                .non-input-label {
                  &.error {
                    color: $error-msg;
                    top: -3px;
                    left: 8px;
                    font-size: 10px;
                    background: $hb-White-base;
                    line-height: 1;
                    .attr-name {
                      color: $secondary-Utility-1;
                    }
                  }

                  &.is-invalid {
                    top: -3px;
                    left: 8px;
                    font-size: 10px;
                    background: $hb-White-base;
                    line-height: 1;
                    .attr-name {
                      color: $secondary-Utility-1;
                    }
                  }

                  /* .attr-name {
                    color: $secondary-Variant-11;
                    font-family: $base-fontFamily;
                    font-size: $base-fontSize - 2px;
                    line-height: 1.25;
                    transform: initial;
                  } */
                }
              }

              .promo-code-submit {
                flex: 0 0 auto;
                margin-left: 10px;

                .promo-code-btn {
                  padding-left: 12px;
                  padding-right: 12px;
                }
              }
            }

            &.expand {
              display: block;
              width: 100%;
              padding: 0 15px 15px;
            }
          }
        }

        .promo-code-form {
          @media #{$sm-ls} {
            display: block;
          }
        }
      }

      .order-sumary-chekbtn {
        margin-bottom: 25px;
        width: 100%;
        display: inline-block;

        @media #{$sm-ls} {
          position: fixed;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 10px;
          z-index: 101;
          background: $primary-Base-3;
        }

        .checkout-continue {
          padding: 0;

          .mb-sm-3 {
            margin-bottom: 0 !important;

            @media #{$sm-ls} {
              padding: 0;
            }
          }
        }
      }

      .cart-needhelp {
        display: none;
      }

      .checkout-options {
        position: relative;
        padding-top: 25px;
        width: 100%;
        border-top: 1px solid $secondary-Variant-6;
        display: inline-block;
        z-index: 1;

        @media #{$sm-ls} {
          order: 3;
        }

        .chkout-optn-text {
          position: absolute;
          top: -7px;
          text-transform: uppercase;
          padding: 0 4px;
          background: $primary-Base-3;
          left: 50%;
          transform: translate(-50%, 0);
          color: $secondary-Variant-1;
          font-family: $base-fontFamily;
          font-size: $base-fontSize - 2px;
          line-height: 1.25;
          width: 100%;
          max-width: 135px;
          text-align: center;

          @include media-breakpoint-down(xs) {
            top: -8px;
            padding: 0 13px;
            letter-spacing: 0.5px;
            max-width: 150px;
          }
        }

        .chkout-btn-img {
          width: calc(49.5% - 3px);
          display: inline-block;

          &.masterpass-cart-buttons-container {
            height: 44px;
            min-height: 44px;
            max-height: 44px;
            border-radius: 4px;
            background-color: $hb-White-base;
            border: 1px solid #2c2e2f;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &.chhout-btn-paypal {
            width: 100%;
          }

          .paypal-cart-buttons-container {
            width: 100%;
            display: inline-block;

            .paypal-cart-button {
              margin: 0;

              .paypal-button {
                &.paypal-button-shape-rect {
                  border-color: $secondary-Variant-6;
                  border-radius: 2px;
                }
              }
            }
          }

          &.chkout-btn-shoprunner {
            button {
              padding: 0;
            }
          }
        }
      }

      .shop-runner-section {
        width: 100%;
        display: inline-block;
      }
    }
  }
}

// styles for edit flyout//
#editProductModal,
#chooseBonusProductModal {
  &:not(.suggestions) {
    padding: 0 !important;
  }

  .modal-dialog {
    &.quick-view-dialog {
      max-width: 320px;
      margin: 0;
      float: right;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }

      .modal-content {
        border: none;
        height: 100vh;

        .modal-header {
          padding: 0;
          color: $secondary-Variant-1;
          font-family: $base-fontFamily;
          font-size: 14px;
          font-family: $base-fontFamily;
          line-height: 1.21;
          border: none;
          width: 100%;
          position: relative;
          padding: 10px 0;
          display: inline-block;
          text-align: center;

          button {
            line-height: 0;
            margin: 0;
            padding: 0;
            width: auto;
            text-align: center;
            position: absolute;
            opacity: 1;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);

            .cancel-icon {
              display: inline-block;
              transform: scale(0.625);
              padding: 0;
            }
          }

          .pdt-name-edit {
            color: $secondary-Variant-1;
            font-size: $base-fontSize;
            font-family: $semibold-fontFamily;
            line-height: 1.21;
            text-transform: uppercase;
            width: 100%;
            display: inline-block;
            text-align: center;
          }
        }

        .modal-body {
          .product-quickview {
            padding-bottom: 200px;
            overflow: auto;

            .gwp-content {
              margin-bottom: 15px;
            }

            .primary-images-container {
              &.col-md-7 {
                width: 100%;
                display: inline-block;
                flex: none;
                max-width: 100%;
                margin-bottom: 15px;

                .slick-next {
                  right: 2%;
                  left: initial;
                }
              }
            }

            .quickview-productdetails {
              width: 100%;
              display: inline-block;
              padding: 0 18px;

              .quickview-close {
                display: none;
              }

              .product-name {
                color: $secondary-Variant-1;
                font-family: $base-fontFamily;
                font-size: $base-fontSize;
                font-family: $base-fontFamily;
                letter-spacing: 0.16px;
                line-height: 1.28;
              }

              .price-segment {
                .prices {
                  .sales {
                    font-size: 0;

                    .value {
                      color: $secondary-Variant-1;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize;
                      font-family: $base-fontFamily;
                      letter-spacing: 0.16px;
                      line-height: 1.28;
                    }
                  }
                }
              }

              .rating-segment {
                display: none;
              }

              .promotions,
              .promotion-pricing {
                font-size: $base-fontSize;
                letter-spacing: 0.16px;
                line-height: 1.28;
                margin-bottom: 18px;
              }

              .detail-panel {
                .attributes {
                  margin: 0;
                  border: none;
                  padding: 0;

                  .row[data-attr='size'] {
                    .attribute {
                      margin: 0;
                    }
                  }

                  .non-input-label {
                    margin: 0;
                    &.is-invalid {
                      color: $error-msg;
                      top: -3px;
                      left: 8px;
                      font-size: 10px;
                      background: $hb-White-base;
                      line-height: 1;
                    }

                    .attr-name {
                      color: $secondary-Variant-1;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      font-family: $base-fontFamily;
                      letter-spacing: 0.3px;
                      line-height: 1.16;
                      text-transform: uppercase;
                      margin-bottom: 15px;
                      display: inline-block;
                    }
                  }

                  .size-attribute {
                    -ms-grid-columns: (auto) [3];
                    grid-template-columns: repeat(3, auto);
                    margin-bottom: 35px;

                    li {
                      margin: 0 10px 10px 0;

                      a {
                        color: $secondary-Variant-1;
                        font-family: $base-fontFamily;
                        font-size: $base-fontSize - 2px;
                        font-family: $base-fontFamily;
                        letter-spacing: 0.3px;
                        line-height: 1.16;
                      }
                    }
                  }

                  .qty-bag-section,
                  .bay-rewards {
                    display: none;
                  }

                  .view-product-information {
                    display: inline-block;
                    width: 100%;

                    .view-full-product-info {
                      color: $secondary-Variant-1;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      font-family: $base-fontFamily;
                      line-height: 1.5;
                    }
                  }
                }
              }

              .detail-panel {
                width: 100%;
                display: inline-block;
              }
            }

            .select-size-color {
              padding: 0 15px;
              color: $secondary-Utility-1;
              font-family: $base-fontFamily;
              font-size: $base-fontSize;
              letter-spacing: 0.16px;
              line-height: 1.28;
              margin-bottom: 5px;

              .select-size-div {
                padding: 0;
              }
            }
          }

          .cart-and-ipay {
            padding: 13px;
            margin: 0;
            border-top: 1px solid $secondary-Variant-6;
            position: fixed;
            bottom: 0;
            width: 100%;
            max-width: 320px;
            background: $primary-Base-3;
            right: 0;
            z-index: 1051;

            @include media-breakpoint-down(xs) {
              max-width: 100%;
            }

            div {
              padding: 0;

              .update-cart-product-global {
                color: $primary-Base-3;
                font-family: $base-fontFamily;
                font-size: $base-fontSize;
                font-family: $base-fontFamily;
                line-height: 1.28;
                width: 100%;
                border-radius: 0;
                padding: 11px 0;
                text-transform: uppercase;
                margin: 0;

                .fa {
                  display: none;
                }
              }
            }
          }
        }

        .modal-footer {
          padding: 0;
        }
      }
    }
  }
}

//stylings for sign up flyout//
.cart-page-content {
  .signInModal {
    .modal-dialog {
      max-width: 320px;
      margin: 0;
      float: right;
      width: 100%;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
        width: 100%;
      }

      .modal-content {
        height: 100vh;
        border: none;
        border-radius: 0;
        overflow: scroll;

        .cancel-icon {
          button {
            opacity: 1;
          }
        }

        .sign-up-flyout {
          width: 100%;
          display: inline-block;
          padding-top: 30px;

          .card {
            margin: 0;
            border: none;

            .card-header {
              padding: 0;
              border-bottom: none;

              &:first-child {
                border: none;
                padding: 0;
              }

              .card-header-custom {
                color: $secondary-Variant-1;
                font-family: $base-fontFamily;
                font-size: $base-fontSize + 4px;
                line-height: 1.22;
                text-align: center;
                padding-bottom: 20px;
              }
            }

            .main-content {
              padding: 0;
              width: 100%;
              display: inline-block;

              .alert-danger {
                text-align: center;
              }

              .sign-up-btn {
                margin: 18px 0;
              }

              .rmber-frgt {
                margin-bottom: 25px;

                .remember-me,
                .forgot-password {
                  width: calc(50% - 3px);
                  display: inline-block;
                  border: none;

                  a.reset-password {
                    text-transform: unset;
                  }
                }

                .remember-me {
                  color: $secondary-Variant-3;
                  font-family: $base-fontFamily;
                  font-size: $base-fontSize;
                  line-height: 1.21;
                  margin: 0;

                  .custom-control-label {
                    padding-top: 4px;

                    &::before {
                      background: none;
                      border-radius: 0;
                      border: 1px solid $secondary-Variant-6;
                    }
                  }
                }
              }
            }

            .chkt-cond {
              width: 100%;
              display: inline-block;
              border-top: 1px solid $secondary-Variant-5;
              position: relative;

              span {
                position: absolute;
                top: -11px;
                left: 50%;
                transform: translate(-50%, 0);
                background: $primary-Base-3;
                padding: 0 10px;
                font-size: $base-fontSize - 2px;
              }

              .gst-btn {
                padding: 25px 0 0;
                width: 100%;
                display: inline-block;

                a {
                  margin-bottom: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.coupon-promotion-relationship {
  margin-left: -10%;
  font-size: $base-fontSize - 2;
}

.productDetailModal {
  &.show {
    display: block;
  }
}

.cart-error-messaging {
  &.cart-error {
    z-index: 9;
    position: static;

    .alert-danger {
      color: $primary-Base-2;
      font-size: $base-fontSize - 2px;
      min-height: initial;
      border-radius: 0;

      .close {
        color: $primary-Base-2;
        padding: 10px;
        opacity: 1;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// styles for Override Line Price flyout//
.override-line-price-dialog {
  max-width: 400px;
  top: 177px;

  .modal-header {
    border: none;
    justify-content: center;
    padding-top: 34px;

    .modal-title {
      text-align: center;
      font-size: $base-fontSize + 14px;
      line-height: 34px;
    }

    .close {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 16px;
      top: 20px;
      transform: scale(0.8);
    }
  }

  .modal-body {
    padding: 0 19px 0 26px;

    .form-control.csc-current-price:disabled {
      border-color: $primary-Base-2;
    }

    .floating-label label {
      color: $secondary-Variant-4;

      &.is-invalid {
        color: $error-msg;
        top: -3px;
        left: 8px;
        font-size: 10px;
        background: $hb-White-base;
        line-height: 1;
      }

      &.current-price {
        &.input-focus {
          padding: 0;
          top: -8px;
        }
      }
    }

    .form-group select {
      background-position-x: 91%;
    }

    textarea {
      height: 111px;
      resize: none;
    }
  }

  .modal-footer {
    border: none;
    padding: 0 17px 26px 27px;

    > :not(:first-child) {
      margin-left: 11px;
    }

    .btn-block {
      font-size: 14px;
      font-family: $bold-fontFamily;
      padding: 12px 0;
      line-height: 1.22;
      text-transform: uppercase;

      + .btn-block {
        margin-top: 0;
      }
    }
  }
}

.cart-plis {
  .brand-name {
    font-size: $base-fontSize - 2;
    font-family: $bold-fontFamily;
    color: $primary-Base-2;
    margin-bottom: 7px;
  }
}

.promo-detail-section {
  .coupon-error {
    margin-left: 10px;
  }
}

#masterpass-payment {
  cursor: pointer;
}
.back-to-top {
  &.active {
    display: none;
  }
}
