@import '~base/miniCart';

.navigation-section {
  .header {
    &.hidden {
      .header-main {
        .minicart {
          .popover {
            display: none;
          }
        }
      }
    }
  }

  .main-menu {
    &.fixed {
      z-index: 1040;

      .menu-wrapper {
        .minicart {
          .popover {
            &.show {
              position: absolute;
              right: -7px;
              display: inline-block;
              transform: none;
            }
          }
        }
      }
    }
  }

  .minicart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1039;
    width: 100vw;
    height: 100vh;
    background-color: $modal-backdrop-bg;
    opacity: 0.4;
    display: none;

    &.background {
      display: block;
    }
  }

  .minicart {
    .popover {
      display: none;
      min-width: 320px;
      max-width: 320px;
      border: none;

      .veil {
        border: 1px solid $secondary-Variant-6;
      }

      .spinner {
        top: 50%;
      }

      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-top: 1px solid $secondary-Variant-6;
        border-left: 1px solid $secondary-Variant-6;
        background: $primary-Base-3;
        right: 10px;
        transform: rotate(-316deg);
        top: -7px;
        left: inherit;
        z-index: 1000000;
      }

      &.show {
        position: absolute;
        right: -7px;
        display: inline-block;
        transform: none;

        @include media-breakpoint-down(md) {
          display: none;
        }

        .container {
          padding: 0;
          background: $primary-Base-3;
          border: 1px solid $secondary-Variant-6;
          height: 610px;
          position: relative;

          @media screen and (max-height: 785px) {
            height: 410px;
          }

          .bag-heading {
            width: 100%;
            display: inline-block;
            background: $secondary-Variant-8;

            .pdt-nmbr {
              width: 100%;
              display: inline-block;
              color: $primary-Base-2;
              font-size: $base-fontSize;
              font-family: $semibold-fontFamily;
              line-height: 1.21;
              padding: 10px 0;
              text-transform: uppercase;
            }
          }

          .product-summary {
            margin: 0;
            width: 100%;
            display: inline-block;
            padding: 0;
            position: relative;
            height: 610px;
            overflow-y: auto;

            @media screen and (max-height: 785px) {
              height: 410px;
            }

            .prdt-section:last-child {
              .card-body {
                border-bottom: 0 none;
              }
            }

            .card {
              margin: 0;
              border: none;

              .card-body {
                padding: 18px 15px;
                border-bottom: 1px solid $secondary-Variant-6;

                .product-line-item-details {
                  overflow-y: initial;

                  .mini-cart-img {
                    padding: 0;
                    margin-right: 10px;

                    .item-image {
                      height: 100%;
                      width: 100%;
                      margin: 0;
                      flex: none;
                    }
                  }

                  .sold-out {
                    color: $error-msg;
                    font-family: $base-fontFamily;
                    font-size: $base-fontSize - 2px;
                    letter-spacing: 0.5px;
                    line-height: 1.25;
                    margin: 0px 0 15px;
                  }

                  .mini-cart-details {
                    padding: 0;

                    .line-item-header {
                      width: 100%;
                      display: inline-block;
                      width: 100%;
                      line-height: 1;
                      position: relative;

                      .line-item-name,
                      .brand-name {
                        width: calc(80% - 3px);
                        display: inline-block;
                        margin: 0 0 9px;
                        vertical-align: top;

                        span {
                          color: $hb-Dark-grey-base;
                          font-size: $base-fontSize - 2px;
                          font-family: $base-fontFamily;
                          font-family: $base-fontFamily;
                          line-height: 1.16;
                          font-weight: normal;
                          margin: 0;
                        }
                      }

                      .brand-name {
                        span {
                          font-family: $bold-fontFamily;
                        }
                      }

                      .remove-line-item {
                        width: calc(20% - 3px);
                        display: inline-block;
                        vertical-align: top;
                        position: absolute;
                        top: 0;

                        .remove-btn {
                          width: 100%;
                          display: inline-block;
                          box-shadow: none;
                          line-height: 1;

                          span {
                            color: $secondary-Variant-1;
                            font-family: $bold-fontFamily;
                            vertical-align: top;
                            line-height: 1;
                            width: 100%;
                            display: inline-block;
                          }
                        }
                      }
                    }

                    .item-attributes {
                      .selected-list {
                        margin-bottom: 9px;
                        line-height: 1;
                      }
                    }

                    .align-items-start {
                      .line-item-total-price {
                        div {
                          color: $hb-Dark-grey-base;
                          font-family: $base-fontFamily;
                          font-size: $base-fontSize - 2px;
                          font-family: $base-fontFamily;
                          line-height: 1.16;
                          margin-bottom: 9px;
                        }

                        .strike-through {
                          float: left;
                          margin-right: 3px;
                        }
                      }
                    }

                    .line-item-attributes,
                    .pricing {
                      color: $primary-Base-2;
                      font-family: $base-fontFamily;
                      font-size: $base-fontSize - 2px;
                      font-family: $base-fontFamily;
                      line-height: 1.16;
                      margin-bottom: 10px;
                    }

                    .line-item-quantity {
                      .quantity-field {
                        width: auto;
                        float: left;

                        .prev-val,
                        .quantity-val,
                        .next-val {
                          width: 36px;
                          height: 36px;
                          display: inline-block;
                        }

                        button {
                          height: 100%;
                          width: 100%;
                          padding: 5px 6px;
                          font-family: $base-fontFamily;
                          font-size: base-fontSize;
                          font-family: $bold-fontFamily;
                          line-height: 1.1;
                          text-align: center;
                          border-radius: 0;
                          border: 1px solid $qty-box-borclr;

                          &[disabled] {
                            border-color: $qty-box-dis-borclr;
                            opacity: 1;

                            &:hover {
                              border-color: $qty-box-dis-borclr;
                              opacity: 1;

                              &[data-type='plus'] {
                                padding: 5px;
                                background: $primary-Base-3;
                              }

                              &[data-type='minus'] {
                                border-right: 0;
                                border-color: $qty-box-dis-borclr;
                                opacity: 1;
                                padding: 5px 6px;
                                background: $primary-Base-3;
                              }

                              &[data-type='plus'] {
                                border-left: 0;
                              }
                            }
                          }

                          &:hover {
                            border: 1px solid $primary-Base-2;
                          }

                          &[data-type='minus'] {
                            border-right: 0;

                            &:hover {
                              border: 1px solid $primary-Base-2;
                              padding: 5px 6px;
                              border-right: 0;
                              background: $secondary-Variant-7;
                            }

                            &:focus {
                              border-right: 0;
                            }
                          }

                          &[data-type='plus'] {
                            border-left: 0;

                            &:hover {
                              border: 1px solid $primary-Base-2;
                              padding: 5px 6px;
                              border-left: 0;
                              background: $secondary-Variant-7;
                            }

                            &:focus {
                              border-left: 0;
                            }
                          }

                          &.minus-btn {
                            padding: 5px 6px;
                            line-height: 0.2;
                          }

                          .minus,
                          .plus {
                            transform: scale(0.5);
                            display: inline-block;
                          }
                        }

                        .input-group > .form-control:focus {
                          z-index: 3;
                        }

                        input[type='number']::-webkit-inner-spin-button,
                        input[type='number']::-webkit-outer-spin-button {
                          -webkit-appearance: none;
                          margin: 0;
                        }

                        .quantity-val {
                          padding: 0;
                          text-align: center;
                          font-family: $bold-fontFamily;
                          color: $secondary-Variant-1;
                          font-size: $base-fontSize;
                          font-family: $base-fontFamily;
                          border: 1px solid $qty-box-borclr;

                          &.hover-border {
                            border: 1px solid $primary-Base-2;
                          }
                        }
                      }
                      .qty-error-message {
                        width: 100%;
                        display: inline-block;
                        max-width: 100%;
                        div {
                          padding: 0;
                          color: $error-msg;
                          font-family: $base-fontFamily;
                          font-size: $base-fontSize - 2px;
                          letter-spacing: 0.5px;
                          line-height: 1.25;
                          margin: 15px 0 0;
                          min-height: auto;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .minicart-footer {
            padding: 16px;
            background: $primary-Base-3;
            width: 100%;
            max-width: 318px;
            position: absolute;
            bottom: 0;

            .checkout-shoprunner {
              display: none;
            }

            .checkout-continue {
              margin-top: 18px;
            }

            .estimated-total {
              margin: 0;

              .sub-total-label,
              .sub-total,
              .mini-sub-total,
              .grand-total-sum {
                margin: 0;
                color: $secondary-Variant-1;
                font-family: $base-fontFamily;
                font-size: $base-fontSize;
                letter-spacing: 0.5px;
                line-height: 1.21;
                font-family: $base-fontFamily;
              }
            }

            .hudson-reward-points {
              font-family: $base-fontFamily;
            }

            .rewards-content {
              color: $secondary-Variant-1;
              font-family: $base-fontFamily;
              font-size: $base-fontSize - 2px;
              font-family: $base-fontFamily;
              letter-spacing: 0.5px;
              line-height: 1.5;
              margin-bottom: 10px;

              a {
                color: $secondary-Variant-1;
                margin-left: 10px;
              }
            }

            .checkout-continue {
              .mb-sm-3 {
                margin: 0 !important;

                /* .checkout-btn {
                  font-family: $base-fontFamily;
                  font-size: $base-fontSize;
                  font-family: $bold-fontFamily;
                  line-height: 1.21;
                  padding: 13px 0;
                  text-transform: uppercase;
                  border-radius: 0;
                } */
              }
            }
          }
        }
      }
    }

    .line-item-promo {
      display: none;
    }

    .mini-sub-total {
      font-size: 1em;
      font-weight: 600;
    }

    .limited-inventory {
      font-size: $base-fontSize - 2;
      color: $secondary-Variant-4;

      .custom-tooltip {
        display: none;
      }
    }
  }
}

.hudson-reward-points {
  font-size: $base-fontSize - 2;
  color: $hb-Blue-base;
  margin-top: 9px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.minicart {
  .base-price,
  .grand-tot-holder {
    color: $secondary-Variant-1;
    font-size: $base-fontSize - 2px;

    &.bold {
      font-family: $bold-fontFamily;
      border-top: 1px solid $secondary-Variant-10;
      margin: 5px 0 0;
      padding: 5px 0 0;
    }
  }

  .line-item-promo-mini {
    padding-top: 5px;
    width: 100%;
  }
}
