//Mobile specific to landscape
$sm-ls: 'screen and (max-width: 767.98px)';
$lg-full: 'screen and (max-width: 1024px)';

//Category landing page, home page common codes
.cat-landing,
.homepage-container {
  //Content seperator using margin
  .content-seperator,
  .recommendation-products-section {
    display: inline-block;
    width: 100%;
    margin: 35px 0;

    @include media-breakpoint-down(md) {
      margin: 25px 0;
    }
  }
  .content-seperator {
    margin-top: 15px;
  }
  &.search-results-page-landing {
    .content-seperator {
      margin-bottom: 0;
    }
  }

  .category-tile {
    &::before {
      content: none;
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      padding: 0;
    }
  }

  //Category heading styles
  .category-heading,
  .slider-heading {
    font-size: $base-fontSize + 10px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .slider-heading {
    margin: 0;
  }
}

.cat-landing {
  &.search-results-page-landing {
    .content-seperator {
      @include media-breakpoint-down(xs) {
        margin-bottom: 15px;
        .hbc-slider {
          padding: 0;
          .slick-list {
            padding: 0 120px 0 0;
          }
        }
      }
    }
  }
}

//Category tile styles
.category-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  .category-img {
    margin: 0 auto;
    width: 100%;
  }

  .category-info {
    font-size: $base-fontSize + 4px;
    font-family: $base-fontFamily;
    color: $white;
    position: absolute;
    text-align: center;
    line-height: 1;

    @include media-breakpoint-up(lg) {
      font-size: $base-fontSize + 10px;
    }
  }
}

//Only for category landing page styles
.cat-landing {
  .content-70-30,
  .content-30-70,
  .content-100,
  .three-tile-banner,
  .two-tile-banner {
    padding: 0 2%;

    @media #{$lg-full} {
      padding: 0;
    }
  }

  .home-slots {
    .content-seperator {
      .homepage-cat-slider,
      .category-slider {
        .category-tile {
          position: relative;
          border: 1px solid $white;
        }
        &.hbc-slider.slick-slider {
          .slick-prev {
            left: 0px;
          }
          .slick-next {
            right: 0px;
          }
        }
        .slick-slide {
          margin-right: 0;
        }
      }
      .category-slider {
        width: 100%;
        &.hbc-slider.slick-slider {
          .slick-prev {
            left: 30px;
          }
          .slick-next {
            right: 30px;
          }
        }
      }
    }
    .hero-banner {
      &.hbc-slider {
        &.slick-slider {
          .slick-list {
            max-width: 100%;

            @include media-breakpoint-down(md) {
              padding: 0;
            }

            @media #{$sm-ls} {
              padding: 0;
            }
          }

          .slick-prev {
            top: 50%;
          }

          .slick-next {
            top: 50%;
          }
        }

        .slick-dots {
          bottom: 15px;
        }
      }
    }
    .hbc-slider {
      &.slick-slider {
        .slick-prev {
          left: -30px;
          top: 50%;
          transform: translate(0%, -50%);
        }
        .slick-next {
          right: -22px;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }
    }
  }
  .content-seperator {
    .category-slider {
      width: calc(100% - 80px);
      margin: 0 auto;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    .hbc-slider {
      .slick-list {
        max-width: 100%;
      }
    }
  }
}

.home-3 {
  .category-slider {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &.home-slots {
    .hbc-slider {
      &.slick-slider {
        .slick-prev {
          left: 5px;
          top: 50%;
        }
        .slick-next {
          right: 5px;
          top: 50%;
        }
      }
    }
  }
}

.home-slots {
  > *:last-child {
    padding-bottom: 80px;

    > *:last-child {
      padding-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      padding-bottom: 70px;
    }
  }

  &.home-main {
    > *:last-child {
      padding-bottom: 10px;

      @include media-breakpoint-down(xs) {
        padding-bottom: 3px;
      }
    }
  }

  &.home-2 {
    > .html-slot-container {
      padding: {
        left: 0;
        right: 0;
      }
    }

    > *:last-child {
      padding-bottom: 0;
    }

    // This janky, super-specific chain of selectors
    // Addresses https://hbcdigital.atlassian.net/browse/SFDEV-10209
    &:not(:empty) + .home-3:empty + .home-4:not(:empty) {
      padding-top: 80px;

      @include media-breakpoint-down(xs) {
        padding-top: 70px;
      }
    }
  }

  &.home-3 {
    > *:last-child {
      padding-bottom: 10px;

      @include media-breakpoint-down(xs) {
        padding-bottom: 54px;
      }
    }
  }

  > .wrapper-container,
  > .row,
  > .html-slot-container,
  > .content-body,
  .wrapper-content:not(.hero-banner) {
    @media screen and (max-width: 1439px) {
      padding: {
        left: 40px;
        right: 40px;
      }
    }
    @media screen and (max-width: 1259px) {
      padding: {
        left: 20px;
        right: 20px;
      }
      .hbc-slider {
        padding-left: 0;
        padding-right: 0;

        &.slick-initialized {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      padding: {
        left: 0;
        right: 0;
      }
      .hbc-slider {
        padding: {
          left: 0;
          right: 0;
        }
      }
    }
  }

  > .slider-heading:not(.text-center),
  .slider-heading:not(.text-center) {
    padding: 0;
    flex: unset;
    max-width: unset;
    width: auto;
    @media screen and (max-width: 1439px) {
      margin: {
        left: 40px;
        right: 40px;
      }
    }
    @media screen and (max-width: 1259px) {
      margin: {
        left: 20px;
        right: 20px;
      }
    }
  }
}

.home-10 {
  .content-body {
    .content-image {
      p {
        margin: 3px 0 0;
      }
    }
  }
}

//Slider in category, home page styles
.cat-landing,
.homepage-container {
  .hbc-slider {
    padding-left: 10px;
    padding-right: 10px;

    &.slick-slider {
      .slick-prev {
        top: 45%;
        left: 10px;
      }

      .slick-next {
        top: 45%;
        right: 15px;
      }
    }

    .slick-dots {
      bottom: 0px;
    }

    .slick-slide {
      margin-right: 10px;

      .product {
        padding-right: 0;
      }

      .image-container {
        .thumb-link {
          max-width: none;
        }

        .wishlistTile {
          right: 40px;
        }
      }

      @include media-breakpoint-down(md) {
        margin-right: 5px;
      }
    }

    .slick-list {
      max-width: 94.9%;
      width: auto;
      margin: 0 auto;
      padding-left: 5px;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        padding: 0 13% 0 0;
      }

      @include media-breakpoint-down(xs) {
        padding: 0 35% 0 0;
      }
    }

    @include media-breakpoint-down(md) {
      margin: 0;
    }
  }

  @include media-breakpoint-down(md) {
    .recommendation-products-wrapper {
      margin: 0;
    }
  }

  .cat-container {
    > * {
      padding-bottom: 10px;

      @include media-breakpoint-down(xs) {
        padding-bottom: 3px;
      }
    }
  }
}

//Category slot default styles
.category-slot-default {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 7px;
  padding: 0 2%;

  @media #{$lg-full} {
    padding: 0;
  }

  @include media-breakpoint-down(md) {
    grid-gap: 3px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(2, auto);
  }
}

//Common stylings for Home Page and CLP
.home-banner-content {
  position: relative;
  margin: 0 0 10px;
  padding: 0;

  &.v-align-left {
    .banner-text {
      left: 20%;
    }
  }

  &.v-align-right {
    .banner-text {
      left: auto;
      right: 5%;
    }
  }

  .banner-heading {
    font-size: $base-fontSize + 30;
    line-height: 53px;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize + 14;
      line-height: 34px;
    }
  }

  .banner-sub-heading {
    font-size: $base-fontSize + 4;
    line-height: 24px;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize;
      line-height: 18px;
    }
  }
}

.home-banner-content,
.shop-beauty-banner {
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home-banner-content {
  .banner-text {
    @include media-breakpoint-down(md) {
      position: static;
      transform: none;
      padding: 20px 0 50px;
    }
  }
}

.text-bg-banner {
  background: $hb-pink-bg;
  margin: 0 0 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;

  .home-main & {
    margin-bottom: 0;
  }

  .apparel-text {
    color: $secondary-Variant-1;
    margin: 0 0 5px;

    span {
      font-family: $bold-fontFamily;
    }
  }

  .cta-link span,
  .link-cta {
    margin: 0;
  }
}

.cta-link {
  display: inline-block;
  margin: 0 18px 0 0;

  @include media-breakpoint-down(md) {
    margin: 0 15px 0 0;
  }

  @media #{$sm-ls} {
    margin: 0 25px;
  }

  &:last-child {
    margin: 0;
  }
}

.cta-link span,
.link-cta {
  color: $primary-Base-2;
  @include media-breakpoint-down(md) {
    color: $secondary-Variant-1 !important;
  }
  font-family: $base-fontFamily;
  padding: 0 0 2px;
  margin: 0 0 20px;
  display: inline-block;
  position: relative;
  padding: 10px;
  line-height: 1.15;
  white-space: nowrap;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    background-color: $primary-Base-2;
    bottom: 6px;
    left: 10px;
    right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    background: $primary-Base;
    color: $primary-Base-3 !important;
    text-decoration: none;

    &::after {
      display: none;
    }
  }
}

.link-cta {
  @include media-breakpoint-down(xs) {
    margin: 0 0 12px;
  }
}

.custom-cta {
  span {
    position: absolute;
    height: 3px;
    bottom: 6px;
    left: 10px;
    right: 10px;
    padding: 0;
    display: block;
    margin: 0;

    &:after {
      content: '';
      display: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    span {
      display: none;
    }
  }

  &:after {
    content: '';
    display: none;
  }
}

.button-link {
  max-width: 220px;
  width: 100%;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  border-radius: 2px;

  @extend .mobile-a-link;

  &:hover {
    text-decoration: none;
  }
}

.mobile-a-link {
  @include media-breakpoint-down(md) {
    font-family: $bold-fontFamily;
    border: none;
    border-bottom: 2px solid;
    padding: 0 0 2px;
    height: auto;
    line-height: normal;
    background-color: transparent !important;
    color: $primary-Base-2 !important;

    &:hover {
      text-decoration: none;
    }
  }
}

.home-slots {
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;

  @media #{$largedesktop} {
    max-width: 1440px;
  }

  @include media-breakpoint-down(md) {
    margin: 0 auto;
    overflow: hidden;
  }

  .slider-heading {
    color: $secondary-Variant-1;
    margin: {
      top: 40px;
      bottom: 25px;
    }
  }

  &.cr18-carousal {
    padding: 0;
  }
}

.absolute-positioning {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.absolute-notransform {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  text-align: center;
}

.content-body {
  position: relative;
  display: flex;
  align-items: center;

  &.withinCenter {
    .content-text {
      top: 50%;
      left: 50%;

      @extend .absolute-positioning;
    }
  }

  &.withinLeft {
    .content-text {
      left: 10%;

      @extend .absolute-notransform;
    }
  }

  &.withinRight {
    .content-text {
      right: 10%;

      @extend .absolute-notransform;
    }
  }

  &.withinBottom {
    flex-direction: unset;
    text-align: center;

    .content-text {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%, 0);

      .cta-link {
        margin: 0;
        padding: 0;
      }
    }

    .cta-link span,
    .link-cta {
      margin: 0;
    }
  }

  &.withinTop {
    text-align: center;

    .content-text {
      @extend .absolute-positioning;

      transform: translate(-50%, 0);
      top: 30px;
      left: 50%;
    }
  }

  &.right {
    .content-text {
      padding: 0 10px 0 30px;
      flex-basis: 30%;

      @include media-breakpoint-down(md) {
        padding: 0 10px 0 20px;
        flex-basis: 33%;
      }
    }
  }

  &.left {
    .content-image {
      order: 2;

      @media #{$sm-ls} {
        order: 0;
      }
    }

    .content-text {
      text-align: right;
      padding: 0 30px 0 10px;
      flex-basis: 30%;

      @include media-breakpoint-down(md) {
        padding: 0 20px 0 10px;
        flex-basis: 33%;
      }
    }

    .banner-sub-heading {
      .use-code {
        display: block;

        .code {
          font-family: $bold-fontFamily;
        }
      }
    }

    .cta-link {
      display: inline-block;
      margin: 0 0 0 18px;

      @include media-breakpoint-down(md) {
        margin: 0 0 0 15px;
      }

      &:first-child {
        margin: 0;
      }
    }
  }

  &.below {
    flex-direction: column;
  }

  &.top {
    flex-direction: column;
  }

  .content-image {
    margin: 0 auto;
    p {
      margin: 17px 0 0;
      img {
        margin: 0 auto;
      }
    }
  }

  &.withinCenter,
  &.withinLeft,
  &.withinRight,
  &.withinTop {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .content-text {
      width: 100%;
      max-width: 425px;
      padding: 30px 15px;

      @include media-breakpoint-down(md) {
        position: static;
        padding: 20px 10px 0;
        transform: none;
        text-align: center;
        width: 100%;
        max-width: none;
      }
    }
  }

  &.right,
  &.left,
  &.top,
  &.below {
    @media #{$sm-ls} {
      flex-direction: column;

      .content-text {
        position: static;
        padding: 20px 10px 0;
        transform: none;
        text-align: center;
        width: 100%;
      }
    }
  }

  &.right,
  &.left {
    margin: 0 0 3px;

    @include media-breakpoint-down(sm) {
      margin: 0 0 25px;
    }

    .content-image {
      flex-basis: 70%;
    }

    .banner-sub-heading {
      max-width: none;
    }
  }

  &.image-overlap {
    @media #{$sm-ls} {
      .content-text {
        position: relative;
        top: -15px;
        background: $primary-Base-3;
        width: calc(100% - 20px);
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }
  }
}

.hero-banner {
  .content-image {
    p {
      margin: 0;
    }
  }
}

.three-up-row,
.two-up-row,
.three-up-hero .child-content {
  .content-body {
    margin: 0 10px 0 0;

    @media #{$sm-ls} {
      margin: 0 0 5px;
    }

    &:last-child {
      margin: 0;
    }

    .content-text {
      padding: 15px 0 0;
    }
  }

  @media #{$sm-ls} {
    flex-direction: column;

    .content-text {
      position: static;
      padding: 20px 10px 0;
      transform: none;
      text-align: center;
      width: 100%;
    }
  }
}

.three-up-hero {
  flex-direction: column;
}

.four-up-stack {
  .content-body {
    flex-basis: 49.5%;

    @media #{$sm-ls} {
      flex-basis: 100%;
    }

    .content-text {
      padding: 15px 0 0;
    }
  }
}

.banner-heading {
  font-size: $base-fontSize + 14;
  line-height: 34px;
  margin: 0 0 5px;

  @include media-breakpoint-down(md) {
    font-size: $base-fontSize + 8;
    line-height: 28px;
  }
}

.banner-sub-heading {
  font-size: $base-fontSize + 2;
  color: $secondary-Variant-1;
  line-height: 24px;
  margin: 0 auto 25px;
  max-width: 350px;

  @include media-breakpoint-down(md) {
    font-size: $base-fontSize;
    line-height: 20px;
  }
}

.homepage-slider {
  .preheader-text {
    letter-spacing: 3px;
  }
}
.preheader-text {
  font-size: $base-fontSize + 2;
  font-family: $semibold-fontFamily;
  color: $black;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-bottom: 14px;

  @include media-breakpoint-down(md) {
    font-size: $base-fontSize + 1;
  }
}

.post-button-details {
  font-size: $base-fontSize - 2;
  color: $black;
  font-family: $base-fontFamily;
  margin-top: 16px;

  @media #{$belowtab} {
    margin-top: 24px;
  }

  .view-details-home {
    color: $so5-Grey-base;
    text-decoration: underline;
    display: inline-block;
    padding-left: 5px;

    @media #{$belowtab} {
      padding: 0;
    }
  }
}

.hero-banner {
  @include media-breakpoint-down(md) {
    margin: 0 auto 23px;
  }

  @include media-breakpoint-down(xs) {
    margin: 0 auto 33px;
  }

  .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    height: 20px;
  }

  &.hbc-slider {
    &.slick-slider {
      .slick-arrow {
        @extend .absolute-notransform;
      }
    }
  }

  .banner-heading {
    font-size: $base-fontSize + 30;
    line-height: $base-fontSize + 30;
    margin: 0 0 20px;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize + 14;
      line-height: $base-fontSize + 20;
      color: $hb-Baron-variant !important;
    }

    @include media-breakpoint-down(xs) {
      font-size: $base-fontSize + 10;
    }
  }

  .banner-sub-heading {
    font-size: $base-fontSize + 4;

    @include media-breakpoint-down(md) {
      font-size: $base-fontSize;
      line-height: $base-fontSize + 6;
      color: $hb-Baron-variant !important;
    }
  }

  .cta-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cta-link {
    flex: 0 0 auto;
    margin: 0 5px;
  }

  .break {
    flex: 1 0 100%;
    @include media-breakpoint-down(xs) {
      flex: unset;
    }
  }
}

.homepage-slider {
  .content-image {
    @include media-breakpoint-down(md) {
      min-height: 305px;
    }

    @media #{$sm-ls} {
      min-height: 150px;
    }
  }
}

.shop-beauty-banner {
  .content-image {
    img {
      @media #{$sm-ls} {
        width: 100%;
        height: 100px;
      }
    }
  }

  .content-text {
    top: 50%;
    left: 50%;

    @extend .absolute-positioning;

    @media #{$sm-ls} {
      width: 100%;

      .banner-heading {
        font-size: $base-fontSize + 8;
        line-height: 1;
      }
    }
  }

  .cta-links {
    @extend .absolute-notransform;

    right: 7%;
    display: flex;

    @include media-breakpoint-down(md) {
      right: 2%;
    }
  }

  .banner-sub-heading {
    margin: 0 auto 5px;
    max-width: 280px;

    @include media-breakpoint-down(md) {
      max-width: 250px;
    }
  }

  .cta-link span,
  .link-cta {
    @include media-breakpoint-down(md) {
      font-size: $base-fontSize - 2;
    }

    @media #{$sm-ls} {
      margin: 0;
    }
  }
}

.slider-heading-section,
.slider-wrapper {
  &.row {
    margin: 0 auto;

    @media #{$sm-ls} {
      margin: 0 auto 15px;
      width: calc(100% - 20px);
    }
  }
}

.shop-beauty-links {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);

  .a-link {
    &:first-child {
      margin: 0 15px 0 0;
    }
  }
}

.tiles {
  margin: 0 10px 0 0;

  @media #{$sm-ls} {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }

  .tiles-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto 0;
    text-align: center;
    max-width: 320px;

    @media #{$sm-ls} {
      margin: 15px auto 50px;
    }
  }
}

.product-tile {
  &.banner-tile {
    padding-top: 0;
    position: relative;

    .banner-tile-img {
      height: 100%;
      width: 100%;
    }

    &.single-grid,
    &.double-grid {
      .banner-tile-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }

    &.single-grid {
      .banner-tile-content {
        position: absolute;
        right: 0;
        left: 0 !important;
        .banner-tile-header {
          font-size: $base-fontSize + 10px;
          font-family: $bold-fontFamily;
          color: $white;

          @include media-breakpoint-down(md) {
            font-size: $base-fontSize + 4px;
            font-family: $base-fontFamily;
          }
        }

        .banner-tile-link {
          font-size: $base-fontSize;
          font-family: $bold-fontFamily;
          color: $white;
          text-decoration: underline;

          @include media-breakpoint-down(md) {
            font-family: $base-fontFamily;
          }
        }
      }
    }

    &.double-grid {
      .banner-tile-content {
        position: absolute;
        top: 32%;
        width: 36%;
        right: 0;
        left: 0;

        @include media-breakpoint-down(md) {
          top: 30%;
        }

        .banner-tile-link {
          font-size: $base-fontSize;
          color: $black;
        }

        .banner-tile-header {
          font-size: $base-fontSize + 14px;
          color: $black;
          line-height: normal;
          margin: 5px 0;

          @include media-breakpoint-down(md) {
            font-size: $base-fontSize + 4px;
            font-family: $base-fontFamily;
          }
        }

        .banner-tile-link {
          font-size: $base-fontSize;
          font-family: $bold-fontFamily;
          color: $black;
          text-decoration: underline;
          margin: 5px 0;
          display: inline-block;

          @include media-breakpoint-down(md) {
            font-family: $base-fontFamily;
          }
        }
      }
    }

    &:hover {
      border: 1px solid $white;
    }
  }
}

.home-main {
  .hero-banner {
    max-width: 1440px;
    margin: 0 auto;

    &.slick-dotted.slick-slider {
      margin-bottom: 0;
    }
  }
}

.hbc-slider {
  .slick-dots {
    li {
      button:before {
        color: transparent;
      }

      &.slick-active {
        button:before {
          color: transparent;
        }
      }
    }
  }
}

.home-slots {
  .hbc-slider {
    &.slick-slider {
      padding-left: 40px;
      padding-right: 40px;

      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }

      .slick-list {
        padding: 0;

        @include media-breakpoint-down(md) {
          padding: 0 80px 0 0;
        }

        @media #{$sm-ls} {
          padding: 0 120px 0 0;
        }
      }

      .slick-prev {
        top: 40%;
        left: 30px;
        height: 24px;
      }

      .slick-next {
        top: 40%;
        right: 30px;
        height: 24px;
      }

      &.recommendation-products {
        .slick-prev {
          left: 5px;
        }

        .slick-next {
          right: 5px;
        }

        @media screen and (max-width: 1439px) {
          padding: 0;
          .slick-prev {
            left: -27px;
          }
          .slick-next {
            right: -24px;
          }
        }

        @media screen and (max-width: 1259px) {
          padding: 0 20px;
          .slick-prev {
            left: -8px;
          }
          .slick-next {
            right: -4px;
          }
        }
      }
    }

    &.homepage-cat-slider {
      .slick-prev {
        left: 0px;
      }

      .slick-next {
        right: 0px;
      }
    }

    .product-tile {
      .image-container {
        .thumb-link {
          max-width: none;
        }
      }
    }
  }

  .hero-banner {
    &.hbc-slider {
      padding: {
        left: 0;
        right: 0;
      }
      &.slick-slider {
        .slick-list {
          @include media-breakpoint-down(md) {
            padding: 0;
          }
        }
      }
    }
  }
}

.catgeory-info-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .catgeory-new-count {
    color: $primary-Base-3;
    padding: 5px 10px;
    width: 132px;
    margin: 0 auto;
  }

  .category-info {
    position: relative;
  }
}

.wrapper-content {
  &.three-up-row {
    .withinBottom {
      .content-text {
        padding: 0 10px;
        width: 100%;
      }
    }
  }
}

.mobile-show {
  display: none;

  @media #{$sm-ls} {
    display: block;
    margin-bottom: 76px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 62px;
  }
}

.home-2 {
  .mobile-show {
    @include media-breakpoint-down(xs) {
      margin: 10px 0 76px;
    }
  }
}

.desktop-show {
  display: block;

  @media #{$sm-ls} {
    display: none;
  }
}

.cat-landing {
  .cat-container {
    box-sizing: border-box;
    margin: 0 auto;

    @media #{$largedesktop} {
      max-width: 1440px;
    }
    .container {
      padding: 0 0 17px 0;

      &:first-of-type {
        padding-top: 15px;
      }

      @include media-breakpoint-down(md) {
        padding: 15px 0 0 0;
      }
    }
    .hbc-slider {
      .slick-list {
        @media #{$belowdesktop} {
          padding: 0;
        }
      }
    }
  }
}

.term-condition-section,
.view-detail-section {
  &.hide {
    display: none;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
  z-index: 10411;
  width: 100%;
  background: $primary-Base-3;

  .term-condition-inner,
  .view-detail-inner {
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 10px 60px;

    @media #{$sm-ls} {
      height: 100vh;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .terms-text {
      font-size: $base-fontSize + 10;
      color: $secondary-Variant-1;
      margin: 0 0 10px;
      display: inline-block;
    }

    .terms-policy {
      margin: 0 0 20px;
    }

    .continue-shop {
      height: 45px;
      display: inline-block;
      max-width: 220px;
      width: 100%;
      line-height: 3;
      color: $primary-Base-3;

      &:hover {
        color: $primary-Base-3;
        text-decoration: none;
      }
    }
  }

  .terms-condition-close,
  .view-detail-close {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
}

.terms-condition {
  color: $secondary-Variant-22;
  font-size: $base-fontSize - 4;
  text-decoration: underline;

  &:hover {
    color: $secondary-Variant-22;
  }

  &.desktop-show {
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
  }
}

.terms-mobile {
  text-align: right;
  width: 97%;
  margin: 10px 10px 0 0;
}

.terms-overlay,
.view-details-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-Variant-1;
  position: fixed;
  z-index: 10401;
  opacity: 0;

  &.show {
    opacity: 0.5;
  }
}

.view-details-popup-main {
  .view-details-overlay {
    opacity: 0.5;
  }
}

//Beauty Landing page font updates
.beauty-landing {
  .slider-heading,
  .category-info,
  .banner-heading {
    font-family: $Moneta-regular;
  }

  .content-seperator {
    margin-top: 0;

    .hbc-slider {
      .slick-prev {
        left: 0;
      }

      .slick-next {
        right: 20px;
      }

      .slick-dots {
        bottom: -25px;
      }
    }
  }
}
.cat-landing.search-results-page-landing {
  .slider-heading {
    margin-top: 40px;
  }
}

.best-seller-margin {
  margin-left: 0;
  margin-right: 0;
}
